[2019-06-17 14:57] acityinohio opened #2 "Project needs sweet zebra logo"
😁

[2019-06-17 14:57] acityinohio commented on #2
(...maybe after Zcon1)

[2019-06-17 17:53] braddmiller opened #4 "errors compiling on OSX"
Compiling on OSX version 10.14.5 with `rustc` version 1.25.0 fails with multiple instances of two errors:

`error[E0658]: 128-bit type is unstable (see issue #35118)`
`error: unexpected end of macro invocation`

error[E0658] appears to be something fixed in `rustc` version 1.26.0 and later.

Changing default toolchain to `rustc` v1.30.0 and attempting to compile proceeds past these errors but fail

[2019-06-17 17:59] dconnolly commented on #4
We are building against rust stable channel specifically.

On Mon, Jun 17, 2019, 1:53 PM Brad Miller <notifications@github.com> wrote:

[2019-06-17 18:00] dconnolly commented on #4
Stable being 1.35.0 currently, does that also error out on your system?

On Mon, Jun 17, 2019, 1:59 PM Deirdre Connolly <deirdre@zfnd.org> wrote:

[2019-06-17 18:01] braddmiller commented on #4
Compiling now against 1.35.0, almost done. README specifically says rustc min version is 1.23.0 which I'm not sure is accurate.

[2019-06-17 18:04] dconnolly commented on #4
Yep that's out of date, will fix. Thanks for catching it!

[2019-06-17 18:06] braddmiller commented on #4
1.35.0 compiles fine, so I'm not sure what the actual min version is but it's above 1.30.0 for sure. Ok, closing this issue, thanks!

[2019-06-17 18:06] #4 closed

[2019-06-17 18:09] dconnolly commented on #2
🦓🦓🦓

[2019-06-17 20:41] garethtdavies opened #12 "Running on testnet has no connections"
Starting Zebra with `env RUST_LOG=sync=trace ./target/release/zebra --data-dir=/home/gareth/.zebra-testnet --testnet` doesn't connect to any nodes.

After some time there is no output and the following RPC call shows there are no connections:

[code]

[code]

I tried to manually add the `testnet.z.cash` node (ping testnet.z.cash returns 198.199.112.230)

```curl -H 'content-type: application/json'

[2019-06-18 12:06] wkarshat opened #22 "Testnet panicked"
[code]

[2019-06-18 12:16] wkarshat commented on #22
[zebra.tar.gz](https://github.com/ZcashFoundation/zebra/files/3301402/zebra.tar.gz)

[2019-06-18 12:40] wkarshat opened #23 "Equihash Solver"
Parity Zcash implementation lacks an Equihash solver / miner.
Without a Rust Equihash reference implementation the product is incomplete.
https://github.com/paritytech/parity-zcash/issues/37

[2019-06-18 18:49] dconnolly commented on #22
I think this is related to #12

[2019-06-18 19:02] dconnolly commented on #27
Absolutely, we intend to add those probably after zcon. ;)

[2019-06-18 20:08] garethtdavies commented on #28
Are there officially supported distros to test against?

[2019-06-18 20:23] dconnolly commented on #28
Yeah a few of our dependencies rely on (`cmake, clang, gcc`) being present, we should update the documentation on this point as well as merge in the Dockerfile I've been using on an incoming branch.

[2019-06-18 20:25] dconnolly commented on #28
(It's annoying that `build-essential` doesn't include cmake 🙄)

[2019-06-18 20:35] dconnolly commented on #28
Travis is currently targeting Trusty, but we're planning to build against Debian Stretch in the future (As well? in addition to? we'll see), and we install `cmake clang gcc` off the bat for that too.

[2019-06-18 20:45] dconnolly commented on #28
Yeah it's less obvious because Trusty on Travis includes cmake and clang on top of build-essential by default. https://docs.travis-ci.com/user/reference/trusty/#compilers--build-toolchain

[2019-06-18 21:20] dconnolly commented on #28
@garethtdavies I updated the docs as described, but please let me know if you find any other quirks that are not covered.

[2019-06-19 00:31] dconnolly opened #33 "Publish SECURITY.md"
This is in flight.

[2019-06-19 03:10] garethtdavies commented on #12
I just realised there is a --seednode option. Tried:

[code]

However, I still have 0 peers:

[code]

[2019-06-19 19:02] dconnolly commented on #33
Also we should try to conform to this responsible disclosure standard: https://github.com/RD-Crypto-Spec/Responsible-Disclosure/

[2019-06-21 21:04] dconnolly commented on #12
I have reproduced this at least, I'll be able to dig into where the error is being thrown (somewhere between accept_chain.rs and crypto/src/pghr13.rs) soon.

[2019-06-22 10:56] #12 closed

[2019-06-22 14:57] dconnolly commented on #22
@wkarshat I just merged in #35, I'm marking this as fixed unless you don't see it fixed on your end. 🙏

[2019-06-22 14:57] #22 closed

[2019-06-22 17:23] zancas opened #44 "The RPC interface gives instructions (port number) for regular and testnet modes, omits regtest"
The document doesn't mention that in regtest mode the RPC-API is served on the "testnet port" :18232, as shown here:

![2019-06-22-112300_2440x2104_scrot](https://user-images.githubusercontent.com/640955/59966915-ffb23e00-94df-11e9-8858-e8c2ad6f972b.png)

[2019-06-23 16:54] #44 closed

[2019-06-24 20:47] dconnolly opened #48 "Pull in python-generated test vectors from zcashd and run them as part of CI."

[2019-06-24 22:04] dconnolly opened #49 "Extract strings into a better format for localization."

[2019-06-27 17:52] hdevalence opened #53 "Can't start Zebra on testnet after starting on mainnet"
Building `zebra` from source and then running
[code]
gives
[code]
instead of syncing the testnet.

[2019-06-27 17:56] dconnolly commented on #53
Correct, this annoying UX.

On Thu, Jun 27, 2019, 1:52 PM Henry de Valence <notifications@github.com>
wrote:

[2019-06-27 18:34] hdevalence commented on #53
I'm actually not sure how to blow away or even find the local state?

[2019-06-27 19:18] dconnolly opened #57 "Replace usage of `extern crate` with just `use` as needed as of Rust 2018 Edition."
With only a few exceptions.

https://doc.rust-lang.org/edition-guide/rust-2018/module-system/path-clarity.html#no-more-extern-crate

[2019-06-27 23:24] garethtdavies opened #58 "Testnet panick"
The closing of #12 did indeed solve the issue of connecting to peers however I now see the following issue on testnet. Running current master 43aace6d711fb73b9e70b2b0039cfe8f309166f3

[code]

Additional details:

[code]

I also removed the old testnet directory and was able to reliably reproduce this behaviour.

[2019-06-27 23:27] garethtdavies commented on #58
My mistake, I was on the wrong local branch :sleeping: It does indeed work :smile:

[2019-06-27 23:27] #58 closed

[2019-06-28 03:19] zancas commented on #57
It is because of this convention that I approach new crates with the rule of thumb:

Step One:  Examine the "Cargo.toml".

This seems like very healthy behavior to me.

[2019-06-28 13:57] garethtdavies opened #59 "Zcash testnet sync stuck a block 299186"
My testnet sync got stuck at block 299186 and it is unclear how to resolve the issue to continue the sync. As the below it is having issues with this block https://explorer.testnet.z.cash/block/000001198d61f47868170a4aca6a10e7a1bfc80e316b9caa2cbaa12e3a8bf14f

[code]

Then there are a whole load of

`2019-06-27 16:48:03  WARN sync Block "016e981dd1dc689e823804c25375dbd15299e185d40b36db67b3c7f99f878

[2019-06-28 14:00] garethtdavies commented on #59
Writing that reminded me of the underlying issue see https://github.com/zcash/zcash/issues/3552 and https://github.com/zcash/zcash/issues/3568

[2019-06-28 17:13] hdevalence commented on #53
If no location is specified, the zebra data is kept in a platform-dependent location selected by the `app_dirs` crate, e.g., `~/.local/share/zebra`. The database is opened by some functions in `zebra/util.rs`.  Personally I don't like `util` modules (since the API shouldn't require utility functions to use), so I'd like to refactor some of that code while fixing this.

I'm wondering if the best fi

[2019-06-28 17:17] dconnolly commented on #53
I love this idea. 💯

[2019-06-28 21:26] dconnolly opened #60 "`rustfmt` the entire codebase."

[2019-06-28 21:29] dconnolly opened #62 "Replace the only `unsafe` usage with appropriate syscall invocation for Config.block_notify_command"
I am skeptical that using `unsafe` is the only way to achieve the equivalent operation, if we want to keep it.

https://github.com/ZcashFoundation/zebra/blob/905c225996dbc9435221d5da5ffbf06d5bc00b19/zebra/commands/start.rs#L44

[2019-06-28 22:26] #60 closed

[2019-06-28 23:16] hdevalence commented on #53
Yeah, I'm going to start a branch with the following changes:

- [ ] rework the `Config` struct so that it can be created in multiple ways

[2019-06-28 23:23] hdevalence opened #63 "Eliminate fixed-size hash types H256, etc."
These seem to have originally been intended to work as containers for fixed-size hash digests, but over time drifted to serve as fixed-size byte containers.  I think these types should be eliminated and replaced either with bare byte arrays (if no type information is required) or usage-specific newtype wrappers (e.g., `BlockHash`, `SaplingRootHash` etc.) depending on the context.

[2019-06-28 23:27] hdevalence opened #64 "Implement our own error hierarchy and eliminate String errors"
We should work to have strongly-typed error types, using our own hierarchy of error types inside `Result`s and try to eliminate all opaque `String` errors.

[2019-06-28 23:42] hdevalence opened #65 "Always initialize the event loop, and only in one place."
Right now the event loop is only started sometimes (when the command is not `import` or `rollback`), and constructed in a deeply nested call (`main.rs:run` calls `commands::start` calls into the `p2p` module to build an event loop, then takes ownership of it and passes a handle back into the `p2p` code).  It would be easier and clearer if the event loop were always started, and in one place.

[2019-06-28 23:46] hdevalence opened #66 "Separate server resource ownership from Config data"
Right now the `Config` struct in `zebra/config.rs` holds various configuration data, but it also owns server resources, like the database, the network, etc.  This means that it's not possible to treat the "config for a server" separately from "the server itself".

Instead, the server resources could be split into a `Zebra` type (naming?), leaving only the config options in the `Config` struct. The

[2019-06-28 23:55] hdevalence commented on #59
Hey, thanks for reporting this and giving detailed logs.  Just as a heads' up, we probably won't try to fix it right now, but we will circle back and try to fix it after we've done more of the refactoring we're planning to get done.

[2019-06-29 00:10] hdevalence commented on #66
Let's try using https://github.com/mehcode/config-rs .

Bikeshed: which file format for the config file?

[2019-06-29 00:25] hdevalence commented on #66
Or: https://twitter.com/bascule/status/1144760314908401664

[2019-06-29 00:53] garethtdavies commented on #59
Understood. This does make it impossible to run on testnet at present (unless I am missing something) and the recommendation from the launch post of Zebra is to run only on testnet so this may become a popular issue for users.

[2019-07-01 17:00] hdevalence opened #68 "Clarify licensing metadata in workspace crates"
Running `cargo-license` shows

[code]

The `N/A` crates are the internal crates from `zebra`, and don't have their own licensing metadata.

[2019-07-01 21:53] hdevalence opened #71 "Move the binary into a separate Cargo.toml"
Right now the information on the `zebra` crate and the binary it generates is kept in the main `Cargo.toml`.  It would be cleaner if this was just another workspace member, with all of its manifest data kept in its own `Cargo.toml`, which we can do by moving that manifest data out of the main `Cargo.toml` and into the `zebra/` one.

Also, if we are planning to try using Abscissa or something, it m

[2019-07-01 22:20] hdevalence opened #72 "Eliminate all hardcoded git dependencies"
Right now we have a lot of hardcoded git dependencies on various repositories, left over from the Parity development.  It would be good to eliminate all of the git dependencies and replace them by crates-io published versions (which are immutable and so can't be modified out from under us).

[2019-07-01 22:37] hdevalence opened #74 "Map out non-rust dependencies and make an elimination list"
We have lots of non-rust dependencies. Some of these, like libsecp256, have minimal dependencies and basically just need a C compiler, while others have heavier dependencies and require various build dependencies.  A library like libsecp256 probably isn't worth replacing, but it's worth seeing if we have any dependencies with heavy build dependencies that we could remove with relatively little wor

[2019-07-01 22:38] dconnolly commented on #73
I wonder if it's good to do this off the bat, or to see if there's a movement of zec out of the Sprout pool into the Sapling pool with updates including banning payments to Sprout addresses, etc.

[2019-07-01 22:39] dconnolly commented on #72
We could pin to a commit in the git dependencies for the time being.

[2019-07-01 22:40] dconnolly commented on #68
What a stew.

[2019-07-01 23:28] hdevalence commented on #72
I think if we're going to do the work of adding pins we might as well add released versions... adding a pin doesn for instance the reason that the build is broken in #70  is that someone merged code into https://github.com/ethcore/rust-secp256k1 and there's no versioning on our dependency, so now all the trait versions are out of sync and broken :(

[2019-07-01 23:34] dconnolly commented on #72
Well for the git deps that aren't versioned that we don't control, we would have to fork them, right? Currently Dependabot notifies on new version availability and runs through the lock file to make the updates and then test the build, but it hasn't done all of them yet so as not to spam us.

[2019-07-01 23:41] hdevalence commented on #72
No, I think that many of the dependencies that are there don't need to be git dependencies at all -- like the secp bindings -- or could be eliminated from our source tree.

[2019-07-01 23:46] dconnolly commented on #72
Ha, at least `ethcore/rust-secp256k1` aka `paritytech/rust-secp256k1` is a fork of a fork of https://crates.io/crates/secp256k1 aka `rust-bitcoin/rust-secp256k1` 🙃

[2019-07-02 19:07] #68 closed

[2019-07-02 20:12] dconnolly opened #99 "Rip out bloom filter stuff?"
https://github.com/ZcashFoundation/zebra/blob/master/zebra-sync/src/utils/bloom_filter.rs

[2019-07-02 20:21] gtank commented on #48
https://github.com/zcash-hackworks/zcash-test-vectors

[2019-07-02 20:30] gtank opened #101 "Builds require cmake"
Because of `parity-snappy-sys`

[2019-07-02 20:30] #71 closed

[2019-07-02 20:33] gtank commented on #101
Related #74

[2019-07-02 20:57] hdevalence commented on #66
Looks like we're going to try using Abscissa to start, in which case the work for this issue is probably to go through the fields of the existing `Config` struct, extract the ones that are genuine config options, and add them to the Abscissa config framework.

[2019-07-02 21:00] hdevalence opened #102 "Migrate to new Tokio"
We should use the 0.3 tokio series rather than the 0.1 series.  The API is different so we will need to make various changes throughout the code.

[2019-07-02 21:01] hdevalence commented on #102
some possibly outdated notes on the tokio refactoring, which could be helpful for reference: https://github.com/tokio-rs/tokio-rfcs/blob/master/text/0001-tokio-reform.md

[2019-07-02 21:02] hdevalence opened #103 "Create a new Abscissa-based zebrad binary."
This provides a framework for config options, secrets handling, etc.

Component issues:
- ?? (expand)

The goal for this issue is just to achieve feature parity with the previous binary; once this is done we can remove the previous binary (now `zebra_old`)

[2019-07-02 21:03] hdevalence commented on #102
This probably makes sense to do after #103

[2019-07-02 21:17] #103 closed

[2019-07-02 21:31] gtank commented on #99
There are related later BIPs that we also don't do, if there's any code for them lying around:

https://github.com/bitcoin/bips/blob/master/bip-0157.mediawiki
https://github.com/bitcoin/bips/blob/master/bip-0158.mediawiki

[2019-07-10 23:22] dconnolly opened #118 "Move from using sapling_crypto::jubjub to zkcrypto::jubjub when merged."
The newer one has a constant time implementation for square roots using Tonelli-Shank's algorithm.

[2019-07-10 23:24] dconnolly opened #119 "Move from `blake2_rfc` to `blake2_simd`"
Similar to how the zcash folks are moving to it in zkcrypto and away from `blake2_rfc`

[2019-07-11 15:49] dconnolly opened #120 "Run siderophile against zebra-serialization"
https://github.com/trailofbits/siderophile

[2019-07-19 05:53] dconnolly opened #127 "Swap zebrad -> zebra_new, zebra_old -> zebrad until abscissa skeleton is populated."

[2019-07-19 20:20] hdevalence opened #131 "Refactor node ordering logic"
The logic here could be simplified using a tuple comparison. Also it's not required to duplicate logic between the `PartialOrd` and `Ord` impls, `Ord` is a marker trait. https://github.com/ZcashFoundation/zebra/blob/master/zebra-p2p/src/util/node_table.rs#L54-L92

[2019-07-19 20:41] hdevalence commented on #131
note also: because the `NodeTable` maintains `BTreeSet`s for `by_score`, `by_time`, but the custom-ordering-tuple-newtypes don't hold borrows, all of the node data is held in triplicate

[2019-07-19 22:12] hdevalence commented on #131
aha, we may not be able just to simplify the comparison functions, because the code that maintains the data in triplicate stops working if we relax requirements on the sort-by-x functions (e.g., so that two nodes with equal time are equal when sorted by time).

[2019-07-19 23:31] #127 closed

[2019-08-15 20:13] dconnolly commented on #62
Cheers @hdevalence 🙏

[2019-08-16 22:57] hdevalence opened #142 "Should the initial version of Zebra be able to create blocks?"
This question started as one about mining code, and morphed into the one in the title.

For context, because we have a small team and high demands on software quality, we'd like to have the minimum code necessary to support any given feature.  Supporting CPU mining is clearly not a priority -- the mainnet hashrate is high enough that CPU mining will never be viable, so any actual mining will be do

[2019-08-16 23:07] hdevalence commented on #136
Changed labels because `planning` should be for planning tasks not involving code changes (closed when the plan is made / question is resolved / etc) and `refactor` should be for refactoring work itself.

[2019-08-18 23:31] dconnolly opened #145 "Rust 2018 edition/stable deprecation: 'warning: trait objects without an explicit `dyn` are deprecated'"

[2019-08-18 23:36] dconnolly opened #146 "Log rustc, cargo, rustup versions used in every build."

[2019-08-19 00:19] dconnolly opened #148 "Rust 2018 edition: "warning: `...` range patterns are deprecated""
[code]

[2019-08-19 00:20] #146 closed

[2019-08-19 16:58] hdevalence commented on #145
I think that most of these trait objects are in the networking code, which is using an older version of tokio.  Since we want to be using newer tokio and probably want to refactor the code anyways, I think it probably makes the most sense to do the refactoring first, then circle back to fix whatever's left of this issue after.

[2019-08-19 17:25] hdevalence opened #152 "Taxonomize all uses of the fixed-size hash container types"
The [anti-design document](https://github.com/ZcashFoundation/zebra/blob/master/docs/anti-design.md#the-fixed-size-hash-types) describes the fixed-size hash container types, which over time became general-purpose byte containers, as a feature to remove from the codebase going forward.

To do this, we need to taxonomize all current uses of these types, and for each use, describe what type should be

[2019-08-19 17:34] hdevalence opened #153 "Taxonomize all types of keys used in Zebra"
We should create a taxonomy of all of the types of keys used in Zebra (the type of key, its role in the protocol, where it's used, etc).

This taxonomy lets us map out:

* all the key types we will need to include in [zebra2-primitives](https://github.com/ZcashFoundation/zebra/blob/master/docs/design.md#zebra2-primitives)
* how those keys would be used by the rest of zebra2.

[2019-08-19 20:29] str4d commented on #142
I think this is fine. No one mines directly with `zcashd` either anymore (the mining-related text in the metrics UI should probably be disabled on mainnet). `zcashd` _is_ used to either generate block templates for mining pool software (the `getblocktemplate` RPC method), or simply as a source of mempool transactions that the mining pool software assembles into blocks by itself.

Something somewhe

[2019-08-19 21:08] hdevalence commented on #142
Okay, what do we think of the following plan:

For Zebra 2, remove mining code and the ability to generate new blocks.

For Zebra 3, add the following functionality:

* block templating functionality that can prepare block templates for external block producers;
* the ability to accept externally-produced blocks and broadcast them to the network;
* a testing-oriented implementation of an external

[2019-08-19 21:36] gtank commented on #142
This sounds good to me. We'll want those features in place to be able to fully participate in NU3, but we don't need to support them until then.

[2019-08-19 21:37] hdevalence commented on #142
Okay, if there are no objections (@dconnolly ?) I'll close this issue as having been resolved in favor of the plan above.

[2019-08-20 15:27] chelseakomlo opened #156 "Review utility of logging output"
This is a task to review the current logging output and come up with a plan for better logging output if required.

We should review, for example:
- Whether different log levels are currently used/supported
- Whether logging output clearly indicates where in the code certain log lines are from
- Whether different log lines output identical messages (this is bad because then it is hard to determine

[2019-08-21 14:59] gtank commented on #156
During initial sync, the default log output is not very useful:
[code]
The log level seems to be set at INFO, but it isn't obviously configurable. By contrast, `zcashd` has a curses-style interface that tells you how far through the process you are and what's going on, while streaming output like this to a secondary `debug.log` file.

[2019-08-21 16:36] hdevalence commented on #156
Dropping the logging module we have now and replacing it with `tracing` solves the configurable-log-level problem for free.

[2019-08-21 16:47] hdevalence commented on #73
Moved this to the `planning` label and milestone.

Note that checkpointing on Sapling activation and removing Sprout proving and verification code doesn't prevent users from spending Sprout pool funds (because after Sapling activation, those proofs do Sprout-on-Groth16).  So there is no issue about people moving ZEC out of the Sprout pool or deciding about whether to ban payments etc.

[2019-08-21 18:36] hdevalence commented on #99
Some version of this is required for BIP37, which is included in Zcash, so we cannot remove it.

[2019-08-21 18:36] #99 closed

[2019-08-21 20:28] hdevalence commented on #152
Progress towards #63

[2019-08-21 20:48] hdevalence commented on #101
`parity-snappy-sys` is pulled in as a dependency of `parity-rocksdb`; rocksdb has a libsnappy backend or something that Parity's bindings enable unconditionally, and this is what requires cmake.

The upstream `rocksdb` bindings enable snappy conditionally as a feature and appear not to require cmake to build.  We should investigate which of the three rocksdb bindings (the original, the PingCap for

[2019-08-21 23:04] #142 closed

[2019-08-28 17:49] zancas opened #167 "Standardize Github Actions `jobs.<job_id>.steps` indentation"
I am studying this workflow file:

https://github.com/ZcashFoundation/zebra/blob/5ade2a86f83fc7e0907d70524c5575f6f9ad162a/.github/workflows/push.yml

using this workflow "[Log view](https://help.github.com/en/articles/managing-a-workflow-run#about-workflow-management)":

https://github.com/ZcashFoundation/zebra/pull/163/checks?check_run_id=203489646

I am confused by the indentation style used to

[2019-08-29 14:49] gtank commented on #156
Logging is configurable via environment variable, like so. Full details in the README.

`RUST_LOG=sync=trace,p2p=trace,verification=trace,db=trace ./target/release/zebra`

Trace-level logs are chatty but actually look pretty useful.

[2019-08-29 18:51] dconnolly commented on #167
Closing per https://github.com/ZcashFoundation/zebra/pull/168#issuecomment-526313160

[2019-08-29 18:51] #167 closed

[2019-08-29 19:45] dconnolly opened #169 "Upgrade abscissa and re-generate skeleton in zebra2/"

[2019-09-24 23:40] hdevalence opened #26 "Tracking: parse all message types."
This is a tracking issue for all message parsing tasks.

- [x] `version`
- [x] `verack`
- [x] `ping`
- [x] `pong`
- [x] `reject`
- [x] `addr` - #25
- [x] `getaddr` - #25
- [x] `block` - #21
- [x] `getblocks` - #21, #44
- [x] `headers` - #21, #44
- [x] `getheaders` - #21, #44
- [x] `inv` - #24
- [x] `getdata` - #44
- [x] `notfound` - #44
- [x] `tx` - #13, #44
- [x] `mempool` - #102
- [x] `filterloa

[2019-09-24 23:44] hdevalence opened #27 "Use property testing for message struct serialization round-trips"
We should try to use property-based testing (probably `proptest`) for checking that message (de)serialization round-trips.  This has structured input, so in contrast to fuzzing (unstructured input), this is probably less useful for checking that we cannot be vulnerable to malformed messages, but it's probably more useful for checking that the encoding functions actually work.

[2019-09-24 23:45] hdevalence opened #28 "Add ecosystem test vectors for message parsing."
Here are some test vectors from the Zcash ecosystem:

- https://github.com/zcash-hackworks/lightwalletd/blob/master/parser/transaction_test.go

We should integrate them into the test suite.

[2019-09-25 16:31] hdevalence commented on #23
After using a tokio codec #22 to convert a network byte stream to a stream of `Message`s, we could [use `StreamExt::filter` ](https://rust-lang-nursery.github.io/futures-api-docs/0.3.0-alpha.18/futures/stream/trait.StreamExt.html#method.filter) to add a small stub that filters handshake messages and processes `ping` messages to return `pong`s.

[2019-09-26 23:24] hdevalence commented on #33
Ah -- because we're using `tracing-futures`, and the `tokio-alpha` feature for `tracing-futures` was fixed in git upstream, we can't move entirely off of git dependencies.  So for now I think it's better to continue using the git dependencies.

[2019-09-27 03:02] dconnolly opened #34 "Implement and use EquihashSolution where appropriate"
Specifically in `BlockHeader`.

See #21

[2019-09-27 18:17] dconnolly opened #36 "Design Sprout note commitment trees."
We may need a sprout note commitment tree, even if we checkpoint on sapling activation, in order to do sprout-on-groth16 proofs to move old sprout value.

[2019-09-27 19:01] hdevalence opened #37 "Clean module layouts and imports."
As we flesh out the code, we're placing things in various parts of the module tree and importing various items from various paths, but as things take a clearer form we will have a better idea of the ideal logical structure of the module tree.   Before we do any release, we should do a reorganization pass to ensure that the module tree is conceptually coherent, and probably use re-exports to simpli

[2019-09-28 01:30] dconnolly commented on #34
This is partially done in https://github.com/ZcashFoundation/zebra2-maybe/commit/f4a6fec2d8f73be3148641796983bceabff7ec79

[2019-10-07 23:02] hdevalence commented on #23
Closed by #17.

[2019-10-07 23:05] hdevalence commented on #37
Tagged with `later` because we cannot have encapsulation until more of the parts are in place, and it's useful to be able to drive stuff with the `connect` stub.

[2019-10-07 23:06] hdevalence commented on #33
`Poll::NotReady`

[2019-10-07 23:08] hdevalence opened #52 "Better version negotiation in the peer connection handshake"
We should check zcashd to ensure we are constructing version handshake messages with fields that have the same meaning as `zcashd`.

[2019-10-07 23:17] hdevalence opened #54 "Add an Abscissa command for DNS seeder information."
Our MVP to test our new networking design is a daemon that can power a DNS seeder; this is a trivial application but it is measurable and concrete and tests that the networking design does actually work in a visible way, before we complete the rest of the work of the node implementation.

Currently the only command we have is the `connect` command, which exists solely for debugging during developm

[2019-10-07 23:19] hdevalence commented on #54
(Tagged `later` because this depends on at least #53 #52 #51 #50 #49 #48 #47 #46 #45 #26 #18 and probably others)

[2019-10-08 21:03] hdevalence commented on #33
This went up so moving off of git may now be possible: https://crates.io/crates/tracing-futures/0.1.0

[2019-10-09 23:01] hdevalence commented on #59
Conclusion from Slack discussion (feat. @dconnolly, @gtank) is that we would be better off just using Abscissa for this.  This issue should be closed by a PR that removes the `zebra-reactor` workspace member.

[2019-10-10 02:20] dconnolly opened #61 "Q: how does the version field interact with the versions of the blocks themselves?"
Is this something we need to specify in the message itself, or can the codec fill it in? if the codec can't fill it in (<=> the version in the message is independent of the transport version), then how do version mismatches happen?

Also, we may want to use an internal enum rather than carrying a version field around?

(re: #44 )

[2019-10-11 01:04] hdevalence commented on #48
The work in #62 uses a generic discover, not a custom one, but otherwise does what's described above.

[2019-10-11 01:18] hdevalence commented on #49
With #51 / #65 this could be done as above; adding a `Pong` to the `Response` type isn't necessary because the `PeerServer` can special-case handling of `Ping` requests and fail itself if they timeout or the nonce doesn't match.  Special-casing is a little ugly but means that we don't have to add extra causation paths for failure propagation in the `PeerClient`/`PeerServer` pair.

[2019-10-15 20:25] hdevalence commented on #52
Reference: zcashd handles incoming version messages here: https://github.com/zcash/zcash/blob/master/src/main.cpp#L5416-L5569

[2019-10-16 18:38] hdevalence commented on #26
`tx` should probably be unchecked until #13 is closed, correct? (unchecking, can re-check later)

[2019-10-17 19:54] dconnolly opened #73 "Auto-publish rustdocs on merge to master"
Either directly via GitHub Actions or indirectly via gcloud calls to Firebase.

[2019-10-17 21:39] hdevalence commented on #73
One thing that was pretty useful in the dalek context was running two doc builds: one normal one and one with `--document-private-items`, hosted on, say `doc.domain` `doc-internal.domain` (or any two different paths); having linkable rendered docs of private internals is very useful.

[2019-10-17 22:16] dconnolly commented on #73
So would those private items docs be behind an auth'd page? Or just a different page, explicitly about internals?

[2019-10-17 22:26] hdevalence commented on #73
I think just a different page is fine, since they're not any more secret than the rest of the codebase, it's just that they're not exported.

[2019-10-21 19:56] dconnolly commented on #49
Resolved by #77

[2019-10-21 20:04] dconnolly commented on #54
Call network.init(), handle `GetPeers` requests, and keep updating our `AddressBook` of our crawled data.

[2019-10-23 02:09] hdevalence commented on #54
As part of this, we can probably remove the `connect` stub, since it won't be needed any more.

[2019-10-23 02:10] hdevalence commented on #37
`Poll::Pending` -> `Poll::Ready`

[2019-10-23 02:46] hdevalence commented on #37
Potential refactorings/cleanups/simplifications:

- remove the `Peer` prefix on the contents of the `peer` module (i.e., `peer::Client` not `peer::PeerClient`);

- move the initialization functions in `peer_set.rs` into a submodule and just re-export the `init` function

[2019-11-02 22:36] hdevalence opened #92 "Analyze overlap between `zebra_chain` and `zcash_primitives`"
Now that the `zcash_primitives` crate [has been published](https://docs.rs/zcash_primitives/0.1.0/zcash_primitives/index.html) and we have mostly finished the networking code, we should analyze the overlap between `zcash_primitives` and `zebra_chain`, and decide:

1. What (intended) functionality is common between these two crates;
2. Whether we should re-export parts of `zcash_primitives` into `z

[2019-11-07 06:00] hdevalence commented on #92
I started writing some first-pass notes mapping out the `zcash_primitives` crate.  They are currently UNFINISHED, and I will keep editing this comment until they are done.

Notes on `zcash_primitives`, starting from `lib.rs` and working outwards.  The order they appear here is the order in which I read through them, which is mostly arbitrary but attempts to be in internal module dependency order.

[2019-11-12 23:43] hdevalence opened #94 "Turn errors from inbound requests into reject messages."
Split out from https://github.com/ZcashFoundation/zebra/pull/83#discussion_r345503475

When a `Request` made by a peer server resolves to an error, the peer server should inspect the error and turn it into an appropriate `reject` message.  I believe it may already do some error inspection to test whether the inbound service is overloaded.

[2019-11-12 23:44] hdevalence opened #95 "Add note to help message in config file explaining the config file path."
Split out from https://github.com/ZcashFoundation/zebra/pull/83#discussion_r345367887

The generated config file should include a note on the default config file location.

[2019-11-13 02:10] bobsummerwill opened #96 "Missing a LICENSE file"
Is this codebase a continuation of https://github.com/bobsummerwill/parity-zcash or a fresh codebase?

What is the LICENSE, please?  Thank you!

[2019-11-13 05:33] hdevalence commented on #96
Hi there, this is a fresh codebase rather than a continuation of parity-zcash.  The code is dual-licensed as Apache2 or MIT, and the license metadata is in the [individual `Cargo.toml` files](https://github.com/ZcashFoundation/zebra/blob/main/zebra-network/Cargo.toml#L5) but as you note we are missing a LICENSE file.  I will leave this issue open until we add it.

[2019-11-13 23:17] hdevalence opened #98 "Have the tracing component actually use the config settings."
Currently you can set a tracing filter in the config but this is never actually used by the tracing component, which always uses `RUST_LOG`.  We should probably use the config value instead of the environment variable.

[2019-11-14 19:33] #96 closed, assigned to nobody

[2019-11-16 17:53] dconnolly opened #104 "Impl `Debug` for `TransactionHash`"
To make this look more legible using `hex::decode` or whathaveyou.

![image](https://user-images.githubusercontent.com/552961/68997047-04e99e00-0870-11ea-8388-dec4df434c5d.png)

[2019-11-17 23:16] bobsummerwill commented on #96
Thanks, @dconnolly.

Aside - what is the rationale for dual MIT/Apache licensing?

The MIT license is weaker than Apache 2.0, with no patent protection.

Is there a specific reason why you did not use ONLY Apache 2.0?  Thanks.

[2019-11-18 02:45] hdevalence commented on #96
Apache2 or MIT is a standard licensing choice in the Rust ecosystem (e.g., it is the license for Rust itself), and in particular it means that the code is GPLv2-compatible. See https://doc.rust-lang.org/1.5.0/complement-project-faq.html#why-dual-mitasl2-license or https://github.com/sfackler/rust-postgres-macros/issues/19 for some more details.

[2019-11-18 02:50] bobsummerwill commented on #96
Right - thanks.

And so because you have the Apache 2.0 licence, that is giving you the patent protection?

And the MIT license option is giving you compatibility with GPLv2, as well as the GPLv3 compatibility you get from Apache 2.0?

[2019-11-18 02:53] bobsummerwill commented on #96
https://internals.rust-lang.org/t/rationale-of-apache-dual-licensing/8952/5

graydon says:  Yeah, just to echo josh here: the MIT is almost a subset of ASL2 but not quite: GPLv2 compatibility is the one weird case that we needed to retain the nearly-redundant MIT for. Otherwise we’d just have gone ASL2.

SO NOW I KNOW :-)

[2019-11-18 03:17] hdevalence commented on #96
Yep :)

[2019-11-19 22:11] hdevalence opened #108 "Remove our `TracingComponent` once functionality is upstreamed."
Upstream issues: https://github.com/iqlusioninc/abscissa/issues/149 https://github.com/iqlusioninc/abscissa/pull/154

Once these are merged, we should update our Abscissa version https://github.com/ZcashFoundation/zebra/pull/89 and remove our `TracingComponent`, or at least the part of it that does the tracing-related parts -- we probably want to keep the HTTP endpoint until we can fold it into an

[2019-11-20 00:03] hdevalence opened #109 "Zcash-flavored Ed25519"
Parts of the Zcash specification require Ed25519 with specific, consensus-critical verification rules, for instance in [the JoinSplit signatures](https://zips.z.cash/protocol/protocol.pdf#concretejssig).  Because it is critical that we do Ed25519 verification exactly as in the spec, we may want to create a Zcash-flavored Ed25519 on top of `curve25519-dalek` that has exactly the properties we need.

[2019-11-20 00:05] dconnolly commented on #54
I've been modifying the `connect` command frequently in local testing so not removing as part of completion of this issue yet.

[2019-11-20 00:06] dconnolly commented on #54
Resolved by #54

[2019-11-20 00:06] #54 closed, assigned to dconnolly

[2019-11-20 00:06] dconnolly commented on #94
Related to #106

[2019-11-20 00:11] hdevalence opened #110 "Proptest scaffold"
Before doing #27 it would be convenient just to have a basic proptest skeleton so that the work of #27 or other property tests is just the work of writing the tests themselves.

[2019-11-20 16:59] #110 closed, assigned to hdevalence

[2019-11-26 23:12] hdevalence opened #117 "Update to Tokio 0.2"
As of now, hit `Poll::Pending` because the most recent `hyper`, `0.13.0-alpha.4`, requires `= 0.2.0-alpha.6`.

[2019-11-27 01:11] hdevalence commented on #37
Going to start working on this, hoping to slip it in before #118...

[2019-11-27 07:13] hdevalence commented on #117
https://github.com/hyperium/hyper/issues/2025

[2019-11-27 19:50] hdevalence commented on #26
Reminder that when we finish this, we should change the `peer::Server` behaviour to fail the connection on a message parse error.

[2019-11-28 00:59] hdevalence opened #123 "Finish refining all primitive types brought in by `Transaction` data."
Following from https://github.com/ZcashFoundation/zebra/pull/105#issue-342371155:

This issue should be closed when there are no more refinements left to do.  ~~Once #105 is merged, I will replace this description with a checklist of types to refine.~~

- [x] an `Amount` type (#126)
[code]

- [x] a (Sprout?) (Sapling?) nullifier type (#287, #288)
[code]
One of these is a nullifier for Sprout, whil

[2019-11-28 01:00] hdevalence opened #124 "Implement transaction serialization."
Following from https://github.com/ZcashFoundation/zebra/pull/105#issue-342371155:

This issue is for implementing serialization for transactions.  It probably makes sense to do this together with the next follow-on item from that PR:

[2019-11-28 01:03] hdevalence opened #125 "RedJubJub signatures"
In addition to #109, we also need a library for RedJubJub signatures.  One exists in `librustzcash/zcash_primitives` but it is coupled to the rest of that library, and the `zkcrypto/jubjub` implementation will soon be using `bls12_381` directly.

[2019-11-28 01:03] hdevalence commented on #123
Requires #125.

[2019-11-28 01:06] hdevalence opened #126 "Add an Amount type."
This should be a newtype wrapper around `i64` that enforces range constraints.  This means that arithmetic operations are fallible, so working with `Amount`s will require lifting into the `Option` monad, but by careful implementation of the `ops` traits, it should be possible to make this relatively ergonomic.

[2019-11-28 01:06] hdevalence commented on #123
Requires #126.

[2019-11-28 05:48] dconnolly commented on #26
I'm pretty sure zcashd doesn't implement `merkleblock` messages so I propose we don't either, since we're setting `NODE_BLOOM=false` anyway:
https://github.com/zcash/zcash/blob/fffd5da201bf74cc832b27a1168ba4555df1524b/src/main.cpp#L6222

[2019-11-28 07:30] hdevalence commented on #26
SGTM!

[2019-12-03 00:34] dconnolly opened #130 "Disconnect peer on receipt of filter(load, add, clear) message."
Per BIP-0111, since we don't advertise NODE_BLOOM:

https://github.com/bitcoin/bips/blob/master/bip-0111.mediawiki

[2019-12-05 17:55] hdevalence commented on #125
The library now exists: https://github.com/ZcashFoundation/redjubjub-zebra ; I could either a) update #105 to include it or b) do the update in a subsequent PR.  I have a slight preference towards a) if that's OK, since there are other refinements needed for #123 beyond just the Redjubjub changes.

[2019-12-05 18:07] #104 closed, assigned to dconnolly

[2019-12-05 18:31] hdevalence commented on #108
This is merged upstream (but not released), so we can remove the tracing setup parts of the `TracingComponent` and change it to a `TracingEndpoint` that just feeds HTTP requests into the built-in tracing component.

Because these changes aren't released yet, this requires a temporary git dependency on abscissa, but it's probably good to test that the tracing component is actually usable and that t

[2019-12-05 18:34] dconnolly commented on #125
a) sounds good to me!

[2019-12-05 19:06] #130 closed, assigned to dconnolly

[2019-12-05 23:03] hdevalence opened #136 "Tracking: State management service."
We should start a sketch of a state storage service, as in https://github.com/ZcashFoundation/zebra/blob/main/design/design.md#zebra-storage

~~Of the two points in that document, the first, storage of raw blocks, is much simpler than storage of other (processed, ingested) data.  So we could start just by having a `Service` for raw block data, backed by RocksDB.  This exercises setting up a databa

[2019-12-05 23:03] dconnolly opened #137 "Make sure all of our types are Serde'able."
So that they can be serialized/deserialized via Serde to our storage.

[2019-12-05 23:06] hdevalence opened #138 "Pick a RocksDB library."
There are multiple RocksDB libraries for Rust.  We need to pick one.  This issue will be closed when one is picked.

[2019-12-05 23:27] hdevalence commented on #136
~~Blocked on #138~~

Edit: I think this is not the best approach, see above.

[2019-12-05 23:32] hdevalence commented on #98
Blocked on #108

[2019-12-05 23:34] dconnolly opened #139 "Flesh out 'start' command to actually start syncing."
- [x] Start a sync component / service that is in charge of managing peer requests for blocks and firing validation / management. - #140
- [x] When a storage interface actually exists, send internal requests to save down blocks to the block cache and derived data to the state storage. - #136, #414

[2019-12-05 23:39] dconnolly opened #140 "Sync service/component to manage the fetching and validation of blocks."
This will be wrapped up and made available to commands as an Abscissa component.

- [ ] make requests to network interface to get blocks from peers (#504)
- [ ] validate blocks and transactions (#428)

[2019-12-05 23:39] hdevalence commented on #139
We might want to flesh out the design details first -- should we add the design label and figure out a) what logic will be required and b) where it should live in the DESIGN.md organization?

[2019-12-06 00:08] hdevalence commented on #37
The remaining work for this ticket is to rename structs in the `peer_set` module.

[2019-12-06 00:08] dconnolly commented on #36
Look at the one in `librustzcash`.

[2019-12-06 00:09] dconnolly commented on #52
We never actually check and agree on a version so uh, we should do that.

[2019-12-06 00:11] hdevalence commented on #52
Added the `research` label since there's some looking into how zcashd behaves involved.

[2019-12-06 00:12] dconnolly commented on #92
Look here re: #34

[2019-12-06 00:12] dconnolly commented on #28
Unblocked by #124

[2019-12-06 00:18] hdevalence commented on #94
I think this is already done in https://github.com/ZcashFoundation/zebra/pull/106/files#diff-a1699d205a2a0cec572fa943cd26f32dR377

[2019-12-06 00:18] #94 closed, assigned to dconnolly

[2019-12-06 00:26] hdevalence opened #141 "Sort out behaviour when the inbound service returns Err to a peer Request"
https://github.com/ZcashFoundation/zebra/pull/106/files#diff-a1699d205a2a0cec572fa943cd26f32dR366

We should decide whether an `Err` variant should signal a permanent error or an error scoped to the request, and unify behaviour with the `reject` handling below.  For instance, does it make sense to have `Response::Error` at all, or would it be better to use the `Err` variant?

[2019-12-10 00:33] hdevalence commented on #123
Updated the issue description to include a full list of types.

[2019-12-10 00:36] hdevalence commented on #36
Changed the title so that this can correspond to items in the list for #123.

[2019-12-10 19:16] hdevalence commented on #117
Hyper is now out: https://seanmonstar.com/post/189594157852/hyper-v013

[2019-12-12 19:23] #125 closed, assigned to hdevalence

[2019-12-12 19:52] hdevalence commented on #108
Looks like we can test this prerelease: https://github.com/iqlusioninc/abscissa/pull/170

[2019-12-12 20:06] hdevalence commented on #117
This should also update `bytes`: https://github.com/ZcashFoundation/zebra/pull/144

[2019-12-12 20:33] dconnolly commented on #34
Probably pull this from librustzcash/zcash_primitives and make it nice.

[2019-12-13 22:42] #117 closed, assigned to hdevalence

[2019-12-19 20:30] dconnolly opened #150 "Proptests for zebra-chain structures"

[2019-12-19 20:35] hdevalence commented on #124
I can start trying to stub this out.  To make this independent of #123, the first implementation for this PR should write the unrefined types as raw bytes and read them back to raw bytes.  Then, as #123 is filled in later, we can change the serialization for each type that we refine.

[2019-12-21 04:27] hdevalence opened #158 "What should the error type for `ZcashSerialize` be?"
The `ZcashDeserialize` trait has a single method:
[code]
This method must return a `Result`, because deserialization can fail, and this `Result` must have an error type that can include at least failures from the underlying `io::Read` as well as problems like parse errors.

The `ZcashSerialize` trait also has a single method:

[code]

However, while this method must also return a `Result`, because

[2019-12-21 04:40] hdevalence opened #159 "Generic object hashing"
Currently we have a number of named hash types, e.g., `TransactionHash`, `BlockHeaderHash`, etc. Instead, we could consider having only a single type, with a generic type parameter.  (I am not sure whether this would be better, but it's worth considering).  This would require some resolution to #158.

Supposing that #158 is resolved by option (1) in that issue (make serialization infallible up to

[2019-12-31 07:46] #124 closed, assigned to hdevalence

[2019-12-31 22:50] hdevalence opened #160 "Migrate to `tracing-tower`"
`tracing` now provides a `tracing-tower` crate with functionality for instrumenting tower `Service`s.  We could do a better job of instrumenting the application, by:

1. Checking every implementation of `tower::Service` to see whether it has existing instrumentation that could be replaced by `tracing-tower` functionality;

2. Ensuring that every implementation of `tower::Service` is appropriately

[2020-01-13 23:45] hdevalence opened #170 "Remove git dependency on tower-load"
`tower-load` wasn't published on crates.io but it seems that there is now an `0.3` version, so I think that we can drop the git dependency.

[2020-01-14 22:07] dconnolly commented on #170
Same with tower proper?

[2020-01-14 22:18] dconnolly commented on #170
Closed by https://github.com/ZcashFoundation/zebra/pull/172

[2020-01-15 19:07] hdevalence commented on #170
Looks like there may still be one remnant: https://github.com/ZcashFoundation/zebra/blob/main/zebrad/Cargo.toml#L28

[2020-01-15 19:23] #170 closed, assigned to dconnolly

[2020-01-15 20:08] hdevalence commented on #108
Closed by #169

[2020-01-15 20:08] #108 closed, assigned to nobody

[2020-01-15 20:10] hdevalence commented on #98
#108 was closed by #169.  This work still needs to be done but now it should be done by using the upstreamed `trace::Config` struct.  One of the acceptance tests was disabled (see #169) because it started failing due to excess log output; the PR closing this issue should re-enable that test.

[2020-01-15 20:11] hdevalence commented on #159
Question: what objects do we actually have to hash? If we're just doing tx and block hashes, this may not be worthwhile.

[2020-01-15 20:13] hdevalence commented on #158
(1) seems like the cleaner solution.  I think that forcing the rest of our struct definitions to disallow illegal states is probably better in the long run, anyways.

[2020-01-15 20:15] #26 closed, assigned to nobody

[2020-01-15 20:16] hdevalence opened #175 "Rename peer::Server to peer::Connection"
Talking with @warner about our networking design it seems like `Connection` is a much better name for what we're currently calling `peer::Server`.

[2020-01-15 20:20] dconnolly commented on #175
I'm down with this naming

[2020-01-15 20:27] dconnolly commented on #159
- InventoryHash
- BlockHeaderHash
- TransactionHash
- SaplingNoteTreeRootHash
- MerkleTreeRootHash

are all currently defined

[2020-01-15 20:29] dconnolly commented on #158
I'm fine with this, if we ever run into a situation say with testing where we are trying to represent a weird object I bet we won't care about the ability to serialize it.

[2020-01-15 23:16] hdevalence commented on #159
So, of those, `InventoryHash` is not itself a hash but just an enum of `TransactionHash` and `BlockHeaderHash`, and the other two hashes are not SHA256d hashes, correct? If so that seems like something that points away from trying to do something like this, because beyond the two hash types mentioned there's not any more common hashing.

[2020-01-15 23:36] dconnolly commented on #159
Fine with me!

[2020-01-16 18:20] #175 closed, assigned to hdevalence

[2020-01-16 20:31] dconnolly opened #180 "Zcash-compatible Bitcoin script impl"

[2020-01-16 20:38] #159 closed, assigned to nobody

[2020-01-16 20:44] dconnolly commented on #92
- We want to ID common areas in librustzcash, export those into crates, and have zebra and zcashd/librustzcash depend on them

[2020-01-16 20:45] #92 closed, assigned to hdevalence

[2020-01-16 20:47] dconnolly commented on #61
Closing, I think this is defunct for now.

[2020-01-16 20:47] #61 closed, assigned to nobody

[2020-01-16 20:52] dconnolly commented on #52
![image](https://user-images.githubusercontent.com/552961/72561887-2a972180-3878-11ea-80b0-134c4ffb042f.png)

[2020-01-16 20:58] dconnolly commented on #36
We may want to bring in the impl from librustzcash

https://github.com/zcash/librustzcash/blob/37270776beb10acd34bdd96dc6a4bb44117cb00a/zcash_primitives/src/merkle_tree.rs

[2020-01-16 21:10] hdevalence opened #181 "Sprout note encryption/decryption implementation."
We need an implementation of note encryption.  This has possible overlap with `librustzcash`.

![image](https://user-images.githubusercontent.com/552961/77574006-e04da480-6ea7-11ea-94f3-34030567c6c6.png)

https://zips.z.cash/protocol/protocol.pdf#sproutencrypt
https://zips.z.cash/protocol/protocol.pdf#sproutdecrypt

[2020-01-16 21:42] hdevalence commented on #180
Two options:

1. Write a license-compatible implementation from scratch;

2. Write glue code around the parity-zcash code, tainting the total artefact's license but allowing us to replace it later without affecting the rest of the codebase.

[2020-01-16 21:47] #73 closed, assigned to dconnolly

[2020-01-16 22:49] hdevalence commented on #73
Now live at https://doc.zebra.zfnd.org

[2020-01-16 22:51] hdevalence opened #183 "Docs hosting tweaks"
Some tweaks to the docs hosting:

- [ ] restrict just to the crates in the workspace (?)
- [ ] configure Firebase to redirect the index page
- [ ] rewrite the `zebrad` landing page.

[2020-01-16 23:38] #183 closed, assigned to nobody

[2020-01-17 03:47] str4d commented on #180
Another option is to build `libzcashconsensus` from the `zcashd` codebase (which is technically doable but would require some legwork), and wrap that in a Rust API. This is equivalent to the `bitcoinconsensus` crate from the rust-bitcoin project (R.I.P. Tamas Blummer).

This would likely be a bit more work than wrapping the parity-zcash code, but you could probably provide the same API around both

[2020-01-17 04:13] str4d commented on #92
Now that this issue has been closed, can I assume the review above is "complete"? If so, I'll go through it next week and open librustzcash issues for anything that we definitely want to address.

[2020-01-17 17:15] hdevalence commented on #180
Hmm, just to clarify, the suggestion is to extract the C++ consensus implementation from `zcashd`, provide FFI bindings to Rust as `libzcashconsensus`?  I think that we would prefer not to do that, since at the moment we don't have any significant C++ dependencies (with the future exception of RocksDB, which we will isolate into `zebra-storage` internals) and I'm not sure we have the engineering r

[2020-01-17 17:20] hdevalence commented on #92
I'm not sure I'd say it was "complete" so much as "abandoned", in the sense that the parts that there are notes on are completed, but the parts that there aren't notes on have not been completed, and because of other priorities the uncompleted parts probably won't be finished in the near term.

[2020-01-19 00:50] hdevalence opened #191 "Clarify docs for `Transaction` enum to point to iterator methods"
The representations in the `Transaction` enum prevent having empty `JoinSplit`s or `SpendDescription`/`OutputDescription`s by storing the first element separately from the rest of the list.

There are also functions that abstract away this representation:

* https://doc.zebra.zfnd.org/zebra_chain/transaction/struct.JoinSplitData.html#method.joinsplits
* https://doc.zebra.zfnd.org/zebra_chain/trans

[2020-01-22 22:28] hdevalence commented on #109
Currently underway in https://github.com/ZcashFoundation/ed25519-zebra

[2020-01-22 23:12] daira commented on #109
[Oops wrong repo; this comment was intended to be about zcashd. Moved [here](https://github.com/zcash/zcash/issues/2872#issuecomment-577432264).]

[2020-01-23 20:35] dconnolly commented on #123
The ed25519-zebra crate will expose these types and can be refined when it is published: https://github.com/ZcashFoundation/ed25519-zebra

[2020-01-23 20:39] hdevalence opened #195 "Add `Serialize`, `Deserialize` bounds to `Transaction` and other structs."
Adding `Serialize` and `Deserialize` bounds to `Transaction` and other structs (`Block`?) in `zebra-chain` now will ensure that all of their component types are serde'able as we continue fleshing them out.

[2020-01-23 20:40] dconnolly commented on #123
This will be done better than existing when the proptest branch is merged in (they are basically dumb stub types for now but they are better than just `Vec<u8>`).

Same here.

[2020-01-23 20:43] hdevalence commented on #195
(sory for above i'm bad at git hub)(

[2020-01-23 20:46] dconnolly opened #196 "Tracking: transaction validation"
Tracking issue for transaction validation.  Transaction validation checks should be implemented as a sequence of stateless checks that generate constraints if successful (semantic validation); these constraints are then checked as part of contextual verification when a block is being committed to the state.

See also #428 which tracks block validation.

- [x] Tree state management
  - [x] Note typ

[2020-01-24 21:18] hdevalence commented on #109
`ed25519-zebra` `0.1.0` is now released, preparing a PR to bring it into Zebra.

[2020-01-24 21:38] #191 closed, assigned to nobody

[2020-01-24 21:43] #109 closed, assigned to nobody

[2020-01-24 23:04] hdevalence opened #201 "Decide on a re-export policy for zebra-chain"
In #199 I introduced an inconsistency; `zebra-chain` reëxports `redjubjub` but not `ed25519-zebra`.  This is a pretty minor issue (just where stuff should go in the tree and how) but it would be good to have a consistent answer to the question of "when should zebra-chain reëxport dependencies".

One possible answer would be to do it only for crates developed by the ZF that are supposed to be part

[2020-01-27 17:09] hdevalence commented on #196
We need #180; adding it to the list.

[2020-01-30 18:36] dconnolly commented on #150
With https://github.com/ZcashFoundation/zebra/pull/118 merged, this is complete with the most pertinent properties to test atm (serialization and deserialization), marking as done.

[2020-01-30 18:36] #150 closed, assigned to dconnolly

[2020-01-30 18:38] dconnolly opened #208 "Document the tests we need for each consensus rule"
## Tasks
1. Create a draft list of tests that we need for each consensus rule
2. Create a draft test checklist for the default PR template
3. Review these drafts with the team
4. Merge the test list as a page in the Zebra dev book (or as an RFC?)
5. Link to the new test list from the Zebra dev book and the RFC template

[2020-01-30 20:20] hdevalence commented on #137
Is #195 a duplicate of this issue?

[2020-01-30 20:31] hdevalence opened #209 "Add a clippy pass to CI and decide on lints to use."
Doing this for the first time will probably require making a bunch of changes to the source to make it satisfy the lints.

As indicated by the name, `clippy` is meant to err on the side of annoyance, so not all lints will be appropriate at all times.  So we need to decide as a project how we want to handle lints. One option is to allow clippy lints to fail (i.e., don't block CI on them), and anoth

[2020-01-30 20:33] dconnolly opened #210 "Organize test-vectors for zebra-chain"
So that they can use used in multiple tests in multiple locations (things like transactions, blocks/block headers, etc).

[2020-01-30 20:34] dconnolly commented on #209
https://github.com/actions-rs/clippy-check exists as an option

[2020-01-30 20:44] hdevalence opened #211 "Add metrics integration using the `metrics` crate."
This should initially be scoped to the `zebra-network` crate, because that's where we have the most metrics-able stuff to measure, and because that has relatively fewer in-flight changes right now.

As starting goals, we should:

- [ ] add infrastructure for metrics collection
- [ ] add appropriate metrics to the networking code (this can be reworked later, just some initial metrics)
- [ ] export

[2020-01-30 20:45] dconnolly commented on #211
Prometheus: https://prometheus.io

[2020-01-31 00:46] dconnolly opened #213 "`Builder.version` is never used"
Do we need it?

![image](https://user-images.githubusercontent.com/552961/73503084-2c450700-4399-11ea-88bd-2974984fa0bf.png)

[2020-01-31 01:35] dconnolly commented on #213
'not used yet', we need this later for version negotiation, closing.

[2020-01-31 01:35] #213 closed, assigned to nobody

[2020-02-04 05:36] hdevalence commented on #180
some helpful pointers from @prestwich:

* Bitcoin script test vectors: https://github.com/bcoin-org/bcoin/blob/master/test/data/core-data/script-tests.json
* Parser for those tests: https://github.com/bcoin-org/bcoin/blob/master/test/script-test.js#L28-L68
* Rust implementation of Bitcoin script (CC0) https://github.com/rust-bitcoin/rust-bitcoin/blob/master/src/blockdata/script.rs

[2020-02-04 23:00] dconnolly opened #218 "Add 415000 block test vector"
And use `lazy_static!` with `hex::decode` to parse it out into a const/static.

`040000005274b43b9e4ad8f43e93f78463d24dcfe531aeb4719819f4f97f7e0300000000663073bc4bfa95c9bec36aad7268a573049797bdfc5aa4c743fbe4820aa393ce0000000000000000000000000000000000000000000000000000000000000000a8becc5be1ab031cc2fd607c776a7a0000000000000000000000000000000000000000003eb21819fd400500949d55de0cc633e0cce41e4649ef4aa

[2020-02-04 23:02] dconnolly opened #219 "Make EquihashSolution a wrapper around a `Box<[u8; 1344]>`"
https://github.com/ZcashFoundation/zebra/pull/212#discussion_r374357351

[2020-02-04 23:04] dconnolly opened #220 "Break out Block* components into submodules"
https://github.com/ZcashFoundation/zebra/pull/212#discussion_r374342673

[2020-02-04 23:04] #210 closed, assigned to dconnolly

[2020-02-05 07:09] hdevalence opened #225 "Box fields of Transaction, as appropriate"
Currently the `Transaction` enum is large, causing a clippy warning. I think that this is ultimately because the `JoinSplitData`/`ShieldedData` keep the first element out of the main vector, so replacing the `Option<T>` by `Option<Box<T>>` should work, but we should think it through first.

[2020-02-05 07:11] hdevalence opened #226 "Check whether Message variants still require version fields"
The `Block` and `Tx` variants of the `Message` enum have version fields. We should check whether these are still required with the data modeling we have now.

[2020-02-05 20:42] #209 closed, assigned to hdevalence

[2020-02-05 22:05] hdevalence commented on #126
The `Amount` type in `librustzcash` says:

[code]

We can do slightly better by preserving the invariant internally, and we can do it without sacrificing ergonomics in the following way.  We keep an `Amount` type, say, `Amount(i64)`, and then provide impls

[code]
The impls check for overflow and return `None` if the resulting amount is out of range.

Although this requires more impls, it produces

[2020-02-05 22:28] hdevalence commented on #220
It might be good to combine this reorg with some reorg for the `transaction` module, too.  Some things I noticed when working on #158:

- [x] there are a few `ZcashSerialize` and `ZcashDeserialize` impls for transaction components that live outside of the `serialize.rs` file, so not all the serialization code is in one place.  Instead I think it would be cleaner if the `transaction/` subtree had n

[2020-02-05 22:41] hdevalence commented on #27
@dconnolly is this already done as part of your proptest work?

[2020-02-06 00:44] #226 closed, assigned to hdevalence

[2020-02-06 00:48] #158 closed, assigned to hdevalence

[2020-02-06 05:12] hdevalence commented on #123
Ticked the Ed25519 box; I think that the key agreement types should probably be part of the note encryption implementation.

[2020-02-06 18:10] hdevalence opened #232 "Refactor message processing logic"
I started trying to fill in more complex messages to our internal request/response protocol and identified a flaw in our state handling preventing us from combining multiple messages into a single response.

What I tried to do is test out more complex messages by adding a `Request::GetBlocksByHash` and a `Response::Blocks`: you assemble a collection of `BlockHeaderHash`es, send it as a `Request`,

[2020-02-07 19:13] dconnolly opened #236 "Modify TransparentInput to be an enum of previous output or a coinbase"
https://bitcoin.org/en/developer-reference#raw-transaction-format

[2020-02-07 20:47] dconnolly opened #237 "Impl Debug to hex::encode for existing *Hash types"

[2020-02-07 21:42] #218 closed, assigned to dconnolly

[2020-02-08 05:30] #237 closed, assigned to dconnolly

[2020-02-10 17:03] #232 closed, assigned to hdevalence

[2020-02-10 21:20] hdevalence commented on #211
My experience with #240 was that it was pretty hard to tell what's going on without metrics integration, so I think that we should prioritize this before going further on networking stuff.

[2020-02-10 22:15] hdevalence opened #244 "Add retry policies to zebra-network."
The stub code in #240 always ends up crashing before it finishes downloading the chain, because it panics when one of the requests fails.  The reason it panics is because we don't have any retry mechanisms currently in place.

Tower provides a retry mechanism via `tower::retry`: https://docs.rs/tower/0.3.1/tower/retry/index.html

Retries work by wrapping a `Service` in a `Retry` wrapper, with a pa

[2020-02-11 21:13] hdevalence opened #247 "Connect to testnet correctly, based on configuration"
Once #52 is complete and we actually perform version negotiation, we should allow configuring to either mainnet or testnet based on a config flag.  This is probably easy to do as part of that work.

[2020-02-12 02:30] hdevalence commented on #196
Some notes on what our verification architecture could look like below. First, some general desiderata:

- Verification should maximize batching to the greatest extent possible.
- Verification should maximize parallelism to the greatest extent possible.
- Contextual verification (involving chain state) should be separated from semantic verification (e.g., checking proofs) as much as possible.
- Ve

[2020-02-12 02:36] hdevalence commented on #196
I think those ideas touch on most of the desiderata, except:

I think there are two next steps:

1. Write down explicitly all of the chain state required to validate transactions.  That description could be a starting point for a `Request`/`Response` API for the `zebra-storage` API #136.

2. Go through the protocol spec and write down explicitly a complete list of all of the verification checks we

[2020-02-13 20:10] dconnolly opened #250 "Make Memo an enum type"
As described in
https://github.com/ZcashFoundation/zebra/pull/249#issuecomment-585482542
https://github.com/ZcashFoundation/zebra/pull/249#issuecomment-585485102
https://github.com/zcash/librustzcash/pull/177/files

[2020-02-13 20:14] dconnolly commented on #181
Two levels of completion:

All the types to represent in the transaction

Some types:
- [ ] sprout::Note (plaintext)
- [ ] sprout::OutCiphertext
- [ ] sprout::EncryptedCiphertext

And implementing methods to do the note encryption
- [ ] NoteEncryptionBuilder

But first:
- note commitment trees: https://github.com/ZcashFoundation/zebra/issues/36
- addresses
- as above, full Note implementation

Rel

[2020-02-13 20:45] hdevalence opened #251 "Clean warnings in peer::Error"
The `peer::Error` types generate warnings about unused variants.  Some of these are actually unused and should be removed. At least one of them (`Rejected`) should be used. In any case there should not be warnings.

[2020-02-13 21:37] dconnolly commented on #34
I think this should have been closed a while ago as complete.

[2020-02-13 21:37] #34 closed, assigned to dconnolly

[2020-02-13 22:45] hdevalence opened #253 "Tracking: implement ALL THE SPEC"
This issue tracks Zebra's progress implementing the entire Zcash protocol specification, indexed by spec section.

A checkbox means that that part of the specification describes something to implement.  A checked box means that we have either implemented or otherwise resolved (e.g., by not implementing) that item.  Leaf nodes are marked by – and correspond to implementable items. They should be fo

[2020-02-13 22:59] hdevalence commented on #253
Changes: checked off boxes corresponding to RedJubjub and ed25519-zebra as complete, checked off boxes related to BN254 and BCTV14 as planned unimplemented, marked "Differences from the Zerocash paper" as unimplementable.

[2020-02-13 23:06] hdevalence commented on #253
Changes: added references to #181 and #250 to relevant parts of the spec.

[2020-02-13 23:13] hdevalence commented on #253
Changes: checked off a few encoding boxes for transactions, their components, etc.

[2020-02-14 20:47] hdevalence commented on #211
Notes from discussion with @dconnolly:

* We should have a config flag that enables metrics collection, off by default.  When enabled, it's the responsibility of the node operator to firewall or otherwise control access to the metrics endpoint.

* We should have a Dockerfile or something that starts a local prometheus server/collector + grafana instance, for use in development.

[2020-02-15 01:14] #211 closed, assigned to hdevalence

[2020-02-20 05:27] #236 closed, assigned to hdevalence

[2020-02-20 19:35] dconnolly opened #260 "Remove cruft BlockTestVector"

[2020-02-20 20:05] #260 closed, assigned to dconnolly

[2020-02-24 22:41] dconnolly opened #264 "Add `secp256k1` and possibly wrap its types."
The [secp256k1](https://github.com/rust-bitcoin/rust-secp256k1/) crate is a Rust wrapper around the well-vetted and constant-time C [library](https://github.com/bitcoin-core/secp256k1) that is actively maintained.

While including a non-trivial C dependency into our (so far) all-Rust project isn't the ideal answer, this library is a better choice in terms of maintainability (and offloading that to

[2020-02-25 18:02] dconnolly opened #265 "Sprout keys and addresses"
Start by having all the types, so that they can be parsed to and from transactions, but leave implementing the details for later as needed.

![image](https://user-images.githubusercontent.com/552961/75273334-aae16880-57ce-11ea-82bf-04fe9047c255.png)

[2020-02-25 18:06] dconnolly opened #266 "Sapling keys and addresses"
Start by having all the types, so that they can be parsed to and from transactions, but leave implementing the details for later as needed.

![image](https://user-images.githubusercontent.com/552961/75273820-9a7dbd80-57cf-11ea-9ebd-e753f653f887.png)

[2020-02-25 18:12] dconnolly opened #267 "Implement ZIP-32 Sapling and Orchard key derivation"
In order to match what zcashd currently does.

Note: can skip Sprout key derivation, since new Sprout keys are useless, and zcashd never implemented this feature.

![image](https://user-images.githubusercontent.com/552961/78296608-07d1ec00-74fc-11ea-8006-bbab7069f9d5.png)
![image](https://user-images.githubusercontent.com/552961/78296644-18826200-74fc-11ea-9ab2-fc2f217f06be.png)
![image](https://u

[2020-02-25 18:14] gtank commented on #266
A reference implementation of these can be found in https://github.com/zcash-hackworks/zcash-test-vectors.

The most relevant zcashd issue is probably https://github.com/zcash/zcash/pull/3492

[2020-02-25 18:15] dconnolly commented on #266
Related: https://github.com/ZcashFoundation/zebra/issues/267

[2020-02-25 18:15] dconnolly commented on #265
Related: https://github.com/ZcashFoundation/zebra/issues/267

[2020-02-25 18:18] hdevalence opened #268 "Transparent keys and addresses"
We need types for representing transparent addresses and the associated keys. Related to #264.

[2020-02-25 18:19] hdevalence commented on #264
Changed title so that we have one issue for integrating the dependency and one issue for adding transparent keys and addresses.

[2020-02-25 18:30] dconnolly opened #269 "Sapling/Orchard note encryption implementation."
We need an implementation of  note encryption/decryption. This has possible overlap with librustzcash.

Two levels of completion:

All the types to represent in the transaction

Some types:

 sapling::Note (plaintext)
 sapling::OutCiphertext
 sapling::EncryptedCiphertext

And implementing methods to do the note encryption

 NoteEncryptionBuilder

But first:

note commitment trees: #36
addresses
as

[2020-02-25 18:36] hdevalence opened #271 "Sapling/Orchard Key Agreement and KDF"
All our keys are defined for Sapling and Orchard, we just have to finish the ephemeral - static diffie-hellman interaction to derive the shared secret.

Defined in
![image](https://user-images.githubusercontent.com/552961/77574604-a7fa9600-6ea8-11ea-9661-e17cedfa57ee.png)
https://zips.z.cash/protocol/protocol.pdf#concretesaplingkeyagreement

and

![image](https://user-images.githubusercontent.com/

[2020-02-25 18:41] hdevalence opened #272 "Sprout Key Agreement and KDF"
- [ ] Sprout key derivation test vectors w/ zcashd/librustzcash

Defined in https://zips.z.cash/protocol/protocol.pdf#concretesproutkeyagreement
![image](https://user-images.githubusercontent.com/552961/77574266-2145b900-6ea8-11ea-93d1-3f82c9577962.png)
and
https://zips.z.cash/protocol/protocol.pdf#sproutinband
![image](https://user-images.githubusercontent.com/552961/77574161-08d59e80-6ea8-11ea-8

[2020-02-25 18:53] hdevalence opened #273 "Implement Sprout Note Commitment Function"
Defined in https://zips.z.cash/protocol/protocol.pdf#concretesproutnotecommit

[2020-02-25 18:54] dconnolly commented on #264
Pulling this in exposes the signing operations needed to verify script ops for transparent transactions without joinsplits.

[2020-02-25 18:55] hdevalence opened #274 "Implement Sapling Note Commitment Function"
Defined in https://zips.z.cash/protocol/protocol.pdf#concretewindowedcommit

Requires Pedersen hashes.

[2020-02-25 18:55] hdevalence commented on #36
depends on #273 #274

[2020-02-25 18:59] dconnolly opened #275 "Type out Sprout and Sapling Notes"
As opposed to making note encryption/decryption invokable.

[2020-02-25 18:59] hdevalence opened #276 "Implement Sapling Value Commitments"
Defined in https://zips.z.cash/protocol/protocol.pdf#concretehomomorphiccommit

Done here:

https://github.com/ZcashFoundation/zebra/blob/main/zebra-chain/src/sapling/commitment.rs#L136

[2020-02-25 19:06] hdevalence commented on #275
This is making the types described in 3.2 of the protocol spec.

[2020-02-25 19:12] hdevalence opened #277 "Sprout Note Builder"
We should have a `Builder` type for Sprout notes, as described in https://zips.z.cash/protocol/protocol.pdf#sproutsend

[2020-02-25 19:13] hdevalence opened #278 "Sapling Note Builder"
We should have a `Builder` for Sapling notes, as described in  https://zips.z.cash/protocol/protocol.pdf#saplingsend

[2020-02-25 19:49] hdevalence commented on #264
The library requires building a context object and using the context, which is sort of awkward. Maybe the easiest thing to do would be to use `lazy_static` to build the context and store it as a "constant" somewhere in `zebra-chain`.

[2020-02-25 20:03] saleemrashid commented on #264
Not to co-opt this issue, but it could be worth looking into sandboxing. As far as I know, `libsecp256k1` makes no syscalls, so you could use the strictest sandboxing policy. I think Google has some excellent open source, cross-platform sandboxing libraries, but they're for C++ (could be useful for seeing which APIs to use on each platform).

[2020-02-25 20:03] gtank opened #279 "Implement Sapling note hashing functions"
The *Sapling note commitment tree* depends on
- [x] **5.4.1.8** Mixing Pedersen Hash Function

and Sapling note commitments, themselves, which need
- [x] **5.4.1.7** Pedersen Hash Function
- [x] **5.4.7.2** Windowed Pedersen commitments

These are unrelated to the homomorphic Pedersen commitments used for value commitments, which are described in section 5.4.7.3.

Rust implementations of these pri

[2020-02-25 20:04] gtank commented on #274
Related: https://github.com/ZcashFoundation/zebra/issues/279

[2020-02-25 20:11] hdevalence commented on #264
Sandboxing seems great, but unfortunately I don't think that we have resources to do it in the medium term.  I don't feel great about C libraries in general, but I feel that of all C libraries that a Rust project might use, this one is relatively less risk than others.

[2020-02-25 20:21] dconnolly commented on #268
https://zips.z.cash/protocol/protocol.pdf#transparentkeyencoding

[2020-02-25 20:22] dconnolly commented on #268
![image](https://user-images.githubusercontent.com/552961/75284338-98712a00-57e2-11ea-89aa-507f7a14a994.png)

https://zips.z.cash/protocol/protocol.pdf#transparentaddrencoding

[2020-02-27 20:17] dconnolly commented on #27
No, message roundtrips have not been fully covered by proptests yet.

[2020-02-28 18:20] #264 closed, assigned to dconnolly

[2020-03-03 18:18] dconnolly opened #286 "Implement Sapling note commitment tree"
We need a note commitment tree implementation for both Sprout and Sapling, even when checkpointing on Sapling activation, because we need to accumulate the correct tree state up to Sapling activation in order to validate V4 Sprout-on-Groth16 proofs.

We may want to adapt the implementation in librustzcash to fit our needs.

Depends on #273

Related to #36 (Sprout note commitment tree)

[2020-03-03 18:27] dconnolly opened #287 "Sprout Nullifier"
https://zips.z.cash/protocol/protocol.pdf#nullifierset

[2020-03-03 18:27] dconnolly opened #288 "Sapling Nullifier"
https://zips.z.cash/protocol/protocol.pdf#nullifierset

[2020-03-03 18:30] dconnolly opened #289 "Nullifier Set"
Seems like this can be generic between Sprout and Sapling?

https://zips.z.cash/protocol/protocol.pdf#nullifierset

[2020-03-03 18:46] dconnolly opened #290 "Treestate type"
Sprout and Sapling use different hashes but we can be generic over that.

![image](https://user-images.githubusercontent.com/552961/75808622-62d5bf00-5d55-11ea-907f-ee1dbc7244a2.png)

![image](https://user-images.githubusercontent.com/552961/75808732-94e72100-5d55-11ea-8a3b-bcb9f363f05f.png)

![image](https://user-images.githubusercontent.com/552961/75808917-dd9eda00-5d55-11ea-846a-7b7e9bf066d5.pn

[2020-03-04 18:15] hdevalence opened #292 "Naming consistency in transaction fields."
Per https://doc.zebra.zfnd.org/zebra_chain/transaction/index.html, the sub-structures of transaction fields are inconsistently named: on the one hand, there's `JoinSplit` representing a JoinSplit Description, and on the other hand, there's `SpendDescription`/`OutputDescription` representing spend and output descriptions.

Two ways to fix this:

1. Rename `SpendDescription` → `Spend` and `OutputDes

[2020-03-04 18:25] hdevalence opened #293 "Update docs to have mini-zebra favicon"
The main Zebra logo scales poorly to small sizes because the zebra stripes are too fine, so it's hard to use in a favicon (scaling it down hits the nyquist limit). We now have a better favicon, and we should set it in the docs.

[2020-03-10 17:35] dconnolly opened #297 "Check block subsidy (miner and founder's reward) rules as part of validation"
![image](https://user-images.githubusercontent.com/552961/76341799-ea7e7900-62d3-11ea-8528-f8dd5afac025.png)

https://zips.z.cash/protocol/protocol.pdf#subsidyconcepts
https://zips.z.cash/protocol/protocol.pdf#blockchain
https://zips.z.cash/protocol/protocol.pdf#subsidies

See #338 for the specific calculations.

[2020-03-10 17:46] dconnolly opened #298 "Validate that only the first transaction in a block is a coinbase transaction"
![image](https://user-images.githubusercontent.com/552961/76342227-a2138b00-62d4-11ea-99d9-4e0ad637763f.png)

https://zips.z.cash/protocol/protocol.pdf#coinbasetransactions

We'll need to check:
1. there is at least one transaction in the block
2. the first transaction in the block is a coinbase transaction
3. there are no other coinbase transactions in the block

Checks 1 and 2 are already implem

[2020-03-10 17:53] hdevalence opened #299 "Implement FromStr for hash types"
Run through the source and figure out what types it would be useful to have `FromStr` implemented for (e.g., `BlockHeaderHash`, etc), then implement it.

[2020-03-10 18:06] dconnolly opened #300 "Implement Sprout key derivation"
![image](https://user-images.githubusercontent.com/552961/76344646-4ba84b80-62d8-11ea-9388-8298a48f12f7.png)

Not required for mere validation.

https://zips.z.cash/protocol/protocol.pdf#abstractkdf

[2020-03-10 18:07] dconnolly opened #301 "Implement Sapling shared secret key derivation"
![image](https://user-images.githubusercontent.com/552961/76344733-709cbe80-62d8-11ea-8421-f343f931754d.png)

Not required for mere chain validation.

See librustzcash for example. https://github.com/zcash/librustzcash/blob/master/zcash_primitives/src/zip32.rs

https://zips.z.cash/protocol/protocol.pdf#abstractkdf

[2020-03-10 18:17] dconnolly opened #302 "Pull in/wrap JubJub Diffie-Hellman for Sapling key agreement"
![image](https://user-images.githubusercontent.com/552961/76345466-caea4f00-62d9-11ea-9735-22177933d8ec.png)

Look at librustzcash for example.

https://zips.z.cash/protocol/protocol.pdf#concretesaplingkeyagreement

[2020-03-10 18:19] dconnolly opened #303 "Pull in/wrap Curve25519 for Sprout key agreement"
![image](https://user-images.githubusercontent.com/552961/76345654-1d2b7000-62da-11ea-8d91-8464338b3d0e.png)

Probably curve25519-dalek

https://zips.z.cash/protocol/protocol.pdf#concretesproutkeyagreement

[2020-03-10 18:43] dconnolly opened #304 "Expose proof validation for BCTV14 type"
Expose validation on our Bctv14 type. If we come across a BCTV14 proof during validation, we should panic or error. In the checkpoint verifier, we should be only checking hashes, so if we've gotten to calling down to validating the old-type proof, we've done something wrong.

https://github.com/ZcashFoundation/zebra/blob/main/zebra-chain/src/proofs/bctv14.rs

https://zips.z.cash/protocol/protocol.

[2020-03-10 18:45] dconnolly opened #305 "Implement verifiers that accept Groth16 types"
Require bellman or bellman community, validators can accept our Groth16 types and validate them, with batching or without.

https://github.com/ZcashFoundation/zebra/blob/main/zebra-chain/src/proofs/groth16.rs

![image](https://user-images.githubusercontent.com/552961/76347925-c758c700-62dd-11ea-93c4-4ad37f834522.png)

https://zips.z.cash/protocol/protocol.pdf#groth

[2020-03-10 19:03] dconnolly opened #306 "Pull in/tidy up SIGHASH"
See [sighash.rs in librustzcash](https://github.com/zcash/librustzcash/blob/master/zcash_primitives/src/transaction/sighash.rs).

Basically as a library function that will then be called by a hashing method on `Transaction` type as needed, if not hashing the entire transaction, as appropriate.

![image](https://user-images.githubusercontent.com/552961/76349224-fc661900-62df-11ea-9caa-0317c91578a0.

[2020-03-10 19:19] hdevalence opened #307 "Investigate version field in block 434873"
The [Zcash specification]( https://zips.z.cash/protocol/protocol.pdf#blockheader) says that the current and only `version` field for block headers is `4`.  When trying to download and parse the chain, we fail at block 434873, due to a bad version field. Investigating with `zcash-cli` reveals a strange version field, not just a problem with our code:

[code]

[2020-03-10 19:58] tarcieri commented on #307
The two numbers are mirror images of each other in binary:

| Base 10 | Base 2 |
|---------|--------|
| 4 | `00000000000000000000000000000100` |
| 536870912 | `00100000000000000000000000000000` |

[2020-03-10 20:04] hdevalence commented on #307
Interesting. I'm confused on two points:

1. What would cause bit-reversal of the field, if it wasn't intentional;

2. Why this is accepted by Zcashd.

On (2), @str4d [points out](https://twitter.com/str4d/status/1237468725747396608):

[2020-03-10 20:17] hdevalence opened #308 "Change block header parsing to relax version requirements."
#307 fails because one block has a bad version field. The spec says that the only defined version for Zcash blocks is 4; apparently this does not mean that the only *allowed* version is 4.  Per https://github.com/ZcashFoundation/zebra/issues/307#issuecomment-597287298 we should check that the high bit is unset and allow any random number to be included in the `version` field.  This seems like it m

[2020-03-10 20:19] dconnolly commented on #307
\- @str4d

https://twitter.com/str4d/status/1237471089942360064

[2020-03-10 21:04] str4d commented on #308
The version field does have a modicum of constraint, specifically, `nVersion >= +4`:

https://github.com/zcash/zcash/blob/2a6be9fd197bf29f92d1ada748bc2dbd19c3040c/src/main.cpp#L3767-L3770

https://github.com/zcash/zcash/blob/63c3d1ec9435b445a883028b9111595ffa9292d4/src/consensus/consensus.h#L11-L12

Correct! At best it can currently only indicate "standard interpretation".

[2020-03-11 15:26] hdevalence commented on #307
There are 4,015 such blocks (up to height 756,600), all with the version field set to the bit-reversal of `2u32`.  For reference, a list of all of the blocks is available in [this gist](https://gist.github.com/hdevalence/30ce0674ce1b7d27221a975d9d2b6ef9), generated with

[code]

[2020-03-11 18:19] gtank commented on #307
The pool producing these blocks is [AntPool](https://v3.antpool.com/home) and the mechanism does seem to be the Stratum mismatch noted by @str4d. They are in violation of the Zcash protocol spec, and have been since block 434873 in November 2018.

![image (4)](https://user-images.githubusercontent.com/622063/76449592-bd4ccc00-63a2-11ea-8af1-487f01d1c678.png)

Upon investigation, it turns out that

[2020-03-12 19:08] dconnolly commented on #28
Poll::Pending ➡️ Poll::Ready

[2020-03-12 19:12] dconnolly commented on #139
Some of this exists in the tests stub, also the `seed` command is already doing a lot of stuff. For now, blocked on having chain state management (aka 'storage').

[2020-03-12 19:22] hdevalence commented on #137
To figure out whether #195 is a duplicate, we should figure out what types need to be serialized.  One option we could consider is to add Serde bounds to the `ZcashSerialize`/`ZcashDeserialize` traits, but conceptually those are really different kinds of serialization (internal vs external) so it may not be good to mix them (especially if we split out our zcash serialization traits into a separate

[2020-03-12 19:25] dconnolly commented on #219
This is definitely a nice to have, but not a hard requirement. Closing for now, hopefully we can come back and do this optimization of memory layout etc.

[2020-03-12 19:25] #219 closed, assigned to dconnolly

[2020-03-12 19:27] hdevalence commented on #98
I'm not sure whether we actually even respect `RUST_LOG` any more or whether that was lost in the process of upstreaming our tracing component. We should check.

[2020-03-12 19:29] hdevalence commented on #98
Update: it doesn't. See https://github.com/iqlusioninc/abscissa/pull/154#issuecomment-559244285

Fixing this issue should also include a PR to Abscissa that adds `RUST_LOG` support.

[2020-03-12 19:32] dconnolly commented on #201
We're going to leave this open for a little while longer to see our dependencies and crates shake out.

[2020-03-12 19:34] hdevalence commented on #98
Upstream issue: https://github.com/iqlusioninc/abscissa/issues/228

[2020-03-12 19:44] dconnolly commented on #225
It doesn't seem like this is being thrown anymore on `Transaction` on main branch, closing.

[2020-03-12 19:44] #225 closed, assigned to nobody

[2020-03-12 20:23] #251 closed, assigned to dconnolly

[2020-03-13 02:02] #268 closed, assigned to dconnolly

[2020-03-19 01:34] #307 closed, assigned to nobody

[2020-03-19 19:07] dconnolly commented on #123
As  part of our Sprout key/address work, we're bringing in x25519_dalek and using *Secret and PublicKey types; the joinsplit ephemeral key type here should probably  a `x25519_dalek::PublicKey`

[2020-03-19 19:19] dconnolly opened #313 "Refine JoinSplit ephemeral keys to be x25519_dalek::PublicKeys"
We're pulling in dalek elsewhere for these types too.

[2020-03-19 19:43] hdevalence commented on #308
not sure why this didn't get autoclosed

[2020-03-19 19:43] #308 closed, assigned to hdevalence

[2020-03-19 19:46] hdevalence commented on #299
This is partially done in #311 (`BlockHeaderHash`). Which other hash types should we provide an impl for?

[2020-03-19 19:47] dconnolly commented on #244
Closed by #246

[2020-03-19 19:47] #244 closed, assigned to hdevalence

[2020-03-19 19:50] dconnolly commented on #299
`TransactionHash`, `SaplingNoteTreeRootHash`, `MerkleTreeRootHash` also exist

[2020-03-19 19:56] hdevalence commented on #299
@dconnolly what do you think of the following: add `FromStr` for `TransactionHash`, then whenever we add a nicer `Debug` impl for other hash types, we add a `FromStr` impl for it.

[2020-03-19 19:56] dconnolly commented on #299
Sounds good to me!

[2020-03-19 20:00] dconnolly commented on #267
This is relevant to #265 and #266 work in progress.

[2020-03-19 22:41] str4d commented on #267
Note that we haven't actually implemented Sprout HD derivation. We defined it for completeness, but @daira and I are considering removing it, and instead deprecating Sprout address generation in zcashd.

[2020-03-19 22:43] str4d commented on #267
That said, if you do want to be able to generate Sprout address, HD generation from the same seed as Sapling addresses makes the most sense.

[2020-03-20 21:09] daira commented on #253
Don't forget the appendices! You can probably pull in all of Appendix A as a dependency on [zcash_proofs](https://github.com/zcash/librustzcash/tree/master/zcash_proofs), but there's also batching in Appendix B. (Granted that is not needed for a minimal implementation, but you'll want to prepare for it.)

[2020-03-20 21:23] daira commented on #253
Also remember that consensus ZIPs are part of the spec:

(moved to ticket description, so we don't forget them)

[2020-03-25 17:33] dconnolly opened #318 "Implement transaction binding signature verification key"
![image](https://user-images.githubusercontent.com/552961/77567128-16d1f200-6e9d-11ea-913c-92e45f651e9e.png)

https://zips.z.cash/protocol/protocol.pdf#saplingbalance

Resolved in https://github.com/ZcashFoundation/zebra/blob/cfc339e8ea558f0f5cd4cb117160ab3f2c542ce0/zebra-consensus/src/transaction.rs

[2020-03-25 17:38] hdevalence commented on #318
There's an interaction to think through with the `redjubjub` API, since the procedure for creating the binding signature keypair involves manually constructing some scalars and group elements, but the `redjubjub` API doesn't expose those details.

[2020-03-25 17:44] dconnolly opened #319 "Implement spend authorization signing."
![image](https://user-images.githubusercontent.com/552961/77568041-64029380-6e9e-11ea-9cb1-0f41a4cb7aad.png)

Randomizer can be done with redjubjub, that has to be then handed to our prover.

https://zips.z.cash/protocol/protocol.pdf#spendauthsig

[2020-03-25 18:36] dconnolly opened #320 "Create a Spend Proof"
![image](https://user-images.githubusercontent.com/552961/77572773-f22e4800-6ea5-11ea-8351-b25d225b08ea.png)
![image](https://user-images.githubusercontent.com/552961/77572844-138f3400-6ea6-11ea-9b17-339cffb0eb04.png)

https://zips.z.cash/protocol/protocol.pdf#spendstatement

[2020-03-25 18:37] dconnolly opened #321 "Create Output Proof"
![image](https://user-images.githubusercontent.com/552961/77572863-1d189c00-6ea6-11ea-81dc-51f1970ce14a.png)
https://zips.z.cash/protocol/protocol.pdf#outputstatement

[2020-03-25 18:39] dconnolly opened #322 "Validate JoinSplit proofs"
![image](https://user-images.githubusercontent.com/552961/77573033-6f59bd00-6ea6-11ea-97c0-a81c05be6d98.png)

https://zips.z.cash/protocol/protocol.pdf#joinsplitstatement

Luckily we can use the Sprout JoinSplits in old transaction/block test vectors to exercise this.

[2020-03-25 18:40] hdevalence commented on #305
Because there are multiple proof statements, but only one `Groth16Proof` type, I think we will have to have each verifier call the `bellman` API rather than wrapping verification into a `Groth16Proof` method. So it may make sense to recast this issue as the work required to have all of the infrastructure for using proof verification data.

[2020-03-25 18:42] dconnolly opened #323 "Validate Spend Proofs"
![image](https://user-images.githubusercontent.com/552961/77573173-a4660f80-6ea6-11ea-8420-f590ea92a745.png)
https://zips.z.cash/protocol/protocol.pdf#spendstatement

[2020-03-25 18:43] hdevalence commented on #304
For the reason described here: https://github.com/ZcashFoundation/zebra/issues/305#issuecomment-604016390 I think it doesn't make sense to have this be a method, so I don't think that there's a work item to do here.  The proof types are fixed by the transaction version enum, so we can't come across a BCTV14 proof except with an old tx version, and those will have to be rejected for other consensus

[2020-03-25 18:43] #304 closed, assigned to nobody

[2020-03-25 18:44] dconnolly opened #324 "Validate Output Proofs"
![image](https://user-images.githubusercontent.com/552961/77573446-14749580-6ea7-11ea-9a03-a0ad33e246e3.png)

https://zips.z.cash/protocol/protocol.pdf#outputstatement

[2020-03-25 18:51] hdevalence commented on #305
To verify proofs we will need to have some mechanism for loading the verification data. Notes from digging through stuff with @dconnolly:

- Groth16 proof verification is done by [`bellman::groth16::verify_proof`](https://docs.rs/bellman/0.6.0/bellman/groth16/fn.verify_proof.html), which takes a `PreparedVerificationKey`.
- `zcash_proofs/src/lib.rs` has a `load_parameters` function, which notes:

[2020-03-25 18:51] hdevalence commented on #305
cc @str4d @daira -- is that reasoning correct, or did we miss something?

[2020-03-25 18:52] hdevalence commented on #322
xref: https://github.com/ZcashFoundation/zebra/issues/305#issuecomment-604021604

[2020-03-25 18:52] hdevalence commented on #323
xref: https://github.com/ZcashFoundation/zebra/issues/305#issuecomment-604021604

[2020-03-25 18:53] hdevalence commented on #324
xref: https://github.com/ZcashFoundation/zebra/issues/305#issuecomment-604021604

[2020-03-25 19:01] dconnolly opened #325 "Block Chain Scanning"
EDIT: DO IT IN ZEBRA-CLI VERY SIMILAR TO BLAZE SYNC IN ZECWALLET LITE: https://github.com/adityapk00/zecwallet-light-cli/blob/39e59a417ccaf4ca08933166c15d5c3878599349/lib/src/blaze/trial_decryptions.rs

Maybe we'll do Sprout? Maybe say you have to build zcashd to get your balance out to transparent. But we are doing Sapling. And definitely Orchard.
Not required for validation of the whole chain.

[2020-03-27 07:16] dconnolly opened #326 "On release, upgrade to sha2=^0.8.2"
https://crates.io/crates/sha2

[2020-03-27 19:35] daira commented on #305
That looks correct to me. (I'm making guesses about the format based on a brief skim of https://docs.rs/crate/bellman/0.6.0/source/src/groth16/mod.rs .)

[2020-03-28 06:42] #265 closed, assigned to dconnolly

[2020-03-28 06:42] #300 closed, assigned to nobody

[2020-03-28 06:42] #303 closed, assigned to nobody

[2020-03-28 10:09] daira commented on #303
Was this ticket intended to include note encryption? I don't see any implementation [here](https://github.com/ZcashFoundation/zebra/blob/main/zebra-chain/src/note_encryption/sprout.rs).

[2020-03-28 10:11] daira commented on #303
Oh that's #181. Just pulling in x25519_dalek is sufficient for key agreement. I was confused because the above quote from the spec includes the KDF, which is not done yet.

[2020-03-31 17:48] dconnolly opened #329 "Abstract MerkleCRH^Sprout Hash Function into its own function"
![image](https://user-images.githubusercontent.com/552961/78058389-3a41e480-7356-11ea-8336-dfeb32277b39.png)

https://zips.z.cash/protocol/protocol.pdf#sproutmerklecrh

[2020-03-31 17:49] dconnolly opened #330 "Abstract MerkleCRH^Sapling Hash Function into its own function"
![image](https://user-images.githubusercontent.com/552961/78058484-59d90d00-7356-11ea-9074-8c9905da0993.png)

https://zips.z.cash/protocol/protocol.pdf#saplingmerklecrh

[2020-03-31 17:50] dconnolly commented on #330
Depends on our Pedersen hash function: #334

[2020-03-31 17:54] dconnolly opened #331 "Abstract out h_Sig hash function for sprout joinsplit verification"
![image](https://user-images.githubusercontent.com/552961/78058969-1c28b400-7357-11ea-85b4-a008ce1468cf.png)

https://zips.z.cash/protocol/protocol.pdf#hsigcrh

We have pulled in blake2 for Sapling key derivation already. 👍

[2020-03-31 17:59] dconnolly opened #332 "Abstract out the CRH^ivk hash function for Sapling incoming viewing key derivation"
![image](https://user-images.githubusercontent.com/552961/78059382-c0125f80-7357-11ea-9c9e-c945f5f7f721.png)

https://zips.z.cash/protocol/protocol.pdf#concretecrhivk

This is already implemented in #327 it just needs to be broken out into its own function.

[2020-03-31 18:05] dconnolly opened #333 "Abstract calling of jubjub::(grouphash) into DiversifierHash function"
![image](https://user-images.githubusercontent.com/552961/78059820-8aba4180-7358-11ea-9c14-a938621d96ba.png)

https://zips.z.cash/protocol/protocol.pdf#concretediversifyhash

[2020-03-31 18:14] dconnolly opened #334 "Pedersen Hash (at least for use in the Sapling merkle tree)"
There is stuff in librustcash that we can pull in. https://github.com/zcash/librustzcash/blob/master/zcash_primitives/src/pedersen_hash.rs

![image](https://user-images.githubusercontent.com/552961/78060648-e3d6a500-7359-11ea-96cd-0bc27c73adb9.png)

![image](https://user-images.githubusercontent.com/552961/78060676-eafdb300-7359-11ea-8943-e856ef96439e.png)
https://zips.z.cash/protocol/protocol.pdf

[2020-03-31 18:24] dconnolly commented on #279
#334

[2020-03-31 18:33] dconnolly opened #335 "Implement Equihash verification"
I'm guessing we pull this in either directly or copied and reworked from librustzcash: https://github.com/zcash/librustzcash/blob/master/zcash_primitives/src/block/equihash.rs

![image](https://user-images.githubusercontent.com/552961/78062323-855ef600-735c-11ea-9efe-00dc6f5a2486.png)
https://zips.z.cash/protocol/protocol.pdf#equihashgen

![image](https://user-images.githubusercontent.com/552961/7

[2020-03-31 18:46] dconnolly opened #336 "Pull in zcash_proofs"
https://github.com/zcash/librustzcash/tree/master/zcash_proofs

[2020-03-31 18:57] dconnolly opened #337 "ZIP-200: Network Upgrade Mechanism"
### Specification

https://zips.z.cash/zip-0200

### Tasks

#### Block and Transaction Validation

- [x] CONSENSUS_BRANCH_ID
- [x] ACTIVATION_HEIGHT
- [x] Activation mechanism
- [x] Block validation based on Network Upgrade Activation Height
- [x] Chain reorganization
- [x] Upgrading `zebrad` from a legacy version after Network Upgrade activation (#1820)
  - Potential Design: assert that the final

[2020-03-31 19:07] dconnolly opened #338 "Calc Block Subsidy and Funding Streams"
## Motivation

When validating blocks and transactions, we need to calculate the block subsidy.

### Specifications

https://zips.z.cash/protocol/protocol.pdf#fundingstreams

## Existing Work

Block Subsidy and Funding Streams Design RFC PR: #1129

Founders Reward Implementation PR: #1170

## Remaining Work

Semantic Validation RFC
- [ ] Since Zebra has a mandatory checkpoint at Canopy, we can ign

[2020-03-31 22:26] howardwu commented on #305
Since the Sapling spend and output parameters are of reasonable size, we deployed a crate [`wagyu-zcash-parameters`](https://github.com/AleoHQ/wagyu-zcash-parameters) that allows you to import the Sapling parameters natively into your Rust code. The README gives more context on how we do it (with Crates.io's size limit) and we've added this into wagyu ([Sapling transaction tests here](https://gith

[2020-03-31 22:31] howardwu commented on #305
As a quick note, the crate currently returns the data as buffers (`Vec<u8>`) and we verify the hash and construct Zcash semantic data structures in `wagyu`.

For those who want to replace the `load_parameters` function in `zcash_proofs`, they can reference how we do it in `wagyu` [here](https://github.com/AleoHQ/wagyu/blob/v0.6.3/zcash/src/transaction.rs#L130&L172).

[2020-04-05 02:25] dconnolly opened #345 "impl Mul<jubjub::ExtendedPoint> for jubjub::Fr and upstream."
So we can reverse this to match the math in the spec / general scalar mult notation convention.

[code]

![image](https://user-images.githubusercontent.com/552961/78465382-f0912b00-76c2-11ea-9443-77f613ca8aba.png)

[2020-04-09 19:34] dconnolly opened #346 "Impl Display for all Sapling keys and addresses"
This is the human-readable version of serialization.

[2020-04-09 19:43] dconnolly commented on #293
https://doc.rust-lang.org/rustdoc/the-doc-attribute.html#html_favicon_url

[2020-04-09 21:16] dconnolly opened #349 "Rename zebra-storage to zebra-state"

[2020-04-09 21:17] #292 closed, assigned to dconnolly

[2020-04-09 21:19] dconnolly opened #350 "Use a HashMap or something similar as a skeleton for storing chain state."
We will first be storing all chain state in memory only , and then be able to funnel that into on-disk storage later.

[2020-04-09 21:28] hdevalence commented on #350
I think this might be a dup of https://github.com/ZcashFoundation/zebra/issues/136 ?

[2020-04-09 21:30] dconnolly commented on #138
Probably not going to do this.

[2020-04-09 21:30] #138 closed, assigned to nobody

[2020-04-09 21:31] dconnolly commented on #350
Closing as a dupe.

[2020-04-09 21:31] #350 closed, assigned to nobody

[2020-04-09 21:32] dconnolly commented on #136
Use a HashMap or something similar as a skeleton for storing chain state, to start.

[2020-04-11 21:31] dconnolly commented on #313
x25519_dalek::PublicKey does not impl `PartialEq` or `Eq`...

[2020-04-13 18:48] hdevalence commented on #313
Do we need to have `PartialEq` for `JoinSplitDescription`s?  My sense is that in general use, it's not necessary to ever check equality, and if we need to check equality when doing property tests we could serialize as needed rather than carrying extra impls around.  At the highest level, someone might want to check equality of transactions, but we could special-case that by using transaction hashe

[2020-04-13 19:13] hdevalence commented on #346
Since there's a blanket impl of `ToString` for `Display` types, the `Display` impls should be paired with `FromStr` impls and have property tests that check `ToString/FromStr` round trips.

[2020-04-13 19:13] hdevalence commented on #346
(as an aside: writing that makes it really clear that `String` should have been called `StrBuf` :cry: )

[2020-04-13 19:20] hdevalence commented on #326
It looks like `0.8.1` is out already, do you mean `0.8.2` (or is that what you meant by `+`, and I'm just misunderstanding?)

https://crates.io/crates/sha2/0.8.1

[2020-04-13 19:26] dconnolly commented on #326
Yeah 0.8.2 and above 😅

[2020-04-13 19:32] #313 closed, assigned to dconnolly

[2020-04-15 04:27] dconnolly opened #356 "Impl Display/FromStr for all Sprout keys and addresses"
Since there's a blanket impl of `ToString` for `Display` types, the `Display` impls should be paired with `FromStr` impls and have property tests that check `ToString`/`FromStr` round trips.

[2020-04-15 04:31] dconnolly opened #357 "Impl ZcashSerialize/ZcashDeserialize for all Sprout keys/addresses with raw encodings defined."
https://zips.z.cash/protocol/protocol.pdf#sproutpaymentaddrencoding
https://zips.z.cash/protocol/protocol.pdf#sproutinviewingkeyencoding
https://zips.z.cash/protocol/protocol.pdf#sproutspendingkeyencoding

[2020-04-15 07:22] #356 closed, assigned to dconnolly

[2020-04-15 07:22] #357 closed, assigned to dconnolly

[2020-04-18 08:40] #266 closed, assigned to dconnolly

[2020-04-18 08:40] #332 closed, assigned to dconnolly

[2020-04-18 08:40] #333 closed, assigned to dconnolly

[2020-04-18 08:40] #346 closed, assigned to dconnolly

[2020-04-19 02:13] dconnolly commented on #302
Has already been pulled in. #361

[2020-04-19 02:13] #302 closed, assigned to dconnolly

[2020-05-12 13:20] kiminuo commented on #299
@dconnolly @hdevalence Would the commit above help?

PS: A macro would make the code shorter but current IDEs are mostly unhappy about them.

[2020-05-21 19:19] dconnolly opened #394 "`zebra seed` command is throwing a panic but keeps going fine?"
![image](https://user-images.githubusercontent.com/552961/82921787-ca5f6d00-9f46-11ea-95ae-4361f5dbc3f5.png)

[code]

[2020-05-21 19:29] dconnolly opened #395 "Create 'CONTRIBUTING.md'"
One example: https://github.com/atom/atom/blob/master/CONTRIBUTING.md

tl;dr: there are good issues to pick up labeled 'good first issue', issues on our critical path (ie, as part of our milestones) we want to do ourselves, until the project has stabilized.

[2020-05-22 15:53] #2 closed

[2020-05-24 00:01] tarcieri commented on #326
Prepping a v0.8.2 release here:

https://github.com/RustCrypto/hashes/pull/110

[2020-05-24 00:18] tarcieri commented on #326
It's out: https://crates.io/crates/sha2/0.8.2

[2020-05-24 01:32] #326 closed, assigned to dconnolly

[2020-05-26 16:22] yaahc commented on #394
[code]

So this is likely a background panic that is taking down the thread this service is running in and then not being properly propogated back to main, digging into how tower and services work to get an idea of where the panic is being discarded.

[2020-05-26 17:28] yaahc commented on #394
Okay so the issue is in `tower::buffer::Buffer` https://docs.rs/tower-buffer/0.3.0/src/tower_buffer/service.rs.html#46

It spawns the buffered future but discards the join handle immediately. I'm gonna open an issue and PR against tower and test out the PR against `zebra seed` via a patch in the toml.

[2020-05-27 00:07] yaahc commented on #394
Okay so that was only part of the issue, and not the main part. The main issue is that `zebra_network::init` spawns multiple futures in background threads and discards the join handles. Ideally we'd want to return the join handles so they can be awaited after the service is done running.

I'm worried that this will still leave room for futures to be dead in background threads for a long time befor

[2020-05-27 00:23] yaahc commented on #394
RE: using `panic=abort`

To quote @mystor

So we might want to add testing for `panic=unwind` in CI or something to ensure that everything is still well behaved if panics are handled rather than instantly bringing down the whole process.

[2020-05-27 00:35] yaahc commented on #394
My inclination is to do a mix of A) and C), Doing C handles panics and gives us the fast fail behaviour. A gives us proper error propagation which ensures that everything gets reported properly and covers situations where we don't care about failing asap.

[2020-05-27 22:49] yaahc opened #399 "fix `zebrad config > zebrad.toml` when zebrad.toml doesn't already exist"
`zebrad` is currently setup so that it can run without a config, but if the config is exists there are required fields. This causes issues when trying to create a config file. Running `cargo run -- config > zebrad.config` in `zebra/zebrad` causes the OS to immediately create an empty file to store the output of the command, but the output happens _after_ the application attempts to load the config

[2020-05-27 22:53] yaahc opened #400 "fix `unrecognized option help` on subcommands"
Currently if you try to print the help text for a zebrad subcommand it returns an error indicating the argument is unrecognized and helpfully prints the expected arguments, which includes `--help`...

![Screenshot from 2020-05-27 15-51-15](https://user-images.githubusercontent.com/1993852/83080056-13d8b680-a032-11ea-8362-827e2f77ac8e.png)

This is a bug.

[2020-05-27 22:55] yaahc commented on #400
this seems to be a worse issue than I thought...

![Screenshot from 2020-05-27 15-55-17](https://user-images.githubusercontent.com/1993852/83080224-847fd300-a032-11ea-94e8-94f91a7fa5b4.png)

[2020-05-27 22:57] yaahc commented on #400
more fun bugs, notice the log lines at the top of the file...

![Screenshot from 2020-05-27 15-56-57](https://user-images.githubusercontent.com/1993852/83080326-bee97000-a032-11ea-839f-613db8afd259.png)

[2020-05-28 19:42] dconnolly commented on #394
We did C) in #401, we are looking to do A) as part of a separate piece of work/issue.

[2020-05-28 19:42] #394 closed, assigned to yaahc

[2020-05-28 19:53] dconnolly commented on #289
Related to #287, #288

[2020-05-28 19:55] dconnolly commented on #290
We may not want to be generic over the treestate type, since there may be different logic between different zcash versions' treestates.

[2020-05-28 20:04] dconnolly commented on #95
Related to #399

[2020-05-28 20:17] dconnolly opened #405 "Export ed25519-zebra from zebra-chain, àla redjubjub"

[2020-05-28 20:17] dconnolly commented on #201
"If it's part of your api, you should export it." So we need to export ed25519-zebra. #405

[2020-05-28 20:17] #201 closed, assigned to hdevalence

[2020-05-28 20:18] dconnolly commented on #208
Related to #395

[2020-05-28 20:20] dconnolly commented on #336
Related to #305

[2020-05-28 20:21] dconnolly commented on #325
Depends on zebra-client existing.

[2020-05-28 20:25] dconnolly commented on #272
Don't need for strict validation, because it's needed to create or validate Sprout transaction memo fields.

[2020-05-28 20:27] dconnolly commented on #301
Related to #271

[2020-05-28 20:31] dconnolly commented on #196
Basically this will be complete when https://github.com/ZcashFoundation/zebra/milestone/2 is complete.

[2020-05-28 20:42] dconnolly opened #406 "Implement Groth16 batch verification optimizations"
https://zips.z.cash/protocol/protocol.pdf#grothbatchverify

This impl can be swapped out for calling out directly to Bellman when complete.

![image](https://user-images.githubusercontent.com/552961/83191004-5c12da00-a101-11ea-8387-7ce3b4ba66b9.png)
![image](https://user-images.githubusercontent.com/552961/83191025-6339e800-a101-11ea-916a-cb5478fb5280.png)

[2020-05-28 20:45] dconnolly commented on #305
Related: #406

[2020-05-28 20:47] dconnolly opened #407 "Implement a `RedJubjubVerifier` service"
Part of #196

[2020-05-28 20:48] dconnolly commented on #407
Related: https://github.com/ZcashFoundation/redjubjub/issues/30

[2020-05-28 20:50] dconnolly commented on #406
Part of #196

[2020-05-28 21:21] yaahc opened #408 "restructure `zebra_network::init` to propogate all errors back to the caller"
The current design of `zebra_network::init` spawns multiple background tasks via tokio. When spawning background tasks you have two options for handling errors, either handle them in the task or propogate them via the JoinHandle. The background handling is the current option we employ, where if the task ends in an error we print it to the terminal immediately and exit the task.

The downside of th

[2020-05-28 21:36] dconnolly commented on #394
A): #408

[2020-05-28 22:44] str4d commented on #406
https://github.com/zkcrypto/bellman/issues/31 is the upstream issue for this in bellman.

[2020-06-01 17:38] hdevalence commented on #136
#349 should be closed out before starting this.

[2020-06-01 17:40] hdevalence commented on #136
I think a good first step towards all of the required scaffolding would be to be able to store and retrieve blocks by hash.

[2020-06-02 19:24] hdevalence commented on #349
Will be closed by #414

[2020-06-02 19:45] yaahc opened #416 "replace `Box<Block>` with `Arc<Block>`"
following on to this, there should be an issue to replace `Box<Block>` with `Arc<Block>`

_Originally posted by @hdevalence in https://github.com/ZcashFoundation/zebra/pull/414/files_

[2020-06-02 21:16] hdevalence commented on #139
After #414 is merged, we can start with a rough pass of this.  The `start` command already exists, so we can start fleshing out its contents.

As for what it should do, currently the `connect` stub tries to download the block chain by setting the genesis block as the chain tip, uses a `Request::FindBlocks` to ask the network for following block hashes, attempts to download those blocks, and optimi

[2020-06-02 23:15] yaahc opened #418 "Add proptest for `AddBlock` <-> `GetBlock` roundtrip"
Similar to this test, it may be worthwhile to think about a proptest for Request::AddBlock/GetBlock pair, the property that we are testing being, if we successfully add a block, we should successfully get a block, for any valid `AddBlock`/`GetBlock` pair. This is a variant of testing ["there and back again"](https://fsharpforfunandprofit.com/posts/property-based-testing-2/#there-and-back-again), p

[2020-06-02 23:16] #349 closed, assigned to yaahc

[2020-06-03 01:14] hdevalence commented on #418
I wonder whether it might be better to hold off on doing property testing until we're a) further along in figuring out what the API should be and b) working on the "real" backend using whatever persistent storage system we choose.  At that point, we could do a much more sophisticated testing strategy:

1. Use the existing in-memory backend as a simulator for the persistent backend;
2. Write a data

[2020-06-03 01:26] teor2345 commented on #418
Here are two potential use cases for an in-memory backend:
1. I make Zcash transactions using a web wallet app, without access to persistent storage.
2. I make shielded Zcash transactions using an anonymous wallet app, without any disk traces.

In both cases, we'd probably need to do something like:
* trust a regular checkpoint block (hourly to daily)
* discard older blocks once they've been verif

[2020-06-03 07:42] teor2345 commented on #399
Should this issue be tagged "open to contributors" ?

[2020-06-03 08:11] #299 closed, assigned to kiminuo

[2020-06-03 18:12] hdevalence commented on #418
I think both of those cases aren't quite the target of `zebra-state`, since they're cases where an application wants to interact with the chain without having to keep a copy of the chain state protocol, so rather than using `zebra-state` it might be better for them to use a light client protocol instead, which is aimed more at the wallet use case.

[2020-06-03 18:25] hdevalence commented on #406
@str4d do you think it would make sense to have the upstream bellman api provide a conventional, synchronous batch verification API, and for us to create a `bellman-async` crate in our workspace that provides the async tower-based API with tower, tokio dependencies etc.?

It could of course be upstreamed later, but the advantage is that it decouples the Zebra work from the Bellman work, since the

[2020-06-03 19:11] yaahc commented on #139
@hdevalence  can I get more elaboration on what this should entail and how this should be structured? I've started working on this in #422 and I have it so we can query blocks by height and it should be relatively easy to query the block with the largest height but I'm not sure what other tip state might be useful

Do we want to set this up similar to `zebra_network` where the `init` fn spawns som

[2020-06-03 19:20] hdevalence commented on #139
I think for a start it's enough just to be able to query for the current chain tip's block hash.

No, I think we'll want to do that outside of the `zebra_state` crate, since otherwise we'd need to have `zebra_state` depend on `zebra_network`... more generally, I think we want to keep the components driving the state changes separate from the state layer itself.

[2020-06-03 19:46] yaahc commented on #139
Okay, I added a query for the tip to #422, take a look and lmk what you think about it. I haven't added any tests but I'm assuming that's the next step for that PR, so that's what I'm going to start working on next.

Makes sense, I'll make that a follow up PR then once #422 is done.

[2020-06-03 21:51] dconnolly opened #423 "Automate assigning labels and projects and assignees appropriately."
https://help.github.com/en/github/building-a-strong-community/about-issue-and-pull-request-templates

[2020-06-03 22:31] teor2345 opened #425 "Explain that the zebra design doesn't support light wallets"
zebra-state can't be used to implement light wallets, because it keeps a copy of the chain state.

Would it help to make that design choice explicit in the design doc?

[2020-06-03 22:34] teor2345 commented on #418
Thanks, I opened issue #425 and PR #426 to document that design choice. (It wasn't clear to me in the docs, but that could just be because I'm new!)

[2020-06-04 09:47] teor2345 opened #428 "Tracking: block validation"
Create a block validation service, which validates blocks and transactions. This service should perform semantic validation, before submitting blocks to the state for contextual validation.

Used by the block fetching and validation service in #140.

- [x] Parallel verification design #763
- [x] Create a high-level wrapper service dispatching to either checkpoint or full validation #691
- [x] Crea

[2020-06-04 09:47] teor2345 opened #429 "Block checkpointing service."
Create a checkpointing block validation service, which validates blocks by checking their block header hashes against a list of known checkpoints. This service should not depend on chain state.

As an optimisation, the known checkpoint list should contain intermediate checkpoints of every Nth hash (N ~= 500). To accommodate chain reorgs, the final hash should be at least 100 hashes behind the tip

[2020-06-04 17:38] #425 closed, assigned to teor2345

[2020-06-04 18:38] hdevalence commented on #418
@teor2345 Yeah, I think part of the problem with the explanation in the docs is that we have on the one hand zebrad which is supposed to do a bunch of fullnode stuff, and components (like `zebra-network` or `zebra-chain`) that don't actually require full node state and are conceivably useful outside of that context. But in the latter case, because we're not finished with them and don't have clear

[2020-06-04 19:12] hdevalence commented on #429
To populate the checkpoint hash list, we can use a local copy of `zcashd`; the `zcash-cli` tool can be used to get block hashes like so:
[code]
The output needs to be passed through `zebrad revhex` since it's given in reversed order to what the Zebra internals expect.

I'm not exactly sure how things should be structured internally but I think it makes sense to separate the list of hashes into two

[2020-06-04 19:57] hdevalence commented on #428
So far we've been trying to do parsing *as* validation, by making the internal representation of the chain data structures enforce all of the structural constraints (for instance, a version 1 transaction cannot have snarks, a version 4 transaction has a binding signature iff it has spend or output descriptions, etc.).  This means that any data that comes in over the wire is already immediately che

[2020-06-04 22:18] dconnolly commented on #37
Closed as done (I think???)

[2020-06-04 22:18] #37 closed, assigned to hdevalence

[2020-06-04 22:34] dconnolly commented on #52
This is 'done' by #295 , there may be an edge case if version changes happen in the future.

https://github.com/ZcashFoundation/zebra/pull/295#discussion_r388549034

[2020-06-04 22:34] #52 closed, assigned to gtank

[2020-06-04 22:37] dconnolly commented on #27
The bulk of the message ser/de work is covered by the structs included in those messages, which are fully covered by proptests in zebra-chain.

[2020-06-04 23:16] teor2345 commented on #428
We spoke about two possible designs for the block contextual validation service:
1. a future that validates then commits the block to the state
2. a future that validates the block, and then returns a new type ContextuallyValid<Block, Network, State>

Option 1 seems simpler, because the validation service already needs to know about the state for contextual validation.

We need to make these valid

[2020-06-05 01:32] teor2345 commented on #196
I think there are a few different levels of context:
- semantic verification - no context
- network verification - only needs to know the network
  - for example: checking the embedded network type in the address
- transaction set verification - needs to know the other transactions in the block or state
  - for example: double-spend checks
- full contextual verification - needs to know the whole c

[2020-06-05 01:33] teor2345 commented on #428
(From #196.)

I think there are a few different levels of context:
- semantic verification - no context
- network verification - only needs to know the network
  - for example: checking the embedded network type in the address
- transaction set verification - needs to know the other transactions in the block or state
  - for example: double-spend checks
- full contextual verification - needs to kn

[2020-06-05 02:34] #98 closed, assigned to yaahc

[2020-06-05 02:34] #399 closed, assigned to nobody

[2020-06-05 04:36] #416 closed, assigned to yaahc

[2020-06-05 05:48] daira commented on #406
Well, we should probably decide first how we want the work split up. As described in the spec, batch validation uses a set of accumulator variables that are updated for each batch entry, and a final check. The batch entries can presumably be submitted from multiple threads. Do we want most of the work for each batch entry update –i.e. the Miller Loop and multiplications by z_i– to be done on the t

[2020-06-05 06:38] daira commented on #406
The simplest API that is compatible with any approach to concurrency in the code that uses it, is that you have a method to submit a batch entry and a method to finish the batch. These are allowed to be called from multiple threads; attempting to submit a new entry after the batch has been finished will fail. The finish method synchronously returns the verification result. You can easily wrap this

[2020-06-05 07:04] daira commented on #406
Yeah the more I think about this, the more I like the completely synchronous option but with the Miller Loop etc. done when constructing a batch entry, rather than by the batch accumulator itself. For a start it's easier to test.

[2020-06-05 07:18] daira commented on #428
Is it necessary to distinguish between semantic and network validity? You always know the network when you're semantically validating, I think.

[2020-06-05 08:06] teor2345 commented on #428
It's useful to know which checks are conditional on the network. But I'm not sure if we'll put those services in different modules. Passing a Network argument may be enough.

[2020-06-05 17:11] hdevalence commented on #428
It might be preferable to pass a `Network` argument to the service constructor and maintain it as part of the verification context, rather than passing it to `Service::call`, which would require changing the `Request` type to be a tuple.

[2020-06-05 17:17] hdevalence commented on #406
@daira What's the benefit to being able to update batch entries from multiple threads, rather than letting the API user compose the batch structure with their choice of synchronization primitive?  For instance, for our application, we would get no benefit from internal synchronization, because we're already using message-passing to the wrapper `Service`.  I think this points towards the second alt

[2020-06-05 17:23] hdevalence commented on #406
@daira Do you have a ballpark estimate (<1ms? 2-5ms? >10ms?) of how much work is involved in the Miller loop etc. required to construct a batch entry?

[2020-06-05 19:41] yaahc commented on #141
Is this still accurate / up to date? I'm looking at `zebra_network/src/protocol/internal/response.rs` which defines the `Response` type but it doesn't have `Ok` or `Error` variants on it as shown in the linked diff.

[2020-06-05 20:01] yaahc commented on #139
So it looks like the next step on this will be to create the sync component as mentioned here https://github.com/ZcashFoundation/zebra/issues/140. I'm going to start with taking the block downloading logic in the `connect` stub and break that out into an `abscissa` component.

I don't really know what to do about the validation bits, I'm guessing that those aren't implemented currently so my plan

[2020-06-05 20:22] yaahc commented on #160
it looks like `tracing-tower` hasn't been released yet and is only available via git rn, do we still want to go ahead with trying this now or do we want to wait until they make a release?

[2020-06-05 21:51] hdevalence commented on #139
One possibility would be to make a stub service using `service_fn` or something that does no-op validation, so that there's already a validation `Service` in play and later it can be replaced with the checkpointer @teor2345 is working on.

The `connect` command is going to be deleted, it's just a scratchpad basically that you can use to do stuff to zcashd and see what happens.  The `start` command

[2020-06-05 22:01] hdevalence commented on #160
Hmm, not sure. If it's only available via git, would we have to load the rest of `tracing` from git?

[2020-06-05 22:03] hdevalence commented on #141
Looks like this is probably stale then, closing it out.

[2020-06-05 22:03] #141 closed, assigned to yaahc

[2020-06-05 22:07] yaahc commented on #160
Yea, I had to do the same thing in my `tracing-flame` draft PR

[2020-06-05 22:43] dconnolly commented on #423
The issue and PR templates no longer do what I was led to believe they did, but I found a decent GitHub Action that should achieve the same goal with less reliance on making sure people created PRs and Issues with the correct templates. #437

[2020-06-05 23:22] dconnolly opened #439 "test"

[2020-06-05 23:24] #439 closed, assigned to nobody

[2020-06-06 18:40] dconnolly opened #443 "Test"

[2020-06-06 18:41] #443 closed, assigned to nobody

[2020-06-06 22:10] #405 closed, assigned to dconnolly

[2020-06-08 04:37] teor2345 opened #449 "Project/assign automation fails with "Parameter token or opts.auth is required""
It looks like the Project/assign automation in PR #441 doesn't work for me, I see:
[code]
in https://github.com/ZcashFoundation/zebra/pull/448/checks?check_run_id=748611278

[2020-06-08 04:42] teor2345 commented on #428
I think a good design here has two separate state objects:
  - the chain state, as implemented in ZebraState
  - the mempool state, let's call it ZebraMempool
I've documented this design as part of #448.

[2020-06-08 04:45] teor2345 commented on #139
I've started working on a validation stub in #448. At the moment, I just have the message types. But I could implement the service so it just adds the blocks to the state?

I'll also need a separate state for the transaction mempool, but that's out of scope right now.

[2020-06-08 15:30] dconnolly commented on #449
I think I'm going to tear this out, it doesn't work on external prs because of permissions and should never 'fail a build' if it breaks.

[2020-06-08 15:41] dconnolly commented on #449
Try this instead
https://github.com/apps/project-bot

[2020-06-08 17:14] yaahc commented on #139
This seems like a good idea to me, I think we're going to need this stub service right away.

[2020-06-08 22:27] teor2345 commented on #429
Added extra tests and questions based on zcashd's fake chain detection in https://electriccoin.co/blog/new-release-2-1-0/

[2020-06-08 23:48] teor2345 opened #452 "Handle chain reorganisations"
Edit:

See PR #763 for the latest design, which avoids chain reorganisations by storing all the tips in memory.

-----

Depends on block validation #428 and maybe block checkpointing #429.

Here's a draft API for chain reorganisation:

Most ZebraState users will want the following current chain API:
* GetTip() -> hash
  * returns the tip for the current chain
* GetHashAtHeight(height) -> hash
  *

[2020-06-08 23:48] teor2345 commented on #139
I'll try to get a stub written today.

[2020-06-09 01:03] #449 closed, assigned to dconnolly

[2020-06-09 11:23] teor2345 opened #453 "Tracking: require docs in all Zebra crates"
## Motivation

Some Zebra modules have `!#[deny(missing_docs)]`, and some don't.

## Solution

Let's require docs in all modules, so we don't forget to document our code.

### Public API

- [x] tower-batch
- [x] tower-fallback
- [x] zebra-chain
  - [ ] primitives/zcash_history (due to `big_array!`)
  - [x] #908
- [x] zebra-client
- [x] zebra-consensus
  - [ ] block::VerifyBlockError
  - [ ] checkp

[2020-06-09 18:21] yaahc commented on #453
Similarly, I think it might be a good idea to go over the available lints provided by rustc and clippy as part of a gardening session from time to time to see if there are other lints we'd want to enable across all our crates.

[2020-06-09 19:24] #408 closed, assigned to yaahc

[2020-06-09 19:33] hdevalence commented on #429
Regarding the further questions: I don't think that we need to add a minimum chain work check, since we're already checkpointing all the way up to Sapling activation and that's an enormous amount of work to fake.

[2020-06-09 19:44] hdevalence commented on #27
@dconnolly just to clarify, this is reopened as an open-to-contributors for anyone who wants to explicitly write out proptests for the message serialization, right?

[2020-06-09 19:47] dconnolly opened #454 "Go back to !experimental actions-rs/clippy check"
Then, make the Clippy check required to pass before PRs are available to merge to main.

[2020-06-09 19:48] hdevalence commented on #408
:tada: nice work on this!

[2020-06-09 19:56] dconnolly commented on #27
Correct, yes. 🙏

[2020-06-10 00:01] teor2345 commented on #453
Do we have a TODO list for gardening?
Or a rotating list?

If not, let's start one.

[2020-06-10 18:21] dconnolly opened #462 "Upgrade sha2 usage to support version 0.9 API"
s/input/update/g : https://github.com/RustCrypto/hashes/compare/sha2-v0.8.2...sha2-v0.9.0#diff-81a2577a0d41ed4526aa9c2b8cec041cR74

s/result/finalize/g: https://github.com/RustCrypto/hashes/compare/sha2-v0.8.2...sha2-v0.9.0#diff-a9b1267dc914344f32ace567b3ea9a6aR42

[2020-06-11 22:21] teor2345 opened #466 "Design network integration test framework for Zebra"
Let's create a network integration test framework for Zebra, so we can do internal testing of consensus and sync behaviour. Some of these tests should be run during CI.

Test Goals:
- zcashd compatibility
- focus on behaviour that's hard to unit tests: network, sync, chain, consensus
- minimal viable product

Some Possible Design Ideas:
- [ ] launching tests from cargo (@dconnolly  ?)
- [x] making

[2020-06-11 23:01] dconnolly opened #467 "Upgrade ripemd160 usage to support version 0.9 API"
s/input/update/g : https://github.com/RustCrypto/hashes/compare/ripemd160-v0.8.0...ripemd160-v0.9.0#diff-5c71a510a1a91775bbb0fa17b1678012R13

s/result/finalize/g: https://github.com/RustCrypto/hashes/compare/ripemd160-v0.8.0...ripemd160-v0.9.0#diff-5c71a510a1a91775bbb0fa17b1678012R17

[2020-06-12 05:31] teor2345 opened #468 "Check cargo dev-dependency feature interactions"
[code]
I think this _might_ have negative interactions with the features that are enabled when not using dev-dependencies. AFAIK this bug in cargo was fixed in nightly recently so its probably fine but we might want to open an issue to verify that we're not pulling in more of tokio than wanted when compiling just `zebra-concensus` without tests

_Originally posted by @yaahc in https://github.com/Z

[2020-06-12 16:44] hdevalence commented on #468
I think we use `features = ["full"]` in zebrad anyways, so i'm not sure we end up saving anything regardless of the dev-dependency interactions.

[2020-06-12 17:54] yaahc commented on #468
I'm not worried about the `zebrad` case or even this as an issue short term, just that eventually someone could write an application that uses `zebra-concensus` as a library which also wants to limit what features they enable from tokio. In all likelyhood the fixes to the feature resolver will merge before this happens so we should definitely not focus on this issue.

[2020-06-12 18:00] yaahc commented on #139
Okay so my next step on this is going to be to take the code in `connect` as a starting point for the new `start` subcommand, and then modify it to use the `zebra-consensus` stub instead of pushing directly into the state service.

Once I've got that setup I need to pick a next step. I'm thinking I could either work on modifying the `in_memory` state backend to handle multiple blocks of the same h

[2020-06-12 18:20] hdevalence opened #470 "Common `Service` interface for batch processing."
We want to use futures to allow us to transparently perform batch processing of cryptographic data, as I described in [this post](https://www.zfnd.org/blog/futures-batch-verification/). Batch processing performs less work than the sum total of individual processing, but gives an all-or-nothing answer about the entire batch rather than individual items.  This makes it awkward to use, because conven

[2020-06-12 18:24] hdevalence commented on #139
Either seems fine to me.  My sense is that getting some kind of persistence is probably better to do first, since it "unlocks" more future work that we can do in parallel.

[2020-06-12 18:26] yaahc commented on #139
Okay, I'll focus on specing out a path to persistence, either via serde and in_memory or via an embedded DB library.

[2020-06-12 18:48] yaahc commented on #470
I really like this design but I don't understand this point:

I don't understand why you can't implement this same system without including the timeout and cloneable service parts into the `BatchRequest` itself. It seems like a service that is a `Buffer<Timeout<FlushPolicy, BatchService<S>>>` should still work with all of the desired features.

Part of this I expect is my lack of familiarity, look

[2020-06-12 19:00] daira commented on #470
Is the assumption that all entries have the same maximum latency?

[2020-06-12 19:47] hdevalence commented on #470
@yaahc Yes, something like that would probably work, although there might be a few other layers involved to transform the request type into a `BatchRequest`.  However, `Retry` requires a `Clone` service, so the inner service still needs to be `Clone` (each future needs to have a copy of the inner service to be able to send a `Flush` request after timeout).  This means that you'd need to have at le

[2020-06-12 20:39] yaahc commented on #470
Aah, I had thought that putting the `Timeout` behind the `Buffer` would fix that but looking at it I see that the timeout is owned by the future returned by `Timeout` and not part of the service itself.

Also, I think I understand why Retry wont work, it requires the `Request` is clone but we really need a `Retry` layer that produces a new request upon failure so it can send a `Flush`

[2020-06-12 20:47] hdevalence opened #471 "Add a `WeakCache` to `zebra_state`."
#416 and related issues moved to `Arc<Block>` and `Arc<Transaction>` everywhere.  The motivation for this change is that because this data doesn't change much, using `Arc`s gets us part of the way to a fancy interning implementation that only ever stores one copy of an immutable object (most commonly seen with string interning).  The other part is a way to ensure that we don't needlessly create mu

[2020-06-12 20:50] hdevalence commented on #471
@yaahc WDYT of this? One thing I'm not sure about is whether `get` should prune known-dead entries, which would require either `get` to take `&mut self` or to use interior mutability.

[2020-06-12 20:59] yaahc commented on #470
I'm not sure it's worth it but I'm still thinking about what changes could be made to make this more pluggable. I'm not super familiar with tower and how it all works still but it seems like we could get it to work if we had the following pieces:

* Change `Retry` to have a callback to create the follow up `Request` instead of just cloning the upstream request
* Change `Timeout` to have a callback

[2020-06-12 21:11] yaahc commented on #471
Does this mean that we don't expect to store all blocks in memory if we've requested them? I had expected that the storage would just read the state from disk on startup and commit snapshots of the in memory copy in the background. I'm guessing that this means that the actual plan is to minimize how much memory we use by storing all blocks that aren't actively in use exclusively on the disk.

One

[2020-06-12 21:35] hdevalence commented on #471
Yeah, I think there are currently 20-40GB of blocks already, so we definitely won't be able to store them all in memory.

I agree in general about not wanting to duplicate caching layers that already exist in a better way in the database layer, but I think that for this specific application (blocks and transactions), there's not much downside and a bunch of upside.  In terms of the upside, we woul

[2020-06-12 21:40] yaahc commented on #471
From the sled README:

![Screenshot from 2020-06-12 14-38-19](https://user-images.githubusercontent.com/1993852/84548402-61a02080-acba-11ea-9ec4-9510ac8b4c40.png)

I think if sled had this feature we could have it just deserialize directly into `Arcs` and presumably it would drop its own copies based on it's own cache policies which seems to be exactly what we'd want.

It might be worth asking spa

[2020-06-12 21:45] yaahc commented on #471
@spacejam :point_up:

[2020-06-12 21:48] hdevalence commented on #471
Yeah that sounds like exactly the kind of thing we'd want.  I don't see any related tracking issues on the repo, though, so this might be a useful small thing to do in the meantime.

[2020-06-12 22:03] yaahc commented on #471
Yea, it should be pretty easy I think so I don't see any reason to not implement this.

Where should this go though, relative to the `in_memory` stuff and `sled` backend. Sled looks like it just provides an interface to bytes on the disk, essentially, so it's API is pretty different from the stuff exposed by `in_memory::BlockIndex`

My first inclination is to put the `sled` db behind the `in_memor

[2020-06-12 22:05] yaahc commented on #471
theres also this, so it looks like it might already be possible to do this already, maybe?

https://github.com/spacejam/sled/blob/master/examples/structured.rs

edit: maybe not, this looks like a bunch of zero copy interfacing with the cache which doesn't seem useful to us

[2020-06-12 22:17] hdevalence commented on #471
@yaahc I wasn't thinking of the `in_memory` backend at all here, since it's already an in-memory store and it's just for testing so performance or resource use doesn't matter.  With regard to the `sled` caching, I don't think that this layer should affect those parameters at all, since this cache doesn't actually store any data, it just keeps track of data that's already in use in some other part

[2020-06-12 22:26] yaahc commented on #471
What I meant was that the memory usage would still be duplicated for blocks that are being cached by both sled and active `Arc`s

[2020-06-13 03:38] dconnolly opened #474 "test"

[2020-06-13 03:41] #474 closed, assigned to nobody

[2020-06-15 03:16] teor2345 commented on #452
Section 3.3, Zcash Protocol Specification, https://github.com/zcash/zips/raw/master/protocol/protocol.pdf

[2020-06-15 04:46] teor2345 opened #477 "Tracking: block header validation"
As part of block validation (#428), we need to validate all the fields in the block header:

**Parsing**

- [x] version:
  - the block version number MUST be greater than or equal to 4.
- [x] solution_size:
  - fixed value of 1344.
  - validate during parsing (#478)
  - the solution size field is not present in zebra-chain's parsed Block struct.
  - Like other serialized fields of type compactSize

[2020-06-15 10:39] teor2345 opened #482 "Create large block and transaction test cases"
As part of block and transaction validation (#428), we'd like to test large blocks and transactions.

Since Sapling, the maximum block and transaction size is 2,000,000 bytes (MAX).

Note that the maximum size of a transaction is actually slightly lower, because the block also contains a block header, and a transaction count `compact size` field. This effective limit isn't documented in the spec.

[2020-06-15 11:05] teor2345 opened #483 "Limit generated block and transaction size"
When Zebra starts generating its own blocks and transactions, we should limit them to the maximum consensus block size (2,000,000 bytes).

These limits should be checked in the functions that generate blocks and transactions.

In practice, the maximum size of a transaction is around 1.5kB smaller than the maximum block size, because blocks also contain a block header and a transaction count. Zebra

[2020-06-15 11:19] teor2345 opened #484 "Limit transaction size in the mempool"
## Motivation

When Zebra starts parsing mempool transactions, we should limit them to the maximum consensus block size (2,000,000 bytes).

Block transactions are already limited by the block size limit in #477.

## Existing Design

These limits should be checked in  the `zcash_deserialize()` implementation for `Transaction`.

Here's the implementation for `Block`:
https://github.com/ZcashFoundati

[2020-06-15 11:54] teor2345 opened #486 "Coverage check fails with "Cannot read property 'find' of undefined""
The coverage check for #485 failed with:
[code]

A few hours ago, the coverage checks worked for my previous PR #478.

[2020-06-15 18:12] dconnolly commented on #486
Tarpaulin has occasionally been flakey, a subsequent coverage run succeeded so I think it's independent of your changes.

[2020-06-15 20:26] yaahc commented on #486
I'm hesitant to ignore flakeyness in our automation, even from the coverage testing stuff. I don't think we should necessarily prioritize this but I don't think we should close this bug on the basis that it passed in a subsequent run.

[2020-06-15 20:42] yaahc opened #487 "Independently verify each crate in zebra during CI"
This was noticed in `zebra-chain` during the change to add serde bounds everywhere. `zebra-chain` got into a state where it could not build successfully on its own, but when compiled with other crates in the `zebra` workspace the missing features that it needed to compile successfully would get enabled. This means that despite the fact that the build on `zebra-chain` is broken PRs for changes to `

[2020-06-15 21:46] yaahc commented on #139
@ZcashFoundation/zebra-team okay so for my next step I think I need to work on either filling out the `start` subcommand or Adding support for multiple blocks of the same height. LMK which you think I should prioritize.

[2020-06-15 22:06] dconnolly commented on #139
Since I'm fiddling with `zebrad` node commands to make our fleet deployments ✨ shine✨, filling out `start` would be immediately useful there. ❤️ 🦓

[2020-06-15 22:08] #137 closed, assigned to nobody

[2020-06-15 22:08] #195 closed, assigned to hdevalence

[2020-06-15 22:09] yaahc commented on #139
Okay, that shall be my goal then.

[2020-06-15 23:11] teor2345 commented on #486
When I've worked with unreliable CI, it's been helpful to keep a tracking issue open, so we can see how often it fails. That helps us prioritise further investigation.

(We could also leave this issue closed until we see the next failure. Not sure if GitHub is good at recommending similar closed tickets though.)

[2020-06-15 23:22] yaahc commented on #486
I've seen repos where github recommends similar closed/open issues but it doesn't happen all the time, I wonder if thats a setting...

For now I've gone ahead and reopened this, I don't think it will be in the way to keep it open given we garden regularly, so I'd prefer to keep it on the radar.

[2020-06-15 23:34] teor2345 commented on #139
Sounds good!

I don't think we can make more state changes yet. We'll need to track recent side-chains, so I'll have to think a bit more about the chain reorganisation design (#452). Once I've done enough validation to make a chain (the first part of #477), I'll move on to chain reorganisation and checkpointing (#429).

Hopefully we don't run into too many issues with the state before then :-)

[2020-06-15 23:36] yaahc commented on #139
:crossed_fingers: lmk if you do of course

[2020-06-15 23:38] teor2345 commented on #139
Chain splits happen for about 0.3% of blocks, so the start command might also run into some state failures. Depending on how many blocks you load, and how you're loading them.

[2020-06-15 23:40] yaahc commented on #139
This doesn't surprise me, the `connect` subcommand which is basically an incomplete version of `start` already consistently panics if its run long enough because it always encounters a fork in the chain. Representing the forks is definitely my next task.

My main question is how? I feel like this is probably block chain 101, like theres gotta be some basic block chain data structure that I just ne

[2020-06-15 23:47] teor2345 commented on #139
If we need a quick fix, we can just ignore duplicate blocks at the same height. There's no chain validation yet, so we won't notice any breaks in the chain.

[2020-06-16 00:22] teor2345 commented on #139
Conceptually, the chain is a tree data structure, and each fork represents a branch. The best fork is the one with the largest proof of work.

We'll definitely need a hash -> block mapping, because that's part of the protocol.

I added a draft API to the top of the chain reorg ticket #452.

[2020-06-16 00:42] dconnolly commented on #139
The best fork is literally the longest one, aka, the most trusted/most validated, and thus the largest amount of proof of work of all the branches. 👍

// @acityinohio @hdevalence

[2020-06-16 00:50] yaahc commented on #452
* GetTipList() -> [(hash, cumulative_work)]
* SetTip(hash)
* PruneTip(hash)

How are these APIs going to be used? My expectation is that you'd only ever care about the current best tip, and I feel like the `SetTip` and `PruneTip` might not be necessary depending on how we structure the state. Right now its already trivial to grab the tip with the greatest cumulative work, though thats because we d

[2020-06-16 01:25] teor2345 commented on #452
I think you're right about some of the APIs, I'll edit them and describe their usage in another comment.

The consensus rule is not "the longest chain", but "the largest cumulative proof of work". They are sometimes the same block, but that's not guaranteed:

One of the consensus rules is a minimum proof of work for each block. Let's call that minimum value `N`. Here is a fork where the longest ch

[2020-06-16 01:35] yaahc commented on #452
the ambiguous chains can be resolved by looking at their parent blocks right?

as for the cumulative proof of work, that's good to know. and I agree on the data structures needing be optimized to support the APIs they're intended for, I'm just still figuring out the APIs is all, I'll chew on how to factor cumulative work into the state for now.

also good to know about how expensive it is to itera

[2020-06-16 01:38] yaahc commented on #452
given this info I feel like the best data structure for iteration would be one that just represents the tree of the fork points, where each chain has a set of blocks and info about those blocks, like cumulative work, and additional an entry for the continuation of the chain... suddenly I just understood all the chain reorg stuff you've been talking about

[2020-06-16 02:30] teor2345 commented on #452
Here's how we use the (redesigned) APIs:

Adding a block:
[code]
Validation should be as efficient as possible, and it should be scheduled at normal priority.

Reorganising the chain:
[code]
Reorganising needs to be reasonably efficient, and it can be scheduled at higher priority.

Pruning old chains:
[code]

There might be a better data structure or algorithm here. But even if there is not, the q

[2020-06-16 02:37] yaahc commented on #452
I think from the standpoint of `zebra-concensus` the API can be reduced to

[code]

Because none of the cumulative work checking or chain management is dependent on verification, which would make all of the pruning, work tracking, and organizing of chains implementation details of `zebra-state`.

_I will comment on the rest of the APIs later tonight or tomorrow, gotta afk rn_

[2020-06-16 02:45] teor2345 commented on #452
Yeah, you're right, we could push all the chain management into zebra-state. Or we could keep all the consensus rules in zebra-consensus, and keep zebra-state's implementation reasonably simple.

I'm not sure what the best design is here.

*Feel free to take the time you need, I'm going to focus on verification for the next day or two.*

[2020-06-16 21:14] #454 closed, assigned to dconnolly

[2020-06-17 09:04] dconnolly opened #496 "Create a zebrad healthcheck"
Something we can hit (perhaps with an HTTP request) to ensure that the node is up and healthy when trying to scale out a fleet of nodes.

[2020-06-17 11:44] teor2345 opened #497 "[NCC-E005955-M2F] `zebra-chain`: Check that header block version field is valid when serializing blocks"
## Impact

Zebra assumes all serialization/deserialization functions cannot produce invalid data. Unenforced constraints violate this assumption and may affect consensus or interoperability.

## Description

Zebra implements the `ZCashSerialize` trait for consensus-critical data.

https://github.com/ZcashFoundation/zebra/blob/5a88fe783c4c219beb94362b78974555fa1a398b/zebra-chain/src/serialization/z

[2020-06-17 11:53] teor2345 commented on #496
Could we modify the DNS seeder to do a health check?

It already does some checks to make sure that nodes are up and valid.

[2020-06-17 18:20] hdevalence commented on #496
Is the health check supposed to be public to anyone or private to the node operator? If it's the latter we can just add an extra RPC call or something, or use the tracing filter endpoint in the meantime until we add RPC support.

[2020-06-17 18:27] dconnolly commented on #496
I don't think it has to be private, it should return a very bare response (or even just an empty http 200 perhaps) so I think that can be public/hittable by anyone who can ping the host.

Yeah in the meantime the tracing filter endpoint will probably do, and then later have a dedicated one as an RPC method.

[2020-06-17 18:42] hdevalence commented on #496
Hmm, if it's supposed to be public, I don't think the tracing filter endpoint or the main RPC port will work, since that's not supposed to be public.

[2020-06-17 19:15] dconnolly commented on #496
It needs to be public enough to hit from gcloud infrastructure. It can be visible 'publicly' but i bet we could config something that checks a key, configurable per-deployment.

[2020-06-17 21:13] hdevalence opened #499 "Config parsing does not work correctly / as documented"
The instructions at the top of the config file say:
[code]
However, the program doesn't actually work like this -- instead, missing fields cause parsing to error.  We should figure out a way to parse the toml file so that missing fields are filled in with default entries, since deleting the unmodified entries is a sort of important UX piece.

[2020-06-17 21:21] hdevalence commented on #496
can the gcloud infrastructure just set certain ports as being only accessible "internally"?

[2020-06-18 10:13] hdevalence opened #504 "Implement pipelineable block lookup"
This issue summarizes a discussion from discord with @yaahc and @teor2345.

To sync the chain, we need to find out which blocks to download and then download them.  Downloaded blocks can then be fed into the verification system and (assuming they verify correctly) into the state system.  In `zcashd`, blocks are processed one at a time.  In Zebra, however, we want to be able to pipeline block downl

[2020-06-18 10:14] hdevalence commented on #139
I wrote up notes from our discussion on pipelineable block discovery: https://github.com/ZcashFoundation/zebra/issues/504

[2020-06-18 10:17] hdevalence commented on #140
Edited checklist to reflect that the validation service will writeback verified blocks to the state and to link to #504

[2020-06-18 10:18] hdevalence commented on #470
This was closed by #472

[2020-06-18 10:18] #470 closed, assigned to hdevalence

[2020-06-18 11:24] teor2345 commented on #504
Thanks, this looks like a great design. Let's commit it to the design/ folder as part of the implementation PR?

I wonder what happens when we get near the tip of the main chain, particularly during the initial sync. We're likely to get a set prospective tips that represent [tip, tip-1, tip-2, ...] on the main chain.

But that's ok, because if the network is in a state where not all nodes have the

[2020-06-18 11:26] teor2345 commented on #140
Deleted the state from the checklist, because the verifiers are responsible for modifying the state after block verification.

[2020-06-18 17:44] oxarbitrage commented on #400
I was doing some research for this issue and i have to admit is pretty painful.

In your first image, the way to get help for a sub command should be:

    ./zebrad help config

In there you will see `-o` is the flag to specify an output file.

So, to execute this command with a specific output file the user will do:

    ./zebrad config -o myfile

For the **config** subcommand anything that is no

[2020-06-18 18:31] yaahc commented on #400
Hi @oxarbitrage, thanks for helping out by looking into this. I think you're right that we should probably not spend any effort on fixing this short term. I'm personally hoping that abscissa switches to `clap` but either way it seems like the solution is to wait for them to make a decision and make the change.

This sounds fine to me, cc @ZcashFoundation/zebra-team ?

[2020-06-18 19:44] hdevalence commented on #400
Merged #505, thanks for the PR!

[2020-06-18 20:15] oxarbitrage commented on #293
What is the icon we should use exactly?

I made a few tests with https://github.com/ZcashFoundation/zfnd/blob/master/images/zebra-favicon-128.png and https://github.githubassets.com/images/icons/emoji/unicode/1f993.png where the latter looks better.

![zebra_favicon](https://user-images.githubusercontent.com/21685097/85067429-0cb34d00-b187-11ea-9e61-a1923e38b6d3.png)

[2020-06-18 20:47] dconnolly commented on #496
Yes we can scope it to just be available to Google 'spotter' IPs, I haven't gotten this to work _yet_ but if I do then we can probably just use :3000/filter, if not I can make another thing.

[2020-06-18 21:43] #499 closed, assigned to nobody

[2020-06-18 22:34] hdevalence commented on #429
Probably the `Network` enum can be passed to a constructor rather than in the `Request`, right?

I think it might work to store the checkpoint list in memory for the entire lifetime of the checkpointer, just dropping the entire checkpointer when it's no longer needed.  If it would work, it seems simpler.

This might be possible to get as a side effect of a hybrid verifier design (more below).

One

[2020-06-18 22:52] dconnolly commented on #293
@hdevalence is this the better favicon?
https://github.com/ZcashFoundation/zfnd/blob/master/images/zebra-favicon-128.png

[2020-06-18 22:58] dconnolly opened #508 "Can we filter out notifications from [bots]?"
They leave a lot of spam via discord/slack/github notifications.

[2020-06-18 23:15] teor2345 commented on #477
For pending blocks, Henry suggests:
[code]

[2020-06-18 23:16] dconnolly commented on #486
Let's see if we can reproduce and/or find an upstream tarpaulin issue to link to and see if we can ever resolve this with the upstream dep or at the very least try to remove non-deterministic fails.

[2020-06-18 23:19] dconnolly commented on #487
What about `cargo build` at the workspace level, then `cargo check` in each crate within the workspace. EDIT: the subsequent sub-crate `cargo check` was doing a lot of work.

@teor2345 : "once I set up sccache locally, everything was fine."

[2020-06-18 23:22] dconnolly commented on #487
Let's do a parallel per-crate job when we merge to main.

[2020-06-18 23:39] hdevalence commented on #477
@teor2345 more complete notes on that approach here: https://github.com/ZcashFoundation/zebra/issues/429#issuecomment-646338626

[2020-06-19 04:35] teor2345 commented on #429
There is only ever one correct block at each checkpoint verifier height: the block whose descendant is the next checkpoint.

If all nodes are:
* synced near the latest tip,
* prune old side-chains, and
* only advertise the main chain,

we would never get any side-chains during checkpointing. But we can't guarantee any of these things, due to unreliable networks, node uptime, and implementation qui

[2020-06-19 04:45] teor2345 opened #509 "Make sure Zebra can sync from a local zcashd node"
During testing, we'll want to sync Zebra from a local zcashd node.

This feature will be useful for:
* network integration tests (#466), so tests are reproducible, and
* developers or testers on slow networks, or networks with high bandwidth charges.

For integration tests, the restrictions should be strict: all communication should go to the specified nodes.

For developers or testers, the restri

[2020-06-19 05:10] hdevalence commented on #509
I've done this before in a one-off way. There are two steps:

1. Telling Zebra to connect to the local Zcashd instance.  This can be done already using the config file.

2. Telling Zebra not to connect to any other nodes.  I did this by commenting out the part of the network init that spun up the crawler task, so the peer set never discovered any other nodes to connect to.  This is obviously not a

[2020-06-19 05:49] teor2345 opened #510 "Make in_memory modify the state in the async block"
ZebraState's in_memory implementation modifies the state in the service's call(). But on_disk modifies the state in the async block, once the future runs.

This implementation difference might cause confusing "premature add" bugs, if a state user creates a future, and then drops it.

We should make the behaviour consistent, and add tests for it.

(There's no need to change read-only state queries.

[2020-06-19 07:47] dconnolly commented on #496
Closed in #479

[2020-06-19 07:47] #496 closed, assigned to dconnolly

[2020-06-19 07:49] dconnolly commented on #423
Resolved by creating #475

[2020-06-19 07:49] #423 closed, assigned to dconnolly

[2020-06-19 17:13] hdevalence commented on #508
There should be some filter in the webhook setting in this repo.

[2020-06-19 17:18] hdevalence commented on #510
Is this something that we should make consistent? It feels to me like an implementation detail that we shouldn't be exposing in our API  — in particular, I don't think any code should make a service call and then expect that dropping the future "undoes" the request.

[2020-06-19 17:25] yaahc commented on #510
I think I lean in favor of making it consistent, just to remove potential footguns.

[2020-06-19 17:59] hdevalence commented on #510
I don't think that making it consistent removes a potential footgun, it ensures that the footgun remains in place, because (in my view) the footgun is trying to "undo" a request by dropping the future.

I'm also not even sure this is possible -- consider a service that's behind a buffer, and `call` on the outer service passes the request off to a worker task.  Relying on processing to not start un

[2020-06-19 18:40] hdevalence commented on #293
@dconnolly Yes, that's the one with the wider stripes

[2020-06-19 19:26] yaahc commented on #510
Okay, I get that logic, the issue is that you cant rely on work not being irreversibly done before you ever await a future, so the behaviour that we see in `in_memory` isn't different behaviour, it is actually a subset of the behaviours we can observe with `on_disk`. So changing between the state layers isn't changing the behaviour, its just forcing it into the subset of behaviour that could expos

[2020-06-19 20:36] oxarbitrage commented on #293
It looks pretty bad as a favicon imo, check the middle tab of the screenshot.

Do we want to go forward with it ?

[2020-06-19 21:42] dconnolly commented on #508
I think @yaahc was specifically citing GitHub notifications and I don't know if webhook filters affect that but

[2020-06-20 00:45] teor2345 commented on #510
So there aren't any guarantees that requests are transactional. That makes sense.

But if we're going to do unit tests with state in_memory, then run the app with state on_disk, how do we detect app bugs that are caused by the differences in those implementations?

We could:
1. Run all our unit tests against on_disk
2. Run all our unit tests against both state implementations

To get good coverage

[2020-06-20 08:52] daira commented on #293
The one with the orange Rust outline (which you can't actually see is a Rust outline at favicon scale) is way too cluttered. The plain zebra head works well IMHO.

[2020-06-21 23:07] teor2345 commented on #504
I edited the ticket to document the initial ObtainTips, where we have no state:

    When the current state is empty, the sequence of hashes should also be empty
    [ ]
    The network responds with a list of hashes starting at the genesis block.

[2020-06-22 01:18] teor2345 opened #514 "Docs build fails with firebase JS file access error"
When I squashed and merged #502 to main, I got the following error
[code]
https://github.com/ZcashFoundation/zebra/runs/793400595

[2020-06-22 03:34] teor2345 opened #515 "Tests panic with "failed to set global default subscriber" due to install_tracing() race"
Sometimes, when I call `install_tracing()` in an async test, I get a panic with "failed to set global default subscriber" at tracing-subscriber-0.2.5/src/util.rs:75:9.

I think this is a race condition, because calling `install_tracing()` from multiple async functions makes it happen more often. And deleting all but one `install_tracing()` call seems to avoid the panic.

I think we should only cal

[2020-06-22 04:14] teor2345 commented on #429
That said, the fanout design in #504 should allow us to recover from an ancient fork. If a checkpoint fails, we'll reload all its blocks, and almost always get the main chain the second time.

So I think I'll go with the simpler design, and add side-chain tests to make sure we can recover.

[2020-06-22 04:29] teor2345 opened #516 "Implement Consensus Chain Handling Services"
Here's a rough sketch of the different services we need to validate and maintain the main chain. See #682 for the full chain state design.

- [ ] ChainVerifier (#691)
  - [x] CheckpointVerifier (#429): Rapidly syncs older blocks using a checkpoint list.
  - [ ] BlockVerifier (#428): Verifies newer blocks and their transactions, using consensus rules.
  - [x] state service: adds verified blocks to

[2020-06-22 17:09] yaahc commented on #515
If you're copy pasting the `install_tracing()` that I setup it should be using a `std::sync::Once` to ensure that the global initialization only happens once.

https://github.com/ZcashFoundation/zebra/blob/main/zebra-state/src/lib.rs#L96-L99

If this is somehow getting called multiple times that is extremely worrying...

[2020-06-22 17:23] hdevalence commented on #504
@teor2345 Do we know what the zcashd/bitcoin behavior for `getblocks` messages is? At least https://en.bitcoin.it/wiki/Protocol_documentation#getblocks has a note that there is a minimum of one hash.  If we consider the state to always include the genesis block, then we'd never have an empty state, so we could always include the hash of the genesis block and avoid an empty message.

[2020-06-22 17:30] hdevalence commented on #514
I think this may have been fixed in #518

[2020-06-22 17:51] hdevalence commented on #510
To clarify, I think that requests *should* be processed transactionally -- either the request is processed, or it isn't -- but I don't think that we can make any guarantees about when those transactions are processed before the response future resolves.

For the validation strategy, I think that we should aim to test:

1. that the on_disk backend matches the in_memory backend on an arbitrary seque

[2020-06-22 17:57] hdevalence opened #525 "Actions workflow displays duplicate warnings"
It seems like every platform we test on is adding its own duplicate warnings:

![image](https://user-images.githubusercontent.com/44879/85319925-24385180-b477-11ea-8f52-943f99438187.png)

[2020-06-22 17:59] yaahc commented on #510
I think focusing on testing via the `in_memory` backend might be a mistake, given that it will only exhibit a subset of the behaviour we will encounter with `on_disk`'s backend. I think the most important thing is that we test our code against a backend that will exhibit both behaviors of sometimes processing the transaction before the future is awaited and sometimes processing the transaction in

[2020-06-22 18:07] dconnolly commented on #514
Resolved by #518

[2020-06-22 18:07] #514 closed, assigned to dconnolly

[2020-06-22 21:53] hdevalence commented on #504
I don't think we'll need to do anything extra, even on a best-effort basis, provided we implement the algorithm as described above, because it's already constructed to not ever download the same block twice, assuming our peers are honest.

[2020-06-22 22:07] hdevalence commented on #504
Edited the description to clarify the iteration in `ExtendTips`.

[2020-06-22 22:37] dconnolly opened #528 "Deploy prometheus collect & grafana on gcloud"
We are now deploying zebra nodes on merge to #main, we now need to deploy and configure a prometheus collector that collects metrics from those running containers and updates when they update, and a grafana dashboard that talks to that prometheus collector.

[2020-06-22 22:40] dconnolly commented on #528
There are some 'gcloud marketplace' things that are almost what we want for a one-click deploy, but we aren't running on GKE, we're deploying containers via their own VM instances, so these might not work:

https://console.cloud.google.com/marketplace/details/google/prometheus
https://console.cloud.google.com/marketplace/details/google/prometheus2

[2020-06-22 22:46] teor2345 commented on #515
zebra-consensuses has an old version, without the Once:
https://github.com/ZcashFoundation/zebra/blob/main/zebra-consensus/src/verify.rs#L113

I can't copy the Once variable itself, because each separate Once instance can execute independently.

Where can we put this shared utility code?
Each crate needs its own copy when built separately, but they need a shared copy in the app.

[2020-06-22 22:55] yaahc commented on #515
I think its fine to copy the once so long as its one per crate, each crates unit tests should have their own process so they won't collide.

As for where to put the shared utility code, I was thinking we should take `zebra-test-vectors` and rename it to `zebra-test` and make that the crate where we store all of our shared test utilities and artifacts. Take the existing vectors and shove them in a

[2020-06-22 23:22] teor2345 commented on #504
I don't see a one hash minimum implemented anywhere obvious:
https://github.com/zcash/zcash/blob/6d9573c66e33b5b742c49ab35e816d74d4ab55b1/src/main.cpp#L5838
https://github.com/zcash/zcash/blob/6d9573c66e33b5b742c49ab35e816d74d4ab55b1/src/main.cpp#L569

But I wouldn't want to rely on unspecified behaviour. And we want to use responses starting with the genesis block hash as an error sentinel.

So l

[2020-06-22 23:58] teor2345 commented on #504
I don't think that's necessarily true. As far as I can see, there is a race between the block downloader, block verifier, state updates, and ObtainTips/ExtendTips.

Let's say we query a peer that only has part of the main chain. (Perhaps it is new, or has unreliable connectivity.) Or we query an implementation that provides fewer than 500 hashes in response to getblocks.

So the prospective tip fr

[2020-06-23 00:07] teor2345 commented on #504
Actually, I think it's better for the downloader to keep a set of all the hashes in the state, and all the hashes it has ever queued. Then we won't download any duplicate blocks:
https://github.com/ZcashFoundation/zebra/pull/506#discussion_r443739068

I'm not sure what happens if a block is temporarily unavailable, or temporarily unverifiable. We'd need to retry downloads in that case.

[2020-06-23 00:08] yaahc commented on #504
This seems legit. At least in the lagged request case we should be able to fix it by adding a prune step that prunes any prospective tips that were present in other responses but not as the tip of that response.

edit: i see this is 1.) on your list

[2020-06-23 00:15] yaahc commented on #504
I think so long as all the prospective tips are entirely new blocks via the fix in step 1) this is impossible by construction as Henry said.

I think it avoids them.

Yes. None.

Reused by the next ExtendTips

[2020-06-23 01:17] hdevalence commented on #504
Yes, but there is an easier way to solve this problem: drop any responses that are shorter than the longest response.

Yes, this is step 5: "combine all elements of the remaining responses into a set".

No, because we ask for hashes following the blocks we've already started feeding into the pipeline.

No, because it extends tips that are already not in the state.

Yes, as specified in Step 6 of O

[2020-06-23 01:22] hdevalence opened #529 "Map out dataflow dependencies for block verification."
To implement the block verifier (#428), we need to have mapped out the data flow dependencies of all of the components of block validation.  This will allow us to split the validation work into tasks with explicit dependencies.

[2020-06-23 01:50] teor2345 commented on #504
This change would break fork handling and main chain selection, if shorter chain has the greatest proof of work.

The consensus rule is:

Section 3.3, Zcash Specification.

So I think we can only do common prefix elimination. Once we make this change, the design works as specified.

I agree with the sequence of operations. I have tweaked the issue description to make them clearer.

[2020-06-23 01:52] teor2345 commented on #529
One possible design here is #516.

[2020-06-23 01:54] hdevalence commented on #504
I don't think it does break fork handling, because the ExtendTips procedure already doesn't (and isn't intended) to handle forks; that's done by `ObtainTips`.

[2020-06-23 02:03] hdevalence commented on #510
The alternative, which we're already doing, is to just not write code that depends on calling `poll` an exact number of times, instead of polling the future until it's ready and then seeing if there's an error.  Since the only time this came up was in code that called `Service::call` before deciding whether it should actually make the service call and dropping the response otherwise, I'm not sure

[2020-06-23 02:03] #510 closed, assigned to nobody

[2020-06-23 02:18] hdevalence opened #530 "Rename zebra-test-vectors to zebra-test"
_Originally posted by @yaahc in https://github.com/ZcashFoundation/zebra/issues/515#issuecomment-647809038_

[2020-06-23 02:27] teor2345 commented on #504
I think you're right. In the worst-case scenario, a malicious peer can cause us to waste an entire `ObtainTips` cycle.

Here's the attack:
1. We are within 500 blocks of the end of the chain.
2. A malicious peer responds with 500 arbitrary hashes.
3. We discard the shorter main chain (and any genuine forks), and follow the malicious hashes.

Here's one possible defence:
* Each `ObtainTips` and `Ex

[2020-06-23 02:30] teor2345 commented on #504
I've updated the description so we reject either genesis block. That way, we reject peers on the wrong network:
https://github.com/ZcashFoundation/zebra/pull/506#discussion_r443912828

[2020-06-23 02:36] teor2345 commented on #530
While we're moving things around, we could also move the genesis blocks to zebrad or zebra-chain. That way, we can initialise the state with the relevant genesis block:
https://github.com/ZcashFoundation/zebra/pull/506#discussion_r443917501

[2020-06-23 02:39] yaahc commented on #504
I'm still not clear if I should be pruning tips that are ancestors of other tips or dropping chains that are not the max length, so I went with the former because it makes more sense to me atm. Implemented the fix for this here https://github.com/ZcashFoundation/zebra/pull/531/files, also fixed a bug (I think?) where I forgot to include the tips in the set of blocks to download.

[2020-06-23 03:23] #530 closed, assigned to hdevalence

[2020-06-23 04:50] hdevalence commented on #530
@teor2345 Sounds good! There could be a separate PR for that, I wanted to do the renaming alone just because other changes block on it.

[2020-06-23 04:56] teor2345 commented on #530
I understand, this PR makes a *lot* of little changes across the codebase.

[2020-06-23 20:13] oxarbitrage commented on #247
I am doing some research to implement this and i have a problem.

I know that changing the default config file option from `network = 'Mainnet'` to `network = 'Testnet'` works for the **connect** command. It should work also for **seed** and **start** however didn't tested yet. So this issue can be considered done when there is a command line option that do the same as what manually can be done wi

[2020-06-23 20:24] yaahc commented on #247
I think it might be possible to add top level arguments if we change https://github.com/ZcashFoundation/zebra/blob/main/zebrad/src/commands.rs#L25 to a diff name and replace it with a struct with the current name then take the old enum and make it the command option of the new struct that has the top level flag like this:

[code]

[2020-06-23 23:09] dconnolly opened #535 "Restrict zebrad commands that are actually available on release build"
We can:
* delete some commands, or
* move some commands to the utils crate

![image](https://user-images.githubusercontent.com/552961/85475749-9480c900-b584-11ea-84e7-e27cadf7ba59.png)

[2020-06-23 23:17] dconnolly commented on #535
Probably:
- generate
- help
- start
- version

Do we need `seed` ? @gtank

[2020-06-23 23:24] dconnolly opened #536 "Clean up options in the config file that don't need to be exposed to release users."
This is the default generated config when you run `zebrad generate`:

[code]

We should rip out the things we don't strictly need, even for --dev mode.

[2020-06-23 23:37] hdevalence commented on #536
The ones that jump out at me as definitely deletable:

- `peerset_request_buffer_size`: setting this too low can make the application deadlock
- `ewma*`: these can be hardcoded, they control the load-balancing parameters
- `user_agent`: hardcode this

Marginal:

- `handshake_timeout`:  this could just as well be hardcoded, *maybe* it's useful on a crappy network
- `new_peer_interval`: this could j

[2020-06-23 23:56] hdevalence commented on #247
I'm not sure if we should have a command-line flag to select which network to connect to rather than using the flag in the config file.  One reason is that there may be other settings that should change alongside the network (like the listening port, which is usually different on testnet vs. mainnet).

@oxarbitrage did you test using the `connect` command to connect to a testnet-running `zcashd` i

[2020-06-24 00:14] yaahc commented on #536
Just to be clear, we're not planning on associating "release build" and cargo `--release` builds conceptually, right? The title saying  "--release users" worries me and I don't want to lose features just because I enable optimizations.

[2020-06-24 00:34] teor2345 commented on #247
There might also be some changes we need to make in zebra-consensus, like using a different checkpoint list. (And maybe checking mainnet vs testnet in validation?)

But none of that is implemented yet.

[2020-06-24 04:33] hdevalence commented on #536
I have a very strong preference that we should not have any distinction between "release builds" and the "non-release builds", and that instead we should have one configuration for Zebra.

[2020-06-24 08:32] teor2345 commented on #515
Fixed in #538 in 7bdf6f6fe8de1ea092c4cfea4ae44c7da2001aa4 for verify/block (but not checkpoint).

I also added a TODO for @yaahc to move `install_tracing()` to zebra-test. I'm leaving this ticket open until we fix the issue across Zebra.

[2020-06-24 09:25] teor2345 commented on #515
Fixed in #538 in 8e30964baa109493213b8490d5e40aa9083a2090 for checkpoint.

[2020-06-24 09:51] teor2345 opened #539 "Different dependency versions across the zebra crates"
Some of our Cargo.toml files have slightly different dependency versions. For example, tracing 0.1 vs 0.1.15 in:
https://github.com/ZcashFoundation/zebra/blob/main/zebra-network/Cargo.toml#L30
https://github.com/ZcashFoundation/zebra/blob/main/zebra-consensus/Cargo.toml#L21

I'm not sure what the exact impact is here, but the build seems to work. I wonder if we are compiling redundant dependencies

[2020-06-24 13:05] oxarbitrage commented on #247
Thank you @hdevalence There are probably more tests needed, initially when i wrote above i just tried connecting to mainnet and testnet by changing the configuration file. When this is done the program correctly connect to the corresponding peers so i assumed this was working and interpreted the problem after that wrongly, apologies.

For that simple test done i have some logs, here is the testnet

[2020-06-24 16:21] hdevalence commented on #539
I don’t think there’s anything to fix here, Cargo is already doing the right thing and unifying dependencies to the extent that is possible.

All of the version requirements in Cargo are implicitly range requirements unless otherwise specified, so “0.1” means “0.1.x” and “0.1.15” means “0.1.y where y >= 15”.  Cargo does dependency resolution on a workspace-wide basis and always selects exactly one

[2020-06-24 17:23] yaahc commented on #539
also fwiw if you wanna check for duplicate dependencies you can run `cargo tree -d`. We have a few and I'd like to fix that up to minimize our build times but I don't think its urgent.

[2020-06-24 18:25] hdevalence commented on #535
Potentially related: https://github.com/ZcashFoundation/zebra/issues/536#issuecomment-648578315

[2020-06-24 18:40] hdevalence commented on #529
I think that #516 is mapping out how the validation code should be structured and which parts should be responsible for which parts of the consensus rules.  That seems related but slightly different to this problem, which is mapping out what the logical data dependencies between the different components are and trying to classify work as "semantic" or "contextual" verification checks.

For instanc

[2020-06-24 18:50] hdevalence commented on #529
Another reason to do this is that it will highlight exactly what data we need to store in our datastore and how.  Right now we're not doing any indexing of transactions, etc., but we'll need to do that to be able to do verifications.

[2020-06-24 19:04] hdevalence commented on #247
Sounds good, looks like we can connect to the testnet, then!  Doing the testing & changes that @teor2345 mentioned can't happen yet because we haven't implemented our consensus logic, but at least not having any problems at the networking layer is a good start, so I'm going to close this issue as resolved.

[2020-06-24 19:04] #247 closed, assigned to nobody

[2020-06-24 22:39] teor2345 commented on #539
Duplicates could also result in subtle bugs, if internal details in different versions are incompatible.

[2020-06-25 00:25] hdevalence commented on #539
One property that helps minimize that possibility is that Cargo requires a *unique* version in each semver compatibility range of each named dependency (so if two dependencies are possible to unify, they will be unified) and treats incompatible versions of the same named dependency as different crates (so all of their types are distinct and they are not interchangeable).

[2020-06-25 00:38] yaahc commented on #539
yea in my experience I've only ever had duplicate versions cause issues that showed up as compiler errors due to types mismatching. I've never encountered runtime errors due to mismatched versions. I don't think there are many version mismatches that we could run into that could have these kinds of issues. sled is the only dep that I know of that could because the diff versions could hit the same

[2020-06-25 00:40] teor2345 commented on #539
Sounds great, I'm going to close this ticket then.

If it is important to run `cargo -d` before the alpha release, let's open a separate ticket.

[2020-06-25 00:41] #539 closed, assigned to nobody

[2020-06-25 18:14] yaahc commented on #497
Removing open-to-contributors on this one based on [henry's comment](https://discordapp.com/channels/676527656170160146/716086297210650634/725765190137937950) pending further discussion in today's gardening session

[2020-06-25 18:17] yaahc commented on #95
this was fixed in #527

[2020-06-25 18:17] #95 closed, assigned to nobody

[2020-06-26 02:57] teor2345 commented on #504
As we talked about earlier today, either solution is fine in the alpha release.

[2020-06-26 21:14] yaahc commented on #126
@dconnolly I'm going to take over this issue rn, lmk if there's any extra context not in this issue

[2020-06-26 21:14] yaahc commented on #123
Also taking over the rest of this issue @dconnolly

[2020-06-26 21:17] dconnolly commented on #220
I disagree with consolidating all the `Arbitrary` impls away from the structs they are associated with, keeping test code far away from the code it tests tends to encourage drift and maintenance issues.

[2020-06-26 21:35] yaahc commented on #126
To save time I'm thinking about only implementing the subset of the mentioned trait impls that end up being needed to make the current code that manipulates `Amount`s compile while maintaining an ergonomic API. In the future it should be easy to add each missing impl when they're needed.

[2020-06-26 21:38] hdevalence commented on #126
SGTM, missing impls are fine as long as the impls that are there lift everything into the Option monad.

[2020-06-26 21:57] yaahc commented on #126
I'm thinking instead of using a pure Marker trait we can use a trait that encodes the actual validation check that is needed for that Amount, which lets you write something like this

[code]

The exact shape of the constraint type is up in the air right now, I might be able to only require that the impl defines a range and then provide a validate fn that uses the given range to validate the value.

[2020-06-26 21:58] yaahc commented on #126
This issue is super fun

[2020-06-29 15:34] yaahc opened #556 "discuss trait impl organization strategy in `zebra`"
Right now there seems to be some inconsistency with how we organize trait impls. https://github.com/ZcashFoundation/zebra/issues/220#issuecomment-582644124 requested that we move all arbitrary impls to a single file, but once I implemented this change in https://github.com/ZcashFoundation/zebra/pull/553 concerns were raised over having trait impls being in a diff file from the struct definitions.

[2020-06-29 20:09] hdevalence commented on #556
I have a pretty strong preference for consolidating the `Arbitrary` impls in one place with the other code.

The primary reason is that I think that conditionally-compiled functionality should be grouped together in submodules to the greatest extent possible, so that conditional compilation affects entire module subtrees, rather than individual items. There are a few reasons why I think this is go

[2020-06-29 20:25] yaahc commented on #556
This sounds like a decent justification to me and I don't feel nearly as strongly about the placement as I do about the consistency, so I'm fine with opting to consolidate Arbitrary and ZCash.*erialize trait impls pending feedback from @dconnolly and @teor2345

As for the `cfg` consolidation. I agree that having the same cfg peppered all over the place is annoying, two issues though:

1. I don't t

[2020-06-29 20:56] hdevalence commented on #556
1. Yeah, that list is meant as a general statement about conditional compilation, I agree that the condition-changing is unlikely for this case.

2. Yes, I think we should at most have one `#[cfg(test)]` item per module, unless there's some obstactle that makes it impossible.  For instance, I don't think we can get around having to conditionally add a `#[derive(Arbitrary)]`, but to the greatest ex

[2020-06-29 21:08] hdevalence commented on #293
I don't think it's any worse than the Rust favicon, which seems to render fine on a retina display. My preference would be to use the logo we have, and then change it later.  Once we have a favicon working, changing it is just a search and replace.

[2020-06-29 21:10] hdevalence commented on #504
I think this will be closed by #540.

[2020-06-29 21:11] hdevalence commented on #468
Closing this issue for now per @yaahc's comment just to keep the amount of open tasks down; happy to reopen this later.

[2020-06-29 21:11] #468 closed, assigned to nobody

[2020-06-29 22:26] yaahc opened #557 "Make error handling in syncer consistent"
Right now in `sync.rs` we have some error handling logic for handling invalid responses or propagating back errors from spawned tasks but overall the logic is inconsistent / incomplete. The things left to do still are:

- [x] save `JoinHandle`s for outer spawned futures from `request_blocks` in a `FuturesUnordered` owned by `Syncer` and check background futures for errors periodically in `run`
- [

[2020-06-29 23:06] yaahc commented on #288
Working on this next.

And to answer a question from the primary refinement issue:

I doubt this is comprehensive but from what I can tell there are two issues at play here.

1. we don't want to duplicate logic that is shared between both types
2. we don't want to accidentally mix up Sapling and Sprout nullifier sets.

To me the latter seems like the bigger concern. Also, I have some ideas for how

[2020-06-29 23:34] yaahc commented on #288
@ZcashFoundation/zebra-team should I place the nullifier types in `transaction` or should I create a `nullifier` module similar to how we have `address`, `notes`, and `keys` modules for sapling/sprout types.

I'm leaning towards new module

[2020-06-29 23:43] hdevalence commented on #288
New module sounds good to me. It's always easier to re-export from submodules than to cut one big module into smaller ones.

[2020-06-30 00:15] teor2345 opened #559 "Make the transaction database ignore the genesis coinbase UTXO"
There is a bug in the main bitcoin client, where the coinbase transactions in the genesis block are not included in the unspent transaction (UTXO) list:
https://bitcointalk.org/index.php?topic=119645.msg1288552#msg1288552

zcashd inherits this bug, with the following differences:
* the coinbase transaction in the genesis block has zero value, so no money was lost

Note that zero-valued UTXOs can s

[2020-06-30 02:39] teor2345 commented on #556
I agree with consolidating similar code.

I think that my `Arbitrary` example was an edge case: a new parsing constraint, on an existing type, that affects the `Arbitrary` generation. If I had forgotten to change the `Arbitrary` impl, then we might have eventually failed a test. (If `Arbitrary` generates 2 MB structs.)

In most cases, the type system will fail compilation. And most other changes w

[2020-06-30 03:55] hdevalence opened #561 "systemd-journald integration"
@hawkw pointed us to `tracing-journald`:

There's an example here:

https://github.com/tokio-rs/tracing/blob/8c0ef97bd4a4653a9bf7029068370b6b0a097c5c/examples/examples/journald.rs#L9-L21

This seems like it would be relatively low-effort with nice benefits for systemd users.

[2020-06-30 03:57] hdevalence opened #562 "systemd service file"
We should consider writing and shipping a systemd service file for zebrad.  This isn't a high priority but it would be nice to have before we do a release.

[2020-06-30 08:33] daira commented on #559
The only transaction in each of those blocks is the coinbase transaction.

[2020-06-30 12:36] teor2345 commented on #559
Thanks, I've updated the ticket description.

[2020-06-30 15:20] teor2345 opened #563 "Test the checkpoint verifier with a longer checkpoint gap"
In #524, I added an initial implementation of the checkpoint verifier. But it doesn't have many tests yet.

In particular, we should add a test with a sequence of blocks, where the ends of the sequence are checkpoints.

At the moment, the longest checkpoint test is:
* `[0, 1]`.

Ideally, we should have:
* `[0, 2]` verifying blocks `0..=2`
* `[0, 5, 10]` verifying blocks `0..=10`

[2020-06-30 15:24] teor2345 opened #564 "Create and parse checkpoint height/hash lists"
For the checkpoint verifier, we need to create checkpoint height and hash lists for:
- [x] main net, and
- [x] test net, and
- [x] parse those lists into Zebra data structures.

Since the sapling checkpoint is mandatory, we want to compile the lists into Zebra.

Eventually, we also want to:
- [ ] re-implement the list generation bash scripts in Rust (opened #684)
- [ ] support generating increment

[2020-06-30 16:36] hdevalence commented on #557
One thing I'm wondering about is whether we should use the current approach of spawning tasks for block download, then spawning subtasks for verification (nested spawning) versus spawning tasks for download, handing blocks back to the syncer, and then having the syncer spawn tasks for verification.  In the latter case we wouldn't need to propagate errors out of two levels of tasks or handle the fa

[2020-06-30 16:48] hdevalence commented on #564
Hashes can be obtained from zcashd using `zcash-cli getblock $i` and using `jq` or something to parse the JSON.  Note that the output will have to be run through `zebrad revhex` since zcashd displays hashes in reversed byte order and we don't.

[2020-06-30 16:52] yaahc opened #565 "Tracking: all the consensus parameters"
Right now as part of equihash verification we've hard coded:

- [ ] n=200 and k=9 in one of the functions used to verify equihash

These types of constants should be centralized as much as possible to ease maintenance and make it easier to look up the consensus parameters that zebra uses. This type should probably be defined and instantiated in zebra-consensus.

---

Here are some other things we'

[2020-06-30 16:59] hdevalence opened #566 "Check Bitcoin handling of non-negativity in `TransparentOutput`"
Is there some canonical description of how Bitcoin does this kind of checking? If we do this, we reject negative values during parsing.  Is that fine, if we need exact compatibility with Zcashd? I think it is probably fine but I'm not sure.

_Originally posted by @hdevalence in https://github.com/ZcashFoundation/zebra/pull/554/files_

[2020-06-30 17:00] hdevalence commented on #566
— @daira

[2020-06-30 17:42] yaahc commented on #126
This impl is impossible

[code]

Amount is covered by a foreign type on both sides and the trait is foreign, so it's non-coherent.

[2020-06-30 17:50] hdevalence commented on #126
Sad. I assumed that the orphan rules would not apply because we're working with `Option<Amount>` rather than `Option<T>` but I guess this is not the case.

[2020-06-30 17:57] yaahc commented on #126
Might be possible if it weren't for the constraint parameter? Or maybe it will work if I hardcode the parameter... I'll try fiddling with it for `Sum` because I can't impl it at all unless I figure a way around this.

[2020-06-30 17:59] yaahc commented on #126
nope, parameterization doesn't play into the orphan rules as far as I can tell. I think the only thing that would matter is if it was wrapped in a fundamental type like `Box`, but I don't think `Option` is marked as fundamental.

Doesn't seem like I can impl `std::iter::Sum` at all for Amount, unless you're down with having a non Option impl that panics on validation failures...

[code]

[2020-06-30 19:02] dconnolly commented on #556
This is true, if `impl Arbitrary` is not gated by `[cfg(test)]`, but they usually are, so by default, compilation and checks are run under the --dev profile, and the test-gated stuff is not checked. We will only find the drift when we run the tests or compile using the test profile. This has bit me several times.

When I think about it, having a `tests.rs` or similar submodule in the directory str

[2020-06-30 19:10] yaahc commented on #556
@dconnolly this might be a diff between rust-analyzer on emacs and on vscode, I know this was an issue for me when I was using vim, but with vscode rust-analyzer always runs full compilation of all targets when it checks for errors in the background which would help you catch these `#[test]` only compilation errors early. You might want to look into what args vscode is passing to r-a and copy thos

[2020-06-30 19:16] yaahc commented on #556
I'm going to take this as consensus, here's the rule of thumb as I'm interpreting it:

1. put `ZcashSerialize`/`ZcashDeserialize` impls into a `serialization` file when there are many of them within a single module.
2. minimize `#[cfg]` attrs as much as possible, for `#[cfg(test)]` prefer to only have one attr on a submodule that contains all test code that is conditionally compiled, `derive(propt

[2020-06-30 19:33] dconnolly commented on #556
@hdevalence do you really want to put all the zcash_serialize/deserialize impl's in one file in -chain etc? Keeping them where they are (close to the code that if it changes, so will the impls, in their own `serialize.rs`) seems fine. I don't see a win of putting all of them in a pile.

I'm balancing 'ease of maintainability' and 'where _should_ things go based on their characteristics', and since

[2020-06-30 19:40] hdevalence commented on #556
To clarify, what I meant was the existing structure of `zebra_chain`, where, e.g., all of the transaction-related structures have a common module for serialization impl.s

[2020-06-30 19:41] dconnolly commented on #556
OK, that makes more sense to me. 👍

[2020-06-30 19:42] dconnolly commented on #556
So this is not on a crate-basis, but module-basis:

[2020-06-30 19:56] yaahc commented on #556
edited the comment above to mention modules instead of crates

[2020-06-30 21:21] yaahc opened #567 "reorganize zebra-chain sprout/sapling types"
Right now in zebra-chain for `notes`, `addresses`, `keys`, and similar types we export a module for the data kind and then internally we have a `sprout.rs` and a `sapling.rs` module for each specific implementation of that outer module kind.

This organization structure introduces name conflicts by having many more potential name conflicts than the alternative, which is to have a single outer modu

[2020-06-30 21:23] hdevalence commented on #567
This seems like it could be a good idea.  One point to consider is that most users will only want to work with Sapling, so having a top level distinction between Sprout and Sapling could be convenient for them.

[2020-06-30 21:23] #220 closed, assigned to nobody

[2020-06-30 23:50] yaahc opened #569 "document our design process"
Based on recent meetings we've decided to create a more formal design process for complex designs.

## Issues we hope to solve

* unclear which issues are formal designs and which issues are informal recommendations
* starting to write the code before doing the design, then having to do re-work after learning more.
* knowing the goals of the design- some team members might be working towards diffe

[2020-06-30 23:53] dconnolly opened #570 "Make CodeCov bot message less verbose"

[2020-06-30 23:56] teor2345 opened #571 "Create large transaction test cases for mempool testing"
When we add wallet support, and start generating transactions, we need to test large transaction sizes. (We already test large block sizes in #482.)

Since Sapling, the maximum block and transaction size is 2,000,000 bytes (MAX). (Note that the maximum size of a transaction is actually slightly lower, because the block also contains a block header, and a transaction count compact size field.)

Mem

[2020-07-01 02:31] teor2345 opened #572 "Create a wrapper for block.header.bits"
The `block.header.nbits` field is a `u256` value, encoded as a `u32` in Bitcoin's "compact u256" format. We should create a wrapper type that does serialisation, deserialisation, and comparisons.

Then we can use that wrapper type in the struct, and do the conversion during parsing.

[2020-07-01 06:48] teor2345 commented on #466
I have turned this ticket into a design ticket, with these open design questions:
- launching tests from cargo
- making zcashd mine blocks really fast (< 1s per block)
- getting stable test results
- how do we analyse, reproduce and fix failures?

I think @dconnolly had ideas about how to launch tests from cargo.

[2020-07-01 18:48] yaahc opened #575 "deduplicate test vectors and move what can be moved to zebra-test"
Based on @teor2345's comment here https://github.com/ZcashFoundation/zebra/pull/558#pullrequestreview-440465177, we should move large vector construction to `zebra-test` as much as possible.

[2020-07-01 23:31] #126 closed, assigned to yaahc

[2020-07-02 00:00] teor2345 commented on #564
I'll do a small script, so we can rebuild the list consistently.

@hdevalence do we have a preferred scripting language?

[2020-07-02 00:03] hdevalence commented on #564
No, I don't think so, we've never had to write scripts before.

[2020-07-02 00:08] yaahc commented on #564
My personal rule of thumb is bash for things that are near enough to oneliners for me not to worry about the maintainability and rust for all other cases.

A cool thing cargo does is automatically create a target for each file in `src/bins`, so you could for example do a `cargo new --lib zebra-utils` or w/e you wanna call the crate that holds all the "scripts" and then create a bins dir in that an

[2020-07-02 00:23] teor2345 commented on #564
I think the script will look like
[code]

Whatever we choose, it will become a release-time dependency. I'll make an initial script using generic unix shell. Then we can convert it to Rust later, if we decide that's important.

Also, maybe it would be faster to use `getblockhashes`, and discard the hashes we don't want:
https://zcash-rpc.github.io/getblockhashes.html
I'll do some testing.

[2020-07-02 00:29] teor2345 commented on #565
(Moved to description, so we can track items on the checklist.)

[2020-07-02 00:37] #570 closed, assigned to dconnolly

[2020-07-02 00:57] #287 closed, assigned to nobody

[2020-07-02 00:57] #288 closed, assigned to nobody

[2020-07-02 01:03] #335 closed, assigned to yaahc

[2020-07-02 01:07] yaahc commented on #477
Equihash verification was implemented in https://github.com/ZcashFoundation/zebra/pull/549 for https://github.com/ZcashFoundation/zebra/issues/335, I've closed #335 and this issue is now tracking the integration of the equihash check into the actual validation routine for the block header

[2020-07-02 01:19] dconnolly commented on #286
https://github.com/zcash/librustzcash/blob/37270776beb10acd34bdd96dc6a4bb44117cb00a/zcash_primitives/src/merkle_tree.rs

[2020-07-02 01:20] yaahc commented on #286
relevant discord conversation: https://discordapp.com/channels/676527656170160146/716086297210650634/728052748238585917

[2020-07-02 03:09] teor2345 opened #578 "Make EquihashSolution.is_valid() take a BlockHeader"
The signature `pub fn is_valid(&self, input: &[u8], nonce: &[u8]) -> bool` is a bit worrisome compared to one that takes a `BlockHeader` because it forces the caller to perform extra parsing logic.  Since we perform structural validation during parsing, we should try to work only on parsed representations as much as possible (even if it meant that we need to occasionally re-serialize for hashing,

[2020-07-02 03:11] teor2345 commented on #477
I opened #578 to make the is_valid() function take a BlockHeader. After that's done, we can integrate the check into block header validation.

[2020-07-02 03:13] yaahc commented on #477
I think this PR makes that change - https://github.com/ZcashFoundation/zebra/pull/550/files

[2020-07-02 04:09] teor2345 commented on #477
Thanks, I hadn't caught up with all the PRs yet.

[2020-07-02 04:13] teor2345 commented on #556
I'm also concerned about test code dying in a corner. But if tests are at the end of a big file, I'm not sure that's much better.

Let's try to build testing into our PR guidelines, code reviews, and other processes? It would be great to have an automated, reliable bot that says "oops, no tests".

[2020-07-02 05:02] teor2345 commented on #504
We still need to commit the design doc to the repository. Is there an issue or PR for that?