[2022-02-07 22:37] teor2345 commented on #1592
Here's one way to do the Rust part of this change:

1. Create a future that returns when the estimated height has been reached, and the mempool has been active for a few minutes, and we are at least 200<sup>*</sup> blocks above the highest checkpoint
2. Add that future to `zebrad start`'s main loop as a "continuing task", so Zebra exits when it finishes
3. Create a sync test case with a 6 hour tim

[2022-02-07 22:46] teor2345 commented on #1592
Here is some code that exits when the state reaches a fixed height.

But calling `exit` causes bugs like #3392, so it would be better to use the `zebrad start` loop.

https://github.com/ZcashFoundation/zebra/blob/1a14baf8e7c6c82dba7a64e9b43d076b8f856f2a/zebra-state/src/service/finalized_state.rs#L495-L507

[2022-02-08 02:20] #3427 closed, assigned to oxarbitrage

[2022-02-08 09:57] #3216 closed, assigned to conradoplg

[2022-02-08 09:57] #3215 closed, assigned to conradoplg

[2022-02-08 17:22] ftm1000 opened #3488 "Epic: Breaking Changes before the Stable Release"

[2022-02-08 17:26] ftm1000 commented on #3442
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3442?planning-poker) with ZenHub @gustavovalverde @dconnolly @conradoplg @jvff @oxarbitrage @teor2345 @upbqdn

[2022-02-08 17:40] ftm1000 commented on #3458
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3458?planning-poker) with ZenHub @dconnolly @conradoplg @gustavovalverde @jvff @oxarbitrage @teor2345 @upbqdn

[2022-02-08 17:45] ftm1000 commented on #3457
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3457?planning-poker) with ZenHub @dconnolly @conradoplg @gustavovalverde @jvff @oxarbitrage @teor2345 @upbqdn

[2022-02-08 17:48] ftm1000 commented on #3436
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3436?planning-poker) with ZenHub @gustavovalverde @dconnolly @conradoplg @jvff @oxarbitrage @teor2345 @upbqdn

[2022-02-08 17:49] conradoplg commented on #1592
Should we create a separate ticket for that? @teor2345 @jvff

[2022-02-08 17:53] ftm1000 commented on #3414
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3414?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @jvff @oxarbitrage @teor2345 @upbqdn

[2022-02-08 20:28] #3426 closed, assigned to oxarbitrage

[2022-02-08 20:45] ftm1000 commented on #3488
Purpose of epic
- Work on "Breaking Changes before the Stable Release Epic#3488" and also fix anything that comes up in the audit (we can create a new Epic for that, or make #3488 more generic to include them.

[2022-02-08 20:47] teor2345 commented on #2517
Fixed by recent RocksDB upgrades.

[2022-02-08 20:47] #2517 closed, assigned to nobody

[2022-02-08 20:55] teor2345 opened #3489 "zebra_zcash_listener_conflict test occasionally fails"
## Motivation

The zebra_zcash_listener_conflict `zebrad` acceptance test occasionally fails with:

One of the launched processes does panic:

The launch timing is right for `node2`, but the panic check isn't seeing the panic (it runs just before these lines):
[code]

This has happened about once a day for the past week:
https://github.com/ZcashFoundation/zebra/runs/5114636264?check_suite_focus=tr

[2022-02-08 22:55] teor2345 opened #3493 "Add a `zebrad` acceptance test that does a full sync to tip"
## Motivation

This is the Rust part of:
- #1592

## Suggested Design

Here's one way to do the Rust part of this change:

Partly done in #3495:
1. Create a future that returns when the estimated height has been reached
2. Add that future to `zebrad start`'s main loop as a "continuing task", so Zebra exits when it finishes

New work:
3. Create a sync test case with a 6 hour timeout, which uses a "

[2022-02-08 23:01] teor2345 commented on #1592
I opened #3493 with my suggestion, but @jvff should feel free to change the design.

[2022-02-09 00:05] ftm1000 commented on #3429
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3429?planning-poker) with ZenHub @dconnolly @conradoplg @gustavovalverde @oxarbitrage @teor2345 @upbqdn @jvff

[2022-02-09 00:24] gustavovalverde opened #3494 "Do not allow any kind of unwanted text when doing a manual `workflow_dispatch`"
## Motivation

Some workflows expect a strict input (including case-sensitivity) like `Mainnet` or `Testnet`. We should not allow any other input for this scenarios,
### Designs

Use specific input types like `type: choice` and `type: boolean` for strict choices. Other inputs might need to be `required:true`

[2022-02-09 00:39] #3420 closed, assigned to oxarbitrage

[2022-02-09 00:50] #2418 closed, assigned to gustavovalverde

[2022-02-09 17:57] conradoplg commented on #3447
@gustavovalverde did https://github.com/ZcashFoundation/zebra/pull/3431 solve this issue?

[2022-02-09 18:00] gustavovalverde commented on #3447
@conradoplg yes, and I was expecting the "Fixes" keyword on the PR to close the related issues, but it didn't

[2022-02-09 18:00] #3447 closed, assigned to gustavovalverde

[2022-02-09 19:16] conradoplg opened #3500 "Detect warnings, errors and panics in full sync test"
## Motivation

After we have the [full sync test ready](https://github.com/zcashfoundation/zebra/issues/1592#issuecomment-1032006501), we should expand the information it generates (and not just a pass/fail), by reacting to warnings, errors and panics.

### Specifications

The end goal here is not 100% defined and can be discussed with the team. A preliminary suggestion:

- If any errors or panics

[2022-02-09 22:10] teor2345 commented on #3493
I just realised that the estimate logging PR does some of this stuff already:
- https://github.com/ZcashFoundation/zebra/pull/3495

Turns out logging estimates in a helpful way is similar to using them to stop Zebra.

[2022-02-10 20:23] ftm1000 commented on #3140
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3140?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @jvff @oxarbitrage @teor2345 @upbqdn

[2022-02-10 20:25] ftm1000 commented on #3141
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3141?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @jvff @teor2345 @upbqdn @oxarbitrage

[2022-02-10 20:26] ftm1000 commented on #3165
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3165?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @jvff @oxarbitrage @teor2345 @upbqdn

[2022-02-10 20:27] ftm1000 commented on #3142
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3142?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @jvff @oxarbitrage @teor2345 @upbqdn

[2022-02-10 20:28] ftm1000 commented on #3159
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3159?planning-poker) with ZenHub @conradoplg @gustavovalverde @jvff @oxarbitrage @teor2345 @upbqdn @dconnolly

[2022-02-10 20:28] ftm1000 commented on #3143
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3143?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @oxarbitrage @teor2345 @upbqdn @jvff

[2022-02-10 20:28] ftm1000 commented on #3144
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3144?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @jvff @oxarbitrage @teor2345 @upbqdn

[2022-02-10 20:29] ftm1000 commented on #3156
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3156?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @jvff @oxarbitrage @teor2345 @upbqdn

[2022-02-10 20:30] ftm1000 commented on #3145
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3145?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @jvff @oxarbitrage @teor2345 @upbqdn

[2022-02-10 20:31] ftm1000 commented on #3147
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3147?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @jvff @oxarbitrage @teor2345 @upbqdn

[2022-02-10 20:31] ftm1000 commented on #3157
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3157?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @jvff @oxarbitrage @teor2345 @upbqdn

[2022-02-10 20:32] ftm1000 commented on #3158
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3158?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @jvff @oxarbitrage @teor2345 @upbqdn

[2022-02-10 20:32] ftm1000 commented on #3146
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3146?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @jvff @oxarbitrage @teor2345 @upbqdn

[2022-02-10 20:32] ftm1000 commented on #3160
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3160?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @jvff @oxarbitrage @teor2345 @upbqdn

[2022-02-10 20:33] ftm1000 commented on #3148
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3148?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @jvff @oxarbitrage @teor2345 @upbqdn

[2022-02-10 20:33] ftm1000 commented on #3149
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3149?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @jvff @oxarbitrage @teor2345 @upbqdn

[2022-02-10 20:34] ftm1000 commented on #3150
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3150?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @jvff @oxarbitrage @teor2345 @upbqdn

[2022-02-10 22:18] dconnolly opened #3510 "Create an integration test where we make requests to lightwalletd backed by zebrad"
## Motivation

We want to check that Zebra actually works with `lightwalletd`.

## Tasks

### Stage 1

- [x] Compile lightwalletd binary in CI from [the ZecWallet fork's master branch](https://github.com/adityapk00/lightwalletd)

The test should pass if lightwalletd compiles.

### Stage 2

- [x] Add a lightwalletd integration test for the RPC port, [here is an example](https://github.com/ZcashFoun

[2022-02-10 22:25] dconnolly commented on #3510
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3510?planning-poker) with ZenHub @teor2345 @upbqdn @oxarbitrage @jvff @ftm1000 @conradoplg

[2022-02-10 22:29] teor2345 commented on #3510
@dconnolly this task happens in stage 2, when we only have `getinfo`. After it's done, we should add an integration test as we add each new method.

[2022-02-10 22:40] teor2345 opened #3511 "Add lightwalletd full sync integration test"
## Motivation

Most `lightwalletd` RPC methods need a cached state to operate on.

We can construct these integration tests (modulo sending txs) with pre-synced/indexed state, so we don’t have to worry about mainnet/testnet weather.

## Tasks

- Attach a cached state disk to the lightwalletd integration tests
- Add a test harness that opens the cached state, but doesn't haven't have any configured

[2022-02-10 22:46] teor2345 opened #3512 "Send transactions in lightwalletd integration tests"
## Motivation

The `sendrawtransaction` RPC method in `lightwalletd` needs to be able to create and send transactions on the network.

We might need to do a full sync to make these tests work.
We might need a developer wallet to make these tests work on mainnet.

## Tasks

- Add a test harness that syncs to the tip from cached state
- Create a new transaction
- Add a lightwalletd integration test

[2022-02-10 22:47] teor2345 commented on #3511
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3511?planning-poker) with ZenHub @conradoplg @dconnolly @oxarbitrage @jvff @upbqdn

[2022-02-10 22:47] teor2345 commented on #3512
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3512?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @upbqdn

[2022-02-10 22:55] teor2345 opened #3513 "Support Orchard in Zebra's lightwalletd JSON-RPC methods"
## Motivation

`lightwalletd` hasn't added Orchard support yet.

When they do, we want to support the new JSON-RPC methods, or the changes to existing methods.

[2022-02-10 22:57] teor2345 commented on #3513
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3513?planning-poker) with ZenHub @conradoplg @dconnolly @oxarbitrage @upbqdn @jvff

[2022-02-10 23:28] dconnolly commented on #3151
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3151?planning-poker) with ZenHub @conradoplg @jvff @oxarbitrage @teor2345 @upbqdn

[2022-02-11 00:32] #1113 closed, assigned to upbqdn

[2022-02-11 01:27] #3161 closed, assigned to jvff

[2022-02-11 03:16] #3422 closed, assigned to oxarbitrage

[2022-02-11 03:16] #3423 closed, assigned to oxarbitrage

[2022-02-11 03:16] #3421 closed, assigned to oxarbitrage

[2022-02-11 03:16] #3424 closed, assigned to oxarbitrage

[2022-02-11 10:42] oxarbitrage commented on #3222
Closed by https://github.com/ZcashFoundation/zebra/pull/3491, https://github.com/ZcashFoundation/zebra/pull/3498, https://github.com/ZcashFoundation/zebra/pull/3499, https://github.com/ZcashFoundation/zebra/pull/3501 and https://github.com/ZcashFoundation/zebra/pull/3507

[2022-02-11 10:42] #3222 closed, assigned to mpguerra

[2022-02-11 13:38] ftm1000 commented on #3448
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3448?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @teor2345 @upbqdn @jvff @oxarbitrage

[2022-02-11 17:57] conradoplg commented on #3212
Already done

[2022-02-11 17:57] #3212 closed, assigned to dconnolly

[2022-02-11 18:46] conradoplg opened #3519 "Adjust outbound and inbound connection limits"
## Motivation

Our limit of outbound connections is larger than the limit of inbound connections. The rationale is that we choose the outbound connections, but the inbound connections could be all attacker-controlled.

However, that can cause all inbound connection slots in the network to be exhausted, since Zebra will always consume more slots then provide them.

### Specifications

Change the li

[2022-02-11 18:54] conradoplg opened #3520 "Use new v5 transaction script verification API"
## Motivation

Split off from https://github.com/zcashfoundation/zebra/issues/3291

ZIP-244 changes will require a change in the script verification API. In #3291 we prepared for that change by changing our internal APIs and having the additional information needed for verification ready.

### Specifications

### Designs

- [x] Update to a `zcash_script` version with the new API
- [x] Update `zebr

[2022-02-11 18:57] conradoplg commented on #3291
Split the remaining part into https://github.com/ZcashFoundation/zebra/issues/3520.

[2022-02-11 18:57] #3291 closed, assigned to conradoplg

[2022-02-13 01:18] #3428 closed, assigned to conradoplg, oxarbitrage

[2022-02-14 01:12] teor2345 commented on #3223
All the sub-tickets in this ticket have been completed.

[2022-02-14 01:12] #3223 closed, assigned to mpguerra, oxarbitrage

[2022-02-14 01:51] #2726 closed, assigned to teor2345

[2022-02-14 14:24] conradoplg opened #3528 "Check if anchorSapling is in the correct range"
## Motivation

We seem to have missed a consensus rule:

![image](https://user-images.githubusercontent.com/35766/153880884-7355489e-3bdc-490d-83d6-93710cc17957.png)

### Specifications

https://zips.z.cash/protocol/protocol.pdf#spendencodingandconsensus

### Designs

- Add the check, preferrably by changing the type of the `Root` to be a field element, thus forcing the validation. Check the Orcha

[2022-02-14 16:00] #3519 closed, assigned to teor2345

[2022-02-14 17:15] ftm1000 commented on #3528
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3528?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @jvff @oxarbitrage @teor2345 @upbqdn

[2022-02-14 19:00] teor2345 commented on #3343
@conradoplg can we close this ticket and do the upgrade with the rest of tracing in #2953?

[2022-02-14 20:19] ftm1000 commented on #3477
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3477?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @jvff @oxarbitrage @upbqdn

[2022-02-14 20:32] teor2345 opened #3533 "Coverage changes are inaccurate, because the job doesn't run on `main`"
## Motivation

## Suggested Solution

Our `main` branch coverage seems to be out of date, maybe we need to start running our coverage job on `main` again.

_Originally posted by @teor2345 in https://github.com/ZcashFoundation/zebra/issues/3521#issuecomment-1039479864_

[2022-02-14 20:36] teor2345 opened #3534 "Published docs are outdated, because the job needs to run whenever we update code"
## Motivation

https://github.com/ZcashFoundation/zebra/pull/3516#discussion_r804731537

[2022-02-14 20:45] conradoplg commented on #3343
Sure!

[2022-02-14 20:45] #3343 closed, assigned to nobody

[2022-02-14 21:31] #3217 closed, assigned to conradoplg

[2022-02-14 21:31] #3225 closed, assigned to conradoplg

[2022-02-14 22:04] teor2345 commented on #3513
NU5 and Orchard are handled by existing RPCs:
- #3144 - currently implemented
- #3156 - might add an `orchard` tree state

[2022-02-14 22:04] #3513 closed, assigned to oxarbitrage

[2022-02-15 00:35] ftm1000 commented on #3489
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3489?planning-poker) with ZenHub @dconnolly @gustavovalverde @conradoplg @jvff @oxarbitrage @teor2345 @upbqdn

[2022-02-15 00:36] ftm1000 commented on #3218
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3218?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @jvff @oxarbitrage @teor2345 @upbqdn

[2022-02-15 00:37] ftm1000 commented on #3297
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3297?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @jvff @oxarbitrage @teor2345 @upbqdn

[2022-02-15 00:41] teor2345 opened #3536 "Turn on full backtraces using COLORBT_SHOW_HIDDEN=1"
## Motivation

In #3489, the test failure was hard to diagnose, because `COLORBT_SHOW_HIDDEN=1` hid some of the function calls we needed to see.

### Specifications

https://github.com/athre0z/color-backtrace/blob/master/CHANGELOG.md#v042-2020-05-19

## Related Issues

I wanted to fix this as part of #3489, but those CI configs are getting refactored in PR #3459

[2022-02-15 01:44] #2156 closed, assigned to teor2345

[2022-02-15 15:30] #3489 closed, assigned to teor2345

[2022-02-15 22:24] dconnolly opened #3545 "Generate stateful disks containing lightwalletd-supporting zebra-state cache"
## Motivation

We currently regenerate disk images with `zebra-state` synced up to Sapling activation for use in our `sync_past_mandatory_checkpoint` test, so that we don't have to spend hours syncing `zebrad` to exercise the relevant code paths of the test. We should do similar for our `lightwalletd` tests, any integration test that requires synced, processed data to be available to a `zebra-stat

[2022-02-15 22:41] dconnolly commented on #3545
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3545?planning-poker) with ZenHub @conradoplg @gustavovalverde @jvff @oxarbitrage @teor2345 @upbqdn

[2022-02-15 23:46] #3493 closed, assigned to jvff

[2022-02-16 00:13] #3457 closed, assigned to upbqdn

[2022-02-16 00:54] #3429 closed, assigned to oxarbitrage

[2022-02-16 00:54] #2411 closed, assigned to nobody

[2022-02-16 01:14] teor2345 commented on #3545
Does `lightwalletd` wait until it's reached the tip to use some RPCs?
Do we want to always sync to tip for the `lightwalletd` cached state?

[2022-02-16 09:02] teor2345 commented on #1592
I've been using these command-lines to test #3543 and #3555:
[code]

https://doc.rust-lang.org/rustc/tests/index.html#--nocapture

[2022-02-16 10:00] #3214 closed, assigned to conradoplg

[2022-02-16 15:15] #3477 closed, assigned to gustavovalverde

[2022-02-16 21:31] ftm1000 commented on #3533
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3533?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @jvff @oxarbitrage @teor2345 @upbqdn

[2022-02-16 21:54] ftm1000 commented on #3226
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3226?planning-poker) with ZenHub @gustavovalverde @dconnolly @conradoplg @jvff @oxarbitrage @teor2345 @upbqdn

[2022-02-16 22:33] ftm1000 commented on #3536
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3536?planning-poker) with ZenHub @conradoplg @gustavovalverde @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2022-02-16 22:33] ftm1000 commented on #3534
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3534?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @jvff @oxarbitrage @teor2345 @upbqdn

[2022-02-16 22:34] ftm1000 commented on #3451
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3451?planning-poker) with ZenHub @gustavovalverde @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2022-02-16 22:41] conradoplg opened #3563 "Store Sapling & Orchard note commitment trees in finalized and non-finalized state"
## Motivation

For #3156 we need to be able to return a Sapling & Orchard tree state (a note commitment tree, represented as a frontier, like we already do) for multiple block heights. ~~However, while we do store the Sprout trees for every height, for Sapling and Orchard we only store it for the finalized tip (and also for non-finalized tips, in memory).~~

ZecWallet Lite expects to have a tree s

[2022-02-16 23:16] teor2345 commented on #3563
I don't really have a strong opinion on this, but here are the design constraints:

Space:
- there are about 2 million blocks
- Zebra's state is about 25 GB
- each tree state takes up about 1 kB

Performance:
- there are about 1000 new tree states per day
- if a client is new, or it has been shut down for a while, it has to download up to `X` tree states before it can send transactions

And here i

[2022-02-16 23:20] teor2345 commented on #3563
Any skip interval between 100 and 10,000 would probably be fine.
But choosing lower values improves wallet performance.

[2022-02-16 23:30] conradoplg opened #3565 "Validate hashFinalSaplingRoot"
## Motivation

We missed a consensus rule, which is to validate `hashFinalSaplingRoot`. (Which entails two things: check if it's well-formed; e.g. if it's the encoding of an integer in the correct range; and if it actually matches the tree root for the treestate at the end of the block where it's contained. The second usually implies the first, but it may be useful to separate the checks)

### Spe

[2022-02-16 23:44] teor2345 commented on #3565
@conradoplg do we need to validate this consensus rule?

We checkpoint on Canopy, so our checkpointer already validates all the `hashFinalSaplingRoot`s.

If we decide to skip this rule, we should document why we're skipping it.
(In whatever place made it look like it wasn't being validated.)

[2022-02-17 00:09] #3101 closed, assigned to teor2345

[2022-02-17 00:33] conradoplg commented on #3565
Ah great point, I keep forgetting about that. Yes agreed, I'll change #3566 to cover what you mentioned and I'll close this issue.

[2022-02-17 00:33] #3565 closed, assigned to nobody

[2022-02-17 01:59] teor2345 commented on #3451
Ah right. Maybe we should only remove `gcc` and `g++` to check if `clang` is quicker. And if it will work for everything we build.

Then if it is quicker, we can find the right config to always use `clang` without removing `gcc`.

[2022-02-17 03:20] #3528 closed, assigned to oxarbitrage

[2022-02-17 14:36] jvff commented on #1592
I'm not sure if this should be a new job in `.github/workflows/test.yml` or if I should change the existing `test-stateful-sync` job. @gustavovalverde, what do you think?

[2022-02-17 17:20] ftm1000 commented on #3563
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3563?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @jvff @oxarbitrage @teor2345 @upbqdn

[2022-02-17 22:46] conradoplg commented on #3148
@teor2345 could you please add more details to what is required here? What I deduced is that we need to add a new function to `zcash_script` that receives an output and returns the address from it. Is that correct?

[2022-02-17 23:14] teor2345 commented on #1592
I'd like to keep `test-stateful-sync`, and make it a required job. It's quick, and it tells us if we've broken full validation on the first thousand post-canopy blocks.

(So it catches most full validation bugs.)

[2022-02-17 23:24] teor2345 commented on #2998
Closed by #3572.

[2022-02-17 23:24] #2998 closed, assigned to nobody

[2022-02-18 00:11] teor2345 commented on #3148
`zcash_script` operates on transactions, so we want to pass the transaction and the transparent output index. Then we want to do the same thing `zcashd` does to build its address index.

I expanded the explanation and filled in some example code.

I'm hoping we can return a `uint160` as a Rust `[u8; 20]` without having to allocate memory. But I guess we'll see.

[2022-02-18 00:22] conradoplg commented on #936
I'm closing this since the mempool is finished. If there is any documentation required for the release candidate or stable release, please open a separate ticket

[2022-02-18 00:22] #936 closed, assigned to nobody

[2022-02-18 00:38] teor2345 commented on #3413
This ticket is being replaced with a new process.

[2022-02-18 00:38] #3413 closed, assigned to nobody

[2022-02-18 02:50] teor2345 commented on #3287
PR #3555 added some hang logs that should be independent of other tasks.

[2022-02-18 02:50] #3287 closed, assigned to nobody

[2022-02-18 08:04] teor2345 commented on #2588
Closed by PR #3579, but I can't get the closing keywords to work.

[2022-02-18 08:04] #2588 closed, assigned to nobody

[2022-02-18 09:21] #3410 closed, assigned to nobody

[2022-02-18 13:11] #3443 closed, assigned to gustavovalverde

[2022-02-19 02:22] #3297 closed, assigned to conradoplg

[2022-02-19 02:27] #3224 closed, assigned to conradoplg

[2022-02-21 16:46] conradoplg commented on #3330
Done with https://github.com/ZcashFoundation/zebra/releases/tag/1.0.0-beta.5

[2022-02-21 16:46] #3330 closed, assigned to upbqdn

[2022-02-21 19:43] ftm1000 commented on #3449
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3449?planning-poker) with ZenHub @dconnolly

[2022-02-21 19:48] ftm1000 commented on #3500
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3500?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @jvff @oxarbitrage @teor2345 @upbqdn

[2022-02-21 19:49] ftm1000 commented on #3083
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3083?planning-poker) with ZenHub @dconnolly @gustavovalverde @jvff @oxarbitrage @teor2345 @upbqdn @conradoplg

[2022-02-21 19:49] ftm1000 commented on #3438
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3438?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @jvff @mpguerra @oxarbitrage @upbqdn

[2022-02-21 19:49] ftm1000 commented on #3438
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3438?planning-poker) with ZenHub @teor2345

[2022-02-21 19:50] ftm1000 commented on #3416
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3416?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @jvff @oxarbitrage @teor2345 @upbqdn

[2022-02-21 19:55] conradoplg commented on #3416
I think this was split between #3447 and #3448, so this can be closed. @teor2345 what do you think?

[2022-02-21 20:38] ftm1000 commented on #3444
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3444?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @jvff @oxarbitrage @teor2345 @upbqdn

[2022-02-21 20:39] ftm1000 commented on #3441
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3441?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @jvff @oxarbitrage @teor2345 @upbqdn

[2022-02-21 20:39] ftm1000 commented on #3440
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3440?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @jvff @oxarbitrage @upbqdn @teor2345

[2022-02-21 20:39] ftm1000 commented on #3439
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3439?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @jvff @oxarbitrage @teor2345 @upbqdn

[2022-02-21 20:45] ftm1000 commented on #3238
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3238?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @oxarbitrage @teor2345 @upbqdn @jvff

[2022-02-21 21:30] dconnolly commented on #345
This is a purely nice-to-have and I don't care much about it anymore so closing

[2022-02-21 21:30] #345 closed, assigned to nobody

[2022-02-21 22:42] dconnolly opened #3600 "Upgrade to halo2 -> halo2_proofs"
## Scheduling

This task must be done as part of:
- #2982

## Motivation

The `halo2` crate is being refactored, we may need to adjust how we use it.

### Designs

Try:

[code]

"and then you only need to focus on the API changes, not renaming the imports everywhere."

Make sure that the `orchard` crate is updated and working accordingly, if needed.

## Related Work

[2022-02-21 22:56] str4d commented on #3600
See also [the changelog for `halo2_proofs 0.1.0-beta.2](https://github.com/zcash/halo2/blob/main/halo2_proofs/CHANGELOG.md#010-beta2---2022-02-14) for all of the API changes relevant to this upgrade.

[2022-02-21 23:27] teor2345 commented on #3416
I think this is covered by those other tickets.

[2022-02-21 23:27] #3416 closed, assigned to nobody

[2022-02-21 23:49] #3218 closed, assigned to conradoplg

[2022-02-21 23:49] #3226 closed, assigned to conradoplg

[2022-02-22 00:21] teor2345 commented on #2693
This is a cleanup that already has a TODO in the code.

[2022-02-22 00:28] teor2345 opened #3603 "Fix "synced block height too far ahead of the tip: dropped downloaded block""
## Motivation

Sometimes Zebra downloads a block that is a long way ahead of the state tip. Currently, we're dropping those blocks, which can waste a lot of network bandwidth.

There are two cases we need to handle here:
1. the block is near the estimated tip, but the state tip is a long way from the estimated tip
2. the block is close to the state tip

Here is how we currently handle them:
1. dro

[2022-02-22 00:35] teor2345 commented on #3500
@gustavovalverde did you want to turn this into a discussion, then open specific tickets for any missing monitoring?

[2022-02-22 00:46] teor2345 commented on #3440
I'd like to resolve the security risks in this design before we schedule this ticket.

[2022-02-22 00:50] teor2345 commented on #3439
I'd like to resolve the security risks in this design before we schedule this ticket.

[2022-02-22 01:17] #2523 closed, assigned to conradoplg

[2022-02-22 02:12] teor2345 commented on #3141
This is going to close with PR #3589, so I put it in the same sprint as ticket #3140.

[2022-02-22 02:14] teor2345 commented on #3510
I added a link to a manual test to the ticket description:
https://github.com/ZcashFoundation/zebra/pull/3589#issuecomment-1046421779

[2022-02-22 02:25] teor2345 commented on #795
We might do this eventually, but it isn't needed any time soon. We can continue using `zcashd`.

[2022-02-22 02:30] teor2345 commented on #1004
This task is related to #466, if we decide to do it, we should just re-open one of them.

[2022-02-22 02:30] #1004 closed, assigned to nobody

[2022-02-22 02:31] teor2345 commented on #466
This task is related to #1004, if we decide to do it, we should just re-open one of them.

[2022-02-22 02:31] #466 closed, assigned to nobody

[2022-02-22 02:31] teor2345 commented on #3125
This is done!

[2022-02-22 02:31] #3125 closed, assigned to conradoplg, dconnolly, jvff, upbqdn, teor2345, oxarbitrage

[2022-02-22 02:35] teor2345 commented on #744
We're unlikely to update these tests any time soon.

[2022-02-22 02:35] #744 closed, assigned to nobody

[2022-02-22 02:35] teor2345 commented on #636
Keeping RFCs up to date isn't a high priority, until we're actually changing that code.

[2022-02-22 02:35] #636 closed, assigned to nobody

[2022-02-22 02:36] teor2345 commented on #1676
We should make these diagnostic changes as needed to the tests.

The underlying issues seem to have been fixed.

[2022-02-22 02:36] #1676 closed, assigned to nobody

[2022-02-22 02:36] teor2345 commented on #1842
This is either obsolete or we're unlikely to do it. I'm not sure which.

[2022-02-22 02:36] #1842 closed, assigned to nobody

[2022-02-22 09:48] #3533 closed, assigned to gustavovalverde

[2022-02-22 11:26] #3141 closed, assigned to nobody

[2022-02-22 11:26] #3140 closed, assigned to oxarbitrage

[2022-02-22 23:06] upbqdn commented on #3115
I ran `cargo update` and built Zebra, and all tests are passing. I just realized it's not clear to me what needs to be done in this issue.

[2022-02-23 00:03] teor2345 commented on #3115
Did `cargo update` change the `Cargo.lock` or `Cargo.toml` files?
Maybe we need to use `cargo upgrade`?

I'm just talking with @conradoplg about this ticket, we think it might be a lot more complicated than we expected.

So we might close this ticket, and just do these upgrades using dependabot.

[2022-02-23 00:24] teor2345 commented on #610
Our sync tests should cover this test case, if it is still an issue.

[2022-02-23 00:24] #610 closed, assigned to nobody

[2022-02-23 00:25] teor2345 commented on #624
We got this sorted a while ago.

[2022-02-23 00:25] #624 closed, assigned to nobody

[2022-02-23 00:26] teor2345 commented on #683
These tests either got fixed, or they are obsolete.

[2022-02-23 00:26] #683 closed, assigned to nobody

[2022-02-23 00:27] teor2345 commented on #730
These tests got written about a month or two ago.

[2022-02-23 00:27] #730 closed, assigned to nobody

[2022-02-23 00:27] teor2345 commented on #1380
`update_progress` does this now.

[2022-02-23 00:27] #1380 closed, assigned to nobody

[2022-02-23 00:28] teor2345 commented on #798
This got fixed in the spec a while ago.

[2022-02-23 00:28] #798 closed, assigned to nobody

[2022-02-23 00:33] teor2345 commented on #1158
This is a gradual cleanup that is mostly done.

[2022-02-23 00:33] #1158 closed, assigned to nobody

[2022-02-23 00:34] teor2345 commented on #1199
This is a style issue that we're flexible on.

[2022-02-23 00:34] #1199 closed, assigned to nobody

[2022-02-23 00:34] teor2345 commented on #1220
These tests either got done, or they are obsolete.

[2022-02-23 00:34] #1220 closed, assigned to nobody

[2022-02-23 00:35] teor2345 commented on #1302
These tests still need to be done, but they aren't needed any time soon.

[2022-02-23 00:35] #1302 closed, assigned to nobody

[2022-02-23 00:35] teor2345 commented on #1323
This hasn't been a problem so far, we can re-open if it becomes one.

[2022-02-23 00:35] #1323 closed, assigned to nobody

[2022-02-23 00:36] teor2345 commented on #1326
This hasn't been a problem so far, we can re-open if it becomes one.

We should consider this change if it is needed for lightwalletd performance.

[2022-02-23 00:36] #1326 closed, assigned to nobody

[2022-02-23 00:36] teor2345 commented on #1378
I think we've mostly done these tests.

[2022-02-23 00:36] #1378 closed, assigned to nobody

[2022-02-23 00:37] teor2345 commented on #2266
We've completed or obsoleted all these tasks.

[2022-02-23 00:37] #2266 closed, assigned to nobody

[2022-02-23 00:38] teor2345 commented on #2215
I think we obsoleted these tests by using the librustzcash sighash.

[2022-02-23 00:38] #2215 closed, assigned to nobody

[2022-02-23 00:38] teor2345 commented on #802
There are no required tasks left in this tracking issue.

[2022-02-23 00:38] #802 closed, assigned to nobody

[2022-02-23 00:39] teor2345 commented on #1445
This is an API cleanup we might do eventually.

[2022-02-23 00:39] #1445 closed, assigned to nobody

[2022-02-23 00:39] teor2345 commented on #1414
We do a lot more tests now, so these tests are probably obsolete.

[2022-02-23 00:39] #1414 closed, assigned to nobody

[2022-02-23 00:40] teor2345 commented on #1036
In general, we're not keeping RFCs up to date.

[2022-02-23 00:40] #1036 closed, assigned to nobody

[2022-02-23 00:40] teor2345 commented on #805
This is an idea which we would accept documentation for, but we're unlikely to do it ourselves any time soon.

[2022-02-23 00:40] #805 closed, assigned to nobody

[2022-02-23 00:41] teor2345 commented on #956
We're unlikely to make these optimisation changes any time soon.

[2022-02-23 00:41] #956 closed, assigned to nobody

[2022-02-23 00:41] teor2345 commented on #1021
This is a good idea, but the tests are mostly ok. It might also be obsolete.

[2022-02-23 00:41] #1021 closed, assigned to nobody

[2022-02-23 00:41] teor2345 commented on #1034
Most of these got done.

[2022-02-23 00:41] #1034 closed, assigned to nobody

[2022-02-23 00:42] teor2345 commented on #1107
We can do this cleanup eventually, but it doesn't seem to be needed.

[2022-02-23 00:42] #1107 closed, assigned to nobody

[2022-02-23 02:09] gustavovalverde commented on #3439
I'll just add this related info so I don't forget to talk about this subject later https://bparli.medium.com/adventures-in-rust-and-load-balancers-73a0bc61a192

[2022-02-23 02:22] #1143 closed, assigned to nobody

[2022-02-23 09:31] upbqdn commented on #3115
Running `cargo update` changed only the `Cargo.lock` file.

[2022-02-23 11:07] upbqdn commented on #3115
`cargo upgrade` changes `toml` files, and causes conflicts of dependencies. I'm trying to resolve them.

[2022-02-23 12:23] #3075 closed, assigned to upbqdn

[2022-02-23 16:34] ftm1000 commented on #3600
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3600?planning-poker) with ZenHub @dconnolly

[2022-02-23 16:36] ftm1000 commented on #3600
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3600?planning-poker) with ZenHub @gustavovalverde @conradoplg @jvff @oxarbitrage @teor2345 @upbqdn

[2022-02-23 20:24] teor2345 commented on #3115
Yeah, that's what I thought might happen. It's ok to skip any updates that cause conflicts.

[2022-02-23 20:53] teor2345 commented on #3600
# Schedule note

This task must be done as part of:
- #2982

[2022-02-24 00:45] teor2345 commented on #3510
We will need to set `ZEBRA_TEST_LIGHTWALLETD` to get this test to run, after PR #3627 merges.

[2022-02-24 01:46] teor2345 commented on #1381
We'll probably fix specific issues as they come up, rather than doing a re-design.

[2022-02-24 01:46] #1381 closed, assigned to nobody

[2022-02-24 01:48] teor2345 commented on #1397
This only needs to be done if it turns up in performance profiles.

[2022-02-24 01:48] #1397 closed, assigned to nobody

[2022-02-24 01:50] teor2345 commented on #1399
We have good test coverage for this code.

[2022-02-24 01:50] #1399 closed, assigned to nobody

[2022-02-24 01:50] teor2345 commented on #1401
We can fix this if it ever becomes an issue for users or developers.

[2022-02-24 01:50] #1401 closed, assigned to nobody

[2022-02-24 01:51] teor2345 commented on #1515
This is getting done gradually as we change the code.

[2022-02-24 01:51] #1515 closed, assigned to nobody

[2022-02-24 01:51] teor2345 commented on #1527
This fix doesn't seem to be needed.

[2022-02-24 01:51] #1527 closed, assigned to nobody

[2022-02-24 01:51] teor2345 commented on #1557
This is getting done gradually as we change the code.

[2022-02-24 01:51] #1557 closed, assigned to nobody

[2022-02-24 01:52] teor2345 commented on #1566
This is covered by other tests.

[2022-02-24 01:52] #1566 closed, assigned to nobody

[2022-02-24 01:52] teor2345 commented on #1591
We should only do this if it becomes a problem.

[2022-02-24 01:52] #1591 closed, assigned to nobody

[2022-02-24 01:53] teor2345 commented on #1610
We have other tickets that would fix the same issue.

[2022-02-24 01:53] #1610 closed, assigned to nobody

[2022-02-24 01:53] teor2345 commented on #1618
We should fix issues with individual services as they come up.

[2022-02-24 01:53] #1618 closed, assigned to nobody

[2022-02-24 01:53] teor2345 commented on #1631
This doesn't seem to be an issue in practice, we can fix it if it becomes one.

[2022-02-24 01:53] #1631 closed, assigned to nobody

[2022-02-24 01:54] teor2345 commented on #1649
This confusion hasn't actually caused any test problems.

[2022-02-24 01:54] #1649 closed, assigned to nobody

[2022-02-24 01:54] teor2345 commented on #1655
This ticket is either obsolete or not needed.

[2022-02-24 01:54] #1655 closed, assigned to nobody

[2022-02-24 01:55] teor2345 commented on #1657
Would be nice, but we've never actually needed this.

[2022-02-24 01:55] #1657 closed, assigned to nobody

[2022-02-24 01:55] teor2345 commented on #1668
The current settings seem fine.

[2022-02-24 01:55] #1668 closed, assigned to nobody

[2022-02-24 01:55] teor2345 commented on #1674
The current settings seem fine.

[2022-02-24 01:55] #1674 closed, assigned to nobody

[2022-02-24 01:56] teor2345 commented on #1675
The current settings seem fine.

[2022-02-24 01:56] #1675 closed, assigned to nobody

[2022-02-24 01:56] teor2345 commented on #1678
We're gradually doing this as errors come up.

[2022-02-24 15:24] ftm1000 commented on #3603
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3603?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @jvff @oxarbitrage @teor2345 @upbqdn

[2022-02-24 19:12] conradoplg commented on #3344
@gustavovalverde I lost track of the recent changes, is this ticket done or is there something left to do?

[2022-02-24 19:17] conradoplg commented on #3362
@gustavovalverde @teor2345  Just to check, this is blocked on us trying to make sync faster and deciding to enforce this on PRs, or to just to test it asynchronously, right?

[2022-02-24 20:42] #2167 closed, assigned to nobody

[2022-02-24 20:43] #3190 closed, assigned to nobody

[2022-02-24 20:45] #2424 closed, assigned to nobody

[2022-02-24 20:46] #2390 closed, assigned to nobody

[2022-02-24 20:56] #2705 closed, assigned to oxarbitrage

[2022-02-24 21:44] oxarbitrage commented on #3142
I think it will make sense to put the `app_version()` function we need (currently in zebrad) in the new crate `zebra-node-services` of https://github.com/ZcashFoundation/zebra/pull/3626

So this is partially blocked by that, however the PR that creates the crate should be merged soon and some work can be advanced without it so i will not tag this as blocked.

[2022-02-24 22:18] teor2345 commented on #3563
Aditya told us that ZecWallet requires every block's tree state for good performance. This will cost us about 1.5 GB for Sapling.

[2022-02-24 22:25] teor2345 commented on #3510
@gustavovalverde I just updated the ticket to use [the ZecWallet fork's master branch](https://github.com/adityapk00/lightwalletd). Can you make that change in CI?

[2022-02-24 23:07] gustavovalverde commented on #3510
@teor2345  Sure.

[2022-02-24 23:11] teor2345 commented on #3142
`app_version()` returns the version of the `zebrad` cargo package or git, so it can't be moved to another crate. (The other crate's version could be different.)

We could pass `app_version().to_string()` to `RpcServer::spawn`, and store the string in `RpcServer`?

[2022-02-24 23:14] oxarbitrage commented on #3142
Oh, I did not think on that, thanks!

Yea, i think this is doable. Thanks again.

[2022-02-24 23:24] teor2345 commented on #3362
I think this extra testing is a good idea, but there are other things that are a higher priority, like:
- #3510
- #3391

[2022-02-25 00:02] teor2345 commented on #1686
This got done as part of the Tor work.

[2022-02-25 00:02] #1686 closed, assigned to nobody

[2022-02-25 00:03] teor2345 commented on #1166
This still needs to be done for security, but we're unlikely to do it any time soon.

[2022-02-25 00:05] teor2345 commented on #1135
We don't need to do this, the current code works fine.

[2022-02-25 00:05] teor2345 commented on #745
All these tasks are unlikely to be done any time soon.

[2022-02-25 00:05] #745 closed, assigned to nobody

[2022-02-25 00:06] teor2345 commented on #1052
This is tested by the full sync tests, and other sync tests.

[2022-02-25 00:06] #1052 closed, assigned to nobody

[2022-02-25 00:07] teor2345 commented on #1392
This is a test we should do for security, but we're unlikely to do it any time soon.

[2022-02-25 00:07] #1392 closed, assigned to nobody

[2022-02-25 00:07] teor2345 commented on #704
This isn't a supported mode of operation for Zebra, but we do support the 4-8 peers on testnet.

[2022-02-25 00:07] #704 closed, assigned to nobody

[2022-02-25 00:08] teor2345 commented on #919
This is not required, and there is a TODO in the code.

[2022-02-25 00:08] #919 closed, assigned to nobody

[2022-02-25 00:08] teor2345 commented on #1400
This would be a useful test, but it's partly covered by our other tests.

[2022-02-25 00:08] #1400 closed, assigned to nobody

[2022-02-25 00:11] teor2345 commented on #1581
We've deferred this task a lot, we can do it if needed later.

[2022-02-25 00:11] #1581 closed, assigned to nobody

[2022-02-25 00:11] teor2345 commented on #1231
This is a bug which doesn't seem to come up any more.

[2022-02-25 00:11] #1231 closed, assigned to nobody

[2022-02-25 00:12] teor2345 commented on #1213
We might need to do this to support ZecWallet and lightwalletd, let's ask Aditya.

[2022-02-25 00:12] teor2345 commented on #970
This would be nice but it's not needed yet.

[2022-02-25 00:12] #970 closed, assigned to nobody

[2022-02-25 00:13] teor2345 commented on #922
We haven't done a lot of RFCs recently, so this task might not be needed.

[2022-02-25 00:13] #922 closed, assigned to nobody

[2022-02-25 00:13] teor2345 commented on #750
We probably won't do this task any time soon.

[2022-02-25 00:13] #750 closed, assigned to nobody

[2022-02-25 00:14] teor2345 commented on #692
We should add extra metadata as needed, but we're going to focus supporting one main platform anyway.

[2022-02-25 00:14] #692 closed, assigned to nobody

[2022-02-25 00:15] teor2345 commented on #656
This might be covered by abscissa 0.6. Otherwise we can do it if it's ever needed.

[2022-02-25 00:15] #656 closed, assigned to nobody

[2022-02-25 00:15] teor2345 commented on #497
We don't plan on generating blocks any time soon.

[2022-02-25 00:16] teor2345 commented on #453
This is something we can do on an ongoing basis, rather than holding a ticket open for it.

[2022-02-25 00:16] #453 closed, assigned to nobody

[2022-02-25 00:16] teor2345 commented on #862
This might be needed to fix syncing bugs.

[2022-02-25 00:18] teor2345 commented on #1140
This hasn't been much of a problem recently, we fixed all the hangs.

[2022-02-25 00:18] #1140 closed, assigned to nobody

[2022-02-25 00:18] #1166 closed, assigned to nobody

[2022-02-25 00:21] teor2345 commented on #1774
We haven't needed this yet.

[2022-02-25 00:21] #1774 closed, assigned to nobody

[2022-02-25 00:21] teor2345 commented on #1775
We can do this later if we need to.

[2022-02-25 00:21] #1775 closed, assigned to nobody

[2022-02-25 00:21] teor2345 commented on #1781
This is still a bug, but it hasn't been much of an issue for tests.

[2022-02-25 00:21] #1781 closed, assigned to nobody

[2022-02-25 00:22] teor2345 commented on #1783
This is a useful refactor, but it's not needed.

[2022-02-25 00:22] #1783 closed, assigned to nobody

[2022-02-25 00:22] teor2345 commented on #1785
This seems to have been solved.

[2022-02-25 00:23] teor2345 commented on #1813
We've done this already, and the rest of the tests need fixed ports.

[2022-02-25 00:23] #1813 closed, assigned to nobody

[2022-02-25 00:23] teor2345 commented on #1827
Not sure if this is ever needed.

[2022-02-25 00:23] #1827 closed, assigned to nobody

[2022-02-25 00:24] teor2345 commented on #1967
We don't seem to need to do this.

[2022-02-25 00:24] #1967 closed, assigned to nobody

[2022-02-25 00:24] teor2345 commented on #1694
This seems ok for now.

[2022-02-25 00:24] #1694 closed, assigned to nobody

[2022-02-25 00:24] teor2345 commented on #1698
This seems ok for now.

[2022-02-25 00:24] #1698 closed, assigned to nobody

[2022-02-25 00:25] teor2345 commented on #1723
This needs to get done, but we're unlikely to do it any time soon.

[2022-02-25 00:25] #1723 closed, assigned to nobody

[2022-02-25 00:25] teor2345 commented on #1724
This would be useful, but we should fix it when it actually causes bugs.

[2022-02-25 00:25] #1724 closed, assigned to nobody

[2022-02-25 00:27] teor2345 commented on #1893
We probably won't do this any time soon.

[2022-02-25 21:48] conradoplg opened #3654 "Retry adding send_raw_transaction to the mempool after missing UTXO failures"
## Motivation

ZecWallet Lite creates transactions that spend transparent outputs from mempool transactions. But Zebra's mempool validation requires all UTXOs to be mined.

So we want `send_raw_transaction` to support transactions based on unmined UTXOs in the mempool.

We only need to support one level of unmined transaction dependencies, because that is what ZecWallet creates.

### Designs

Do w

[2022-02-25 21:50] conradoplg opened #3655 "Integration tests for lightwalletd RPCs that are only used when a wallet connects"
## Motivation

lightwalletd waits to call some RPC methods until a wallet connects to lightwalletd.

We need to test how lightwalletd actually uses these methods as part of our integration tests.

### Specifications

### Tasks

1. Work out which RPCs aren't covered by existing tests:
    - empty state integration test
    - #3511
    - #3512
2. Work out how to test live RPCs that are only used whe

[2022-02-26 00:19] gustavovalverde commented on #3344
@conradoplg added the PR to close this

[2022-02-26 00:24] #3344 closed, assigned to gustavovalverde

[2022-02-28 02:21] teor2345 opened #3664 "sync_past_mandatory_checkpoint_mainnet fails, but CI job succeeds"
## Motivation

The `sync_past_mandatory_checkpoint_mainnet` test is currently failing:

https://github.com/ZcashFoundation/zebra/runs/5329552803?check_suite_focus=true#step:10:199

But the CI job succeeds anyway.

### Tasks

- [x] fix the test harness so the test passes
    - done in #3688
- [x] make the CI job fail when the test fails
- [x] check other CI jobs for the same bug

## Related Work

[2022-02-28 08:30] teor2345 opened #3665 "GitHub Actions cache fails, causing "Build images" job to fail"
## Motivation

I keep seeing CI failures in "Build images" when running full sync tests, but they don't happen on every run.

https://github.com/ZcashFoundation/zebra/runs/5353953645?check_suite_focus=true#step:7:2528

### Specifications

### Designs

## Related Work

[2022-02-28 13:36] oxarbitrage opened #3666 "Investigate windows failure in rpc_conflict test"
## Motivation

In https://github.com/ZcashFoundation/zebra/pull/3641 we added an `rpc_conflict` test to check an already in use port for the rpc server.

This test is failing on windows: https://github.com/ZcashFoundation/zebra/pull/3641#issuecomment-1053791732

## Scheduling

We are disabling the test for windows family but we will want to know what is going on exactly with it and potentially fix

[2022-02-28 16:23] ftm1000 commented on #3664
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3664?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @jvff @oxarbitrage @teor2345 @upbqdn

[2022-02-28 16:33] ftm1000 commented on #3665
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3665?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @jvff @oxarbitrage @teor2345 @upbqdn

[2022-02-28 20:06] ftm1000 commented on #3666
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3666?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @jvff @oxarbitrage @teor2345 @upbqdn

[2022-02-28 20:06] ftm1000 commented on #3655
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3655?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @jvff @oxarbitrage @teor2345 @upbqdn

[2022-02-28 20:07] ftm1000 commented on #3654
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3654?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @jvff @oxarbitrage @teor2345 @upbqdn

[2022-02-28 20:47] teor2345 commented on #3665
Also happened in PR #3668:

https://github.com/ZcashFoundation/zebra/runs/5364814787?check_suite_focus=true#step:7:1797

[2022-02-28 20:49] teor2345 commented on #3666
We only need to schedule this ticket if we decide to support Windows as a primary platform.

(We seemed to only want to promise primary support for Linux last time we talked.)

[2022-02-28 21:53] #3362 closed, assigned to gustavovalverde

[2022-02-28 21:54] teor2345 commented on #3438
This isn't causing us any issues right now.

[2022-02-28 21:54] #3438 closed, assigned to nobody

[2022-02-28 21:55] teor2345 commented on #3603
This isn't causing us any issues right now.

[2022-02-28 21:55] #3603 closed, assigned to nobody

[2022-02-28 21:55] teor2345 commented on #3042
We think this will be solved by upcoming fixes, or configuration changes, or a more powerful machine or network.

[2022-02-28 21:55] #3042 closed, assigned to nobody

[2022-02-28 22:11] teor2345 commented on #3441
This bug doesn't seem to be causing us any issues right now, do we want to remove it from the sprints?

[2022-02-28 22:29] gustavovalverde commented on #3666
That's correct. And we even have to workaround some issues with Docker and Rust while using Windows https://github.com/rust-lang/docker-rust/issues/30

[2022-02-28 22:38] teor2345 opened #3673 "Fake activation heights test is not running in CI"
## Motivation

The fake activation heights job doesn't run any tests:

https://github.com/ZcashFoundation/zebra/runs/5362650951?check_suite_focus=true

## Tasks

Maybe the test name, package, or `--lib` are wrong in the test command:
https://github.com/ZcashFoundation/zebra/blob/f8a4021c077d4f0b3204dd7cb8dc729522209244/.github/workflows/test.yml#L128

[2022-03-01 00:56] teor2345 opened #3675 "CI fails on Ubuntu runners because all network connections fail"
## Motivation

Sometimes our Ubuntu CI fails because all network connections fail.

We get logs like this:

https://github.com/ZcashFoundation/zebra/runs/5367124304?check_suite_focus=true#step:13:2022

This has been happening for a while, but all of the tests that depend on the network are disabled on Ubuntu.

### Scheduling

We can disable the affected tests for now, but it would be good to have

[2022-03-01 03:22] teor2345 commented on #1968
This is a good idea for an optimisation, but other optimisations are more valuable.

[2022-03-01 03:22] teor2345 commented on #1974
This is not needed, the current code works.

[2022-03-01 03:22] #1974 closed, assigned to nobody

[2022-03-01 03:23] teor2345 commented on #1976
This refactor would be useful, but it's not needed right now.

[2022-03-01 03:23] teor2345 commented on #1993
This doesn't seem to cause any bugs in practice, probably because we only use one codec right now.

[2022-03-01 03:23] #1993 closed, assigned to nobody

[2022-03-01 03:23] teor2345 commented on #2025
This doesn't seem to be needed.

[2022-03-01 03:23] #2025 closed, assigned to nobody

[2022-03-01 03:24] teor2345 commented on #2028
This is a useful validation, but it's not a high priority right now.

[2022-03-01 03:24] #2028 closed, assigned to nobody

[2022-03-01 03:24] teor2345 commented on #2030
This is a useful idea, but we don't need it any time soon.

[2022-03-01 03:24] #2030 closed, assigned to nobody

[2022-03-01 03:25] teor2345 commented on #2052
This doesn't seem to cause usability issues in practice, we can re-open if it ever does.

[2022-03-01 03:25] #2052 closed, assigned to nobody

[2022-03-01 03:25] teor2345 commented on #2059
This doesn't seem to be needed, we have good coverage already.

[2022-03-01 03:25] #2059 closed, assigned to nobody

[2022-03-01 03:25] teor2345 commented on #2076
This doesn't seem to be needed, our unsafe code is pretty simple right now.

[2022-03-01 03:25] #2076 closed, assigned to nobody

[2022-03-01 03:26] teor2345 commented on #2089
We can do this cleanup if it is ever needed.

[2022-03-01 03:26] #2089 closed, assigned to nobody

[2022-03-01 03:26] teor2345 commented on #2101
This test doesn't seem to be needed, we don't change this code very often.

[2022-03-01 03:26] #2101 closed, assigned to nobody

[2022-03-01 03:27] teor2345 commented on #2108
This is a protocol upgrade idea.

[2022-03-01 03:27] #2108 closed, assigned to nobody

[2022-03-01 03:27] teor2345 commented on #2125
We don't add new RFCs often enough for this to be worthwhile.

[2022-03-01 03:27] #2125 closed, assigned to nobody

[2022-03-01 03:28] teor2345 commented on #2171
This is a useful validation improvement, but it's not needed right now.

[2022-03-01 03:28] #2171 closed, assigned to nobody

[2022-03-01 03:28] teor2345 commented on #2188
This doesn't seem to cause bugs in practice, but it could cause:
- #3438

[2022-03-01 03:28] #2188 closed, assigned to nobody

[2022-03-01 03:29] teor2345 commented on #2201
This doesn't seem to cause problems in practice.

[2022-03-01 03:29] #2201 closed, assigned to nobody

[2022-03-01 03:30] teor2345 commented on #2202
This might cause issues like:
- #3375

But we won't know until we analyse why Zebra is actually slow

[2022-03-01 03:30] #2202 closed, assigned to nobody

[2022-03-01 03:30] teor2345 commented on #2211
This is a useful validation improvement, but it's not urgent.

[2022-03-01 03:30] #2211 closed, assigned to nobody

[2022-03-01 03:32] teor2345 commented on #2244
This is probably something we should do eventually, but it's not urgent.

[2022-03-01 03:32] #2244 closed, assigned to nobody

[2022-03-01 03:32] #3142 closed, assigned to oxarbitrage

[2022-03-01 03:42] teor2345 commented on #2258
We should do this change if needed by new tests.

[2022-03-01 03:42] #2258 closed, assigned to nobody

[2022-03-01 03:43] teor2345 commented on #2268
This general cleanup is not required.

[2022-03-01 03:43] #2268 closed, assigned to nobody

[2022-03-01 03:43] teor2345 commented on #2270
This cleanup is not required.

[2022-03-01 03:43] #2270 closed, assigned to nobody

[2022-03-01 03:43] teor2345 commented on #2271
This general cleanup is not required.

[2022-03-01 03:43] #2271 closed, assigned to nobody

[2022-03-01 03:43] teor2345 commented on #2282
This is a useful test, but it's not urgent.

[2022-03-01 03:43] #2282 closed, assigned to nobody

[2022-03-01 03:44] teor2345 commented on #2300
This is a useful test, but it's not urgent.

[2022-03-01 03:44] #2300 closed, assigned to nobody

[2022-03-01 03:44] teor2345 commented on #2319
This is a useful feature, but it's not urgent.

[2022-03-01 03:44] #2319 closed, assigned to nobody

[2022-03-01 03:45] teor2345 commented on #2324
Zcash doesn't really use this field, so this change is not required.

[2022-03-01 03:45] #2324 closed, assigned to nobody

[2022-03-01 03:45] teor2345 commented on #2325
This would be a useful simplification, but it's not required.

[2022-03-01 03:45] teor2345 commented on #2331
This is unlikely to ever happen, because parts of our code and tests use serde now.

[2022-03-01 03:45] #2331 closed, assigned to nobody

[2022-03-01 03:46] teor2345 commented on #2336
This protocol change would be useful, but other things are higher priority.

[2022-03-01 03:51] teor2345 commented on #2338
We can do this if it is ever actually needed.

[2022-03-01 03:51] #2338 closed, assigned to nobody

[2022-03-01 03:51] teor2345 commented on #2340
This is a useful security idea, but it's not needed any time soon.

[2022-03-01 03:51] #2340 closed, assigned to nobody

[2022-03-01 03:52] teor2345 commented on #2342
I'm not sure if we'll ever need this test.

[2022-03-01 03:52] #2342 closed, assigned to nobody

[2022-03-01 03:52] teor2345 commented on #2364
This would be a useful validation improvement, but it's not needed any time soon.

[2022-03-01 03:52] #2364 closed, assigned to nobody

[2022-03-01 03:53] teor2345 commented on #2386
This would simplify a lot of code, but it's not needed right now.

[2022-03-01 03:53] #2386 closed, assigned to nobody

[2022-03-01 03:53] teor2345 commented on #2394
This change isn't needed.

[2022-03-01 03:53] #2394 closed, assigned to nobody

[2022-03-01 03:53] teor2345 commented on #1388
This is covered by the full sync test.

[2022-03-01 03:53] #1388 closed, assigned to nobody

[2022-03-01 03:54] teor2345 commented on #2112
We don't need to do this unless there are some performance or hang issues we need to fix.

[2022-03-01 03:55] teor2345 commented on #2393
We don't do this often enough for it to be worth automating.

[2022-03-01 03:55] #2393 closed, assigned to nobody

[2022-03-01 03:55] teor2345 commented on #2434
I'm not sure if these tests are stable enough to run in CI.

[2022-03-01 03:55] #2434 closed, assigned to nobody

[2022-03-01 03:56] teor2345 commented on #2435
This change isn't needed.

[2022-03-01 03:56] #2435 closed, assigned to nobody

[2022-03-01 03:57] teor2345 commented on #2455
Part of this is obsolete, and part is wrong.

[2022-03-01 03:57] #2455 closed, assigned to nobody

[2022-03-01 03:57] teor2345 commented on #2475
This would be a useful code correctness improvement, but it's not needed.

[2022-03-01 03:57] #2475 closed, assigned to nobody

[2022-03-01 03:58] teor2345 commented on #2482
This would be a useful code correctness improvement, but it's not needed.

[2022-03-01 03:58] #2482 closed, assigned to nobody

[2022-03-01 03:58] teor2345 commented on #2494
Part of this is wrong, and the rest isn't needed.

[2022-03-01 03:58] #2494 closed, assigned to nobody

[2022-03-01 03:58] teor2345 commented on #2534
This isn't needed, we should open tickets for missing or incorrect checks instead.

[2022-03-01 03:58] #2534 closed, assigned to nobody

[2022-03-01 03:59] teor2345 commented on #2594
The full sync test makes this ticket obsolete.

[2022-03-01 03:59] #2594 closed, assigned to nobody

[2022-03-01 03:59] teor2345 commented on #2689
This is either obsolete or contained in #3152

[2022-03-01 03:59] #2689 closed, assigned to nobody

[2022-03-01 04:00] #3041 closed, assigned to nobody

[2022-03-01 04:00] teor2345 commented on #2834
This is either obsolete or not needed.

[2022-03-01 04:00] #2834 closed, assigned to nobody

[2022-03-01 04:01] teor2345 commented on #2854
This is not urgent, but it would be nice to do eventually.

[2022-03-01 04:01] #2854 closed, assigned to nobody

[2022-03-01 04:01] teor2345 commented on #2930
Windows is a low-priority platform, so we might not ever do this.

[2022-03-01 04:01] #2930 closed, assigned to nobody

[2022-03-01 04:02] teor2345 commented on #2980
We should do the simplest fix as part of a future version upgrade.

[2022-03-01 04:02] #2980 closed, assigned to nobody

[2022-03-01 04:02] teor2345 commented on #2983
This will either happen as part of #3115, or it is blocked by a dependency issue.

[2022-03-01 04:02] #2983 closed, assigned to nobody

[2022-03-01 04:04] teor2345 commented on #3000
This change isn't urgent at all.

[2022-03-01 04:04] #3000 closed, assigned to nobody

[2022-03-01 04:04] teor2345 commented on #2355
This change isn't urgent at all.

[2022-03-01 04:04] #2355 closed, assigned to nobody

[2022-03-01 04:05] teor2345 commented on #3012
This is a security edge case.

[2022-03-01 04:05] #3012 closed, assigned to nobody

[2022-03-01 04:05] teor2345 commented on #3016
These rules are not required.

[2022-03-01 04:05] #3016 closed, assigned to nobody

[2022-03-01 04:05] teor2345 commented on #3061
These dependency upgrades should sort themselves out eventually.

[2022-03-01 04:05] #3061 closed, assigned to nobody

[2022-03-01 04:06] teor2345 commented on #3111
This will help with diagnosing user issue reports.

[2022-03-01 04:07] teor2345 commented on #3118
This is a consensus rule edge case that will never happen.

[2022-03-01 04:07] #3118 closed, assigned to nobody

[2022-03-01 04:07] teor2345 commented on #3138
We only need to do this if performance is unacceptable.

This could be a cause of:
- #3438

[2022-03-01 04:08] teor2345 commented on #3183
This isn't a high priority for process documentation.

[2022-03-01 04:08] #3183 closed, assigned to nobody

[2022-03-01 04:08] teor2345 commented on #3184
This is an ongoing task that we will do as dependencies upgrade.

[2022-03-01 04:08] #3184 closed, assigned to nobody

[2022-03-01 04:09] teor2345 commented on #3188
This isn't needed as a separate task.

[2022-03-01 04:09] #3188 closed, assigned to nobody

[2022-03-01 04:10] teor2345 commented on #3198
This seems like a marginal cleanup refactor.

[2022-03-01 04:10] #3198 closed, assigned to nobody

[2022-03-01 04:10] teor2345 commented on #3204
This isn't needed.

[2022-03-01 04:10] #3204 closed, assigned to nobody

[2022-03-01 04:10] teor2345 commented on #3238
This seems to work ok as it is.

[2022-03-01 04:10] #3238 closed, assigned to nobody

[2022-03-01 04:11] teor2345 commented on #3242
This isn't needed at the moment, because we just use our own mempool.

[2022-03-01 04:11] #3242 closed, assigned to nobody

[2022-03-01 04:11] teor2345 commented on #3248
This cleanup isn't needed any time soon.

[2022-03-01 04:11] #3248 closed, assigned to nobody

[2022-03-01 04:12] teor2345 commented on #3250
This cleanup isn't needed any time soon.

[2022-03-01 04:12] #3250 closed, assigned to nobody

[2022-03-01 04:12] teor2345 commented on #3251
This cleanup seems marginal.

[2022-03-01 04:12] #3251 closed, assigned to nobody

[2022-03-01 04:12] teor2345 commented on #3260
I'm not sure this cleanup is actually possible, due to API differences.

[2022-03-01 04:12] #3260 closed, assigned to nobody

[2022-03-01 04:13] teor2345 commented on #3263
This cleanup isn't needed any time soon.

[2022-03-01 04:13] teor2345 commented on #3271
I think our current broadcast channel implementation does this well enough for now.

[2022-03-01 04:14] teor2345 commented on #3277
This is either complete, or we decided not to do it.

[2022-03-01 04:14] #3277 closed, assigned to mpguerra, oxarbitrage

[2022-03-01 04:15] teor2345 commented on #3279
This isn't going to happen any time soon.

[2022-03-01 04:15] #3279 closed, assigned to nobody

[2022-03-01 04:16] teor2345 commented on #3280
Previous changes like this have had unexpected impacts, so I don't want to make this change until we schedule time for cleanups.

[2022-03-01 04:16] #3280 closed, assigned to nobody

[2022-03-01 04:16] teor2345 commented on #3281
We're not publishing our crates any time soon, so this change can wait.

[2022-03-01 04:16] #3281 closed, assigned to nobody

[2022-03-01 04:17] teor2345 commented on #3288
This isn't actually causing any deadlocks.

[2022-03-01 04:17] teor2345 commented on #3290
This cleanup isn't needed, unless it shows up in performance profiles.

[2022-03-01 04:17] #3290 closed, assigned to nobody

[2022-03-01 04:18] teor2345 commented on #3300
Our current code is probably ok for now.

[2022-03-01 04:18] #3300 closed, assigned to nobody

[2022-03-01 04:19] teor2345 commented on #3307
We can do this when our other dependencies upgrade.

[2022-03-01 04:19] #3307 closed, assigned to nobody

[2022-03-01 04:19] teor2345 commented on #3315
We'll do this as a routine upgrade at some point.

[2022-03-01 04:19] #3315 closed, assigned to nobody

[2022-03-01 04:21] teor2345 commented on #3320
This isn't somethign we need to fix any time soon.

[2022-03-01 04:22] teor2345 commented on #3442
@jvff do you mind if I close this ticket?

The current code seems to work, and it's totally unrelated to the light wallet epic.

[2022-03-01 04:25] teor2345 commented on #862
This is a real bug, but it doesn't seem to cause that many problems in practice.

[2022-03-01 04:26] teor2345 commented on #2209
I think we fixed this using the shutdown atomic.

If it happens again, we can open a new ticket.

[2022-03-01 04:26] #2209 closed, assigned to nobody

[2022-03-01 04:28] teor2345 commented on #3187
We can probably just use the same process as:
- #3186

[2022-03-01 04:28] #3187 closed, assigned to nobody

[2022-03-01 10:22] #3451 closed, assigned to gustavovalverde

[2022-03-01 14:50] #3391 closed, assigned to gustavovalverde

[2022-03-01 23:21] teor2345 commented on #3665
Also happened in PR #3641, the error is slightly different:

[2022-03-01 23:28] teor2345 commented on #3665
Probably also failed on #3647:
https://github.com/ZcashFoundation/zebra/runs/5383367400?check_suite_focus=true

[2022-03-02 05:46] teor2345 commented on #3391
I just turned on GitHub automatic reviewer assignment, using the load-balancing strategy, and 2 reviewers for unsafe code.

It seems to work on the latest PR I submitted (#3691).

PRs earlier than 3691 might need manual reviewer assignment.

[2022-03-02 07:49] teor2345 commented on #3448
@gustavovalverde is this already done in https://github.com/ZcashFoundation/zebra/blob/main/.github/workflows/zcash-params.yml ?

[2022-03-02 12:04] gustavovalverde commented on #3448
@teor2345 that's correct. But I haven't closed this because I suppose this is also needed for the `ci.yml` as I've seen that Windows and Mac are not hitting the zcash parameters cache from time to time.

[2022-03-02 14:23] #3534 closed, assigned to oxarbitrage

[2022-03-02 14:45] conradoplg commented on #3041
Writing this down since I briefly looked into this:

`zcash_script.cpp` includes `primitives/transaction.h` -> `primitives/orchard.h` which requires a pointer to the  `orchard_bundle_free` function which is contained in `orchard_ffi.rs`. Fixing this will require some non-trivial refactoring of the `zcashd` code. (In more generic terms, `zcash_script.cpp` inclues transaction structures, which inclu

[2022-03-03 00:08] teor2345 opened #3712 "CI fails because the API rate limit is exceeded"
## Motivation

CI has failed multiple times over the last few days with:

https://github.com/ZcashFoundation/zebra/runs/5399888051?check_suite_focus=true#step:5:69

[2022-03-03 00:39] #3165 closed, assigned to oxarbitrage

[2022-03-03 01:09] gustavovalverde commented on #3673
Based on this discussion https://github.com/ZcashFoundation/zebra/discussions/3683#discussioncomment-2276565, I'd prefer to use `runtime` environment variables to run this test. Otherwise we'd have to build a docker image specifically to fix this issue.

I don't know the difficulty of doing it with environment variables, as it would require changes in Rust. Please let me know how to proceed with t

[2022-03-03 01:15] gustavovalverde commented on #3664
The issue here is that I'm basically just reading the logs, and there's not an `exit code` when the logs stop capturing data. So I'll just find a way to capture the status of the container after the logs finished. This might require an extra step, but it will ensure an exit code is captured after we have no output from the logs

[2022-03-03 08:34] teor2345 commented on #3664
The test harness is the same as other tests, and produces the same exit statuses:
https://github.com/ZcashFoundation/zebra/blob/675fa3621dc62f2f363bf15b7d5a14a5ad8e44b8/zebrad/tests/acceptance.rs#L1365-L1369

Can we do the same checks for the test exit status?

[2022-03-03 08:36] teor2345 commented on #3664
Does the full sync test also have the same exit status issue?
It uses a similar test harness, but it produces a lot more logs.

(We know the lightwalletd integration test doesn't have the same issue, because it is failing right now 🤣)

[2022-03-03 09:13] teor2345 commented on #3673
I agree, runtime environmental variables would be easier and more efficient.

This is a complicated Rust change, because we need to change Zebra's hard-coded consensus parameters. (In particular, the network upgrade activation heights.) You can see the details in ticket #3238.

[2022-03-03 09:26] teor2345 commented on #3600
#2982 moved sprints, but this linked task didn't.

Should we close this ticket, and move its details into #2982?

[2022-03-03 09:29] teor2345 commented on #3673
We're focused on the lightwalletd work right now, so we need to keep Rust and DevOps scope small. But getting all our tests working is also important.

I can see these alternatives:
- run the tests in docker (extra DevOps work, and extra CI run time)
- run the tests on ubuntu or macOS runners, like we used to do before the CI refactor (extra CI run time)
- do the Rust fixes, and adjust scope elsew

[2022-03-03 09:41] teor2345 commented on #3673
Thinking about this a bit more...

Can we focus on these urgent bugs that are causing regular CI failures every day:
- #3665
- #3712
- #3705

Once they are fixed, we'll be in a better position to make other changes.

[2022-03-03 11:32] gustavovalverde commented on #3673
I'll focus on the issues that are actually stopping PRs from getting merged, and then we'll retake this subject.

[2022-03-03 13:57] conradoplg commented on #3148
Those two PRs mentioned above close this issue. (The `zcashd` one won't be merged into `main` and we will keep pointing to that branch, until we create a PR upstream and it's accepted)

[2022-03-03 13:57] #3148 closed, assigned to conradoplg

[2022-03-03 15:18] upbqdn commented on #2760
Closing since this is out of scope.

[2022-03-03 15:18] #2760 closed, assigned to nobody

[2022-03-03 19:09] upbqdn commented on #3563
Should the note commitment trees be included in the non-finalized state as well?

[2022-03-03 19:39] jvff commented on #3673
I'm up for the Rust changes to allow the test to have the activation heights set through environment variables. I think the risk isn't too big, and it will also avoid increasing CI times. That said, there is the effort/scope to factor in, so I understand if we don't want to do this (yet?).

[2022-03-03 19:57] jvff commented on #3442
Yeah, I think we will probably not need this any time soon.

[2022-03-03 21:22] conradoplg commented on #3563
I think so, since the non-finalized blocks can be queried too

[2022-03-03 21:32] conradoplg commented on #3673
I think it's possible that implementing https://github.com/ZcashFoundation/zebra/issues/3238 may be faster than discussing if it's worth doing it :rofl: Let me try to quickly implement it tomorrow and if it turns out it's complicated we can rethink this (I was going to do that today but ended up focusing on other stuff)

[2022-03-03 22:20] teor2345 commented on #3712
Failed on PR #3265:
https://github.com/ZcashFoundation/zebra/runs/5406435221?check_suite_focus=true#step:5:69

(And a lot of other PRs.)

[2022-03-03 22:40] #3442 closed, assigned to jvff

[2022-03-03 22:42] oxarbitrage commented on #3159
It seems this will need something similar to what we did at https://github.com/ZcashFoundation/zebra/pull/3706 and https://github.com/ZcashFoundation/zebra/pull/3725

[2022-03-03 22:45] teor2345 commented on #3665
Failed in PR #3691:
https://github.com/ZcashFoundation/zebra/runs/5414784546?check_suite_focus=true#step:7:274

[2022-03-04 06:33] #3665 closed, assigned to gustavovalverde

[2022-03-04 07:00] #3146 closed, assigned to jvff

[2022-03-04 08:12] #3712 closed, assigned to gustavovalverde

[2022-03-04 15:10] oxarbitrage opened #3745 "Zebra takes too much time to respond to `getblock` RPC method."
## Description

During https://github.com/ZcashFoundation/zebra/pull/3707 manual testing it was found that the `get_block` method works when called just at when the port is open but it hangs for a while as zebra sync make progress.

### Steps to Reproduce

After https://github.com/ZcashFoundation/zebra/pull/3707 is merged into main or from the https://github.com/ZcashFoundation/zebra/pull/3707 bra

[2022-03-04 18:04] conradoplg commented on #3673
Created https://github.com/ZcashFoundation/zebra/pull/3749

[2022-03-04 22:15] upbqdn commented on #3563
Note: We store and query Sprout note commitment trees by anchors, not heights. I updated the description of the issue so that it reflects this.

Since #3156 will query the note commitment trees by heights, we will have to have two more column families in the database: `sapling_note_commitment_tree_by_height` and `orchard_note_commitment_tree_by_height`. Similarly, for the non-finalized state, the

[2022-03-05 14:06] oxarbitrage commented on #2575
In we added some tests that are also a bit slow, we should consider decreasing the number of random transactions the tests do.

[code]

[2022-03-05 14:09] #2575 closed, assigned to nobody

[2022-03-06 18:56] gustavovalverde commented on #3673
Fixed by https://github.com/ZcashFoundation/zebra/pull/3749

[2022-03-06 18:56] #3673 closed, assigned to gustavovalverde

[2022-03-06 19:07] gustavovalverde commented on #1592
Fixed by https://github.com/ZcashFoundation/zebra/pull/3582

[2022-03-06 19:07] #1592 closed, assigned to jvff, gustavovalverde

[2022-03-07 01:32] teor2345 commented on #3563
It looks like we already store sapling and orchard trees by height in the finalized state?
(But we delete every height except for the latest height.)

https://github.com/ZcashFoundation/zebra/blob/main/book/src/dev/rfcs/0005-state-updates.md#rocksdb-data-structures

https://github.com/ZcashFoundation/zebra/blob/699c0625f3e57edc732f834ed8b354cd8e11f423/zebra-state/src/service/finalized_state/zebra_

[2022-03-07 01:40] teor2345 opened #3757 "De-duplicate note commitment trees in the finalized and non-finalized state"
## Motivation

Zebra stores duplicates of each Sprout note commitment tree, and after #3563, it also stores duplicates of each Sapling and Orchard note commitment tree.

This is a RAM, disk space, and speed optimisation.

### Major Optimisations

- [x] #4766
- [x] #4721
- [x] #4784

- Only store the first non-finalized sprout/sapling/orchard anchor in each identical series of anchors, and access t

[2022-03-07 01:41] teor2345 commented on #3563
I split out this optimisation task, because it's optional:
- #3757

But we might need it to get better performance.

[2022-03-07 01:42] teor2345 commented on #3675
I'm marking this task as optional, because skipping the affected tests seems to work for now.

[2022-03-07 01:49] teor2345 commented on #3745
Does this only happen when Zebra is syncing large numbers of blocks?

[2022-03-07 02:07] #3115 closed, assigned to upbqdn

[2022-03-07 02:37] gustavovalverde commented on #3510
Fixed by https://github.com/ZcashFoundation/zebra/pull/3619 and https://github.com/ZcashFoundation/zebra/pull/3657

[2022-03-07 02:37] #3510 closed, assigned to teor2345, gustavovalverde

[2022-03-07 18:32] oxarbitrage opened #3764 "Use discussed RPC documentation format in already merged (or in progress) methods"
We are discussing what will be standard format for RPC method documentation in https://github.com/ZcashFoundation/zebra/discussions/3638

However we already merged (or are in progress of) some methods that will need to be changed to this new format.

This include at the moment of writing:

- `getinfo`
- `sendrawtransaction`
- `getblock`
- `getbestblockhash`

[2022-03-07 21:25] ftm1000 commented on #3745
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3745?planning-poker) with ZenHub @conradoplg @dconnolly @oxarbitrage @teor2345 @upbqdn @jvff

[2022-03-08 15:09] #3536 closed, assigned to gustavovalverde

[2022-03-08 17:57] conradoplg opened #3800 "CI: build crates independently on Windows MSVC and MinGW"
## Motivation

We disabled Windows build in #3799 due to `zcash_script` requiring MinGW, and `rocksdb` requiring `rocksdb`.

But we could build and test crates independently, with different targets. With that, we at least would have some testing on Windows

### Specifications

### Designs

- [ ] Re-enable Windows build
- [ ] Change CI to build and test (on Windows):

- `zebra_script` with MinGW
-

[2022-03-08 18:02] conradoplg opened #3801 "Tracking: Restore Windows support"
## Motivation

We disabled Windows build in #3799 due to `zcash_script` requiring MinGW, and `rocksdb` requiring MSVC.

But we can restore Windows support if we wish. See [discussion](https://github.com/ZcashFoundation/zebra/discussions/3704).

### Specifications

### Designs

Restore Windows support by making Zebra fully compile with MSVC or MinGW, by either:

- Changing `zcash_script` so it comp

[2022-03-08 22:33] conradoplg commented on #3520
I didn't do this in `zebra-script` since we only seem to use the precomputed API

[2022-03-09 02:05] teor2345 commented on #3375
This ticket might be made redundant by:
- #3745

Let's remove it from this sprint, and check again after #3745 has been used for a while.

If it's still a problem, we can do this ticket to make the full sync CI faster.

[2022-03-10 00:06] ftm1000 commented on #3494
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3494?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @teor2345

[2022-03-10 00:07] ftm1000 commented on #3360
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3360?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @teor2345

[2022-03-10 00:45] teor2345 opened #3827 "When "Test with fake activation heights" is skipped, Mergify hangs"
## Motivation

When the "Test with fake activation heights" job is skipped, Mergify hangs on the PR, because it is a required job in GitHub settings.

### Temporary Workaround

I removed the job from the required jobs in GitHub settings.

## Long-Term Fix

1. Do we need a patch workflow for "Test with fake activation heights"?
2. Restore this job as a required job in GitHub settings or Mergify

[2022-03-10 01:12] #3144 closed, assigned to oxarbitrage

[2022-03-10 01:34] conradoplg opened #3831 "Remove duplicated zcash_proofs"
## Motivation

We forked `zcash_proofs` because we need Sprout downloading support https://github.com/zcash/librustzcash/pull/459, which causes it to be duplicated as a dependency since other crates we use also import the upstream version.

### Specifications

### Designs

After the PR is merged upstream:

- Remove reference to the fork
- Remove the exceptions from `deny.toml`

## Related Work

[2022-03-10 15:05] ftm1000 commented on #3757
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3757?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2022-03-10 15:18] ftm1000 commented on #3827
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3827?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2022-03-10 15:19] ftm1000 commented on #3800
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3800?planning-poker) with ZenHub @gustavovalverde @conradoplg @dconnolly @teor2345

[2022-03-10 20:27] teor2345 commented on #3757
We confirmed that this ticket is optional in https://github.com/ZcashFoundation/zebra/pull/3818#discussion_r823141591

[2022-03-11 02:05] jvff commented on #3439
We can revisit this in the future if needed.

[2022-03-11 02:05] #3439 closed, assigned to nobody

[2022-03-11 02:07] jvff commented on #3440
I think the slow loris attack would already be mitigated by the hedge layer, and we can prevent it by still having a larger timeout besides the internal dynamic timeout and/or calculating the dynamic timeout in a way that ensures a given bound.

We can revisit this in the future if needed.

[2022-03-11 02:07] #3440 closed, assigned to nobody

[2022-03-11 03:23] #3149 closed, assigned to conradoplg

[2022-03-11 05:13] #3159 closed, assigned to oxarbitrage

[2022-03-11 19:16] conradoplg commented on #2378
Performance on forks doesn't seem to be an issue so I'll close this for now.

[2022-03-11 19:16] #2378 closed, assigned to nobody

[2022-03-12 14:46] jvff opened #3855 "Log unknown RPCs received by Zebra"
## Motivation

To help with our goal of implementing the necessary RPCs to allow Zebra to serve as a backend for lightwalletd, we should log ~all~ _unrecognized_ RPCs received by Zebra. The goal is to figure out if there are any lightwalletd calls that we are currently missing.

Edit: All RPCs can be logged by enabling the `rpc=trace` filter for tracing, so this issue changed scope to focus on rep

[2022-03-12 14:53] jvff opened #3856 "Print lightwalletd output during integration test"
## Motivation

Zebra currently consumes all of lightwalletd's output during the integration test. It would be useful to have that output also sent to the standard output so that debugging any issues is easier.

## Related Work

[2022-03-12 16:51] #3160 closed, assigned to oxarbitrage

[2022-03-13 23:36] teor2345 commented on #3145
@ftm1000 @conradoplg this ticket doesn't depend on the transaction database indexes.

It will perform poorly until we do #3151, but it should be ok for testing.

[2022-03-14 13:46] ftm1000 commented on #3856
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3856?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2022-03-14 21:18] dconnolly commented on #621
Closing as we are using `zcash_script` for now

[2022-03-14 21:18] #621 closed, assigned to nobody

[2022-03-14 21:18] dconnolly commented on #250
Closing for now

[2022-03-14 21:18] #250 closed, assigned to nobody

[2022-03-14 21:19] dconnolly commented on #208
I think this issue is defunct

[2022-03-14 21:19] #208 closed, assigned to nobody

[2022-03-14 21:22] dconnolly commented on #319
This has been completed in [`redjubjub`](https://github.com/ZcashFoundation/redjubjub) and our [`redpallas`](https://github.com/ZcashFoundation/zebra/tree/main/zebra-chain/src/primitives/redpallas) crates

[2022-03-14 21:22] #319 closed, assigned to dconnolly

[2022-03-14 21:23] dconnolly commented on #900
Solved

[2022-03-14 21:23] #900 closed, assigned to dconnolly

[2022-03-14 21:25] dconnolly commented on #1533
Closing, we have invested a lot in CI and testing automation since this was opened so I'd call this defunct

[2022-03-14 21:25] #1533 closed, assigned to dconnolly

[2022-03-14 21:34] dconnolly opened #3869 "Orchard: ensure that ivk = 0 is rejected if that negligible case occurs"
## Motivation

"In a pairing today, @Daira (ze/hir) and I discovered a bug in the orchard crate, that arose from the interaction of the fixes for the two circuit bugs that were found and fixed in zcashd 4.5.1. If we'd recognised this current bug at the time of those fixes, we'd probably have altered how we changed the circuit (but making that change now would be too noisy and require further analy

[2022-03-14 21:57] oxarbitrage commented on #3143
I am unsure about the `consensus` object data regarding what should we return there.

I tried to get info from zcashd and i get all `00000` in that fields, however it was a not in sync chain. Anyone know what is the data that goes there ?

[2022-03-14 22:02] dconnolly commented on #908
Done-ish

[2022-03-14 22:02] #908 closed, assigned to nobody

[2022-03-14 22:03] dconnolly commented on #899
Defunct

[2022-03-14 22:03] #899 closed, assigned to nobody

[2022-03-14 22:04] dconnolly commented on #277
Creation of Sprout notes is not supported anymre, only z -> t

[2022-03-14 22:04] #277 closed, assigned to nobody

[2022-03-15 01:12] conradoplg commented on #2207
We don't need this since we checkpoint on Canopy and no existing transactions has high version numbers.

[2022-03-15 01:12] #2207 closed, assigned to nobody

[2022-03-15 01:13] conradoplg commented on #2377
We can refactor it if needed in case we need to edit the code again.

[2022-03-15 01:13] #2377 closed, assigned to nobody

[2022-03-15 01:15] conradoplg commented on #2438
I still would like to this but it's not important nor required.

[2022-03-15 01:15] #2438 closed, assigned to nobody

[2022-03-15 01:17] conradoplg commented on #2468
Closing this since performance doesn't seem to be an issue. If we decide it should be done we can reopen it.

[2022-03-15 01:17] #2468 closed, assigned to nobody

[2022-03-15 01:26] conradoplg commented on #2604
Optional cleanup that we can do if we touch the code again if needed.

[2022-03-15 01:26] #2604 closed, assigned to nobody

[2022-03-15 01:41] conradoplg commented on #3127
Tracked in https://github.com/ZcashFoundation/zebra/issues/3153. Can be done if we detect it's a bottleneck.

[2022-03-15 01:41] #3127 closed, assigned to conradoplg

[2022-03-15 01:45] conradoplg commented on #3368
We can just wait for the next bump.

[2022-03-15 01:45] #3368 closed, assigned to nobody

[2022-03-15 01:46] conradoplg commented on #3369
We can just wait for the next bump.

[2022-03-15 01:46] #3369 closed, assigned to nobody

[2022-03-15 02:05] conradoplg commented on #623
Closing since decided to keep using `zcash_script` for now

[2022-03-15 02:05] #623 closed, assigned to nobody

[2022-03-15 02:05] teor2345 commented on #1480
We don't know when we'll stabilise all the Zebra crates.

If we want to upload individual stable crates, we should open specific tickets for them.

[2022-03-15 02:05] #1480 closed, assigned to nobody

[2022-03-15 02:07] teor2345 commented on #1617
This was on the retrospective agenda today, so I'm going to leave it open.

[2022-03-15 02:08] teor2345 commented on #1619
We've decided to just focus on one supported platform for now.

[2022-03-15 02:08] #1619 closed, assigned to nobody

[2022-03-15 02:08] conradoplg commented on #758
Closing since serialization errors aren't very common in node usage. This would be more important for the crate itself, but we can reopen this if it becomes relevant.

[2022-03-15 02:08] #758 closed, assigned to nobody

[2022-03-15 02:10] teor2345 commented on #1623
This will probably get done as part of the README cleanup, or we can re-open it if it becomes an issue again.

[2022-03-15 02:10] #1623 closed, assigned to nobody

[2022-03-15 02:10] conradoplg commented on #1073
Closing for now since it's not urgent for node usage, we can do this later if we decide polish the crates themselves

[2022-03-15 02:10] #1073 closed, assigned to nobody

[2022-03-15 02:11] teor2345 commented on #1624
We've already simplified the Zebra logs. We can re-open this ticket if we decide on a terminal for Zebra's user interface.

(We could use a web page or Grafana dashboard instead.)

[2022-03-15 02:11] #1624 closed, assigned to nobody

[2022-03-15 02:11] teor2345 commented on #1625
We've already simplified the Zebra logs. We can re-open this ticket if we decide on a dashboard for Zebra's user interface.

[2022-03-15 02:11] #1625 closed, assigned to nobody

[2022-03-15 02:12] teor2345 commented on #1626
We've already simplified the Zebra logs. We can re-open this ticket if we decide on a web page for Zebra's user interface.

[2022-03-15 02:12] #1626 closed, assigned to nobody

[2022-03-15 02:12] teor2345 commented on #1627
We've decided on RPC via lightwalletd to start with, so this ticket is now obsolete.

[2022-03-15 02:12] #1627 closed, assigned to nobody

[2022-03-15 02:12] teor2345 commented on #2624
We decided not to write this ZIP.

[2022-03-15 02:12] #2624 closed, assigned to nobody

[2022-03-15 02:13] conradoplg commented on #1297
Closing for now, it seems mainnet only already provides good coverage

[2022-03-15 02:13] #1297 closed, assigned to nobody

[2022-03-15 02:13] teor2345 commented on #2625
We have all the mempool design documents we needed to implement the mempool.

[2022-03-15 02:13] #2625 closed, assigned to nobody

[2022-03-15 02:41] teor2345 commented on #3143
`consensus` contains the `ConsensusBranchId` of the current tip block and the next block.

Something like:
[code]

[2022-03-15 09:13] #3764 closed, assigned to nobody

[2022-03-15 13:05] oxarbitrage commented on #1654
We temporally disabled windows support by removing it from the CI. We will not fix this anytime soon.

[2022-03-15 13:05] #1654 closed, assigned to nobody

[2022-03-15 13:07] oxarbitrage commented on #1666
We made serveral changes to the shutdown and we are pretty much ok with it, at least by now.

[2022-03-15 13:07] #1666 closed, assigned to nobody

[2022-03-15 13:11] oxarbitrage commented on #2892
I moved this one to the stable release candidate epic. It will probably be replaced by smaller, specific issues but we should take a look at this before a stable release.

[2022-03-15 13:13] oxarbitrage commented on #3229
I don't think we will do this in any near future.

[2022-03-15 13:13] #3229 closed, assigned to oxarbitrage

[2022-03-15 13:13] oxarbitrage commented on #3666
We are not supporting windows anymore by now, we can reopen if we decide to do so.

[2022-03-15 13:13] #3666 closed, assigned to nobody

[2022-03-15 14:17] oxarbitrage commented on #3230
IIRC we are not going to follow this design.

[2022-03-15 14:17] #3230 closed, assigned to nobody

[2022-03-15 19:43] teor2345 commented on #3018
I just added "zebra-specific test changes" to this ticket, because the testnet fixes will break some test vectors from the first NU5 testnet activation.

Other tests might also have changed.

[2022-03-15 19:50] #3745 closed, assigned to teor2345

[2022-03-15 20:35] teor2345 commented on #2892
The Stable Release Candidate is only for starting the audit.

Documentation format issues don't stop us getting the code audited, and this isn't a breaking change, so I moved this to the tech debt and documentation epics.

[2022-03-15 20:37] teor2345 commented on #3383
This isn't a breaking change, does it need to happen before the stable release?

[2022-03-15 21:01] conradoplg commented on #3383
@teor2345 I moved some to that Epic thinking about making it just a "Stable Release" epic, but there weren't enough issues to justify that. I'll move them to the Tech Debt Epic

[2022-03-15 22:18] dconnolly opened #3881 "Old PRs can add a new "latest" cached state w/ the old state version"
## Motivation

We don't check the state version when updating the cached state, so old PRs can add a new "latest" cached state with the old state version. This won't break CI, but it adds 2.5 hours to the mergify queue.

We can check cached state version vs the version in the current branch being tested. Doing this requires making the cached state version easier to find in CI. One idea is adding t

[2022-03-16 04:00] teor2345 opened #3887 "Move coverage builds to stable Rust"
## Motivation

In PR #3886, we disabled coverage builds, because nightly Rust had bugs.

Stable Rust now supports coverage, and it will be more reliable than nightly.

## Tasks

Coverage was stabilised in Rust 1.60:
https://github.com/rust-lang/rust/blob/master/RELEASES.md#compiler

- Switch the coverage job to stable Rust
- Switch to using `-C instrument-coverage`

## Follow Up

Upgrade the cover

[2022-03-17 00:37] #2368 closed, assigned to jvff

[2022-03-17 20:03] upbqdn commented on #3563
I realized I forgot to mention this issue in the corresponding PR, so it didn't get closed. Should we close this?

[2022-03-17 22:33] conradoplg commented on #3563
Sure! I linked the PR and I'm closing this

[2022-03-17 22:33] #3563 closed, assigned to upbqdn

[2022-03-18 04:31] #3856 closed, assigned to jvff

[2022-03-18 18:24] jvff commented on #2391
This seems to only depend on `x25519-dalek` having its 2.0 version released. So this should be fixed by upgrading to that version once it is released. I'll close this issue for now, and we can create a new issue for the update later.

[2022-03-18 18:24] #2391 closed, assigned to nobody

[2022-03-18 18:25] #2426 closed, assigned to nobody

[2022-03-18 18:26] #2448 closed, assigned to nobody

[2022-03-18 18:26] #2460 closed, assigned to nobody

[2022-03-18 18:27] #2473 closed, assigned to nobody

[2022-03-18 18:27] #2509 closed, assigned to nobody

[2022-03-18 18:27] #2571 closed, assigned to nobody

[2022-03-18 18:28] #2572 closed, assigned to nobody

[2022-03-18 20:29] #3444 closed, assigned to nobody

[2022-03-18 20:29] #3046 closed, assigned to nobody

[2022-03-18 20:34] #2927 closed, assigned to nobody

[2022-03-18 20:37] #3048 closed, assigned to nobody

[2022-03-18 20:38] #3083 closed, assigned to nobody

[2022-03-18 20:38] #3047 closed, assigned to nobody

[2022-03-18 20:38] #2781 closed, assigned to nobody

[2022-03-18 20:44] #3005 closed, assigned to nobody

[2022-03-18 20:52] oxarbitrage commented on #2024
Not needed right now and there are `TODO` comments in the code. We can always reopen or open a new issue for it.

[2022-03-18 20:52] #2024 closed, assigned to nobody

[2022-03-18 20:55] oxarbitrage commented on #2409
In the worst case this is a minor performance issue inside a specific test. Not very important at the moment.

[2022-03-18 21:01] oxarbitrage commented on #2616
This was all fixed when we did https://github.com/ZcashFoundation/zebra/issues/3125

[2022-03-18 21:01] #2616 closed, assigned to nobody

[2022-03-18 21:03] jvff commented on #3512
An idea on how to test this without having to set up an account and use real funds (which would limit CI execution and potentially make it more complicated due to the need to protect keys):

1. Spawn a zebrad instance
2. Pick a (recent?) block height
3. Get some transactions from blocks after that block height
4. Stop the zebrad instance
5. Spawn a new zebrad instance for lightwalletd to interface

[2022-03-18 21:04] oxarbitrage commented on #3036
If this is part of NU-6 we will know it as a new ZIP will be published for it. We can open a new ticket then for implementation details.

[2022-03-18 21:04] #3036 closed, assigned to nobody

[2022-03-18 21:25] #3419 closed, assigned to gustavovalverde

[2022-03-20 14:05] oxarbitrage commented on #3654
How can we reproduce this problem in a test case and where it is happening exactly in the codebase ? If i understand this issue correctly the mempool will reject a transaction if it has utxos referencing another transaction inside the mempool. I can't find where is this is enforced.

I think the first step will be somehow reproduce and then proceed with the work on building the queue

[2022-03-20 14:06] oxarbitrage commented on #3654
This ticket might be blocked on https://github.com/ZcashFoundation/zebra/issues/3512

[2022-03-21 01:46] teor2345 commented on #3512
Configure the `zebrad` instance with no seed peers, then it can't possibly get any new blocks.

(We already have a `debug_stop_at_height` config for step 4, and a `restart_stop_at_height` acceptance test for steps 1, 4 & 6.)

[2022-03-21 14:27] conradoplg commented on #3654
@oxarbitrage I think the idea is to:

- Send a transaction A to the mempool using `sendrawtransaction`
- Send a transaction B to the mempool, which spends an output from A, using `sendrawtransaction`, right after the previous (i.e. before the previous one is mined)

Since we don't actually have code for generating transactions, we would either need to mock this somehow (e.g. we can mock the transa

[2022-03-21 14:35] oxarbitrage commented on #3654
Thank you, that is pretty much what i had in mind.

The problem is right now if we do this from a unit/prop test, all transactions will be accepted because we don't verify them (mocked mempool). I think we are going to need a mempool in the tests that implement verification in order to be rejected.

Do you know where in the mempool verification the transactions are rejected by this issue?

[2022-03-21 15:05] conradoplg commented on #3654
Good question. I think it will fail transaction validation, not the mempool itself. It will wait for the UTXO to appear in state and eventually timeout, and then be rejected by the mempool, i.e. it will pass through here: https://github.com/ZcashFoundation/zebra/blob/9bf5ca0225207f99db5589a3a4097df14c16cff3/zebrad/src/components/mempool.rs#L348

So we'd need to mock the tx verifier to make the fir

[2022-03-21 15:14] oxarbitrage commented on #3654
Ok cool, that is something to get started. Thank you very much for the input.

[2022-03-21 20:03] gustavovalverde opened #3921 "actions: some checks are failing as the github-slug-action is returning variable results"
## Description

The action used to get a shortened SHA in most workflows has been recently changed as it's not using a fixed version, and the action is sometimes returning a SHA with a length of 7 and sometimes with a length of 8, which crashes some actions.

### Steps to Reproduce

[code]

### Expected Behaviour

Always use the same length on all the available steps in an action

### Actual Behav

[2022-03-21 20:27] gustavovalverde opened #3922 "ci: do not allow merges to main with failed lightwalletd checks"
## Motivation

CI has been stabilized up to a point we can start constraining the PR that can be allowed into `main` with specific valid checks. And as the `lightwalletd` development has been prioritized, this is one of the tests we'd like to

### Specifications
We'd like to enforce tests related to `lightwalletd`

### Designs

- Enforce GitHub checks for lightwalletd jobs
- Enforce Mergify checks

[2022-03-21 20:38] teor2345 commented on #3654
### Testing

When you use a `MockService` for the mempool service, you can return whatever mempool responses you like:
1. Expect a request using `expect_request` or `expect_request_that`
2. Send the response using the returned `ResponseSender`'s `respond` method

### Design

Currently, the mempool queues new transactions for verification internally. But it doesn't tell us the result of verificatio

[2022-03-21 20:48] teor2345 commented on #3921
This seems to be blocking all PR merges, so I'd like it to be critical priority.

[2022-03-21 20:49] gustavovalverde opened #3924 "actions: rename workflows to correctly identify what's happening in it"
## Motivation

Most of the steps being executed in `ci.yml` are basically unit tests and the ones being done in `test.yml` are integration tests
This sometimes creates confusion for most people when talking about CI, as the actual Continuos Integration is being done in `test.yml` and not in `ci.yml`

Standardize other names accordingly.

### Designs
- Change `test.yml` to `integration-tests.yml`
-

[2022-03-21 20:50] teor2345 commented on #3922
Mergify uses a config file in git, so is harder to disable if there's a temporary problem. But it's also harder to disable accidentally.

Since lightwalletd is our top priority right now, I think it's ok to strongly and redundantly enforce these checks.

(But my preference for unstable checks is to only use GitHub settings, so any one of 3 admins can disable them.)

[2022-03-21 21:04] gustavovalverde opened #3926 "ci: run a full lightwalletd sync from a close-to-tip zebrad"
## Motivation
On every PR push, if the zebrad state format hasn’t changed, we want to run a full lightwalletd sync from a close-to-tip zebrad, as a test. This test should take 30 minutes

### Designs

- Lightwalletd updates from zebrad in less than half an hour, so that part of the test can be  run on every PR change
- This approach would use already generated disks from previous stateful disk gen

[2022-03-21 21:10] gustavovalverde commented on #3921
I'll get this one done today.

[2022-03-21 23:07] #3921 closed, assigned to gustavovalverde

[2022-03-22 06:19] #3152 closed, assigned to teor2345

[2022-03-23 05:18] dconnolly commented on #3375
I think I have seen this issue reoccur on #main as of commit 859b67d512ffd7d69e83e1fd2e7cd0ac1dffec55:

<img width="826" alt="image" src="https://user-images.githubusercontent.com/552961/159628899-f34e116c-0731-41b0-8051-8b99208da747.png">

<img width="844" alt="image" src="https://user-images.githubusercontent.com/552961/159628950-f8389104-15c7-4b77-afa9-4ca46d9aebb9.png">

[code]

[2022-03-23 06:03] teor2345 commented on #3375
Can you post the info-level logs from before these logs?
It's hard to tell what the syncer is doing here, and how it got here.

These repeated `ClientDropped` errors are slightly concerning.
Does you machine have a bad internet connection?
Or are these errors happening all the time?

What should happen is that the client should get removed by the peer set, then we should stop sending requests to i

[2022-03-23 06:07] teor2345 commented on #3926
Is this the same as #3511?

[2022-03-23 16:50] conradoplg commented on #3869
The spec changes affects two places:

- Orchard key generation
- Incoming viewing key parsing

Which are either not supported, or not used in regular node usage in Zebra. (The closest I could think of is the consensus rule that shielded coinbase txs must be decryptable with an all-zero outgoing viewing key, but that's not affected by the spec change)

Therefore we don't need to do this now, and ca

[2022-03-23 17:39] conradoplg opened #3947 "Tag Zebra NU5 testnet 2 version"
## Motivation

We need to tag a version of Zebra ready for testnet reactivation.

### Specifications

### Designs

## Related Work

[2022-03-23 17:40] conradoplg opened #3948 "Tag Zebra NU5 mainnet version"
## Motivation

We need to tag a version of Zebra for NU5 mainnet activation.

### Specifications

### Designs

## Related Work

[2022-03-23 17:45] conradoplg commented on #3094
I'll close this since this should happen naturally when those dependencies are updated.

[2022-03-23 17:45] #3094 closed, assigned to nobody

[2022-03-23 18:05] conradoplg commented on #3600
I missed this comment, sorry. Yep that makes sense, I copied the contents there and I'm closing this.

[2022-03-23 18:05] #3600 closed, assigned to dconnolly

[2022-03-23 19:15] dconnolly commented on #3375
I'm having trouble reproducing, I may have to do another full sync to reproduce :/

[2022-03-23 19:15] #3375 closed, assigned to nobody

[2022-03-23 19:57] upbqdn commented on #3156
The RPC method `﻿z_gettreestate﻿` is supposed to return note commitment trees serialized as hex strings. Should I implement `﻿zcash_serialize﻿` for `﻿NoteCommitmentTree﻿`?

[2022-03-23 22:03] teor2345 commented on #3156
Good question, and nice catch!

We'll need to serialize to the `zcashd` RPC byte format, but I'm not sure what that is. Maybe @conradoplg knows?
Otherwise we'll have to check the `zcashd` code.

Then we can encode as hex.

Here are our different options for serialization:

`ZcashSerialize` is for consensus-critical serialization, but we want to do RPC-specific serialization here:
https://github.co

[2022-03-24 00:33] conradoplg commented on #3156
We're using the `incrementalmerkletree` crate that `zcash` also uses, but I'm not 100% sure if they use the exact same format or if there are any differences. I think we'll need to check their codebase to be sure (or just ask them)

[2022-03-24 01:23] teor2345 commented on #3156
That's the option I forgot: a `serde::Serialize` implementation.

In the code, that looks like:
https://github.com/ZcashFoundation/zebra/blob/5d7f9861830ce4f5de9d5d68df15854a56610f55/zebra-rpc/src/methods.rs#L352-L356

And it also needs a `ToHex` implementation.

[2022-03-24 02:56] teor2345 opened #3950 "Add balance_by_transparent_addr index to the finalized state"
### Motivation

We want to answer transparent address RPCs quickly, so we need new indexes in the finalized state.

### Designs

`balance_by_transparent_addr` is the sum of all `utxo_by_transparent_addr_loc`s that are still in `utxo_by_out_loc`. It is cached to improve performance for addresses with large UTXO sets.

It also stores the `AddressLocation` for each address, which allows for efficient

[2022-03-24 02:57] teor2345 opened #3951 "Add tx_loc_by_transparent_addr_loc index to the finalized state"
### Motivation

We want to answer transparent address RPCs quickly, so we need new indexes in the finalized state.

### Designs

`tx_loc_by_transparent_addr_loc` stores transaction locations by address. This list includes transactions containing spent UTXOs.

It also includes the `TransactionLocation` of transaction for the `AddressLocation`. (This duplicate data is small, and helps simplify the c

[2022-03-24 02:59] teor2345 opened #3952 "Modify utxo_by_outpoint to utxo_by_out_loc in the finalized state"
### Motivation

We want to answer transparent address RPCs quickly. So we need to make existing indexes in the finalized state smaller and more efficient.

We also need to return some RPCs in chain order.

### Designs

UTXOs are stored in `utxo_by_out_loc` by `OutputLocation`, rather than `OutPoint`. (This makes keys 28 bytes smaller.)

`OutPoint`s can be looked up using `tx_loc_by_hash`, and reco

[2022-03-24 03:01] teor2345 opened #3953 "Add utxo_by_transparent_addr_loc index to the finalized state"
### Motivation

We want to answer transparent address RPCs quickly, so we need new indexes in the finalized state.

### Designs

`utxo_by_transparent_addr_loc` stores unspent transparent output locations by address. UTXO locations are appended by each block.

This list includes the `AddressLocation`, if it has not been spent.

When a block write deletes a UTXO from `utxo_by_out_loc`, that UTXO loc

[2022-03-24 03:03] teor2345 commented on #3150
I split this ticket into:
- #3950
- #3951
- #3952
- #3953

[2022-03-24 03:03] #3150 closed, assigned to teor2345

[2022-03-24 03:24] teor2345 opened #3954 "Make Zebra's tip estimate match zcashd exactly"
## Motivation

Zebra's chain tip estimate is slightly different to `zcashd`'s.

We don't think this will cause any issues, but if it does, they will come up in tests like:
- #3511
- #3926

### Specifications

Here is what the `zcashd` code does:
1. If `zcashd` has stopped syncing, return the current height: https://github.com/zcash/zcash/blob/6cd5b8792bbe0a3cc1064e1884914415f0c6e7d7/src/rpc/blockc

[2022-03-24 09:45] #3145 closed, assigned to nobody

[2022-03-24 20:16] upbqdn commented on #3156
In order to get `ToHex`, `NoteCommitmentTree` has to implement `AsRef<[u8]>`, so I guess a manual implementation of converting `NoteCommitmentTree` into `Vec<u8>` is still needed. I'm checking how `zcashd` does it.

[2022-03-25 12:25] #3143 closed, assigned to oxarbitrage

[2022-03-28 23:53] teor2345 opened #3991 ""unexpected EOF" causes Google Cloud workflows to fail"
## Motivation

Sometimes Google Cloud CI workflows fail with:

https://github.com/ZcashFoundation/zebra/runs/5728525849?check_suite_focus=true

This seems to be happening a few times a day. It might be a Google Cloud change or infrastructure bug.

## Suggested Fix

If the `ssh` command fails, wait a few seconds, then re-launch the command. Fail if the `ssh` command has failed more than 5-10 times.

[2022-03-29 22:20] gustavovalverde opened #3995 "Docker cache is being invalidated across PRs"
## Motivation

When a PR is created and an image is built in a branch, the cache is also pushed to a `buildcache` tag.

As all PRs are using the same tag, sometimes the cache for a specific branch gets invalidated and makes it take longer on further pushes.

### Designs

- Push each PR to it's own caching tag

[2022-03-30 19:18] teor2345 opened #4005 "Split zebrad lockfile build into a separate workflow"
## Motivation

1. We might want to run the lockfile job on each new tag.
2. Its run conditions are not the same as the `ci.yml` job.

## Suggested Run Conditions

[code]

## Related Work

_Originally posted by @teor2345 in https://github.com/ZcashFoundation/zebra/issues/3998#issuecomment-1082608428_

[2022-03-30 21:27] teor2345 commented on #2042
Some of these macro-based impls were removed as part of #4004.

[2022-03-30 21:47] #3458 closed, assigned to conradoplg

[2022-03-30 21:53] #3449 closed, assigned to gustavovalverde

[2022-03-31 01:34] #3995 closed, assigned to nobody

[2022-04-01 05:00] teor2345 commented on #3954
I've been running tests with `lightwalletd`, and it keeps on running without this fix.

We can re-open this ticket if we discover that it is actually needed during testing.

[2022-04-01 05:00] #3954 closed, assigned to nobody

[2022-04-05 01:09] teor2345 commented on #3157
The state parts of this ticket aren't merged yet (#3963, #4022), but you could add a state request/response that returns a zero balance.

[2022-04-05 01:09] teor2345 commented on #3158
The state parts of this ticket aren't merged yet (#3999, #4022), but you could add a state request/response that returns an empty list of UTXOs.

[2022-04-05 01:10] teor2345 commented on #3147
The state parts of this ticket aren't merged yet (#4038, #4022), but you could add a state request/response that returns an empty list of transactions.

[2022-04-06 23:07] oxarbitrage commented on #3655
I did some tests today with 2 different available wallets.

The setup is:

- Zebra with rpc server enabled listening at 127.0.0.1:8232
- Lightwalletd with Zebra as the backend. Lightwalletd will listen at 127.0.0.1:9067 by default.

[zecwallet-light-cli](https://github.com/adityapk00/zecwallet-light-cli)

I didnt tested everything specially i did not tested sending transactions which will be a goo

[2022-04-07 08:30] #3151 closed, assigned to teor2345

[2022-04-07 12:46] conradoplg commented on #3334
Already released

[2022-04-07 12:46] #3334 closed, assigned to oxarbitrage

[2022-04-07 14:09] adityapk00 commented on #3655
This definitely looks like a grpc error although I’m not sure what exactly it is.

What I’ve done in this situation is to put nginx in the middle, between ZecWallet lite and the LightwalletD server. Nginx does a very good job of logging everything, and makes it easier to find out what part of the grpc is not working.

On Wed, Apr 6, 2022 at 6:07 PM, Alfredo Garcia ***@***.***> wrote:

[2022-04-07 19:01] oxarbitrage commented on #3655
I will try that and update how it went, thank you @adityapk00

[2022-04-07 22:29] teor2345 opened #4060 "Report better transactions errors to lightwalletd"
## Motivation

When transactions don't validate, we want to provide wallet users with fast and accurate errors, so they can decide if they need to retry the transaction.

### Scheduling

This ticket is optional, because the wallet will show a generic error to the user after 10 blocks.

We should only do this ticket if transaction errors are common during wallet testing.

### Specifications

Aditya

[2022-04-07 23:15] #3950 closed, assigned to teor2345

[2022-04-07 23:16] #3664 closed, assigned to teor2345, gustavovalverde

[2022-04-08 08:39] dconnolly commented on #3991
This is still happening, I don't think disk size is an issue, we have 100GB disks

[2022-04-09 20:33] gustavovalverde opened #4072 "ci: Cached state from full sync and sync past mandatory checkpoint are generated differently"
## Motivation

The disk generation after a full sync has a specific name nomenclature which is not the same as the one used by a `test_sync_to_mandatory_checkpoint_*` making disk naming differ in GCP. This also makes it harder for test to select the correct cached state from a disk image.

### Designs
We’re now creating 2 images with cached state:
- `full_sync_test` which syncs to the chain tip
-

[2022-04-10 14:17] oxarbitrage commented on #3158
@teor2345 if you didn't started on this one yet i can take it as it similar to https://github.com/ZcashFoundation/zebra/issues/3147

let me know.

[2022-04-10 22:21] teor2345 commented on #3991
I added a suggested fix to this ticket:

[2022-04-10 22:26] teor2345 opened #4080 "ci: stop re-checking the same Google Cloud log line in a loop"
## Motivation

In some workflows, we re-check the same Google Cloud log line multiple times in a loop:
https://github.com/ZcashFoundation/zebra/blob/6d2c4fbb5f112abea6528984eab14349f3548584/.github/workflows/test-full-sync.yml#L238-L242

This log line will never change, because the `zebrad` process has finished.

This could cause hangs, but it doesn't seem to be doing that right now, so it's a low

[2022-04-11 00:06] teor2345 commented on #3158
Sure, go for it!

[2022-04-11 10:20] gustavovalverde commented on #3926
@teor2345 I added #3511 as a dependency. Considering the test must be created (#3511) and then added to the CI (#3926)

[2022-04-11 22:51] gustavovalverde opened #4090 "ci: log errors caused by deployment or infrastructure issues"
## Motivation

Sometimes CI fails because of a deployment or infrastructure issue, but this issues are hard to track if we don't show those in the logs, at least to know that the same issue is causing multiple checks to fail, like the one from the screenshot below, which has been causing multiple failures in the past week, and re-running after an specific time fixes the issue

![image](https://use

[2022-04-11 22:56] gustavovalverde opened #4091 "ci: check if the actual paths being used by the full sync test needs improvement"
## Motivation

All PRs that change a Rust file `*.rs` are being testes with a full sync, maybe there are scenarios were this is not needed.

[code]

### Designs

- Add a `paths-ignore` to add exceptions to this workflow

[2022-04-11 23:01] teor2345 commented on #4091
I'd suggest ignoring:
* docker/zcash-lightwalletd
* zebra-rpc
* zebra-utils
* test directories and proptest directories
    * but still rebuild for zebrad/tests and zebra-test/src/command

The full sync test uses most of Zebra's code, so I'm not sure what else we could ignore.

[2022-04-11 23:01] gustavovalverde opened #4092 "ci: improve mergify's merge queue throughput"
## Motivation

A single PR can take up to 6 hours merging (if a Full Sync is triggered)/

Having multiple PRs waiting for review and not having those getting into a queue at the same time, would commonly mean a serialized merge (6 hours per PR). Even if the reviews happen on the same day, based on the priority label, we could have 4+ PRs taking ~2 days just merging.

### Designs
- Reduce the amoun

[2022-04-11 23:04] teor2345 commented on #4092
If we do this, I'd like to only interrupt other PRs for critical fixes.
That means all other priorities go in the changes queue.

[2022-04-12 00:45] jvff opened #4093 "Improve API to spawn processes for tests"
## Motivation

Currently tests use an extension trait to spawn sub-processes. The extension trait is implemented for directory paths (including `tempfile::TempDir`). This might be a bit confusing, and it would perhaps be clearer to use the `TestChild` type directly.

### Designs

This is still an open question, but one idea is to have a `TestChild` constructor that receives the directory to spawn

[2022-04-12 05:06] #3654 closed, assigned to oxarbitrage

[2022-04-12 05:34] #2256 closed, assigned to gustavovalverde

[2022-04-12 05:34] #4072 closed, assigned to nobody

[2022-04-12 16:10] gustavovalverde commented on #3500
Fixed by: https://github.com/ZcashFoundation/zebra/pull/3968

[2022-04-12 16:10] #3500 closed, assigned to gustavovalverde

[2022-04-12 23:43] #3827 closed, assigned to gustavovalverde

[2022-04-12 23:43] #3922 closed, assigned to gustavovalverde

[2022-04-13 00:45] gustavovalverde opened #4106 "ci: refactor most pipelines to make use of reusable workflows"
## Motivation

We're not following the DRY principle with the pipelines, as most workflows have at least a 20% of repeated steps, and we're moving into a stage were we need to have more workflow segregation, for example moving all the disk rebuild steps to their own workflow, but by doing this we would also create even more repetition and code harder to maintain.

### Specifications

https://docs.

[2022-04-13 03:50] teor2345 commented on #4106
If we're going to remove a bunch of paths from the full sync workflow, we might not want to do this step.

[2022-04-13 04:06] #3953 closed, assigned to teor2345

[2022-04-13 05:19] teor2345 opened #4110 "Work out how to avoid merging invalid Mergify configs"
## Motivation

In PR #4103, we accidentally merged an invalid mergify config, because all the PR checks were green.

I created and admin-merged PR #4105 to fix it, but it would be better to catch bugs like this using automated checks.

### Priority

This PR is only important if this issue happens regularly.

### Mergify Reference

https://docs.mergify.com/getting-started/#understanding-mergify-che

[2022-04-13 15:13] oxarbitrage commented on #3655
Just an update here, i was able to get the nginx proxy working with the following config (ubuntu based linux):

[code]

The cli wallet is still working now connecting to port 8081 instead of directly 9067. I can see the requests in the access.log of nginx, for example a cli wallet `info` command will query:

[code]

Now for zecwallet lite we need to be in sync or the app will fallback to one of th

[2022-04-13 22:05] teor2345 opened #4114 "ci: GCP workflows fail with missing container names, due to mounting cached disk partition"
## Motivation

Some Zebra workflows repeatedly fail due to a missing container error:

https://github.com/ZcashFoundation/zebra/runs/6007481272?check_suite_focus=true#step:10:115

But the container actually exists - it's the partitions on the image that trigger a bug in Google Cloud.

### Underlying Infrastructure Bug

TODO: @gustavovalverde knows the details here.

## Related Work

[2022-04-13 22:07] teor2345 commented on #4114
I turned full validation sync off in GitHub branch protection due to this bug.

[2022-04-13 23:48] #3951 closed, assigned to conradoplg

[2022-04-14 00:17] #4092 closed, assigned to gustavovalverde

[2022-04-14 01:22] teor2345 opened #4115 "Set the NU5 mainnet activation height and network protocol version"
## Motivation

We need to update the consensus parameters for NU5 mainnet.

### Specifications

We need to wait for an update to ZIP-252:
https://zips.z.cash/zip-0252#nu5-deployment

### Tasks

Network-upgrade specific tasks:
- [ ] Set the NU5 mainnet activation height
  - see [ZIP-252](https://github.com/zcash/zips/blob/main/zip-0252.rst#nu5-deployment)

After all network-upgrade specific tasks a

[2022-04-14 01:24] teor2345 commented on #4115
I split these tasks out of the epic #1841, so we remember to do them.

[2022-04-14 01:24] teor2345 opened #4116 "Set the minimum network protocol version to `170_050` for NU5 testnet"
## Motivation

On testnet, Zebra should always reject pre-NU5 nodes.

### Scheduling

We need to wait for:
- NU5 testnet activation - around April 22
- Enough NU5 nodes to be deployed on testnet

## Tasks

- Update the `INITIAL_MIN_NETWORK_PROTOCOL_VERSION` to `Testnet, Nu5`

[2022-04-14 01:30] teor2345 opened #4117 "Set the minimum network protocol version to `170_100` after NU5 mainnet activation"
## Motivation

After NU5 activates on mainnet, Zebra should always reject pre-NU5 nodes.

### Scheduling

We need to wait for:
- NU5 mainnet activation - 31 May 2022
- Enough NU5 nodes to be deployed on mainnet

## Tasks

Update the `INITIAL_MIN_NETWORK_PROTOCOL_VERSION` to:
- `Mainnet, Nu5`
- `Testnet, Nu5`

[2022-04-14 07:18] teor2345 commented on #4110
I'm changing this to medium priority, because we've accidentally merged invalid Mergify configs twice in the past week. So we probably need to automate Mergify config validation.

[2022-04-14 07:28] teor2345 commented on #3991
This seems to be happening a lot, we might want to make it a high priority for the next sprint.

[2022-04-14 07:33] teor2345 commented on #3952
Closed by PRs #3993 / #3999

[2022-04-14 07:33] #3952 closed, assigned to teor2345

[2022-04-18 13:49] #2812 closed, assigned to nobody

[2022-04-18 13:49] #2814 closed, assigned to nobody

[2022-04-18 20:52] teor2345 opened #4130 "Script that shows the differences between Zebra and zcashd RPC responses"
## Motivation

In the address index review meeting last week, we talked about testing address indexes.

One of the ways we can test is by comparing RPC responses from Zebra and `zcashd`.

### Designs

We can test RPCs by:
- making sure Zebra and `zcashd` are synced to the same height
- sending the same RPC query to both
- formatting both responses using the same formatter
- comparing their respons

[2022-04-18 20:57] teor2345 opened #4131 "Add RPC response snapshot tests"
## Motivation

In the address index review meeting last week, we talked about testing address indexes.

One of the ways we can test is by checking that Zebra's RPC responses match a snapshot of a previous response. If the changes are intentional, we can update the snapshot. If they aren't, we can fix the PR.

These snapshots also help us make sure that differences between Zebra and `zcashd` stay f

[2022-04-18 21:02] teor2345 commented on #4106
Would it be helpful to move some of the google cloud and docker scripts into shell script files?

It seems like some of those scripts are getting really complex, so it might help to be able to run them separately.

[2022-04-19 00:13] teor2345 opened #4136 "ci: only run the full sync test on mergify PR and after main branch merges"
## Motivation

In PR #4107, we started running the full sync test on all PRs.

But we only want to run it:
- on Mergify PRs
- after merging to the `main` branch
- on manual workflow dispatch requests

[2022-04-19 00:14] #2982 closed, assigned to nobody

[2022-04-19 00:14] #3018 closed, assigned to conradoplg

[2022-04-19 00:14] #3520 closed, assigned to conradoplg

[2022-04-19 00:38] teor2345 opened #4137 "Merge Freeze causes all Mergify PRs to fail"
## Motivation

When we do a release, we want to:
- stop most PRs from merging
- allow the release PR in GitHub
- allow the release PR in Mergify

Currently:
- we can un-freeze the release PR, but we can't un-freeze the Mergify PR in advance
- if we set Merge Freeze as a branch protection rule, all Mergify PRs fail, before we can un-freeze them
- if we don't set Merge Freeze as a branch protection

[2022-04-19 03:02] #3947 closed, assigned to teor2345

[2022-04-19 15:59] str4d opened #4143 "Document `zebrad` default datadir and configuration options"
The ["Zebra System Requirements" documentation page](https://zebra.zfnd.org/user/requirements.html) says that 50+GB of disk space are required to run. However, the ["Running Zebra" documentation page](https://zebra.zfnd.org/user/run.html) gives no indication of _where_ this disk space is used, or how to configure it.

For `zcashd`, the equivalent option would be `-datadir`, which defaults to `$HOM

[2022-04-19 17:34] conradoplg commented on #4116
The minimum version should be 170_040, right?

Closed by https://github.com/ZcashFoundation/zebra/pull/3976

[2022-04-19 17:34] #4116 closed, assigned to nobody

[2022-04-19 18:13] str4d commented on #4143
Aha, I missed a link at the top of the "Running Zebra" page, which links to the rustdocs, and navigating to the [state subsection ](https://doc.zebra.zfnd.org/zebra_state/struct.Config.html) shows the details for the datadir. It's not exactly obvious, but it is documented.

[2022-04-19 18:13] #4143 closed, assigned to nobody

[2022-04-19 20:39] teor2345 commented on #4091
I've marked this as low priority, because it doesn't actually gain us that much performance.

(This will change if we wait for a full sync on every PR that runs it.)

[2022-04-19 20:40] teor2345 commented on #4110
Actually, we don't plan on changing the Mergify configs very often, so this can be a low priority until we do.

[2022-04-19 20:41] teor2345 commented on #3926
This is a high priority, because it is on the critical path, and blocking other lightwalletd integration tests.

[2022-04-19 20:42] teor2345 commented on #3511
We re-assigned this task to Conrado in yesterday's meeting.

[2022-04-19 23:35] gustavovalverde commented on #4137
A possible fix is changing this to true:
https://github.com/ZcashFoundation/zebra/blob/5054e048d4c8ef0b310f06bb9c1ee469c6145754/.github/mergify.yml#L3

As this would allow mergify to use the already opened PR to make the merge. The whole team would have to log in at least once into https://dashboard.mergify.com/ so the merges get authored by us and not by Mergify's bot (which was the main reason t

[2022-04-19 23:42] teor2345 commented on #4116
`170_040` is a fake version that rejects all pre-NU5 nodes. (The previous released version was `170_017`.)

So technically this ticket is closed, because there are no nodes between `170_040` and `170_050`.
But the specific code change in the ticket hasn't been done yet.

We can fix this up when we do the NU5 mainnet version fix in #4117.

[2022-04-19 23:47] gustavovalverde commented on #4136
I'm not sure if there's value added from running it on Mergify PRs right now, as it's (almost) the same as running it in main because we're not enforcing the full sync before merging. And based on the amount of time it takes for the full sync to complete, it might make things slower before merging.

But I do agree we should remove it from the PR for the time being, and add a TODO to the pipeline.

[2022-04-19 23:47] teor2345 commented on #4137
This seems like it's worth a try!

[2022-04-19 23:51] teor2345 commented on #4136
Do we need to run a full sync on Mergify PRs to get the lightwalletd integration tests to work?
If the state version changes, we need to regenerate a cached Zebra state to run lightwalletd full sync tests.

But merging doesn't wait for the full sync job?

[2022-04-20 00:08] teor2345 opened #4150 "Update column family names to match Zebra's database design"
## Motivation

To speed up development and minimise diffs, we kept the same column family names in Zebra's database.

But we should update them to match the design. This requires a state version increment.

### Designs

The column family names should match:
https://github.com/ZcashFoundation/zebra/blob/main/book/src/dev/rfcs/0005-state-updates.md#rocksdb-data-structures

[2022-04-20 08:03] teor2345 opened #4153 "Re-use cached state with the same version from any branch"
## Motivation

In PR #4074, we check for unexpected state versions before running Google Cloud tests.

But we want tests to re-use the previous cached state with the same version.

### Designs

We want to re-use the cached state from any branch, as long as:
- the state version is the same, and
- the state kind (checkpoint or tip) is the same.

If there is a state with that version on `main`, and o

[2022-04-20 18:27] #3157 closed, assigned to jvff

[2022-04-20 22:24] jvff opened #4155 "Full synchronization test times out in CI"
## Motivation

The full chain synchronization test is currently timing out in CI. We should find a way to speed up synchronization so that it doesn't time out.

[2022-04-20 22:52] jvff commented on #4155
One possible solution is to:
- [x] increase the checkpoint height, so that those blocks get validated and finalized more quickly - #4183

[2022-04-21 03:00] teor2345 commented on #3887
Coverage was stabilised in Rust 1.60, so we can do this job using stable rust now:
https://github.com/rust-lang/rust/blob/master/RELEASES.md#compiler

[2022-04-21 14:47] conradoplg opened #4160 "RPC test with fully synced Zebra"
## Motivation

Some RPCs can be better tested if they can run on a fully synced Zebra node.

Write a first RPC test that only works with a fully synced state.
Other similar tests can be added later.

### Specifications

### Designs

- Attach a cached state disk to the lightwalletd integration tests
- Add a test harness that opens the cached state, but doesn't haven't have any configured seed peers

[2022-04-21 14:56] conradoplg commented on #3511
This ended up mutating into a different ticket, I changed the description and copied some of the old description into https://github.com/ZcashFoundation/zebra/issues/4160

[2022-04-21 18:06] conradoplg opened #4165 "Store lightwalletd state after lightwalletd full sync test"
## Motivation

We'd like to have tests that start from a fully synced lightwalletd state. To do that we need to store the state after the lightwalletd full sync test.

### Specifications

### Designs

## Related Work

[2022-04-21 18:08] conradoplg opened #4166 "Add lightwalletd quick tip sync test"
## Motivation

We would like to test if lightwalletd can sync from a cached lightwalletd state, which should happen quickly. This of course requires a fully synced Zebra node too.

### Specifications

### Designs

## Related Work

[2022-04-21 18:11] conradoplg opened #4167 "ci: call lightwalletd quick tip sync test"
## Motivation

The test from #4166 must be invoked in CI using the ligthwalletd cached state (#4165)

### Specifications

### Designs

## Related Work

[2022-04-21 18:13] conradoplg commented on #3655
We decided that we will follow the approach from https://github.com/ZcashFoundation/zebra/pull/4068 and build gRPC requests manually, so we don't need zewallet for this (that will become another ticket)

[2022-04-21 18:16] conradoplg opened #4168 "ci: call lightwalletd wallet queries"
## Motivation

We need to call the `lightwalletd_wallet_grpc_tests` tests from #3655 in CI, using the lightwalletd cached state from #4165.

(PR #4267 already added the tests from #3512.)

[2022-04-21 18:23] conradoplg opened #4169 "ci: call RPC test with fully synced Zebra"
## Motivation

We need to call the test from #4160 in CI, using the fully synced Zebra cached state

### Specifications

Change CI to call the test from #4160 (see ticket description for the test name), using the fully synced cached state.

### Designs

## Related Work

[2022-04-21 20:19] #3147 closed, assigned to teor2345

[2022-04-21 22:51] teor2345 commented on #4155
Some other possible solutions are:

#### Quick tweaks, likely to help

- [x] optimise Rust code at link time - #4184
- [x] increase (or maybe decrease) the number of block download retries - #4185
- [x] move database writes to a blocking thread, so they don't block network futures - #4199
- [ ] move large database reads to a blocking thread, so they don't block network futures

#### Quick tweaks,

[2022-04-22 00:09] #3855 closed, assigned to jvff

[2022-04-22 04:24] teor2345 commented on #4166
I ended up doing this along with #3511

[2022-04-22 17:54] dconnolly commented on #3991
Just seen again on a boring dependency update

[2022-04-22 18:12] gustavovalverde commented on #3991
I've been researching a bit about this, there's no error in the infrastructure side. I found some disperse Rust reports with similar issues, some of those ended up finding an issue with the `logs parser`. Maybe this could be related to a change I required to @jvff, to enable coloring in the terminal (?). I could temporarily disable the feature and see if this still happens.

[2022-04-23 13:48] oxarbitrage opened #4181 "Research a possible integration of `zecwallet-light-cli` into Zebra"
[zecwallet-light-cli](https://github.com/adityapk00/zecwallet-light-cli) is a zcash command line wallet written in rust.

It was briefly tested against a lightwalletd server backed up by a zebra node in the context of https://github.com/ZcashFoundation/zebra/issues/3655#issuecomment-1090904596

However, `zecwallet-light-cli` is also a library which could be potentially used by zebra to run integra

[2022-04-23 20:51] oxarbitrage commented on #4181
`zecwallet-light-cli` is a library so it can theoretically be inserted as a dependency into zebra. However, doing this is a dependency nightmare. I am not going to describe the details but just mention that it uses old and modified version of librustzcash. Other dependencies are also so old that had major refactoring. I got lost in that task so i changed my approach to see we can still get somethi

[2022-04-23 21:16] oxarbitrage commented on #4181
I tested a branch with `getaddressutxos` available.

This not fail but it returns an empty response for a taddress that should have utxos available:

Code used:
[code]

Output:

[code]

[2022-04-24 21:30] teor2345 commented on #3158
Returned UTXOs must be sorted by height:
https://github.com/zcash/lightwalletd/blob/68789356fb1a75f62735a529b38389ef08ea7582/walletrpc/service.proto#L120-L121

Zebra's state response already sorts in chain order. (Which is stricter than height sorting.)

[2022-04-24 21:32] teor2345 commented on #4181
#4130 could be a good way to find and fix these RPC response format bugs?

[2022-04-24 21:54] teor2345 commented on #3991
@gustavovalverde can we try repeating the `ssh` command if it fails?

That might be a simple workaround until we can diagnose and fix the underlying issue.

[2022-04-25 03:00] #3158 closed, assigned to oxarbitrage

[2022-04-25 21:55] dconnolly commented on #1580
Closing for now, I re-investigated good options for this, and there is currently nothing much better than what we have

[2022-04-25 21:55] #1580 closed, assigned to dconnolly

[2022-04-25 22:01] dconnolly commented on #3028
This is still a valid issue 👍

[2022-04-25 22:02] teor2345 commented on #4114
This bug is not actually fixed in some workflows, see PR #4190:

https://github.com/ZcashFoundation/zebra/runs/6160856472?check_suite_focus=true#step:9:116

[2022-04-25 22:15] dconnolly commented on #2737
This may be a defunct ticket now

[2022-04-25 22:33] teor2345 commented on #2737
Yeah I think `Mempool::new()` fulfills this role pretty well already.

Do you mind if we close this ticket?

[2022-04-25 22:52] #2737 closed, assigned to dconnolly

[2022-04-26 05:32] #4160 closed, assigned to conradoplg

[2022-04-26 06:33] teor2345 commented on #3991
This is a blocker for #4155, because these errors are failing every full sync test I try to run.

[2022-04-26 18:13] conradoplg commented on #3340
bellman, orchard, bls12_381, jubjub all depend on it so we're probably stuck on using whatever they're using; I'm closing this for now

[2022-04-26 18:13] #3340 closed, assigned to nobody

[2022-04-26 18:25] conradoplg opened #4202 "Document how to handle network upgrades"
## Motivation

To handle a network upgrade we must follow multiple steps, from upgrading dependencies, determining and monitoring activation heights, and so on. But those aren't document anywhere.

### Specifications

Write a Google Doc on how to handle network upgrades, for both mainnet and testnet.

### Designs

## Related Work

[2022-04-26 19:10] str4d commented on #3340
I am attempting to get this addressed for `zcashd 5.0.0` via an `ff 0.12` release, which requires a bunch of coordination.

[2022-04-26 20:14] #1598 closed, assigned to nobody

[2022-04-26 20:15] #1854 closed, assigned to nobody

[2022-04-26 20:54] teor2345 commented on #3340
@dependabot ignore this minor version

[2022-04-26 21:01] #3991 closed, assigned to gustavovalverde

[2022-04-26 21:50] teor2345 commented on #4093
We don't need to do this yet, and we can re-open it if we need to later.

[2022-04-26 21:51] ftm1000 commented on #4093
Issue to be revisited at a later time. Closing ticket

[2022-04-26 21:51] #4093 closed, assigned to nobody

[2022-04-26 22:15] upbqdn commented on #3156
I updated the description of this issue so that the RPC response doesn't contain the block time. I noticed the original docs don't mention it.

[2022-04-26 22:17] teor2345 commented on #3156
@upbqdn unfortunately, we need to include `time`, because `lightwalletd` expects it:
https://github.com/zcash/lightwalletd/blob/68789356fb1a75f62735a529b38389ef08ea7582/common/common.go#L108

[2022-04-26 22:17] teor2345 commented on #3156
(If you'd like to open a [zcashd](https://github.com/zcash/zcash) ticket to fix their docs, go for it!)

[2022-04-27 02:07] teor2345 opened #4211 "ci: Fail dependent tasks when "Build images" fails"
## Motivation

In merge queue PR #4210, the "Build images" job failed, but the PR was still allowed to merge by Mergify.

This happened because:
* "Build images" is not required
* When "Build images" failed, all the required jobs that depend on it were skipped (which is an ok status for Mergify)

### Designs

Fail dependent tasks when "Build images" fails.

[2022-04-27 05:00] teor2345 opened #4216 "getaddresstxids RPC should have a single struct argument, not multiple arguments"
## Motivation

When I run this command against `zcashd` it works:
[code]

But when I run it against Zebra, it fails:
[code]

With this error:
[code]

This check needs the fix in PR #4215.

### Designs

It looks like Zebra should take a single struct argument with named fields, rather than multiple named arguments.

This appears to be the only `lightwalletd` request with multiple named fields:
http

[2022-04-27 06:26] teor2345 opened #4220 "getaddressutxos RPC is missing non-finalized UTXOs"
## Motivation

When I compare `zebrad` and `zcashd` RPC responses for `getaddressutxos`, using this command:
[code]

The last 100 UTXOs are missing. This looks like all the non-finalized UTXOs.

### Steps to Diagnose

Check these parts of the address UTXOs code:
- the non-finalized state query
- the code that skips the non-finalized state query
- the function that combines both sets of UTXOs

[2022-04-27 06:56] teor2345 commented on #4181
This is now bug #4216

This is fixed by PR #4217

This is now bug #4220.

If you can find a RPC query that reproduces the missing UTXOs above, please add it to #4220.

[2022-04-27 19:21] upbqdn commented on #3156
I opened the issue here https://github.com/zcash/zcash/issues/5913.

[2022-04-27 23:06] #3512 closed, assigned to jvff

[2022-04-28 02:21] teor2345 opened #4226 "Prefer faster peers, but if all peers are slow, still connect to them"
## Motivation

In PR #4212, we reduced the peer handshake timeout from 4 to 3 seconds, to speed up full sync. But this could cause connection issues on slower networks.

Instead, we want to:
* prefer faster peers,
* but remove the fixed peer handshake timeout, so that Zebra still works on slow networks.

We don't need to do this until it actually becomes a problem for users.

### Alternative Desig

[2022-04-28 08:01] teor2345 opened #4234 "Docker CI jobs fail with "failed to fetch oauth token: ... 401 Unauthorized""
## Motivation

Some Docker CI jobs fail with:

The failures don't seem to have a consistent pattern.

### Potential Fixes

TODO: work out how to fix this

[2022-04-28 08:13] #4106 closed, assigned to nobody

[2022-04-28 11:24] gustavovalverde opened #4239 "ci: refactor test workflows to use a DRY/matrix approach"
## Motivation

We have a bunch of workflow code repeating to execute almost the same tasks, for example the following jobs have over a 100 line of codes, and both are almost a **replica**:
- `test-full-sync`
- `test-stateful-sync`

This also happens with:
- `test-all`
- `test-fake-activation-heights`
- `test-empty-sync`
- `test-lightwalletd-integration`
- `regenerate-stateful-disks`

This same beh

[2022-04-28 17:32] #4155 closed, assigned to teor2345, oxarbitrage

[2022-04-28 23:28] teor2345 commented on #4239
Can this wait until after we've finished the next few lightwalletd integration tests?
* fully synced RPC
* generate lightwalletd cached state
* use lightwalletd cached state

Then we'll know the parameters the matrix or sub-workflow needs.

If we try to do this refactor now, we could end up adjusting parameters a lot, in multiple places.

[2022-04-28 23:42] teor2345 commented on #4136
Obsoleted by #4153

[2022-04-28 23:42] #4136 closed, assigned to nobody

[2022-04-29 04:05] gustavovalverde commented on #4234
I'll have to research further as this error might be misleading https://github.com/docker/build-push-action/issues/586

[2022-04-29 18:05] gustavovalverde commented on #4234
More insight: https://github.com/google-github-actions/auth/issues/160

Might be an issue with GCP

[2022-04-29 19:21] gustavovalverde commented on #4114
This has been a bit difficult to track, so far this is related to the `cached disk`, the container complains with this error just when a disk with a cached state is mounted.

[2022-04-29 19:56] #3511 closed, assigned to teor2345

[2022-04-29 19:56] #4166 closed, assigned to teor2345

[2022-04-30 02:37] gustavovalverde commented on #4114
Related piece of code with the issue https://github.com/GoogleCloudPlatform/konlet/blob/9cb9106daf07123c2641159cb8bcc9d6f4960ec2/gce-containers-startup/volumes/volumes.go#L549

[2022-05-01 14:06] oxarbitrage commented on #4181
This ticket helped to find the above bugs but there is a way that we can do the same (https://github.com/ZcashFoundation/zebra/pull/4253) without using `zecwallet-light-cli`. We will not integrate in the short run.

[2022-05-01 14:06] #4181 closed, assigned to oxarbitrage

[2022-05-01 15:45] #4130 closed, assigned to teor2345

[2022-05-02 18:33] gustavovalverde opened #4265 "ci: full sync cached state is not being written to disk"
## Motivation

Since the first implementation, the resulting disk image after a full sync is not containing the cached state, as it has been an empty disk without the `/zebrad-cache` dir

### Designs

- Take the disk regeneration test as an example to fix this issue

[2022-05-03 01:28] #4265 closed, assigned to gustavovalverde

[2022-05-03 01:42] teor2345 commented on #1048
We have implemented the network protocol, and have partial tests between two zebra-network instances.

We should open more specific tickets for missing tests, or just do them as we modify the protocol.

[2022-05-03 01:42] #1048 closed, assigned to nobody

[2022-05-03 02:25] teor2345 commented on #1791
We've decided not to fix some blockers for this ticket, so we can't do this ticket either.

[2022-05-03 02:25] #1791 closed, assigned to nobody

[2022-05-03 02:47] #4080 closed, assigned to gustavovalverde

[2022-05-03 02:47] #4090 closed, assigned to gustavovalverde

[2022-05-03 02:47] #4114 closed, assigned to gustavovalverde

[2022-05-03 07:34] teor2345 commented on #4234
This is still happening on the main branch, even after the Konlet fix:
https://github.com/ZcashFoundation/zebra/runs/6267974240?check_suite_focus=true

[2022-05-03 12:00] oxarbitrage opened #4278 "Add missing wallet grpc tests"
In https://github.com/ZcashFoundation/zebra/pull/4253 we added tests for grpc wallet methods, however we left a few `TODO`s in the main file (`zebrad/tests/common/lightwalletd/wallet_grpc_test.rs`)for missing tests.

This ticket is for add them:

- [ ] #4362
- [x] #4350
- [x] #4351
    - #3990
    - ECC implementing parsing and gRPC in https://github.com/zcash/lightwalletd
    - Aditya merging tho

[2022-05-03 16:56] gustavovalverde commented on #4234
This failed after merging https://github.com/ZcashFoundation/zebra/runs/6274654773?check_suite_focus=true#step:9:2170, so[#4254 ](https://github.com/ZcashFoundation/zebra/pull/4254)  wasn't a solution

[2022-05-04 04:00] #3655 closed, assigned to oxarbitrage

[2022-05-04 22:04] teor2345 opened #4295 "Truncate branch name when used in Google Cloud names"
## Motivation

Zebra's DevOps workflows fail on long branch names:

https://github.com/ZcashFoundation/zebra/runs/6283701351?check_suite_focus=true#step:10:69

It would be good to fix this eventually, but it's not urgent.

### Designs

- truncate branch names before using them in length-limited contexts (in this case, we can only use 24 characters)

[2022-05-04 22:06] dconnolly opened #4297 "perf: move compute-heavy note commitment tree updates to a non-blocking worker thread in zebra-state"
## Motivation

@conradoplg did some benchmarking on where `zebrad` does the most work during sync, and it looks like updating the note commitment Merkle trees is expensive. Currently this work is done as part of the main blocking thread.

### Designs

One thing we can do is move this currently blocking, compute-heavy work to a non-blocking async thread, to optimize the need to swap in and out of t

[2022-05-04 22:26] teor2345 commented on #4297
This isn't required for the `lightwalletd` work, so I've set it to low priority.

[2022-05-04 22:55] #3881 closed, assigned to gustavovalverde

[2022-05-04 22:55] #4239 closed, assigned to gustavovalverde

[2022-05-05 01:08] #4216 closed, assigned to oxarbitrage

[2022-05-05 03:08] teor2345 opened #4305 "Set RUST_LOG environmental variable in gcp-test-deploy.yml"
## Motivation

We can't see when GCP tests are being skipped, because the test logs aren't active in gcp-test-deploy.yml

### Designs

Use the same logging environmental variables as the build workflows:
[code]

We should hard-code these values for now.

[2022-05-05 03:18] gustavovalverde commented on #4305
Most of this variables are being set at build time, and available in the containers:

<img width="488" alt="image" src="https://user-images.githubusercontent.com/16890942/166858947-54004d0c-f913-4519-95b6-a438d0b4b360.png">

Those are being set here: https://github.com/ZcashFoundation/zebra/blob/main/.github/workflows/docker-image-build.yml#L116

[2022-05-05 03:20] teor2345 commented on #4305
We need `RUST_LOG="info"` to see which tests have been skipped

[2022-05-05 09:27] #4169 closed, assigned to gustavovalverde

[2022-05-05 09:27] #4305 closed, assigned to nobody

[2022-05-05 13:39] gustavovalverde commented on #4234
Adding more information, as changing to GitHub Registry didn't solve the problem:
- https://github.com/moby/buildkit/issues/2019
- https://github.com/moby/buildkit/issues/2068
- https://github.com/moby/buildkit/issues/2251

[2022-05-05 14:47] ftm1000 commented on #4295
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/4295?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2022-05-05 14:47] ftm1000 commented on #4278
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/4278?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2022-05-05 14:48] ftm1000 commented on #4153
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/4153?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @teor2345

[2022-05-05 22:28] upbqdn opened #4335 "Upgrade librustzcash-related crypto dependencies (Season 2)"
## Motivation

To remain compatible with our ECC dependencies and to be compliant with several consensus/spec rules, we should upgrade several of our crypto dependencies before NU5 activation.

This ticket tracks version bumps that currently cause the CI to fail. It is best to upgrade these dependencies at once. We may need to wait for zcashd to upgrade its dependencies to the new versions, and th

[2022-05-05 23:13] ftm1000 commented on #4060
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/4060?planning-poker) with ZenHub @conradoplg

[2022-05-06 04:21] teor2345 opened #4340 "ci: Require successful lightwalletd integration tests for PRs to merge"
## Motivation

We're running a lot of lightwalletd integration tests in CI, but most of them are not required to merge.

While we are actively working on lightwalletd, we should require all the tests to pass before merging.

## Designs

- We'll need a patch job for each test
- Then we need to add the tests to the `main` branch protection rule

### List of Remaining Tests

Zebra:
- [x] Zebra checkp

[2022-05-06 16:18] gustavovalverde commented on #4091
Fixed by https://github.com/ZcashFoundation/zebra/pull/4332

[2022-05-06 16:18] #4091 closed, assigned to nobody

[2022-05-06 18:20] ftm1000 opened #4350 "Add GetMempoolTx and GetMempoolStream gRPC tests"
## Motivation

In https://github.com/ZcashFoundation/zebra/pull/4253 we added tests for grpc wallet methods, however we left a few TODOs in the main file (zebrad/tests/common/lightwalletd/wallet_grpc_test.rs) for missing tests.

## Tasks

Add a test for:
- GetMempoolTx
- GetMempoolStream

The send transaction test populates the mempool, so we can add these extra gRPC calls to the end of that test.

[2022-05-06 18:22] ftm1000 opened #4351 "Add GetTreeState gRPC test"
In https://github.com/ZcashFoundation/zebra/pull/4253 we added tests for grpc wallet methods, however we left a few TODOs in the main file (zebrad/tests/common/lightwalletd/wallet_grpc_test.rs) for missing tests.

Add a test for GetTreeState

[2022-05-06 18:23] ftm1000 commented on #4351
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/4351?planning-poker) with ZenHub @conradoplg @dconnolly @oxarbitrage @teor2345 @upbqdn

[2022-05-06 18:24] ftm1000 commented on #4350
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/4350?planning-poker) with ZenHub @conradoplg @dconnolly @oxarbitrage @teor2345 @upbqdn

[2022-05-06 18:35] ftm1000 commented on #4351
Split from https://github.com/ZcashFoundation/zebra/issues/4278

[2022-05-06 18:35] ftm1000 commented on #4350
Split from https://github.com/ZcashFoundation/zebra/issues/4278

[2022-05-06 20:16] ftm1000 commented on #4340
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/4340?planning-poker) with ZenHub @conradoplg @dconnolly @oxarbitrage @teor2345 @upbqdn

[2022-05-09 04:48] teor2345 commented on #4060
This ticket is blocked by our manual wallet testing - we won't know if we need to fix anything until we've actually tested real wallets.

[2022-05-09 13:50] ftm1000 commented on #4060
to be reassigned, re-estimated and possibly split. We need to do more testing to work out if anything needs to be fixed

[2022-05-09 19:54] #3924 closed, assigned to gustavovalverde

[2022-05-09 20:55] teor2345 commented on #4150
PR #4355 contains another state version increment which fixes a bug.

[2022-05-09 21:55] teor2345 commented on #4297
We tried to fix this in PR https://github.com/ZcashFoundation/zebra/pull/4199.

It worked, but it didn't help performance much, and the extra threading caused some fragile tests to intermittently fail.
(We can fix the tests, we just decided we didn't have time right now.)

[2022-05-09 21:56] dconnolly commented on #4295
Yep I'm good with 'just' truncating the branch names, that is still helpful to a human to distinguish branches

[2022-05-09 22:56] teor2345 commented on #4340
@gustavovalverde I can do this ticket if you'd like. Are there any blockers?

I can start on the tests that are already in CI, and do new ones as they are added.

[2022-05-09 23:00] teor2345 opened #4362 "Add Address stream gRPC tests"
## Motivation

We're missing these gRPC tests:
- GetTaddressBalanceStream
- GetAddressUtxosStream

This is a medium priority, because there are already tests for the same JSON-RPC methods.

[2022-05-09 23:04] teor2345 commented on #4234
Let me know if there is anything I can do to help with this.

[2022-05-10 00:13] teor2345 opened #4363 "Summarise the environmental variables used to activate `zebrad` acceptance tests"
## Motivation

Some `zebrad` acceptance tests need special state to run, they get skipped when it is not available.

We want to document:
- the state requirements for each group of tests (lightwalletd binaries, zebra or lightwalletd cached state)
- the environmental variables (or Rust features) used to run each test
- the environmental variables and command line flags used to see test messages (`R

[2022-05-10 01:32] gustavovalverde commented on #4340
You can go ahead if you'd like. This one has to be merged first, as it's causing the tests not to run:
- https://github.com/ZcashFoundation/zebra/pull/4364

[2022-05-10 03:07] yawnbox opened #4367 "v1.0.0-beta.9 build failed due to missing cmake dependency"
## Description

Another build failure.

### Steps to Reproduce

I tried this:

[code]

### Actual Behaviour

Instead, this happened:

### Zebra Logs

[code]

## Environment

### Operating System

Ubuntu 20.04 LTS x64

[2022-05-10 04:20] teor2345 commented on #4367
Thanks, please install `protoc` (or `cmake`) and the build should succeed.

To close this issue, the Zebra developers could either:
- add  `protoc` (or `cmake`) as a dependency in the README,
- make `prost` into a test dependency, or
- just commit the files `prost` generates (it's only used for gRPC in the tests)

[2022-05-10 06:16] nighthawk24 commented on #4367
Installing `cmake` via homebrew fixed the build issue!

[2022-05-10 08:24] teor2345 commented on #1343
This hasn't been a problem in practice, we can fix it later if it becomes one.

[2022-05-10 08:24] #1343 closed, assigned to nobody

[2022-05-10 21:00] #4234 closed, assigned to nobody

[2022-05-11 02:31] teor2345 commented on #4367
This should be fixed in the next beta release by PR #4369.

Until then, please install one of these packages as a workaround:
- `protobuf-compiler` (sometimes called `protobuf` or `protoc`)
- `cmake`

[2022-05-11 03:45] yawnbox commented on #4367
Thank you, `sudo apt install cmake` allowed the build to work.

[2022-05-11 05:00] #4367 closed, assigned to teor2345

[2022-05-11 20:44] oxarbitrage opened #4379 "Add `z_gettreestate` response snapshot test"
In https://github.com/ZcashFoundation/zebra/pull/4352 we added snapshot tests for rpc methods responses however, the `z_gettreestate` method is not in the main branch at the moment of writing so it needs to be added after https://github.com/ZcashFoundation/zebra/pull/3990 is in place.

[2022-05-11 21:43] #4220 closed, assigned to teor2345

[2022-05-11 21:47] dconnolly commented on #3056
@conradoplg I think this has been resolved?

[2022-05-11 21:49] dconnolly commented on #3056
<img width="617" alt="image" src="https://user-images.githubusercontent.com/552961/167953502-b05cfa48-06be-4019-b837-0f7e5b59fcca.png">

[2022-05-11 21:52] dconnolly commented on #3056
`0.1.0` of orchard is now published, i think we also have to update `zcash_script` against that

[2022-05-11 22:34] conradoplg commented on #3056
@dconnolly yeah we've been using the original repo for a while (which seems to be what this issue was about) so I think we can close this. In #4335 and #3414 I'll update it to `0.1.0`

[2022-05-11 22:34] #3056 closed, assigned to conradoplg

[2022-05-11 23:32] teor2345 opened #4382 "Deprecate gcr.io as a registry for zcash-lightwalletd.yml image"
## Motivation

In PR #4928, we stopped using `gcr.io` as a Docker registry.

But the `zcash-lightwalletd.yml` workflow still seems to be using a different registry to the rest of the workflows.

### Priority

We're not seeing registry errors for this image, so this fix is optional.

[2022-05-12 07:00] #3156 closed, assigned to upbqdn

[2022-05-12 13:51] #3545 closed, assigned to gustavovalverde

[2022-05-13 14:48] gustavovalverde commented on #1786
We've solved most of this problem using reusable workflows

[2022-05-13 14:48] #1786 closed, assigned to gustavovalverde

[2022-05-13 15:20] #3926 closed, assigned to gustavovalverde

[2022-05-13 15:20] #4165 closed, assigned to gustavovalverde

[2022-05-13 15:23] gustavovalverde commented on #3448
Caching for MacOS and Ubuntu was fixed by https://github.com/ZcashFoundation/zebra/pull/4298

[2022-05-13 15:23] #3448 closed, assigned to gustavovalverde

[2022-05-13 15:26] gustavovalverde commented on #1744
I haven't seen this issue while working on the pipelines, If this ever happens again then we reopen this ticket

[2022-05-13 15:26] #1744 closed, assigned to gustavovalverde

[2022-05-13 18:54] dconnolly opened #4396 "Manage `cargo-mdbook` as a GitHub action"
## Motivation

Hardcoding versions (or just 'latest') of build tools with no notifications of updates from Dependabot is not ideal.

We should use https://github.com/peaceiris/actions-mdbook  instead

[2022-05-13 22:02] #4167 closed, assigned to gustavovalverde

[2022-05-16 02:33] #4131 closed, assigned to oxarbitrage

[2022-05-17 19:52] dconnolly opened #4412 "Automate pinning CI dependencies to specific commit hashes"
## Motivation

It'd be nice to be able to manage our CI actions and other dependencies like we do with our cargo etc deps.

The newish https://github.com/sethvargo/ratchet may help us do that.

[2022-05-18 05:56] teor2345 opened #4415 "Fix lightwalletd cached state disks in CI"
## Motivation

Currently, Zebra's CI mounts a single disk to two docker paths for the Zebra and lightwalletd state.

But this is unreliable, it is currently causing the following tests to fail:
* lightwalletd update sync
* lightwalletd send transactions

### Designs

One possible fix is:
- use one disk for Zebra cached state
- use a separate disk for lightwalletd cached state
- mount the required

[2022-05-18 06:47] teor2345 commented on #4168
@gustavovalverde I re-opened this ticket, because we still need to call the `lightwalletd_wallet_grpc_tests` in CI.

[2022-05-18 08:52] teor2345 commented on #4415
The database is being correctly written to disk:
https://github.com/ZcashFoundation/zebra/runs/6484151565?check_suite_focus=true#step:8:909

But it's not present when the disk is attached to a new container:
https://github.com/ZcashFoundation/zebra/runs/6484151485?check_suite_focus=true#step:9:215

[2022-05-18 14:06] #4379 closed, assigned to oxarbitrage

[2022-05-19 01:03] #3414 closed, assigned to conradoplg

[2022-05-19 01:03] #4335 closed, assigned to conradoplg

[2022-05-19 01:04] #4115 closed, assigned to conradoplg

[2022-05-19 02:30] #4362 closed, assigned to oxarbitrage

[2022-05-19 18:10] ruzcash opened #4433 "Installation error"
## Description

Hello! I'm trying to install Zebra and I'm getting the error at the very end of compilation:

Compiling zebra-consensus v1.0.0-beta.9 (/home/ak/.cargo/git/checkouts/zebra-d0d93d7ded255019/c190e30/zebra-consensus)
Compiling zebra-rpc v1.0.0-beta.9 (/home/ak/.cargo/git/checkouts/zebra-d0d93d7ded255019/c190e30/zebra-rpc)
error: there is no argument named `address`
   --> zebra-rpc/src

[2022-05-19 19:34] conradoplg commented on #4433
Thanks for reporting this!

Ubuntu 20.04 ships Rust 1.57, and Zebra now requires 1.58, but we didn't specify that in the build and documentation. We'll address that in the next release.

You will need to uninstall the packaged Rust (`apt remove cargo rustc`) and install a newer version by following https://www.rust-lang.org/tools/install

[2022-05-19 23:07] #4153 closed, assigned to teor2345, gustavovalverde

[2022-05-19 23:24] yawnbox opened #4441 "failed to find tag v1.0.0-beta.10"
## Description

Attempting to update from beta 9 to beta 10.
This link 404's: `https://github.com/ZcashFoundation/zebra/releases/tag/v1.0.0-beta.10`

### Steps to Reproduce

I tried this:

`$ cargo install --locked --git https://github.com/ZcashFoundation/zebra --tag v1.0.0-beta.10 zebrad`

### Actual Behaviour

[code]

[2022-05-19 23:39] oxarbitrage commented on #4441
Please retry, i just published the release tag: https://github.com/ZcashFoundation/zebra/releases/tag/v1.0.0-beta.10

[2022-05-19 23:41] yawnbox commented on #4441
Confirmed working. Thank you!

[2022-05-19 23:41] #4441 closed, assigned to nobody

[2022-05-20 06:45] ruzcash commented on #4433
Thank You, I will write about results.

[2022-05-20 07:01] ruzcash commented on #4433
Problem solved, thanks again!
Zebra is already syncing!

[2022-05-20 07:01] #4433 closed, assigned to nobody

[2022-05-20 14:50] conradoplg commented on #1364
I added these two items:

- [ ] Also test if the crate is packaged succesfully (`cargo package`)
- [ ] Also test if it compiles/packages with the MSRV (and specify one if it doesn't)

[2022-05-20 14:57] conradoplg commented on #2372
We did as part of the beta.10 release, though we might want to review the documentation before the release candidate (I'll create a another ticket for that)

[2022-05-20 14:57] #2372 closed, assigned to nobody

[2022-05-20 14:57] conradoplg commented on #3948
[Tagged](https://github.com/ZcashFoundation/zebra/releases/tag/v1.0.0-beta.10)!

[2022-05-20 14:57] #3948 closed, assigned to nobody

[2022-05-20 16:40] conradoplg opened #4448 "Decide on supported platforms and test in CI"
## Motivation

We should decide which platforms we will officially support, and test it in CI.

### Specifications

### Designs

- [ ] Decide which platforms (OS distribution, CPU, Rust version, C/C++ compiler, packaging system) we want to support
- [ ] Add tests in CI for those that we don't test already

## Related Work

[2022-05-20 17:55] conradoplg commented on #4202
This was done in the "Handling Network Upgrades" gdoc, and we can improve and expand it when needed

[2022-05-20 17:55] #4202 closed, assigned to conradoplg

[2022-05-20 18:20] conradoplg opened #4450 "Test ZecWallet Lite with lightwalletd + Zebra"
## Motivation

We want to make sure that ZecWallet Lite works when connected to a lightwalletd that is connected to a Zebra instance.

### Specifications

### Designs

You will need [a customized ZecWallet Lite](https://github.com/ZcashFoundation/zecwallet-lite/pull/1) to make it connect to your instance of lightwalletd (which should be configured to connect to your Zebra instance)

## Related Wor

[2022-05-20 19:08] conradoplg opened #4451 "Test another wallet with lightwalletd + Zebra"
## Motivation

Same rationale as #4450, but since ZecWallet might get deprecated, we might want to test with another wallet.

### Specifications

### Designs

Choose/experiment with other wallets, and test it. One natural choice would be Nighthawk, but it's mobile-only, which may make testing awkward (though you can run it in an Android emulator)

## Related Work

[2022-05-22 23:30] teor2345 opened #4456 "Full sync test takes slightly longer than CI timeout"
## Motivation

The full sync test is timing out in CI, but we need it to work to run lightwalletd tests.

Example:
https://github.com/ZcashFoundation/zebra/runs/6539522740?check_suite_focus=true#step:7:11496

### Priority

This is a high-priority, urgent change - we can't do reliable lightwalletd testing without it.

## Alternative Solutions

- [x] #4459

Needs separate scheduling:
- profiling to

[2022-05-23 00:07] teor2345 commented on #2768
I don't think this ticket is specific enough to schedule or work on, we can open specific tickets as needed.

[2022-05-23 00:07] #2768 closed, assigned to nobody

[2022-05-23 00:19] teor2345 commented on #4448
I added the following parts to the platform:
* OS distribution
* C/C++ compiler
* packaging system

[2022-05-23 00:30] teor2345 opened #4459 "Try running the full sync test in different Google Cloud regions, to see if it's faster"

[2022-05-23 00:33] teor2345 commented on #2112
Re-opening this ticket, because we might want to do it this sprint.

[2022-05-23 03:20] teor2345 commented on #4211
Obsoleted by #4340 - we now fail if this job fails.

[2022-05-23 03:20] #4211 closed, assigned to nobody

[2022-05-23 14:19] conradoplg commented on #4450
[It seems to work!](https://zecpages.com/z/post/1871)

[2022-05-23 20:00] conradoplg commented on #4450
Testnet + upstream lightwalletd results:

- Shielded Sapling transactions show up in the wallet, but never become spendable
  - Investigating `zecwallet-light-cli` code, this seems to be caused by the [`anchor_height`](https://github.com/adityapk00/zecwallet-light-cli/blob/5e73adef4615786954f97f80e6fbbcd650ee39c7/lib/src/lightclient.rs#L625) always having the wallet birthday and never increasing.

[2022-05-23 22:11] gustavovalverde opened #4464 "ci: create documentation on how to run tests locally for development purposes"
## Motivation

Developers might want to run CI tests locally on their machine, so they don't have to wait for the CI if they have faster machines or available cached states locally.

We should create documentation on how to this with Docker and/or a script to automate the whole process when passing environment variables.

### Designs

- A Docker documentation or a docker-compose file with the need

[2022-05-24 01:44] teor2345 commented on #3318
I'm still not quite sure what the goals of this ticket are.

We don't want to block merges for misspellings, and we don't want red check marks if a single word is spelt wrong.

Can we get warnings like Clippy?
Will they actually be useful?

[2022-05-24 01:46] teor2345 commented on #4278
There's just one sub-ticket left here, so I'm going to close this tracking issue.

[2022-05-24 01:46] #4278 closed, assigned to nobody

[2022-05-24 02:49] #4382 closed, assigned to gustavovalverde

[2022-05-24 03:09] #4351 closed, assigned to upbqdn

[2022-05-24 17:46] conradoplg opened #4480 "Support getblock with verbosity=1"
## Motivation

To workaround a lightwalletd issue related to V5 TXIDs, it was [recently changed](https://github.com/zcash/lightwalletd/pull/393/files) to get the transactions IDs using a `getblock` call with `verbose=1`.

That was the cause of one of the issues found during ZecWallet Lite + lightwalletd + Zebra tests on Testnet, so we might want to support that so we can test it further.

### Spec

[2022-05-24 22:11] teor2345 commented on #4480
I added:

Testing:
- Add a snapshot test for `verbose=1`.
- Manually run `zcash-rpc-diff` with `verbose=1`

[2022-05-25 15:39] #4415 closed, assigned to teor2345, gustavovalverde

[2022-05-25 18:01] gustavovalverde commented on #3675
Closing until this is relevant.

[2022-05-25 18:01] #3675 closed, assigned to gustavovalverde

[2022-05-26 00:27] #3318 closed, assigned to gustavovalverde

[2022-05-26 00:28] #3887 closed, assigned to gustavovalverde

[2022-05-26 11:38] #4168 closed, assigned to gustavovalverde, oxarbitrage

[2022-05-26 13:56] ftm1000 opened #4507 "NU5: Monitor estimated activation time based on current and activation block height"
Motive:
Monitor the network activation to determine when it will actually happen, as follows:

Monitor the network upgrade activation

To do that, periodically subtract the current block height (get it from a block explorer or a synced node) from the activation height, and multiply by 75 seconds. (The target block interval.) Divide by (`60*60*24`) to get the number of days before activation.

[2022-05-26 14:01] ftm1000 opened #4508 "NU5: Check the Foundation’s DNS seeder has enough updated nodes"
Motive:
Load Zebra’s DNS seeder network protocol version dashboard.

Check that the Foundation’s DNS seeders have enough peers on the new network protocol version on mainnet/testnet.

[2022-05-26 14:03] ftm1000 opened #4509 "NU5: Test the activation by keeping Zebra running"
- [ ] Keep your local Zebra rode nunning through activation (anyone interested can do this)
- [ ] [Deploy](https://github.com/ZcashFoundation/zebra/actions/workflows/continous-delivery.yml) a Zebra beta.10 node before the activation with enough time for it to sync (monday? or maybe earlier to be sure)
- [ ] Check the logs for errors and to verify it keeps syncing

[2022-05-26 14:28] conradoplg commented on #4507
We can use this command (substitute the current height from e.g. https://zcashblockexplorer.com/)

[code]

Current estimate is 2022-05-31T16:58:51 UTC

[2022-05-26 17:22] conradoplg opened #4513 "Document how to use Zebra as a lightwalletd backend"
## Motivation

Some people were interested in the Zebra/lightwalletd integration but I realized there is no documentation to point them to.

### Specifications

### Designs

Describe how to use Zebra as a lightwalletd backend (probably somewhere in https://zebra.zfnd.org/user.html, and we could point to it in the README)

Here is a similar `zcashd` RPC config guide:
https://zcash.readthedocs.io/en

[2022-05-26 20:39] dconnolly commented on #565
@conradoplg @teor2345 I think this is redundant now, should we close it?

[2022-05-26 20:41] dconnolly commented on #785
We did part of this but we need to do the rest to encrypt shielded notes with a wallet.

[2022-05-26 20:42] dconnolly commented on #1951
Nice to have, but I think redundant now

[2022-05-26 20:42] #1951 closed, assigned to dconnolly

[2022-05-26 21:27] teor2345 commented on #4513
Nice catch!

Here is a similar `zcashd` RPC config guide:
https://zcash.readthedocs.io/en/latest/rtd_pages/zcash_conf_guide.html#json-rpc-options

And the existing lightwalletd guide, which we could link to:
https://zcash.readthedocs.io/en/latest/rtd_pages/lightclient_support.html

[2022-05-26 21:34] teor2345 commented on #565
Yep, we have all the parameters we need for now.

[2022-05-26 21:34] #565 closed, assigned to nobody

[2022-05-26 21:34] teor2345 commented on #785
@dconnolly can we open a separate ticket, so it's clear which parts we still need to do?

[2022-05-26 21:37] teor2345 commented on #4340
This is now done in the GitHub settings for Zebra.

[2022-05-26 21:37] #4340 closed, assigned to teor2345

[2022-05-26 22:06] teor2345 commented on #897
We haven't needed any of these things for 2 years, and if we need them we'll open specific tickets.

[2022-05-26 22:06] #897 closed, assigned to gustavovalverde

[2022-05-26 22:10] teor2345 commented on #2090
We might want to fix this soon because we are near the quota

[2022-05-26 22:11] teor2345 commented on #2137
This would be nice for the hackathon, but we already have a dashboard for this purpose

[2022-05-26 22:13] teor2345 commented on #2220
This doesn't seem to have been a problem recently.

[2022-05-26 22:13] #2220 closed, assigned to nobody

[2022-05-26 22:14] teor2345 commented on #2298
This isn't on our forward planning lists, we can re-open it if it is.

[2022-05-26 22:14] #2298 closed, assigned to nobody

[2022-05-26 22:14] teor2345 commented on #2299
This isn't on our forward planning lists, we can re-open it if it is.

[2022-05-26 22:14] #2299 closed, assigned to nobody

[2022-05-26 22:16] teor2345 commented on #2380
We opened this because we thought it might be causing the DNS seeder issues, but that doesn't seem likely right now.

[2022-05-26 22:16] #2380 closed, assigned to nobody

[2022-05-26 22:24] teor2345 commented on #2653
We don't know how to do this easily, we should fix missing tests when they come up.

We could search for "run 0 tests" in the logs.

[2022-05-26 22:24] #2653 closed, assigned to arya2

[2022-05-26 22:25] teor2345 commented on #2799
This isn't worth doing until ZF and ECC are committed to running a stable testnet.

We also need to fix #1904 first.

[2022-05-26 22:25] #2799 closed, assigned to dconnolly, gustavovalverde

[2022-05-26 22:26] teor2345 commented on #2995
We've made progress, we can open separate tickets as needed.

[2022-05-26 22:26] #2995 closed, assigned to nobody

[2022-05-26 22:29] teor2345 commented on #3800
We'll probably just fix the Windows build.

[2022-05-26 22:29] #3800 closed, assigned to nobody

[2022-05-27 09:41] #4480 closed, assigned to conradoplg

[2022-05-27 17:13] conradoplg commented on #785
ZIP-212 was incorporated into the spec, so this should be part of https://github.com/ZcashFoundation/zebra/issues/269. I'll add a note there and close this

[2022-05-27 17:13] #785 closed, assigned to nobody

[2022-05-27 21:06] conradoplg opened #4524 "Add `cargo doc` warnings/errors to CI"
## Motivation

After #2892 is done, we'll want to make sure we don't introduce new errors. To do that, we should test it in CI.

### Specifications

### Designs

- [ ] Add `cargo doc` to CI to make sure no errors/warnings are thrown
- [ ] Check for warnings and publish docs with
[code]

## Related Work

[2022-05-29 22:59] teor2345 opened #4529 "Make PRs from external user repositories pass or skip CI jobs"
## Motivation

Currently, Zebra's CI fails on PRs from external contributors. This can be a really confusing and negative experience for a first-time contributor.

Example: (recent examples first)
https://github.com/ZcashFoundation/zebra/pull/7516
https://github.com/ZcashFoundation/zebra/pull/4527

### Jobs that need to be skipped

We don't want external PRs running on our Google Cloud, so we need

[2022-05-30 13:26] oxarbitrage commented on #4363
I think this issue will be a lot more clear if you just had said that you want to document what the CI do.

[2022-05-30 17:52] conradoplg commented on #4507
Current estimate is 2022-05-31T17:43:43 UTC

[2022-05-30 17:54] conradoplg commented on #4509
[Deploying a beta.10 mainnet node](https://github.com/ZcashFoundation/zebra/actions/runs/2410623015)

[2022-05-30 20:45] conradoplg commented on #4451
I tested successfully with Nighthawk android with upstream lightwalletd. It showed my balance, and allowed me to send transaction and showed received transactions.

Since it connects to HTTPS, you'll need a certificate for the lightwalletd server.

- I created one with [`mkcert` ](https://github.com/FiloSottile/mkcert):
[code]
  (Substitute with the IP of the machine you're running lightwalletd.)

[2022-05-30 23:44] conradoplg commented on #4509
It seems deploying from a tag is not working right now, [deploying from main](https://github.com/ZcashFoundation/zebra/actions/runs/2411825703)

[2022-05-31 03:35] teor2345 commented on #4508
I just did this, there aren't as many NU5 nodes as we'd like, due to this known DNS seeder bug:
- [Enforce the minimum protocol version](https://github.com/ZcashFoundation/dnsseeder/issues/10)

But it is ok for now.

[2022-05-31 03:35] #4508 closed, assigned to teor2345, gustavovalverde

[2022-05-31 13:53] conradoplg commented on #4509
It's  `zebrad-main-bfa319d` on GCP

[2022-05-31 13:58] conradoplg commented on #4507
2022-05-31T17:45:50 UTC

[2022-05-31 22:15] teor2345 opened #4545 "Start disconnecting from outdated peers a few days before network upgrade activation"
## Motivation

To avoid Zcash peer connection storms, we want to start disconnecting from outdated peers before network upgrade activation.

### Specifications

Here is what `zcashd` does:
https://zips.z.cash/zip-0201#network-coalescence

### Designs

1. If Zebra is close to a network upgrade, at regular intervals, randomly choose an outdated peer, and disconnect from it. This will make Zebra auto

[2022-05-31 22:17] conradoplg opened #4546 "Fix automatic Zebra deployments to Google Cloud"
## Motivation

All node deployments seem to be failing in GCP with messages like:

[code]

### Specifications

### Designs

- [ ] Fix the issue
- [ ] Think about a way to get notified somehow if a deployment fails and implement it if possible, or create a new ticket for it if it's complex

## Related Work

[2022-05-31 22:21] conradoplg opened #4547 "Check if DNS seeder are working correctly and fix if required"
## Motivation

I think there's an issue with our DNS seeder, but I couldn't manage to confirm it 100% (could be a DNS or network issue on my side).

To reproduce it:

- Start Zebra with only `mainnet.seeder.zfnd.org:8233` in `initial_mainnet_peers`
- All connection attempts will fail, or maybe a single one will work

That would indicate that the DNS seeder is reporting offline peers for some reaso

[2022-05-31 22:26] str4d commented on #4547
Has the seeder's advertised protocol version been updated to 170100?

[2022-05-31 22:28] teor2345 commented on #1904
This is blocked by an investigation of how block explorers handle the Zcash network protocol.

[2022-05-31 23:03] conradoplg commented on #4547
[Yep](https://github.com/ZcashFoundation/dnsseeder/pull/16/files), but I also tested this before NU5 activation, and the peers that are being returned by our seeder do not seem to respond to the TCP connection attempt by Zebra at all, so it doesn't seem to be a protocol version issue

[2022-05-31 23:57] teor2345 commented on #4547
I also reproduced this yesterday, but with a few nodes on the correct protocol version.

I think we should deploy a new seeder instance, swap over the fixed IP, and see if it has better peers.

[2022-05-31 23:59] teor2345 commented on #4547
I think it's likely to be this known seeder issue:
[Enforce the minimum protocol version](https://github.com/ZcashFoundation/dnsseeder/issues/10)

[2022-06-01 00:27] teor2345 commented on #1364
@conradoplg I'd prefer to add the publishing checks later, when we're working on publishing individual crates. Can we split them out into a different ticket?

[2022-06-01 00:28] teor2345 commented on #1364
@gustavovalverde we might just want to start with builds (no publishing or rust version checks).

We might not be able to use the caches from the full builds, because they have different Rust features. So each crate might need its own cache.

[2022-06-01 01:03] teor2345 opened #4549 "Document optional zebrad Rust features"
## Motivation

Some of Zebra's features are optional, and turned off by default.

### Designs

- [ ] Document each feature in the `zebrad` module docs, like: https://docs.rs/tracing/0.1.34/tracing/#crate-feature-flags
- [x] Document the features required for each tracing/metrics config

[2022-06-01 01:06] teor2345 opened #4550 "Add all-features and no-default-features builds to CI"
## Motivation

We have added a bunch of features to Zebra, and we want to make sure we don't accidentally break them.

### Designs

Build each Zebra crate with:
- `--all-features`
- `--no-default-features`

Fail the PR if any build fails. There's no need to run tests.

Run `cargo deny check bans` with:
- `--all-features`
- `--no-default-features`

Fail the PR if any check fails.

## Related Work

[2022-06-01 03:53] teor2345 opened #4551 "ci: lightwalletd tests fail with "could not read ScriptSig""
## Motivation

Zebra's lightwalletd tests are currently failing with:

https://github.com/ZcashFoundation/zebra/runs/6681266038?check_suite_focus=true#step:9:1437

It looks like https://github.com/adityapk00/lightwalletd has not been updated for NU5, so we need to switch our tests to another `lightwalletd`.

### Designs

We could switch to the most up-to-date `lightwalletd` fork:
https://github.co

[2022-06-01 03:53] #2953 closed, assigned to teor2345

[2022-06-01 07:38] dconnolly opened #4554 "benchmarks: create a ticket if zebrad mainnet sync time increases significantly"
## Motivation

Sometimes changes (like dependency updates) can affect total sync time, and we want to know this as early in the cycle as possible, so that we don't merge a performance regression.

We currently do a full mainnet sync every week. We could automatically create a ticket if the time increases significantly.

However, this still keeps the slowdown signal late in the process. But it's st

[2022-06-01 16:53] conradoplg commented on #4507
Activated!

[2022-06-01 16:53] #4507 closed, assigned to conradoplg

[2022-06-01 16:54] conradoplg commented on #4509
We ended up not being able to deploy on GCP due to #4546 but me, @upbqdn and @dconnolly kept Zebras running and everything went smoothly :tada:

[2022-06-01 16:54] #4509 closed, assigned to nobody

[2022-06-01 18:40] #4110 closed, assigned to nobody

[2022-06-01 18:40] #4137 closed, assigned to nobody

[2022-06-01 21:17] conradoplg commented on #4547
I wonder about this, though. I see that Zebra attempts to connect to the IPs returned by the seeder but the TCP connection fails to open. If it were just outdated peers, it would fail after the Zcash handshake, right?

In any case I'll try to investigate this more thoroughly.

[2022-06-01 21:19] teor2345 commented on #4554
At the moment, we're only running a full sync _**after**_ each PR merges to the `main` branch:
https://github.com/ZcashFoundation/zebra/blob/8d6957f39b036fc4be93092845fa4872378424bd/.github/workflows/continous-integration-docker.yml#L304

We decided not to run a full sync on each PR, because then each PR batch would take 6 hours to merge.

We could time the mandatory checkpoint sync instead, it on

[2022-06-01 21:20] teor2345 commented on #4554
I've marked this ticket as needing a design, and being blocked by sync performance improvements.

If we manage to decrease sync time by a few hours, that will change the design decisions we make.

[2022-06-01 21:51] conradoplg opened #4556 "Tag Zebra v1.0.0-beta.11 release"
## Motivation

We should tag a new release after #4117 merges

### Specifications

### Designs

## Related Work

[2022-06-01 23:13] #4513 closed, assigned to oxarbitrage

[2022-06-02 13:30] gustavovalverde commented on #3360
Closed via https://github.com/ZcashFoundation/zebra/pull/4540

[2022-06-02 13:30] #3360 closed, assigned to gustavovalverde

[2022-06-02 13:45] #4117 closed, assigned to teor2345

[2022-06-02 17:47] conradoplg opened #4562 "Deploy long-running Zebra nodes after each tagged release"
## Motivation

We want to have long-running Zebra nodes to:

- Use for testing (check if it keeps syncing correctly)
- Make it more likely to be found by seeders and block explorers

### Specifications

### Designs

- [x] Add a CI workflow that deploys a Zebra node after each tag is published
  - [ ] Also manually if needed
  - [x] Each deploy overwrites the previous one?
  - [ ] Use a static IP?

[2022-06-02 17:55] conradoplg commented on #4450
Now that NU5 activated it shouldn't work anymore in mainnet too.

The [zingolabs CLI fork](https://github.com/zingolabs/zecwalletlitelib) should work, and they're working on integrating it in the GUI

[2022-06-02 19:52] conradoplg commented on #4547
I think I found the issue.

Our seeder adds any connectable peer to the address book, even if it uses a non-default port.

However, when Zebra connects to an IP from the DNS seeder, it always use the default port since there's no way to know the port of the peer through DNS. And there seems to be a lot of nodes using non-default ports (mostly 16125)

I'll push a PR soon to fix this, but I'd like t

[2022-06-02 22:35] teor2345 commented on #27
We already have some of this, we should open a specific ticket when we change the message format.

Also the Ziggurat tests cover this.

[2022-06-02 22:35] #27 closed, assigned to nobody

[2022-06-02 22:36] teor2345 commented on #566
We looked at this when we looked at the consensus rules - transparent values must be non-negative.

[2022-06-02 22:36] #566 closed, assigned to nobody

[2022-06-02 22:38] teor2345 commented on #950
We'll do this outside the issue tracker.

[2022-06-02 22:38] #950 closed, assigned to nobody

[2022-06-02 22:44] teor2345 commented on #1351
We've improved this a lot, and some of the blocking is meant to happen (like database cleanup or ephemeral database deletion).

[2022-06-02 22:44] #1351 closed, assigned to nobody

[2022-06-02 22:47] teor2345 commented on #1432
This is obsolete - with the new database and state API, we should:
- move this request to the ReadStateService
- only query the finalized state block headers column family

[2022-06-02 22:47] #1432 closed, assigned to nobody

[2022-06-02 22:50] teor2345 commented on #1678
This seems to work and has worked for months.

[2022-06-02 22:50] #1678 closed, assigned to nobody

[2022-06-02 22:55] #1772 closed, assigned to nobody

[2022-06-02 22:55] teor2345 commented on #1841
NU5 activated 3 days ago.

[2022-06-02 22:55] #1841 closed, assigned to nobody

[2022-06-02 22:56] teor2345 commented on #1870
We don't want to do this now, it seems to cause a lot of problems.

[2022-06-02 22:57] teor2345 commented on #1875
This is covered by other tickets.

[2022-06-02 23:00] teor2345 commented on #1890
We can re-open this if users ask for it.

[2022-06-02 23:02] teor2345 commented on #1892
The current performance is good enough, we can open specific tickets if we need to.

[2022-06-02 23:02] #1892 closed, assigned to nobody

[2022-06-02 23:04] teor2345 commented on #1956
We can re-open this if it becomes a problem.

[2022-06-02 23:05] teor2345 commented on #1966
This might be needed as part of benchmarking.

[2022-06-02 23:06] teor2345 commented on #2042
Let's do this when we actually change those types.

[2022-06-02 23:06] #2042 closed, assigned to dconnolly

[2022-06-02 23:06] teor2345 commented on #2082
We've either done this, or we'll do it when they upgrade.

[2022-06-02 23:06] #2082 closed, assigned to nobody

[2022-06-02 23:07] teor2345 commented on #2166
We have good coverage already.

[2022-06-02 23:07] #2166 closed, assigned to nobody

[2022-06-02 23:09] teor2345 commented on #2191
We'll do this when we change the docs.

[2022-06-02 23:09] #2191 closed, assigned to nobody

[2022-06-02 23:11] teor2345 commented on #2214
Zebra has a large number of peers connected on mainnet, so it is unlikely we will send any of the 3 fanout requests to the same peer. We also made changes that make sure a broadcast only goes to half the peers, which means there are always peers available.

(This issue really only happens on testnet.)

[2022-06-02 23:11] #2214 closed, assigned to nobody

[2022-06-02 23:11] teor2345 commented on #2274
We'll do this if it becomes a problem.

[2022-06-02 23:11] #2274 closed, assigned to nobody

[2022-06-02 23:15] teor2345 commented on #2436
We should split up a bunch of large modules when we tackle technical debt.

[2022-06-02 23:15] #2436 closed, assigned to nobody

[2022-06-02 23:18] teor2345 commented on #2560
This seems ok for now.

[2022-06-02 23:18] #2560 closed, assigned to nobody

[2022-06-02 23:18] teor2345 commented on #2559
This seemed to work correctly on testnet before the second NU5 activation.

[2022-06-02 23:18] #2559 closed, assigned to nobody

[2022-06-02 23:19] teor2345 commented on #2573
We can fix this when we change the related code.

[2022-06-02 23:19] #2573 closed, assigned to nobody

[2022-06-02 23:20] teor2345 commented on #2587
We can fix this if we change this code.

[2022-06-02 23:20] #2587 closed, assigned to nobody

[2022-06-02 23:21] teor2345 commented on #2632
We can re-open this if it turns up in CPU profiles.

[2022-06-02 23:21] #2632 closed, assigned to nobody

[2022-06-02 23:22] teor2345 commented on #2654
This is an obscure case, we can test it if it causes problems later.

[2022-06-02 23:24] teor2345 commented on #2743
This seems like it's not that important.

[2022-06-02 23:24] #2743 closed, assigned to nobody

[2022-06-02 23:28] teor2345 commented on #2869
We're not planning on adding more metrics soon.

[2022-06-02 23:28] #2869 closed, assigned to nobody

[2022-06-02 23:30] teor2345 commented on #1186
This isn't particularly important.

[2022-06-02 23:30] #1186 closed, assigned to nobody

[2022-06-02 23:31] teor2345 commented on #2909
We should fix the actual bug risk in #2908 instead.

[2022-06-02 23:31] #2909 closed, assigned to nobody

[2022-06-02 23:33] teor2345 commented on #3053
We haven't seen this bug for a long time, we think it's fixed.

[2022-06-02 23:33] #3053 closed, assigned to nobody

[2022-06-02 23:37] teor2345 commented on #3182
This got implemented for lightwalletd.

[2022-06-02 23:37] #3182 closed, assigned to nobody

[2022-06-02 23:38] teor2345 commented on #3185
We don't think we need this right now.

[2022-06-02 23:38] #3185 closed, assigned to nobody

[2022-06-02 23:43] teor2345 commented on #3372
We'll do this when we upgrade to abscissa 0.6

[2022-06-02 23:43] #3372 closed, assigned to nobody

[2022-06-02 23:47] teor2345 commented on #3441
The current behaviour is that we receive the cancelled response, and possibly have a parsing or response handling error. Then the connection recovers.

This seems ok for now.

[2022-06-02 23:47] #3441 closed, assigned to nobody

[2022-06-02 23:50] teor2345 commented on #3757
We kept this open because note commitment trees are the most CPU-intensive work that we do.

[2022-06-02 23:55] #4297 closed, assigned to nobody

[2022-06-03 20:53] conradoplg commented on #4450
The wallet was fixed and now works post-NU5!

To test it:

- [Run lightwalletd with Zebra](https://zebra.zfnd.org/user/lightwalletd.html). Use the `-no-tls-very-insecure` flag (i.e. no need to use certificates). You can add `--grpc-logging-insecure` to see the GRPC calls from the wallet being made.
- Checkout ZecWallet Lite from this [branch](https://github.com/ZcashFoundation/zecwallet-lite/pull/

[2022-06-06 04:05] teor2345 opened #4571 "Simplify initial network setup so that peer queries can be answered sooner"
## Motivation

Ziggurat's testing report on Zebra `v1.0.0-beta.8` discovered that Zebra ignores inbound peer queries during network setup.

### Designs

There are a few ways we can resolve this issue:
1. Split `Inbound` initialisation into fast (state) and slow (network/verifier), so that some peer queries can be answered sooner
2. Move peer queries to the `ReadStateService`, so they can be served

[2022-06-06 04:29] teor2345 commented on #4551
It seems like `main` is still using adityapk00/lightwalletd, despite PR https://github.com/ZcashFoundation/zebra/pull/4553 :

https://github.com/ZcashFoundation/zebra/runs/6736917351?check_suite_focus=true#step:9:1154

[2022-06-06 23:44] teor2345 commented on #4556
We tagged the release a few days ago.

[2022-06-06 23:44] #4556 closed, assigned to upbqdn

[2022-06-07 00:07] #4547 closed, assigned to conradoplg

[2022-06-07 00:11] teor2345 commented on #1904
In https://github.com/zcash/zcash/issues/3881#issuecomment-1140146874 , we found out that `zcashd` seems to ignore peers from `zebrad`.

We should try to find out why.

[2022-06-07 02:21] teor2345 opened #4576 "See if registry tracing stack is faster than FmtSubscriber stack"
## Motivation

After PRs #4519 and #4539, we have two alternate tracing layer stacks:
- `FmtSubscriber`
- tracing `registry`

The default is `FmtSubscriber`, but tracing `registry` is supposed to be faster.

### Designs

Check if a full sync with a tracing `registry` stack is faster.

Development:
- split the `tracing-registry` feature out of the `tokio-console` feature

Testing:
- make the `traci

[2022-06-07 20:30] softminus commented on #1904
To clarify, this was not from `zebrad`, this was from https://github.com/superbaud/zcash-cotyledon/blob/main/src/main.rs; which only answers `Peers` requests.

@str4d said [here](https://github.com/zcash/zcash/issues/3881#issuecomment-1145555036) that

so I don't think this *necessarily* reflects a problem with `zebrad`.

[2022-06-07 20:36] softminus commented on #1904
I ran `rm ~/.zcash/peers.dat; ./src/zcashd -dnsseed=0 -seednode=127.0.0.1 -port=12345` on a machine with a running `zebrad` (not fully synced to chaintip, if that matters) and the `zcashd` was able to get peers from `zebrad`.