[2022-06-07 20:48] softminus commented on #1904
https://github.com/eqlabs/ziggurat/blob/main/src/tests/conformance/peering.rs#L20-L48 might also be related/helpful

[2022-06-07 23:03] teor2345 commented on #1904
It's still using a `zebra-network` stack, which is one possible cause of the DNS seeder issues.

Thanks for letting us know that `zebrad`'s `Peers` requests work for `zcashd`.

[2022-06-08 14:22] dconnolly commented on #1966
RedPallas and RedJubjub signature verifications are being tracked as of 1.0.0-beta.11

[2022-06-08 15:00] conradoplg opened #4581 "Investigate "tasks have lost their waker" and fix if needed"
## Motivation

`tokio-console`, for which we added support in https://github.com/ZcashFoundation/zebra/pull/4519, is reporting a bunch os "tasks have lost their waker". We should investigate.

Most of them seem to be from the handshake code:
https://github.com/ZcashFoundation/zebra/blob/ca0520b2e8e7c40fa4c24da45896ff9430992a9d/zebra-network/src/peer_set/initialize.rs#L298-L299

https://github.com/

[2022-06-08 15:08] conradoplg opened #4583 "Investigate busiest tasks per tokio-console"
## Motivation

tokio-console, for which we added support in https://github.com/ZcashFoundation/zebra/pull/4519, is reporting a bunch of busy tasks but it's not clear what they are. We should investigate it.

On a syncing-pre-checkpoint node, it's looking like this in my machine:

![image](https://user-images.githubusercontent.com/35766/172650585-34b311f4-2e9f-4788-831b-60cb6ff048bb.png)

The targe

[2022-06-08 17:24] conradoplg commented on #4551
This seems to be caused by:

- When building the image, it fetches the `lightwalletd` docker image with the `latest` tag
- The image with the `latest` tag is very old

So the issue can be:
- We are not tagging the image with `latest`
- Or we should be pointing to something other than `latest`

I manually retagged `latest` and I'm currently retrying some jobs to check if they work.

[2022-06-09 22:21] oxarbitrage commented on #1621
I am not sure if this is possible with abscissa : https://github.com/iqlusioninc/abscissa/issues/101

[2022-06-10 17:02] ftm1000 commented on #3488
consolidated epic into Zebra as a Release Candidate

[2022-06-10 17:02] #3488 closed, assigned to nobody

[2022-06-10 19:21] conradoplg opened #4590 "CI: correct lightwalletd image not being fetched"
## Motivation

In CI, when the `Dockerfile` is built by `build-docker-image.yml`, it does not specify a tag in `COPY --from=us-docker.pkg.dev/zealous-zebra/zebra/lightwalletd /lightwalletd /usr/local/bin`, which makes it fetch the `latest` tag.

However, the `latest` tag does not seem to be applied currently, which make it point to a old image. (I temporarily worked around that by tagging manually

[2022-06-10 19:23] conradoplg commented on #4551
I created https://github.com/ZcashFoundation/zebra/issues/4590 to better track the issue

[2022-06-10 19:23] #4551 closed, assigned to nobody

[2022-06-10 19:31] conradoplg opened #4591 "Fix timeout not being enforced by sync_until"
## Motivation

The `sync_until` function, which is used by e.g. `sync_one_checkpoint_testnet`, does not enforce timeouts.

This makes hangs in the underlying issue harder to diagnose, since CI will only fail after the 6 hour timeout.

Make it always enforce the timeout.

### Specifications

### Designs

This is caused by `wait_with_output` being called when mempool activation is not required, and

[2022-06-13 21:24] gustavovalverde opened #4600 "ci: re-enable zebra & lightwalletd status checks"
## Motivation

We've recently disabled most lighwalletd CI tests for as required status checks, with recent changes on CI we should periodically check if this checks can be re-enabled, so we don't merge faulty code

### Designs

Re-enable the following checks:
- [x] `Zebra checkpoint / Run sync-to-checkpoint test`
- [x] `Zebra tip / Run full-sync-to-tip test`
- [x] `lightwalletd tip / Run lwd-full

[2022-06-13 21:38] #4590 closed, assigned to gustavovalverde

[2022-06-13 21:42] gustavovalverde opened #4603 "ci: Create a boxed (isolated) zcashd and zebrad for our CI tests"
## Motivation

We'd like to to stand up our `Mainnet` in a box or isolated environment. This is similar to "**testnet in a box**", producing a fully managed P2P zcash network.

The box test is a highly controlled environment so that the diff is in zebra code, not network conditions; the current test is still useful but because it can vary widely (100% performance degradation) without a zebra code

[2022-06-14 03:36] teor2345 commented on #4591
It's not possible to enforce timeouts using `std::TestChild`.

I've edited the ticket description to use `with_failure_regex_iter` - we didn't have that test harness feature when we added mempool support to `sync_until`.

We could also use `process_control` as a general fix for timeouts, and to simplify our code. But that seems like a bigger ticket.

[2022-06-14 06:21] #2847 closed, assigned to oxarbitrage

[2022-06-14 15:02] conradoplg commented on #4591
Thanks!

[2022-06-14 23:05] teor2345 opened #4612 "ci: Wait for lightwalletd image rebuild if it has changed"
## Motivation

If we change the `lightwalletd` Docker image in a PR, we want to see those changes in the PR's tests. Otherwise we won't know if our fixes work.

If we don't change the image, the latest `main` branch image is fine.

## Design

Before starting this PR, we want to add the job to the branch protection rules, so we don't merge broken code:
- #4882

We might want to use the same depende

[2022-06-14 23:09] teor2345 opened #4613 "ci: Disable zcash_rpc_conflict on macOS"
## Motivation

We're seeing a lot of timeouts in `zcash_rpc_conflict` on macOS.

We haven't changed anything, and it's only on one platform, so this is probably a GitHub runner infrastructure or OS change.

## Design

macOS is not a top-tier support platform, so we can just disable this test on macOS.

### Original Comment

[Mergify test](https://github.com/ZcashFoundation/zebra/runs/6874826052?ch

[2022-06-15 00:31] #4613 closed, assigned to nobody

[2022-06-15 01:42] teor2345 opened #4619 "Try loading blocks from a flat file"
## Motivation

Zebra takes about 6 hours to sync from the network, but less than an hour to load blocks from a file on disk.

We could share a file of blocks using a faster distributed file sharing protocol, like Bittorrent or IPFS. Then sync the final few blocks as normal, using full validation.

For now, we just want to investigate how fast it would be.

### Designs

Like `copy-state`, load bloc

[2022-06-15 03:57] #2892 closed, assigned to upbqdn

[2022-06-15 06:43] #2112 closed, assigned to teor2345

[2022-06-15 07:21] teor2345 opened #4625 "Test that old zebrad.toml files still work"
## Motivation

We want to make sure that we don't accidentally break the config format.

### Designs

- [ ] Commit a copy of the `zebrad generate` output to a test folder in the Zebra git repository
- [ ] Add an acceptance test that makes sure the config is up to date in the Zebra git repository
- [ ] Add an acceptance test that launches `zebrad start` using the config from the Zebra git repositor

[2022-06-15 08:05] #4363 closed, assigned to oxarbitrage

[2022-06-15 21:59] #2090 closed, assigned to gustavovalverde

[2022-06-15 23:03] gustavovalverde commented on #1364
Can I have a single example on how to do this? I'm not completely sure on how to this programmatically to consider all crates.

[2022-06-16 00:35] teor2345 commented on #1364
Try
[code]

There is also `cargo metadata`, but it's very verbose JSON.

[2022-06-16 00:36] teor2345 commented on #1364
That will give you a list of crate names, and you can build each one using:
[code]

[2022-06-16 22:07] teor2345 opened #4632 "Limit the size of reject network message strings"
## Motivation

We want to avoid sending large error messages on the network.

`zcashd` does this with a limit of `111`, we might want ours to be slightly smaller:
https://github.com/zcash/zcash/blob/1b5ab4a06e52c23aca48afb1ebb72a25ef5dd3ca/src/main.cpp#L7334-L7335

### Specifications

Bitcoin doesn't say much about limits:
https://en.bitcoin.it/wiki/Protocol_documentation#reject

[2022-06-16 22:10] teor2345 opened #4633 "Test Zebra reject message handling"
## Scheduling

Zebra doesn't send reject messages, and it ignores reject messages that are sent to it, so these tests are optional.

## Motivation

We want to test for two things:

### Reject Message Loops

We want to avoid reject message loops, where two peers reject each others' reject messages.
(We also want to avoid these kind of useless message loops in general, but that's trickier to solve.)

[2022-06-17 05:29] #4396 closed, assigned to nobody

[2022-06-17 13:57] conradoplg commented on #4450
Done and reproduced succesfully by @upbqdn

[2022-06-17 13:57] #4450 closed, assigned to conradoplg

[2022-06-17 13:58] conradoplg commented on #4451
Done, someone reproducing the steps is not needed at this time, Adi might help us test this further

[2022-06-17 13:58] #4451 closed, assigned to conradoplg

[2022-06-18 13:11] oxarbitrage commented on #4625
I am unsure if we should use cargo insta, snapshots and how.

1- If you make a snapshot of the config, you have to remove the header meta data to convert it to a real config file that zebra can use to start.
2- If the config changes, the snapshot of the config will need to be updated. Then when zebra is started it will use a new config and not an old one.

Here is what i think we should do:

- Cre

[2022-06-18 14:03] oxarbitrage commented on #4583
There is a typo and this should say 20% ?

[2022-06-20 02:06] teor2345 commented on #4625
This seems better to me, I'll edit the ticket.

[2022-06-20 02:08] teor2345 commented on #4625
We also need to make sure that new config fields are added to the test config.
If we don't, we could make a breaking change to a config that was added recently, and the test wouldn't pick it up.

[2022-06-20 02:10] #4524 closed, assigned to nobody

[2022-06-20 14:14] conradoplg commented on #4583
In `top` (or `htop`), 200% means 2 cores at 100%

BTW, this seems to have changed. Now I get ~1000% CPU usage near the tip, and the sync seems to get stuck or take a super long time. Still no idea what's happening.

[2022-06-20 15:07] upbqdn opened #4649 "Zebra falsely estimates that it's close to the tip when the network connection goes down"
## Motivation

Zebra currently estimates that it is close to the tip if the average number of synced blocks in the last four batches drops below 20. The decision is made in the function [`is_close_to_tip`](https://github.com/ZcashFoundation/zebra/blob/update-column-family-names/zebrad/src/components/sync/status.rs#L47) here https://github.com/ZcashFoundation/zebra/blob/update-column-family-names/z

[2022-06-20 15:22] conradoplg opened #4650 "Zebra is slow near the tip"
## Description

Recently Zebra became very slow when near the tip (~1000 blocks maybe?).

While in that state it consume half the total CPU and lots of memory.

This showed up while testing https://github.com/ZcashFoundation/zebra/pull/4626. See attempts 2 and 4 in CI (attempt 3 was cancelled) https://github.com/ZcashFoundation/zebra/runs/6937801381?check_suite_focus=true IIRC the code didn't chan

[2022-06-20 22:01] oxarbitrage commented on #4625
Can you clarify the git part please ? Thanks!

[2022-06-20 22:02] #4576 closed, assigned to nobody

[2022-06-20 22:02] teor2345 commented on #4576
I don't think we can make this change, because the filters in the registry stack are always showing trace and debug logs, but only for some tasks.

I spent a few hours looking for this bug, and I couldn't work out the cause.

This might be a bug in the tracing registry, or it might be an obscure bug in Zebra.

[2022-06-20 22:05] ftm1000 opened #4651 "Tag Zebra beta.12 release"
## Dependencies

- [x] We want to add a friendlier config load error message before tagging this release.

[2022-06-20 23:05] teor2345 opened #4652 "Run Rust builds when .cargo/config.toml or clippy.toml change"
## Motivation

Changes to these files can affect CI results, because they change warnings and errors:
- https://github.com/ZcashFoundation/zebra/blob/main/.cargo/config.toml
- https://github.com/ZcashFoundation/zebra/blob/main/clippy.toml

We should add these files to all our CI jobs that run builds (including the test jobs, because they build tests).

_Originally posted by @teor2345 in https://gi

[2022-06-20 23:10] teor2345 commented on #4524
I added the new "Rust doc" job to the `main` branch requirements.

[2022-06-20 23:53] teor2345 commented on #4649
What happens if we're using testnet in a box, or we only have a small number of working peers, but we are actually near the tip?

Here are some possible solutions:
- use a different minimum for testnet, because it only usually has 5-8 peers in total
- check that we're near the previous maximum number of peers (but peers can go down)
- check that we're near the estimated tip, based on our local clo

[2022-06-20 23:56] teor2345 commented on #4625
I meant "in the Zebra git repository", I've added that to the ticket.

[2022-06-21 00:59] #1213 closed, assigned to oxarbitrage

[2022-06-21 02:30] #1364 closed, assigned to gustavovalverde

[2022-06-21 02:30] #4550 closed, assigned to gustavovalverde

[2022-06-21 04:37] teor2345 commented on #4060
I think we should open specific tickets for any error handling bugs that we find.

[2022-06-21 04:37] #4060 closed, assigned to nobody

[2022-06-21 04:49] teor2345 opened #4661 "Split full sync test into checkpoint and full validation jobs"
## Motivation

Zebra takes around 6 hours to fully sync, and that's also the GitHub job timeout.

But if we split the sync into multiple jobs, we won't get CI failures when the sync takes a little bit longer.

### Designs

- [ ] Run a checkpoint job until Zebra finishes checkpoint syncing
- [ ] Run a full validation job until Zebra reaches the tip

[2022-06-21 04:49] teor2345 commented on #4456
Obsoleted by ticket #4661.

[2022-06-21 04:49] #4456 closed, assigned to teor2345, gustavovalverde

[2022-06-21 04:49] teor2345 commented on #4459
Obsoleted by ticket #4661.

[2022-06-21 04:49] #4459 closed, assigned to nobody

[2022-06-21 14:41] upbqdn opened #4665 "Warn the user when Zebra doesn't recognize the format of `zebrad.toml`"
## Motivation

When the format of `zebrad.toml` changes, Zebra doesn't recognize it appropriately and returns an unclear error saying that it couldn't read some data. This becomes an issue when users install a new version of Zebra that uses a new format of `zebrad.toml`, but keep their old `zebrad.toml` file.

### Suggested solution

Zebra should provide a message saying that it didn't recognize s

[2022-06-21 15:09] upbqdn commented on #4649
I think checking if Zebra has at least one or two peers before returning a `true` from `is_close_to_tip` would be sufficient.

[2022-06-21 23:42] teor2345 commented on #4649
Ok, sounds good, I would suggest just one peer (that's a common "testnet in a box" setup).

[2022-06-22 04:35] #2541 closed, assigned to gustavovalverde

[2022-06-22 17:02] conradoplg opened #4672 "Add support for Orchard proof batch verification"
## Motivation

The `halo2_proofs` crate ~~does not yet support batch verification~~ (I think it does but we don't use it yet, but in any case its performance was improved recently). When it does, we should use it, since there are some blocks with many Orchard actions that are taking seconds to validate.

### Designs

- [ ] Use batch verification in Zebra (see how we handle Sapling batch verificati

[2022-06-22 22:17] upbqdn opened #4677 "Various tests sometimes fail"
## Description

I noticed four issues when running the tests for the `main` branch locally on my machine:

- the test `zebra_rpc_conflict` often fails with:
[code]
- the test `restart_stop_at_height` sometimes hangs even for Mainnet. By hanging I mean that the test doesn't finish in two hours, and `htop` shows no activity regarding Zebra.
- the test `activate_mempool_mainnet` sometimes fails with

[2022-06-22 23:17] teor2345 opened #4678 "Return peer metadata from `connect_isolated` functions"
## Motivation

We want to support development of an alternate DNS seeder based on `zebra-network`.

## Requirements

There's some peer metadata which we need access to (from the `connect_isolated`-style functions) in order to reproduce the [seeder filtering algorithms](https://github.com/zcash/zcash/issues/3881#issuecomment-1145555036) and I'm unsure how to make that happen:

* The value of the `P

[2022-06-22 23:35] teor2345 commented on #4678
Copied from https://github.com/zcash/zcash/issues/3881#issuecomment-1163762182

The current design is roughly:
- `AddrV1` and `AddrV2` - serialized outbound connection address in `addr` and `addr2` messages
- `MetaAddr` - outbound peer connection addresses and last connection status, serialized from `AddrV1` and `AddrV2`
- `LoadTrackedClient` - contains current protocol version for an active inbou

[2022-06-22 23:46] teor2345 commented on #4677
All of these could be timing issues, here's what I'd suggest to start investigating:
1. Try increasing the delay between node launches
2. Try increasing the delay before the restart
    - We should get better diagnostics for this once we fix #4591
    - You can replace `zebrad...` with `timelimit -T (time) zebrad...` to get the process to exit and show its logs
3. Try increasing the `zebrad` comma

[2022-06-23 23:34] teor2345 opened #4684 "Test that every old zebrad.toml config still works"
## Scheduling

This test is required for the  _next_ time Zebra changes its config format.
(Last changes were in July 2022, June 2022, then in June 2021.)

## Motivation

There are some ways to break a config that aren't covered by ticket #4625.

At the moment, if we add a new field, we won't be testing that new field with every newer `zebrad` versions.

So we need to keep a copy of every generate

[2022-06-25 20:28] daira commented on #4632
Why so? I don't know why the limit is 111, and of course Bitcoin Core doesn't document it, but if I had to guess it would be either:
* just an arbitrary magic number, or
* some calculated limit on actual message size.

[2022-06-27 00:07] #4625 closed, assigned to oxarbitrage

[2022-06-27 02:19] teor2345 opened #4691 "Stop assuming testnet when parsing keys and addresses"
## Scheduling

We don't need to fix these bugs until we start full wallet work.
(These bugs only affect Sprout, Sapling, and Orchard keys and addresses.)

## Motivation

When Zebra finds an unrecognised network in an address, it sometimes:
- panics, or
- assumes testnet.

This can lead to denial of service or loss of funds.

### Specifications

The Zcash consensus rules say that unrecognised netwo

[2022-06-27 02:24] teor2345 opened #4692 "Check address and key lengths when parsing strings"
## Scheduling

We don't need to fix these bugs until we start full wallet work.

## Motivation

Zebra doesn't check the length of address or key strings when parsing.

This might lead to loss of funds.

### Specifications

The Zcash consensus rules say that keys and addresses should be a specific length.

### Designs

In methods that handle untrusted data:
- `From`
- `FromStr`

Check that the key

[2022-06-27 07:09] teor2345 commented on #3263
I got a panic in this code, so I'm re-opening this ticket.

I'll add the panic info to the ticket, and the details in a comment.

[2022-06-27 07:21] teor2345 commented on #3263
Here is the panic I saw recently:

[code]

It looks like it might have been triggered by switching to another chain fork.

Here are the detailed logs:

<details>

[code]

</details>

[2022-06-27 07:37] teor2345 commented on #970
We did something like this in PR #4694 - we log the current network upgrade in progress logs.
(But we don't log on the first block that activates the network upgrade.)

[2022-06-27 08:25] teor2345 commented on #4632
Is the `zcashd` limit in bytes or UTF-8 characters?

Zebra's is in UTF-8 characters right now, because that's how Rust counts things.

[2022-06-27 21:43] ftm1000 commented on #3263
ticket to be split and re-estimated.

[2022-06-27 23:16] oxarbitrage commented on #4632
I just removed the entire from code:

[code]

And zebra compiles. This means this code is not used at all at the moment. May lower the priority of this PR and some testings we wanted to do.

[2022-06-28 00:36] #4665 closed, assigned to upbqdn

[2022-06-28 00:59] teor2345 commented on #4632
Thanks, I made ticket #4633 optional priority.

[2022-06-28 05:55] teor2345 commented on #2653
PR #4710 fixes part of this ticket, but only for a single workflow

[2022-06-28 06:07] teor2345 opened #4715 "Add more backpressure from full validation to syncing"
## Motivation

When Zebra's full validation slows down:
- it uses a lot of RAM and CPU verifying blocks
- any extra verifications are slower because RAM or CPU is fully used
- the syncer keeps downloading and queueing large numbers of blocks for verification, taking more RAM
- when blocks timeout, any uncommitted blocks get cancelled, and they have to be downloaded and verified again

We've partia

[2022-06-28 10:59] daira opened #4716 "Projects that rely on BOSL exceptions should say that they do"
This is important licensing information since it affects how those projects can be forked.

* `zcash_script` depends on `orchard` via `zcash_primitives`:
  * https://github.com/ZcashFoundation/zcash_script/blob/c9fbc441efd78593ba6a9828be45baf2d6469757/Cargo.toml#L57-L58
  * https://github.com/ZcashFoundation/zcash_script/issues/36
* `zcash_chain` depends on `orchard` directly and via `zcash_primit

[2022-06-28 16:15] dconnolly commented on #4672
Looking at the changes in https://github.com/zcash/orchard/pull/338/files, we will probably pull in `halo2_proofs::plonk::BatchVerifier` and slot that into our `tower::Service`

[2022-06-28 22:15] #1617 closed, assigned to nobody

[2022-06-28 22:15] #4549 closed, assigned to teor2345

[2022-06-29 03:02] teor2345 commented on #4715
The halo2 verification performance improvements in PR #4699, and the updated checkpoints in PR #4708 really helped.

CPU and RAM usage are mostly normal, but they occasionally double. There was one block that took a minute to verify, but most of the time verification happens smoothly.

So this change is optional at the moment.

[2022-06-29 03:13] teor2345 commented on #4715
Actually, I just saw a pretty bad stall.

There were multiple sync failures, with 5 minute gaps between verified blocks, using 10.3 GB RAM and 15 full CPUs.

So I think this might actually be a high priority.

[2022-06-29 04:39] teor2345 commented on #4715
This bug was blocking my other tasks, so I ended up doing a rough fix.

[2022-06-29 17:00] conradoplg commented on #4715
To be clear AFAIK #4699 doesn't directly speed up halo2 verification, we now need to actually support batched verification

[2022-06-29 17:06] conradoplg commented on #4715
Ah nevermind, there was indeed a ~15% improvement in single verification (though we can still improve it a lot by supporting batching)

[2022-06-29 17:14] #4651 closed, assigned to teor2345

[2022-06-29 21:58] #4632 closed, assigned to oxarbitrage

[2022-06-30 08:30] teor2345 commented on #4684
PR #4726 changes the config format, so we should do this test soon.

We're currently testing the old and new formats.
The _next_ config format change after #4726 needs this test before it merges.

[2022-06-30 10:33] #4661 closed, assigned to teor2345

[2022-06-30 21:03] teor2345 commented on #3263
I think I might have found another instance of this bug, but it results in a syncer hang, not a panic.

The logs look like:
[code]

Here are the full logs from the start of the hang:

<details>

[code]

</details>

[2022-06-30 21:11] teor2345 commented on #4603
I think this is a feature of our current tests, not a bug in those tests. We should be making Zebra work well with the current network conditions, whatever they happen to be.

I was planning on talking about the recent Zebra sync issues next week at the retrospective. I'm hoping we can work out some next steps then.

Can we use the ECC's "testnet in a box"?
They already have one, but I'm not sure

[2022-06-30 21:17] teor2345 commented on #4603
If we decide to do this task, I'd like to split it up before we start work on it.
We could make this ticket into a tracking issue?

This task will need either:
- a `zcashd` cached state, or
- changes to `zebrad` to get it to ignore gossipped peer addresses.

We also need to decide on a test harness. If we're using the `zebrad` Rust acceptance test harness, that needs a separate ticket.

Can we mak

[2022-06-30 22:47] teor2345 commented on #4600
I just re-enabled all these branch protection rules.

[2022-06-30 22:47] #4600 closed, assigned to nobody

[2022-06-30 23:11] teor2345 opened #4728 "Log "batch verification receiver lagged" at info level"
## Motivation

This error-level log is alarming to users, but there's nothing the user can do about it:

https://github.com/ZcashFoundation/zebra/runs/7135923149?check_suite_focus=true#step:6:644

Each batch verifier has a separate instance of this log, they all need to be fixed.

[2022-06-30 23:14] teor2345 opened #4729 "Stop batch verification lagging and failing entire batches"
## Motivation

The batch verifier can lag and fail entire blocks, even if the proofs and signatures are valid. We should re-design it so it can't lag.

If we can't do that, the dropped verifications should fail immediately, rather than waiting for the block verification timeout:

[code]

https://github.com/ZcashFoundation/zebra/runs/7135923149?check_suite_focus=true#step:6:644

## Designs

We can

[2022-07-04 00:20] teor2345 commented on #3263
I saw another instance of the same panic today.

There was no chain fork, so it seems like it is just caused by inbound service overload.

[2022-07-04 02:30] teor2345 opened #4733 "Return connection errors from the heartbeat task to the `Client`"
## Motivation

We're seeing  "failed servers must set their error slot" panics when Zebra is overloaded.

This panic is caused by the design of the `Client` connection code. Currently, the `Client` tasks share an `ErrorSlot` mutex, which must be updated before they exit.

This ticket stops using the error slot in the heartbeat task.

### Designs

Instead of using the error slot, `Client` tasks sho

[2022-07-04 02:34] teor2345 opened #4734 "Return errors from `Connection` methods to the `Client`"
## Motivation

We're seeing  "failed servers must set their error slot" panics when Zebra is overloaded.

This panic is caused by the design of the `Client` connection code. Currently, the `Client` tasks share an `ErrorSlot` mutex, which must be updated before they exit.

This ticket stops using the error slot in the `Connection` task.

### Designs

Instead of using the error slot, `Client` tasks

[2022-07-04 02:44] teor2345 opened #4735 "Remove the `ErrorSlot` type"
## Motivation

We're seeing  "failed servers must set their error slot" panics when Zebra is overloaded.

This panic is caused by the design of the `Client` connection code. Currently, the `Client` tasks share an `ErrorSlot` mutex, which must be updated before they exit.

This ticket removes the `ErrorSlot` type, after we stop using it:
- #4733
- #4734

### Designs

Remove the `ErrorSlot` type, an

[2022-07-04 02:51] teor2345 opened #4736 "Stop panicking in `MustUseOneshotSender`, send an error instead"
## Motivation

In `MustUseOneshotSender`, Zebra panics when `ClientRequest`s don't get answered by the connection code.

Sometimes that's a bug in Zebra, but sometimes it happens during shutdown anyway.
So we don't want to panic when there is no response.

### Designs

Stop panicking in `MustUseOneshotSender`:
- make dropped `ClientRequest`s send an error response on the request sender, instead of

[2022-07-04 02:56] teor2345 opened #4737 "Return detailed error information from the heartbeat task"
## Motivation

In ticket #4733, we change how we handle errors in the heartbeat task.

We could return more detailed errors, to make it easier to diagnose network problems.

#### Scheduling

This ticket is optional, unless it is needed for #4733.

### Designs

We could try something like this:
(click for details)

<details>

Return detailed error information from the heartbeat task:
- if the heart

[2022-07-04 04:21] teor2345 opened #4738 "Check for `Worker` panics in `tower_batch::Batch`"
## Motivation

In `Batch::new()`, we spawn a `Worker` task, but drop its `JoinHandle`:
https://github.com/ZcashFoundation/zebra/blob/32faa94fb4151c9dfb7d5efcbee3fd2c1afd4c96/tower-batch/src/service.rs#L69

This means it can panic, and Zebra just continues as if nothing happened. This can create or hide all kinds of bugs, including consensus rule failures.

### Designs

We can check the `JoinHandle

[2022-07-04 06:43] teor2345 opened #4740 "Run groth16, ed25519, and redjubjub batches on a blocking thread"
## Motivation

In PR #4726, we moved Orchard batches to a blocking thread, to resolve a serious verifier hang bug.

We should do the same thing with the other batch verifiers:
- [ ] groth16 batch flush and verify single
- [ ] ed25519 batch flush and verify single
- [ ] redjubjub batch flush and verify single

### Tokio Docs

CPU-intensive tasks should be run on a blocking thread, so they don't sto

[2022-07-04 14:58] upbqdn commented on #4150
This issue is resolved by PR #4639. I used the string `Addresses #4150` in the description of the PR, but GitHub apparently didn't recognize it and didn't automatically close this issue. It turns out one has to use one of these keywords in order to trigger the automatic closing:
[code]

[2022-07-04 14:58] #4150 closed, assigned to upbqdn

[2022-07-04 20:56] teor2345 opened #4747 "Mini-Epic: Stop tokio tasks running for a long time and blocking other tasks"
## Motivation

At the moment, Zebra can't sync all the way to the tip, because some tokio tasks run for a long time, and block other tasks.
(It's also possible there are some deadlocks, livelocks, or missed task exits.)

We should discover the specific bugs using `tokio-console`, and then open a ticket for each one.

## Tasks

### Issues that need investigation

- [x] #4583
- [x] #4823 and then sp

[2022-07-04 20:57] teor2345 commented on #4677
Some of these bugs might be fixed by:
- #4747

[2022-07-04 22:58] teor2345 commented on #4581
I've had a look at all the lost wakers, and they seem pretty harmless.

If we're just dropping wakers for handshakes we're not using any more, that's probably a task cleanup bug. And we make new handshakes as needed anyway.

[2022-07-04 23:00] teor2345 commented on #4581
The warning might also be incorrect or confusing, I'm still seeing the poll number for those tasks going up, even after the lost waker warning.

But handshakes should only last for 4 seconds, so there's definitely a bug here.

[2022-07-05 16:50] gustavovalverde opened #4751 "ci: Add missing CI/CD status labels to README.md"
## Motivation

We have a bunch of extra checks since the last time a status label was added to the README.md, adding this status labels will help us understand better the status of each run and give us a glimpse of the overall status.

### Designs
- Add a label for syncs
- Add a label for CI
- Add a label for CD
- Add a label for linting

[2022-07-06 00:39] teor2345 commented on #4733
Here's the code we need to return an error from:
https://github.com/ZcashFoundation/zebra/blob/42ef8846b34887ecd3635202451d75819e2994db/zebra-network/src/peer/handshake.rs#L1098-L1117

[2022-07-06 00:52] teor2345 commented on #4737
Turns out this issue has already been fixed, the heartbeat task has detailed error info internally, and #4733 will return that info.

[2022-07-06 00:52] #4737 closed, assigned to nobody

[2022-07-06 01:49] gustavovalverde opened #4753 "ci: Split deploy-gcp-tests workflow into multiple categories"
## Motivation

We might get into scenarios were we'd like to disable specific CI tests categories, for example:
- lightwalletd syncs
- zebra syncs
OR
- syncs with cached state
- syncs without cached state

As of know, a single workflow is also harder to understand as it has multiple dependencies and relations
<img width="1492" alt="image" src="https://user-images.githubusercontent.com/16890942/177

[2022-07-06 14:13] #4715 closed, assigned to teor2345

[2022-07-06 14:13] #4650 closed, assigned to nobody

[2022-07-06 14:13] #4729 closed, assigned to teor2345

[2022-07-07 07:02] teor2345 commented on #4728
This is fixed in #4750 by removing the channel that lags.

[2022-07-07 22:06] teor2345 commented on #2320
We can re-open this when we have important benchmarks we want to run in CI.

[2022-07-07 22:06] #2320 closed, assigned to gustavovalverde

[2022-07-07 22:06] teor2345 commented on #2348
We can re-open this when we have important benchmarks we want to run in CI.

[2022-07-07 22:11] teor2345 commented on #3432
We want to check this all got done, then close it.

[2022-07-08 21:09] upbqdn opened #4766 "Store note commitment trees in `Arc`s in the non-finalized state"
This is a part of #3757.

Storing note commitment trees in `Arc`s saves memory and makes cloning cheaper.

[2022-07-10 21:27] teor2345 commented on #3263
I'm seeing panics in this code every few days now.

[2022-07-11 02:00] teor2345 opened #4767 "Remove duplicate `orchard` crates, change dependencies to `zcash/librustzcash`"
## Motivation

We're currently compiling 3 different versions of the `orchard` crates into Zebra:

[code]

Since we're having some trouble with slow syncs, we want to be using the latest version of `halo2` in all our code.

## Tasks

Change dependencies:
- Change our `ZcashFoundation/librustzcash` dependency to `zcash/librustzcash`, either using the `main` branch, or a release after https://github

[2022-07-11 02:01] teor2345 commented on #4767
@conradoplg I think you were the last person to update these dependencies, did we deliberately allow duplicates?

[2022-07-11 12:25] dougdonohoe commented on #4234
FYI to other internet seekers: I stumbled across this issue because I'm seeing a similar issue on GCP Cloud Build pushing to GCP Artifact Registry when the build is longer than an hour. I filed https://github.com/docker/buildx/issues/1205 with the details.

There is a workaround (build without --push, stop builder, build again). Full details with reproducible example can be found at [dougdonohoe/b

[2022-07-11 14:11] conradoplg commented on #4767
This was blocked by zcashd dependencies being updated, but 5.1.0 was released 3 days ago, we can now update zcash_script and remove these

https://github.com/ZcashFoundation/zebra/blob/c4f89ed2e1942fe9c484d574f8a66df8e49953bb/deny.toml#L34-L38

The last one is caused by our zcash_proofs fork IIRC

[2022-07-11 21:49] teor2345 commented on #1963
@ftm1000 here's the release binaries ticket.

[2022-07-11 22:11] gustavovalverde commented on #4234
@dougdonohoe if it helps you, OIDC tokens expire after an hour...so you'll end up with an expired token when the push is happening. Our workaround was increasing this limit for OAuth tokens

Here's the specific change we applied to fix this https://github.com/ZcashFoundation/zebra/pull/4370/files#diff-5b40193e09025fd041de92d38c976d0b469e3ee85bef45a71d05d8b5078b1ee8R91

[2022-07-11 23:06] dougdonohoe commented on #4234
Thanks @gustavovalverde - I did see your fix.  I haven't found a similar way to extend timeouts in GCP Cloud Build yet, but I'm looking for it and am asking Google for help too.

[2022-07-12 02:10] teor2345 commented on #4581
This appears to be a known bug in tokio-console, related to tasks spawning other tasks:
https://github.com/tokio-rs/console/issues/345

[2022-07-12 02:10] #4581 closed, assigned to teor2345

[2022-07-12 22:08] dconnolly opened #4774 "Add an NU5 block test vector that contains many shielded Orchard transactions"
## Motivation

When blocks started showing up on mainnet after NU5 with many shielded Orchard transactions, we observed aberrant zebrad verification behavior that helped us identify some [bugs](https://github.com/ZcashFoundation/zebra/pull/4752) already. We should include these blocks (at least one) as test vectors.

## Related Work

#4775

[2022-07-12 22:11] dconnolly opened #4775 "Add an NU5 block test vector that contains many shielded Sapling transactions"
## Motivation

When blocks started showing up on mainnet after NU5 with many shielded Sapling transactions, we observed aberrant zebrad verification behavior. For similar blocks with many Orchard transactions, we identified some [bugs](https://github.com/ZcashFoundation/zebra/pull/4752) already. We should include these blocks (at least one) as test vectors.

## Related Work

https://github.com/Zca

[2022-07-12 23:01] str4d commented on #4774
I wrote a script for generating (most of) the necessary data to benchmark verification of specific heavy blocks (the heaviest I could find at their respective times) using a mainnet `zcashd`, which we use to avoid checking in a large amount of data that is only used for performance benchmarks. The script collects the noted blocks and their transparent inputs (in `zcashd`'s coins LevelDB format), a

[2022-07-13 22:51] teor2345 commented on #4583
Currently we've seen these blocking tasks:
- state writes (CommitBlock and CommitFinalizedBlock), waiting on file access, needs to be put in `tokio::spawn_blocking()`
  - this might also have some CPU-bound tasks in it

[2022-07-14 00:34] teor2345 opened #4778 "Replace old release criteria with stable release candidate criteria in docs"
## Motivation

We need to update our release docs.

## Tasks

- Replace alpha and beta release criteria (doc and README) with stable release candidate criteria (see #3096)

[2022-07-14 01:40] teor2345 opened #4779 "Move zebra-state writes to blocking threads"
## Motivation

`zebra-state` is taking a long time to finish writing blocks, and sometimes hangs completely.
This most often happens in CI.

You can see a bunch of hangs and really slow syncs in this run from PR #4776, even during checkpoint syncing:
https://github.com/ZcashFoundation/zebra/runs/7330216995?check_suite_focus=true#step:6:404

## Tasks

- See if PR #4757 helps
- Move database writes

[2022-07-14 18:52] madars opened #4781 "zebrad panics when an inbound network request fails"
# Analysis and Suggested Fix

See https://github.com/ZcashFoundation/zebra/issues/4781#issuecomment-1185037404

# Bug Report

After a few days of running, including being at the tip of the blockchain a lot of the time, my zebrad instance crashed and generated this auto-report:

## Error
[code]

## Metadata
|key|value|
|--|--|
|**version**|1.0.0-beta.12+15.gf7889ac|
|**Zcash network**|Mainnet|
|**s

[2022-07-14 23:57] teor2345 commented on #4781
@madars thanks for this bug report, can you send us a copy of the `zebrad` logs that happened before the crash?

It's ok if you don't have them. I think we can fix this bug, but it would be nice to know why it happened.

[2022-07-15 00:02] teor2345 commented on #4781
Analysis:

When an error happened on an inbound peer request, `zebrad` panicked in `close_and_flush_next()`:
https://github.com/ZcashFoundation/zebra/blob/0e06c11ff098874415a5f3a1ab3a3bea2d580e1e/zebra-network/src/peer/client.rs#L208-L216

This panic happens because [`futures::channel::mpsc::Receiver::try_next()`](https://docs.rs/futures/latest/futures/channel/mpsc/struct.Receiver.html#method.try_

[2022-07-15 00:39] #4766 closed, assigned to upbqdn

[2022-07-15 03:25] madars commented on #4781
@teor2345 I unfortunately don't have the console output so unless there is a log file somewhere, I don't have them. (The `.log` files in `state/v25/mainnet/` are for the DB right?) For future reference, what is the recommended practice to run zebrad with logging? Should I just pipe its output in `tee` or similar?

[2022-07-17 14:59] oxarbitrage opened #4783 "Avoid calling `find_group_hash` with every new `ValueCommitment`"
`verify_sapling_shielded_data` is a hot task in Zebra when we have too many sapling transactions. Any improvements we can make there can help the sync performance.

There is one potential improvement we can make here:
https://github.com/ZcashFoundation/zebra/blob/main/zebra-chain/src/sapling/commitment.rs#L283-L286

There are two things we need to discuss first:

1 - If we don't generate these poi

[2022-07-17 22:41] #4728 closed, assigned to teor2345

[2022-07-17 22:41] #4738 closed, assigned to teor2345

[2022-07-17 22:41] #4740 closed, assigned to teor2345

[2022-07-17 22:50] teor2345 commented on #4781
Yes, that's a RocksDB log file.

@madars that's what I do.

You might also want to use the [tracing.force_color](https://doc.zebra.zfnd.org/zebrad/config/struct.TracingSection.html#structfield.force_use_color) option to get color output to your terminal.

Or there's the `use_journald` option, if you'd prefer to use `systemd` logging.

[2022-07-17 22:53] #4781 closed, assigned to oxarbitrage

[2022-07-17 23:28] upbqdn opened #4784 "Store only the first tree state in each series of identical tree states"
Storing only the first tree state in each identical series of tree states saves memory, and makes `Chain` cloning cheaper.

### Possible Implementation

We can access the deduped trees using:

Non-finalized state:
[code]

Finalized state (reading is implemented, writing new blocks and updating cached blocks is not):
[code]
### Performance

This needs a full sync performance test:

https://github.c

[2022-07-18 01:17] teor2345 commented on #4583
CPU profiles seem to show these functions are the busiest.
(I listed functions with CPU over 10%, including children, in approximate order.)

This CPU-bound work shouldn't be running in `tokio` futures. It needs to be moved to the `rayon` CPU thread pool, inside blocking `tokio` threads.

We mainly saw issues with `jubjub` cryptography, but the same issue can happen with Orchard-heavy blocks and `

[2022-07-18 02:33] teor2345 commented on #1924
This is a low priority because `zcashd` ignores this field.

[2022-07-18 16:34] conradoplg commented on #4783
1 - They could be globals created with `lazy_static`. Not sure if adding to the transaction verifier would require passing them too much around, if not then that's good too

2 - They are deterministic, the documentation is a bit misleading (the points generated follow a random distribution, but the same input generates the same output)

[2022-07-18 16:35] dconnolly commented on #4783
Agreed, I would start with a `lazy_static` in that module and then re-profile

[2022-07-18 16:36] dconnolly commented on #4783
Also we can tweak the rustdoc

[2022-07-18 19:27] oxarbitrage commented on #4783
`lazy_static` seems easier at least to get started. Thank you both. I can work on this however i will like @teor2345  or @ftm1000 to let us know if it is ok to work on this now or later.

[2022-07-18 20:52] gustavovalverde commented on #4546
We'll be notifying this instead of "fixing" it, as we have to change the way we deploy, and Google Instance Groups are not flexible enough to accomplish this. I'll be tracking this as a general implementation for infrastructure.

[2022-07-18 20:52] #4546 closed, assigned to nobody

[2022-07-18 21:30] teor2345 opened #4787 "Move network transaction deserialization to a dedicated blocking and CPU-heavy thread"
## Motivation

Zebra's sync can be slow or fail, because transaction deserialization involves some CPU-heavy cryptography.

So we want to move transaction deserialization into a `rayon` CPU thread pool `scope`.

### API Reference

Blocking threads:
https://docs.rs/tokio/latest/tokio/task/fn.spawn_blocking.html

CPU-heavy threads:
https://docs.rs/rayon/latest/rayon/fn.scope_fifo.html

### Detailed

[2022-07-18 21:32] teor2345 opened #4788 "Move database block and transaction fetches to a dedicated blocking and CPU-heavy thread"
## Motivation

Zebra's sync can be slow or fail, because transaction deserialization involves some CPU-heavy cryptography.

So we want to move transaction deserialization into a `rayon` CPU thread pool `scope`.

### API Reference

Blocking threads:
https://docs.rs/tokio/latest/tokio/task/fn.spawn_blocking.html

CPU-heavy threads:
https://docs.rs/rayon/latest/rayon/fn.scope_fifo.html

### Detailed

[2022-07-18 21:33] teor2345 opened #4789 "Move CPU-heavy proof preparation into the batch cryptography thread"
## Motivation

Zebra's sync can be slow or fail, because proof batch preparation involves some CPU-heavy cryptography.

So we want to move proof preparation into the existing batch `rayon` CPU thread pool `scope`.

### API Reference

Blocking threads:
https://docs.rs/tokio/latest/tokio/task/fn.spawn_blocking.html

CPU-heavy threads:
https://docs.rs/rayon/latest/rayon/fn.scope_fifo.html

### Detail

[2022-07-18 21:35] teor2345 opened #4790 "Move note commitment tree updates to a dedicated blocking and CPU-heavy thread"
## Motivation

Zebra's sync can be slow or fail, because note commitment tree updates involve some CPU-heavy cryptography.

So we want to move note commitment tree updates into a `rayon` CPU thread pool `scope`.

### API Reference

Blocking threads:
https://docs.rs/tokio/latest/tokio/task/fn.spawn_blocking.html

CPU-heavy threads:
https://docs.rs/rayon/latest/rayon/fn.scope_fifo.html

### Detailed

[2022-07-18 21:53] dconnolly commented on #4790
Calls to `append()` may be wrapped up into `rayon` threads

https://github.com/ZcashFoundation/zebra/blob/81727d7df0ee57e6d4f2172c287e52e414c4e6a0/zebra-chain/src/orchard/tree.rs#L305

[2022-07-18 21:59] teor2345 commented on #4790
It might be more efficient to wrap the entire function that calls `append()`/`root()` in `rayon`, to minimise the cost of scheduling `tokio` and `rayon` threads.

[2022-07-18 22:18] dconnolly commented on #4583
We can probably wrap up this call by doing the `batch.queue()` in a `rayon` thread, as I think that's the thing that requires `groth16::DescriptionWrapper::try_from()`:
https://github.com/ZcashFoundation/zebra/blob/81727d7df0ee57e6d4f2172c287e52e414c4e6a0/zebra-consensus/src/primitives/groth16.rs#L484

Yep we probably can wrap up all write calls to the `Frontier` in a blocking `rayon` thread call

[2022-07-18 23:00] teor2345 commented on #4583
It's more efficient to wrap the highest-level call that includes all the CPU-heavy code.

And every `rayon` thread needs to be wrapped in a `tokio::spawn_blocking()` thread - it's often easier to do them together.

[2022-07-19 02:02] teor2345 commented on #4790
I assigned this to myself, because I need to do it to test PR #4199.

[2022-07-19 13:56] conradoplg commented on #4789
Note that we wanted to move proof decoding inside tx deserialization: https://github.com/ZcashFoundation/zebra/issues/3179

I don't think this changes anything since the proposed approach in this ticket is probably easier, but I thought it was worth it pointing out (i.e. another solution would be to do #3179, and move the entire deserialization to a thread, which I think we'll do anyway in another

[2022-07-19 17:28] upbqdn commented on #4789
Good point @conradoplg. I can take this ticket, but if we move the proof preparation to `rayon`, shouldn't we still keep in mind that we should use `bellman::Proof` in `Groth16Proof` instead of a byte array?

[2022-07-19 17:36] conradoplg commented on #4789
Yep we need to decide which approach to use:

- Leave the byte array, and decode inside the batch verifier, as suggested in the ticket
- Replace the byte array, such that the decoding happens when deserializing, and then https://github.com/ZcashFoundation/zebra/issues/4787 will automatically solve this issue. The downside is that replacing the array requires a lot of changes (not _that_ much, but

[2022-07-19 18:01] upbqdn commented on #4789
I think I'd lean towards the second option in terms of future maintenance since it seems a bit cleaner.

[2022-07-19 21:23] teor2345 opened #4794 "Revert note commitment and history trees when forking non-finalized chains"
## Motivation

When Zebra forks a non-finalized chain, it rebuilds the note commitment trees from the finalized tip.
But this can execute 100 blocks worth of note commitment tree updates, which uses a lot of CPU.

This change is a high priority for miners. They are unlikely to use Zebra unless it is fixed, because it prevents them mining 1-2 blocks after each chain fork.

We're seeing rebuild time

[2022-07-19 23:28] teor2345 commented on #4789
I'd be interested in comparing the performance differences between the two different options.

I think at the moment we're looking for a quick fix, so we can re-test Zebra sync, and find any bugs or excessive CPU usage.

[2022-07-20 07:06] daira commented on #4789
I'd be happy to change https://github.com/zcash-hackworks/zcash-test-vectors/ to generate structurally valid (but still unverifiable) Groth16 proofs, which seems to be one of the main blockers for #3179. I won't have time to do this before Zcon, though.

[2022-07-20 14:26] conradoplg commented on #4794
Note that it's non-trivial to remove nodes from a `Frontier` (at least I couldn't figure it out quickly when I tried). But since we store the trees for each height now, we can just start from the fork point and add the new nodes.

[2022-07-20 21:00] teor2345 commented on #4794
We're seeing rebuild times of around 75 seconds, which is way too long:

So this is a high priority.

[2022-07-20 23:00] teor2345 commented on #4784
This is important to do eventually because large blocks take up more space on disk. But we don't need to do it any time soon.

[2022-07-20 23:01] teor2345 commented on #4789
Right now, we need to do the quick fix of moving proof decoding into the batch `rayon` threads.

After Zebra is syncing correctly, we can explore cleanup/simplification tasks like #3179.

[2022-07-21 23:14] #4787 closed, assigned to oxarbitrage

[2022-07-21 23:15] #1924 closed, assigned to nobody

[2022-07-21 23:16] #4779 closed, assigned to teor2345

[2022-07-21 23:16] #4790 closed, assigned to teor2345

[2022-07-21 23:17] #4783 closed, assigned to oxarbitrage

[2022-07-22 14:05] upbqdn commented on #4794
I think `Frontier` doesn't support that operation at all.

[2022-07-22 16:23] #4448 closed, assigned to nobody

[2022-07-22 16:25] #4733 closed, assigned to oxarbitrage

[2022-07-24 21:29] teor2345 opened #4814 "Require the `zebrad_update_sync()` test to merge to the `main` branch"
## Motivation

In PR #4813, we added a new test to CI.

When that test passes and is stable, we should require it to merge to `main`.

[2022-07-24 21:56] teor2345 commented on #4789
We're also seeing stalls during checkpoint verification, which doesn't use the batch verifier code.
So we might want to review the priority of this ticket.

We could check how much time proof preparation is actually taking?
I'll try to open a PR with some easy-to-use functions today.

[2022-07-25 21:58] gustavovalverde opened #4818 "docs(release): Tier policies summary in the Supported platforms docs might be confusing"
## Motivation

The summary text for Tiers in [Supported Platforms](https://github.com/ZcashFoundation/zebra/blob/main/book/src/user/supported-platforms.md) might be confusing, taking into consideration an actual summary from [Target Tier Policies](https://github.com/ZcashFoundation/zebra/blob/main/book/src/user/target-tier-policies.md)

[2022-07-25 22:11] teor2345 opened #4819 "Fix unstable mempool_transaction_expiration test due to concurrency"
## Motivation

The `zebrad::components::inbound::tests::fake_peer_set::mempool_transaction_expiration` test fails occasionally due to concurrent requests.

### Test Logs

[code]
https://github.com/ZcashFoundation/zebra/runs/7492879238?check_suite_focus=true#step:3:7049

### Tasks

Fix the test so both requests are allowed in either order.

## Related Work

Failed in PR #4813

[2022-07-25 22:18] teor2345 opened #4820 "Fix `lightwalletd` test hangs by checking process output in dedicated threads"
## Motivation

Sometimes `lightwalletd` hangs, but we make the Zebra integration test pass anyway.

When this happens, we update the `lightwalletd` cached state with a small number of blocks, so future tests are slow, or they fail because they don't have enough blocks.

### Alternative Fixes

Fix `lightwalletd` hangs by giving each child process a dedicated test thread to check logs.

_*OR*_

When

[2022-07-25 22:29] teor2345 opened #4821 "Open the database in a blocking tokio thread"
## Motivation

Zebra can take a long time to re-open the database after the initial sync:

We should do this work in a blocking thread, so it doesn't block the rest of the `tokio` executor.

Some RocksDB documentation warns that the first read can also be slow, so we might want to do it in the same blocking call.

### Designs

- Open the database and do the first database read using `tokio::spawn_

[2022-07-25 22:29] teor2345 opened #4822 "Speed up opening the database"
## Motivation

Sometimes Zebra takes over a minute to open the database

## Tasks

Change the database options as recommended in:
https://github.com/facebook/rocksdb/wiki/Speed-Up-DB-Open

[2022-07-25 22:41] teor2345 opened #4823 "Find out which parts of CommitBlock/CommitFinalizedBlock are slow"
## Motivation

We know that `CommitBlock` and `CommitFinalizedBlock` sometimes take 5-90 seconds to run.

We need to find out which parts of them are slow, so we know which code to speed up.

## Tasks

- Add `CodeTimer` logs to each part of `CommitBlock` and `CommitFinalizedBlock`, to find out which parts are slow

These changes might conflict with PR #4721, so we should try to merge that PR first

[2022-07-25 23:13] upbqdn opened #4824 "Send note commitment and history trees from the non-finalized state to the finalized state"
## Motivation

When Zebra commits a finalized block, it re-calculates all the note commitment and history trees. This uses a lot of extra CPU. Zebra also fetches these structures from the database for each block coming from the non-finalized state.

## Related Work

This issue is tracked in #3757.

[2022-07-26 04:55] teor2345 commented on #4767
To make all our dependencies to use the `zcash_proofs` fork, we need to add the same git dependency to all our crates, and add it as a crates.io patch.

[2022-07-26 17:34] conradoplg commented on #4821
I wonder if [some of these suggestions](https://github.com/facebook/rocksdb/wiki/Speed-Up-DB-Open) can also reduce the opening time

[2022-07-26 17:48] oxarbitrage commented on #4821
@conradoplg , there is another ticket to try to apply some of those: https://github.com/ZcashFoundation/zebra/issues/4822

[2022-07-26 19:26] teor2345 commented on #4789
Conrado did some testing, and proof preparation takes 1-25ms.

So we don't need to do this ticket right now, but we should do it eventually, to handle large aggregated Orchard proofs.

@upbqdn how much progress have you made on this ticket so far?
It's ok to finish it off and submit a PR if you want.

[2022-07-26 20:24] teor2345 commented on #4819
This test also failed in PR #4826, so this is an urgent fix.

[2022-07-26 20:33] teor2345 commented on #4819
[code]
https://github.com/ZcashFoundation/zebra/runs/7511927339?check_suite_focus=true#step:3:6826

[2022-07-26 22:59] teor2345 opened #4831 "Revert deserializing state transactions in `rayon` threads"
## Motivation

In PR #4828, we had to increase the `lightwalletd` full sync timeout to 2.5 hours.

This might be a Zebra bug, it looks like all the blocks are slow, not just the recent large blocks.
We could have introduced this bug in PR #4805.

### Things to try

Remove the `rayon` thread from transaction deserialization:
https://github.com/ZcashFoundation/zebra/blob/9b2185ad3d7417bf4bb5a570ad81

[2022-07-26 23:36] upbqdn commented on #4789
I have no implementation ready to be pushed yet.

[2022-07-27 01:16] teor2345 commented on #4789
Feel free to finish it off, or to leave it for now, and move on to something that's more urgent.

[2022-07-27 02:15] #4819 closed, assigned to teor2345

[2022-07-27 02:25] teor2345 opened #4832 "Fix unstable mempool_failed_verification_is_rejected test"
## Motivation

I saw the `mempool_failed_verification_is_rejected` test fail after about 800 test runs, and then again after 52 test runs.

We should fix this eventually.

### Failure Logs

[code]

### Suggested Solution

Analyse the logs, and work out why the test is failing.

[2022-07-27 02:54] teor2345 opened #4834 "Switch zebrad to a non-blocking tracing logger"
## Motivation

Some of our tests might be deadlocking when the log buffers fill up.
This could happen to users as well.

This is a high priority, because it is causing test failures.

### API Reference

https://docs.rs/tracing-appender/0.2.2/tracing_appender/#non-blocking-writer

### Designs

- Use `tracing-appender` to make stdout writes non-blocking
- Use a lossy logger, so we drop any output we

[2022-07-27 15:26] upbqdn opened #4836 "Cache the treestate in the checkpointer and send it to the finalized state"
## Motivation

When the checkpointer commits a block, the finalized state fetches the history tree and note commitment trees from the database, recomputes the trees, and stores them back in the database. This cycle repeats for every block that the checkpointer sends to the finalized state.

A more efficient way would be to cache the trees and stop fetching them each time a block is committed. One

[2022-07-27 15:33] upbqdn opened #4837 "Store history trees by height in the non-finalized state"
## Motivation

In order to implement #4824, the non-finalized state needs to store history trees by their height, so that it can send the history tree corresponding to the root block to the finalized state when committing the root block.

## Related Work

#4824

[2022-07-27 20:33] teor2345 commented on #4295
This made a full/checkpoint sync test fail:
https://github.com/ZcashFoundation/zebra/runs/7535292198?check_suite_focus=true#step:8:70

So I'm marking it as medium priority.

[2022-07-27 21:59] teor2345 commented on #4836
As a quick fix, we could conditionally cache and compute the trees in the finalized state:
- when we're using checkpoints, we cache and compute in the finalized state
- when we stop using checkpoints, we drop the cache and avoid recomputing, because the non-finalized state is doing that work

That way, we only do the work once.

[2022-07-27 22:02] teor2345 commented on #4529
We're getting closer to the release candidate series, so this is a medium priority now.

[2022-07-27 22:04] teor2345 commented on #1638
We're getting closer to the stable release candidate series, so this is a medium priority now.

[2022-07-27 22:52] teor2345 commented on #3757
I think we've finished the urgent parts of this ticket now.

[2022-07-28 21:06] #4820 closed, assigned to teor2345

[2022-07-28 22:10] teor2345 commented on #4814
We merged this PR, and the test seems stable, so I added it to the branch protection rules.

[2022-07-28 22:10] #4814 closed, assigned to teor2345

[2022-07-28 23:58] teor2345 opened #4841 "Improve note commitment tree append performance"
## Motivation

Alfredo and I have been doing some timing tests on Zebra's `CommitBlock` and `CommitFinalizedBlock` state requests.

In some of my tests, Sapling note commitment tree appends were taking multiple seconds to run.
This is probably due to the large number of new Sapling notes in the chain.

We should try to improve performance of this code.

## Suggested Changes

Add benchmarks for:
-

[2022-07-30 20:11] teor2345 opened #4842 "Replace cached state from the same commit, rather than failing the job"
## Motivation

If a cached state job is run twice on the same commit on the same branch, the job fails.

If other required  jobs depend on that cached state job, they are skipped, and the PR won't merge.

https://github.com/ZcashFoundation/zebra/runs/7588987700?check_suite_focus=true#step:8:72

### Suggested Solution

Replace the image, rather than failing the job.

If that's not possible, it's al

[2022-07-30 20:26] teor2345 opened #4845 "Fix unstable fallback_verification test"
## Motivation

I've seen this test fail once:

https://github.com/ZcashFoundation/zebra/runs/7571394634?check_suite_focus=true#step:3:162

### Tasks

Work out why the test is failing, and fix it

[2022-07-30 20:31] teor2345 opened #4846 "Retry failed Google Cloud authentication"
## Motivation

Sometimes Google Cloud authentication fails with:

https://github.com/ZcashFoundation/zebra/runs/7583302770?check_suite_focus=true#step:5:63

### Tasks

If retrying would help, let's do that

[2022-07-31 10:44] teor2345 opened #4847 "Limit the number of transactions sent in the lightwalletd send transaction test"
## Motivation

We need to limit the number of transactions in the send transaction test, so it is less than the queue limit:

https://github.com/ZcashFoundation/zebra/runs/7587005032?check_suite_focus=true#step:6:193

[2022-08-01 03:48] #4847 closed, assigned to teor2345, oxarbitrage

[2022-08-01 09:06] #3869 closed, assigned to nobody

[2022-08-01 19:17] teor2345 commented on #4845
I saw it fail again:
https://github.com/ZcashFoundation/zebra/runs/7608023674?check_suite_focus=true#step:13:689

[2022-08-01 19:37] teor2345 opened #4857 "Limit the number of concurrent Google Cloud jobs"
## Motivation

When we're running a lot of GitHub workflows at the same time, we can hit CPU limits or other quotas in Google Cloud.

For example, one of the limits is 500 CPUs.

## Suggested Fix

- Set the concurrency limit on jobs that use Google Cloud

I think the limit calculation is roughly:
500 quota / 16 CPUs per machine - 4 CD instances = 25 job concurrency limit
500 quota / 16 CPUs per ma

[2022-08-02 16:04] #4845 closed, assigned to nobody

[2022-08-03 01:03] #4751 closed, assigned to nobody

[2022-08-03 06:24] teor2345 opened #4875 "Send the state tip height in Version messages"
## Motivation

Some DNS seeders use the tip height to classify peers, but Zebra always sends a zero height.

For details, see: https://github.com/ZcashFoundation/zebra/pull/4870#issuecomment-1203241525
and
https://github.com/ZcashFoundation/zebra/pull/4870#issuecomment-1204593184

## Design

We should have a `ChainTip` somewhere in the handshaker, we can use it to get the height. (It might be wrap

[2022-08-03 19:08] teor2345 opened #4882 "Add zcash-lightwalletd / Build images to required jobs"
## Motivation

If this job fails because we broke it in a PR, we shouldn't merge the PR.

### Tasks

- [ ] add a patch job that runs when the real job is skipped
- [ ] enable the job in branch protection rules (needs Zebra admin permissions)

[2022-08-03 23:43] #3432 closed, assigned to gustavovalverde

[2022-08-04 04:15] teor2345 commented on #4612
This caused a build failure on the main branch:
- buggy PR: #4786
- fix PR: #4886

So I've set it as a medium priority.
(It's already scheduled for a sprint.)

[2022-08-05 13:58] teor2345 opened #4894 "Make tests wait until lightwalletd full sync goes all the way to the tip"
## Motivation

lightwalletd doesn't reliably log when it reaches the chain tip.

In PR #4828, we added a workaround to the lightwalletd full sync test, which stops at a fixed height near the chain tip. But for tests like #4350, we need to wait until it has actually reached the tip.

### Designs

Make the lightwalletd full sync, update sync, grpc, and send transaction tests wait until lightwalletd

[2022-08-05 17:41] teor2345 commented on #4767
Our `zcash_proofs` fork got merged into `librustzcash`, so we can just use the `zcash/*` dependencies now:
https://github.com/zcash/librustzcash/pull/459

[2022-08-14 21:18] teor2345 opened #4909 "Checkpoint note commitment trees and roots"
## Motivation

Note commitment tree updates are very slow in Zebra right now, causing CI failures and instability, slow syncs, and poor user experience.

We can avoid most of these updates by checkpointing note commitment trees and roots.

### Designs

#### Generating Checkpoints

Make `zebra-checkpoints` generate checkpoint files that store:
- all unique note commitment tree roots, indexed by the

[2022-08-14 21:22] teor2345 commented on #4735
We're making network issues a lower priority for now.

[2022-08-14 21:23] teor2345 commented on #4649
We're making network issues a lower priority for now.

[2022-08-14 21:25] teor2345 commented on #4821
This is something we want to do eventually, but it's not urgent.

[2022-08-14 21:29] teor2345 commented on #4823
We did this: the note commitment tree updates are the slowest parts.

[2022-08-14 21:29] #4823 closed, assigned to teor2345, oxarbitrage

[2022-08-14 21:30] teor2345 commented on #4672
Note commitment tree updates are slower than proofs, and single-threaded, so they are a higher priority than orchard batching.

[2022-08-14 21:31] teor2345 commented on #4734
We're lowering the priority of network issues at the moment.

[2022-08-14 21:32] teor2345 commented on #4583
We've done enough on this for now, it's the note commitment trees.

[2022-08-14 21:32] #4583 closed, assigned to nobody

[2022-08-15 02:09] teor2345 opened #4910 "Quick fix for sync test timeouts in CI"
## Motivation

Some of Zebra's sync tests are currently failing in CI on the main branch and other PRs.

### Possible Solutions

- increase the test timeouts
- update the Zebra checkpoints

We have other open tickets that will fix these performance issues, but we need a quick fix so we can continue working on them.

These failures block almost every `zebrad` and Zebra DevOps task in this sprint.

[2022-08-18 01:19] oxarbitrage commented on #4910
There is an additional problem in the CI related to clippy and the last version of it https://github.com/ZcashFoundation/zebra/pull/4918/checks?check_run_id=7885954690

It seems the problem is in the `prost` crate. Here someone tries to fix it but didn't worked out: https://github.com/tokio-rs/prost/pull/704
I think they ended up removing clippy at https://github.com/tokio-rs/prost/pull/702 howeve

[2022-08-21 22:20] teor2345 commented on #4619
I have some branches for this, but it was very slow.

If we implement #4909 it should be much faster.

[2022-08-22 00:02] teor2345 commented on #4836
Obsoleted by #4909, which makes Zebra read the note commitment roots and trees from a checkpoint file.

[2022-08-22 00:02] #4836 closed, assigned to nobody

[2022-08-22 09:02] teor2345 commented on #4910
They gave up on making clippy pass in their CI, which pushes the work onto downstream users.

But we still want clippy to pass in our CI, so I'll open a PR to fix it tomorrow.
(This is a different bug to CI timeouts, so it should get a different PR.)

[2022-08-22 09:03] teor2345 opened #4921 "Fix clippy warnings in generated prost code"
## Motivation

CI fails with clippy warnings in generated gRPC code.

## Background

They gave up on making clippy pass in their CI, which pushes the work onto downstream users.

But we still want clippy to pass in our CI, so I'll open a PR to fix it tomorrow.
(This is a different bug to CI timeouts, so it should get a different PR.)

_Originally posted by @teor2345 in https://github.com/ZcashFoun

[2022-08-23 00:02] teor2345 commented on #4921
Fixed by #4927.

[2022-08-23 00:02] #4921 closed, assigned to teor2345

[2022-08-23 00:27] teor2345 opened #4929 "Re-enable beta Rust tests on Ubuntu"
## Motivation

In PR #4930 we disabled beta Rust tests, because the parameter downloads were unstable with beta Rust.

But if this is a Rust miscompilation, we want to test it and fix it before the next Rust stable release on 23 September 2022.

### Tasks

- [ ] Re-enable beta Rust on Ubuntu in https://github.com/ZcashFoundation/zebra/blob/main/.github/workflows/continous-integration-os.yml
- [ ]

[2022-08-23 00:33] teor2345 commented on #1894
This isn't a priority for Zebra right now.

[2022-08-23 00:33] #1894 closed, assigned to nobody

[2022-08-23 00:36] teor2345 commented on #4677
We've made a bunch of fixes to these tests recently, feel free to open a separate ticket for each test that is still failing after we finish the fixes in the next Zebra release.

[2022-08-23 00:36] #4677 closed, assigned to nobody

[2022-08-23 00:38] teor2345 commented on #4753
This is not currently a priority for Zebra.

[2022-08-23 00:39] teor2345 commented on #4784
Performance and disk space usage are not a priority for Zebra right now.

[2022-08-23 00:46] teor2345 commented on #4857
This caused a critical PR #4918 to fail, so it is now a high priority fix:

https://github.com/ZcashFoundation/zebra/runs/7963813194?check_suite_focus=true#step:6:78

[2022-08-23 00:49] teor2345 commented on #4822
Zebra's performance is good enough for now.

[2022-08-23 00:49] #4822 closed, assigned to nobody

[2022-08-23 00:52] teor2345 commented on #1904
This seems to be fixed for now, if we find issues with a specific block explorer or seeder, we can open another ticket with those details.

[2022-08-23 00:52] #1904 closed, assigned to nobody

[2022-08-23 00:53] teor2345 commented on #4591
This test bug does not block any of our release work.

[2022-08-23 00:55] teor2345 commented on #4747
We've made enough performance improvements for now.

[2022-08-23 00:55] #4747 closed, assigned to nobody

[2022-08-23 00:56] teor2345 commented on #4789
It looks like no-one is working on this right now, and we've finished the epic it was a part of.

[2022-08-23 00:57] teor2345 commented on #4794
Zebra's performance is good enough for now.

[2022-08-23 00:58] teor2345 commented on #4821
We might want to do this usability fix some time during the release candidate series, but it's not a blocker.

[2022-08-23 00:59] teor2345 commented on #4837
Zebra's performance is good enough for now, so this is a low priority.

[2022-08-23 01:00] teor2345 commented on #4774
Zebra's performance is good enough for now, so this is a low priority.

[2022-08-23 01:00] teor2345 commented on #4775
Zebra's performance is good enough for now, so this is a low priority.

[2022-08-23 01:02] teor2345 commented on #4824
Zebra's performance is good enough for now, so this is a low priority.

If we can finish it off quickly, that's ok, but we should move on to other tasks soon.

[2022-08-23 01:04] #3757 closed, assigned to nobody

[2022-08-23 01:14] teor2345 commented on #4841
Performance improvements are a low priority for Zebra at the moment.

[2022-08-23 01:41] teor2345 commented on #4909
Performance improvements are a low priority right now.

[2022-08-23 01:42] teor2345 commented on #4672
Performance improvements are a low priority right now.

[2022-08-23 01:55] teor2345 commented on #4778
@oxarbitrage just letting you know that @gustavovalverde is working on some parts of this in PR #4917.

[2022-08-23 01:58] teor2345 commented on #4857
@gustavovalverde just letting you know that I increased the priority of this DevOps fix, because it's causing CI failures on critical Zebra PRs.

[2022-08-23 03:01] upbqdn commented on #4824
I'll finish it this week.

[2022-08-23 03:14] teor2345 commented on #755
This ticket is full of different ideas, which makes it difficult to schedule and prioritise.

Instead, let's open specific tickets for the release automations we need, when we have some experience doing release candidates.

[2022-08-23 03:14] #755 closed, assigned to nobody

[2022-08-23 03:39] teor2345 opened #4932 "Reduce the frequency of Zebra performance logs"
## Motivation

As part of #4747, we added some info-level performance logs to Zebra.

But performance is good enough now, so we can reduce the frequency of those logs.

## Tasks

We could downgrade all the logs to debug level, but it might still be useful to log them for very long tasks.

For example:
- the state can take up to a minute to commit a block, so we want to log that at trace or debug l

[2022-08-23 06:44] teor2345 commented on #4831
I did the minimal version of this change, which was a simple revert of the slower code change.

[2022-08-23 20:15] teor2345 opened #4937 "Tracking: Commit blocks to state using a separate task"
## Motivation

Zebra takes 10-15 minutes to commit some blocks to the state while checkpointing, around blocks 1,718,00 to 1,772,000.

The slow blocks are different on different runs.

This is unacceptable performance, because:
* it's much slower than `zcashd`
* Zebra will appear to hang for 15 minutes, which is a usability and security issue
* it causes warnings in the Zebra logs
* if it's remote

[2022-08-24 00:06] #4910 closed, assigned to oxarbitrage

[2022-08-24 03:49] #4846 closed, assigned to nobody

[2022-08-24 13:30] jackgavigan commented on #1556
Removed the Epic label from this to try making Zenhub tidier.

[2022-08-24 21:24] gustavovalverde opened #4946 "Managed instance groups deployed with continuous deployment can't scale beyond 1 instance per Zone"
## Motivation

This warning is raised when deploying instance groups

[code]

### Designs

- Remove the instance disk name, and allow google to create the disk name
- Delete old instance disks using the name that google creates

## Related Work

None

[2022-08-24 21:33] teor2345 commented on #4946
Do we have any plans for instance groups larger than 1 instance?

[2022-08-24 21:44] teor2345 commented on #2564
PR #4939 removes the git commit from some Google Cloud objects, so this ticket needs to be done soon.

[2022-08-24 22:29] gustavovalverde commented on #4946
We once talked about doing global deployments with multiple nodes (cc: @dconnolly) but I'm not sure how we'd like to prioritize this.

[2022-08-25 06:45] teor2345 commented on #4937
I've run through all this height range, and I can't reproduce this bug locally. On my machine, all blocks commit in under 10 minutes.

I'm guessing that it's caused by running out of disk space, and PR #4945 will fix it.

[2022-08-25 13:09] #4842 closed, assigned to teor2345

[2022-08-25 19:36] teor2345 commented on #4937
I'm still seeing some of these warnings after increasing the disk size to 200 GB, so that wasn't the complete fix:

https://github.com/ZcashFoundation/zebra/runs/8016091142?check_suite_focus=true#step:6:888

[2022-08-25 22:34] teor2345 opened #4953 "Document how to use released Zebra binaries"
## Motivation

We want people to know how to use released Zebra binaries.

## Tasks

Add a short explanation of how to use released Zebra docker binaries to the README.

[2022-08-25 22:39] teor2345 commented on #1963
@gustavovalverde this ticket had a lot of overlap with other tasks that are scheduled later in the release candidate series.

I've updated it to focus on the release process, we can do user instructions in another ticket.

[2022-08-25 22:46] teor2345 commented on #4832
We haven't seen this fail in a long time

[2022-08-25 22:46] #4832 closed, assigned to nobody

[2022-08-25 22:47] teor2345 commented on #4818
I don't know how to schedule this ticket, because I'm not sure what the exact problem is.

Feel free to re-open it with a specific description of what we need to change.

[2022-08-25 22:47] #4818 closed, assigned to nobody

[2022-08-25 22:48] teor2345 commented on #4633
This seems to be fine for now.

[2022-08-25 22:48] #4633 closed, assigned to nobody

[2022-08-25 22:49] teor2345 commented on #4571
This seems to be ok for now.

[2022-08-25 22:49] #4571 closed, assigned to nobody

[2022-08-25 22:51] teor2345 commented on #4464
This doesn't seem to be a priority for the Zebra project right now, but we can re-open it if it becomes one.

[2022-08-25 22:52] teor2345 commented on #4226
This seems to be fine for now

[2022-08-25 22:52] #4226 closed, assigned to nobody

[2022-08-25 22:53] teor2345 commented on #4736
This is a low priority unless it actually causes panics.

[2022-08-25 22:55] teor2345 commented on #4005
We can re-open this if it's ever needed.

[2022-08-25 22:55] #4005 closed, assigned to gustavovalverde

[2022-08-25 22:56] teor2345 commented on #3494
This seems to be fine for now, it's not causing any bugs.

[2022-08-25 22:56] #3494 closed, assigned to nobody

[2022-08-25 22:58] teor2345 commented on #3179
Making this change would increase the cost of serving blocks to peers, because the proofs would be redundantly re-validated when deserializing from the database.

We're already having this performance problem with some curve types.

So I think it's ok for now.

[2022-08-25 22:58] #3179 closed, assigned to nobody

[2022-08-25 23:02] teor2345 commented on #3028
We might also want to consider re-using existing types from the `orchard` and `librustzcash` crates, particularly after they are updated for ZSAs.

[2022-08-25 23:04] teor2345 commented on #2971
It seems like we're getting along fine without this doctest.

[2022-08-25 23:04] #2971 closed, assigned to nobody

[2022-08-25 23:04] teor2345 commented on #2908
We're de-prioritizing network changes, and network-related changes.

[2022-08-25 23:08] teor2345 commented on #1023
Let's open a specific ticket when we actually need a health check endpoint.

[2022-08-25 23:08] #1023 closed, assigned to nobody

[2022-08-25 23:14] teor2345 opened #4954 "Update release checklist PR template for the release candidate series"
## Motivation

When we've worked out how to release Zebra binaries, we need to update our release checklist.

### Tasks

Docker releases:
- [x] Update the release checklist for the new release process (PR #5193)
- [x] Add a "run zebrad" docker command to the README
- [x] Use the same docker command to test the released binaries
       (We already check that the released git tag will build, we also

[2022-08-25 23:28] teor2345 opened #4955 "Make long-running test names match workflow names"
## Motivation

It's hard to diagnose test failures in Zebra, because our Rust tests, environmental variables, and workflow jobs all have different names for the same test.

### Tasks

1. Rename tests that call `deploy-gcp-tests.yml` based on the GitHub actions workflow `test_id`:
- environmental variables in https://github.com/ZcashFoundation/zebra/blob/main/.github/workflows/continous-integration

[2022-08-25 23:38] teor2345 commented on #2313
We've done a documentation triage for the release candidate in #3096.

Documentation tickets should use the doc tag.

[2022-08-25 23:38] #2313 closed, assigned to nobody

[2022-08-25 23:41] teor2345 commented on #2312
We've done the technical debt triage for the release candidate series in #3096.

It's not really helpful to have a "tech debt" tag, because it's very general. Instead, we should tag tickets with a specific reason that we might want to fix them soon.

[2022-08-25 23:41] #2312 closed, assigned to nobody

[2022-08-26 00:05] teor2345 opened #4956 "Make file locations appear in zebrad error messages"
## Motivation

When Zebra's Rust test harness fails in CI, I can't see the file and line in the panic backtrace:
[code]

https://github.com/ZcashFoundation/zebra/runs/7992118921?check_suite_focus=true#step:6:246

This happens in both Docker, and in release builds on my local machine.
[code]

But debug builds on my local machine show the file locations:
[code]

## Tasks

Try adding debugging info t

[2022-08-26 03:28] teor2345 commented on #4937
We might want to try the performance recommendations here:
https://github.com/facebook/rocksdb/wiki/Space-Tuning#block-size

Or:
https://github.com/facebook/rocksdb/wiki/RocksDB-Tuning-Guide#basic-tuning-suggestions

But we need to check what's slow after merging PR #4952.

[2022-08-26 04:26] teor2345 commented on #4946
It's not a blocker for the release candidate, and it's not part of any of our current priorities, so I think it's optional.

[2022-08-26 04:27] teor2345 commented on #4909
We're probably not going to do this any time soon, performance is acceptable for now.

[2022-08-26 04:27] #4909 closed, assigned to nobody

[2022-08-26 04:31] teor2345 commented on #3153
Performance is good enough for now.

[2022-08-26 04:32] teor2345 commented on #2310
Usability priorities should be based on user reports from the release candidate, we can track this using a GitHub tag.

[2022-08-26 04:32] #2310 closed, assigned to nobody

[2022-08-26 04:32] teor2345 commented on #2311
We're tracking these tasks using the Security GitHub tag.

[2022-08-26 04:32] #2311 closed, assigned to nobody

[2022-08-26 04:32] teor2345 commented on #2297
This is not a priority for Zebra right now.

[2022-08-26 04:32] #2297 closed, assigned to oxarbitrage

[2022-08-26 04:33] teor2345 commented on #2153
Network behaviour is good enough for now.

[2022-08-26 04:33] #2153 closed, assigned to nobody

[2022-08-26 04:33] teor2345 commented on #1966
This isn't a priority for Zebra right now.

[2022-08-26 04:33] #1966 closed, assigned to dconnolly

[2022-08-26 04:33] #4841 closed, assigned to nobody

[2022-08-26 04:34] teor2345 commented on #4789
Performance improvements are not a priority for Zebra right now.

[2022-08-26 04:34] #4789 closed, assigned to nobody

[2022-08-26 04:34] teor2345 commented on #4753
We can re-open this ticket when we actually need this change.

[2022-08-26 04:34] #4753 closed, assigned to nobody

[2022-08-26 04:34] #4736 closed, assigned to nobody

[2022-08-26 04:35] #4735 closed, assigned to nobody

[2022-08-26 04:35] #4734 closed, assigned to nobody

[2022-08-26 04:35] teor2345 commented on #4619
We tried this but we don't need it right now, we can re-open it and merge those branches if we need to work with flat files of block data.

[2022-08-26 04:35] #4619 closed, assigned to nobody

[2022-08-26 04:36] teor2345 commented on #4603
This isn't a priority for the current Zebra release candidate, we can re-open it if we need it.

[2022-08-26 04:36] #4603 closed, assigned to nobody

[2022-08-26 18:06] #4652 closed, assigned to gustavovalverde

[2022-08-27 04:53] teor2345 commented on #4649
This might add unwanted load to other nodes, so it's worth fixing.

[2022-08-27 20:16] teor2345 commented on #4295
We fixed long branch names in image names in PR #4962.

We also use these long branch names in instance and disk names, but the other text is much shorter, so they can be 30+ character. If that limit becomes a problem, we can open another ticket to fix the failing usage.

[2022-08-27 21:31] gustavovalverde opened #4964 "ci: If a cached disk image is manually triggered it won't be used by the opened PR"
## Motivation

When triggering a full sync or checkpoint sync from a branch, we might expect that a successful build of the cached disk image would be available for following workflow runs in the same branch (this will mostly be a PR in practice). But this won't happen as the GitHub reference for manual trigger uses the `branch name` and the automatic workflow runs on a PR uses the `PR reference`

[2022-08-27 21:36] gustavovalverde opened #4965 "ci: delete old cached disk images from GCP"
## Motivation

Disk images are being accumulated in GCP for a few years, but this generated unneeded costs as we're not using images older than 1-2 weeks.

### Designs

Even though we could delete images based on a timeframe, we must keep at least the 2 latest images of each type (zebra checkpoint, zebra tip, lwd tip). Once we've excluded those images, we can delete any older images after 1 week.

[2022-08-28 00:49] teor2345 commented on #4964
We don't want to prioritise previous commits from the same PR, because we want to be testing with the output of the current commit.

We've had bugs where the cached state created by previous commits worked, but the current commit was failing. While we can't avoid them entirely due to performance reasons, I don't want to make them more likely.

[2022-08-28 00:49] #4964 closed, assigned to nobody

[2022-08-28 04:50] gustavovalverde commented on #4964
Just to be clear on this one, if you manually trigger a full sync and/or checkpoint sync from a branch/PR, the disk image will just be created but never used afterwards.

We either allow the branch to use this image, which might have the actual commit if a re-run is triggered, or never create it as it won't be used anyways.

[2022-08-28 09:47] #4295 closed, assigned to teor2345

[2022-08-28 12:46] #4562 closed, assigned to gustavovalverde

[2022-08-29 01:06] teor2345 commented on #4857
This has caused failures on multiple critical-priority PRs, so it is now a critical-priority fix:

https://github.com/ZcashFoundation/zebra/runs/8061348032?check_suite_focus=true#step:7:82

[2022-08-29 01:18] teor2345 opened #4976 "Move continuous deployment to another Google Cloud region"
## Motivation

In ticket #4857, we're limiting the number of concurrent workflow runs to avoid CI failures due to Google Cloud CPU quotas.

If we deploy our release and `main` branch instances to another region, that will reduce how much quota we're using in `us-central1`.

### Tasks

- Move managed instance groups to another region, but still in the US for good performance
- Manually delete the o

[2022-08-29 01:45] teor2345 opened #4977 "Only run one full sync on main at a time"
## Motivation

There isn't much point in running multiple Mainnet full syncs on the `main` branch at the same time.

It slows down the Zcash network, costs the Foundation more money, and it doesn't provide much more diagnostic information.

### Designs

We could skip or cancel full syncs if there is already one running on `main`.
(But still run all the dependent jobs, if possible.)

We don't want

[2022-08-29 02:01] teor2345 opened #4978 "Tag Zebra 1.0.0-beta.14 release"
## Motivation

We need to tag the next release, it's been a while since we've done one.

[2022-08-29 02:36] gustavovalverde commented on #4977
What should be an expected scenario with 10 PRs waiting to be merged?
- Running the sync with the first merge and cancelling the following ones
- Waiting for a "merge-cycle" and run the sync with the last merge (every X PRs)
- Allow to trigger it with specific merges (not all PRs/merges need a full sync)

[2022-08-29 04:05] teor2345 commented on #4977
The goals are:
- automatically do a full sync when the `main` branch has changed,
- only have one full sync running on `main` at the same time, and
- don't have a large queue of syncs waiting to run: the latest code is the most important to test.

It is ok to occasionally have two syncs running, if it turns out that is hard to avoid.

Also remember that the GitHub trigger is per-push, not per-PR.

[2022-08-29 04:28] teor2345 commented on #4857
PR #4891 partially fixes this issue by:
- cancelling outdated jobs on a PR when a new commit is pushed
- limiting `main` full syncs to one at a time

[2022-08-29 06:58] #4875 closed, assigned to oxarbitrage

[2022-08-29 06:59] #4837 closed, assigned to upbqdn

[2022-08-29 11:09] gustavovalverde commented on #1785
Reopening as this is still happening when multiple PRs get merged at the same time: https://github.com/ZcashFoundation/zebra/runs/8065354827?check_suite_focus=true#step:7:65

[2022-08-29 22:05] teor2345 opened #4992 "Run cached state CI on testnet"
## Motivation

We want to run cached state CI on testnet in each PR, including a full testnet sync, so we can discover workflow bugs earlier.

## Related Work

This is blocked by #3050, we don't want to make major changes to CI until after the first or second release candidate.

[2022-08-30 00:11] #1785 closed, assigned to gustavovalverde

[2022-08-30 00:11] #4857 closed, assigned to nobody

[2022-08-30 00:11] #4977 closed, assigned to nobody

[2022-08-30 02:39] #4831 closed, assigned to teor2345

[2022-08-30 05:54] teor2345 opened #4999 "Occasional local_listener_fixed_port_localhost_addr_v4 failure"
## Motivation

The `peer_set::initialize::tests::vectors::local_listener_fixed_port_localhost_addr_v4` test failed once on the `main` branch with:

https://github.com/ZcashFoundation/zebra/runs/8063187989?check_suite_focus=true#step:3:2989

## Diagnosis

I tried reproducing this error locally, and the proptest hash didn't fail.

This might be a timing issue, network issue, or cancelled job issue.

[2022-08-30 05:55] teor2345 commented on #4999
There's nothing we can do about this for now, and it's only failed once, so I'm just going to close it.

(I opened this ticket so we'd have a record if it happens again.)

[2022-08-30 16:20] #1621 closed, assigned to arya2

[2022-08-30 23:45] oxarbitrage opened #5010 "Add CI documents to the zebra book sidebar"
When they get "stable" lets add them to the zebra book sidebar index:

https://github.com/ZcashFoundation/zebra/blob/main/book/src/dev/continuous-integration.md
https://github.com/ZcashFoundation/zebra/blob/main/book/src/dev/continous-delivery.md

[2022-08-30 23:45] teor2345 opened #5011 "Tag Zebra 1.0.0-beta.15 release"
## Motivation

Every few weeks we tag a Zebra release.

[2022-08-30 23:48] teor2345 opened #5012 "Run JSON-RPC queries in multiple threads"
## Motivation

ZecWallet Lite have asked us to enable multi-threaded execution in our RPC library.

Before PR #4806, the RPC library shared the same multi-threaded `tokio` executor as the rest of Zebra. #4806 splits the RPC library into into its own executor, but it's single-threaded.

This might be a performance regression, it needs to be fixed before the next Zebra release.

Depends-On: #4806

#

[2022-08-31 05:12] teor2345 opened #5015 "Get transactions from the non-finalized state in the send transactions test"
## Motivation

Currently, the send transactions test is very slow, because it:
- copies the entire Zebra finalized state directory
- syncs to the tip
- gets transactions from the copied finalized state
- runs the test on the old finalized state

This is ok for now, but it might become a problem if the state gets much bigger, or we need to modify that test a lot.

### Designs

Instead, the test cou

[2022-08-31 23:07] ftm1000 opened #5023 "DevOps Ticket Tracker"
DevOps tracker for open issues/tasks tagged with DevOps tag

[2022-09-01 02:22] gustavovalverde commented on #4978
Fixed by https://github.com/ZcashFoundation/zebra/pull/5006

[2022-09-01 02:22] #4978 closed, assigned to upbqdn

[2022-09-02 02:17] teor2345 opened #5043 "Disable rpc_server_spawn_port_conflict* tests on macOS"
## Motivation

PR #5024 failed with an unrelated error on macOS:

https://github.com/ZcashFoundation/zebra/runs/8145694716?check_suite_focus=true#step:13:6250

_Originally posted by @teor2345 in https://github.com/ZcashFoundation/zebra/issues/5024#issuecomment-1234991972_

## Tasks

macOS is a tier 2 platform, so we can just disable this test, like we disabled the other port conflict test on macOS

[2022-09-02 02:20] teor2345 opened #5044 "Fix "The resource is not ready" errors in CI"
## Motivation

We've had multiple PRs fail with:

https://github.com/ZcashFoundation/zebra/runs/8146703881?check_suite_focus=true#step:7:77

_Originally posted by @teor2345 in https://github.com/ZcashFoundation/zebra/issues/5020#issuecomment-1234993941_

## Tasks

- [ ] When selecting images for tests, add a `status: READY` filter
- [ ] When selecting the 2 images to keep, add a `status: READY` fi

[2022-09-02 02:38] teor2345 commented on #4937
It appears that committing blocks hangs because we sometimes commit over 1000 blocks at the same time, then return the result to the state caller (checkpointer or non-finalized state block committer):

https://github.com/ZcashFoundation/zebra/runs/8147047219?check_suite_focus=true#step:6:165

I'll open some new tickets on Monday with alternative fixes, and add them to a list in this ticket.

[2022-09-02 02:40] teor2345 commented on #4932
Fixed by #4997.

[2022-09-02 02:40] #4932 closed, assigned to teor2345

[2022-09-02 07:24] #4767 closed, assigned to conradoplg

[2022-09-02 08:56] #4929 closed, assigned to nobody

[2022-09-04 05:03] #5012 closed, assigned to teor2345

[2022-09-05 00:49] teor2345 opened #5069 "Fix "Connection closed by remote host" error on Google Cloud ssh"
## Motivation

A few different PRs seem to be failing with this error:

https://github.com/ZcashFoundation/zebra/runs/8161163434?check_suite_focus=true#step:7:86

[2022-09-05 00:50] teor2345 commented on #4976
This seems ok for now, we haven't seen these errors in a while.

[2022-09-05 16:02] upbqdn commented on #4937
I got these when I was syncing beta 14:
[code]

And these when I was syncing Zebra with #4721:
[code]
EDIT: all of these entries occurred after the 96th percent of a synced chain.

I just searched for the string `run time` in the logs. I cropped the lines so that there are no line breaks. There are 18 entries in the first listing, and 14 in the second one.  We don't currently log for which heights

[2022-09-05 16:07] #5043 closed, assigned to teor2345

[2022-09-05 16:17] upbqdn commented on #4937
I also got these for beta 14:
[code]

And these for #4721:
[code]

The heights seem unrelated, so the problem is likely to be in Zebra itself.

[2022-09-05 22:13] #4965 closed, assigned to nobody

[2022-09-05 22:21] teor2345 commented on #4894
The `lightwalletd_integration_test()` already does most of this work, we might want to call it from the grpc and send transaction tests.

[2022-09-06 01:48] teor2345 opened #5085 "Increase GCP disk size to 300 GB"
## Motivation

Some GCP disk images are 160 GB, which means they could get to the current 200 GB size soon.

### Designs

We probably want to do this using `fastmod` or `sed`, because disk sizes are specified in a few places in a few different workflows.

[2022-09-06 04:05] teor2345 opened #5089 "Delete old test docker images"
## Motivation

Our Google Cloud Artifact storage is costing us around 10% of our monthly bill.
We don't need to keep old test Docker images around, but we want to keep all our tagged release Docker images.

(We might eventually want to get rid of the alpha release Docker images, but that's a decision we can make another time.)

[2022-09-06 06:18] teor2345 opened #5091 "Restore Rust stable and beta in CI"
## Motivation

Rust 1.64 builds hang when downloading Zcash parameters, in both GitHub Actions and Docker:
- https://github.com/ZcashFoundation/zebra/actions/runs/3123995445/jobs/5067004540
- https://github.com/ZcashFoundation/zebra/actions/runs/3108491580/jobs/5037748856

### Background

In PR #5090 we disabled beta Rust tests, because multiple bugs happened:
- disk filled up during builds with b

[2022-09-06 09:32] #4824 closed, assigned to upbqdn

[2022-09-06 13:32] #4350 closed, assigned to teor2345, oxarbitrage

[2022-09-06 22:36] #3263 closed, assigned to teor2345

[2022-09-06 22:40] teor2345 opened #5101 "Scale lookahead limit based on upcoming checkpoint sizes"
## Motivation

Currently, Zebra has a lookahead limit in its syncer, which is used to limit network, RAM and CPU usage during the initial sync:
- 1200 blocks when checkpointing
- 20 blocks when full verifying

We could use a dynamic limit based on the size of upcoming checkpoints instead. This could improve performance.

[2022-09-06 22:40] teor2345 opened #5102 "Make StateService requests into concurrent ReadStateService requests"
## Motivation

At the moment, Zebra reads the state via two different services:
- a blocking `StateService`
- a concurrent `ReadStateService`

Most read requests are able to be run concurrently, so we could move them to the `ReadStateService`. This allows us to move mutable chain state into the block commit task.

This should also improve performance.

[2022-09-06 22:40] teor2345 opened #5103 "Check for downloaded hashes in a batch"
## Motivation

To reduce the number of state service requests, we could batch downloaded block hashes into a new request that takes a `HashSet<block::Hash>`.

This might improve performance.

[2022-09-06 22:42] teor2345 commented on #5103
I'm just adding this in case we work out we need it later.

[2022-09-06 22:42] #5103 closed, assigned to nobody

[2022-09-06 22:44] teor2345 commented on #5101
I'm just making this ticket in case we work out we need it later.

[2022-09-06 22:44] #5101 closed, assigned to nobody

[2022-09-06 22:46] teor2345 commented on #5102
I'm just making this ticket in case we need it later.

[2022-09-07 07:39] #4834 closed, assigned to arya2

[2022-09-07 21:54] teor2345 commented on #5069
I haven't seen these errors recently, I wonder if they are caused by rate-limiting?

We could add the `ConnectionAttempts` option to the SSH command-line to fix this.

[2022-09-07 21:57] teor2345 commented on #5044
I haven't seen these errors recently, I wonder if they are caused by rate-limiting, or they are more common under load?

We can fix this error by searching for images with `status: READY` whenever we list images:
[code]

[2022-09-08 05:21] #4684 closed, assigned to oxarbitrage

[2022-09-08 20:14] upbqdn opened #5120 "Prepare issue and response templates for user issues"
## Motivation

Zebra is going to have its first release candidates and active users. We should prepare issue templates to make bug reporting unified and easy for people outside the ZF team.

We might also want to have some suggested responses to tell users when they report issues.

Related issue: #5121.

[2022-09-08 20:20] upbqdn opened #5121 "Document where users can get support"
## Motivation

Zebra is going to have its first release candidates and active users. We should document, ideally in the README, where users can get support for Zebra.

[2022-09-08 21:50] teor2345 commented on #5102
It turns out this is the easiest way to do #4937.

[2022-09-08 22:19] teor2345 commented on #5044
I saw this error again today:

https://github.com/ZcashFoundation/zebra/runs/8259255840?check_suite_focus=true#step:7:78

[2022-09-09 00:05] teor2345 commented on #4937
Waiting for the last finalized block is currently handled by `can_fork_chain_at()`, which returns early if the tip hash doesn't match any blocks.

https://github.com/ZcashFoundation/zebra/blob/093d503d22894fee57249387f25eb86a5bc8b985/zebra-state/src/service.rs#L378-L381

But it has a bug: if the first non-finalized block arrives before the last finalized block, it will time out and fail verificati

[2022-09-09 00:06] teor2345 opened #5125 "Avoid temporary failures verifying the first non-finalized block"
## Motivation

Waiting for the last finalized block is currently handled by `can_fork_chain_at()`, which returns early if the tip hash doesn't match any blocks.

https://github.com/ZcashFoundation/zebra/blob/093d503d22894fee57249387f25eb86a5bc8b985/zebra-state/src/service.rs#L378-L381

But it has two bugs:
- if the first non-finalized block arrives before the last finalized block, it will time out

[2022-09-09 00:23] teor2345 opened #5126 "Avoid an AwaitUtxo race condition when switching to the non-finalized state"
## Motivation

Currently, Zebra ignores any UTXOs in `FinalizedState.queued_by_prev_hash`, because it is only used during checkpoint verification.

This creates a rare race condition between concurrent:
- pending blocks in the last few checkpoints, and
 - the first few blocks doing full validation using UTXOs.

But it doesn't seem to happen much in practice. If it did, some blocks would temporaril

[2022-09-11 22:49] teor2345 commented on #5091
It turns out this was a GitHub cache issue, not a Rust issue.

[2022-09-12 21:33] teor2345 commented on #5069
This happened again today:
https://github.com/ZcashFoundation/zebra/actions/runs/3033472434/jobs/4881881486#step:8:106

[2022-09-12 22:10] teor2345 commented on #5091
We need to do this because the tests still failed after a few days, so we disabled them.

[2022-09-13 00:13] teor2345 commented on #4821
@arya2 it's ok to do the `spawn_blocking()` in `zebrad::commands::start` or `zebra_state::init()`, whatever is easier.

[2022-09-13 21:31] teor2345 opened #5153 "Tag Google Cloud instances with the name of the test or workflow for cost management"
## Motivation

When we look at Google Cloud costs, we want to know which test or continuous deployment is causing them.

This is essential for reducing Google Cloud costs, which we significantly larger than our budget in September.

## Priority

The priority of this ticket depends on Google Cloud costs from 24-30 September.

[2022-09-13 22:04] teor2345 opened #5155 "Decide if we want to create cached states more often"
## Motivation

Currently we create updated cached states after a day (~1000 blocks).

But if we created them more often:
- CI would be faster
- we would use less CPU time, costing us less
- we would use more storage, costing us more

It seems like our storage costs are much lower than expected, so we could make it half a day if we want.
That would reduce our compute costs, because we would be sync

[2022-09-14 00:47] teor2345 commented on #2654
We might need to do this for #4937

[2022-09-14 15:00] #4678 closed, assigned to teor2345

[2022-09-15 00:07] teor2345 commented on #5069
Failed on `main`:
https://github.com/ZcashFoundation/zebra/actions/runs/3053855581/jobs/4926083103#step:6:105

[2022-09-15 01:41] gustavovalverde opened #5167 "docs: Create a user documentation explaining how to use Zebra with Docker"
## Motivation

We don't have user documentation regarding how to use Zebra with Docker

### Designs

We might want to include:
- TLDR to run
- How to build
- How to pull it
- How to run CI locally
- How to develop with Docker locally (?)

## Related Work

Originated from: https://github.com/ZcashFoundation/zebra/pull/5163#discussion_r971284355

[2022-09-15 02:01] teor2345 opened #5168 "Add Docker tests for default config and $ZEBRA_CONF_PATH"
## Motivation

We want to test that our Docker build scripts configure Zebra correctly:
- check that $ZEBRA_CONF_PATH works
- make sure the default Docker config works with the latest Zebra version

## Suggested Solution

- move the default Docker config into a file
- add that file to the Zebra config test directory, all configs in this directory are automatically tested with Zebra:
    - https://

[2022-09-15 02:17] #4778 closed, assigned to gustavovalverde, oxarbitrage

[2022-09-15 10:20] mpguerra commented on #5120
Aside from the response template, what is the difference between this a our existing bug report template? Have we decided how we are going to ask users to report issues? e.g is it just going to be by creating a new issue in github?

[2022-09-15 10:20] mpguerra commented on #5121
Is this already decided or should we open up a discussion about it?

[2022-09-15 15:14] upbqdn commented on #5121
I think the only two official places will be the `zebra-support` channel on Discord and GitHub Issues. We agreed that this should be mentioned in the README.

[2022-09-15 15:23] upbqdn commented on #5120
The way I see it is that bug reports are related to the source code, and issue reports are related to usability. I think we could just edit the existing bug report if such a distinction is unnecessary.

This should be addressed in #5121.

[2022-09-15 15:44] gustavovalverde opened #5178 "ci: Add a workflow to build Dockerfile layers independently"
## Motivation

We should have a workflow to test that Zebra builds with Docker with different targets (`test` and `release`). As `release` is just tested on the `main` branch, but we should asure this works in a PR before merging.

### Designs
- Create a build workflow similar to `build-crates-individually.yml`

## Related Work

Originated by: https://github.com/ZcashFoundation/zebra/actions/runs/

[2022-09-15 22:36] teor2345 commented on #4937
We haven't fixed the bug in this ticket yet.
(When we do, we'll add it to that PR so it auto-closes this ticket.)

[2022-09-16 04:13] #5102 closed, assigned to teor2345

[2022-09-16 04:14] #1963 closed, assigned to gustavovalverde

[2022-09-19 01:03] teor2345 commented on #5178
I think this might be a low priority, because it doesn't cause failures very often.

When it does cause a failure, let's track them on this ticket, so we know how important it is.

[2022-09-19 01:05] teor2345 opened #5186 "Docker build cache might be in the wrong order"
## Motivation

The branch cache is likely to be faster and cheaper than the `main` cache, because the code is more similar:
https://github.com/ZcashFoundation/zebra/blob/202dc43b11114761068655178d73de144d18d6e0/.github/workflows/build-docker-image.yml#L142-L146

This is a medium priority, because we're trying to reduce costs.

[2022-09-19 01:15] teor2345 commented on #5023
Is this epic just for DevOps issues we actually want to work on, or for scheduled issues, or for all issues?

(If we want to find all issues, we can also use the DevOps tag, and if we want to find scheduled issues, we can search by sprint.)

[2022-09-19 01:20] teor2345 opened #5187 "Delete Google Cloud instances older than 3 days"
## Motivation

Currently, we delete instance templates, disks, and images older than 2 days (if they are not being used).

But sometimes a test workflow can run and leave behind an instance. This costs money for CPU and RAM, as well as any related storage.

### Designs

Since our longest workflows run for 1-2 days, automatically delete any test instances older than 3 days.

### Example

These 2 in

[2022-09-19 01:35] teor2345 opened #5188 "Reduce continuous deployment instance group size to 1"
## Motivation

To reduce costs, we could reduce our continuous deployment instance groups from 2 nodes to 1 node.

This is a low priority, because currently our CD instances are using small machines (4 cores).

## Steps

- Change the workflow to modify the instance group settings, even if it already exists
- Reduce our continuous deployment instance groups from 2 nodes to 1 node

[2022-09-19 01:40] teor2345 opened #5189 "Run some docker tests on smaller instances"
## Scheduling

This change is blocked by #4937, because it will change Zebra's performance, and #5199, because it will change Zebra's test performance.

## Motivation

We're currently running all our Docker tests on machines with 16 cores and more RAM.

But some tests might only need the standard 4 core machines.

## Suggested Solution

- Try running each test on 4 core machines
- If a test is aro

[2022-09-19 01:44] teor2345 commented on #5089
This is a lower priority, because it's complicated to get right, and the cost is still small.

[2022-09-19 02:12] teor2345 commented on #5187
In PR #5191 I made new caches happen every 12 hours, double the current rate.

7 days after that PR merges, we should review costs for the last 3-4 days, and see if they are better or worse.

[2022-09-19 06:47] teor2345 commented on #5120
I think it would be ok to make the bug report template into a "user bug report" template.

We're not using it as developers, because we have usually:
- already diagnosed the bug, or
- we've seen it on our supported infrastructure in CI.

[2022-09-19 08:38] mpguerra commented on #5023
Yes, I think we need to find a better way to organise Devops work into longer term projects (which would be epics) versus tactical fixes which would just be standalone issues which could be scheduled in a sprint.

[2022-09-19 19:54] teor2345 commented on #2375
Now there are multiple apps using `zebra-network`, we might want to be able to distinguish them on the network

[2022-09-19 20:26] teor2345 opened #5199 "Consider using `nextest` to run tests faster"
## Motivation

`cargo nextest` runs more Rust tests in parallel, making tests faster, and making better use of CI machine CPUs.

We might want to use it so:
* developers get test results and merge PRs faster, or
* reduce Google Cloud costs.

But running more tests in parallel might expose some timing bugs in our tests.

### Specifications

https://nexte.st/index.html

[2022-09-19 20:57] teor2345 commented on #5023
I think that would be really helpful!

I wonder if we have any longer-term DevOps work we want to do for Zebra right now. But even if we don't, it would be good to know that. (And check with the team to be sure.)

[2022-09-19 21:21] #5011 closed, assigned to teor2345

[2022-09-20 19:32] teor2345 commented on #5069
It looks like this is now more frequent than the other Google Cloud errors.

[2022-09-20 19:32] teor2345 commented on #5044
It looks like this is now less frequent than the other Google Cloud errors, but still important to fix.

[2022-09-20 21:05] #3111 closed, assigned to arya2

[2022-09-21 09:08] mpguerra opened #5214 "Task: Make a list of Zebra dependencies"
## Motivation

When we engage a team to audit Zebra, we want to provide them with a number of lists outlining our dependencies and which of those we would like to be in scope for the audit.

## Task

We will need 3 lists:

- [ ] Direct ECC dependencies that are **in scope** for the audit (most will be out of scope as they have already been audited)
- [ ] Direct Zebra dependencies that are **in sco

[2022-09-21 20:25] teor2345 commented on #5214
I've noticed that we're not automatically updating some dependencies using dependabot.

In some cases, this appears to be a bug (or incorrect documentation) for dependabot. Closing automated dependabot PRs seems to stop all dependency updates, not just the selected minor or major version.

If any of these dependencies are _in scope_ for the audit, we might want to upgrade them before tagging the r

[2022-09-21 20:57] dconnolly commented on #5214
Well that's annoying.

[2022-09-21 22:19] teor2345 commented on #5214
It seems like they recently updated the dependabot message to match its actual behaviour:
<img width="914" alt="Screen Shot 2022-09-22 at 08 17 38" src="https://user-images.githubusercontent.com/8951843/191620565-7f00fcab-7b00-4254-8af3-3c10c6b6f1ac.png">

[2022-09-21 22:40] teor2345 opened #5227 "Fix "The resource already exists" Google Cloud errors"
## Motivation

When CI fails and does not delete an instance or disk, future CI runs will always fail, until:
- the instance or disk is manually deleted by a developer,
- the instance or disk is automatically deleted after 2-3 days, or
- the PR branch is updated with a new commit hash.

Since this is tricky to diagnose and fix, we should change the workflows to stop it happening.

### Logs

 - The

[2022-09-21 22:41] teor2345 commented on #5227
This is a low priority because it doesn't happen very often

[2022-09-21 23:16] #5187 closed, assigned to nobody

[2022-09-22 09:06] mpguerra opened #5234 "Epic: Support for RPC calls used by mining pools"
## Motivation

We would like mining pools to be able to use zebrad to:

1. generate a block template for mining, and
2. broadcast a newly-mined block to the Zcash network.

Our use case assumption is that the miner will use Zebra to generate the block template, mine the block outside of Zebra, then use Zebra to broadcast the block to the Zcash network.

Miners should be able to use Zebra as a drop

[2022-09-22 09:19] mpguerra opened #5235 "Tracking: Implement getblocktemplate RPC"
## Motivation

Mining pools use the `getblocktemplate` RPC method.

### Scope

`getblocktemplate` supports about 10 different alternative options or modes:
https://zcash.github.io/rpc/getblocktemplate.html

Some of these modes don't work for Zcash, or are very difficult to implement. So we might want to just implement the modes that are actually used by mining pools.

- [x] #5451
- [x] #5452
- [x]

[2022-09-22 09:19] mpguerra opened #5236 "Add basic support for the `submitblock` RPC call"
## Motivation

Mining pools use the `submitblock` RPC call.

### Mining Pool Usage

`s-nomp` calls `submitblock` from this code:
- https://github.com/s-nomp/node-stratum-pool/blob/d86ae73f8ff968d9355bb61aac05e0ebef36ccb5/lib/pool.js#L245

## Requirements

https://zcash.github.io/rpc/submitblock.html

Detailed specification:
https://en.bitcoin.it/wiki/BIP_0023#Submission_Abbreviation

The goals of

[2022-09-22 21:10] teor2345 commented on #2654
Just to expand on my last comment a bit more: #4937 changes how error handling works in the state, and makes it more complicated, so we probably need to test that it actually works.

[2022-09-22 21:12] teor2345 commented on #5234
@mpguerra you can see the full list of required RPCs and Zebra bug fixes here:
https://hackmd.io/gjxd0c4oTp-ZB81PtHdU2w

This is a draft list, it won't be final until we've found some open-source mining pool coordination software to test against.

[2022-09-26 04:06] teor2345 commented on #2564
This is useful, and we should do it eventually, but it hasn't actually been a problem yet.

[2022-09-26 04:07] teor2345 commented on #4956
This makes diagnosing errors in the docker tests tricky, but it can wait until next sprint.

[2022-09-26 04:07] teor2345 commented on #4955
This makes diagnosing test errors tricky, but it can wait until next sprint.

[2022-09-26 04:09] teor2345 commented on #4591
This isn't actually causing us any problems at the moment

[2022-09-26 04:09] teor2345 commented on #4612
This isn't actually causing us any problems at the moment

[2022-09-26 04:18] teor2345 commented on #5153
I added this ticket to the sprint, because it helps us work out how to limit Google Cloud costs.

[2022-09-26 04:20] teor2345 commented on #4946
This isn't something we're planning to use any time soon, so I might just close this ticket.

[2022-09-26 04:23] teor2345 commented on #4882
This is a task that anyone can do (and then any GitHub admin can add the branch protection rule).

[2022-09-26 04:31] teor2345 opened #5253 "Disable code timers unless a specific `zebrad` feature is activated"
## Motivation

We're running a lot of code timers that never actually log anything. But calling those time functions can be really expensive on some operating systems.

### Designs

Add a new `zebrad` feature that activates a `zebra-chain` feature with the same name.
This feature should be off by default.

When the feature is off, disable all the code and fields in the `CodeTimer` struct.
Just hav

[2022-09-26 04:32] teor2345 commented on #5253
If CI passes on PR #5164, we can mark this ticket as optional and close it.
If it fails with a timeout, it is a medium priority for this sprint.

[2022-09-26 06:31] teor2345 commented on #5091
When I run `zebrad download` locally, I get these logs:
[code]

[2022-09-26 06:32] teor2345 commented on #5091
When I've previously downloaded the parameters, everything works:
[code]

[2022-09-26 15:45] #4821 closed, assigned to arya2

[2022-09-26 22:14] teor2345 opened #5259 "Write up how we want to do tags and feature branches"
## Motivation

We want to document the process we decided for new features. We also want to write down the goals we're trying to satisfy.

The draft notes are in the Retrospective pad.
We've also had some conversations in Slack about how this could work.

[2022-09-27 02:54] teor2345 opened #5265 "Update changed-files action to the latest version"
## Motivation

We reverted a changed-files action version bump in PR #5264, because it had breaking changes.

### Specifications

https://github.com/tj-actions/changed-files#usage

### Tasks

- Add 'fetch-depth: 0' or 'fetch-depth: 2' to each changed-files action call
- Update to the latest version by re-opening PR #5254

[2022-09-27 02:55] teor2345 commented on #5265
This is a low priority, unless we actually need any of the latest features, or we see the bug without the dependency bump.

[2022-09-27 06:54] #5186 closed, assigned to nobody

[2022-09-27 08:03] mpguerra commented on #5234
So is the planning done for this already or do we need to do some more?

I'm keen to try to do this asynchronously using github discussions. I've started one for this purpose here: https://github.com/ZcashFoundation/zebra/discussions/5267

If it is not needed because all of the planning is done we can just close it...

[2022-09-27 08:07] mpguerra opened #5268 "Add support for `getblockhash` RPC call"
## Motivation

Mining pools use the `getblockhash` RPC method.

https://zcash.github.io/rpc/getblockhash.html

## Requirements

## Testing

- [ ] Snapshot the output of the RPC
- [ ] Test calling the RPC from the mining pool software
- [ ] Manually compare the `zcashd` and `zebrad` RPC output using https://github.com/ZcashFoundation/zebra/blob/main/zebra-utils/zcash-rpc-diff

[2022-09-27 08:53] mpguerra commented on #4882
Can we prioritise this one for this sprint to finally finish off the release candidate epic?

[2022-09-27 11:01] upbqdn commented on #5214
I manually used the _"Close with comment"_ button on PRs #5221 and #5224, and this is what I got:

![image](https://user-images.githubusercontent.com/8863307/192507682-ab558949-57f3-4a4e-bca6-b028e88bbbf6.png)

It looks like we'll get new updates based on what Dependabot said in the image, no?

I was going to reopen the two PRs to see what happens, but it looks like I can't do it.

[2022-09-27 19:02] mpguerra commented on #5214
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/5214?planning-poker) with Zenhub @arya2 @conradoplg @dconnolly @gustavovalverde @oxarbitrage @teor2345 @upbqdn

[2022-09-27 20:49] mpguerra commented on #2654
let's timebox this to one day's work and move on if it's too hard...

[2022-09-27 21:10] mpguerra commented on #3134
Closing this one!!! Great job everyone! 👏 🎉

[2022-09-27 21:10] #3134 closed, assigned to nobody

[2022-09-27 23:25] teor2345 commented on #5234
Planning is incomplete, I've added some missing tasks to this ticket and the discussion.

[2022-09-27 23:27] teor2345 commented on #4882
This isn't causing us any problems right now, and we aren't planning on changing this Dockerfile, so we can do it in the next sprint.

[2022-09-27 23:59] teor2345 commented on #2654
We think we want to do these tests here:
- when committing checkpointed blocks, fail a finalized state block commit
- when committing fully verified blocks, fail a non-finalized state block commit
- ~~when committing fully verified blocks, fail a finalized state block commit~~  edit: this can't happen, it's currently a panic

[2022-09-28 00:33] #5155 closed, assigned to teor2345

[2022-09-28 08:07] mpguerra commented on #4882
In that case I will remove from the release candidate Epic also

[2022-09-28 08:08] mpguerra commented on #5168
removing this one from the release candidate epic

[2022-09-28 08:17] mpguerra commented on #3050
@conradoplg you're on the release rotation this sprint... are you ok to tag the release candidate once all outstanding issues are merged?

[2022-09-28 08:57] mpguerra commented on #4937
removing epic from sprint, individual issues in epic should be added instead

[2022-09-28 12:24] mpguerra commented on #5153
I'm going to move this to the next sprint. Although this is important it's not high priority for this sprint.

[2022-09-28 14:32] gustavovalverde commented on #4612
Work was started in https://github.com/ZcashFoundation/zebra/pull/4980#issuecomment-1260475097 but a refactor is needed to make builds interdependent

[2022-09-28 14:32] #4612 closed, assigned to gustavovalverde

[2022-09-28 17:57] conradoplg commented on #3050
Yep, should be fine

[2022-09-28 20:15] teor2345 opened #5295 "Increase the timeout for db_init_outside_future_executor"
## Motivation

The db_init_outside_future_executor test failed with:

https://github.com/ZcashFoundation/zebra/actions/runs/3141191750/jobs/5103357118#step:10:2995

On a busy test virtual machine, we can't guarantee that the Zebra tests will get CPU time every few milliseconds. Similar timeouts elsewhere in the tests are hundreds of milliseconds or a few seconds.

## Related Work

This test bug wa

[2022-09-28 21:44] teor2345 commented on #5168
This isn't causing any problems for us right now, but we should test this new docker feature soon. (In the next sprint is ok.)

[2022-09-28 21:54] teor2345 commented on #5153
This is essential for reducing Google Cloud costs, which are currently significantly larger than our budget.

So if we run out of DevOps work in this sprint, let's do this next.

[2022-09-28 22:02] teor2345 commented on #5153
I just looked at costs, and they have decreased significantly over the past week.

So let's check costs during sprint planning, and set the priority of this ticket then.

[2022-09-28 22:05] teor2345 commented on #5085
We should do this soon to avoid CI failures.

They aren't happening yet, but they might happen soon on lightwalletd CI.

[2022-09-28 22:12] teor2345 commented on #5153
Tagging it as low for now, in the hope that costs continue to be low.

[2022-09-28 22:12] teor2345 commented on #5199
Tagging this as low for now, in the hope that costs continue to be low.

[2022-09-28 22:13] teor2345 commented on #5188
It's valuable to run multiple instances to contribute to the Zcash network, so we should only do this if we're sure these nodes are very expensive.

[2022-09-28 22:13] #5188 closed, assigned to nobody

[2022-09-28 22:13] teor2345 commented on #5189
Tagging it as low for now, in the hope that costs continue to be low.

[2022-09-28 22:26] teor2345 opened #5297 "Add metrics for chain fork work and lengths"
## Motivation

The ZIP editors asked for the following Zebra metrics:
- histogram of chain work for all recent chain forks
- histogram of tip heights for all recent chain forks
- histogram of non-finalized lengths for all recent chain forks
- histogram of fork heights for all recent chain forks
- histogram of fork lengths (`tip height - fork height`)
- all the above metrics as a gauge for the best

[2022-09-28 23:26] teor2345 opened #5298 "Zebra full `lightwalletd` sync is significantly slower than `zcashd`"
## Motivation

Currently, a full `lightwalletd` sync is 37% slower with Zebra than `zcashd` (7h vs 5h).

### Benchmarks

#### Full Sync Benchmarks

Here are some commands for full sync benchmarks:

Zebra:
[code]

`zcashd`:
[code]

#### Quick Benchmarks

Here are some commands for quick benchmarks:

Zebra:
[code]

`zcashd`:
[code]

#### Benchmark Notes

You can change `182[0-9]{4}` to the current t

[2022-09-28 23:33] teor2345 commented on #5298
Some changes that might impact RPC speed:
- #5257
- data compression in rocksdb
- #5253
- re-applying the revert in #4933

Some previous changes that might have regressed RPC speed:
- #5012
- #4806
- #5134
- #5102

[2022-09-28 23:37] teor2345 commented on #4649
Marek and I had a chat about this ticket. It's not a release blocker, so we're going to update the ticket with a design and a draft branch, and move it out of this sprint.

We can fix it if it ever becomes a problem for users.

[2022-09-28 23:39] teor2345 commented on #5091
This is only a release blocker if it is a miscompile, denial of service, or another kind of security issue.
If we find out it is something else, we can fix it after the release.

[2022-09-28 23:53] teor2345 commented on #3002
We're not planning to do full-node wallet work any time soon.

If we do, we'll need to decide if this ticket is in scope, and update its content, because the spec has changed since it was created.

[2022-09-28 23:53] #3002 closed, assigned to nobody

[2022-09-28 23:58] teor2345 commented on #2192
We're not planning to do full-node wallet work any time soon.

If we do, we'll need to decide if this ticket is in scope.

[2022-09-28 23:58] #2192 closed, assigned to nobody

[2022-09-28 23:58] teor2345 commented on #2095
We're not planning to do full-node wallet work any time soon.

If we do, we'll need to decide if this ticket is in scope, and update its content, because the spec has changed since it was created.

[2022-09-28 23:58] #2095 closed, assigned to dconnolly

[2022-09-28 23:58] teor2345 commented on #2064
We're not planning to do full-node wallet work any time soon.

If we do, we'll need to decide if this ticket is in scope, and update its content, because the spec has changed since it was created.

[2022-09-28 23:58] #2064 closed, assigned to nobody

[2022-09-28 23:59] teor2345 commented on #2041
We're not planning to do full-node wallet work any time soon.

If we do, we'll need to decide if this ticket is in scope, and update its content, because the spec has changed since it was created.

[2022-09-28 23:59] #2041 closed, assigned to conradoplg

[2022-09-28 23:59] teor2345 commented on #1556
We're not planning to do full-node wallet work any time soon.

[2022-09-28 23:59] #1556 closed, assigned to nobody

[2022-09-28 23:59] teor2345 commented on #325
We're not planning to do full-node wallet work any time soon.

If we do, we'll need to decide if this ticket is in scope, and update its content, because the spec has changed since it was created.

[2022-09-28 23:59] #325 closed, assigned to nobody

[2022-09-28 23:59] teor2345 commented on #321
We're not planning to do full-node wallet work any time soon.

If we do, we'll need to decide if this ticket is in scope, and update its content, because the spec has changed since it was created.

[2022-09-28 23:59] #321 closed, assigned to nobody

[2022-09-28 23:59] teor2345 commented on #320
We're not planning to do full-node wallet work any time soon.

If we do, we'll need to decide if this ticket is in scope, and update its content, because the spec has changed since it was created.

[2022-09-28 23:59] #320 closed, assigned to nobody

[2022-09-28 23:59] teor2345 commented on #278
We're not planning to do full-node wallet work any time soon.

If we do, we'll need to decide if this ticket is in scope.

[2022-09-28 23:59] #278 closed, assigned to nobody

[2022-09-29 00:00] teor2345 commented on #272
We're not planning to do full-node wallet work any time soon.

If we do, we'll need to decide if this ticket is in scope, and update its content, because the spec has changed since it was created.

[2022-09-29 00:00] #272 closed, assigned to nobody

[2022-09-29 00:00] teor2345 commented on #271
We're not planning to do full-node wallet work any time soon.

If we do, we'll need to decide if this ticket is in scope, and update its content, because the spec has changed since it was created.

[2022-09-29 00:00] #271 closed, assigned to nobody

[2022-09-29 00:00] teor2345 commented on #269
We're not planning to do full-node wallet work any time soon.

If we do, we'll need to decide if this ticket is in scope, and update its content, because the spec has changed since it was created.

[2022-09-29 00:00] #269 closed, assigned to nobody

[2022-09-29 00:00] teor2345 commented on #267
We're not planning to do full-node wallet work any time soon.

If we do, we'll need to decide if this ticket is in scope, and update its content, because the spec has changed since it was created.

[2022-09-29 00:00] #267 closed, assigned to nobody

[2022-09-29 00:00] teor2345 commented on #181
We're not planning to do full-node wallet work any time soon.

If we do, we'll need to decide if this ticket is in scope, and update its content, because the spec has changed since it was created.

[2022-09-29 00:00] #181 closed, assigned to nobody

[2022-09-29 08:14] teor2345 commented on #5298
I tried timing a large block RPC with `zebrad` and `zcashd`, and Zebra was significantly faster each time.

[code]

[code]

This uses the `zcash-rpc-diff` changes in commit 89f7b386ae in PR #5164.

[2022-09-29 08:18] teor2345 opened #5301 "Occasional failures in mempool_cancel_mined test"
## Motivation

The mempool_cancel_mined test sometimes fails with:

https://github.com/ZcashFoundation/zebra/actions/runs/3148267685/jobs/5118618631#step:10:3684

This is probably caused by the timing changes in PR #5134.

[2022-09-29 08:24] teor2345 commented on #5298
This performance pattern continues even if I query multiple blocks, exactly the way `lightwalletd` does:
https://github.com/adityapk00/lightwalletd/blob/master/common/common.go#L266

[code]

Zebra port:
[code]

`zcashd` port:
[code]

[2022-09-29 08:35] mpguerra commented on #5023
going to remove epic label and  close this one for now.

[2022-09-29 08:35] #5023 closed, assigned to nobody

[2022-09-29 08:36] mpguerra opened #5302 "Add support for `getblocksubsidy` RPC call"
## Motivation

Mining pools use the `getblocksubsidy` RPC calls.

### Mining Pool Usage

`s-nomp` calls `getblocksubsidy` from this code:
- https://github.com/s-nomp/node-stratum-pool/blob/d86ae73f8ff968d9355bb61aac05e0ebef36ccb5/lib/pool.js#L604

## Requirements

https://zcash.github.io/rpc/getblocksubsidy.html

### Height argument

- is optional.
- is a number (current zebra functions that have

[2022-09-29 08:36] mpguerra opened #5303 "Add support for `getblockcount` RPC call"
## Motivation

Mining pools use the `getblockcount` RPC call.

### Mining Pool Usage

`s-nomp` calls `getblockcount` from this code:
- https://github.com/s-nomp/node-stratum-pool/blob/d86ae73f8ff968d9355bb61aac05e0ebef36ccb5/lib/pool.js#L595

## Requirements

https://zcash.github.io/rpc/getblockcount.html

## Testing

- [x] Snapshot the output of the RPC
- [ ] Test calling the RPC from the mining

[2022-09-29 08:47] teor2345 commented on #5298
Similarly, using `curl` shows that `zcashd` is slower for single block requests.

For example:
[code]

You can get the hashed RPC password by running `nc -l 11111` in one shell, and `zcash-cli -rpcport=11111 getinfo` in another.

Maybe the slowness only happens with lots of blocks, or with a continually running process.

[2022-09-29 09:00] mpguerra opened #5304 "Check that mining pool software can connect to Zebra in CI, but don't mine any blocks"
## Motivation

We want to test our RPCs against the software that uses them, to make sure we got the names, parameters, and fields correct.

## Proposed Solution

We can run the latest version of https://github.com/s-nomp/s-nomp , connect it to `zebrad`, and check for successes or failures in the logs.

This will be like the `lightwalletd_integration` test:
https://github.com/ZcashFoundation/zebra

[2022-09-29 09:00] mpguerra opened #5305 "Add a `getblocktemplate-rpcs` feature to `zebra-rpc`"

[2022-09-29 09:57] teor2345 commented on #5298
The verbose getblock requests took about the same time for Zebra and `zcashd`, so I made them about 8x faster in Zebra (commit eb1359acb0 in PR #5164).

Let's see if that fixes our performance issue.

[code]

The previous times were:
[code]

[2022-09-29 10:11] teor2345 commented on #5295
This happened again, so I'm moving it to the current sprint.

[2022-09-29 10:32] mpguerra commented on #5253
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/5253?planning-poker) with Zenhub @arya2 @conradoplg @dconnolly @teor2345 @upbqdn

[2022-09-29 10:32] mpguerra commented on #5259
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/5259?planning-poker) with Zenhub @arya2 @conradoplg @dconnolly @gustavovalverde @teor2345 @upbqdn

[2022-09-29 10:33] mpguerra commented on #5295
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/5295?planning-poker) with Zenhub @arya2 @conradoplg @dconnolly @teor2345 @upbqdn

[2022-09-29 10:35] mpguerra commented on #5297
When would they like these by? The earliest I would schedule these would be next sprint (21) and only if the release candidate work is complete

[2022-09-29 20:23] teor2345 commented on #5298
A full `lightwalletd` sync takes 3.4 hours now, so that meets our performance goals for the release candidate. (3.4h vs 5h for `zcashd`.)

[code]

[2022-09-29 22:35] teor2345 commented on #5301
This is happening every day, so I've moved it to this sprint.

[2022-09-29 22:59] teor2345 commented on #5091
minreq HTTP library:
https://github.com/neonmoe/minreq

Download code that could be very slow:
https://github.com/zcash/librustzcash/pull/459/files#diff-7a58c94ff8576ab8b04da546cc73edc2ffa67cb13d1f050ed80bc363ca479193R49

Dev build optimisation for these crates:
https://github.com/ZcashFoundation/zebra/blob/main/Cargo.toml#L48

[2022-09-29 23:05] teor2345 commented on #5253
We fixed the speed issues another way, so we don't need to do this ticket any time soon.

[2022-09-29 23:07] teor2345 commented on #5167
I'd like to split out the developer parts of this ticket:
- How to build
- How to run CI locally
- How to develop with Docker locally (?)

The user docs seem like a medium priority, but the developer docs seem like a low priority.

[2022-09-29 23:08] teor2345 commented on #4529
Attracting external developers is not one of the goals of the release candidate, so this is a low priority.

[2022-09-29 23:14] teor2345 commented on #483
The `sendrawtransaction` and `submitblock` RPCs parse transactions and blocks from raw bytes, so they apply the same size limits as `zebra-network`.

We don't need to do any extra work here.

[2022-09-29 23:14] #483 closed, assigned to nobody

[2022-09-29 23:52] daira commented on #5297
This is for ZIP 315, to verify whether the recommended "trusted" and "untrusted" confirmation depths make sense and to provide supporting rationale. So not immediately urgent.

[2022-09-29 23:55] daira commented on #5298
That's awesome! Congratulations!

[2022-09-30 09:23] mpguerra commented on #5304
I don't think this needs to block development of the RPC calls. We can start development when we are ready to start work on this, and test against the mining pool software once we have it, first manually and then in CI once this issue is complete.

[2022-10-02 19:59] teor2345 commented on #5091
I handed this ticket over to Marek, I'm happy to help out once I've finished the lightwalletd tests.

[2022-10-02 21:45] oxarbitrage commented on #5298
Using zebra from this PR i synchronized lightwalletd in 4 hs and 20 mins locally.

[2022-10-02 22:31] teor2345 commented on #5298
That sounds about right, the exact time depends on your disk speed, CPU, and Rust and OS versions.

[2022-10-02 22:33] teor2345 commented on #5126
I don't think we're going to do this as part of #4937, it's not a release blocker.

[2022-10-02 23:11] teor2345 commented on #5297
This is blocked by PR #5257 merging, because it changes some of the same code as this ticket.

[2022-10-02 23:16] upbqdn commented on #4649
I updated the solution in the PR description with implementation details.

[2022-10-02 23:34] #5298 closed, assigned to upbqdn, teor2345

[2022-10-02 23:54] teor2345 commented on #5301
Failed on the `main` branch in:
https://github.com/ZcashFoundation/zebra/actions/runs/3153584855/jobs/5130226183#step:10:3870

[2022-10-02 23:58] teor2345 commented on #5069
Failed 3 times on `main` in the same workflow:
https://github.com/ZcashFoundation/zebra/actions/runs/3150972503/jobs/5131855566
https://github.com/ZcashFoundation/zebra/actions/runs/3150972503/jobs/5131861932
https://github.com/ZcashFoundation/zebra/actions/runs/3150972503/jobs/5131846881

[2022-10-03 03:17] teor2345 opened #5315 "Test that transitioning between finalized and non-finalized blocks works when non-finalized blocks arrive first"
## Motivation

In #4937 we change how blocks are handled. So we need to test that the transition between the finalized and non-finalized state works.

We might already have a test for this - we should check if the "out of order" test uses non-finalized blocks.

[2022-10-03 03:19] teor2345 commented on #5315
@mpguerra this is part of the tests for #4937 that we forgot to make a ticket for.

Can we add it to this sprint?

[2022-10-03 03:28] teor2345 commented on #5315
This test does almost what we want, but we need to send requests to test the queueing behaviour, rather than calling the commit block functions directly:
https://github.com/ZcashFoundation/zebra/blob/1f4a1b4c4c7aaeee51a13ecfe88c5b07e91809ba/zebra-state/src/service/tests.rs#L488

We don't need a test for blocks arriving in order, we already have the checkpoint sync update integration test for that.

[2022-10-03 03:29] teor2345 commented on #2654
I can do this, but I might want to work on it with either @arya2 or @upbqdn (whoever is available).

[2022-10-03 03:39] #5126 closed, assigned to nobody

[2022-10-03 03:48] teor2345 opened #5316 "Only run the `lightwalletd` full sync on the `main` branch"
## Motivation

In PR #5164, we made `lightwalletd` sync all the way to the tip in its full sync test.

This increases that test's time from 1 hour to 4 hours, which makes the CI we run on each PR change increase from 3 hours to 6 hours.

This increases Google Cloud costs, and makes PR testing and merges slower for engineers.

### Designs

We're already running the full `zebrad` sync only on the `m

[2022-10-03 03:51] teor2345 commented on #5316
@mpguerra PR #5164 will double the time it takes to run CI on every PR change (from 3 hours to 6 hours).

So we might want to schedule this work early in the next sprint, or right after PR #5164 merges.

[2022-10-03 09:26] mpguerra commented on #5316
What was it doing before and why did we change it?

[2022-10-03 17:15] upbqdn commented on #5091
Here's what I diagnosed on my local machine:

- The downloading doesn't actually hang.
- When I'm on Rust 1.64:
    - The download speed is between 10KiB/s and 100KiB/s.
    - I was able to download Sapling params since they're under 50MB.
    - I didn't bother to download Sprout params with this speed.
- When I'm on Rust 1.63:
    - The download speed is around 2MiB/s.
- The process takes 100% of

[2022-10-03 21:02] teor2345 commented on #5316
We were skipping all the blocks after 1.7 million, because we needed to add some extra test code to test those blocks. But this meant that we weren't testing those blocks at all. So we didn't find issues like #5307 until now.

[2022-10-03 22:09] teor2345 commented on #5091
Possibly Linux system call changes, changes to `Vec` optimisation, or an accidental performance regression:
https://github.com/rust-lang/rust/blob/stable/RELEASES.md#compatibility-notes

[2022-10-03 22:17] teor2345 commented on #5091
We could try following the `minreq` example code exactly?
https://docs.rs/minreq/2.6.0/minreq/struct.ResponseLazy.html#example

Or we could try using a `BufReader`, or something like `Iterator::array_chunks()` - which we'd have to copy into the code, because it is only on nightly right now:
https://doc.rust-lang.org/nightly/core/iter/trait.Iterator.html#method.array_chunks

[2022-10-03 22:19] teor2345 commented on #5091
@mpguerra this isn't a security issue, so I don't think it is a release blocker.

Our current solution (using Rust 1.63) has ~~exactly the same performance as `zcashd`, because they use the same code.~~

Edit: actually performance is much worse, because `zcashd` uses a download script.

I'm still not sure it's a release blocker though, because the download only happens once, and it's done by the t

[2022-10-03 22:27] str4d commented on #5091
`zcashd` does not use the Rust code to download the parameters; we use a Bash script. The code might be used by the mobile SDKs, I'd have to check.

[2022-10-04 02:51] #5295 closed, assigned to teor2345

[2022-10-04 02:52] #5301 closed, assigned to arya2

[2022-10-04 04:42] teor2345 commented on #4999
We're seeing this failure at least once per week. (I've seen it sometimes but haven't tagged the ticket.)

We should watch it for the next few weeks, and see if it gets more frequent.

[2022-10-04 19:01] teor2345 opened #5332 "ERROR: (gcloud.compute.ssh) User [None] does not have permission to access users instance [None] (or it may not exist) on main branch"
## Motivation

2 of the last few main branch commits have failed with:

https://github.com/ZcashFoundation/zebra/actions/runs/3180237524/jobs/5184393771#step:7:97
https://github.com/ZcashFoundation/zebra/actions/runs/3179050813/jobs/5192664093#step:6:103

Sometimes this happens during instance creation, sometimes during the test run.

### Possible Fixes

@gustavovalverde will this be fixed by the

[2022-10-04 19:37] upbqdn commented on #2654
I can help.

[2022-10-04 20:23] gustavovalverde commented on #5332
Yes https://github.com/ZcashFoundation/zebra/pull/5330 should fix this

[2022-10-04 20:33] teor2345 commented on #5315
I think that the checkpoint sync test covers this already.

[2022-10-04 20:33] #5315 closed, assigned to teor2345

[2022-10-04 20:45] teor2345 commented on #4955
This isn't actually causing any problems right now, and it conflicts with other more important work.

[2022-10-04 20:58] teor2345 commented on #4956
This important, but it's not causing any particular issues right now.

[2022-10-04 20:59] teor2345 commented on #5121
We aren't doing user support yet.

[2022-10-04 21:00] teor2345 commented on #5153
We only need to do this if cost is a concern.

[2022-10-04 21:12] teor2345 opened #5335 "Evict transactions from the mempool based on the ZIP-317 fee rules"
### Motivation

We can deploy the new mempool rules in ZIP-317 before wallets have updated to the new conventional fee, because dropping transactions is randomised.

This can be changed in Zebra at any time. It must not be behind the `getblocktemplate-rpcs` feature, because it is required as soon as possible to mitigate denial of service:
https://zips.z.cash/zip-0317#deployment

### Specification

[2022-10-04 21:13] teor2345 opened #5336 "Relay and accept mempool transactions based on the ZIP-317 fee rules"
### Motivation

We want to deploy the new relaying rules in ZIP-317, once enough wallets have updated:

https://zips.z.cash/zip-0317#deployment

This should be released in Zebra around the time of the `zcashd` release that implements ZIP-317, which is release 5.5.0 in April 2023.

We're also adding a minimum fee rate to match `zcashd`.

### Specification

#### ZIP 317

The relay parts of:
- https:

[2022-10-04 22:09] teor2345 commented on #5332
A manual full sync on PR #5257 also failed multiple times due to this bug:
https://github.com/ZcashFoundation/zebra/actions/runs/3184782188

[2022-10-04 22:11] teor2345 commented on #5332
It looks like all Rust PRs are failing in the Google Cloud tests due to this bug.

[2022-10-05 09:02] #5332 closed, assigned to nobody

[2022-10-05 12:46] #4953 closed, assigned to nobody

[2022-10-05 12:46] #4954 closed, assigned to mpguerra, teor2345

[2022-10-05 13:46] oxarbitrage commented on #5214
So, for the list of zebra production dependencies, i think some tables can be a good way to present them.

Dependencies could change from now to the date we send the list to the auditors so i made a small an ugly script who convert output from the `cargo tree` command into an md table: https://github.com/oxarbitrage/cargo-tree-table/blob/main/src/main.rs

The output is below, we might want to do c

[2022-10-05 18:20] oxarbitrage commented on #5305
It seems we have a few options here, not sure if they are written somewhere else.

It seems we don't need this feature in `zebrad` at least until we make a call to one of the new methods from an acceptance test.

We do need it in `zebra-rpc` so we can add new methods.

The [Rpc](https://github.com/ZcashFoundation/zebra/blob/main/zebra-rpc/src/methods.rs#L48) trait implements all the methods so we

[2022-10-05 20:15] teor2345 commented on #5234
@mpguerra I added a list of optional tasks that will increase miner profits (but I didn't create tickets yet).

[2022-10-05 20:58] upbqdn commented on #5091
I opened https://github.com/zcash/librustzcash/pull/666.

[2022-10-05 21:46] oxarbitrage commented on #5303
This seems to be just the current tip of the blockchain but the [rpc method description](https://zcash-rpc.github.io/getblockcount.html) of the docs is not up to date: https://github.com/zcash/zcash/issues/2735#issuecomment-458252350

[2022-10-05 21:57] dconnolly commented on #5336
'The eviction weight is already proportional to the size of the transaction in bytes', so we should be able to deploy these changes before wallets do without negative effect (per daira). What will happen in practice is regardless of whether an attacker chooses big transactions or lots of smaller transactions, the total size of their transactions will be large compared to the legitimate ones, it wi

[2022-10-05 21:58] dconnolly commented on #5335
Correct, yes. Some more context on why this is true:

[2022-10-05 22:13] teor2345 commented on #5214
@oxarbitrage thanks for doing this!

Here's what we can do next:

### Put it in the `zebra` repository

We might want to put the script somewhere so any developer can run it.
Can you open a PR to add it to https://github.com/ZcashFoundation/zebra/tree/main/zebra-utils ?

We'll also want to keep a record of the final automatically generated list, and the final manually categorised list.
We could pu

[2022-10-05 22:15] teor2345 commented on #5214
We'll also need to manually adjust the version of the `zcash_proofs` dependency, because it is a git dependency:
https://github.com/ZcashFoundation/zebra/blob/9849d14f41a5c014bab90eed851a6eb0162883e2/zebra-consensus/Cargo.toml#L39

[2022-10-05 22:18] teor2345 commented on #5091
I updated the list of tasks in the ticket to include a `librustzcash` update.

[2022-10-05 22:18] oxarbitrage commented on #5214
I think this might be because all the dependencies are duplicated.

[2022-10-05 22:20] teor2345 commented on #5214
We're missing `rocksdb` and `zcash_script`, which are unique dependencies of `zebra-state` and `zebra-script`.

[2022-10-05 22:23] oxarbitrage commented on #5214
I think it might be the `cargo tree` command. They were empty also when running it in the command line. Will try more with the command variations.

[2022-10-05 23:45] teor2345 commented on #5305
We've added acceptance tests to each RPC ticket, so we'll probably want that feature at the same time.
(It's quick to add a new feature.)

We could add a `getblocktemplate` module, with a:
- `GetBlockTemplateRpc` supertrait, and
- an `impl GetBlockTemplateRpc for Rpc` block?

https://doc.rust-lang.org/rust-by-example/trait/supertraits.html

Then if the feature is active, we automatically get the n

[2022-10-05 23:55] teor2345 commented on #5236
Hey @oxarbitrage you're using an outdated RPC documentation site, the latest one is https://zcash.github.io/rpc/

[2022-10-06 00:31] teor2345 commented on #5302
@oxarbitrage the consensus rules allow multiple outputs to be sent to a funding stream recipient, as long as *at least one* of them is the required amount.

I updated the description, and added a call to  `funding_stream_values()`.

[2022-10-06 00:32] teor2345 commented on #5302
Also, we only need the founders reward code if this RPC is actually called for those blocks.

[2022-10-06 00:34] teor2345 commented on #5302
@mpguerra we won't be able to fully scope this RPC until we get some more information from miners.

It is not called by [s-nomp](https://github.com/s-nomp/s-nomp), so I'll ask Dan to follow up.

[2022-10-06 03:00] teor2345 commented on #5125
This isn't actually fixed, we need a fix in PR #5257.

[2022-10-06 04:12] #4894 closed, assigned to upbqdn, teor2345

[2022-10-06 09:37] mpguerra commented on #5091
Since it seems like we have workarounds and it's not a release blocker, I'm going to unschedule this issue from this sprint now.
We can re-schedule for a future sprint later.

[2022-10-06 09:58] mpguerra commented on #5316
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/5316?planning-poker) with Zenhub @arya2 @conradoplg @dconnolly @gustavovalverde @oxarbitrage @teor2345 @upbqdn

[2022-10-06 09:59] mpguerra commented on #5305
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/5305?planning-poker) with Zenhub @arya2 @conradoplg @dconnolly @oxarbitrage @teor2345 @upbqdn

[2022-10-06 09:59] mpguerra commented on #5268
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/5268?planning-poker) with Zenhub @arya2 @conradoplg @dconnolly @oxarbitrage @teor2345 @upbqdn

[2022-10-06 10:00] mpguerra commented on #5236
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/5236?planning-poker) with Zenhub @arya2 @conradoplg @dconnolly @oxarbitrage @teor2345 @upbqdn

[2022-10-06 10:00] mpguerra commented on #5235
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/5235?planning-poker) with Zenhub @arya2 @conradoplg @dconnolly @oxarbitrage @teor2345 @upbqdn

[2022-10-06 13:21] oxarbitrage commented on #5302
Thank you for adding more details @teor2345 . I think the following parts are confusing:

But below there seems to be a contradiction:

I think we should do whatever zcashd does here.

[2022-10-06 14:13] mpguerra opened #5353 "docs: Update the Architecture Section in the zebra book to include `zebra-rpc`"
## Motivation

The ["Architecture"](https://zebra.zfnd.org/dev/overview.html#architecture) section of the zebra book helps newcomers to Zebra to understand its different components. This has currently not been updated with details of `zebra-rpc` or `zebra-node-services`

While we're making changes, the detailed descriptions of each crate's dependencies, responsibilities, and exported types are out

[2022-10-06 20:15] #5010 closed, assigned to nobody

[2022-10-06 21:22] teor2345 commented on #5265
We think this might be fixed by PR #5354.

[2022-10-06 21:22] #5265 closed, assigned to nobody

[2022-10-06 21:57] teor2345 commented on #5236
@arya2 I rewrote the RPC return values in terms of Zebra's implementation, because it's a bit different from `zcashd`'s.

[2022-10-06 21:59] teor2345 commented on #5302
@oxarbitrage I agree, which is why I added these open questions:

Can you find out what zcashd and [s-nomp](https://github.com/s-nomp/s-nomp) do here?

[2022-10-06 23:21] teor2345 commented on #5353
@mpguerra the architecture section is also missing [zebra-node-services](https://github.com/ZcashFoundation/zebra/tree/main/zebra-node-services). Did you want to add it at the same time?

While we're making changes, the detailed descriptions of each crate's dependencies, responsibilities, and exported types are out of date. We'd be better just linking to:
- Cargo.toml for dependencies
- [the API r

[2022-10-06 23:26] teor2345 commented on #5302
The`founders` field in this RPC is blocked on this question:
- Is this RPC called for founders reward heights?

If it is, we'll need to do a lot more work for this ticket (add founders reward code, test it, and call it from the RPC).

[2022-10-07 08:16] mpguerra commented on #5353
Sure!

I didn't read that far down... 😅 that's fine with me.

This is all very low priority though... it was just something I noticed when I was reading that page

[2022-10-07 09:11] teor2345 opened #5361 "Show more than 1 MB of google cloud test logs"
## Motivation

In PR #5358, we limited Google Cloud jobs to the last 1MB of test logs, to avoid a GitHub Actions output limit:
https://docs.github.com/en/actions/creating-actions/metadata-syntax-for-github-actions#outputs-for-docker-container-and-javascript-actions

### Designs

We could use log artifacts:
https://docs.github.com/en/actions/using-workflows/storing-workflow-data-as-artifacts

Or mo

[2022-10-07 09:11] teor2345 commented on #5361
We'll need to try the solution in PR #5358, before we know how important this ticket is.

[2022-10-07 09:18] teor2345 commented on #2654
Just a reminder that this task has a time limit of 1 day, so if it's not done by the end of the sprint, we should just close it.

We're looking for a really quick test here, we just need to send one error, and check that the state doesn't crash or hang.

[2022-10-07 09:33] teor2345 opened #5362 "Google Cloud ssh-compute action: "destination read failed""
## Motivation

kex_exchange_identification: Connection closed by remote host

https://github.com/ZcashFoundation/zebra/actions/runs/3203311358/jobs/5234000346#step:6:106

## Alternatives

We could ask for a retry option on https://github.com/google-github-actions/ssh-compute

We could manually retry the ssh step ourselves.

If we can't fix these errors, we might want to revert all of PRs #5330 and

[2022-10-07 09:34] teor2345 commented on #5362
We don't know the priority here until we know how frequent this error is.

[2022-10-07 14:10] gustavovalverde commented on #5362
Research info: https://issuetracker.google.com/issues/228091306#comment5

[2022-10-07 15:33] oxarbitrage commented on #5302
I dont think this issue should be blocked. The blocked tag discourage people to keep researching. The investigation/question is part of the ticket and we want people to keep working on it, blocked means "get out" until something else is done and should be avoided.

[2022-10-07 15:35] oxarbitrage commented on #5302
I also don't think is a good idea to replace the proposed design with something else without some discussion. In my opinion my design was simpler than the one we have now. Instead of editing the OP unilaterally with a new design please add your comments as part of the discussion and then look for consensus to edit the ticket. This is only valid when more than one person is working on the design, s

[2022-10-08 16:01] oxarbitrage commented on #5214
I updated the program so it can have a link to the version we are using of each dependency (where possible): https://github.com/oxarbitrage/cargo-tree-table/blob/main/outputs/zebra.md

The manual split i am still confused with in scope and out of scope.

I am also wondering, why doing this list when we are supposed to be paying a huge amount of for an audit and we don't have idea if they will requ

[2022-10-09 15:07] daira commented on #5302
I don't see why that open question can't be resolved as just "no, we don't need this RPC to work in zebrad for heights when the Founders' Reward was paid". So yes implementation of the "founders" field is blocked on that question (which is all that @teor2345 said), but it has an easy resolution.

[2022-10-09 15:44] oxarbitrage commented on #5302
Thank you @daira , i understand what you say but is a matter of internal zebra team tagging. I think the question is part of the ticket. When we see the blocked tag, developers ignore the ticket, which i don't think is what we should do here.

[2022-10-09 15:52] oxarbitrage commented on #5302
The label we have now (`S-needs-investigation`) is enough to describe that we have an open question. "Blocked" label is stronger and in general, a bad thing to add unilaterally if there is more than one person working in the design.
It is just my perspective from a point of view of the receiver of that label (people outside the zebra team probably don't care about our labels).

[2022-10-09 16:08] oxarbitrage commented on #5302
Even more, we can leave the field empty initially so we can do the work in other fields we know we have to add. Then get back to it if we figure out it is actually needed for some use case.

[2022-10-10 04:29] teor2345 opened #5366 "Fix "the resource was not found" instance errors in CI"
## Motivation

I'm seeing errors like this in CI:

https://github.com/ZcashFoundation/zebra/actions/runs/3203311358/jobs/5239744583#step:6:101

### Command Reference

https://cloud.google.com/sdk/gcloud/reference/topic/filters

### Designs

I'm not sure what is causing these bugs, we only delete instances after 3 days:
https://github.com/ZcashFoundation/zebra/blob/ee0edef8571d3ed82848303b142c7ae72

[2022-10-10 05:14] teor2345 commented on #5302
You're right, I didn't realise you were still working on this, I'll revert my changes to the ticket description.

[2022-10-10 05:23] teor2345 commented on #5302
The ticket description has these issues:
* the consensus rules are incorrect: the funding stream and founders reward amounts are required at least once in the coinbase transaction, it's not the total amount sent to the address
* the funding stream amounts are hard-coded for every height, we already have a Rust function to calculate them
* the RPC uses the fixed miner reward, not the variable minin

[2022-10-10 05:26] teor2345 commented on #5302
@mpguerra I'm not sure if this RPC is in scope for our mining pool work, because it isn't required to mine blocks.

Instead, the coinbase transaction is returned by `getblocktemplate`.

We might want to stop working on this ticket until we're sure it is in scope.
If we do decide to work on it, we might want to split the founders reward field into a separate ticket.

[2022-10-10 09:02] mpguerra commented on #5214
A very simple example of dependencies that would be out of scope would be crates used for logging and/or tracing as they are not consensus critical, e.g the `tracing` crate.

We want to tell the auditors which dependencies they should ignore and which they might want to look at more closely. We don't want them concentrating on dependencies that are trivial or which are not used in critical ways.

[2022-10-10 10:13] mpguerra commented on #5235
Some potentially useful documentation from bitcoin: https://en.bitcoin.it/wiki/Getblocktemplate

[2022-10-10 12:32] oxarbitrage commented on #5353
I don't think that adding those 2 references is enough for a system design overview. When i see `architecture` i generally expect some sort of diagram and/or a short explication of each important piece, something like that. For sure not a link to cargo.toml or the api reference.

[2022-10-10 19:01] oxarbitrage commented on #5214
I have another list, i think is still to big so we might want to remove entire sections and/or dependencies individually:

https://gist.github.com/oxarbitrage/033bcf655212dd3b57136d01e70ab472#file-zebra-deps-md

From the [automatic list](https://github.com/oxarbitrage/cargo-tree-table/blob/main/outputs/zebra.md) i manually removed all the duplicates, categorized different and removed dependencies.

[2022-10-10 20:27] teor2345 commented on #5236
@arya2 I'm not sure if this ticket is ready to go yet, I think we'll also need to check which submission abbreviations are required by the mining pool software:
https://en.bitcoin.it/wiki/BIP_0023#Submission_Abbreviation

Or we could check which ones `zcashd` supports or requires.

[2022-10-10 20:30] teor2345 commented on #5302
Something else I just discovered in the `getblocktemplate` RPC docs:

amounts, use 'getblocksubsidy HEIGHT' passing in the height returned
by this API.

https://zcash.github.io/rpc/getblocktemplate.html

Since `getblocktemplate` heights are always new blocks, we can't get the `getblocksubsidy` amounts from mined blocks. Instead, we need to use the existing miner reward and funding stream functions

[2022-10-10 23:48] gustavovalverde opened #5373 "Document the use of fetch-depth in `tj-actions/changed-files`"
## Motivation

We've been dealing with multiple issues related to `tj-actions/changed-files` and file comparison using previous the previous `sha`. We should document the actual configuration and why it's the one for our use case

## Related Work

https://github.com/ZcashFoundation/zebra/pull/5367#discussion_r991668192

[2022-10-11 00:00] teor2345 commented on #5214
I'm focused on the release candidate right now, so I might not be able to review these lists in detail.

We'll need to split the ECC dependencies into the dependencies they have got audited, and dependencies they haven't.

We'll also need to do the same thing for shared ZF dependencies like `ed25519-zebra`, `redjubjub`, and `reddsa` (or whatever we're using to implement redpallas).

[2022-10-11 00:03] teor2345 commented on #4937
@mpguerra I think we can close this now, there's only one PR left.

[2022-10-11 00:03] teor2345 commented on #2654
@mpguerra we decided not to do this in this sprint, because it's not a release blocker, and we've done enough manual testing.

[2022-10-11 00:04] teor2345 commented on #5125
We decided not to do this in this sprint, because it's not a release blocker.

It's still a bug we might want to fix in future, but only if it causes problems.

[2022-10-11 00:11] #5361 closed, assigned to nobody

[2022-10-11 00:11] #5362 closed, assigned to nobody

[2022-10-11 00:31] teor2345 commented on #4955
We're not making changes of this size after tagging the release candidate.

[2022-10-11 00:31] #4955 closed, assigned to nobody

[2022-10-11 00:32] teor2345 commented on #4794
We're not making changes of this size after tagging the release candidate.

[2022-10-11 00:34] teor2345 commented on #4976
This doesn't seem to be an issue right now.

[2022-10-11 00:34] #4976 closed, assigned to nobody

[2022-10-11 00:36] teor2345 opened #5376 "Do contextual validation on mempool transactions using the state best tip"
## Motivation

The `getblocktemplate` RPC collects the transactions in the mempool into a block.
That block must be contextually valid based on the best tip in the state.

Edit: This means that each transaction in the mempool must be valid based on the best tip, not any tip.

We'll want a new state request for this.

### Design

Contextual validation:
https://github.com/ZcashFoundation/zebra/blob/

[2022-10-11 00:38] teor2345 commented on #5376
@mpguerra this is part of the getblocktemplate work I was talking about on Slack.

[2022-10-11 08:46] mpguerra commented on #4937
Do we want to do anything else here? I have converted to a tracking issue as all of the issues added to the epic were closed and I have removed from the release candidate epic.
If we don't want to do anything else here we should close this.

[2022-10-11 12:22] mpguerra commented on #3050
@arya2 and @teor2345 seems like we're ready here. Can you coordinate tagging and releasing today?

[2022-10-11 12:51] mpguerra commented on #5305
we need to implement at least one rpc call before we can "hide it" behind a feature

[2022-10-11 13:01] oxarbitrage commented on #5305
The PR https://github.com/ZcashFoundation/zebra/pull/5357 attempt to implement the `getblockcount` and the feature. `getblockcount` was selected as it is really easy an one. (just return the current chain tip height)

I think we should go that way (implementing the feature first) to avoid the refactor (moving code among files) that we will have to do if we use the [supertrait design](https://githu

[2022-10-11 19:42] teor2345 commented on #4937
We've achieved the goals of this ticket within the release candidate scope.

[2022-10-11 19:42] #4937 closed, assigned to arya2, upbqdn, teor2345

[2022-10-11 19:43] teor2345 commented on #3050
Already on it, Arya will do the versions, I will do the changelog

[2022-10-11 19:59] teor2345 opened #5384 "`fake_peer_set::mempool_requests_for_transactions` failed with Nil response"
## Motivation

In PR #5383, `fake_peer_set::mempool_requests_for_transactions` failed with:

_Originally posted by @teor2345 in https://github.com/ZcashFoundation/zebra/issues/5383#issuecomment-1275204946_

## Solution

Just allow a `Nil` response, the other tests cover this case as well.

[2022-10-11 20:11] teor2345 commented on #3096
This is now done, just need to tag the release.

[2022-10-11 20:25] arya2 opened #5385 "Refactor QueuedBlocks and SentHashes fields on StateService to avoid unnecessary utxo removals and re-additions"
## Motivation

In PR https://github.com/ZcashFoundation/zebra/pull/5257 `known_utxos` of queued blocks were added to the sent hashes when blocks are dequeued and sent to the block write task. Removing the UTXOs from `QueuedBlocks` and re-adding them to `SentHashes` can be easily avoided by coupling QueuedBlocks and SentHashes together.

See https://github.com/ZcashFoundation/zebra/pull/5339

[2022-10-11 21:03] teor2345 opened #5386 "Use BestChainUtxo rather than AwaitUtxo in the mempool transaction validator"
## Motivation

The `getblocktemplate` RPC collects the transactions in the mempool into a block.
That block must be contextually valid based on the best tip in the state.

We can't use `AwaitUtxo` for validating mempool transactions, because it gets UTXOs from any chain or any queue.

### Design

Use `BestChainUtxo` rather than `AwaitUtxo` to verify mempool transactions.
(Block transactions should

[2022-10-12 00:37] teor2345 commented on #4794
This is mitigated by #5257, which runs these slow updates in a separate thread.

[2022-10-12 00:40] teor2345 commented on #5125
I know why this is happening now, I've updated the ticket description.

Still not a release blocker.

[2022-10-12 00:41] teor2345 commented on #2564
We're doing fine diagnosing bugs without this

[2022-10-12 00:41] #2564 closed, assigned to nobody

[2022-10-12 00:42] #4591 closed, assigned to nobody

[2022-10-12 00:43] teor2345 commented on #4649
We're not making changes this big while the audit is pending

[2022-10-12 00:43] teor2345 commented on #4992
We're not making major changes to CI at the moment

[2022-10-12 00:43] #4992 closed, assigned to nobody

[2022-10-12 00:44] teor2345 commented on #2972
Duplicate of #5167

[2022-10-12 00:44] #2972 closed, assigned to nobody

[2022-10-12 00:46] teor2345 commented on #5253
We're not making changes like this while the audit is pending

[2022-10-12 00:46] #5253 closed, assigned to nobody

[2022-10-12 00:47] teor2345 commented on #5385
Thanks for opening this ticket!

I'm going to mark it as "not scheduled", because we're not doing changes this large while the audit is pending.

Feel free to re-open it if it's needed for other work, or after the audit fixes are complete.

[2022-10-12 00:47] #5385 closed, assigned to nobody

[2022-10-12 00:47] #5189 closed, assigned to nobody

[2022-10-12 00:48] teor2345 commented on #5199
I'm leaving this open, because we also want to improve CI speed so developers can merge PRs faster.

[2022-10-12 01:17] #3050 closed, assigned to arya2, teor2345

[2022-10-12 18:11] oxarbitrage commented on #5214
I was talking about this with @teor2345 yesterday and we decided to make a pull request/beanch for this so different people can make changes. https://github.com/ZcashFoundation/zebra/pull/5395

[2022-10-12 22:14] teor2345 commented on #4649
This is actually happening and causing CI failures:

https://github.com/ZcashFoundation/zebra/actions/runs/3237875279/jobs/5305448541#step:15:520

[2022-10-13 00:12] teor2345 commented on #5335
@mpguerra this ZIP is now approved. Can we schedule this change in the next sprint, or at the end of this sprint if we have time?

It is an important change to mitigate the ongoing transaction spam on the network.

[2022-10-13 00:18] teor2345 commented on #5336
@dconnolly you wrote in the description:

But the advice in the ZIP is to coordinate deployment of relaying changes with `zcashd` and wallets.

[2022-10-13 01:02] teor2345 commented on #5153
@mpguerra it looks like cost might be a problem, so let's re-check next week, and schedule this in the next sprint if needed?

We can get the CI failure rate down first, move jobs to the main branch, and make the send transaction test faster (#5015).
But then we need this ticket to find out which other jobs we need to speed up.

[2022-10-13 18:56] oxarbitrage opened #5405 "Add a CI workflow for `getblocktemplate-rpcs` feature"
After https://github.com/ZcashFoundation/zebra/pull/5357 gets merged we want to add a workflow into the CI so we can:

- [ ] Build the code inside that feature
- [ ] Run the test code behind this feature

To do this, we'll need to:
- [ ] Add a `getblocktemplate-rpcs` feature to `zebrad` that activates the `zebra-rpc` feature

[2022-10-14 08:56] mpguerra commented on #5302
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/5302?planning-poker) with Zenhub @arya2 @conradoplg @oxarbitrage @teor2345 @upbqdn

[2022-10-14 08:56] mpguerra commented on #5335
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/5335?planning-poker) with Zenhub @arya2 @conradoplg @oxarbitrage @teor2345 @upbqdn

[2022-10-14 08:57] mpguerra commented on #5336
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/5336?planning-poker) with Zenhub @arya2 @conradoplg @oxarbitrage @teor2345 @upbqdn

[2022-10-14 08:57] mpguerra commented on #5376
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/5376?planning-poker) with Zenhub @arya2 @conradoplg @oxarbitrage @teor2345 @upbqdn

[2022-10-14 08:57] mpguerra commented on #5386
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/5386?planning-poker) with Zenhub @arya2 @conradoplg @oxarbitrage @teor2345 @upbqdn

[2022-10-14 08:58] mpguerra commented on #5303
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/5303?planning-poker) with Zenhub @arya2 @conradoplg @oxarbitrage @teor2345 @upbqdn

[2022-10-14 09:06] mpguerra commented on #2654
re-opening for #5377

[2022-10-14 17:13] arya2 commented on #5236
It looks like `zcashd` doesn't support or require submission abbreviations.

[2022-10-15 10:12] daira commented on #5336
This was about mempool *eviction* (i.e. ZIP 401), not relaying.

[2022-10-16 12:02] #5085 closed, assigned to nobody

[2022-10-18 23:04] arya2 opened #5420 "Fix frequent "synced block height too far ahead of the tip: dropped downloaded block" errors"
## Motivation

There are a high number of these logs in [zebra v1.0.0-rc.0's full sync logs](https://github.com/ZcashFoundation/zebra/actions/runs/3259396265/jobs/5374412073#step:6:19731), and there's a comment where the logs are being emitted saying that this error should be very rare during normal operation. (https://github.com/ZcashFoundation/zebra/blob/main/zebrad/src/components/sync/downloads

[2022-10-19 00:33] softminus opened #5421 "sending a `Request::Peers` request to a `zcashd` node results in a spurious `Response::Peers`"
The spurious `Response::Peers` value is unit length and only contains the IP address of the node we connected to. Here's what it looks like:
[code]

Code to reproduce this is at https://github.com/superbaud/zcash-cotyledon/blob/main/src/main.rs

Looking at the `debug.log` from the `zcashd` node, we see:
[code]

and it indeed looks like the spurious `Response::Peers` is from the function `Advertize

[2022-10-19 00:52] teor2345 opened #5422 "Add the Rust compiler version to the bug report metadata"
## Motivation

Bugs like #5091 only happen on some Rust compiler versions, so it would be useful to have the compiler version in the startup and bug report metadata.

[2022-10-19 01:00] teor2345 commented on #5421
Zebra doesn't handle unsolicited address advertisements using the inbound service, for security reasons. If it did, a node could eventually replace all the addresses in its address book, by using large unsolicited requests.

Instead, if there is no active peers request, Zebra caches the last unsolicited peers response from each peer, then uses it to provide a synthetic response to the next peers r

[2022-10-19 01:03] softminus commented on #5421
Yeah, an option to ignore caching altogether would be optimal!

Thanks for explaining this clearly (I found the PR where this was introduced https://github.com/ZcashFoundation/zebra/pull/3294) and it does make sense for the `zebrad` use case, but it's kind of confusing for the seeder use case -- we'd rather get uncached multi-peer responses even if we have to wait for them.

[2022-10-19 01:04] teor2345 commented on #5420
I agree this is a waste of download capacity and sync time.

Increasing the lookahead height will increase Zebra's memory usage, which I'd prefer not to do. And it might not solve the issue, because the syncer will download more blocks in response to the increased lookahead height.

Instead, we could increase the lookahead multiplier in the sync downloader? This allows more lookahead capacity, wit

[2022-10-19 02:32] teor2345 opened #5423 "Tag Zebra 1.0.0-rc.1"
## Motivation

We want to tag the next Zebra release.

[2022-10-19 02:33] teor2345 commented on #5423
This release is currently blocked by:
- removing `zebra-chain` cryptographic implementations that are unused, because they are only for full-node clients

[2022-10-19 03:43] teor2345 opened #5425 "Parallelise note commitment tree point conversions"
## Motivation

We can speed up note commitment tree updates by running point conversions in parallel with tree updates.

### Designs

Run the following operations in parallel rayon iterators or threads:
- each point conversion, or batches of point conversions, in any order, in multiple threads (`cm_x.into()`)
- appending notes, in blockchain order, in a single thread (`self.inner.append(...)`)

We

[2022-10-19 03:44] teor2345 commented on #5425
This is currently optional. We've talked about it a few times, so I wanted to write it down so we had a record.

But I think we can close it, unless we decide we need it to fix #5420, and that #5420 is an important enough fix to schedule soon.

Edit: or we decide we want to fix #5709, which we need to fix before this ticket will help with sync speed.

[2022-10-19 03:45] teor2345 commented on #5420
Parallelising note commitment tree updates (#5425) might also fix this issue, or it might have no impact, it's hard to know until we do it.

[2022-10-19 04:01] teor2345 opened #5426 "Move the send transactions test to the main branch"
## Motivation

The send transactions test is very slow and copies a lot of data.

We want to fix this test in #5015. But until then, we want to move it to the `main` branch.

If we move it to the `main` branch, we'll have a better chance of catching any changes that break this RPC.

### Designs

Move the workflow to `main` like we did in PR #5393.

## Rejected Alternatives

If we turn this test of

[2022-10-19 04:01] teor2345 commented on #5426
@mpguerra this is the slow test we talked about this morning

[2022-10-19 04:34] teor2345 commented on #5302
It's difficult to estimate this ticket when there are two very different alternative designs in it.

[2022-10-19 04:39] teor2345 commented on #5336
This ticket is currently blocked by the deployment of similar changes to wallets.

[2022-10-19 04:55] teor2345 opened #5427 "Document the `MAX_COINBASE_DATA_LEN` consensus rule"
## Motivation

The coinbase data length consensus rule is implemented correctly, but not documented.

### Details

The implementation is confusing, because the code uses hard-coded constants to identify coinbase inputs:
https://github.com/ZcashFoundation/zebra/blob/267db7f956c741c5f4369722eb9aaa0c49c359ac/zebra-chain/src/transparent/serialize.rs#L273-L274

This consensus rule is not documented any

[2022-10-19 04:56] teor2345 commented on #5427
Just opening this ticket so we track this work for later.

[2022-10-19 04:56] #5427 closed, assigned to nobody

[2022-10-19 05:06] teor2345 commented on #5405
@mpguerra this ticket was split out of #5305, can we schedule it in this sprint?

[2022-10-19 07:44] mpguerra commented on #5405
Sure, it will need an estimate though :)

[2022-10-19 10:27] mpguerra commented on #5426
Let's move to main for now and see how it goes

[2022-10-19 10:27] mpguerra commented on #5426
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/5426?planning-poker) with Zenhub @arya2 @conradoplg @oxarbitrage @teor2345 @upbqdn

[2022-10-19 10:28] mpguerra commented on #5405
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/5405?planning-poker) with Zenhub @arya2 @conradoplg @oxarbitrage @teor2345 @upbqdn

[2022-10-19 10:31] mpguerra commented on #5297
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/5297?planning-poker) with Zenhub @arya2 @conradoplg @oxarbitrage @teor2345 @upbqdn

[2022-10-19 10:31] mpguerra commented on #5422
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/5422?planning-poker) with Zenhub @arya2 @conradoplg @oxarbitrage @teor2345 @upbqdn

[2022-10-19 12:01] #5303 closed, assigned to oxarbitrage

[2022-10-19 12:01] #5305 closed, assigned to oxarbitrage

[2022-10-19 12:01] #5316 closed, assigned to gustavovalverde

[2022-10-19 18:16] gustavovalverde opened #5431 "docs: Explain the process to be taken when a code audit is to take place"
## Motivation

We've been defining our release process lately, and this also requires to define a process when auditors are going to start an audit on our code. Even though we can define the process on our own, it would be better to have feedback from our first audit before documenting a process that might change while the audit is happening.

## Related Work

https://github.com/ZcashFoundation/ze

[2022-10-19 19:07] teor2345 commented on #5259
The audit tag and branch part got split into ticket #5431 and PR #5395.

[2022-10-19 19:31] #5259 closed, assigned to arya2, teor2345, gustavovalverde

[2022-10-19 19:50] #3138 closed, assigned to nobody

[2022-10-20 08:41] teor2345 commented on #5235
This is the default testnet `getblocktemplate` response from `zcashd`.

It contains the following undocumented fields:
- `capabilities`: fixed value `proposal`
- `transactions.*.authdigest`: the authdigest value for the block or transaction
- `coinbasetxn`: format is undocumented, appears to be the same as a single entry in `transactions`

This makes it more likely that other parts of the document

[2022-10-20 08:56] teor2345 commented on #5235
This is the default mainnet `getblocktemplate` response from `zcashd`, with no mempool transactions.

[code]

[code]

[2022-10-20 09:05] teor2345 commented on #5235
This is the default mainnet `getblocktemplate` response from `zcashd`, with some mempool transactions.

I replaced 3.6 MB of hex encoded transaction data with `...`.

[code]

[code]

[2022-10-20 09:40] mpguerra commented on #2654
Closing for now. See [test-block-commit-service](https://github.com/ZcashFoundation/zebra/tree/test-block-commit-service) for draft solution in case we want to pick this up again in future.

[2022-10-20 09:40] #2654 closed, assigned to upbqdn, teor2345

[2022-10-20 09:42] mpguerra commented on #4464
reopening for #5430

[2022-10-20 13:25] mpguerra opened #5436 "Broken link in Zebra documentation Config section"
## Description

In the `zebrad` config section of the [documentation](https://doc.zebra.zfnd.org/zebrad/config/struct.ZebradConfig.html) the `ConsensusSection` link gives a `404 not found` error.

### Steps to Reproduce

Go to https://doc.zebra.zfnd.org/zebrad/config/struct.ZebradConfig.html and click on `ConsensusSection`

![screenshot_from_2022-10-20_06-10-47](https://user-images.githubuserconte

[2022-10-20 15:16] upbqdn commented on #2654
The corresponding PR is #5377.

[2022-10-20 19:02] oxarbitrage commented on #5436
In a quick look this is weird. In the internal docs the link is not broken https://doc-internal.zebra.zfnd.org/zebrad/config/struct.ZebradConfig.html

and i was not able to find anything in the code that can be causing it. I saw that zebra-consensus dependency is called with a trailing `/` in zebrad: https://github.com/ZcashFoundation/zebra/blob/main/zebrad/Cargo.toml#L72 while all the others do n

[2022-10-20 19:02] upbqdn opened #5445 "Bump `zcash_proofs` to 0.8.0"
Version 0.8.0 of `zcash_proofs` contains a fix to #5091, so we should start using that version before the next release.

This should also fix:
- #3831
- part of #5091

[2022-10-20 20:27] teor2345 commented on #5421
After thinking about this a bit more, I'm not sure if disabling caching will always work for you. I think there's a race condition.

The problem is that:
- `zcashd` sends unsolicited single-address peers responses, sometimes at the same time as a multi-peer response
- `zcashd` rate-limits multi-peer responses
- Zebra drops unsolicited responses unless there is a pending request for them

If you wa

[2022-10-20 20:29] teor2345 commented on #5445
I added #3831 to this ticket.

[2022-10-20 20:41] #1968 closed, assigned to nobody

[2022-10-20 22:40] teor2345 commented on #5236
@arya2 do miners rely on the error values returned by `submitblock`?

If they don't, we can just return a generic error.

If they do, we could try implementing the errors by changing the existing BoxError returned by zebra-consensus and zebra-state?

Most of the error statuses can be added using a quick in-memory function call. And they only need to be added when there is an error or chain fork, s

[2022-10-21 01:06] teor2345 commented on #5436
This seems like a rustdoc bug, rather than a Zebra bug.

We might be able to work around the bug by naming the types directly, rather than renaming them on import.

For example:
* ConsensusSection -> zebra_consensus::Config

[2022-10-21 01:09] teor2345 opened #5446 "Audit: remove zebra-chain cryptographic implementations that are unused"
## Motivation

We want to remove unused full-node or full-wallet cryptographic code in zebra-chain, because it has known bugs. We don't want to spend audit time reviewing it or fixing it at the moment.

We can add it back in later if we need to.

Split out of #5214.

[2022-10-21 01:10] teor2345 commented on #5446
@mpguerra this is an extra part of the audit work that we decided at the foundation sync this week.

It would probably block the next release.

[2022-10-21 01:20] #5431 closed, assigned to nobody

[2022-10-21 02:33] teor2345 opened #5449 "getblock: return the `valuesPools` and `chainSupply` fields"
## Motivation

We've had a request to add the `valuePools` field to the `getblock` RPC response, to support a Zcash dashboard:

https://discord.com/channels/676527656170160146/913808952997863434/1032724714805800990

This field is supplied by `zcashd` when `verbosity >= 1`.

### Specifications

https://github.com/zcash/zcash/blob/99ad6fdc3a549ab510422820eea5e5ce9f60a5fd/src/rpc/blockchain.cpp#L773-

[2022-10-21 06:01] #5268 closed, assigned to oxarbitrage

[2022-10-21 08:39] mpguerra commented on #3096
Reopening with the changes to the dependencies audit

[2022-10-21 12:55] mpguerra commented on #5446
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/5446?planning-poker) with Zenhub @arya2 @conradoplg @dconnolly @oxarbitrage @teor2345 @upbqdn

[2022-10-21 12:55] mpguerra commented on #5445
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/5445?planning-poker) with Zenhub @arya2 @conradoplg @dconnolly @oxarbitrage @teor2345 @upbqdn

[2022-10-21 13:43] oxarbitrage commented on #5235
Draft of the split we want to do to implement this method:

Goal : Create a default `getblocktemplate` RPC implementation.

6 tickets total.

This split was chosen because after we introduce a very basic `getblocktemplate` RPC call with an empty response (1-) then most of the tickets can be worked in parallel.

### 1- Introduce getblocktemplate

Tasks:

- Add a `getblocktemplate` RPC method behind

[2022-10-21 14:34] oxarbitrage opened #5451 "Introduce `getblocktemplate` RPC method"
Tasks:

- [ ] Add a `getblocktemplate` RPC method behind the `getblocktemplate-rpcs` rust feature.
- [ ] The method should have no arguments.
- [ ] Create the response structure `GetBlockTemplate` with fields: https://github.com/ZcashFoundation/zebra/issues/5235#issuecomment-1285174731
- [ ] Always return an empty `GetBlockTemplate`
- [ ] Test the rpc method is callable and returns a `GetBlockTemp

[2022-10-21 14:37] oxarbitrage opened #5452 "Populate `Blocktemplate` responses with fixed values data"
## Motivation

Several `BlockTemplate`  fields introduced in https://github.com/ZcashFoundation/zebra/issues/5451 are fixed values.

## Tasks

- [ ] Add fixed values to the response of the `getblocktemplate` RPC call. These values should use the relevant Zebra constants, or create a new constant.
  - `version`: `4` - existing block version number constant from block parser
  - `mutable`: `["time",

[2022-10-21 14:40] oxarbitrage opened #5453 "Populate transparent coinbase transaction data for `BlockTemplate`"
## Motivation

The `coinbasetxn`  field of the `BlockTemplate` is a struct:(https://github.com/ZcashFoundation/zebra/issues/5235#issuecomment-1285174731) and can be complex enough to implement it in a separated ticket.

## Specifications

- [x] [NU5 onward] The transaction version number MUST be 4 or 5. If the transaction version number is 4 then the version group ID MUST be 0x892F2085. If the tra

[2022-10-21 14:43] oxarbitrage opened #5454 "Populate transactions of `BlockTemplate`"
## Motivation

The `transactions` field of the `BlockTemplate`  response is an array of `BlockTemplateTx` structure with the transaction data and other fields.

## Tasks

- Create `BlockTemplateTx`
- bring transactions from the mempool and populate the `transactions.data` fields. https://github.com/ZcashFoundation/zebra/issues/5235#issuecomment-1285189453
  - the `depends` field is always an empty

[2022-10-21 14:45] oxarbitrage opened #5455 "Populate `BlockTemplate` fields using a new state request"
## Motivation

Whatever is not fixed values(https://github.com/ZcashFoundation/zebra/issues/5452), coinbase transaction(https://github.com/ZcashFoundation/zebra/issues/5453) or mempool transaction(https://github.com/ZcashFoundation/zebra/issues/5454) will be state or Rust API values.

## Tasks

Return state values in the `getblocktemplate` RPC method response:
* `previousblockhash`
* `height`
* `d

[2022-10-21 14:47] oxarbitrage opened #5456 "Add a miner transparent address config option"
## Tasks

Shielded coinbase is out of scope, most miners don't use it.

- [ ] Add a config containing the miner transparent address to `zebrad.toml`, probably in a new `[mining]` section.
- [ ] Hide the whole mining section in the `getblocktemplate-rpcs` feature if this is possible?

[2022-10-21 14:49] oxarbitrage commented on #5235
Based on https://github.com/ZcashFoundation/zebra/issues/5235#issuecomment-1286981170 i created 6 tickets:

- https://github.com/ZcashFoundation/zebra/issues/5451
- https://github.com/ZcashFoundation/zebra/issues/5452
- https://github.com/ZcashFoundation/zebra/issues/5455
- https://github.com/ZcashFoundation/zebra/issues/5453
- https://github.com/ZcashFoundation/zebra/issues/5454
- https://github.

[2022-10-23 15:16] oxarbitrage commented on #5449
I had been doing some research about this and i think the complexity depends on the fields needed.

The `value_pools` field is available in level 1 verbosity and also in level 2.

Getting the value pools from each transaction is not hard for zebra, i wrote a proof of concept here: https://github.com/ZcashFoundation/zebra/compare/issue5449?expand=1

It also displays the transacions as json (somethi

[2022-10-24 02:14] teor2345 commented on #5455
@oxarbitrage I think the fields we need here are:

New state request based on recent best blocks:
* `previousblockhash`
* `height`
* `defaultroots`
  * `chainhistoryroot`
* `target` (same as `bits`, but in a different format)
* `mintime`

Standard library time function:
* `curtime`

Can I edit the ticket, or did you want to?

[2022-10-24 02:15] teor2345 commented on #5453
@oxarbitrage I think the coinbase transaction depends on the transactions from ticket #5454, and the miner address from ticket #5456, because it includes the transaction fee, and pays the miner reward and fee to the miner.

[2022-10-24 02:18] teor2345 commented on #5453
Here are the fields that are calculated from the transactions, including the coinbase transaction:
* `defaultroots`
  * `authdataroot`
  * `merkleroot`

And here are the fields that are calculated from the transactions, and the state request in #5455:
* `defaultroots`
  * `blockcommitmentshash` (same value for `lightclientroothash`, `finalsaplingroothash`, and `blockcommitmentshash`)

Can I edit t

[2022-10-24 02:21] teor2345 commented on #5449
The `valueDelta` field means "the change in the chain value pool", which is what your proof of concept is showing.

The `chainValue` field is the total value pool for the entire chain after the block or transaction. To support this field, we'll need to change the database to store the chain value pools for every height.

[2022-10-24 02:24] oxarbitrage commented on #5455
Please feel free to edit any of the getblocktemplate tickets. I did some some work already in the [first one](https://github.com/ZcashFoundation/zebra/issues/5451) but none in the rest of them.

[2022-10-24 05:07] teor2345 commented on #5234
I checked `s-nomp` to see which RPCs it actually uses:

Current scope:
- getblocktemplate - `s-nomp` and `node-stratum-pool`
- submitblock - `node-stratum-pool`
- getblockcount - `node-stratum-pool`
- getblocksubsidy - might be optional in `node-stratum-pool`, falls back to `getblocktemplate`
- getblockhash - no

Other mining RPCs:
- [getinfo](https://zcash.github.io/rpc/getinfo.html) - uses field

[2022-10-24 05:33] teor2345 opened #5466 "Return an error from getblocktemplate if Zebra isn't synced to the tip"
## Motivation

`s-nomp` uses `getblocktemplate` to check if the node is synced to the tip:
https://github.com/s-nomp/node-stratum-pool/blob/d86ae73f8ff968d9355bb61aac05e0ebef36ccb5/lib/pool.js#L140

### Designs

- Use a `SyncStatus` to check that Zebra has finished syncing
- Allow the same clock skew as the Zcash network, which is 100 blocks, based on the standard rule:

https://zips.z.cash/protoc

[2022-10-24 05:34] teor2345 commented on #5235
I just checked the `s-nomp` code, `getblocktemplate` also needs to return an error if Zebra isn't synced yet:
- #5466

[2022-10-24 09:33] teor2345 commented on #5453
I think we might want to open another ticket for shielded coinbase, most of the existing coinbase transactions are transparent. (All the funding streams are transparent, and almost all miner payments are transparent.)

[2022-10-24 12:05] oxarbitrage commented on #5449
Yea, i was imagining that will be the case but just have the fields upside down.

This is a bit harder to do but i think we can do it, if we really want it. Before doing that we should ask what other fields will be needed so we can estimate their complexity. And we should also decide if we want to do it, and if so, if we want to do it now.

[2022-10-24 12:45] mpguerra commented on #5449
We definitely don't want to do this until we've finished #5234

[2022-10-24 13:16] mpguerra commented on #3831
removing from sprint as it seems like doing #5445 will fix this

[2022-10-24 13:27] mpguerra commented on #5420
Do we know why this has started happening now?

[2022-10-24 14:50] mpguerra commented on #5453
Let's open the issue, however I'm not sure that we need to do this as part of an MVP for the getblocktemplate work.

[2022-10-24 14:51] mpguerra commented on #5451
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/5451?planning-poker) with Zenhub @arya2 @conradoplg @dconnolly @oxarbitrage @teor2345 @upbqdn

[2022-10-24 14:52] mpguerra commented on #5452
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/5452?planning-poker) with Zenhub @arya2 @conradoplg @dconnolly @oxarbitrage @teor2345 @upbqdn

[2022-10-24 14:52] mpguerra commented on #5455
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/5455?planning-poker) with Zenhub @arya2 @conradoplg @dconnolly @oxarbitrage @teor2345 @upbqdn

[2022-10-24 14:52] mpguerra commented on #5453
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/5453?planning-poker) with Zenhub @arya2 @conradoplg @dconnolly @oxarbitrage @teor2345 @upbqdn

[2022-10-24 14:53] mpguerra commented on #5454
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/5454?planning-poker) with Zenhub @arya2 @conradoplg @dconnolly @oxarbitrage @teor2345 @upbqdn

[2022-10-24 14:53] mpguerra commented on #5456
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/5456?planning-poker) with Zenhub @arya2 @conradoplg @dconnolly @oxarbitrage @teor2345 @upbqdn

[2022-10-24 14:54] mpguerra commented on #5466
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/5466?planning-poker) with Zenhub @arya2 @conradoplg @dconnolly @oxarbitrage @teor2345 @upbqdn

[2022-10-24 14:55] #5420 closed, assigned to nobody

[2022-10-24 15:30] mpguerra commented on #5234
For an MVP, I would stick to the RPCs that are actually in the list of mining RPCs in the rpc [docs](https://zcash.github.io/rpc/), so:

This does not seem like it's strictly mining related

This does not seem like it's strictly mining related

This does not seem like it's strictly mining related

`getdifficulty` does not seem like it's strictly mining related, `getmininginfo` does seem to be mini

[2022-10-24 15:32] mpguerra opened #5468 "Add basic support for `getmininginfo` RPC call"
## Motivation

We want to support the RPCs used by mining pools.

https://zcash.github.io/rpc/getmininginfo.html

## Tasks

`s-nomp` uses the `networkhashps` field for statistics:
- https://github.com/s-nomp/node-stratum-pool/blob/d86ae73f8ff968d9355bb61aac05e0ebef36ccb5/lib/pool.js#L452

This might need a new state request to calculate the network hash rate from recent blocks.

Other mining pools

[2022-10-24 18:09] softminus commented on #5421
That rationale makes sense, and thank you for explaining the moving parts here. Regardless of what action we'll take, these details are very helpful.

I think this would be a pretty invasive change for `zebra-network` which would also force changes for Zebra as well, and I can't really justify that ask, since as I understand it, the benefits would be minimal.

Such a change would *still* require m

[2022-10-24 19:48] #2631 closed, assigned to arya2

[2022-10-24 20:44] upbqdn commented on #5445
When I set the version of `zcash_proofs` to 0.8.0 in `zebra/zebra-consensus/Cargo.toml`, I get this error output:

[code]
I haven't found a workaround yet.

[2022-10-24 20:48] teor2345 commented on #5234
How can we be sure that the RPC docs are accurate for Zcash mining?

As far as I can see, they contain a lot of legacy RPCs that aren't used for Zcash, or aren't required when using `getblocktemplate`. Some of the documentation and fields of individual RPCs are also out of date.

If we don't implement the RPCs it expects, the mining pool software will fail to run. Can we set the scope based on the

[2022-10-24 21:53] #5421 closed, assigned to nobody

[2022-10-24 22:12] conradoplg commented on #5445
I was confused by this since Rust allows linking to multiple versions of the same library, [but](https://github.com/rust-lang/cargo/issues/6584)...

So on a first look I think the only option is either forking x25519-dalek to update the dependency, or submitting a PR for it and waiting for a new release :grimacing:

[2022-10-24 22:22] teor2345 commented on #5445
Can we fork `x25519-dalek` to `ZcashFoundation`, upgrade `zeroize`, then patch the dependency to our fork?
(That way, the `x25519-dalek` PR and `x25519-dalek` release won't block our release.)

This is happening in the `tor` code, so another alternative is to disable that code using `#[cfg(tor)]` (instead of `#[cfg(feature = tor)]`), so it isn't activated when we use `--all-features`.

[2022-10-24 23:38] #5405 closed, assigned to oxarbitrage

[2022-10-25 00:08] teor2345 commented on #5167
@mpguerra @gustavovalverde did you want to split the developer parts of this ticket into a separate ticket?

[2022-10-25 00:16] teor2345 opened #5472 "Enable coinbase funds to be mined to Sapling"
## Motivation

Some miners use shielded coinbase, but it's pretty rare.

### Specifications

https://zips.z.cash/protocol/protocol.pdf#txnconsensus

### Designs

- Accept encoded sapling and unified containing sapling addresses in the miner address config
- Create shielded outputs for miners using the Sapling address, according to the consensus rules
- In the `z_validateaddress` and `z_listunified

[2022-10-25 00:35] teor2345 opened #5473 "Select `getblocktemplate` transactions according to ZIP-317"
## Motivation

We want to select transactions based on ZIP-317.

### Specifications

The block production parts of:
- https://zips.z.cash/zip-0317#block-production
- https://hackmd.io/rgb38M_wSxa9kotyaON1fA (or any actual ZIP updates)

The outdated ZIP-313 might also have some relevant information:
https://zips.z.cash/zip-0313

### Design

When selecting transactions, we should do something simila

[2022-10-25 00:37] teor2345 commented on #5454
I split ZIP-317 transaction selection out of this ticket into #5473.

It seems like separate work, and it depends on some details that the `zcashd` developers haven't decided yet.

[2022-10-25 00:41] teor2345 commented on #5421
Yes, that's correct, the cache is per-connection. A new `Connection` struct is created for each connection, and dropped when the peer disconnects.

Here's the cache implementation:

Struct:
https://github.com/ZcashFoundation/zebra/blob/868ba1325e3d3393c62ba8bc343ff4ab71c28126/zebra-network/src/peer/connection.rs#L465-L472

Store:
https://github.com/ZcashFoundation/zebra/blob/868ba1325e3d3393c62ba8

[2022-10-25 01:16] softminus commented on #5421
Perfect, thank you so much for your support and explanations!

[2022-10-25 04:18] teor2345 commented on #4691
Temporarily resolved by PR #5476 by deleting the buggy code, or moving it into a test-only module.

[2022-10-25 04:18] #4691 closed, assigned to nobody

[2022-10-25 12:22] oxarbitrage commented on #5436
Unfortunately, the refactor we made in https://github.com/ZcashFoundation/zebra/pull/5460 do NOT fix the link issue: https://doc.zebra.zfnd.org/zebrad/config/struct.ZebradConfig.html

[2022-10-26 01:52] arya2 commented on #5236
@teor2345 I'm not sure how the error values are being used, a generic error may be good enough. I added a `check_state_for_duplicate` method that looks at the queued/sent blocks for duplicate-inconclusive and a `SubmitBlock` request that uses it, but we can remove those if they're unnecessary. It might make sense to cache the max height of a block received by the state service so the duplicate che

[2022-10-26 02:52] #5451 closed, assigned to oxarbitrage

[2022-10-26 08:27] mpguerra commented on #5236
let's just go for generic errors for now, I don't think we have enough information yet and if we can save ourselves some time in the implementation better. We can always add more error types later on.

[2022-10-26 10:42] mpguerra commented on #5235
Removing estimate from issue as it is now a tracking issue, estimates of sub-tasks to be taken into account instead