[2021-10-25 22:52] teor2345 commented on #2953
I added this check to the ticket:

Make sure that Zebra's dependency tree only has the upgraded tracing versions, to avoid missed log messages.
(We can use `cargo-tree` to check.)

[2021-10-26 01:30] teor2345 commented on #2953
I updated the ticket for tracing-subscriber 0.3.1, which fixes some build warnings and accidental re-exports.

[2021-10-26 08:12] mpguerra commented on #2717
This is already included in #2952

Closing as duplicate

[2021-10-26 08:12] #2717 closed, assigned to nobody

[2021-10-26 13:42] mpguerra commented on #2379
Moving to Sprint 24 as a final sanity check before we decide to remove it from the NU5 mainnet activation/stable release goal

[2021-10-26 13:45] mpguerra commented on #2857
I did not have these on my radar. I have added them to sprints between now and the end of the year

[2021-10-26 13:47] mpguerra commented on #2857
I moved this to Sprint 24 for one final check before we decide we really don't need to do it

[2021-10-26 14:24] daira commented on #2379
Is this comment on the right issue? The `enable*` flags are independent of the limits on the number of spends, outputs, and actions.

[2021-10-26 21:32] teor2345 commented on #2379
Previously, this ticket had a list of extra Orchard rules we needed to validate.

Once I removed the redundant rule, I renamed the ticket based on the single remaining rule.

[2021-10-27 00:21] #2780 closed, assigned to dconnolly

[2021-10-27 20:27] #2759 closed, assigned to conradoplg

[2021-10-27 21:28] #1850 closed, assigned to teor2345

[2021-10-27 23:46] #2326 closed, assigned to conradoplg

[2021-10-28 01:49] #1851 closed, assigned to teor2345

[2021-10-28 02:49] #2787 closed, assigned to jvff

[2021-10-28 19:23] #2871 closed, assigned to oxarbitrage

[2021-10-29 14:33] conradoplg opened #2971 "Fix crawler.rs doctest"
## Motivation

In https://github.com/ZcashFoundation/zebra/pull/2970/ we temporarily marked the `crawler.rs` doctest as `compile_fail` since it does not compile.

Fix the doctest instead.

This may simply require making the `components` module public, but that will require adding some missing documentation, see https://github.com/ZcashFoundation/zebra/pull/2893

### Specifications

### Designs

##

[2021-10-29 14:38] conradoplg opened #2972 "Make it easy for users to discover how to configure Zebra"
## Motivation

The user documentation can be made more user-friendly. Some suggestions:

- [ ] Make the free disk space requirement more explicit and describe where the state is saved
- [ ] Describe the config options, currently there's just a link to the Rust documentation of the config which is not particularly helpful for end users
- [ ] Make "Zebra Metrics" more user-friendly (i.e. instead of

[2021-10-29 17:43] #2857 closed, assigned to mpguerra

[2021-10-29 19:25] #2870 closed, assigned to conradoplg

[2021-10-31 13:22] rex4539 opened #2979 "listener_peer_limit_default_handshake_ok_then_drop ... FAILED"
zebra latest main (edit: probably commit 6905c79)
macOS 12.1 (21C5021h)
rustc 1.58.0-nightly (e249ce6b2 2021-10-30)
cargo 1.58.0-nightly (6c1bc24b8 2021-10-24)

Steps:
cargo test

Logs:

<details>

[code]

</details>

[2021-10-31 22:30] teor2345 commented on #2130
Duplicate of #2952.

[2021-10-31 22:30] #2130 closed, assigned to nobody

[2021-10-31 22:48] teor2345 opened #2980 "Remove outdated arrayvec dependency used by inferno"
## Motivation

Zebra currently depends on 3 different versions of the `arrayvec` crate.
Some of these versions are more than 2 years old.

If we remove outdated dependencies, Zebra will compile faster, its binaries will be smaller, and it will be more secure.

## Tasks

0. Check that the conflict still exists by removing the `inferno` exception from `deny.toml`, then running `cargo deny check bans

[2021-10-31 22:54] teor2345 opened #2981 "Use the latest bindgen version in zcash_script and rocksdb"
## Motivation

Zebra currently depends on 2 different versions of the `bindgen` crate.

If we remove duplicate dependencies, Zebra will compile faster, and its binaries will be smaller.

## Tasks

1. Make `zcash_script` depend on `bindgen >= 0.58` (or `bindgen >= 0.59`)
2. Upgrade to `rocksdb = 0.17.0`
3. Remove the exceptions for these crates in `deny.toml`.

[2021-10-31 23:13] teor2345 opened #2982 "Upgrade to NU5 testnet 2 versions of librustzcash, zcash_script, orchard, halo2_proofs"
## Motivation

Currently, Zebra and `zcash_script` depend on a git version of the following shared Zcash crates:
- zcash_history
- zcash_primitives
- zcash_note_encryption
- orchard
- incrementalmerkletree
- equihash
- zcash_script

And we depend on pre-NU5 versions of:
- halo2

We need to update to the NU5 testnet 2 versions of these crates.

## Tasks

1. Wait until the `zcashd` team releases 4.7

[2021-10-31 23:19] teor2345 opened #2983 "Upgrade to criterion 0.3.5 or later"
## Motivation

Zebra currently depends on 2 different versions of the `itertools` crate, both via `criterion` 0.3.4.

If we remove duplicate dependencies, Zebra will compile faster, and its binaries will be smaller.

## Tasks

1. Upgrade to criterion 0.3.5, which resolves this duplicate dependency
2. Remove the exceptions for these crates in `deny.toml`.

[2021-10-31 23:29] teor2345 opened #2984 "Remove duplicate owo-colors dependency"
## Motivation

Zebra currently depends on 2 different versions of the `owo-colors` crate, via:
- zebra-test
- color-eyre

If we remove duplicate dependencies, Zebra will compile faster, and its binaries will be smaller.

## Steps

0. Check that the conflict still exists by removing the `owo-colors` exception from `deny.toml`, then running `cargo deny check bans`.

Downgrade `owo-colors`:
1. Make `

[2021-10-31 23:36] teor2345 opened #2985 "Replace outdated tempdir dependency with tempfile"
## Motivation

Zebra currently depends on 2 different versions of the `rand` crate, including an old version via `tempdir`.
The `tempdir` and `rand` dependencies are more than 3 years old.

If we remove outdated dependencies, Zebra will compile faster, its binaries will be smaller, and it will be more secure.

## Tasks

1. Replace `tempdir` with `tempfile::tempdir()`
2. Remove the exceptions for t

[2021-11-01 00:28] teor2345 opened #2988 "Reading state can hang for 10s on macOS"
## Motivation

During some CI runs, reading a pre-populated state database can hang for 5-10 seconds.
These failures only happens on macOS.

### Logs

The database opens quickly.

Zebra logs a message after reading the tip height from database, but this log never happens.
(Or never reaches the test process.)

https://github.com/ZcashFoundation/zebra/runs/4053025010?check_suite_focus=true#step:10:1

[2021-11-01 00:40] teor2345 commented on #2988
I think this was fixed by PRs #2923 and #2924.

The failure is from a new PR based on an outdated PR from 2 weeks ago.

[2021-11-01 00:40] #2988 closed, assigned to nobody

[2021-11-01 00:47] teor2345 commented on #2979
Hi, thanks for this bug report.

We're aware that some tests might fail under heavy load.
We're working on making those tests more reliable over the next few months.

We've also had reports that Zebra can be unreliable on constrained machines, particularly Apple M1 Macs.

Here are some things that you could try:

Does your machine meet the minimum requirements for Zebra?
https://github.com/ZcashFo

[2021-11-01 02:48] rex4539 commented on #2979
I have 50 Mbps bandwidth so that may be it.

`cargo test -- --test-threads=2` helps finish the tests successfully.

[2021-11-01 02:53] teor2345 commented on #2979
Internet bandwidth might impact some of the tests, but Zebra's large sync tests aren't enabled by default.

This specific test only connects to a port it opens on your local machine.

[2021-11-01 02:54] rex4539 opened #2990 "Several crashes when running cargo test"
zebra latest main

Got several crashes after I ran `cargo test -- --test-threads=2`

[Crash logs.zip](https://github.com/ZcashFoundation/zebra/files/7450487/Crash.logs.zip)

[2021-11-01 06:50] teor2345 commented on #2990
Thanks for this bug report!

We need a bit more information to work out what Zebra is doing here.

The commit at the tip of the `main` branch can change multiple times each day.
What git release tag or a git commit hash did you use?

Which directory were you in when you ran that command?

These logs don't contain the terminal output of the tests. We need that output to identify which tests failed.

[2021-11-01 06:56] teor2345 commented on #2990
### Triage notes

For Zebra developers:
- I've marked this as a high priority issue, because it's a crash (not a panic)
- Once we know the working directory, we should run `cargo test -- --test-threads=2` on Linux and macOS and see if we can reproduce the issue
- We should try with nightly and stable Rust

### Partial Backtrace

The top of the call stack for one of the crashes appears to be a NULL

[2021-11-01 06:58] teor2345 commented on #2990
We also need the version of Rust that you're using to compile Zebra.

[2021-11-01 07:22] rex4539 commented on #2990
Commit e9d2ba835ec40de89370a188f7ebc9801769b8e0
rustc 1.58.0-nightly (ff0e14829 2021-10-31)
cargo 1.58.0-nightly (6c1bc24b8 2021-10-24)

Directory that I run the tests from is `~/zebra on branch main` AKA the root of the repo.

Here is the terminal log.

<details>

[code]
</details>

The above log produced the following crashes.

[Crash logs.zip](https://github.com/ZcashFoundation/zebra/files/7451

[2021-11-01 14:32] #2859 closed, assigned to conradoplg, dconnolly, jvff, upbqdn, teor2345, oxarbitrage

[2021-11-01 14:49] mpguerra commented on #2867
Beta release is tagged, closing this tracking issue.

We should still keep an eye on the following issues:

- #1904
- #2655
- #1400

[2021-11-01 14:49] #2867 closed, assigned to nobody

[2021-11-01 16:25] mpguerra commented on #1638
Do we still want to/need to do this?

[2021-11-01 20:25] teor2345 opened #2995 "Speed up Zebra's CI"
## Motivation

Currently, Zebra's CI can take more than an hour to finish.

## Tasks

### CI Cleanup & Scope

- [x] Remove duplicate GitHub actions steps (build step in test jobs & build jobs)
- [x] Review the set of jobs, and which steps are in which jobs
- [x] Review the checks that must pass to merge PRs

### Cargo

- [x] Speed up GitHub actions tests by turning on optimisations (but keep devel

[2021-11-01 20:47] teor2345 commented on #2173
Around September 2022 on testnet, if there is no testnet rollback.

An enum isn't type-safe, so we could accidentally:
- use a large invalid size for a message length
- panic because we're checking the protocol message length limit, but the field isn't a message length

So we need separate structs for each type.

[2021-11-01 22:00] mpguerra commented on #2744
We are done here 🎉

[2021-11-01 22:00] #2744 closed, assigned to nobody

[2021-11-02 00:38] teor2345 commented on #2990
I had a look at the crash reports on my macOS machine, and it looks like they come from expected errors in the tests.

Some of Zebra's tests deliberately cause errors that make Zebra abort with a Rust panic. Then macOS records these aborts as crash reports.

If you are seeing "Crash Reporter" dialogs during Zebra tests, you can disable them using this Terminal.app command:
[code]

[2021-11-02 02:18] teor2345 opened #2998 "Remove outdated hdrhistogram dependencies"
## Motivation

Zebra currently depends on 2 different versions of the `base64` crate via `hdrhistogram`.
One of these versions is about 3 years old.

Zebra also depends on outdated `crossbeam-utils` and `crossbeam-channel` via `hdrhistogram`.

If we remove outdated dependencies, Zebra will compile faster, its binaries will be smaller, and it will be more secure.

## Tasks

0. Check that the confli

[2021-11-02 02:21] teor2345 opened #2999 "Remove outdated http dependencies"
## Motivation

Zebra currently depends on 2 different versions of the `http` crate.
One of these versions is over a year old.

If we remove outdated dependencies, Zebra will compile faster, its binaries will be smaller, and it will be more secure.

## Tasks

0. Check that the conflict still exists by removing the `http` exception from `deny.toml`, then running `cargo deny check bans`.

Upgrade ver

[2021-11-02 02:27] teor2345 opened #3000 "Upgrade to pin-project 1.0.7 or later"
## Motivation

Zebra currently depends on 2 different versions of the `pin-project` crate, via `tower-fallback`, and via many other crates.

If we remove duplicate dependencies, Zebra will compile faster, and its binaries will be smaller.

## Tasks

0. Check that the conflict still exists by removing the `pin-project` exception from `deny.toml`, then running `cargo deny check bans`.
1. Upgrade `to

[2021-11-02 09:59] #2990 closed, assigned to nobody

[2021-11-02 14:09] mpguerra commented on #2362
@dconnolly how does #2041 relate to this issue? Do we need to do it before this one? or is it already covered as part of this issue?

We should either add #2041 to sprint 22, remove the dependency on #2041 for this issue or close #2041 altogether depending on the answer.

[2021-11-02 14:11] #2979 closed, assigned to teor2345

[2021-11-02 14:20] mpguerra opened #3002 "Sapling note decryption implementation"
## Motivation

We need an implementation of sapling note decryption for ZIP-212.

### Specifications

![image](https://user-images.githubusercontent.com/552961/77574886-10e20e00-6ea9-11ea-99ff-c9600523cf55.png)
https://zips.z.cash/protocol/protocol.pdf#saplingdecryptivk

![image](https://user-images.githubusercontent.com/552961/77574913-1c353980-6ea9-11ea-8842-bc48a1ddb2e5.png)
https://zips.z.cash

[2021-11-02 14:21] mpguerra commented on #269
Splitting the decryption part that we need for ZIP-212 into #3002

[2021-11-02 15:14] conradoplg opened #3004 "Fix "the `must_not_suspend` lint is unstable" error in nightly coverage generation"
## Motivation

When generating coverage using nightly rust, compilation fails:

[code]

Fix it and re-enable the coverage generation in CI:
https://github.com/ZcashFoundation/zebra/actions/workflows/coverage.yml

This seems to be an issue in `vergen`, its CI is failing with [the same error](https://github.com/rustyhorde/vergen/runs/4075634239?check_suite_focus=true)

Edit: seems to be solved in th

[2021-11-02 17:10] jvff opened #3005 "Restore default target output path on Windows CI builds"
## Motivation

When Tokio was upgraded (#2994), the CI Windows builds started failing due to insufficient disk space. As a temporary workaround, the target output directory was changed to use a separate larger drive (`C:` instead of `D:`). However, it would be best to not have this workaround, and to just optimize the Zebra build to use less disk space.

## Related Work

#2994 introduced the worka

[2021-11-02 18:46] #2200 closed, assigned to jvff

[2021-11-02 18:46] #1086 closed, assigned to jvff

[2021-11-02 18:46] #2735 closed, assigned to jvff

[2021-11-02 20:29] teor2345 commented on #2083
Duplicate of #2982.

[2021-11-02 20:29] #2083 closed, assigned to nobody

[2021-11-02 20:30] teor2345 commented on #2352
Duplicate of #2952.

[2021-11-02 20:30] #2352 closed, assigned to nobody

[2021-11-02 20:31] teor2345 commented on #2353
Duplicate of #2982.

[2021-11-02 20:31] #2353 closed, assigned to nobody

[2021-11-02 20:55] teor2345 commented on #3004
I expect there will be a new vergen release with this fix some time before the next sprint.

[2021-11-02 22:21] #1889 closed, assigned to oxarbitrage

[2021-11-03 03:19] teor2345 commented on #1904
I spoke to someone who runs a Zebra mainnet node with high uptime.
It looks like their setup should work on DNS seeders and block explorers.

According to the rules posted above: https://github.com/ZcashFoundation/zebra/issues/1904#issuecomment-938212260

So it seems likely that Zebra is implementing some undocumented part of the network protocol differently.
And that's enough to get it rejected f

[2021-11-03 11:24] mpguerra commented on #2654
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2654?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-11-03 11:24] mpguerra commented on #2982
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2982?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-11-03 11:25] mpguerra commented on #2983
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2983?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-11-03 11:25] mpguerra commented on #3000
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3000?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-11-03 11:25] mpguerra commented on #3004
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3004?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-11-03 11:26] mpguerra commented on #3005
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3005?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-11-03 11:27] mpguerra commented on #2496
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2496?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-11-03 11:27] mpguerra commented on #2981
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2981?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-11-03 14:07] conradoplg commented on #1904
Zecmate is showing Zebra nodes: https://explorer.zecmate.com/network

![image](https://user-images.githubusercontent.com/35766/140075409-92284605-b73b-4126-a2fe-40b707bdec41.png)

[2021-11-03 14:26] mpguerra commented on #1904
Updated Blockchair/Blockchair.Support#527 to reference zebra nodes seen in zecmate

[2021-11-03 15:11] mpguerra commented on #2631
Should we close this one? #2694 seems to say that we're not going to follow this design

[2021-11-03 15:18] mpguerra commented on #2707
Quoting @teor2345 from a source external to github:

Anything that we are not validating is therefore an "undocumented mempool transaction validation rule" and as such I will close this issue for now. If we do find any undocumented mempool transaction validation rules we should open a separate issue for each rule that we find.

[2021-11-03 15:18] #2707 closed, assigned to nobody

[2021-11-03 15:36] mpguerra commented on #2309
Mempool MVP is done. We can follow up with outstanding lower priority items outside of this Epic

[2021-11-03 15:36] #2309 closed, assigned to nobody

[2021-11-03 15:55] mpguerra commented on #1853
Going to close this Epic as it seems we have done all critical items here

[2021-11-03 15:55] #1853 closed, assigned to nobody

[2021-11-03 19:36] conradoplg commented on #2984
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2984?planning-poker) with ZenHub @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-11-03 21:50] teor2345 opened #3012 "Security: Use OSRng directly when generating proofs, commitments, and hashes"
## Motivation

In rare circumstances, Rust's `rand::thread_rng()` can provide duplicate random data to different operations.

![image](https://user-images.githubusercontent.com/8951843/140196970-81b8de4d-28f5-4cf0-a7d0-1fe2974a1830.png)

https://hackmd.io/@qedit/zcash-nu5-audit

## Analysis

The OS randomness pool is out-of-scope - that's an issue that needs to be dealt with by the VM or OS softwa

[2021-11-04 00:32] teor2345 commented on #3004
Closed by PR #3010.

I'll turn coverage back on now.

[2021-11-04 00:32] #3004 closed, assigned to nobody

[2021-11-04 00:52] teor2345 commented on #2980
Closed by PRs #3011 and #3013.

[2021-11-04 03:36] teor2345 commented on #829
Obsoleted by #2350

[2021-11-04 03:36] #829 closed, assigned to nobody

[2021-11-04 05:40] teor2345 commented on #2631
That ticket description is outdated - it was based on the initial mempool scope.
Zebra currently rejects spend conflicts in the mempool.

So we should implement this ticket eventually, because it fixes some bugs in our mempool implementation.

[2021-11-04 05:42] teor2345 commented on #2631
I also think we should reset the estimate on this ticket, because a lot of the changes we need are already implemented.

[2021-11-04 05:53] teor2345 commented on #2707
Just for the record, the Bitcoin and `zcashd` mempools cache transactions with missing inputs (orphans), until they can be validated.

For Zebra, we decided on an alternative implementation:
- connect to lots of nodes
- crawl other nodes' mempools periodically
- un-reject transactions with missing outputs when the chain tip block changes

[2021-11-04 05:54] teor2345 opened #3015 "Validate transparent signature operation limits in blocks"
## Motivation

Zebra needs to check per-block limits on transparent signature operations.

## Specification

The Zcash limit is:

This limit is applied to the sum of the sigops in lock (output) and unlock (spend) scripts.

https://github.com/zcash/zips/issues/568

Here are the corresponding Bitcoin rules:
https://en.bitcoin.it/wiki/Protocol_rules#cite_ref-4

## Design Notes

We'll need to modify `

[2021-11-04 06:11] teor2345 commented on #2654
We don't have any post-NU5 checkpoints yet. This ticket is optional until we do.

[2021-11-04 11:34] #2931 closed, assigned to upbqdn

[2021-11-04 17:30] conradoplg commented on #2534
I reviewed the existing contextual validation. What seems to apply to mempool is:

- Checking for double spends (UTXOs, nullifiers)
- Checking for invalid spends (e.g. non-mature coinbase transactions)
- Checking for missing inputs (UTXOs, anchors?)
- Checking for value balance violations (it does not seem possible to validate this in the mempool, but I'm not completely sure)

I believe missing in

[2021-11-04 20:41] teor2345 opened #3016 "Validate "standard transaction" rules derived from Bitcoin in the mempool"
## Motivation

`zcashd` has some "standard" transaction rules that are only applied to the mempool.
These are not consensus rules - they do not apply to transactions mined into blocks.

These rules exist to avoid denial of service risks. They might be less important to Zebra, because our mempool transaction validation is concurrent.

### Standard Mempool Rules

https://discord.com/channels/8092185

[2021-11-04 21:09] teor2345 commented on #2388
We asked the `zcashd` developers, and they said that lock and unlock scripts are only validated during transparent spends.

[2021-11-04 21:09] #2388 closed, assigned to nobody

[2021-11-04 21:20] teor2345 commented on #2534
These missing rules are all low priority, because they allow more transactions than `zcashd`'s mempool.

We could validate these by checking the transaction against the best non-finalized chain.

Here are our current checks:
* UTXO and nullifier double-spends between mempool transactions
* UTXO and nullifier double-spends within each mempool transaction (and mined transaction)
* UTXO that have alr

[2021-11-04 22:24] teor2345 opened #3018 "Rollback NU5 testnet 1, and set consensus parameters for testnet 2"
## Motivation

As part of the `zcashd` mainnet support release, their developers want to change the Orchard circuit on both mainnet and testnet. So we need to rollback testnet to before NU5 activation.

### Specifications

https://zips.z.cash/zip-0252

## Tasks

Consensus parameters:
- change the NU5 testnet consensus branch ID
- change the NU5 testnet activation height

Zebra-specific:
- do a tes

[2021-11-04 22:43] conradoplg commented on #3018
Note that the ZIP-221 history tree, which is stored in state, commits to the consensus branch ID: https://zips.z.cash/zip-0221#tree-node-specification

I guess we'd need to regenerate the state anyway for the rollback, but maybe that warrants also bumping the database version?

[2021-11-04 22:45] teor2345 commented on #3018
I'll update this part of the ticket to say "database version":

Every v5 transaction also commits to the consensus branch ID.

[2021-11-05 08:53] mpguerra opened #3023 "Tag Zebra v1.0.0-beta.1 release"
During Sprint 23, we need to tag the Zebra 1.0.0-beta.1 release for the work completed during [Sprint 22](https://github.com/ZcashFoundation/zebra/milestone/31).

[2021-11-05 08:56] mpguerra opened #3024 "Tag Zebra v1.0.0-beta.2 release"
During Sprint 24, we need to tag the Zebra 1.0.0-beta.2 release for the work completed during [Sprint 23](https://github.com/ZcashFoundation/zebra/milestone/32).

[2021-11-05 08:58] mpguerra opened #3025 "Tag Zebra v1.0.0-beta.3 release"
During Sprint 25, we need to tag the Zebra 1.0.0-beta.3 release for the work completed during [Sprint 24](https://github.com/ZcashFoundation/zebra/milestone/33).

[2021-11-05 14:02] oxarbitrage opened #3026 "Remove founders reward code"
## Motivation

We have founders reward code (https://github.com/ZcashFoundation/zebra/blob/main/zebra-consensus/src/block/subsidy/founders_reward.rs) that we are not using because we checkpoint in Canopy. This code was added to zebra before the Canopy checkpoint was done.

Right now, we have no validation of founders reward, since Canopy the rewards are in the form of funding streams, these are be

[2021-11-05 18:24] #2173 closed, assigned to teor2345

[2021-11-05 21:31] conradoplg opened #3027 "Don't consider the "grace period" when decrypting coinbase outputs"
## Motivation

ZIP-212 specifies that coinbase transaction with Sapling or Orchard outputs must be decryptable with an all-zero outgoing viewing key, and that

We'll use `librustzcash` to implement the decryption in https://github.com/ZcashFoundation/zebra/issues/2362. However, it always allows the "grace period" (some 30K blocks after Canopy activation where the lead byte can be 0x01) and [there

[2021-11-05 21:32] dconnolly opened #3028 "Type Orchard and Sapling note commitment `x`/`u` coordinates instead of a plain `Base` types"
## Scheduling

This task is blocked by ZSA specification and shared Rust crate implementation, which might require changes to the same code.

## Motivation

Currently we have defined the Orchard note commitment x-coordinate as just the 'raw' `pasta_curves::pallas::Base` type that it is, and for Sapling the equivalent u-coordinate is just a `jubjub::Base` type. To transform other types such as `[u8

[2021-11-08 01:49] teor2345 commented on #1869
`zcashd` has a very strict rate limit on `addr` responses. So we can't implement this ticket, because we might discard useful addresses, and never get them back. This is a particular issue on testnet, but it could also happen to mainnet nodes with a small number of initial peers.

Instead, we could eventually implement the DNS seeder retries in #1892.

For the moment, our current peer prioritisati

[2021-11-08 01:57] teor2345 commented on #2757
Duplicate of #2380.

[2021-11-08 01:57] #2757 closed, assigned to nobody

[2021-11-08 02:03] teor2345 commented on #2813
This is a temporary substitute for #2262.

We should try to implement #2262 before NU5 mainnet activation, because we're going to have to do it eventually anyway.

[2021-11-08 02:03] #2813 closed, assigned to nobody

[2021-11-08 07:51] mpguerra commented on #3015
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3015?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-11-08 14:42] jvff commented on #2953
I ran into a few roadblocks trying to update `tracing`. The first issue is that `abscissa-core` hasn't been updated to use the newer version of `tracing-subscriber`, so we'll have to wait for a new release of it. The `master` branch of the [repository](https://github.com/iqlusioninc/abscissa/) has already been [updated](https://github.com/iqlusioninc/abscissa/commit/df52b4daade83c78879a08047396729

[2021-11-08 14:53] mpguerra commented on #2953
I think we should delay until we have all of the required NU5 (and prior) validation in place. Seems like too much effort when there is a lot of other work that is much higher priority than this and definitely needs to get done in the next few sprints

[2021-11-08 18:28] jvff commented on #2953
Just a note for future reference, I think there might be a simpler solution for the `tracing-flame` issue. If we fork the repository (just the `tracing-flame` sub-directory), we can change its dependencies to use the desired versions from `crates.io` instead of being `path` dependencies. This should prevent Cargo from creating separate dependency trees for the same dependencies, but it would mean

[2021-11-08 20:35] teor2345 commented on #2953
I'll reschedule this for sprint 25, we can check if the ecosystem has caught up by then.

I'll also add the checks for the crates Janito mentioned to the list of tasks in the ticket.

[2021-11-08 20:47] teor2345 commented on #3005
Let's do this after we've resolved most of our duplicate dependencies.
If we do it too soon, the build directory could get big again, and we might have to revert it.

[2021-11-08 20:49] teor2345 commented on #2705
We could just link to the GitHub contributors view for now.

It's not perfect, because it doesn't detect PRs submitted for someone else. But it's a quick way to start it off.

[2021-11-08 20:50] teor2345 commented on #2740
I'm wondering if we could just link to the blog posts from the book instead?

[2021-11-08 21:12] oxarbitrage opened #3036 "Validate funding streams sapling addresses"
Right now we are after validating funding stream addresses that are all transparent. However the protocol should support sapling addresses in this slots.

As the change on this transparent addresses can only be done with a network upgrade and this is not happening in Nu5 we plan to make this a low priority issue.

We are adding funding streams validation code in https://github.com/ZcashFoundation/

[2021-11-08 21:45] dconnolly opened #3037 "Download JoinSplit Groth16 verification parameters and load them from disk"
## Motivation

In order to verify Sprout JoinSplit-on-Groth16 proofs, we need to load the public verification parameters, which are several hundred MB in size.

### Specifications

### Designs

- [ ] If not cached, download parameter files in parallel with sync
    - https://github.com/zcash/zcash/blob/49ffee3f20b972dc3aa75e422c67523251cf088b/zcutil/fetch-params.sh
- [ ] Read from disk location
-

[2021-11-08 21:45] #2433 closed, assigned to oxarbitrage

[2021-11-08 21:46] dconnolly commented on #3037
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3037?planning-poker) with ZenHub @conradoplg @jvff @mpguerra @oxarbitrage @upbqdn

[2021-11-08 22:04] dconnolly opened #3038 "Loading large JoinSplit parameters in released Zebra binaries"
## Motivation

The JoinSplit-on-Groth16 parameters are very large, so large that when zcashd is built, they run a [fetch script](https://github.com/zcash/zcash/blob/49ffee3f20b972dc3aa75e422c67523251cf088b/zcutil/fetch-params.sh) to download them first, before compiling them in. We should figure out how Zebra will handle this as part of our build/release process.

### Designs

https://github.com/z

[2021-11-08 23:15] teor2345 commented on #2740
I'd like to do this task after we've made some more decisions about client support, because they will impact dependencies and architecture.

[2021-11-08 23:23] dconnolly commented on #2362
Per #3029, this #2041 is not strictly a blocker to #2362 because we do not need to derive the `OutgoingCipherKey`, as it is only a static value (all zeroes) to validate that consensus rule.

We need to implement #2041 for Orchard and the same for Sapling (but not Sprout) for client work, when we need to derive a non-static key to decrypt notes.

[2021-11-08 23:25] teor2345 commented on #2362
I've removed #2041 from the sprint and left it in the wallet epic.

[2021-11-08 23:33] dconnolly commented on #2362
I am removing https://github.com/zcashfoundation/zebra/issues/269 as a blocker to this issue alone, as we are able to validate this part of ZIP-212 using the function from `zcash_note_encryption` using the static all-zeroes `OutgoingCipherKey` alone, and moving it to the wallet epic.

Everything else in ZIP-212 will require finishing the derivation of the `OutgoingCipherKey` and finishing the Sapl

[2021-11-09 06:47] rex4539 opened #3042 "Zebra validation can be very slow on macOS, and cause very slow syncs"
## Bug Report

version: 1.0.0-beta.0+26.g62bfa15
Zcash network: Mainnet
state version: 10
branch: main
git commit: 62bfa15
commit timestamp: 2021-11-08T22:33:12+00:00
target triple: x86_64-apple-darwin
build profile: debug

It appears the sync is stuck and has entered in a loop. I have tried leaving it sync overnight and still nothing, same loop.

<details>

[code]
</details>

[2021-11-09 09:08] mpguerra opened #3043 "Validate Sprout anchors in non-finalized state"
## Motivation

Once we are calculating the Sprout note commitment trees and tracking the roots of those trees as they exist for a validated block, we can use that to look them up when validating that the anchors in new transaction refer to treestates we have validated.

### Specifications

![image](https://user-images.githubusercontent.com/552961/127063178-31e61209-7833-49e8-8a6d-8a256aa9c155.png)

[2021-11-09 10:12] mpguerra commented on #2740
if we do this we should make sure the existing blog posts are going to be migrated to the new website

[2021-11-09 13:22] conradoplg commented on #3041
Duplicate of https://github.com/ZcashFoundation/zebra/issues/2830?

[2021-11-09 23:23] teor2345 commented on #3041
Ah yes, I moved this ticket from `zcash_script`. So it's literally a duplicate.

[2021-11-09 23:24] teor2345 commented on #2830
Duplicate of #3041.

[2021-11-09 23:24] #2830 closed, assigned to nobody

[2021-11-10 21:48] jvff opened #3046 "Create a `SanitizedMetaAddr` type"
## Motivation

Create a helper type to enforce `MetaAddr` sanitization at compile time. Currently Zebra requires sanitized `MetaAddr`s in a few places, and has assertions to check that inputs are properly sanitized. With the helper type, those assertions could be moved into a single location and the compiler would help figuring out when calls to `MetaAddr::sanitize` are missing.

[2021-11-10 21:50] jvff opened #3047 "Consider implementing `ZcashSerialize` for `PeerServices` wrappers"
## Motivation

`PeerServices` are serialized as part of other types, but it always has to be converted to the appropriate representation.

In order to centralize where the representation is defined, it would make sense to implement `ZcashSerialize` and `ZcashDeserialize` for each serialized `PeerServices` format:
* `PeerServicesU64`
* `PeerServicesCompactSize64`

Then we can use those wrapper type

[2021-11-10 21:57] jvff opened #3048 "Add zebra-network test where all address book peers are outdated"
## Motivation

#3030 implemented a filter for outdated peers, so Zebra stops attempting to connect to peers that are likely unreachable. That PR added some unit tests, but it would be useful to have a separate integration test for it.

The integration test should check the following scenarios:
- What does Zebra do if all its peers are outdated?
  - Zebra should keep crawling for new peers
- What d

[2021-11-10 22:37] teor2345 commented on #3047
Wrapper types are required for this change, because there are multiple `PeerServices` serialization formats.
I've updated the description.

See the details here:
https://github.com/ZcashFoundation/zebra/pull/3021#discussion_r746018604

[2021-11-10 23:51] #1865 closed, assigned to jvff

[2021-11-11 09:46] mpguerra opened #3050 "Tag Zebra 1.0.0-rc.0 stable release candidate"
Once all of the items in #3096 are completed we will tag our first Zebra 1.0.0 stable release to include all of the NU5 (and prior) consensus rule validation and ensure that Zebra actively contributes to the Zcash network by relaying transactions and blocks.

[2021-11-11 17:36] conradoplg commented on #3042
Thank you for the report. Could you provide the logs for a longer time period? (e.g. longer than one hour).

It's also possible to make the log more verbose by adding something like this to the config file:

[code]

[2021-11-11 18:23] rex4539 commented on #3042
How long is enough? 3-4 hours or should I leave it to run overnight?

[2021-11-11 18:59] conradoplg commented on #3042
3-4 hours sounds good!

[2021-11-11 22:18] #2362 closed, assigned to conradoplg

[2021-11-12 00:25] #2681 closed, assigned to teor2345

[2021-11-12 01:08] rex4539 opened #3052 "Confusing error message: Remote peer sent an uninterpretable message: inv with mixed item types"
## Error
[code]

## Metadata
|key|value|
|--|--|
|**version**|1.0.0-beta.0+30.g11b5a33|
|**Zcash network**|Mainnet|
|**state version**|10|
|**branch**|main|
|**git commit**|11b5a33|
|**commit timestamp**|2021-11-10T23:51:22+00:00|
|**target triple**|x86_64-apple-darwin|
|**build profile**|debug|

## SpanTrace

<details>

[code]
</details>

## Backtrace

<details>

[code]
</details>

This is logged

[2021-11-12 01:09] rex4539 commented on #3042
Log is huge -> https://www.dropbox.com/s/bhjx3v0xd6k36t0/debug.log.zip?dl=0

Enjoy :)

[2021-11-12 01:17] rex4539 opened #3053 "Panic during shutdown: transaction verifier is always ready: Closed"
## Error
[code]

## Metadata
|key|value|
|--|--|
|**version**|1.0.0-beta.0+30.g11b5a33|
|**Zcash network**|Mainnet|
|**state version**|10|
|**branch**|main|
|**git commit**|11b5a33|
|**commit timestamp**|2021-11-10T23:51:22+00:00|
|**target triple**|x86_64-apple-darwin|
|**build profile**|debug|
|**location**|/Users/rex/zebra/zebra-consensus/src/block.rs:184:22|

## SpanTrace

<details>

[code]
</

[2021-11-12 01:26] teor2345 commented on #3053
This is a known issue, we're hoping to fix it in tickets #1677 or #1678.

[2021-11-12 01:57] teor2345 commented on #3052
Turns out this isn't actually a panic, but it looks like one.

[2021-11-12 18:20] #338 closed, assigned to oxarbitrage

[2021-11-13 00:24] dconnolly opened #3056 "Switch to zcash/orchard now that upstream changes are merged"
## Motivation

We needed some changes in `orchard` to finish https://github.com/ZcashFoundation/zebra/pull/2645.

Now https://github.com/zcash/orchard/pull/223 is merged, we can switch off our fork back to https://github.com/zcash/orchard

## Related Work

https://github.com/ZcashFoundation/zebra/pull/2645

[2021-11-14 23:34] teor2345 commented on #3056
We expect to have an up-to-date `orchard` for the `zcashd` mainnet support release in the next sprint.

[2021-11-15 07:37] str4d commented on #3037
If you look for / use the same folder as `zcashd` then you may be able to avoid downloading anything at all: `~/.zcash-params`. Likewise, if you download to there, then `zcashd` will also Just Work without any downloading.

I had grand plans to also enable `zcashd` to find the parameters at other predictable locations (so e.g. providing the parameters as a separate Debian package for Debian instal

[2021-11-15 07:40] str4d commented on #3037
The issue I was thinking of is https://github.com/zcash/zcash/issues/3147

[2021-11-15 14:32] #3052 closed, assigned to teor2345

[2021-11-15 20:18] teor2345 commented on #3037
This is the solution I settled on in PR #3057.

This is out of scope for our current sprints - we're focused on validating Sprout before NU5 mainnet activation.

[2021-11-15 20:55] #3015 closed, assigned to teor2345

[2021-11-15 22:31] teor2345 commented on #3042
In these logs, the tip isn't actually stuck. But syncing is very slow:

We can also see that syncing is slow because the logs have repeated timeout errors:

So you might not have enough CPU, RAM, or bandwidth to run Zebra in debug mode, with the default configuration.

@rex4539 can you try:

#### Release build

Can you rebuild Zebra in release mode?

The README has instructions for installing a re

[2021-11-15 22:59] rex4539 commented on #3042
FYI

[code]

<details>

[code]

</details>

[2021-11-15 23:53] teor2345 commented on #3042
@rex4539 please use `lookahead_limit = 800` then.

I've edited my comment above.

[2021-11-15 23:54] teor2345 commented on #3042
We really do recommend you use a release build. It's the build we support and document in the README.

[2021-11-15 23:56] teor2345 commented on #3042
Also, enabling debug logging will slow down Zebra, and make it harder for it to sync. So please turn off debug logging when you're not using it.

[2021-11-16 06:35] teor2345 opened #3061 "Remove duplicate `zcash_proofs` and `sentry` dependencies"
## Motivation

Zebra currently depends on 2 different versions of the `webpki-roots` crate, via the crates:
* `zcash_proofs` -> `minreq`, and
* `sentry` ->` reqwest`.

One of these versions is over 2 years old.

If we remove outdated dependencies, Zebra will compile faster, its binaries will be smaller, and it will be more secure.

## Tasks

0. Check that the conflict still exists by removing the

[2021-11-16 11:34] str4d commented on #3061
`minreq` should only be in your dependency tree if you have the `download-params` feature flag of `zcash_proofs` enabled.

As for it being out of date, currently `zcash_proofs` specifies ` minreq 2`, so cargo should be able to select the most recent version of it (2.4.2 from five months ago).

[2021-11-16 19:47] #2952 closed, assigned to dconnolly

[2021-11-16 21:17] teor2345 commented on #3061
We enable `download-params` so that we can download parameters using `zcash_proofs`.

Thanks, I've removed the "upgrade `minreq` version" tasks.

`minreq` 2.4.2 has a really outdated `webpki-roots` dependency. But Web PKI is not required for either `zcash_proofs` or `sentry`, so we can just turn those optional dependencies off.

[2021-11-17 01:03] teor2345 commented on #2980
This wasn't actually resolved by these PRs.

[2021-11-17 01:11] teor2345 opened #3063 "Upgrade to the latest redjubjub"
## Motivation

Zebra currently depends on 2 different versions of the `jubjub` crate.

If we remove outdated dependencies, Zebra will compile faster, its binaries will be smaller, and it will be more secure.

## Tasks

0. Check that the conflict still exists by removing the `redjubjub` exception from `deny.toml`, then running `cargo deny check bans`.

Upgrade versions:
1. Publish a new `redjubjub`

[2021-11-17 03:26] #2104 closed, assigned to dconnolly

[2021-11-17 05:54] #2105 closed, assigned to dconnolly

[2021-11-17 20:41] conradoplg opened #3068 "Validate block heights and nExpiryHeight"
## Motivation

Currently, Zebra partially enforces a 499_999_999 limit on `Height`:

https://github.com/ZcashFoundation/zebra/blob/128643d81e357157bfb3af3725bac653abfb402e/zebra-chain/src/block/height.rs#L44

It is not enforced here:

https://github.com/ZcashFoundation/zebra/blob/c0c00b3f0d3fbf41e8c96cae41bb635a3e62da33/zebra-chain/src/transaction/serialize.rs#L571

But it is enforced here:

https

[2021-11-17 21:49] conradoplg commented on #3068
Duplicate of https://github.com/ZcashFoundation/zebra/issues/1113

[2021-11-17 21:49] #3068 closed, assigned to nobody

[2021-11-17 22:12] teor2345 opened #3070 "Create a minimal reddsa repo and publish a 0.1.0 release"
## Motivation

We want the `zcashd` team to release versioned `orchard` crates for NU5.

To make that happen, the `zcashd` team needs us to release a versioned `reddsa` crate for NU5. @str4d is happy to make all the code changes, we just need to review and publish them.

This ticket creates `reddsa` from the existing `redjubjub` source code, because that's the quickest way to get it done.

### Out

[2021-11-18 18:06] #2379 closed, assigned to conradoplg

[2021-11-18 21:40] upbqdn opened #3075 "Make the wrapped fields of note commitment tree roots private"
## Motivation

The definition of note commitment tree roots for Sapling and Orchard is currently as follows
https://github.com/ZcashFoundation/zebra/blob/88b09c812a6ac7bc3de9ec9b7155b9ca6910be70/zebra-chain/src/sapling/tree.rs#L85 and https://github.com/ZcashFoundation/zebra/blob/88b09c812a6ac7bc3de9ec9b7155b9ca6910be70/zebra-chain/src/orchard/tree.rs#L99

In order to make the code more ergonomic,

[2021-11-18 22:22] upbqdn commented on #3075
I've tried implementing this. The code will have to be changed on a lot of places, that's why I opened this issue.

[2021-11-18 23:05] #2484 closed, assigned to upbqdn

[2021-11-19 12:28] mpguerra commented on #3023
closed in  #3073

[2021-11-19 12:28] #3023 closed, assigned to mpguerra

[2021-11-19 19:48] oxarbitrage commented on #2387
In this ticket several of the rules are hard to know if we need to implement them and if so how to do it in Zebra.

In Zebra `nExpiryHeight` is of type `Height(u32)`. Each `Height` has a max value of `499_999_999`: https://github.com/ZcashFoundation/zebra/blob/main/zebra-chain/src/block/height.rs#L44

This is always the case in zebra for coinbase and non coinbase transactions by the use of `Height

[2021-11-19 19:59] conradoplg commented on #2387
This is true, but that `Height` limit is supposed to be higher, see https://github.com/ZcashFoundation/zebra/issues/1113. It's also not always being enforced correctly, see https://github.com/ZcashFoundation/zebra/issues/3068

So it's best to explicitly add the 499999999 limit to `nExpiryHeight`, which will be redundant now but it won't be anymore when we increase the `Height` limit.

The same rea

[2021-11-19 21:14] oxarbitrage commented on #2387
Thanks for the replies @conradoplg . Much clear now. I was able to mock a PR with that help.

https://github.com/ZcashFoundation/zebra/pull/3082

It seems this ticket involves 3 rules where the PR is implementing 2 of them. We have pending at least one rule to complete the ticket (more details in the PR).

[2021-11-21 19:16] jvff opened #3083 "Consider refactoring transaction verifier tests to be property tests"
## Motivation

The `zebra-consensus` transaction verifier has many test vectors. They share some common boiler plate code to find a suitable transaction and to call the verifier. It would be interesting to try to refactor some of them in order to try to reduce the amount of test code and run with a larger set of inputs, by:

- collecting common behavior in helper functions
- using property tests w

[2021-11-22 19:14] mpguerra commented on #2882
Is there anything left to do here? I see both ZcashFoundation/btcd#1 and ZcashFoundation/dnsseeder#14 have merged

[2021-11-22 19:26] conradoplg commented on #2882
We just need to deploy it, @teor2345 will walk me through the procedure. Not sure if we need to consider that part of the ticket.

[2021-11-22 22:59] teor2345 commented on #1841
We updated the DNS seeder network protocol versions as part of #2882.

[2021-11-22 23:00] teor2345 commented on #2882
We've deployed the new version!

[2021-11-22 23:00] #2882 closed, assigned to conradoplg

[2021-11-23 05:53] #2389 closed, assigned to jvff

[2021-11-23 09:14] mpguerra opened #3094 "Upgrade blake2b and blake2s dependencies"
## Motivation

We want to update our blake2s_simd and blake2b_simd dependencies to a later version. However we want to wait until orchard, librustzcash, and bellman update their own blake2s_simd dependency to avoid creating a duplicate `blake2` dependency tree

## Related Work

See https://github.com/ZcashFoundation/zebra/pull/3088#pullrequestreview-812819347
and https://github.com/ZcashFoundation

[2021-11-23 09:14] mpguerra opened #3095 "Upgrade blake2b_simd dependency"
## Motivation

We want to update our blake2b_simd dependency to a later version. However we want to wait until orchard updates its own dependencies.

## Related Work

See https://github.com/ZcashFoundation/zebra/pull/3086#pullrequestreview-812814725

[2021-11-23 09:31] mpguerra opened #3096 "Epic: Zebra Release Candidate"
This epic tracks the required tasks for the Zebra release candidate.

## Release Candidate Goals

1. This version of Zebra is a fully-validating node that:
  a.  implements all the (relevant) consensus rules (that we’re aware of),
  b. actively contributes to the Zcash network by relaying transactions and blocks, and
  c. can act as a backend for lightwalletd.
2. Zebra will not have an adverse imp

[2021-11-23 10:28] mpguerra commented on #2523
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2523?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-11-23 10:29] mpguerra commented on #2575
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2575?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-11-23 10:29] mpguerra commented on #2604
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2604?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-11-23 10:29] mpguerra commented on #2653
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2653?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-11-23 10:29] mpguerra commented on #2655
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2655?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-11-23 10:30] mpguerra commented on #2768
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2768?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-11-23 10:30] mpguerra commented on #2812
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2812?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-11-23 10:30] mpguerra commented on #2908
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2908?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-11-23 10:30] mpguerra commented on #2909
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2909?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-11-23 10:30] mpguerra commented on #2930
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2930?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-11-23 10:31] mpguerra commented on #3042
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3042?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-11-23 11:06] mpguerra commented on #636
~Can we consider this issue closed? I see all listed issues and PRs are closed or merged...~

Re-read the issue again, we need to create the docs from the issues and PRs

[2021-11-23 11:12] mpguerra commented on #2092
Both  ZIP-221 (#1567) or ZIP-244 (#2048) are already implemented. If we want to do this again at some point in the future we should re-open this issue.

[2021-11-23 11:12] #2092 closed, assigned to nobody

[2021-11-23 11:13] mpguerra commented on #477
We're pretty much done here, moved any outstanding issues into Testing and Documentation Epics

[2021-11-23 11:13] #477 closed, assigned to nobody

[2021-11-23 11:32] mpguerra commented on #2387
How does this issue relate to #1113? do we need to do #1113 for NU5 mainnet activation? It seems like we might and if so we need to schedule it in for next sprint

[2021-11-23 11:42] mpguerra commented on #428
moved remaining issues out to other epics

[2021-11-23 11:42] #428 closed, assigned to nobody

[2021-11-23 11:43] mpguerra commented on #730
Did we do any of this as part of the mempool work?

[2021-11-23 16:32] rex4539 commented on #3042
Just to note than none of the suggestions helped.

The sync is as slow as before.

I'm still unable to sync.

I don't understand why it's so hard to sync with zebra. zcashd syncs fast for me.

[2021-11-24 00:29] teor2345 commented on #3095
Merged with #3094, because they have to be done together.

[2021-11-24 00:29] #3095 closed, assigned to nobody

[2021-11-24 00:36] teor2345 commented on #2655
No, it's totally ok for peers to rate-limit their mempool responses to us. And that's what `zcashd` seems to do.

[2021-11-24 00:40] teor2345 commented on #2930
I partly fixed this issue by reducing the proptest iterations to `1` on the slowest builds (macOS, Windows, coverage).

[2021-11-24 01:17] teor2345 commented on #3042
When you were using the debug build, the logs showed that your machine was verifying blocks really slowly. That's not surprising, because debug builds are not optimised.

Here are some more things you can try:

1. Verify one block at a time. This reduces RAM and CPU usage.

In `zebrad.toml`:

[code]

2. If that doesn't work, please send us the logs from a release build. We need to check if the ver

[2021-11-24 01:21] teor2345 opened #3101 "Document how to speed up full validation in the README"
## Motivation

We want to document how to speed up Zebra in the README, to help with issues like #3042.

## Tasks

Document additional network requirements:
- must have some peers with a round-trip latency of 4 seconds or less

https://github.com/ZcashFoundation/zebra/blob/f6de7faae118f44f104ca2fc92f8cf05ff456897/zebra-network/src/constants.rs#L54

Explain how to speed up full validation in the RE

[2021-11-24 01:57] teor2345 commented on #636
I'm not sure if there's much value in documenting the checkpoint verifier in a separate RFC.

We could improve the code comments, but it doesn't seem like a high priority.

[2021-11-24 02:06] teor2345 commented on #2387
No, we don't need to do #1113 any time soon:
- the coinbase script height won't reach block height 500 million until the year 3000, so we can wait until then to remove the limit
- the expiry height is not checked against the limit, this is already implemented correctly
- the consensus rules for parsing the lock time require this limit, this is already implemented correctly

I'll update that ticket

[2021-11-24 02:10] teor2345 commented on #730
No, we didn't modify those parts of the syncer.

[2021-11-24 03:36] #801 closed, assigned to oxarbitrage

[2021-11-24 03:36] #1162 closed, assigned to oxarbitrage

[2021-11-24 09:55] mpguerra commented on #1917
Adding this one to Sprint 24 for discussion

[2021-11-24 20:15] teor2345 commented on #2768
@mpguerra we already do some tracing in the mempool, so I'm not sure if there is any work we need to do here.

I suggest that we close this ticket, and open tickets when we need specific tracing tasks, like diagnostics or status logging.

[2021-11-24 20:41] teor2345 commented on #1917
We just did the most important part of this ticket in PRs #3069 and #3076.

But I'm happy to discuss the rest.

[2021-11-25 00:05] teor2345 commented on #2226
This is a consensus rule, so I've marked it as a medium priority

[2021-11-25 13:32] daira commented on #2226
It's { 1 .. 5 } in the current spec (which allows block heights ≥ 2<sup>31</sup>).

[2021-11-25 16:26] #3037 closed, assigned to teor2345

[2021-11-25 20:33] teor2345 commented on #1113
Marking this as a security issue, because calculations on block heights near the maximum height can panic.

[2021-11-26 00:37] #2387 closed, assigned to oxarbitrage

[2021-11-26 00:57] teor2345 commented on #1973
This was fixed by PR #3090.

[2021-11-26 00:57] #1973 closed, assigned to nobody

[2021-11-26 00:59] teor2345 commented on #1421
I think we've fixed this issue over time. If there are any frequent messages left, we should open specific tickets or PRs for them.

[2021-11-26 00:59] #1421 closed, assigned to nobody

[2021-11-26 01:03] teor2345 commented on #1429
Our minimum number of open files is high enough for the database and default peer limit.

We could warn users who change the default peer limit, but not the open file limit. But that seems optional.

[2021-11-26 01:07] teor2345 commented on #1875
We did this for the initial peers, so the rest of the task is a low priority.

[2021-11-26 04:32] teor2345 commented on #2226
Thanks, I've updated the ticket.

[2021-11-28 23:24] teor2345 opened #3109 "Stop panicking if a connection has multiple failures"
## Motivation

Currently, Zebra panics if a connection has multiple failures.

In #1610, we describe a complicated refactor that would stop Zebra having multiple failures on the same connection. But this refactor could introduce other bugs.

There's a much simpler solution that avoids the panics.

## Suggested Solution

- [x] if multiple errors happen, log an info-level message instead of panickin

[2021-11-28 23:27] teor2345 commented on #1610
We haven't seen these bugs in a long while.

A big refactor is really risky, so I'm not sure if we should do it.
I'd prefer to do smaller refactors after NU5 activation.

I think there's a much simpler alternative to this ticket for now:
https://github.com/ZcashFoundation/zebra/issues/3109

[2021-11-28 23:41] teor2345 opened #3110 "Cache unsolicited Peers responses until needed"
## Motivation

Zebra currently drops unsolicited `Peers` responses. `zcashd` sends an `Peers` response soon after the connection opens, then it ignores `Peers` requests for a long while.

This network protocol mismatch sometimes makes Zebra hang on startup, or sync really slowly.

### Specifications

This behavior is unspecified.

### Suggested Solution

- Cache the latest unsolicited `Peers` resp

[2021-11-28 23:45] teor2345 commented on #1429
Actually, thinking about this a bit more, it's still a usability issue, but not with the default config. So we should fix it if we have time.

[2021-11-28 23:52] teor2345 opened #3111 "Log git metadata and platform info when `zebrad` starts up"
## Motivation

Sometimes it is hard to diagnose user bug reports, because we don't know what platform or build they're running with.

### Scheduling

This change is not required for the first release candidate. But it will eventually become a problem for bug reports.

## Suggested Solution

- If the `zebrad` command is a server command, log the panic metadata at info level

### Existing Code

Pani

[2021-11-29 00:27] teor2345 opened #3112 "Disable circuit parameter preloads in `zebrad` acceptance tests"
## Motivation

Every `zebrad` instance preloads 1 GB of Sprout and Sapling parameters, so they are ready when it does full transaction validation.

But the `zebrad` acceptance tests only load checkpointed blocks, so these preloads just slow down CI.

### Suggested Fix

- [ ] Add a `debug_skip_parameter_preload` option to `zebra-consensus`
- [ ] Set it to `true` when the parameters aren't used:

[2021-11-29 00:47] teor2345 opened #3113 "Regularly yield to other `zebrad` async tasks"
## Motivation

`tokio` tasks can run for a long time before yielding to other tasks on the same thread. The executor attempts to compensate by adding extra yield points. But the defaults don't always work for Zebra.

This can cause some Zebra tasks to hang for long periods of time. So we might want to add some extra yield points to Zebra.

### Tokio Documentation

Summary:
https://docs.rs/tokio/1.

[2021-11-29 00:53] teor2345 opened #3114 "Spawn the syncer as an async task"
## Motivation

Zebra's syncer currently runs in the initial async task on the main thread. This means that it is launched and terminated differently to other tasks.

It also shares the thread with more urgent tasks, such as interrupts and signals. But that should be handled by #1351.

### Designs

- Make the `PeerSet` service sync and send (needs a Rust expert)
- Spawn the syncer in a separate tas

[2021-11-29 00:58] teor2345 opened #3115 "Update to the latest compatible versions of all dependencies"
## Motivation

Zebra isn't using the latest versions of its dependencies, because we skipped some dependency updates during the NU5 sprints.

We should update dependencies, to get as many bug and security fixes as possible.

**Note: we've been discussing in Discord how to split this ticket into smaller parts**

### Tasks

- Run `cargo update` to update to the latest versions of each dependency
- R

[2021-11-29 01:44] teor2345 commented on #2450
We haven't seen these for a while, so some code changes or dependency update probably fixed them.

[2021-11-29 01:44] #2450 closed, assigned to nobody

[2021-11-29 21:46] dconnolly commented on #3043
I will help push this forward too

[2021-11-29 21:52] mpguerra commented on #1917
This is done

[2021-11-29 21:52] #1917 closed, assigned to nobody

[2021-11-29 22:06] teor2345 opened #3117 "Stop using private IP addresses by default"
## Motivation

Zebra currently connects to private IP addresses, and advertises them to its peers.

But this is a security issue, because Zebra can be used to probe internal network addresses, and disclose if they're running a Zcash node. Zebra might also overload other internal services with connections. (But we have a rate-limit for this.)

Zebra also discloses the internal IP address of the mac

[2021-11-29 22:50] teor2345 opened #3118 "Stop parsing a block height from the genesis block coinbase data"
## Motivation

Zebra parses the genesis block coinbase data as a coinbase height, but that's not permitted by the spec.

The genesis block coinbase data starts with a 0x04 byte, which is also valid under the "other heights" encoding scheme in the spec. (The first 1+4 bytes correspond to height 520,617,983 under that scheme.) So it's not actually possible to specify an unambiguous encoding for the

[2021-11-29 22:53] teor2345 commented on #2226
`parse_coinbase_height` allows multiple encodings of the same block height. But only the shortest encoding is allowed by the spec.

So it currently allows:
- `0x51` - the only valid height 1 encoding in the consensus rules
- `0x0101` - parsed as height 1, should be an error
- `0x020100` - parsed as height 1, should be an error
- `0x03010000` - parsed as height 1, should be an error
- `0x0401000000

[2021-11-30 10:05] #2485 closed, assigned to upbqdn

[2021-11-30 10:50] mpguerra commented on #3070
We are done here: https://crates.io/crates/reddsa

[2021-11-30 10:50] #3070 closed, assigned to conradoplg, dconnolly, teor2345

[2021-11-30 16:05] #2530 closed, assigned to dconnolly

[2021-11-30 22:27] teor2345 commented on #2226
I just realised the height is little-endian, I've fixed the examples above.

Here is an example that don't use the special one-byte script opcodes:

`parse_coinbase_height` currently allows:
- `0x0111` - the only valid height 17 encoding in the consensus rules
- `0x021100` - parsed as height 17, should be an error
- `0x03110000` - parsed as height 17, should be an error
- `0x0411000000` - parsed a

[2021-12-01 03:59] teor2345 commented on #2107
PR #3120 caused some panics, PR #3124 should fix them.

But we need to implement a permanent fix in this ticket.

[2021-12-01 04:06] teor2345 commented on #3024
Blocked by PR #3124, which should fix Zebra panics during sync.

[2021-12-01 04:08] teor2345 commented on #2107
Actually, the errors re-introduced by #3124 don't close the connection, so this ticket is fixed.

We'll deal with `NotFound` in #2726.

[2021-12-01 04:08] #2107 closed, assigned to teor2345

[2021-12-01 07:25] teor2345 commented on #3024
PR #3124 got merged, but I still need to do a follow-up syncer error fix in PR #3131.

[2021-12-01 14:11] mpguerra opened #3125 "Tracking: Document Zcash consensus rules in Zebra codebase"
## Motivation

We want to ensure that all of the Zcash consensus rules are implemented in Zebra. In order to help us do this, we should document where the Zcash consensus rules are implemented in the Zebra codebase.

This will also help when auditing Zebra.

Tasks for each consensus rule:
- check that the rule is implemented in Zebra
- make sure the latest version of the rule is quoted in the docs

[2021-12-01 18:22] conradoplg opened #3127 "Support batch verification of JoinSplit Groth16 proofs"
## Motivation

For https://github.com/ZcashFoundation/zebra/issues/322 we added JoinSplit on Groth16 verification, but without batch support. The reason for this is that `zcash_proofs` does not return the verification key in a format suitable for batching (we need a `VerificationKey`, and not a `PreparedVerificationKey`).

Add support to batch verification, probably by submitting a PR to `zcash_pr

[2021-12-02 01:06] jvff opened #3130 "`UnreadyService` ignores dropped cancel handles"
## Motivation

The `UnreadyService` allows the request in flight to be cancelled through a `oneshot` channel. However, if the cancel handle (the `oneshot::Sender` endpoint) is dropped, the request isn't cancelled. This can lead to bugs and requests being kept executing when they should have been cancelled.

## Alternatives

1. It might make sense to replace the "cancel handle" with some sort of `L

[2021-12-02 20:54] #3024 closed, assigned to teor2345

[2021-12-02 21:25] teor2345 opened #3133 "Security: Stop RocksDB threads calling unexpected code when `zebrad` exits"
## Description

When I terminate `zebrad start` using Ctrl-C (SIGINT) on Linux, I get pthread errors.

I can reliably generate these errors during startup and the initial peer connections. But they seem much less frequent after initialization.

This is a serious security risk, because calling pure virtual methods is unexpected code execution. So compilers could optimise it into something dangerous

[2021-12-02 23:09] oxarbitrage opened #3134 "Epic: Zebra as a lightwalletd backend"
We want to enable Zebra to act as a lightwalletd backend. In order to do this we will need to expose the minimal subset of JSON-RPC methods required by a lightwalletd server.

This epic will be used to keep track of the items we need to implement to achieve that goal.

## Getting started

zcashd's JSON-RPC interface is mainly JSON-RPC-v1. We plan to use the `jsonrpc_core` Rust crate, because it's

[2021-12-02 23:46] teor2345 commented on #3134
tonic supports gRPC by default, but `zcashd` uses JSON-RPC.

I updated the ticket to add [tonic-rpc](https://github.com/adamrk/tonic-rpc#encodings), which supports JSON-RPC.

The other advantage of `tonic-rpc` is that we can write our RPCs in Rust, rather than using protobuf definitions.

[2021-12-02 23:57] teor2345 commented on #3112
Scheduling this for sprint 25, because it contributed to a CI failure:

https://github.com/ZcashFoundation/zebra/runs/4400724206?check_suite_focus=true#step:14:1727

[2021-12-03 00:08] teor2345 opened #3136 "Decide if we need shorter timeouts on PeerSet fanout requests"
## TODO

After #2214 is done, check if Zebra still has this issue, and decide how important this ticket is.

## Motivation

Zebra does a lot of PeerSet fanouts that never get a reply.

This can contribute to CI failures like:

https://github.com/ZcashFoundation/zebra/runs/4400724206?check_suite_focus=true#step:14:1727

https://github.com/ZcashFoundation/zebra/runs/4400724206?check_suite_focus=true

[2021-12-03 05:16] teor2345 opened #3138 "Split block data into dedicated RocksDB blob files"
## Motivation

We can increase Zebra's speed by splitting RocksDB block and transaction data into separate blob files.

### Specifications

https://github.com/facebook/rocksdb/wiki/BlobDB#api

### Rust API

The current version of the `rocksdb` crate does not have Rust bindings for the blob options:
https://docs.rs/rocksdb/0.17.0/rocksdb/struct.Options.html

So we would have to use the raw option A

[2021-12-03 13:36] mpguerra opened #3140 "Add a JSON-RPC listener port and listener component"
## Motivation

`zcashd`'s JSON-RPC interface is mainly JSON-RPC-v1, but with error handling backported from JSON-RPC-v1.1.

We plan to use [jsonrpc_core](https://docs.rs/jsonrpc-core/18.0.0/jsonrpc_core/) with:
* [jsonrpc_http_server](https://github.com/paritytech/jsonrpc/tree/master/http)
* [jsonrpc-derive](https://github.com/paritytech/jsonrpc/tree/master/derive)

It is async and uses `hyper`, w

[2021-12-03 13:36] mpguerra opened #3141 "Make the JSON-RPC listener port configurable"

[2021-12-03 13:36] mpguerra opened #3142 "getinfo JSON-RPC method"
## Motivation

`lightwalletd` uses the `getinfo` JSON-RPC method.

### Required Fields

The method is documented here: https://zcash.github.io/rpc/getinfo.html

But only the following fields are used by `lightwalletd`: https://github.com/zcash/lightwalletd/blob/master/common/common.go#L91

Field list:
[code]

### Tasks

- Implement the RPC method
    - build: `app_version()`
    - subversion: `USE

[2021-12-03 13:36] mpguerra opened #3143 "getblockchaininfo JSON-RPC method"
## Motivation

`lightwalletd` uses the `getblockchaininfo` JSON-RPC method.

### Dependencies

- [x] #3161

### Required Fields

The method is documented here: https://zcash.github.io/rpc/getblockchaininfo.html

But only the following fields are used by `lightwalletd`: https://github.com/zcash/lightwalletd/blob/master/common/common.go#L70

Field list:
[code]

The `zcashd` code that generates the n

[2021-12-03 13:36] mpguerra opened #3144 "getblock JSON-RPC method"
## Motivation

`lightwalletd` uses the `getblock` JSON-RPC method.

`lightwalletd` caches all the blocks from Sapling activation, asking for them in height order.

So this RPC needs to be fast:
- #3152

### NU5 & Orchard

`lightwalletd` implemented NU5 & Orchard changes here:
- https://github.com/zcash/lightwalletd/pull/367
- https://github.com/zcash/lightwalletd/pull/371
- https://github.com/zcas

[2021-12-03 13:36] mpguerra opened #3145 "getrawtransaction JSON-RPC method"
## Motivation

`lightwalletd` uses the `getrawtransaction` JSON-RPC method in response to wallet queries.

So this RPC needs to be fast:
- #3151
- #3152

### Assumptions

`lightwalletd` doesn't need witnessed mempool transaction IDs for Orchard (`UnminedTxId`).
https://discord.com/channels/809218587167293450/809250822579028008/943326658042163270

### Required Fields

The method is documented here:

[2021-12-03 13:36] mpguerra opened #3146 "sendrawtransaction JSON-RPC method"
## Motivation

`lightwalletd` uses the `sendrawtransaction` JSON-RPC method.

### Design Decisions

`zcashd` puts the transaction in its mempool, so Zebra should do the same thing.

What should we do if we think the transaction is invalid?
- log it at warning level
- If Zebra rejects a transaction that `zcashd` accepts, that's a bug in Zebra we need to fix

Zebra doesn't implement pending transact

[2021-12-03 13:36] mpguerra opened #3147 "getaddresstxids JSON-RPC method"
## Motivation

`lightwalletd` uses the `getaddresstxids` JSON-RPC method.

This method returns the transaction IDs for both spent and unspent transparent outputs: https://github.com/zcash/zcash/blob/c76b756a688bfa0a4396a45355814cdc9f9a47e3/src/main.cpp#L3170

### Requirements

Returned txids are in the order they appear in blocks.
(This ensures that they are topologically sorted.)

### Required Fi

[2021-12-03 13:37] mpguerra opened #3148 "Get addresses from transparent outputs in zcash_script"
## Motivation

`lightwalletd` uses the `getaddresstxids`, `getaddressbalance`, and `getaddressutxos` RPCs.

These RPCs return the transparent address that receives funds from a transparent output:
- #3150

### `zcashd` Implementation

Here is how `zcashd` gets the output addresses using `out.scriptPubKey.AddressHash()`, and builds its address indexes:
- https://github.com/zcash/zcash/blob/c76b756a

[2021-12-03 13:37] mpguerra opened #3149 "Get addresses from transparent outputs"

[2021-12-03 13:37] mpguerra opened #3150 "Add transparent address indexes to zebra-state"
### Motivation

We want to answer transparent address RPCs quickly, so we need new indexes in the finalized state.

### Designs

https://github.com/ZcashFoundation/zebra/blob/main/book/src/dev/rfcs/0005-state-updates.md#rocksdb-data-structures

### Tasks

Implementation:
- [ ] Add the new column family to the finalized state
- [ ] Query the finalized index in the ReadRequest for ReadState, if it's

[2021-12-03 13:37] mpguerra opened #3151 "Store transactions in a separate database index"
## Motivation

`lightwalletd` caches all the blocks from Sapling activation, asking for them in height order. So the block RPC needs to be fast.

## Designs

https://github.com/ZcashFoundation/zebra/blob/main/book/src/dev/rfcs/0005-state-updates.md#rocksdb-data-structures

For good performance, use the RocksDB `multi_get` methods to get all the transactions for a block.

## Tasks

1. Make the chan

[2021-12-03 13:37] mpguerra opened #3152 "Use smaller keys for block and transaction database indexes"
## Designs

https://github.com/ZcashFoundation/zebra/blob/main/book/src/dev/rfcs/0005-state-updates.md#rocksdb-data-structures

## Tasks

1. Make the changes
2. Increment the database version
3. If you created new Rust modules, make sure the regenerate state paths are up to date in https://github.com/ZcashFoundation/zebra/blob/main/.github/workflows/test.yml

[2021-12-03 19:05] conradoplg opened #3153 "Tracking: Improve performance"
## Motivation

There are possible performance improvements in the Zebra code base.

We can estimate or benchmark the impact of each of them and carry them out as needed. We will use #9537 to track implementation of various different benchmarks

The purpose of this ticket is to group existing performance tickets and list any options that don't have issues yet. We should do those if we detect they'r

[2021-12-05 22:20] teor2345 commented on #3153
A lot of tickets tagged I-slow belong in this epic :-)

[2021-12-05 22:36] teor2345 commented on #3112
And another CI failure:
https://github.com/ZcashFoundation/zebra/runs/4408845461?check_suite_focus=true#step:14:1235

[2021-12-05 22:37] teor2345 commented on #3136
This bug contributed to this CI failure:
https://github.com/ZcashFoundation/zebra/runs/4408845461?check_suite_focus=true#step:14:1235

[2021-12-05 22:38] #2226 closed, assigned to oxarbitrage

[2021-12-06 00:40] teor2345 opened #3156 "z_gettreestate JSON-RPC method"
## Motivation

`lightwalletd` uses the `z_gettreestate` JSON-RPC method.

### Dependencies

We need to do these tickets first:
- #3563

### Required Fields

The method is documented here: https://zcash.github.io/rpc/z_gettreestate.html

`lightwalletd` uses either the height or hash arguments, depending on what it has available internally: https://github.com/zcash/lightwalletd/blob/master/frontend/

[2021-12-06 00:52] teor2345 opened #3157 "getaddressbalance JSON-RPC method"
## Motivation

`lightwalletd` uses the `getaddressbalance` JSON-RPC method.

### Required Fields

The method is documented here: https://zcash.github.io/rpc/getaddressbalance.html

`lightwalletd` always uses the multi-address argument format: https://github.com/zcash/lightwalletd/blob/master/frontend/service.go#L341

Request:
[code]

And only these fields are used by `lightwalletd`: https://github

[2021-12-06 00:55] teor2345 opened #3158 "getaddressutxos JSON-RPC method"
## Motivation

`lightwalletd` uses the `getaddressutxos` JSON-RPC method in response to wallet queries, so this RPC needs to be fast.

### Required Fields

The method is documented here: https://zcash.github.io/rpc/getaddressutxos.html

`lightwalletd` always uses the multi-address request, without `chaininfo`: https://github.com/zcash/lightwalletd/blob/master/frontend/service.go#L402

Request:
[co

[2021-12-06 01:20] teor2345 opened #3159 "getbestblockhash JSON-RPC method"
## Motivation

`lightwalletd` uses the `getbestblockhash` JSON-RPC method.

### Required Fields

The method is documented here: https://zcash.github.io/rpc/getbestblockhash.html

These fields are used by `lightwalletd`: https://github.com/zcash/lightwalletd/blob/master/common/common.go#L304

Response:
[code]

This response is not JSON-encoded:
* [jsonrpc type that holds the encoder function](https

[2021-12-06 01:29] teor2345 opened #3160 "getrawmempool JSON-RPC method"
## Motivation

`lightwalletd` uses the `getrawmempool` JSON-RPC method.

### Assumptions

`lightwalletd` doesn't need witnessed mempool transaction IDs for Orchard (`UnminedTxId`).
https://discord.com/channels/809218587167293450/809250822579028008/943326658042163270

### Required Fields

The method is documented here: https://zcash.github.io/rpc/getrawmempool.html

`lightwalletd` always uses the n

[2021-12-06 01:32] teor2345 opened #3161 "Estimate the current chain height from the chain tip and local time"
## Motivation

1. `lightwalletd` uses the current block height estimate.
2. To run a full sync test, we need to know when zebra has reached the consensus best tip.

## API Details

`zcashd` estimates the block height based on:

If it is not in initial block download, or the median time past of the best tip is within 24 hours of the local time:
- the current best tip height.

Otherwise:
- extrapola

[2021-12-06 19:09] #1873 closed, assigned to teor2345

[2021-12-06 19:59] conradoplg commented on #3136
Also here apparently https://github.com/ZcashFoundation/zebra/runs/4430789103?check_suite_focus=true#step:14:1221

[2021-12-06 22:16] teor2345 opened #3165 "Add RPC port and config acceptance tests to CI"
# Motivation

We want to test the RPC port like we test the Zcash, metrics, and tracing ports:
- port query success test
- port conflict test

[2021-12-07 01:26] teor2345 opened #3166 "Turn on optimisation for zcash_proofs and minreq to speed up CI"
## Motivation

Currently, the Zcash Groth16 parameters take 45 minutes to download. This is probably because zcash_proofs and minreq download them one byte at a time, without any optimisation.

So this change is not required, but still very useful, because the parameter changes expire regularly.

### Cargo Reference

Where to put the config file:
https://doc.rust-lang.org/cargo/reference/config.ht

[2021-12-07 02:01] teor2345 commented on #2726
This is required for #2156 - Zebra should send `notfound` as much as possible, so that `inv` routing works efficiently.

[2021-12-07 05:38] teor2345 commented on #1582
Done recently using `cargo deny check bans`.

[2021-12-07 05:38] #1582 closed, assigned to nobody

[2021-12-07 23:15] teor2345 commented on #3134
I removed [tonic](https://github.com/hyperium/tonic) and [tonic-rpc](https://github.com/adamrk/tonic-rpc#encodings) as the preferred option, because they provide gRPC encoded as JSON, not JSON-RPC.

Other async JSON-RPC alternatives are:
- https://github.com/paritytech/jsonrpsee/blob/master/examples/http.rs
- https://docs.rs/tetsy-jsonrpc-http-server/latest/tetsy_jsonrpc_http_server/

But they are

[2021-12-08 13:13] conradoplg commented on #3063
It seems we're only using one version now

[2021-12-08 21:16] teor2345 commented on #2153
Before we start this ticket, we need to find good rate-limits, and work out if the rates should be fixed or dynamic.

[2021-12-08 21:17] teor2345 commented on #2214
Before starting this ticket, we need to decide on the best design for this ticket, because the suggested design is a lot of work.

[2021-12-08 21:19] teor2345 commented on #3063
If it happens again with the Orchard upgrade, we can fix it at that point.

How does this interact with moving the checks from redjubjub to Zebra (#3154)?

[2021-12-08 22:25] teor2345 opened #3174 "Add a JSON-RPC-v2 option to lightwalletd"
## Motivation

`zcashd`'s JSON-RPC interface is mainly JSON-RPC-v1, but with error handling backported from JSON-RPC-v1.1.

But it's hard to find an async rust JSON-RPC-v1 implementation. And that protocol is under-specified anyway: it doesn't deal with error handling.

So we plan to use [jsonrpc_v2](https://docs.rs/jsonrpc-v2/0.10.1/jsonrpc_v2/) with `features = hyper-integration, default-feature

[2021-12-09 00:16] teor2345 commented on #2163
Each initial handshake is a future, so they all run in the same task:
https://github.com/ZcashFoundation/zebra/blob/a6d56b2c08bd2633c62f0f3300ddb0c379a91c9c/zebra-network/src/peer_set/initialize.rs#L292-L300

Instead, we need to spawn a new task to run each future, like this code:
https://github.com/ZcashFoundation/zebra/blob/a6d56b2c08bd2633c62f0f3300ddb0c379a91c9c/zebra-network/src/peer_set/init

[2021-12-09 00:50] teor2345 commented on #3174
This ticket isn't required, because `jsonrpc_core` supports both v1 and v2.

[2021-12-09 00:50] #3174 closed, assigned to nobody

[2021-12-09 02:54] #2262 closed, assigned to jvff

[2021-12-09 16:50] #3043 closed, assigned to upbqdn

[2021-12-09 16:53] conradoplg opened #3179 "Use a `bellman::Proof` instead of a byte array in `Groth16Proof`"
## Motivation

We use a byte array in the `Groth16Proof` struct. However, not every byte array is a well-formed proof (i.e. the encoding of three field elements, as enforced by the `bellman` package). For improved type safety, it would be better to use `bellman::Proof` inside it and parse the proof while parsing the transaction.

However, this requires a lot of code changes:

- A lot of tests expe

[2021-12-09 19:18] upbqdn opened #3182 "Add a state service request type `NoteCommitmentTree` that will fetch the deserialized tree from a chain tip"
This issue is not strictly needed for verifying NU5 consensus.

The request could be used to get the trees to do checks in the transaction verifiers. We may eventually need that for wallet work. The idea is that a wallet can fetch the latest tree from zebrad, use that to trace a path from the root to a new note commitment when it creates a note so that zebrad doesn't have to have access to the wit

[2021-12-09 19:42] teor2345 opened #3183 "Document how we review dependency changes"
## Motivation

In Zebra, we regularly:
* add new dependencies, and
* update dependencies to newer versions.

But each dependency change is a security risk, because dependency code runs in the Zebra process, and some of that code could be `unsafe`. (Or impact performance or privacy.)

So we need to carefully review dependency changes, particularly after we are audited.

### Scheduling

We should sp

[2021-12-09 19:47] teor2345 opened #3184 "Reduce the number of Zebra dependencies, and remove duplicate dependencies"
## Motivation

In Zebra, we have a lot of:
* different crate dependencies, and
* duplicate versions of the same crate dependency.

But each dependency is a security risk, because dependency code runs in the Zebra process, and some of that code could be `unsafe`. (Or impact performance or privacy.) Each dependency also makes compilation and runtime performance slower.

So we need to carefully revie

[2021-12-09 19:49] upbqdn opened #3185 "Add an `Anchor` request type to state service to check if we've seen and validated the requested anchor before"
## Motivation

TODO

This issue is not strictly needed for validating NU5.

## Suggested Solution

The request type should be `Anchor::{Sprout, Sapling, Orchard} -> Result<(), Err>`.

## Related Work

- #3188

[2021-12-09 19:55] teor2345 opened #3186 "Document how we review consensus rule changes after audits"
## Motivation

We are about to finish implementing all the Zcash consensus rules for a validating node, and get Zebra audited. After the audit, we will need to make sure Zebra keeps implementing the same consensus rules.

Consensus rule changes can happen due to:
- spec or ZIP changes
- Zebra consensus rule bugs
- refactors
- dependency updates

### Scheduling

We should spend an hour or two creat

[2021-12-09 20:01] teor2345 opened #3187 "Document how we review network protocol changes after audits"
## Motivation

We have finished implementing the required parts of the Zcash network protocol, and we're going to fix some bugs over the next few weeks. After we get the network code audited, we will need to make sure Zebra keeps implementing a compatible network protocol stack.

Network protocol changes can happen due to:
- ZIP changes
- Zebra network protocol bugs
- refactors
- dependency update

[2021-12-09 20:09] conradoplg commented on #3063
Ah you're right, sorry, after that is done (i.e. we change `zebra-chain` to use `https://github.com/ZcashFoundation/reddsa`), we will have two different versions unless `orchard` updates it too (which will eventually happen).

So basically this ticket is:

- Update `redjubjub`
- Remove the exception from `deny.toml` after `orchard` updates it too

Arguably those are different things, but it's bett

[2021-12-09 20:36] teor2345 opened #3188 "Document how we review mempool behaviour changes after audit"
## Motivation

We have implemented a mempool in Zebra, but we don't know if it is complete, because Zcash mempools are only partly documented. After we get the mempool audited, we will need to make sure Zebra keeps implementing compatible mempool behaviour.

Mempool behaviour changes can happen due to:
- ZIP changes
- spec changes which apply to the mempool (this is usually not documented)
- Zebra

[2021-12-09 22:18] jvff opened #3190 "Idea: Refactor handling of background tasks in `PeerSet`"
## Motivation

The `PeerSet` currently keeps track of some initialization and background tasks necessary for `zebra-network`. These tasks are spawned in `zebra_network::initialize` and passed to the `PeerSet` using a `oneshot` channel. However, this task handling is something that's not core to the main purpose of the `PeerSet` (IMHO, I think the main purpose is to route requests to connected peer

[2021-12-10 01:18] #2163 closed, assigned to oxarbitrage

[2021-12-10 10:18] mpguerra commented on #3012
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3012?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-12-10 10:18] mpguerra commented on #3109
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3109?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-12-10 10:18] mpguerra commented on #3110
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3110?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-12-10 10:19] mpguerra commented on #3112
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3112?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-12-10 10:19] mpguerra commented on #3113
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3113?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-12-10 10:20] mpguerra commented on #3115
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3115?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-12-10 10:21] mpguerra commented on #3127
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3127?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-12-10 10:21] mpguerra commented on #3130
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3130?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-12-10 10:22] mpguerra commented on #3117
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3117?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-12-10 16:33] #322 closed, assigned to conradoplg

[2021-12-10 18:41] conradoplg commented on #3125
Thank you @mpguerra for listing those!

How should we carry out this work?

I think the hardest part is identifying each rule. My suggestion is coming up with a way to create an identifier for each one, and them mention each of them in the code where they are implemented. Then we could maybe create a script or just grep the code to list them all, and compare the list to the full list of rules to m

[2021-12-10 22:35] upbqdn commented on #3125
I like the general idea of having the consensus rules mapped in a one-to-one fashion between the code and the spec by leveraging unique identifiers. I think it might be helpful even if one consensus rule is scattered around multiple places in the codebase.

To me, the consensus rules resemble math definitions, so having a naming system that would allow referring to each rule by its name would be c

[2021-12-12 20:33] teor2345 opened #3198 "Pass the state service and associated chain tip as a struct"
## Motivation

Zebra's services need their chain tips and state service structs to correspond to the same state.

Since there is only one state service in `zebrad start`, this is not an issue for most of our code. The `copy-state` command has two state services, but it doesn't use chain tips. The tests typically use a single state, and they sometimes need to use fake chain tips for testing.

So it

[2021-12-12 22:51] teor2345 opened #3199 "Stop ignoring panics in the peer receiver and heartbeat tasks"
## Motivation

Zebra currently ignores panics in the peer message receiver task, and in the peer heartbeat task.

This can cause security or usability issues, because it can hide bugs, and cause hangs.

### Designs

Add the join handles for these tasks to the `Client`, and poll them for panics during `Client::poll_ready`

https://github.com/ZcashFoundation/zebra/blob/3ddb9f9e59e3c9d477c011c1feb424

[2021-12-13 02:38] teor2345 commented on #3136
There are 4 fanouts in Zebra:
* mempool
* sync obtain tips
* sync extend tips
* candidate set addresses (already has a shorter timeout)

You can see them all here - you might need to search in each file:
https://github.com/ZcashFoundation/zebra/search?q=FANOUT

As part of this PR, we need to test that the peers become ready after the shorter timeout. I think there might be some peer set hang bugs

[2021-12-13 09:50] upbqdn commented on #2425
It looks like we have implemented all tasks in this issue.

[2021-12-13 10:09] mpguerra opened #3201 "Implement a merge queue for Zebra using the bors merge bot"
## Motivation

We want to speed up CI and at the same time ensure that code changes to zebra are merged atomically, so that we know that our main branch always contains a version of the code that has been fully tested.

### Designs

We can do this by having a merge queue for Zebra, using the bors merge bot (see https://kflansburg.com/posts/merge-queues/ for a good intro) and:

1. Adding a staging

[2021-12-13 10:17] #706 closed, assigned to jvff

[2021-12-13 10:50] gustavovalverde commented on #3201
I'll take this part from the proposed strategy, as this was one of the main points I considered an issue when going through the first CI test.
![image](https://user-images.githubusercontent.com/16890942/145796818-fc8d05a6-d1e7-47ae-b816-2de85cce2f8b.png)

And also splitting up tests based on their duration and criticality; this way not all tests are running at the same time, and some can run at pu

[2021-12-13 11:45] mpguerra commented on #3201
I don't think we need to choose any strategies from the article, it just justifies other strategies that don't work as well. As I understand it we just need to configure and set up bors to implement the workflow explained in the first diagram:

![Screenshot 2021-12-13 at 12 44 14](https://user-images.githubusercontent.com/1311133/145806495-9372cd6d-e451-455e-a073-42baf247b772.png)

We can have a c

[2021-12-13 13:58] conradoplg opened #3202 "Bump sha2 from 0.9.8 to 0.10.0 after ECC NU5 crates"
## Motivation

There is a new version of sha2 which doesn't have anything critical that requires an update, but overall we like to keep dependencies up to date. However, since `bip0039`, `bs58`, `ed25519-zebra`, `zcash-primitives` all import `sha2 v0.9.8` we either need to wait for them to update or allow the duplicate dependency with different versions in `deny.toml`.

Wait for the NU5 releases o

[2021-12-13 19:50] #1835 closed, assigned to conradoplg

[2021-12-13 19:51] dconnolly commented on #2425
Done!

[2021-12-13 19:51] #2425 closed, assigned to dconnolly

[2021-12-13 20:24] teor2345 commented on #3201
This is a big benefit of this change. There are a lot of slow tests for code we're not actively working on, so they don't need to be run that often.

But we don't need to do anything different for "push-time" and "opening a PR". For Zebra, we just have two different stages:
* opening or modifying a PR branch
* trying to merge an approved PR to the `main` branch

[2021-12-13 20:59] teor2345 commented on #3125
I don't think we should create our own identifiers, because we would have to maintain them separately with every spec change. But if the `zcashd` developers can commit to maintaining the identifiers in the spec, in the timeframe we need, we could use those.

Otherwise linking to the sub-section is good enough for now.

[2021-12-13 21:37] dconnolly commented on #2549
@conradoplg is going to shepherd this to completion 🙏

[2021-12-13 22:03] conradoplg commented on #3127
I believe this is is nice-to-have but not that important right now:

- I suspect most JoinSplits are pre-Canopy and thus don't need to be verified due to the checkpoint verifier
- The performance gain with the remaining JoinSplits won't be too great since there won't be too many of them.

I'm not 100% sure though. In any case it seems this could be moved out of the sprint if needed.

[2021-12-13 22:14] teor2345 commented on #3127
If we want to skip even more JoinSplits, we can increase the default checkpoint height to just before NU5 activation. (So we don't have to worry about the testnet NU5 rollback.)

[2021-12-14 01:34] teor2345 commented on #3027
The fastest way to fix this issue would be to set the mandatory Zebra checkpoint after the grace period. That way, we never use the incorrect consensus rules from `librustzcash`.

[2021-12-14 05:50] teor2345 opened #3204 "Allow MockServices to return readiness errors"
## Motivation

When testing PR #3200, I wanted to make a service that always returns an error from `poll_ready`.

But `MockService` doesn't seem to have this feature.

## Suggested Tasks

- Allow `MockService`s to return readiness errors
- Add an inner service error test for `UnreadyService`

[2021-12-14 08:29] teor2345 commented on #3201
Here's a rough plan for getting the merge bot working, split into a few stages:
1. Add the merge bot, make it run all the existing tests on PRs and the canary branch, and keep allowing manual merges
2. Add a few high-priority slow tests, if we need them urgently
3. When we're happy with the merge bot, stop allowing manual merges
4. When we have time, turn off some slow tests for PRs, and just run

[2021-12-14 12:34] gustavovalverde commented on #3201
As a quick-win, `bors` merge bot seems like the way to start; I'll be testing to ensure its impact on this project. I agree with these stages @teor2345; we just have to decide which tests to prioritize (and the reasoning behind the prioritization)

[2021-12-14 14:42] upbqdn opened #3205 "Stop panicking when attempting to run multiple Zebra instances"
## Motivation

When a user attempts to run multiple simultaneous instances of Zebra without specifying a different database path for each, all instances except the first one panic because they try to use the same database.

These panics might be alarming to some users.

There are, in fact, five different kinds of such conflicts:
- disk state
- Zcash listener port
- metrics port
- tracing filter po

[2021-12-14 16:38] mpguerra opened #3209 "Document consensus rules from Zcash spec: Section 3.4 Transactions and Treestates"
For each consensus rule:

- check that the rule is implemented in Zebra
- make sure the latest version of the rule is quoted in the docs for the code that implements it
- make sure the code implements the latest version of the rule

## Consensus rule

https://zips.z.cash/protocol/protocol.pdf#transactions

<img width="893" alt="Screenshot 2021-12-17 at 13 47 19" src="https://user-images.githubuser

[2021-12-14 16:38] mpguerra opened #3210 "Document consensus rules from Zcash spec: Section 3.5 JoinSplit Transfers and Descriptions"
For each consensus rule:

- check that the rule is implemented in Zebra
- make sure the latest version of the rule is quoted in the docs for the code that implements it
- make sure the code implements the latest version of the rule

## Consensus rules

https://zips.z.cash/protocol/protocol.pdf#joinsplit
<img width="893" alt="Screenshot 2021-12-17 at 13 44 37" src="https://user-images.githubusercon

[2021-12-14 16:38] mpguerra opened #3211 "Document consensus rules from Zcash spec: Section 3.6 "Spend Transfers, Output Transfers, and their Descriptions""
For each consensus rule:

- check that the rule is implemented in Zebra
- make sure the latest version of the rule is quoted in the docs for the code that implements it
- make sure the code implements the latest version of the rule

## Consensus rules
https://zips.z.cash/protocol/protocol.pdf#spendsandoutputs

<img width="893" alt="Screenshot 2021-12-17 at 13 31 57" src="https://user-images.github

[2021-12-14 16:38] mpguerra opened #3212 "Document consensus rules from Zcash spec: Section 3.7 Action Transfers and their Descriptions"
For each consensus rule:

- check that the rule is implemented in Zebra
- make sure the latest version of the rule is quoted in the docs for the code that implements it
- make sure the code implements the latest version of the rule

## Implementation

This was implemented in #1864 (PR: #1885)

[2021-12-14 16:39] mpguerra opened #3214 "Document consensus rules from Zcash spec: Section 3.9 Nullifier Sets"
For each consensus rule:

- check that the rule is implemented in Zebra
- make sure the latest version of the rule is quoted in the docs for the code that implements it
- make sure the code implements the latest version of the rule

## Consensus rule
https://zips.z.cash/protocol/protocol.pdf#nullifierset
<img width="893" alt="Screenshot 2021-12-16 at 18 08 55" src="https://user-images.githubuserco

[2021-12-14 16:39] mpguerra opened #3215 "Document consensus rules from Zcash spec: Section 4.3 JoinSplit Descriptions"
For each consensus rule:

- check that the rule is implemented in Zebra
- make sure the latest version of the rule is quoted in the docs for the code that implements it
- make sure the code implements the latest version of the rule

## Consensus rule

https://zips.z.cash/protocol/protocol.pdf#joinsplitdesc

<img width="893" alt="Screenshot 2021-12-16 at 17 56 36" src="https://user-images.githubuse

[2021-12-14 16:39] mpguerra opened #3216 "Document consensus rules from Zcash spec: 4.4 Spend Descriptions"
For each consensus rule:

- check that the rule is implemented in Zebra
- make sure the latest version of the rule is quoted in the docs for the code that implements it
- make sure the code implements the latest version of the rule

## Consensus rules
https://zips.z.cash/protocol/protocol.pdf#spenddesc
<img width="893" alt="Screenshot 2021-12-16 at 17 54 31" src="https://user-images.githubusercont

[2021-12-14 16:39] mpguerra opened #3217 "Document consensus rules from Zcash spec: 4.5 Output Descriptions"
For each consensus rule:

- check that the rule is implemented in Zebra
- make sure the latest version of the rule is quoted in the docs for the code that implements it
- make sure the code implements the latest version of the rule

## Consensus rules
https://zips.z.cash/protocol/protocol.pdf#outputdesc

<img width="893" alt="Screenshot 2021-12-16 at 17 50 13" src="https://user-images.githubuserco

[2021-12-14 16:39] mpguerra opened #3218 "Document consensus rules from Zcash spec: 4.6 Action Descriptions"
For each consensus rule:

- check that the rule is implemented in Zebra
- make sure the latest version of the rule is quoted in the docs for the code that implements it
- make sure the code implements the latest version of the rule

## Consensus rules

https://zips.z.cash/protocol/protocol.pdf#actiondesc

<img width="893" alt="Screenshot 2021-12-16 at 17 47 35" src="https://user-images.githubuserc

[2021-12-14 16:39] mpguerra opened #3219 "Document consensus rules from Zcash spec: 4.12 Balance (Sprout)"
For each consensus rule:

- check that the rule is implemented in Zebra
- make sure the latest version of the rule is quoted in the docs for the code that implements it
- make sure the code implements the latest version of the rule

## Consensus rule
https://zips.z.cash/protocol/protocol.pdf#joinsplitbalance
<img width="871" alt="Screenshot 2021-12-16 at 17 26 48" src="https://user-images.githubus

[2021-12-14 16:39] mpguerra opened #3220 "Document consensus rules from Zcash spec: 4.13 Balance and Binding Signature (Sapling)"
For each consensus rule:

- check that the rule is implemented in Zebra
- make sure the latest version of the rule is quoted in the docs for the code that implements it
- make sure the code implements the latest version of the rule

## Consensus rule
https://zips.z.cash/protocol/protocol.pdf#saplingbalance
<img width="871" alt="Screenshot 2021-12-16 at 17 16 54" src="https://user-images.githubuser

[2021-12-14 16:39] mpguerra opened #3221 "Document consensus rules from Zcash spec: 4.14 Balance and Binding Signature (Orchard)"
For each consensus rule:

- check that the rule is implemented in Zebra
- make sure the latest version of the rule is quoted in the docs for the code that implements it
- make sure the code implements the latest version of the rule

## Consensus rule
https://zips.z.cash/protocol/protocol.pdf#orchardbalance

<img width="871" alt="Screenshot 2021-12-16 at 17 09 19" src="https://user-images.githubuse

[2021-12-14 16:39] mpguerra opened #3222 "Document types specified in 7.1 Transaction Encoding and Consensus as part of the consensus rules"
For each consensus rule:

- check that the rule is implemented in Zebra
- make sure the latest version of the rule is quoted in the docs for the code that implements it
- make sure the code implements the latest version of the rule

## Subtasks

- [x] #3420
- [x] #3421
- [x] #3422
- [x] #3423
- [x] #3424

## Zcash transaction format

https://zips.z.cash/protocol/protocol.pdf#txnencoding

### Up to

[2021-12-14 16:39] mpguerra opened #3223 "Document consensus rules from Zcash spec: 7.1.2 Transaction Consensus Rules"
## TODO

Open a [zcash/zips](https://github.com/zcash/zips/) PR to split the spec section into multiple sub-sections. That way, there will be links to each sub-section, and the rules will be easier to find.

## Tasks

For each consensus rule:

- check that the rule is implemented in Zebra
- make sure the latest version of the rule is quoted in the docs for the code that implements it
- make sure t

[2021-12-14 16:39] mpguerra opened #3224 "Document consensus rules from Zcash spec: 7.3 Spend Description Encoding and Consensus"
For each consensus rule:

- check that the rule is implemented in Zebra
- make sure the latest version of the rule is quoted in the docs for the code that implements it
- make sure the code implements the latest version of the rule

## Consensus Rule
https://zips.z.cash/protocol/protocol.pdf#spendencodingandconsensus

<img width="911" alt="Screenshot 2021-12-16 at 15 58 27" src="https://user-image

[2021-12-14 16:39] mpguerra opened #3225 "Document consensus rules from Zcash spec: 7.4 Output Description Encoding and Consensus"
For each consensus rule:

- check that the rule is implemented in Zebra
- make sure the latest version of the rule is quoted in the docs for the code that implements it
- make sure the code implements the latest version of the rule

## Consensus rule

https://zips.z.cash/protocol/protocol.pdf#outputencodingandconsensus

<img width="911" alt="Screenshot 2021-12-16 at 15 51 23" src="https://user-ima

[2021-12-14 16:39] mpguerra opened #3226 "Document consensus rules from Zcash spec: 7.5 Action Description Encoding and Consensus"
For each consensus rule:

- check that the rule is implemented in Zebra
- make sure the latest version of the rule is quoted in the docs for the code that implements it
- make sure the code implements the latest version of the rule

## Consensus rule

https://zips.z.cash/protocol/protocol.pdf#actionencodingandconsensus

<img width="911" alt="Screenshot 2021-12-16 at 15 48 20" src="https://user-ima

[2021-12-14 16:39] mpguerra opened #3227 "Document part of consensus rules from Zcash spec: 7.6 Block Header Encoding and Consensus"
For each consensus rule:

- check that the rule is implemented in Zebra
- make sure the latest version of the rule is quoted in the docs for the code that implements it
- make sure the code implements the latest version of the rule

## Consensus rule

https://zips.z.cash/protocol/protocol.pdf#blockheader
![headerrules1](https://user-images.githubusercontent.com/21685097/147360421-3bf59ae9-e6a6-4cf

[2021-12-14 16:40] mpguerra opened #3228 "Document consensus rules from Zcash spec: 7.10 Payment of Funding Streams"
For each consensus rule:

- check that the rule is implemented in Zebra
- make sure the latest version of the rule is quoted in the docs for the code that implements it
- make sure the code implements the latest version of the rule

## Consensus rule

https://zips.z.cash/protocol/protocol.pdf#fundingstreams

<img width="937" alt="Screenshot 2021-12-16 at 15 26 17" src="https://user-images.githubus

[2021-12-14 17:12] #3166 closed, assigned to conradoplg

[2021-12-14 20:04] teor2345 commented on #3201
In the past week, we merged one PR that broke syncing (see #3206), and almost merged another (#3167). So I'd like to prioritise this ticket:
- #1592

I don't see any other high-priority tickets at this stage.

[2021-12-14 20:21] teor2345 commented on #1113
We might also want to reject blocks with really large heights near u32::MAX, when we parse the coinbase height and expiry height.

That way, if we ever accidentally expect or unwrap the results of Height arithmetic, Zebra won't panic.

I think the largest height we subtract is 100 (coinbase maturity), and the largest height we add is 1 (or maybe 100).

[2021-12-14 21:43] #3112 closed, assigned to oxarbitrage

[2021-12-14 22:22] gustavovalverde commented on #3201
Seems like GitHub's team is also aware of this problem (as a whole) https://github.blog/changelog/2021-10-27-pull-request-merge-queue-limited-beta/

We could sign here, and see if we're lucky enough, to compare it with`bors` https://github.com/features/merge-queue/signup

I don't have access to add the repo, could you help here @teor2345 @dconnolly?

[2021-12-14 23:30] oxarbitrage opened #3229 "Increase `PeerSet` message and peer handling test coverage"
## Motivation

In https://github.com/ZcashFoundation/zebra/issues/2214 we will make some changes on how the `PeerSet` works. We want to have some tests beforehand to isolate other bugs that could be happening in Zebra and are not part of those changes; we also want to make sure this new coverage will keep passing after we introduce the changes.

- [ ] add PeerSet tests that make sure peer::Clients

[2021-12-14 23:33] oxarbitrage opened #3230 "Change `PeerSet` response type to enable peer set fanouts"
## Motivation

We want to handle fanouts inside the peer set.

Some peer set responses will need to contain multiple response messages, so we need to change the peer set response type. But code that deals with individual peers will keep on using single response messages.

In #2214 we will make some changes on how the `PeerSet` works. To reduce the amount of work in a single PR we are splitting in

[2021-12-14 23:40] teor2345 commented on #3201
Good idea! @dconnolly signed us up weeks ago, we haven't heard back.

[2021-12-14 23:46] teor2345 commented on #3025
Currently blocked on PRs that fix serious sync issues:
- #3200
- #3206

[2021-12-15 01:31] teor2345 commented on #2244
Blocked by #2214, because they both change the same code.

[2021-12-15 05:55] teor2345 opened #3232 "Add awaiting response `peer::Connection` tests"
## Motivation

In PR #3200, we added some `peer::Connection` tests, but we didn't test connections that are in `State::AwaitingResponse`.

## Related Work

- #3233

[2021-12-15 05:59] teor2345 opened #3233 "Add outbound message error `peer::Connection` tests"
## Motivation

In PR #3200, we added some `peer::Connection` tests, but we didn't test:
- the `peer_outbound_tx` closing
- the `peer_outbound_tx` getting errors

## Related Work

- #3232
- #3234

[2021-12-15 06:10] teor2345 opened #3234 "Add outbound peer message timeout"
## Motivation

Zebra doesn't impose a timeout when sending messages to the remote peer. (It only has one when receiving them.)

So at the moment, we're relying on the 2 minute disconnection timeout from the OS TCP stack, and Zebra's internal 2 minute peer service disconnection timeout.

## Suggested Design

- Wrap `peer_tx` in a timeout ~~in the handshaker~~
- Handle timeout errors using `fail_wit

[2021-12-15 13:37] mpguerra commented on #3133
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3133?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-12-15 13:37] mpguerra commented on #3136
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3136?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-12-15 13:40] mpguerra commented on #3199
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3199?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-12-15 13:41] mpguerra commented on #3232
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3232?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-12-15 13:41] mpguerra commented on #3233
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3233?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-12-15 13:41] mpguerra commented on #3234
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3234?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-12-15 13:43] mpguerra commented on #3229
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3229?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-12-15 13:44] mpguerra commented on #3230
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3230?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-12-15 14:52] #3109 closed, assigned to teor2345

[2021-12-15 14:52] #3130 closed, assigned to teor2345

[2021-12-15 18:22] upbqdn commented on #1113
The spec says: "_Implementations MUST support block heights up to and including 2^31 −1_."

I would therefore suggest rejecting blocks above u32::MAX / 2. This gives another u32::MAX / 2 - 1 of room for offsets.

Regarding the expiry height, there are a few consensus rules that apply here:
![image](https://user-images.githubusercontent.com/8863307/146240780-e5116833-9a39-4881-9f43-8b468ce0e21a.png

[2021-12-15 20:53] teor2345 opened #3235 "Move syncer block download retries inside the peer set"
## Motivation

In PR #3191, we add a yield to syncer block download retries, so that:
- we're more likely to choose a different peer, and
- any notfound inv entries win the race to the PeerSet

But if we did block download retries within the PeerSet, we could always choose different peers. This would also help us limit retries to the number of available peers.

This prevents a single failing peer

[2021-12-15 21:19] conradoplg opened #3236 "Fix Sprout anchors check"
## Motivation

There are at least two blocks with transactions that fail to validate the Sprout anchor check.

[We disabled the check for now](https://github.com/ZcashFoundation/zebra/pull/3206), but we must investigate the issue, fix it, and restore the check.

One of the transactions is https://explorer.zcha.in/transactions/5e53ebca23efd85774677f342e8dca5493865b3892dcf344c94284fa50d11102, the fi

[2021-12-15 23:27] teor2345 opened #3238 "Use the env var directly for test_fake_activation_heights"
## Motivation

We implement the `test_fake_activation_heights` as a Rust feature via a build script and environmental variable. But Rust features should be additive.

This has a number of issues:
- using a build script is slow, because it has to be re-compiled every time
- using a feature means that we have to re-compile every Zebra crate, which makes the tests slow
- if we use the feature on the

[2021-12-15 23:33] teor2345 opened #3239 "Add retries for the sapling and sprout parameter downloads"
## Motivation

A build of PR #3191 failed with:

Location: zebra-consensus/src/primitives/groth16/params.rs:88

### Designs

- Add a retry to Zebra's parameter downloads
- Only retry the downloads that actually failed

https://github.com/ZcashFoundation/zebra/blob/ea01e305ed0205df7ac47ff757a2036fef576fd5/zebra-consensus/src/primitives/groth16/params.rs#L71

https://github.com/ZcashFoundation/zebra

[2021-12-15 23:47] teor2345 commented on #3229
You'll want a test like this:
https://github.com/ZcashFoundation/zebra/blob/f176bb59a290f31b448f005f6018b466dfac95fc/zebra-network/src/peer_set/unready_service/tests/vectors.rs#L65

But dropping the future returned by:
https://github.com/ZcashFoundation/zebra/blob/f176bb59a290f31b448f005f6018b466dfac95fc/zebra-network/src/peer_set/set.rs#L915

It's ok to use fake `peer::Client`s, because the real

[2021-12-15 23:57] teor2345 opened #3240 "Run async tasks that access AddressBook threaded mutexes on dedicated threads"
## Motivation

`zebra-network` keeps on having hard-to-diagnose hangs. These hangs could be happening because the `AddressBook` uses a threaded mutex, which blocks the executor, and all async tasks scheduled on the same thread.

### Designs

- launch tasks that access the `AddressBook` mutex using `spawn_blocking`, so they get their own dedicated thread
    - if needed, make the method async, or m

[2021-12-16 04:41] teor2345 opened #3242 "Fan out `PushTransaction` requests to multiple peers"
## Motivation

When Zebra pushes user transactions, we want to:
- send the request to multiple distinct peers, and
- prefer peers that *don't* already have the transaction

(Zebra won't push user transactions until it has client integration.)

### Designs

- Update inventory tracker when we send blocks and transactions to peers:
    - `Request::PushTransaction`
    - `Response::Transaction`
    -

[2021-12-16 11:29] mpguerra commented on #1872
I think we're all done here! 🎉

[2021-12-16 11:29] #1872 closed, assigned to nobody

[2021-12-16 11:53] mpguerra commented on #2726
@teor2345 can you please add your estimate to this issue when you get a chance, probably no need to do a planning poker session with the whole team since you're already working on it

[2021-12-16 12:47] conradoplg commented on #3238
The intention was for it to not be a proper Rust feature (e.g. you can't enable it with `all-features`) precisely because it's not additive.

But I agree it's awkward and makes compiling slower, so let's do this :+1:

[2021-12-16 15:37] mpguerra commented on #3222
Not sure if we can do any easy documentation here or if it's all over the codebase...

[2021-12-16 21:03] teor2345 commented on #3222
The format specs should be documented where the types are serialized and deserialized.

[2021-12-16 21:10] #794 closed, assigned to nobody

[2021-12-16 21:10] dconnolly commented on #794
We don't support custom user agents right now

[2021-12-16 21:17] mpguerra commented on #1685
we will create other issues as needed

[2021-12-16 21:17] #1685 closed, assigned to nobody

[2021-12-16 21:20] mpguerra commented on #1870
One for the ziggurat team?

[2021-12-16 21:21] teor2345 opened #3247 "Tracking: Questions for Network Audit"
## Motivation

This tracking issue contains tickets with questions we want to ask during the network audit.

It is blocked by tasks we want to complete before the network audit.

## Issues

- [x] #2167
- [x] #2274
- [x] #2282
    - [x] #2298
    - [ ]  #2299
    - [x] #2300
    - [x] #2448
- [x] #2325
- [x] #1892
- [ ] #1875
- [x] #2153
- [x] #2214
- [x] #1870
- [x] #1904
- [x] #1956
- [ ] Should

[2021-12-16 21:31] #2077 closed, assigned to nobody

[2021-12-16 21:33] mpguerra commented on #2109
We should open individual tickets as we find specific bugs

[2021-12-16 21:33] #2109 closed, assigned to nobody

[2021-12-16 21:39] mpguerra commented on #2176
We've done this already as part of address v2 work

[2021-12-16 21:39] #2176 closed, assigned to nobody

[2021-12-16 21:39] mpguerra commented on #2193
Let's open specific issues as we find specific bugs

[2021-12-16 21:39] #2193 closed, assigned to nobody

[2021-12-16 21:41] teor2345 commented on #2204
Duplicate of #2244

[2021-12-16 21:41] #2204 closed, assigned to nobody

[2021-12-16 21:47] jvff commented on #2261
We've decided to not do this, because we might not have the latest version of the peer's protocol version in the `MetaAddr` stored in the `AddressBook`.

[2021-12-16 21:47] #2261 closed, assigned to nobody

[2021-12-16 21:52] mpguerra commented on #2292
@teor2345 or @jvff can one of you please split this up into a number of issues for re-triage?

[2021-12-16 21:53] teor2345 opened #3248 "Split a `MetaAddrEvent` enum out of `MetaAddrChange`, and turn change into a struct containing an addr and event"

[2021-12-16 21:53] teor2345 opened #3249 "Create a "services implemented by Zebra" constant, and use it to replace `PeerServices::NODE_NETWORK`"

[2021-12-16 21:53] teor2345 opened #3250 "Replace From for DateTime32 and From for Duration32 with the existing from_seconds method"

[2021-12-16 21:53] teor2345 opened #3251 "Make LIVE_PEER_DURATION into a Duration32, and convert to std::time::Duration using into"

[2021-12-16 21:54] mpguerra commented on #2293
We don't want to do this anymore

[2021-12-16 21:54] #2293 closed, assigned to nobody

[2021-12-16 22:35] teor2345 commented on #3223
@mpguerra this is a very large task, so I'd like to split it between multiple people.

We could open a [zcash/zips](https://github.com/zcash/zips/) PR to split the spec section into multiple sub-sections?
That way there will be links to the sub-sections.

[2021-12-17 04:35] teor2345 commented on #1768
Obsoleted by #2156 - if we miss any `inv` items, the `notfound` response will stop us trying that peer again.

[2021-12-17 04:35] #1768 closed, assigned to nobody

[2021-12-17 05:27] teor2345 opened #3254 "Await both the heartbeat request and shutdown channel in the heartbeat task"
## Motivation

We don't detect cancellations when we're waiting for a response from a peer, so this could cause hangs.

https://github.com/ZcashFoundation/zebra/blob/852c5d63bba22ed9547722fdc9bc9b56081dd116/zebra-network/src/peer/handshake.rs#L986-L999

### Specifications

### Designs

## Related Work

[2021-12-17 08:58] mpguerra commented on #3223
We can possibly split it between the people that worked on the listed issues/PRs. Before we start working on this we should double check that there aren't any other issues/PRs that contributed towards implementing this section of the spec.

[2021-12-17 08:59] mpguerra commented on #3223
It would also be nice if these issues could be used by the auditors as a reference and so we should make sure the description is as complete and accurate as possible

[2021-12-17 12:24] mpguerra commented on #3240
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3240?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-12-17 12:24] mpguerra commented on #3236
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3236?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-12-17 12:25] mpguerra commented on #3201
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3201?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn @gustavovalverde

[2021-12-17 12:25] mpguerra commented on #3063
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3063?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-12-17 12:27] mpguerra commented on #3041
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3041?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-12-17 12:27] mpguerra commented on #3239
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3239?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-12-17 16:31] #1389 closed, assigned to teor2345

[2021-12-19 20:54] teor2345 commented on #3063
The `zebrad` team have scheduled a 4.6.0 release before the end of 2021, they plan on tagging beta versions of all their crates as part of that release.

So we should be able to:

during the first sprint of 2022.

[2021-12-19 21:28] teor2345 commented on #3041
If we don't do this, it increases our technical debt and maintenance burden. But it doesn't create any bugs or security issues.

So I think this should be a low priority technical debt fix, outside the scope of the release candidate. (There are a lot higher priority issues in the release candidate.)

[2021-12-19 21:30] teor2345 commented on #3240
FYI this is implemented in PR #3244.

[2021-12-19 22:18] teor2345 commented on #2112
I've marked this as a medium priority, because we still have hang and performance bugs in Zebra that are hard to diagnose and fix.

[2021-12-19 22:32] teor2345 commented on #2292
Done!

[2021-12-19 22:32] #2292 closed, assigned to nobody

[2021-12-19 22:56] teor2345 commented on #3223
Thanks, please re-assign me to some of the sub-tasks after you've split this task.

Here is the split I'd suggest, because it matches the structure of Zebra's code (and also the spec):
- transaction header (including expiry height)
- transaction size (including item counts)
- coinbase transactions (including coinbase-specific item counts and values)
- shielded pools: the rule is specific to a shie

[2021-12-19 23:13] oxarbitrage commented on #3229
Here is a question for this.

Problem:

We want to test `PeerSet::route_broadcast()` for the number of peers we send the request.

Solution:

We can already start a peerset with the number of peers we want. We can call `Request::AdvertiseBlock`, that will trigger `route_brodcast()`.

However, there is a new problem:

`route_brodcast()` does not returns any output.

Options:

1- Return output from

[2021-12-19 23:22] teor2345 commented on #3229
This seems like a good idea, feel free to add a new `internal::Response` type. (It's like `Response::Nil`, but with extra debugging information).

We could check the other ends of the client test harness, but that seems more complicated.

[2021-12-19 23:29] teor2345 commented on #3219
It doesn't really make sense for oxarbitrage to do two of the negative value balance rules, and me to do the other one. I'm pretty sure all 3 rules will get documented in exactly the same module. (Maybe even in the same method?)

I'm happy to pick up other tickets though.

[2021-12-19 23:34] teor2345 commented on #3222
Here is the split I'd suggest, because it matches the structure of Zebra's code (and also the spec):
- transaction header
- transparent
- sapling
- sprout
- orchard

You can see this split in the v5 transaction format, it's indicated using double lines. v1-v4 should follow the same split, even though the field order is different. The leftover JoinSplit fields are sprout fields.

We should cover al

[2021-12-19 23:38] teor2345 commented on #3227
@mpguerra @oxarbitrage there are a lot of consensus rules in this ticket, did you want to split it?

It might help to do this split:
- merkle tree root (not in the spec?) and block data root (hashLightClientRoot/hashBlockCommitments)
- everything else

[2021-12-20 00:18] teor2345 opened #3260 "Make all mpsc channels use tokio::sync::mpsc"
## Motivation

In PR #3244, we changed some mpsc channels to use `tokio::sync::mpsc`, because we needed a non-async receiver method.

But some channels were left on `futures::channel::mpsc`, because they have an automatic `Stream` impl.

### Suggested Solution

- Replace `futures::channel::mpsc` with `tokio::sync::mpsc`
- Use [`ReceiverStream`](https://docs.rs/tokio-stream/0.1.8/tokio_stream/wrapp

[2021-12-20 00:44] #3240 closed, assigned to teor2345

[2021-12-20 01:28] teor2345 opened #3261 "Fix capacity exhaustion risks in zebra_test::IsReady"
## Motivation

In PR #3241, we implemented a test-only `IsReady` trait for `tower::Service`s.

But it's easy to use it in ways that create bugs in the tests, or hide bugs in the code.

### Suggested Fixes

- return the service if it is ready, so it can be `call`ed
- put a `must_use` on each `IsReady` method
- fix the owned self convention: https://rust-lang.github.io/rust-clippy/master/#wrong_self

[2021-12-20 01:46] teor2345 opened #3263 "Security: Remove the ErrorSlot from the heartbeat and connection tasks"
## Motivation

The error handling for the `Connection` and heartbeat tasks is really messy. It has been really buggy in the past, and it's hard to understand or modify. The way the code is written can cause hangs or panics.

At the moment, it's causing a "failed servers must set their error slot" panic when Zebra is overloaded.

### Scheduling

This is a denial of service risk which might be trigg

[2021-12-20 18:18] mpguerra commented on #3223
I wasn't suggesting that we update the closed tickets. I think the tickets as they are can contain useful information about how and where a consensus rule was implemented in addition to the documentation within the code. This will obviously only be valid for the NU5 network upgrade and I assume we'll do an audit before any new network upgrade is scheduled.

[2021-12-20 21:00] teor2345 opened #3271 "Security: Prevent `inv` and AddressBook message denial of service"
## Motivation

If peers send a lot of messages, they can overload the `InventoryRegistry` or `AddressBook`.

This is a memory or CPU denial of service risk.

### Scheduling

This risk is acceptable for the stable release, but it probably needs to be fixed to support lightwalletd users.

### Suggested Solutions

AddressBook:
- make the sender task yield after sending each update on the channel
- to

[2021-12-20 21:59] dconnolly commented on #2953
https://github.com/ZcashFoundation/zebra/pull/3265

[2021-12-21 08:36] teor2345 opened #3275 "Security: Should Zebra prioritise completed responses over new peer requests?"
## Motivation

Should Zebra prioritise completed responses to its own requests, over new inbound requests from peers? Does it matter?

We fixed part of ticket #2107 in PR #3120, but then reverted some of those changes in PRs #3124 and #3274, because they made sync slow.

### Designs

Zebra's network stack currently processes inbound peer requests before returning completed peer responses to the re

[2021-12-21 08:45] teor2345 commented on #3275
The previous code is actually buggy: Zebra needs to clear unsolicited messages from peers, before it checks for responses to its messages.

[2021-12-21 08:45] #3275 closed, assigned to nobody

[2021-12-21 20:44] teor2345 commented on #3261
Obsoleted by the actual fixed in PR #3241.

[2021-12-21 20:44] #3261 closed, assigned to nobody

[2021-12-21 20:55] teor2345 opened #3277 "Document Zcash network protocol ZIPs in Zebra codebase"
## Motivation

We want to ensure that Zebra is compatible with the Zcash network protocol. In order to help us do this, we should document where the Zcash network protocol is implemented in the Zebra codebase.

This will also help when auditing Zebra.

### ZIP Rules

Tasks for each network protocol rule in a ZIP:
- check that the rule is implemented in Zebra (or explain why it's not needed)
- make

[2021-12-21 21:39] teor2345 commented on #3235
This is obsoleted by the `notfound` changes in #2156

[2021-12-21 21:39] #3235 closed, assigned to nobody

[2021-12-21 21:42] teor2345 commented on #3249
The `zcashd` engineers have said that they prefer to use network protocol versions, rather than service bits.

[2021-12-21 21:42] #3249 closed, assigned to nobody

[2021-12-21 21:56] teor2345 opened #3278 "Review the Ziggurat Report and check if there are any missing network fixes"
## Motivation

We need to check if we missed anything from the Ziggurat report, or if there is anything we have a different opinion about now.

### Scheduling

We should try to fix any important issues from the report first.

We have already removed some of the issues from the report from the Zebra release candidate. We don't need to fix those issues before reviewing the report.

### Specification

[2021-12-21 22:35] teor2345 commented on #3038
Closed by #3085

[2021-12-21 22:35] #3038 closed, assigned to nobody

[2021-12-21 22:36] teor2345 commented on #3239
This caused another CI build to fail, so I'm moving it to this sprint.

[2021-12-21 22:42] #3025 closed, assigned to conradoplg

[2021-12-22 00:37] teor2345 opened #3279 "Hide debug-only `copy-state` command from users"
## Motivation

Some `zebrad` commands are only used for debugging, so it's a bit confusing to show them to users.

We have a few alternatives here:
- disable the `copy-state` command by default in `zebrad` release builds using a cargo feature
    - needs #3201 so we can test that the command still builds as part of CI
- hide the `copy-state` command in the help text
    - needs `abscissa` 0.6 and

[2021-12-22 00:52] teor2345 opened #3280 "Switch to rustfmt format version 2"
## Motivation

`rustfmt` uses some outdated and confusing rules, such as [formatting nested tuple accesses with a space](https://github.com/rust-lang/rustfmt/issues/4779).

If we switch to [format version 2](https://rust-lang.github.io/rustfmt/?version=v1.4.38&search=version#version), then we'll get slightly better formatting.

Previous changes like this have had unexpected impacts, so I don't wan

[2021-12-22 01:14] teor2345 opened #3281 "Specify patch versions in binary crates, and minor versions in library crates"
## Motivation

Zebra currently specifies some dependencies as patch versions, others as minor versions, and others as major versions.

But best practice is to:
- for library crates, specify the lowest compatible minor version
- for binary crates, specify the exact patch version, and use a lock file to pin the exact commit or release

### Scheduling

We need to do this task before we stabilise the

[2021-12-22 01:35] #3199 closed, assigned to jvff

[2021-12-22 15:10] #2549 closed, assigned to conradoplg, dconnolly

[2021-12-23 23:10] teor2345 opened #3287 "Log a useful message when the PeerSet, peer crawler, syncer, or mempool hang"
## Motivation

It's hard to work out when one of Zebra's important tasks has hung, why it hung, and what state it is in.

## Designs

- Log an error when the PeerSet, peer crawler, syncer, or mempool hang, with useful diagnostics
- Log an error when all the address book peers will never be used for outbound connections

## Related Work

We might be better using `tokio-console` instead:
- #2112

[2021-12-23 23:16] teor2345 opened #3288 "Avoid deadlocks in the crawler by doing address book updates and handshakes in separate tasks"
## Motivation

Zebra can deadlock when `CandidateSet::update` is waiting for ready peers to get more peers, but the PeerSet is waiting for the crawler to send new peers.

### Scheduling

We should only do this task if:
- we've fixed all the known hang bugs, and
- Zebra still has frequent hangs.

This code has had multiple hang bugs before, so we should schedule this fix first, if we need hang fixe

[2021-12-23 23:22] teor2345 opened #3289 "Test for hangs with no available peer set or address book peers"
## Motivation

Zebra can hang when:
- there are no ready `PeerSet` peers,
- the `PeerSet` is empty,
- there are no `AddressBook` peers available for reconnection,
- all `AddressBook` peers will never be used for reconnection, or
- the `AddressBook` is empty.

Or some combination of these situations.

We should add tests for these hangs, so we don't accidentally make them worse.

### Designs

After

[2021-12-23 23:27] teor2345 opened #3290 "Move the coinbase decryption check to the transaction verifier"
## Motivation

This slow check should be done in parallel with the other transaction checks:
https://github.com/ZcashFoundation/zebra/blob/1cbc06aa64673e070c791e0205ae07d38514be9d/zebra-consensus/src/block.rs#L193

This change might make Zebra a bit faster, and it improves DoS-resistance.

[2021-12-24 01:19] teor2345 opened #3291 "Add a new v5 transaction script verification API to zcash_script and Zebra"
## Motivation

We want to [modify ZIP-244 to include all UTXO values and scripts in each input's sighash](https://github.com/zcash/zips/issues/574).

This requires updates to `zcashd`'s script module, `zcash_script`, `zebra-script`, and `zebra-consensus`.

### Specifications

[ZIP 244 - Changes to transparent component of signature digest](https://github.com/zcash/zips/pull/577)

TODO: quote conse

[2021-12-24 15:03] oxarbitrage opened #3297 "Document remaining consensus rules from Zcash spec: 7.6 Block Header Encoding and Consensus"
We divided https://github.com/ZcashFoundation/zebra/issues/3227 in two tickets to make it a bit easier as there are some rules that might be undocumented in the spec, see comment https://github.com/ZcashFoundation/zebra/issues/3227#issuecomment-997484371.

For each consensus rule:

- check that the rule is implemented in Zebra
- make sure the latest version of the rule is quoted in the docs for th

[2021-12-24 15:04] oxarbitrage commented on #3227
Yes i divided the ticket. This one is now for "everything else" and https://github.com/ZcashFoundation/zebra/issues/3297 is for the root stuff. I changed the screenshot of the spec in this ticket to reflect this.

[2021-12-26 22:30] teor2345 opened #3300 "Fully anonymise timestamps in version messages when broadcasting transactions"
## Motivation

Zebra should broadcast user-generated transactions using anonymised connections. (These transactions can be generated by `lightwalletd` wallets.)

Currently, Zebra's isolated connections send a truncated timestamp in their `version` messages. But truncated clock skew can still be used to track users, so it would be better if we just set that field to zero. (There are statistical att

[2021-12-27 00:54] daira commented on #3300
Prior to version 2.1.1-1, zcashd would by default adjust its local clock based on timestamps received from its peers. That was an insecure thing to do, and as of 2.1.1-1 that behaviour was disabled by default; in https://github.com/zcash/zcash/pull/4374 the time adjustment code was removed entirely. Zcashd does warn if its peers' clocks are too different; see that PR for details.

In particular, i

[2021-12-28 00:57] teor2345 commented on #1019
Unix sockets aren't required for reliable Tor integration, because `arti` supports an in-process `DataStream` type.

[2021-12-28 00:57] #1019 closed, assigned to nobody

[2021-12-28 02:56] #3228 closed, assigned to oxarbitrage

[2021-12-28 13:04] oxarbitrage commented on #3230
@teor2345 I think we discussed this in a previous meeting but i forgot the details. I tried to do some refactor here but it became big and i think i am not understanding correctly. Do you think you can provide some more details on what exactly we are trying to achieve in this ticket specifically (for example where do we need to return the `Vect` with multiple peer set).

Any clarification will hel

[2021-12-29 15:03] oxarbitrage commented on #3234
I was checking this earlier today and i think it can be a bit more complicated than expected. The problem is the `peer_tx` is a `Sink` which is not a future or stream. I am not sure how to timeout this and the problem is the same if we use the proposed alternative.

[2021-12-29 22:48] teor2345 opened #3307 "Upgrade to the ripemd160 0.10 API"
## Motivation

ripemd160 0.10 has incompatible API changes, so we need to change Zebra's code when we upgrade.

We should only make these changes after `librustzcash` upgrades this dependency.

## Related Work

Dependabot PR:
- #3305

[2021-12-29 23:07] #3227 closed, assigned to oxarbitrage

[2021-12-30 01:35] teor2345 commented on #3234
This is blocked by PR #3295, so we can't do it in this sprint anyway.

But something like this should work:

[code]

We should probably also change the name or docs for `REQUEST_TIMEOUT`. After this PR, it will be the remote peer send or receive timeout.

[2021-12-30 01:59] teor2345 commented on #3230
There were some details in #2214, but it looks like they accidentally got deleted after the design meeting. I've moved them to the description in this ticket, and added some more detail.

[2021-12-30 02:02] teor2345 commented on #3230
Renaming `internal::Response` will conflict with PR #3302. If you could review that PR, that would help avoid merge conflicts.

[2021-12-30 23:50] #3209 closed, assigned to teor2345, oxarbitrage

[2021-12-30 23:50] #3219 closed, assigned to oxarbitrage

[2021-12-30 23:50] #3221 closed, assigned to oxarbitrage

[2021-12-30 23:50] #3220 closed, assigned to oxarbitrage

[2022-01-02 22:49] #3239 closed, assigned to oxarbitrage

[2022-01-04 00:58] teor2345 opened #3315 "Upgrade to ordered-map 0.4.3 or later to remove unused dependencies"
## Motivation

Zebra's dependencies should be minimal and up to date, for security and performance reasons.

## Tasks

After `ordered-map` release 0.4.3 or later:
1. Upgrade to the latest `ordered-map`
2. Remove the `ordered-map` exception in `deny.toml`

[2022-01-04 06:20] teor2345 commented on #3277
We could split up and prioritise the rest of the network documentation based on the sections in the summary documentation in PR #3317.

[2022-01-04 11:45] upbqdn opened #3318 "Consider adding codespell to the CI"
## Motivation

It seems @rex4539 is a regular contributor who fixes our typos by running [codespell](https://github.com/codespell-project/codespell) over the codebase. As @oxarbitrage  mentioned, it might be possible to integrate a spell-checker like [codespell](https://github.com/codespell-project/codespell) into our CI.

### Specifications

Here's a previous discussion about spell-checking with

[2022-01-04 20:37] teor2345 commented on #3318
Do we want to fail CI if someone misspells a word?

We need to fix misspellings that make documentation incorrect or unclear. (Which hasn't happened much in the recent spelling fix PRs.)

But if it's clear what the word should be, then it doesn't matter exactly how it is spelt.

Since we can't do an automated check for meaning, we might just want to fix all the misspellings anyway. But I agree it'

[2022-01-04 20:52] upbqdn commented on #3318
Sure, anyone can feel free to close this if it's not a good idea.

[2022-01-04 23:50] teor2345 opened #3320 "Stop logging IP addresses and mempool transaction IDs by default, to protect user privacy"
## Motivation

Zebra collects, logs, and has metrics on two kinds of private information:
* IP addresses of Zcash nodes, which can be linked to organisations or individuals, and
* transaction IDs of mempool transactions, because they can reveal the origin of a transaction.

Zebra's logs also attach detailed timestamps to this information.

Zebra should avoid logging and metrics containing this pri

[2022-01-05 20:55] #3110 closed, assigned to nobody

[2022-01-05 22:43] #1486 closed, assigned to nobody

[2022-01-05 22:48] teor2345 commented on #1677
We'll open specific issues for common panics as they are reported by users.

[2022-01-05 22:48] #1677 closed, assigned to nobody

[2022-01-05 23:04] dconnolly commented on #2375
Have we done this already?

[2022-01-06 00:29] teor2345 commented on #2972
We should make these changes if users ask for them, or during lightwalletd development.

[2022-01-06 00:33] teor2345 commented on #3027
This issue will be resolved by the mandatory checkpoint changes in #2368.

[2022-01-06 00:33] #3027 closed, assigned to nobody

[2022-01-06 00:39] teor2345 commented on #3113
We should identify tasks that run without yielding using tokio-console, then fix those specific bugs.

[2022-01-06 00:39] #3113 closed, assigned to nobody

[2022-01-06 00:49] teor2345 commented on #3184
I ran `cargo udeps` recently, and there were no unused dependencies.

[2022-01-06 00:54] teor2345 commented on #3233
Merged into #3234.

[2022-01-06 00:54] #3233 closed, assigned to nobody

[2022-01-06 00:54] teor2345 commented on #3232
Merged into #3234.

[2022-01-06 00:54] #3232 closed, assigned to nobody

[2022-01-06 01:02] teor2345 commented on #3289
Merged into #3288.

[2022-01-06 01:02] #3289 closed, assigned to nobody

[2022-01-06 01:17] teor2345 commented on #3136
We should fix the underlying PeerSet bugs, rather than trying to work around them using timeouts. (Because timeouts can cause other bugs.)

[2022-01-06 01:17] #3136 closed, assigned to nobody

[2022-01-06 01:34] teor2345 commented on #2375
Unfortunately not, we just do a manual search and replace for the version constant in the code. This seems to work ok for now.

[2022-01-06 04:09] gustavovalverde commented on #3201
Considering [Mergify](https://mergify.com/) as an option after going through the documentation, as it has some powerful features, and everything is well documented. Aside from the auto-merge, queue, and auto-update, the backport and the [pull request dependencies](https://docs.mergify.com/actions/merge/#defining-pull-request-dependencies) might be helpful features. And it has extra power with the

[2022-01-06 07:29] teor2345 commented on #3201
I think we should pay for premium, because we already use these features in our existing CI:
- Dependency between PRs
- Priority Queue
- Speculative Checks (Parallel Checks)

And we will probably want these features as well:
- Random Request Reviews
- Batch Merge

[2022-01-06 08:03] teor2345 opened #3322 "Fix frequent Zebra hangs during syncing"
## Motivation

Zebra is currently hanging during about 5% - 90% of syncs, depending on the machine and network. But Zebra doesn't seem to hang after the initial sync.

This Epic contains bugs that might be causing these hangs.

But it's also possible that:
- bugs we're currently working on will fix the hangs, or
- other undiscovered bugs are causing the hangs.

So we don't want to add these bugs t

[2022-01-06 08:09] teor2345 commented on #3202
This is either fixed by:
- #2982 (we'll upgrade sha2 to remove duplicates), or
- #3115 (we'll upgrade it anyway, if it doesn't cause too many duplicates).

So we don't need a separate ticket here.

[2022-01-06 08:09] #3202 closed, assigned to nobody

[2022-01-06 08:12] teor2345 commented on #1429
We should re-open this issue if it ever becomes an actual problem for users.

[2022-01-06 08:12] #1429 closed, assigned to nobody

[2022-01-06 08:25] teor2345 commented on #3277
I removed these sections from the ticket, because the Bitcoin documentation might be wrong for Zcash, `zcashd` might change before we match its network implementation, and we only need a compatible implementation anyway.

<details>

### Network Protocol Rules based on the `zcashd` implementation

- TODO: search `zebra-network` for references to `zcashd`, and make sure they are up to date

### Netw

[2022-01-06 19:42] gustavovalverde commented on #3318
Maybe failing the whole CI won't be a good idea. But I plan to have a configuration file specifically for linting/styling/spell-checking. If there's something that's not high-priority but relevant anyways, we can fail the step while keeping the check green, so it allows merging.

I'll keep this issue in my queue, let's keep it open in the meanwhile.

[2022-01-06 20:31] teor2345 commented on #3318
Zebra requires some lints and consistent code formatting, so we can reliably review security-critical code. (Inconsistent formatting or linting can hide security issues.)

Our required lints also allow every developer to check those lints locally, and they help us keep our reviews focused.

But spelling isn't security critical, and we want to add new lints as experiments before we require them. So

[2022-01-06 21:04] upbqdn commented on #3318
The CI wasn't the right proposal. What I meant was having the spell-checking process somehow automated. I thought of renaming the issue, but the comments wouldn't make sense anymore.

Failing CI might also require adjusting the spell-checker for false positives, which would be a bigger burden than no spell-checking. Having automated PRs with spell-checking suggestions might be better?

[2022-01-07 06:15] teor2345 commented on #3278
Let's do this later in January, when we've fixed the Ziggurat issues that are in the release candidate epic.

[2022-01-08 00:11] #3201 closed, assigned to gustavovalverde

[2022-01-10 21:58] mpguerra opened #3329 "Tag Zebra v1.0.0-beta.4 release"
During Sprint 1, we need to tag the Zebra 1.0.0-beta.4 release for the work completed during [Sprint 25](https://github.com/ZcashFoundation/zebra/milestone/34).

[2022-01-11 08:27] mpguerra opened #3330 "Tag Zebra v1.0.0-beta.5 release"
During Sprint 2, we need to tag the Zebra 1.0.0-beta.5 release for the work completed during Sprint 1.

[2022-01-11 17:11] #3114 closed, assigned to teor2345

[2022-01-12 02:06] dconnolly commented on #1619
Removing from the Release Candidate Epic for Q1 2022

[2022-01-12 02:53] dconnolly commented on #1581
We might want to subsume this into #2001

[2022-01-12 03:52] dconnolly commented on #1323
Not strictly needed for release candidate

[2022-01-12 03:53] dconnolly commented on #1615
Not strictly necessary for release candidate

[2022-01-12 03:55] dconnolly commented on #1480
Not strictly needed for release candidate, moved to usability epic

[2022-01-12 04:09] dconnolly commented on #2380
Not strictly needed for release candidate, but we should discuss if we need to solve this before recommending it to users. // @mpguerra @ftm1000 @gustavovalverde

[2022-01-12 04:45] dconnolly commented on #3005
Not strictly required for release candidate

[2022-01-12 04:46] dconnolly commented on #2705
Not strictly required for release candidate // @mpguerra @ftm1000

[2022-01-12 08:36] mpguerra commented on #3026
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3026?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2022-01-12 08:37] mpguerra commented on #3183
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3183?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2022-01-12 08:37] mpguerra commented on #3186
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3186?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2022-01-12 08:38] mpguerra commented on #3187
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3187?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2022-01-12 08:38] mpguerra commented on #3188
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3188?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2022-01-12 08:39] mpguerra commented on #3254
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3254?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2022-01-12 08:39] mpguerra commented on #2391
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2391?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2022-01-12 08:39] mpguerra commented on #2985
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2985?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2022-01-12 08:40] mpguerra commented on #3278
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3278?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2022-01-12 08:52] mpguerra opened #3334 "Tag Zebra v1.0.0-beta.6 release"
During Sprint 3, we need to tag the Zebra 1.0.0-beta.6 release for the work completed during Sprint 2.

[2022-01-12 19:15] #3254 closed, assigned to teor2345

[2022-01-13 09:58] mpguerra commented on #3291
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3291?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2022-01-13 10:02] mpguerra commented on #2368
Does this need to be done for the Zebra release candidate or do we just need to do it before NU5 testnet re-activation and/or mainnet activation?

Also, since we're looking to automate this, could this be a task that @gustavovalverde could take on?

[2022-01-13 11:14] mpguerra commented on #2995
Removing this from Sprint 1 as Epics should not be scheduled for sprints. Individual issues under an epic should be scheduled for the Sprint instead.

@gustavovalverde can you please create any issues under this epic that you have been working on during this sprint instead and add some story points estimates to them? It would also be good to know what the next steps are and create those issues als

[2022-01-13 11:19] mpguerra commented on #3277
Removing epic from the Sprint, individual issues under this epic should be scheduled instead

[2022-01-13 13:46] jvff opened #3340 "Update `bitvec` to version 1.0.0"
## Motivation

A new release of `bitvec` came out with a stable API. It is a breaking change, and we'll have to update parts of our code.

### Specifications

### Designs

See [bitvec's changelog](https://github.com/bitvecto-rs/bitvec/blob/main/CHANGELOG.md#version-1) for information about the breaking changes and suggestions on how to update the code.

## Related Work

[2022-01-13 19:14] conradoplg commented on #3183
Since [there is no guarantee that the crates.io package matches the GitHub code](https://internals.rust-lang.org/t/making-crates-io-verify-code-against-repository/14075/11), I think we should try to use https://lib.rs/crates/cargo-crev or something similar

[2022-01-13 19:45] conradoplg opened #3343 "Bump color-eyre from 0.5.11 to 0.6.0"
## Motivation

https://github.com/ZcashFoundation/zebra/pull/3342 fails because it creates a duplicate dependency on `tracing-subscriber`.

Bump `color-eyre` and update `tracing-subscriber` too or add an exception for it

### Specifications

### Designs

## Related Work

[2022-01-13 20:14] gustavovalverde opened #3344 "Use a single Dockerfile for testing and deploying"
## Motivation

- Github Actions is using VMs for pre-merge CI
- GCP is using Dockerfile.test for post-merge CI
- GCP is using Dockerfile.build for pre-prod build

The ideal scenario would be to have the same Dockerfile to test, build and deploy; this ensures the same behavior across platforms and that post-merge errors are captured before merging into main.

### Designs

- Refactor the actual Dock

[2022-01-14 00:00] #3063 closed, assigned to dconnolly

[2022-01-14 12:10] #2709 closed, assigned to dconnolly

[2022-01-14 15:11] #2985 closed, assigned to jvff

[2022-01-14 19:34] #2999 closed, assigned to nobody

[2022-01-14 19:35] #1687 closed, assigned to teor2345

[2022-01-14 20:11] conradoplg opened #3352 "Fix intermittent syncing"
## Motivation

Currently, the sync stops for a couple minutes every ~5 minutes, which makes syncing very slow.

Identify the cause and fix it. We're currently discussing it in https://discord.com/channels/676527656170160146/920784737872773122

The issue seems to have appeared in https://github.com/ZcashFoundation/zebra/pull/3120

### Specifications

### Designs

## Related Work

[2022-01-17 15:58] ftm1000 commented on #3352
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3352?planning-poker) with ZenHub @conradoplg @gustavovalverde @jvff @oxarbitrage @upbqdn @teor2345 @dconnolly

[2022-01-17 18:56] gustavovalverde opened #3359 "Refactor GitHub Actions for flexibility, readability and integrity"
## Motivation

- Actual GitHub Actions do not consider triggering depending on the files being changed, and some PR's might go through unneeded tests.
- Some dynamic values are hardcoded, those should be moved to secrets
- Some jobs should have dependencies, for example...if a build fails, there's no need to also wait for testing.
- Linting and styling should have their own Github Action file (oth

[2022-01-17 18:57] gustavovalverde opened #3360 "Documenting Mergify and other automations being done in the repository"
## Motivation

- Automating helps the team with faster delivery, but it also makes onboarding harder if there's no documentation available

### Designs

- Improve actual documentation in the pipelines.
- Explain queues and some options from Mergify.

[2022-01-17 19:01] gustavovalverde opened #3362 "Create testing instances before deploying to main"
## Motivation

- Some issues might arise just after a successful deployment to the infrastructure (GCP so far)
- Local testing environment and the production environment might differ
- We might want to evaluate the "actual" time a PR might take to sync on the blockchain up to the tip or any similar behavior

### Designs

- When a PR passes the CI, deploy a testing instance and report back to GitHu

[2022-01-17 19:31] conradoplg commented on #3362
One issue is that sync takes hours, so it could make things difficult when merging a bunch of PRs one after another.
Not sure if we should just accept it, or maybe allowing merging to main (as long as the other tests pass) but running the sync test and notifying if it breaks, so that we can prioritize fixing it.

[2022-01-18 16:58] ftm1000 opened #3365 "1052"
test

[2022-01-18 16:59] #3365 closed, assigned to nobody

[2022-01-18 18:36] conradoplg opened #3367 "Restore coverage to use latest rust nightly"
## Motivation

In https://github.com/ZcashFoundation/zebra/pull/3366, in `coverage.yml` we pinned rust nightly in to a specific version to workaround a [rust bug](https://github.com/rust-lang/rust/issues/79645#issuecomment-1013982804).

[Since it was fixed in 2022-01-26](https://github.com/taiki-e/cargo-llvm-cov/issues/128#issuecomment-1021809795), we should restore it back to `nightly` to always

[2022-01-18 20:18] #3236 closed, assigned to conradoplg, upbqdn

[2022-01-18 20:18] #3210 closed, assigned to upbqdn

[2022-01-19 14:44] conradoplg opened #3368 "Bump metrics-exporter-prometheus from 0.7.0 to 0.8.0"
## Motivation

We should keep the dependency up to date.

This has some breaking change that must be fixed, see logs in https://github.com/ZcashFoundation/zebra/pull/3355

### Specifications

### Designs

## Related Work

[2022-01-19 14:46] conradoplg opened #3369 "Bump metrics from 0.17.1 to 0.18.0"
## Motivation

We should keep dependencies up to date.

Must handle breaking change, see logs in https://github.com/ZcashFoundation/zebra/pull/3356

### Specifications

### Designs

## Related Work

[2022-01-19 14:58] conradoplg opened #3370 "Bump tracing-subscriber from 0.2.25 to 0.3.6"
## Motivation

We should keep dependencies up to date.

We must fix breaking changes, see logs in https://github.com/ZcashFoundation/zebra/pull/3357

### Specifications

### Designs

## Related Work

[2022-01-19 15:00] conradoplg opened #3371 "Bump tracing-journald from 0.1.0 to 0.2.2"
## Motivation

We should keep dependencies up to date.

We must fix breaking changes, see logs in https://github.com/ZcashFoundation/zebra/pull/3358

### Specifications

### Designs

## Related Work

[2022-01-19 15:04] conradoplg opened #3372 "Use clap v3 instead of structopt"
## Motivation

We use `structopt`, but all of its functionalities were integrated into `clap` v3 and it is now in maintenance mode.

We should consider switching to `clap`.

### Specifications

### Designs

## Related Work

[2022-01-19 20:55] #2981 closed, assigned to oxarbitrage

[2022-01-20 08:14] #3352 closed, assigned to jvff

[2022-01-20 13:14] conradoplg opened #3375 "Fix slowness when syncing near the tip"
## Motivation

It seems that sync becomes slow when it's near the tip. Investigate to find the cause and fix it.

There is some discussion about it in the #slow-sync thread in Discord.

### Diagnostics

This is unexpected - the syncer hangs for a few minutes before this log, and there are two chains a long way from the tip:

https://github.com/ZcashFoundation/zebra/runs/5325705831?check_suite_focu

[2022-01-20 15:24] mpguerra commented on #3179
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3179?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2022-01-20 15:25] mpguerra commented on #3184
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3184?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2022-01-20 15:25] mpguerra commented on #3205
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3205?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2022-01-20 15:25] mpguerra commented on #3242
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3242?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2022-01-20 15:26] mpguerra commented on #3271
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3271?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2022-01-20 15:26] mpguerra commented on #3300
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3300?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2022-01-20 15:26] mpguerra commented on #3307
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3307?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2022-01-20 15:27] mpguerra commented on #3340
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3340?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2022-01-20 15:27] mpguerra commented on #3367
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3367?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2022-01-20 15:27] mpguerra commented on #3371
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3371?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2022-01-20 15:28] mpguerra commented on #3375
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3375?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2022-01-21 13:32] mpguerra commented on #196
Closing this epic as I think we're pretty much done here

[2022-01-21 13:32] #196 closed, assigned to nobody

[2022-01-21 13:41] mpguerra commented on #253
Closing and removing the Epic label for now as we have no issues being tracked under it and issue is superseded by other tracking issues and epics tracking the NU5 activation and client work.

[2022-01-21 13:41] #253 closed, assigned to nobody

[2022-01-21 13:46] mpguerra commented on #884
I would like us to review this tracking issue with a view to prioritizing outstanding tasks and potentially creating issues for those we still want to do so that we can close this issue.

If we decide not to close it yet, I think it probably should not be an epic but should be a github tracking issue and use github's task list to track progress

[2022-01-21 14:08] mpguerra commented on #745
Converting any "Epics" that do not have a start and end date into github tracking issues instead.

[2022-01-21 14:10] mpguerra commented on #802
Removing Epic label as there are no longer any issues tracked under this Epic and this better fits a github tracking issue instead.

[2022-01-21 14:43] jvff opened #3379 "Deadlock when using `LatestChainTip`"
## Description

Zebrad sometimes hangs while synchronizing. After looking at a few core dumps, all threads seem to be waiting for locks related to the watch channel used to propagate the chain tip information.

### Steps to Reproduce

It's a rare occurrence, but it happens more frequently after #3374.

### Expected Behaviour

I expected to see this happen: Zebrad should not hang.

### Actual Behav

[2022-01-22 15:19] oxarbitrage commented on #3133
It seems a lot of things are going on here and i spent quite some good amount of time trying several alternatives.

Warnings as `pthread lock: Invalid argument`, `pure virtual method called` can be fully eliminated if we allow the runtime to shutdown. We can do this by just removing this lines of code:  https://github.com/ZcashFoundation/zebra/blob/v1.0.0-beta.3/zebrad/src/components/tokio.rs#L62-

[2022-01-22 15:25] oxarbitrage opened #3383 "Document `zebrad download` command"
Zebra has a command to pre download the parameters. Zebra also download parameters at `zebra start` if they are not present.

There is no documentation about this, i think we should add:

- Briefly describe what are this parameters and why they are needed.
- Document the `zebrad download` existence.
- Explain `zebrad start` will automatically start downloading parameters at startup.

https://zebra

[2022-01-22 16:15] oxarbitrage commented on #3133
There is another case happening here that seems to be independent on if we are shutting down zebra using the runtime or not. This is a hang, when ctrl-c is received zebra will not do anything else but will not exit either:

[code]

[2022-01-23 22:49] teor2345 commented on #3133
I'm not sure if this change is needed.

Have you tried:
https://docs.rs/tokio/latest/tokio/runtime/struct.Runtime.html#method.shutdown_timeout

If you call it here, the runtime should stop waiting for all tasks to finish:
https://github.com/ZcashFoundation/zebra/blob/v1.0.0-beta.3/zebrad/src/components/tokio.rs#L59

~~We might also need to fix #3378.~~ Done!

These issues aren't scheduled until th

[2022-01-23 23:27] teor2345 opened #3384 "Always shut down the tokio runtime before exiting zebra"
## Scheduling

If #3133 removes all the calls to `app_writer().shutdown()`, then we don't need to do this task until the lightwalletd work.

## Motivation

After we fix #3133, we might need to shut down the tokio run time before the Zebra abscissa application shuts down. This avoids a potential security issue where the tokio runtime threads are forced to shut down without cleaning up properly.

##

[2022-01-24 00:36] #3379 closed, assigned to jvff

[2022-01-24 04:00] teor2345 opened #3388 "Stop ignoring dependency changes in the Cargo.lock up-to-date check"
## Motivation

In PR #3363, we changed the `zcash_script` version in Cargo.toml, but we didn't update Cargo.lock.

This dependency bug should have been caught by the Cargo.lock CI check:
https://github.com/ZcashFoundation/zebra/blob/ebd94b2e60c01f74042db4a5899b294659d5f207/.github/workflows/ci.yml#L305-L310

But it seems like the dependency check isn't working.

(It is also possible that this chec

[2022-01-24 04:05] teor2345 commented on #3388
Here's what I see when I run that command on the `main` branch (with PR #3363, but without PR #3387):
[code]

I'm using:
[code]

[2022-01-24 04:10] teor2345 commented on #3388
Here's what happened in CI on PR #3363:

[code]

It was using:
[code]

https://github.com/ZcashFoundation/zebra/runs/4870820023?check_suite_focus=true

[2022-01-24 05:52] teor2345 commented on #3375
@conradoplg how is this different from ticket #3042?

[2022-01-24 13:27] mpguerra commented on #1856
Looks like we are done here 🎉

[2022-01-24 13:27] #1856 closed, assigned to nobody

[2022-01-24 15:25] conradoplg commented on #3375
IMO that's a bug report that may or may not be caused by this issue, or by another, or by a combination of those. I think it's clearer to have this ticket to track this specific issue. After we solve the main slowness tickets we can reach out for the user and check if they still get the same behaviour or not

[2022-01-24 20:07] oxarbitrage commented on #3133
I had been trying today with `shutdown_timeout()`. It was promising but unfortunately it will not fix the issue (`pthread lock: Invalid argument` and similar will keep happening).

[2022-01-24 22:03] teor2345 opened #3391 "Add code owners and turn on automatic reviewer assignment"
## Motivation

In this week's Engineering sync, we decided to turn on code owners and automatic reviewer assignments.

## Reference Documentation

https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

https://docs.github.com/en/organizations/organizing-members-into-teams/managing-code-review-settings-for-your-team

##

[2022-01-24 22:52] teor2345 commented on #3133
That's really strange, because this is the recommended method, and other projects use it successfully.

Did you also delete the calls to `exit()`?
Can you post a draft PR, in case there is some other bug causing the issue?

[2022-01-24 23:05] oxarbitrage commented on #3133
https://github.com/ZcashFoundation/zebra/pull/3392

I didn't deleted the exits, i will try.

[2022-01-24 23:27] #3211 closed, assigned to upbqdn

[2022-01-24 23:34] oxarbitrage commented on #3133
On top the above PR i removed the full shutdown implementation in our side that is doing the exits: https://github.com/ZcashFoundation/zebra/blob/v1.0.0-beta.3/zebrad/src/components/tokio.rs#L46-L71

It didnt worked, i am still seeing:

[code]

occasionally.

[2022-01-25 00:17] teor2345 commented on #3115
This ticket might have some helpful commands in it.
But we want the maximum versions in both Cargo.toml and Cargo.lock.

https://gitlab.torproject.org/tpo/core/arti/-/merge_requests/228

[2022-01-25 01:46] #1643 closed, assigned to teor2345

[2022-01-25 04:47] teor2345 commented on #3384
This seems to be covered by PR #3133. If we find this kind of bug in other code that shuts down Zebra, we should open a specific ticket for it.

[2022-01-25 04:47] #3384 closed, assigned to nobody

[2022-01-25 04:59] teor2345 commented on #2055
We haven't seen this bug for a while, and we've added a shutdown workaround. So I think we can close this ticket.

[2022-01-25 04:59] #2055 closed, assigned to nobody

[2022-01-25 05:00] teor2345 commented on #1666
The zebra-test/scripts/shutdown-errors shell script does these tests, but it doesn't run in CI yet.

https://github.com/oxarbitrage/zebra/pull/164/files#diff-ff4bc0a5d763d194708c5b5a28ed4cc2650323337823eb004aae0c2ef77665ab

[2022-01-25 05:39] teor2345 commented on #2015
Obsoleted by #3367.

[2022-01-25 05:39] #2015 closed, assigned to nobody

[2022-01-25 05:40] teor2345 commented on #3388
This should be fixed by PR #3377.

I think what was happening here is that we ran clippy, which updated the lock file, then we ran the checks.

[2022-01-25 11:58] #3388 closed, assigned to nobody

[2022-01-25 13:22] mpguerra commented on #3322
Do we need to review this issue and its associated potential fixes given that it seems we've fixed some hangs for now...

[2022-01-25 13:37] mpguerra commented on #619
Closing this. Let's track the other 2 tracking issues (#884 and  #745) separately.

[2022-01-25 13:37] #619 closed, assigned to nobody

[2022-01-25 13:41] mpguerra commented on #1597
We're done here, closing

[2022-01-25 13:41] #1597 closed, assigned to nobody

[2022-01-25 13:44] mpguerra commented on #897
@gustavovalverde not one for now, but I'm just cleaning up the backlog and noticed this one for you in future

[2022-01-25 15:33] conradoplg commented on #3322
I think we can close this after https://github.com/ZcashFoundation/zebra/issues/3234 is completed

[2022-01-25 23:56] teor2345 commented on #3322
I'm not seeing any hangs after testing the latest `main` on 4 different mainnet and testnet instances, so I'm happy to just close this now.

[2022-01-25 23:56] #3322 closed, assigned to nobody

[2022-01-25 23:58] teor2345 commented on #1197
I'm not sure if we will ever do this task.

[2022-01-25 23:58] #1197 closed, assigned to nobody

[2022-01-25 23:59] teor2345 commented on #2984
Obsoleted by #3343.

[2022-01-25 23:59] #2984 closed, assigned to nobody

[2022-01-26 00:01] teor2345 commented on #3370
Duplicate of #2953

[2022-01-26 00:01] #3370 closed, assigned to nobody

[2022-01-26 00:01] teor2345 commented on #3371
Duplicate of #2953

[2022-01-26 00:01] #3371 closed, assigned to nobody

[2022-01-26 01:38] teor2345 commented on #3134
@ftm1000 this is the big pile of tasks that are related to `lightwalletd`.

The essential tasks are listed in the ticket, so we should create a new epic with just those tasks.

We also left some security issues until the lightwalletd work. But we should create a separate epic for them, so it's easier to see the essential tasks.

[2022-01-26 08:40] mpguerra commented on #3134
We're trying to reduce the number of Epics we have so we can just clean up this one and move the non-essential tasks to a github tracking issue instead.

For the security issues I'm not sure that these should be an Epic unless we are planning to schedule them in the roadmap as a high level goal to complete over a number of sprints after the lightwalletd work. For anything that doesn't have a discr

[2022-01-26 13:16] #3133 closed, assigned to teor2345, oxarbitrage

[2022-01-26 14:18] gustavovalverde opened #3410 "Enforce a commit message convention project-wide"
## Motivation
To automate some tools based on commits, we'd need a commit convention. In the long run, this also helps to hastily identify which commits are fixes, improvements, reactors, documentation, styling, and even **breaking changes**. And, as a result, it helps us understand which commit might have made a behavioral change, just by seeing the commit title.

### Specifications
https://www.c

[2022-01-26 14:51] mpguerra commented on #3278
I assume that the outcome of this issue will be a list of new issues to deal with the missing network fixes? Either that or we decide that there are no fixes to be made? :D

[2022-01-26 18:05] ftm1000 commented on #2112
redistributing issues that can be separately worked from this epic #2311

[2022-01-26 18:06] ftm1000 commented on #2324
redistributing issues that can be separately worked from this epic #2311

[2022-01-26 18:07] ftm1000 commented on #2654
redistributing issues that can be separately worked from Epic #2311

[2022-01-26 18:08] ftm1000 commented on #3048
redistributing issues that can be separately worked from Epic #2311

[2022-01-26 18:09] ftm1000 commented on #3118
redistributing issues that can be separately worked from Epic #2311

[2022-01-26 18:10] ftm1000 commented on #3263
redistributing issues that can be separately worked from Epic #2311

[2022-01-26 18:10] ftm1000 commented on #3288
redistributing issues that can be separately worked from Epic #2311

[2022-01-26 18:11] ftm1000 commented on #3290
redistributing issues that can be separately worked from Epic #2311

[2022-01-26 18:11] ftm1000 commented on #3320
redistributing issues that can be separately worked from Epic #2311

[2022-01-26 21:20] ftm1000 opened #3413 "Tickets nominated for the Stable Release Candidate Epic"
Track important tickets

## List of Tickets

- [x] #3367

### New tickets from the Ziggurat Report

From:
- #3278

New tickets:
- [x] #3429

[2022-01-26 21:49] jvff commented on #3329
Closed by #3403.

[2022-01-26 21:49] #3329 closed, assigned to jvff

[2022-01-26 22:02] conradoplg commented on #884
I've added some comments below (in brackets) about the unfinished items, but most of them I'm not sure what to do. @teor2345 could you please take a look?

- [x] Document minimum network requirements for Zebra
  - [ ] a maximum latency of 1 second [is it?]
- [ ] Document the peerset target size config, as a useful option for bandwidth-constrained nodes [maybe part of #3101 ]
  - [ ] test the minim

[2022-01-26 22:28] teor2345 opened #3414 "Upgrade to NU5 mainnet version of orchard and librustzcash"
## Motivation

`orchard` and `librustzcash` won't have a tagged version until after the `zcashd` 4.7.0 release. So we need to split its version upgrade out of the NU5 testnet 2 work in #2982.

After #2982, Zebra and `zcash_script` will depend on a git version of the following shared Zcash crates:
- orchard
- zcash_history
- zcash_primitives
- zcash_note_encryption
- zcash_script

We need to update

[2022-01-26 23:00] teor2345 commented on #3134
That sounds good.

We should decide which security issues represent a large risk for lightwalletd servers, and schedule them in an epic after lightwalletd is feature-complete. (I expect there might be 1-5 of these.)

And if any of the fixes will change the API or performance, we might want to put them in the lightwalletd epic itself. (I expect there might be 0-2 of these.)

[2022-01-26 23:04] teor2345 commented on #3410
Can you add this discussion to an engineering sync agenda?

[2022-01-26 23:05] teor2345 commented on #3278
Yes, I'll put any proposed issues in:
- #3413

[2022-01-26 23:25] teor2345 commented on #884
It's effectively a 4 second RTT, I added this documentation task to #3101:

https://github.com/ZcashFoundation/zebra/blob/f6de7faae118f44f104ca2fc92f8cf05ff456897/zebra-network/src/constants.rs#L54

I added this task to #3101

We already have #704 for this, and the minimum size might change as we make fixes to Zebra. So we can do this task when Zebra is stable. (And we add tests for the minimum si

[2022-01-26 23:25] #884 closed, assigned to nobody

[2022-01-27 00:28] teor2345 opened #3416 "Zcash parameter downloads take 20+ minutes"
## Motivation

Zebra downloads the Zcash parameters in every Google Cloud Build run. Recently, these downloads started taking 20+ minutes.

But in the GitHub runners, the same downloads seem to work fine. But the GitHub runners don't do the download every time. They cache the parameters, and only do the download when the cache expires or gets too big.

## Tasks

1. Work out if we've made changes t

[2022-01-27 01:46] #3359 closed, assigned to gustavovalverde

[2022-01-27 14:16] mpguerra commented on #3278
Increasing priority to High, if we're going to be adding any more issues to the Stable Release Epic we need to make a decision on this sooner rather than later.

[2022-01-27 15:36] mpguerra commented on #2311
Changing this from an Epic to a tracking issue

[2022-01-27 16:43] mpguerra commented on #2224
This feels obsolete now that we: a) are fully validating all consensus rules, b) are implementing a mempool, c) have plans for a stable release candidate.

Converting to an issue and closing.

[2022-01-27 16:43] #2224 closed, assigned to nobody

[2022-01-27 16:48] mpguerra commented on #2266
Converted to github tracking issue

[2022-01-27 16:50] mpguerra commented on #3247
Converted to issue

[2022-01-27 16:53] mpguerra commented on #2282
Converted to an issue

[2022-01-27 16:58] ftm1000 commented on #3263
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3263?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @jvff @oxarbitrage @teor2345 @upbqdn

[2022-01-27 16:59] mpguerra commented on #2310
Converted to a github tracking issue

[2022-01-27 17:06] ftm1000 commented on #3288
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3288?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @jvff @oxarbitrage @teor2345 @upbqdn

[2022-01-27 17:07] ftm1000 commented on #3290
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3290?planning-poker) with ZenHub @conradoplg @dconnolly @gustavovalverde @jvff @oxarbitrage @teor2345 @upbqdn

[2022-01-27 17:09] ftm1000 commented on #3320
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/3320?planning-poker) with ZenHub @gustavovalverde @dconnolly @conradoplg @jvff @oxarbitrage @teor2345 @upbqdn

[2022-01-27 21:40] gustavovalverde opened #3419 "Use OpenID Connect instead of the long-lived API keys for GH-actions deployments"
## Motivation

Traditionally, applications running outside Google Cloud have used **service account keys** to access Google Cloud resources. Service account keys are powerful credentials and can represent a security risk if they are not managed correctly.

With identity federation, you can use Identity and Access Management (IAM) to grant external identities IAM roles, including the ability to imp

[2022-01-27 21:55] mpguerra opened #3420 "Document types specified in 7.1: Transaction Header"

[2022-01-27 21:55] mpguerra opened #3421 "Document types specified in 7.1: Transparent"

[2022-01-27 21:55] mpguerra opened #3422 "Document types specified in 7.1: Sapling"

[2022-01-27 21:55] mpguerra opened #3423 "Document types specified in 7.1: Sprout"

[2022-01-27 21:56] mpguerra opened #3424 "Document types specified in 7.1: Orchard"

[2022-01-27 21:58] mpguerra opened #3425 "Document consensus rules from Zcash spec 7.1.2: Transaction Header"
- [x] The transaction version number MUST be greater than or equal to 1.
- [x] [Pre-Overwinter] The `fOverwintered` fag MUST NOT be set.
- [x] [Overwinter onward] The `fOverwintered` flag MUST be set.
- [x] [Overwinter onward] The version group ID MUST be recognized.
- [x] [Overwinter only, pre-Sapling] The transaction version number MUST be 3, and the version group ID MUST be 0x03C48270.
- [x] [S

[2022-01-27 21:58] mpguerra opened #3426 "Document consensus rules from Zcash spec 7.1.2: Transaction Size"
- [x] [Pre-Sapling] The encoded size of the transaction MUST be less than or equal to 100000 bytes.
- [x] [NU5 onward] In a version 5 transaction, the reserved bits 2..7 of the `flagsOrchard` field MUST
be zero.
- [x] [NU5 onward] `nSpendsSapling`, `nOutputsSapling`, and `nActionsOrchard` MUST all be less than 2^16.
- [x] [Pre-Sapling] If `effectiveVersion = 1` or `nJoinSplit = 0`, then both `tx_i

[2022-01-27 21:58] mpguerra opened #3427 "Document consensus rules from Zcash spec 7.1.2: Coinbase transactions"
- [ ] A transaction with one or more transparent inputs from coinbase transactions MUST have no transparent outputs (i.e. `tx_out_count` MUST be 0). Inputs from coinbase transactions include Founders’ Reward outputs and funding stream outputs.
- [ ] The total value in zatoshi of transparent outputs from a coinbase transaction, minus `vbalanceSapling`, minus `vbalanceOrchard`, MUST NOT be greater t

[2022-01-27 21:58] mpguerra opened #3428 "Document consensus rules from Zcash spec 7.1.2: Shielded pools"
- [x] If `effectiveVersion >= 2` and `nJoinSplit > 0`, then:
  -  `joinSplitPubKey` MUST be a valid encoding (see § 5.4.6 "Ed25519" on p. 87) of an Ed25519 validating key.
  -  `joinSplitSig` MUST represent a valid signature under `joinSplitPubKey` of `dataToBeSigned`, as defined in § 4.11 "Non malleability (Sprout)" on p. 49.
- [x] [Sapling onward] If `effectiveVersion >= 4` and `nSpendsSapling +

[2022-01-27 22:30] teor2345 opened #3429 "ZG-CONFORMANCE-003-006: ignore non-Version/Verack messages during the handshake"
## Motivation

The Ziggurat team picked up some handshake bugs we should fix:
https://github.com/eqlabs/ziggurat#conformance
https://github.com/eqlabs/ziggurat/blob/master/SPEC.md#zg-conformance-003

## Tasks

In the handshake:
- ignore unexpected messages while waiting for `Version`
- ignore unexpected messages while waiting for `Verack`

[2022-01-27 22:38] teor2345 commented on #3278
Here is how I reviewed the report:

1. Go to the list of test statuses at https://github.com/eqlabs/ziggurat#test-status
2. Find tests where `zcashd` passed, but Zebra failed (if they both failed, I assumed the test itself has a bug)
3. If we haven't fixed the failures already, open a ticket

We also reviewed the two PDF reports that the Ziggurat team sent us privately.

I opened the following tic

[2022-01-28 00:46] teor2345 commented on #3278
We also checked the bugs they sent us by email, and they are fine.

[2022-01-28 00:46] #3278 closed, assigned to jvff, teor2345

[2022-01-28 11:32] gustavovalverde opened #3432 "Use the Filesystem Hierarchy Standard (FHS) for deployments and artifacts"
## Motivation

Linux has its own filesystem convention, which is standard and considered by most sysadmins when creating products, OS-level restrictions, and even when taking security measures.

We should respect this convention for compatibility with different deployment mechanisms, and when high-security standards are being in placed (most directories are being restricted)

A good example is the

[2022-01-28 16:51] conradoplg opened #3436 "Create wrapper for `precomputed` in `CachedFfiTransaction`"
## Motivation

`CachedFfiTransaction` has a `unsafe impl Send/Sync` since it has a FFI pointer (`precomputed`) which is neither, and we need both in order to be stored in a `Box` and sent across threads. This is fine as long as we take the proper precautions, as already extensively documented in its source code.

However, we could easily add another field which is not Send/Sync, which would be a p

[2022-01-28 17:19] conradoplg commented on #3375
What seems to happen is that it exhausts the prospective tip set and it has to restart the sync, over and over again. (Haven't investigated why)

[code]

[2022-01-28 17:24] #2655 closed, assigned to oxarbitrage

[2022-01-28 21:18] conradoplg commented on #3416
Happened [again](https://github.com/ZcashFoundation/zebra/pull/3433/checks?check_run_id=4983058667) even with 60min timeout

[code]

[2022-01-28 22:14] #3026 closed, assigned to oxarbitrage

[2022-01-29 13:56] mdr0id commented on #3416
Based on some historical events from the past, it is strongly discouraged to download params in a given CI pipeline per runner. The increase in time needed to download above is likely due to underlying security features. It is likely best to cache the params and reuse these for your builders. Github and Gitlab offer larger file caches for runners, but we often times will use tools such as IPFS dep

[2022-01-30 03:31] jvff opened #3438 "Finalizing blocks appears to be slow when checkpointing large blocks"
## Motivation

The block synchronizer sometimes restarts when it all of the fanned out extend tip requests time out. When that happens, it can take a few minutes (5-15 minutes) for new blocks to start being downloaded because the request to obtain the block locator from takes a while to be processed by the state service. This happens because the state is busy committing checkpointed finalized bloc

[2022-01-30 03:41] jvff opened #3439 "Improve load-balancer"
## Motivation

When selecting a peer to route a request to, Zebra uses a load balancer that calculates an approximated peer load based on previous request latencies. However, that considers the time for the whole response to be received. This means that the value is skewed towards smaller responses, and the load balancer may choose a slow peer instead of a fast peer based on the size of the recent

[2022-01-30 03:52] jvff opened #3440 "Keep track of partial block downloads"
## Motivation

When downloading a block, the current `Codec` will only return an item (a `Message`) once the block is fully downloaded. However, that means that the download can time out when the block is almost ready. It would be nice to return intermediary items saying that the block is still being downloaded and how much remains, so that this information can be used to improve the synchronizer'

[2022-01-30 03:59] jvff opened #3441 "Keep a peer service busy until a cancelled request has finished being received"
## Motivation

There is no way in the Zcash protocol to request a remote peer to cancel a previous request and stop sending a response. Therefore, when Zebra currently cancels a request, it simply ignores the received response. However, once a request is cancelled, the peer service becomes available to send a new request, which will very likely take a while because it will only receive a response

[2022-01-30 20:48] teor2345 commented on #3432
We'll need to make the zebra changes in #1894 to fully support the file system hierarchy standard. But that's a breaking change.

Did you want to schedule both changes for an upcoming sprint?
(They are not required for the stable release candidate, but we should do them before the stable release.)

[2022-01-30 21:19] teor2345 opened #3442 "Move debug stop at height to the `zebrad start` main loop"
## Motivation

Currently, the debug stop at height config is implemented in the state service. But this makes shutdown difficult.

It would be better if we checked the stop conditions as part of the start command run loop in zebrad.

## Related Work

This change will be easier after we add a task that stops the full sync in:
- #1592

[2022-01-30 21:48] teor2345 commented on #3375
I think the notfound changes might fix this, so we should look into it after the following tasks are complete:
- #2156
- #2726

[2022-01-30 21:55] teor2345 commented on #3416
I'd be happy to make this change. But how do you make sure your code changes don't break the downloads?

[2022-01-30 21:56] teor2345 commented on #3438
If the state is busy committing blocks, then we should speed up the state commit code.

(If the syncer pauses while this happens, this is correct behaviour, and it shows that our backpressure is actually working.)

[2022-01-31 03:09] gustavovalverde opened #3443 "deployments: add a description to manual deployments"
## Motivation
When running a workflow manually, using `workflow_dispatch`, it's commonly done with some reasoning behind it. But the machines on GCP don't have this reasoning exposed anywhere, and neither on the GitHub Action.

### Designs

Add a field to add reasoning for doing a specific manual deployment, and keep this information available in GitHub Actions and in GCP.

[2022-01-31 04:31] mdr0id commented on #3416
I'm confused by your question. Do you mean changes made to fetch-params.sh or some client requesting params repeatedly ?

[2022-01-31 06:50] teor2345 commented on #3416
Zebra automatically downloads the parameters when it starts up, if they are not already in `.zcash-params`.

So if we cache the parameters, we won't know if a PR breaks the parameter download code.

Do you do anything to check that the parameter script still works? Or do you just accept the risk of breakage?

[2022-01-31 14:13] jvff opened #3444 "Revisit some network timeout values"
## Motivation

Parts of the network code have heavy use of timeouts. Some timeouts might be redundant or unnecessary, so we should take a look to see if there are any improvements that could be made.

Some specific timeout situations that might warrant a closer attention:
- `GetAddr` timeouts
- fanout timeouts
- timeouts that wrap large network requests or responses, because the peer still has to

[2022-01-31 17:23] mdr0id commented on #3416
There are other pipelines that monitor that script diff more or less and deploy nodes. Ideally we want to update the fetch-params.sh to a python/rust flavor to support multiple platforms and provide ipfs or other fallback by default. This design/work went into a bit of a holding pattern for other priority node infra updates. Does this address the question regarding breakage or is there other risks

[2022-01-31 18:18] str4d commented on #3416
There are several things currently being tested simultaneously here (by always downloading the parameters):
1. That the parameter download code can successfully generate the necessary parameter-fetching requests, and successfully process the received response data.
1. That the generated requests get a response from the remote server that will likely satisfy us once we download it.
1. That the resp

[2022-01-31 18:22] #3234 closed, assigned to teor2345

[2022-01-31 20:44] teor2345 commented on #3416
This seems like a good longer-term fix.

But for now, in Zebra we can just test this code:
- when any code changes in the modules that implement it, and
- whenever the caches expire

That should avoid the server security measures, and catch most PRs that break the parameter downloads.

[2022-01-31 20:47] teor2345 opened #3447 "Cache Zcash parameters in Docker files"
## Motivation

Zebra's CI is currently triggering rate-limits on the Zcash parameters server.

We should cache the Zcash parameters in a docker build that runs once, then occasionally expires. (Or refreshes when the parameter download code modules change.)

### Background

This is a 2 part change, to achieve this outcome:

Zebra should just test the parameter download code:
- when any code changes

[2022-01-31 20:51] teor2345 opened #3448 "Run Zcash parameter downloads when the download code changes"
## Motivation

Zebra's CI is currently triggering rate-limits on the Zcash parameters server.

We should run a `zebrad download` test in CI whenever these modules change:
[code]

This will make sure we catch any code changes that break parameter downloads.

### Background

This is a 2 part change, to achieve this outcome:

Zebra should just test the parameter download code:
- when any code changes

[2022-01-31 21:36] dconnolly opened #3449 "Run `cargo install --locked --git https://github.com/ZcashFoundation/zebra --tag <new-tag> zebrad` from our README before/on release tagging"
## Motivation

We want to make sure that our install instructions are currently 'green' when we update them for a new release.

### Open Questions

- This might depend on the latest release tag, should this test only run when a tag is pushed?
- Should this run every time the `README.md` file is changed?

## Related Work

[2022-02-01 01:10] #3367 closed, assigned to nobody

[2022-02-01 12:37] gustavovalverde opened #3451 "Confirm which compiler we're using and if using clang could be faster to compile"
## Motivation
`clang` builds faster than `gcc` (linux default) but if we have both available, we have to ensure we're using `clang` when running `cargo build`

Origin: https://github.com/ZcashFoundation/zebra/pull/3431#discussion_r796168159

### Specifications

The C compiler should be auto-detected.

There seems to be a variable to set the preferred compiler: https://github.com/rust-lang/rust/iss

[2022-02-01 20:52] teor2345 commented on #3451
The C compiler should be auto-detected.

We should try installing `clang` and not `gcc g++`, and see if any parts of the build fail.

[2022-02-02 00:37] gustavovalverde commented on #3451
At least on the Dockerfile, Rust comes with `gcc` and `g++` preinstalled. We're adding `clang`. I'm not sure if removing `gcc g++` would be the best option.

[2022-02-02 23:46] teor2345 opened #3457 "fix(transparent): check coinbase data is at least 2 bytes long"
## Motivation

`zcashd` requires coinbase data that's 2-100 bytes long:
https://github.com/zcash/zcash/blob/d8c818bfa507adb845e527f5beb38345c490b330/src/main.cpp#L1697-L1698

But Zebra accepts coinbase data that's 1-100 bytes long:
https://github.com/ZcashFoundation/zebra/blob/fa071562fd0b891f29143e4cc8d17b34b4b1cf10/zebra-chain/src/transparent/serialize.rs#L250

https://github.com/ZcashFoundation

[2022-02-02 23:56] teor2345 opened #3458 "Update DNS seeder for NU5 testnet 2 and mainnet activation"
## Motivation

The Zcash network protocol versioning scheme is going to change, so the DNS seeder's network protocol version will become outdated.

### Scheduling

This task can be done as soon as the spec is updated.
It should be completed a few days before the NU5 testnet rollback, so the new seeder can get a list of updated nodes.

### Specifications

Upcoming change to: https://zips.z.cash/zip

[2022-02-03 21:36] conradoplg commented on #3225
I ended up doing this in https://github.com/ZcashFoundation/zebra/pull/3462 since it was closely related

[2022-02-04 07:34] teor2345 commented on #1515
This seems to be covered by #2726 and #2156.

[2022-02-04 07:35] teor2345 commented on #1515
Actually, the open design questions are answered by other tickets, but the task still needs to be done.

[2022-02-04 18:07] #3425 closed, assigned to oxarbitrage

[2022-02-07 17:34] conradoplg opened #3477 "Make clippy job work for dependabot PRs"
## Motivation

When a dependabot PR is opened, the Clippy job always fails with `Resource not accessible by integration`. Re-running the job manually makes it pass.

### Tasks

As Clippy posts annotations, it seems it has permission issues when done by Dependabot https://github.com/actions-rs/clippy-check/issues/2#issuecomment-807852653

In the meanwhile, it seems this is the only (tested) workaro

[2022-02-07 17:53] oxarbitrage opened #3478 "Validate valueBalance consensus rule in deserialization."
We have this consensus rule:

However we are not enforcing it in the deserialization. Check https://github.com/ZcashFoundation/zebra/pull/3461#discussion_r800772595 for more information.

- [ ] Add code to check this rule
- [ ] Cite the rule next to the code

[2022-02-07 20:27] teor2345 commented on #3478
The transaction v4 check for a zero value balance in empty sapling shielded data is here:
https://github.com/ZcashFoundation/zebra/blob/1a14baf8e7c6c82dba7a64e9b43d076b8f856f2a/zebra-chain/src/transaction/serialize.rs#L658-L663

[2022-02-07 20:27] #3478 closed, assigned to nobody

[2022-02-07 22:11] teor2345 commented on #3477
I added Gustavo's analysis from https://github.com/ZcashFoundation/zebra/pull/3471#issuecomment-1031902698 to this ticket