[2020-07-02 11:27] teor2345 opened #582 "Refactor zebra-consensus modules"
This is a cleanup ticket after PR #524.

TODO:
- [ ] ~rewrite `max_height()` to call `max_height_in_range()`~ (moved to #630)
- [x] flatten `zebra-consensus::verify::*` to `zebra-consensus::*`
- [x] move `*::tests` into their own files
- [x] move `checkpoint::CheckpointList` into its own file
- [x] move `checkpoint::Progress`, `checkpoint::Target` and other supporting structs into a `mod types;`

[2020-07-02 17:32] yaahc commented on #504
@teor2345 I've started the process for creating the design doc for this in https://github.com/ZcashFoundation/zebra/pull/583. I went ahead and just started by copying over rust's RFC template which should hopefully be a good design doc template

[2020-07-02 21:54] teor2345 commented on #504
Great, if there's another ticket, then we can close this one.

[2020-07-02 21:54] #504 closed, assigned to yaahc

[2020-07-02 22:13] teor2345 commented on #575
I think #558 and #585 make a lot of progress here.

But we should do a final check for hex-encoded test vectors in modules other than zebra-test.

[2020-07-02 23:11] #139 closed, assigned to yaahc

[2020-07-02 23:12] yaahc commented on #578
Fixed by https://github.com/ZcashFoundation/zebra/pull/550

[2020-07-02 23:21] teor2345 opened #587 "Test stateful restarts for each new zebrad version"
We want to automatically test that new zebrad versions can load previous block chain state.

The simplest test we can do is:
1. Keep a zebrad running in the cloud, with health checks
2. When a new version arrives, install the new version, and restart zebrad

This ticket is optional for NU3, but would be useful if we have time.

[2020-07-02 23:23] teor2345 opened #588 "If we upgrade the sled major version, delete and re-sync the chain"
If sled releases a major version update which changes its database structure, new zebrad versions won't be able to load previous state.

Since all our state is public, the easiest way to handle upgrades is to delete state, and re-sync.

This change is only required after we do a sled major version update.

[2020-07-02 23:24] hdevalence commented on #588
Note: a database structure change is a semver breaking change, so this will only be an issue when we upgrade the sled version past `0.32.x`.

[2020-07-02 23:25] dconnolly commented on #286
Depends on https://github.com/ZcashFoundation/zebra/issues/330
Depends on #279

[2020-07-02 23:25] teor2345 opened #589 "Do manual stateful Zebra sync tests before release"
For the first alpha release, we want to manually test that new zebrad versions can load previous block chain state.

Here's what a manual test looks like:
1. Keep a zebrad running locally, and check that it's syncing
2. When a new version arrives, install the new version, and restart zebrad
3. Check that zebrad is still syncing

These tests needs to happen in every release, until we automate state

[2020-07-02 23:28] teor2345 commented on #588
Thanks, I tweaked the description and title.

[2020-07-02 23:28] dconnolly commented on #305
406

[2020-07-02 23:45] #28 closed, assigned to dconnolly

[2020-07-02 23:51] yaahc opened #590 "Tracking Issue: Validate Transactions"
Flesh out zebra-chain and dependencies as needed to be able to validate a single transaction. This is enough extensive work that feeds into our `Sync and validate the chain` milestone.

Remaining chunks of work in approximate priority order:

- [ ] implementing tree state management for Sapling (assuming checkpointing on Sapling activation)
  - [ ] nullifier set https://github.com/ZcashFoundation/

[2020-07-02 23:52] dconnolly commented on #250
@str4d when we opened this ticket we noticed an incompatibility between the spec and I think ZIP 302 memos, a flag indicating that something is all binary or not, does this ring a bell to you?

[2020-07-02 23:56] teor2345 opened #591 "Verify that the Equihash Solution is valid for the Block Header"
As part of #477, we need to verify that the equihash solution covers the previous fields in the block header.

Once #578 / #550 are completed, we should be able to call `is_valid_equihash_solution()` on a `BlockHeader` here:
https://github.com/ZcashFoundation/zebra/blob/main/zebra-consensus/src/verify/block.rs#L97

[2020-07-02 23:56] teor2345 commented on #591
@oxarbitrage you might like to do this ticket, but you'll need to wait until @yaahc has finished ticket #578 / PR #550.

[2020-07-03 00:03] teor2345 commented on #298
@oxarbitrage you might like to do this ticket, you can start it as soon as you have time.

[2020-07-03 00:06] oxarbitrage commented on #591
Sure, will take it, thanks @teor2345 . You guys can assign me if you want.

[2020-07-06 12:44] teor2345 opened #594 "Remove some crates.io patches from zebra/Cargo.toml"
Some of the crates.io patches refer to commit hashes that aren't in @yaahc's GitHub repositories any more, causing build failures like:
https://github.com/ZcashFoundation/zebra/pull/524/checks?check_run_id=841330606

Removing the color-eyre and spandoc patches works on my machine, and hopefully CI:
https://github.com/ZcashFoundation/zebra/pull/524/commits/b05e6b55f7c0c52ee446fa7b3c0d76ffc0632d70
h

[2020-07-06 18:33] yaahc commented on #594
spandoc patches shouldn't need to be removed, but we should remove the color-eyre ones. I was afraid they would break but i was hoping with the `rev` stuff henry did it would survive deleting the branch... guess not. Sorry about that :sweat_smile:

[2020-07-06 20:37] #594 closed, assigned to yaahc

[2020-07-06 21:18] yaahc commented on #289
I'm unsure how to proceed on this issue. I've read everything I could find in the spec on nullifier sets but it never really describes how they should be implemented and what properties are important.

I get that nullifiers are derived from the spending key + the p (position?) of the note, and I get that this position is where the note commitment is in the merkel tree. My assumption is that the nu

[2020-07-06 22:05] yaahc commented on #180
relevant discord discussion: https://discordapp.com/channels/676527656170160146/716086297210650634/729816649242378261

[2020-07-07 06:36] teor2345 opened #598 "Fix clippy warnings in zebra-test and zebra-chain/tests"
It looks like we merged some code with clippy warnings as part of PR #558:
https://github.com/ZcashFoundation/zebra/runs/832764571#step:4:926

@oxarbitrage, would you mind fixing them up?

You can also run `cargo clippy` on your own machine to see the warnings.

I didn't see the clippy warnings when I did the review, because GitHub doesn't show check annotations in PRs from forked repositories:
ht

[2020-07-07 13:57] oxarbitrage commented on #598
Sorry about that, i applied the suggestions in https://github.com/ZcashFoundation/zebra/pull/602 and now the output is empty: https://github.com/ZcashFoundation/zebra/pull/602/checks?check_run_id=845754570#step:4:921

[2020-07-07 18:19] hdevalence commented on #298
Note: after NU3 activation, the consensus rules on coinbase transactions change, so we'll need to handle that.

[2020-07-07 18:47] prestwich commented on #180
@yaahc mind reposting some context for those of us following who aren't on discord? :)

[2020-07-07 19:34] hdevalence opened #604 "Remove librustzcash git dependency."
Currently we have a git dependency on our fork of `librustzcash`, used for the `equihash` crate. We should try to replace this with a dependency on a published crate, preferably sooner rather than later:
https://github.com/ZcashFoundation/zebra/blob/main/zebra-chain/Cargo.toml#L32

[2020-07-07 19:52] yaahc commented on #180
@preswich Not sure how well this will paste but here goes nothing

---

Yaah (she/her)Yesterday at 2:50 PM
this is the relevant issue right? https://github.com/ZcashFoundation/zebra/issues/180
GitHub
Zcash-compatible Bitcoin script impl · Issue #180 · ZcashFoundation...
durumcrustulumYesterday at 2:51 PM
correct yes
The current Script type is just a wrapper around a Vec<u8> with some Zcash(De)Seri

[2020-07-07 20:38] dconnolly opened #606 "Point at published redjubjub crate when it's available"
Not the git url.

[2020-07-07 21:19] prestwich commented on #180
I think `eeep` is the only correct response ya

this is a really thorny issue as Zcash relies on an ancient fork of Script, and Script is full of terrible edge cases (like negative 0). If we use a Rust re-implementation we're more likely to cause consensus failures :thinking:

[2020-07-07 21:38] yaahc commented on #180
not if zcashd adopts the same rust impl :D

[2020-07-07 22:05] prestwich commented on #180
if moving to a new Script implementation entirely, it would be a good idea to patch up sighash a bit. ZIP-243 hasn't been updated for the recent BIP-143 value issues.

Here's a list of changes in [BIP-341](https://github.com/bitcoin/bips/blob/master/bip-0341.mediawiki). Numbers 2 and 3 are useful for Zcash:
[code]

[2020-07-07 22:32] teor2345 commented on #180
That would have to wait until at least the Canopy network upgrade, which is in November. We would need some kind of script implementation before then, to validate Sapling to Heartwood.

[2020-07-07 22:33] #598 closed, assigned to nobody

[2020-07-07 22:46] teor2345 opened #608 "ZIP-213: Validate Shielded Coinbase Outputs like other shielded outputs"
## Dependencies

This ticket depends on some parts of pre-Heartwood transaction validation, see #801.

## Motivation

When we implement transaction validation, we should make sure we implement the Shielded Coinbase rules from Heartwood ZIP-213:
https://zips.z.cash/zip-0213#specification

## Solution

Make sure Zebra verifies the [ZIP-213 consensus rules](https://zips.z.cash/zip-0213#specification)

[2020-07-07 22:50] teor2345 commented on #298
This ticket is about Coinbase inputs and the "one coinbase transaction per block" rule. That rule doesn't change in Heartwood.

I opened #608 for Shielded Coinbase Outputs, which are allowed by Heartwood ZIP-213:
https://zips.z.cash/zip-0213

[2020-07-07 22:57] teor2345 commented on #253
Changes:
* #608 for Heartwood ZIP-213
* moved Zips to ticket description
* added appendixes to ticket description

[2020-07-07 23:00] yaahc commented on #180
Good point. I think we will need to come up with two plans, one for short term and one for long term.

### Short Term

1. fork `rust-bitcoin` and use it for validation
    * This is going to cause the same consensus issues that reimplementing it from scratch would
    * we're not even sure that `rust-bitcoin` includes a full implementation of the runtime for scripts
1. reimplement in rust only the

[2020-07-07 23:10] dconnolly commented on #180
Voice of a generation, I ams

[2020-07-08 01:23] teor2345 commented on #180
How do we validate pre-Canopy blocks?
Zebra can set a mandatory checkpoint, but zcashd can't.

[2020-07-08 01:26] teor2345 commented on #180
In general, it might help to look through the list of BIPs and ZIPs in #253 to find any script changes or restrictions.

[2020-07-08 01:29] yaahc commented on #180
disclaimer: I'm not exactly an expert on the network upgrades or consensus, so this could easily be based on faulty assumptions.

I assume the zebra-script impl would be well tested against all pre canopy blocks. If we're worried about some of the last pre Canopy blocks failing to validate causing problems with the network update we could do a transition period where as part of the Canopy upgrade

[2020-07-08 01:47] teor2345 commented on #180
Using dual libraries works, as long as the new validator accepts all the old blocks.

Here's how we would do that hard fork at Canopy activation:
* use the old validator up to the Canopy height
* use the new validator at and after the Canopy upgrade height

That way, we support chain reorganisations across the activation height.

If the old validator rejects some old blocks, then new zcashd nodes

[2020-07-08 02:22] yaahc commented on #180
@str4d went and setup a version of libzcashconsensus that is refactored to be more self contained which we should use for any `zcash` ffi based impls for this

https://github.com/str4d/zcash/tree/proofverifier-refactor

pull that branch from str4d's repo and then build just `libzcashconsensus` with this command:

[code]

[2020-07-08 03:03] str4d commented on #180
You can disable more parts and build _just_ `libzcashconsensus.a`:
[code]
The static library ends up in `src/.libs/libzcashconsensus.a`. The relevant API is `zcashconsensus_verify_script`, which is declared in `src/script/zcashconsensus.h` (and would be redeclared in an `extern "C" {}` Rust block).

[2020-07-08 03:09] str4d commented on #604
Once https://github.com/zcash/librustzcash/pull/248 is reviewed and merged, I'll publish `equihash 0.1.0`.

[2020-07-08 03:12] yaahc commented on #604
do you need us to review that PR @str4d ?

[2020-07-08 05:40] str4d commented on #604
@yaahc yes, that would be helpful (in particular, making sure I've correctly migrated the parameter constraints over from [here](https://github.com/zcash/zcash/blob/1192116598253276e920ee164fe32547ef68dc25/src/rust/src/rustzcash.rs#L579)).

[2020-07-08 08:55] teor2345 opened #609 "Fix spandoc in the BlockVerifier tests"
Blocked by the code movement in ticket #582.

We need to fix spandoc usage in the BlockVerifier tests, so we call `map_err` before `await`:
[code]
Becomes:
[code]

See commit fec6d2ba47be0fffa9e8c11687a7b94a83136000 for more examples of this fix in CheckpointVerifier.

_Originally posted by @yaahc in https://github.com/_render_node/MDE3OlB1bGxSZXF1ZXN0UmV2aWV3NDQ0MTM3MDQx/pull_request_reviews/more

[2020-07-08 09:15] teor2345 commented on #609
@oxarbitrage you might be interested in doing this fix, but I need to do #582 first.

[2020-07-08 09:25] teor2345 opened #610 "Test that BlockVerifier futures timeout waiting for more blocks"
We should clean up some of the tests in zebra-consensus:
- [x] refactor repetitive test setup into utility functions
- [x] we can use multiple awaits in a span now, so we can re-combine some futures method chains: https://github.com/ZcashFoundation/zebra/pull/524#discussion_r451080112
- [ ] include discontinuous block heights in the BlockVerifier, and test that the futures timeout waiting for more

[2020-07-08 10:38] teor2345 opened #611 "Add tracing to CheckpointVerifier"
@hdevalence  in https://github.com/ZcashFoundation/zebra/pull/524#pullrequestreview-444242349

In particular, we should instrument the target and progress functions, because they are the most complex.

[2020-07-08 10:40] teor2345 commented on #611
Blocked by #582.

[2020-07-08 10:58] teor2345 commented on #591
Fixed by #607.

[2020-07-08 10:58] #591 closed, assigned to oxarbitrage

[2020-07-08 19:27] yaahc commented on #609
@oxarbitrage don't worry too much about this issue IMO, I'm trying to fix this more fundamentally by making it so spandoc splits expressions up and instruments them individually so it will mix in `span.enter()` and `fut.instrument(span).await` as necessary to instrument an entire expression regardless of how many awaits there are.

[2020-07-08 19:29] oxarbitrage commented on #609
ok, discarded.

[2020-07-08 21:23] #407 closed, assigned to dconnolly

[2020-07-09 00:37] yaahc commented on #180
extremely relevant reference impl for when someone wrapped the upstream version of `bitcoinconsensus` as a rust library

https://github.com/rust-bitcoin/rust-bitcoinconsensus/blob/master/build.rs

[2020-07-09 11:56] oxarbitrage commented on #497
Comment from Henry says "not sure about that one" but nothing more. I think we should detail further.

[2020-07-09 16:21] oxarbitrage commented on #563
Why only continuous checkpoints verify ? I think this issue might be blocked.

[2020-07-09 17:26] oxarbitrage commented on #535
By doing some research online it seems a way(maybe the only one) to do something like this will be with `debug_assertions` (https://doc.rust-lang.org/reference/conditional-compilation.html#debug_assertions) used as a conditional above the commands we want to remove from release, for example we could do:

[code]

This will disable the connect command from the release build(we should probably also m

[2020-07-09 18:01] yaahc commented on #535
@oxarbitrage I think theres been a bit of a mixup, I don't think we want to have the commands that are available be based on if optimizations are enabled. We wanted to have a minimal subset of the commands exposed when we eventually make an official tagged release. Also, if I remember correctly, the plan isn't to use conditional compliation but to just remove the unwanted commands completely as on

[2020-07-09 18:02] yaahc commented on #563
@oxarbitrage what do you mean?

[2020-07-09 18:04] yaahc commented on #497
I think the issue is that this depends on generating blocks which is something we don't have implemented yet, but I'm not sure, @hdevalence?

[2020-07-09 18:19] oxarbitrage commented on #563
That the verifier is failing if the checkpoints are not continuous. The code is pretty complex for me so i am maybe not understanding correctly but on my view the checkpoints do not need to be continuous but the blockchain should.

I have some dirty code that you maybe want to check:

https://github.com/ZcashFoundation/zebra/compare/main...oxarbitrage%3Aissue563?expand=1

In the test i have a cont

[2020-07-09 18:21] oxarbitrage commented on #497
I am asking because if that is the case i think we could still check the version in the receiving side just as we did with header_solution and coinbase.

[2020-07-09 18:25] yaahc commented on #563
@oxarbitrage I think you might need to use `tokio::spawn` to spawn the verification futures. Its a batched interface, so each future wont resolve until the checkpoint is satisified, so they should all be pending until you add the 3rd block.

relevant resources:

* https://docs.rs/tokio/0.2.21/tokio/fn.spawn.html
* https://docs.rs/futures/0.3.5/futures/stream/struct.FuturesUnordered.html

You'll wa

[2020-07-09 18:31] hdevalence opened #617 "Handle backpressure in the Syncer."
The part of the Syncer that was written up in detail in a design document is the logic for managing pipelined block lookup: determining which blocks to download and how to extend prospective chain tips in advance of completed verification of all previous blocks.  This is important for performance, but also because it enables designs like the checkpoint verifier, which would not otherwise be possib

[2020-07-09 18:36] oxarbitrage commented on #535
Ok, that is clear now, thanks.

[2020-07-09 19:20] #606 closed, assigned to dconnolly

[2020-07-09 21:01] teor2345 commented on #564
I've been thinking about this, and calling the RPC multiple times in the script seems slow and error-prone. We're going to have to parse json, call `jq` and `zebrad revhex`, and generate the checkpoint heights.

I'd rather do all that work in Rust, using `serde-json`:
`zcash-cli getblockhashes INT_MAX 0 | zebrad checkpoints`

We'll need a `zebrad checkpoints --testnet` option, to generate the test

[2020-07-09 21:03] yaahc commented on #564
could we have `zebrad checkpoints` try to call `zcash-cli` internally rather than having to pipe the output into zebrad?

[2020-07-09 21:06] teor2345 commented on #564
Maybe?

For the testnet, the command-line would have to be `zcash-cli -testnet getblockhashes INT_MAX 0 | zebrad checkpoints`. And there's no guarantee that we'd get the RPC authentication options right, so we'd have to allow the pipe anyway.

[2020-07-09 21:10] yaahc commented on #564
we could expose a `--testnet` arg that adds the `-testnet` arg to the internal `zcash-cli` invocation we call

I don't know what this means

[2020-07-09 21:14] teor2345 commented on #564
You're right, we'll definitely need a `--testnet` option, to supply the right hard-coded genesis block hash.

For example, the data directory, and RPC IP, port, username and password. (None of these options are required, but we can't guarantee the user is using the defaults.)

https://helpmanual.io/man1/zcash-cli/

[2020-07-09 21:17] yaahc commented on #564
can we just re-export all of these knobs as cli flags like we do with `-testnet`?

[2020-07-09 21:19] teor2345 commented on #564
We could passthrough all unrecognised arguments.

[2020-07-09 22:08] teor2345 commented on #564
There are only 10 options, so it should be easy to list them all. (Hopefully they don't add any extra options.)

[2020-07-09 22:11] yaahc commented on #564
I tried deleting the comment before you got to it but the more I thought about it I realized it should be pretty easy to just forward the args like you said and it has the advantage of dealing with the extra options. I'll have to check out gumdrop in more detail but I know exactly how to do this with structopt so worse case scenario we could just manually re-parse the args ourselves via structopt

[2020-07-09 22:12] teor2345 commented on #564
We'll want to parse and forward `-testnet` and `-regtest`, so we can select the right genesis block. And just forward everything else.

[2020-07-09 23:05] dconnolly commented on #609
Fixed in #618

[2020-07-09 23:05] #609 closed, assigned to nobody

[2020-07-09 23:05] teor2345 commented on #563
The CheckpointVerifier only verifies continuous chains of blocks in the chain. There must be a checkpoint at height 0. There are no other restrictions on the checkpoint heights.

In `multi_item_checkpoint_list`, we use the same block list for the chain and the checkpoints:
https://github.com/ZcashFoundation/zebra/blob/main/zebra-consensus/src/checkpoint.rs#L869
So we can't verify block 415000, bec

[2020-07-09 23:06] teor2345 commented on #563
I'm happy to review a PR, please submit your code when you think it's ready.

[2020-07-09 23:06] teor2345 commented on #563
(Or when you need help.)

[2020-07-09 23:11] dconnolly commented on #482
Resolved by #558

[2020-07-09 23:11] #482 closed, assigned to nobody

[2020-07-09 23:13] dconnolly commented on #486
This has been resolved now I think.

[2020-07-09 23:13] #486 closed, assigned to dconnolly

[2020-07-09 23:13] dconnolly commented on #515
This has been resolved

[2020-07-09 23:14] teor2345 commented on #298
Fixed by #593

[2020-07-09 23:14] #298 closed, assigned to nobody

[2020-07-09 23:19] dconnolly opened #619 "Tracking: sync and validate mainnet"
- [x] Validate blocks #428
  - [x] Validate transactions #196
  - [x] Validate block headers #477
- [ ] Ensure sync logic is correct #884
- [ ] Test validation on the full chain #745
- [x] Handle inbound messages #889

[2020-07-09 23:20] dconnolly commented on #136
Closed by at least #473

[2020-07-09 23:20] #136 closed, assigned to yaahc

[2020-07-09 23:25] dconnolly opened #620 "Transaction database storage"

[2020-07-09 23:27] #578 closed, assigned to nobody

[2020-07-09 23:27] teor2345 commented on #575
Let's just move test vectors as we find them.

[2020-07-09 23:27] #575 closed, assigned to nobody

[2020-07-09 23:34] dconnolly commented on #140
Tracked contents elsewhere.

[2020-07-09 23:34] #140 closed, assigned to dconnolly

[2020-07-09 23:41] dconnolly opened #621 "Design: Script implementation in Rust"
We should have a design document for this.

[2020-07-09 23:45] #515 closed, assigned to yaahc

[2020-07-09 23:51] yaahc opened #622 "Wrap and re-export `zcashconsensus` as a rust crate"
Part of https://github.com/ZcashFoundation/zebra/issues/180

To get a fully consensus compatible implementation of zcash script we should wrap the c++ library that is used by `zcashd`. This will involve the following:

- [x] Add a build.rs script that links against a precompiled version of the `libzcashconsensus.a`
- [x] Provide a safe idiomatic rust API to the validate function exported by `zcash

[2020-07-09 23:56] yaahc opened #623 "reimplement `zcash_script` in rust"
Our short term plan for getting a consensus compatible zcash-script implementation is to depend on the implementation currently used in `zcash` (https://github.com/ZcashFoundation/zebra/issues/622). However, long term we would like to avoid depending on c++ code as much as possible. Additionally, the c++ build system may impose new restrictions on what platforms we can support.

To defend against

[2020-07-09 23:57] teor2345 opened #624 "Spec check: Zcash protocol messages 2 MB limit"
`zcashd` limits encoded and decoded bitcoin protocol messages to 2 MB (2 * 1024 * 1024 bytes):
https://github.com/zcash/zcash/blob/caea54013e8df02a9d9424d6496eb1ac6af069e2/src/net.h#L50

## TODO

Check if the `zcashd` limit is an implementation detail, or a missing consensus rule in the spec.

## Completed Work

Currently, Zebra uses a ~4 million~ 2 MB limit for inbound messages~, and doesn't limi

[2020-07-09 23:58] teor2345 commented on #624
@oxarbitrage you might be interested in this ticket?

[2020-07-09 23:58] str4d commented on #604
`equihash 0.1.0` is now published.

[2020-07-10 00:03] oxarbitrage commented on #563
Thanks @teor2345 that is actually my understanding and what i was trying to do at https://github.com/ZcashFoundation/zebra/compare/main...oxarbitrage%3Aissue563?expand=1 (I am not pushing as i dont think that is even close to be ready however if it is better for you to see it i can just submit it).

In the test i am trying i have a vector `allblocks_data` with block0, block1 and block2. Then in `c

[2020-07-10 00:05] teor2345 commented on #563
@yaahc's suggestion is correct: the futures won't resolve until all the blocks are in the verifier queue.

So you can't await the futures until you have created all of them. (Creating the futures queues the blocks.)

Then you should be able to await them in any order.

[2020-07-10 00:06] teor2345 commented on #563
You might also find `tokio::time::timeout` useful during testing, so that your tests fail when futures don't resolve, rather than hanging:
https://github.com/ZcashFoundation/zebra/blob/main/zebra-consensus/src/checkpoint.rs#L1104

[2020-07-10 00:12] oxarbitrage commented on #563
Nice, thank you both, will try tomorrow and let you know how it goes :)

[2020-07-10 00:19] teor2345 opened #626 "Make checkpoint list re-use clearer in multi_item_checkpoint_list test"
I want to fix these comments so they're clearer:
https://github.com/ZcashFoundation/zebra/blob/main/zebra-consensus/src/checkpoint.rs#L838

[2020-07-10 00:31] teor2345 opened #627 "Improve documentation for block coinbase transaction check"
Zcash has multiple coinbase transaction rules:
* one coinbase transaction, at the start of the transactions in a block #298
* block coinbase height is one more than previous block #477
* allowed coinbase transaction outputs #608

Let's:
- [x] rename `coinbase_check` to `coinbase_is_first_check`
- [x] quote from the relevant part of the spec in the function documentation: https://github.com/ZcashFo

[2020-07-10 00:36] yaahc commented on #626
fwiw I feel like that comment is pretty clear as is, but maybe that's only because I have context...

[2020-07-10 00:39] teor2345 commented on #626
It's already confused at least one person, so I'll improve it.

[2020-07-10 01:22] teor2345 opened #628 "Limit the number of queued blocks at each height"
To avoid a memory DoS, we want to limit the number of queued blocks at each height:
https://mobile.twitter.com/_prestwich/status/1281325791297470464

- [x] Any additional blocks should fail validation immediately.

Assuming we checkpoint every 500 blocks, the maximum memory usage for a checkpoint range is:
* 1 block per height: `1 * 2 MB * 500 = 1 GB`
* 2 blocks per height: `2 * 2 MB * 500 = 2 GB`

[2020-07-10 04:45] teor2345 opened #630 "Rewrite CheckpointList max_height() to call max_height_in_range()"
Let's make sure these functions always return consistent results.

It might cost a little more CPU time, but that's unlikely to ever matter.

[2020-07-10 06:51] #582 closed, assigned to teor2345

[2020-07-10 06:56] teor2345 opened #632 "Make sure CheckpointList hashes are unique"
zcashd outputs block hashes without the corresponding block heights. So we need to do this check, to make sure we haven't duplicated any checkpoints.

[2020-07-10 07:55] teor2345 opened #634 "GCloud Builds fail via GitHub App Integration"
Since we merged #614, every merge to main shows a "failed" (red x) status on GitHub:
https://github.com/ZcashFoundation/zebra/commits/main

Here is the error message:
[code]
https://github.com/ZcashFoundation/zebra/runs/855181580

[2020-07-10 08:40] teor2345 opened #636 "Document the CheckpointVerifier design"
Let's create a draft checkpoint verifier design from:

Tickets and PRs:
- [ ] https://github.com/ZcashFoundation/zebra/issues/429#issuecomment-646338626 - Checkpoint service
- [ ] #564 - Create and parse checkpoint lists
- [ ] #628 - Limit the number of queued blocks at each height
- [ ] https://github.com/ZcashFoundation/zebra/pull/635#issuecomment-656974072 - security (outdated?)
- [ ] https://g

[2020-07-10 11:52] #604 closed, assigned to yaahc

[2020-07-10 17:53] #632 closed, assigned to teor2345

[2020-07-10 18:10] hdevalence commented on #624
Is this a consensus rule, or just network behavior?

[2020-07-10 18:25] hdevalence commented on #564
Hmm, I'm not sure that adding a new command to `zebrad` is preferable to having a standalone script, because it means that the checkpoint generation is shipped as part of the main functionality of the node software, rather than being a step used to create an artifact that's part of the build.  I don't see us needing to generate checkpoint lists very often -- I think that it's enough to keep a file

[2020-07-10 19:05] hdevalence commented on #621
This is a fragment but I think a nice way to do zero-copy script parsing and execution is to create an `Op` enum whose variants correspond to script operations (note: this correspondence does not need to be exact, see below), and implement parsing as an iterator of `Op`s.  These ops can then be fed into something that executes the script.

Having zero-copy script parsing and execution would be nic

[2020-07-10 19:24] hdevalence commented on #564
Another thought (branching off of [here](https://twitter.com/hdevalence/status/1281356517619281926)) is that since checkpoints are generated retrospectively, not prospectively, we can tune the checkpoint heights according to the block sizes.

Since we know the sizes of all of the blocks we're checkpointing, we can estimate how much memory will be used for queued blocks in the honest case (assuming

[2020-07-10 19:32] hdevalence commented on #628
Just to clarify: should this issue title be "Limit the number of queued blocks at each height"?

[2020-07-11 02:50] teor2345 commented on #628
Oops!

[2020-07-11 02:55] teor2345 opened #640 "Limit the number of entries in the checkpoint verifier queue"
We should limit the number of entries in the checkpoint verifier queue, and discard the largest block heights when we reach that limit.

Otherwise, a bad peer can give us large block heights at the start of our sync, causing a memory DoS.

Based on the calculations in #628, and assuming 1-2 blocks at each height:
`1-2 * 2 MB * 1500 = 3-6 GB`

1500 is 3 full checkpoint intervals. (Blocks are verifi

[2020-07-11 08:54] teor2345 opened #642 "Create a checkpoint backpressure design that favours lower height blocks"
The checkpoint queue memory limits in #640 are a hard limit that keeps our memory usage from blowing out.

But we'd like to use backpressure to slow down block downloads. Ideally, we want a backpressure design with the following properties:
* favours lower block heights, so checkpoint ranges can validate and get written to disk
* keeps memory usage reasonable:
  * dynamically detects available mem

[2020-07-13 01:15] teor2345 commented on #624
It's a zcashd limit, which isn't in the spec.

So either it's an unwritten consensus rule which needs a spec update, or an implementation detail. We won't know which until we try to add it to the spec :-)

[2020-07-13 02:28] teor2345 commented on #564
I think you're right, let's use a script for this release. If the script gets too complex, we can rewrite it in another language. (And if that language is Rust, we can do that in a separate repository that depends on zebra-chain and maybe zebra-consensus.)

In tor we refreshed a similar list (long-lived node addresses) every 6-12 months.

It was a python script :-)

[2020-07-13 03:30] teor2345 commented on #564
I'll try to implement this design in the checkpoint script.

My goal was to make quick changes that defended against some worst case attacks, and honest-case overload behaviour. But it looks like that's more complicated than I expected, so I won't be able to do it quickly. And I should move on to more important tasks.

In general, I agree with your conclusions, so I'm going to avoid spending time

[2020-07-13 03:42] teor2345 commented on #564
The average block size is around:
30 GB / 900,000 = 35 kB

So if we limit our checkpoints to 256 MB in the honest-case, most checkpoints will be 5000 - 10,000 blocks apart:
256 MB / 35 kB = 7300

So we might want to pick a maximum interval size. And then use smaller checkpoints as needed. I'll check when I write the script.

We could also find the maximum block size in the historic chain, and refu

[2020-07-13 15:55] dconnolly commented on #634
This has been fixed in https://github.com/ZcashFoundation/zebra/pull/637

[2020-07-13 15:55] #634 closed, assigned to dconnolly

[2020-07-13 16:30] yaahc commented on #564
fwiw @teor2345 I already added a `zebra-utils` crate to the workspace and a `zebra-checkpoints.rs` binary file to use to write this in rust

[2020-07-13 20:23] hdevalence commented on #642
Since we already have (or will have, once I finish #617) backpressure in the syncer that decides which blocks to download and manages downloading, do we need to have backpressure in the verifier component?

I'm not sure that it makes sense to have backpressure in the checkpoint verifier, because the checkpoint verifier is a service that operates on `Block`s.  By the time a verification request is

[2020-07-13 20:38] hdevalence commented on #628
I don't think that this attack is practical. Because we randomize block hash requests and block download requests over the available peers, the ability of any single peer or collection of peers to feed us bad blocks is limited. In order for this to happen, we have to first request a list of hashes, and that request to be routed to an evil peer.  Then, we split those hashes into chunks and attempt

[2020-07-13 21:04] hdevalence commented on #564
If I understand the attack correctly, this shouldn't be possible, because the network layer ensures that a request for a block with a particular hash resolves either to a block with that hash or to an error.

This actually happens not for a security reason but for a practical one. Because Bitcoin doesn't actually have a request/response concept, the network layer has to statefully examine the mess

[2020-07-14 00:08] teor2345 commented on #564
Thanks, that's a much stronger security guarantee than I expected. I'll make sure I document that in #636.

(And close the PRs that are obsoleted by the new design.)

[2020-07-14 00:19] teor2345 commented on #642
Great, I'll close this ticket as obsolete.

[2020-07-14 00:19] #642 closed, assigned to teor2345

[2020-07-14 00:20] teor2345 commented on #640
This is the role of the syncer, see #642 for details.

[2020-07-14 00:20] #640 closed, assigned to teor2345

[2020-07-14 07:44] teor2345 commented on #565
I think we want to interface to the consensus parameters using functions that takea a block height, and a network (mainnet, testnet, and maybe regtest).

[2020-07-14 19:12] yaahc opened #652 "Add documentation on how to manipulate log levels in `zebrad`"
In particular we need to document that we:
- [ ] use a non-standard env variable for manipulating our log level, `ZEBRAD_LOG`, and
- [ ] process the log options in this order: verbose flag, command uses stdout, env var, config file.

We should probably follow `chalk`'s example on how to structure the section on how to manipulate the log level. https://rust-lang.github.io/chalk/book/contribution_gu

[2020-07-14 19:15] hdevalence commented on #652
Sounds good.  Should we keep a tracking issue for all of the facts we need to document, or should it be a milestone?

[2020-07-14 19:17] yaahc commented on #652
I think its fine to just leave them as individual issues. If we need a way to organize them I'd start with adding a `docs` tag or something.

[2020-07-15 00:13] teor2345 opened #655 "Should `zebrad seed` use the zebrad config file?"
In `process_config`, we use the config file for the start command:
https://github.com/ZcashFoundation/zebra/blob/67718898c53d6603bcbdcdfbadb02dfc970a999b/zebrad/src/commands.rs#L79

Should we also use it for the `seed` command?

In any case, we should document which commands use the config.

@gtank @dconnolly what do you think?

[2020-07-15 01:02] teor2345 opened #656 "Add logging info to zebrad's command line usage message"
We should document the  verbose flag, env var, and config file.

See #652 for details.

If you type in just 'zebrad', it doesn't tell you about the command line flags or the config file options.

[2020-07-15 06:37] teor2345 opened #658 "Remove the block::header::EquihashError type"
non-blocking on this PR, but just something I noticed: I think we might be able to get rid of this error type entirely, since serialization is infallible mod the underlying writer, and presumably the verification code serializes into a `Vec` (which shouldn't fail except by OOM).

_Originally posted by @hdevalence in https://github.com/ZcashFoundation/zebra/pull/631_

[2020-07-15 06:38] teor2345 commented on #658
@yaahc what do you think?

[2020-07-15 06:45] yaahc commented on #658
sounds good to me

[2020-07-15 08:58] teor2345 opened #660 "Avoid conflicting default ports for listeners"
We should disable the metrics and tracing services by default, because they represent a low-severity security issue:
* metrics exposes information some users may want to keep private
* tracing allows unauthenticated third parties to modify some parts of the config, which may be a denial of service risk

Using "localhost" as the default isn't the perfect solution, because:
* "localhost" doesn't con

[2020-07-15 09:16] teor2345 commented on #624
Closed by #645.

[2020-07-15 16:51] #630 closed, assigned to teor2345

[2020-07-15 16:51] #626 closed, assigned to teor2345

[2020-07-15 16:51] #627 closed, assigned to teor2345

[2020-07-15 17:13] hdevalence commented on #660
Rather than updating the generated config's comments to recommend 127.0.0.1, I think we should do it in the documentation for the config field -- we currently don't document any config fields in the generated config's comments, and instead just direct users to the generated rustdoc, so that there's a single source of truth on the meaning of the config options.

[2020-07-15 20:27] #628 closed, assigned to teor2345

[2020-07-16 02:03] teor2345 opened #667 "Send tracing output to stderr"
We want to modify Zebra's `Tracing` component to accept a generic writer type with a `MakeWriter` bound. Then we can redirect all tracing output to stderr.

This is an important change for unix-based OSes, because it lets users separate logging output from actual command output. (Currently, Zebra's non-server commands use stdout to provide results or usage messages.)

For details, see:

The Zebra

[2020-07-16 06:41] teor2345 opened #669 "Only enable listeners for server commands"
I'm trying to use `zebrad revhex` in a tight bash loop, but it occasionally panics because its listener ports are in use.

I also saw some messages saying that it's aborting due to a double panic, but I'm not sure if that happens every time.

TODO:
- [x] disable listeners for most commands (PR #670)
- [x] handle the double panic (Ticket #671)

[2020-07-16 07:22] teor2345 opened #671 "Stop panicking when the metrics listener port is unavailable"
When we have multiple zebrad instances running, port listener conflicts can cause panics and errors.

Metrics panics:
[code]

Tracing fails, but continues:
[code]
(Sometimes the second line isn't logged.)

One of these errors results in a double panic, but I'm not sure which one.

Follow up to #669.

[2020-07-16 17:00] hdevalence commented on #671
I think that panicking (or returning an error that terminates the program) is a reasonable choice here, *as long as the metrics listener port was specified explicitly*.  If we change the metrics listener config setting to be an `Option<SocketAddr>` with default `None`, then I think we'd get that behavior (although we'd still need #669).

It does seem like a bug that the behavior is inconsistent be

[2020-07-16 17:03] hdevalence commented on #667
#561 seems potentially related, in that both of these issues are about managing how the `tracing` `Subscriber` is configured.  It seems like a common pain point is difficulty configuring the subscriber used by Abscissa.

[2020-07-16 17:40] #669 closed, assigned to teor2345

[2020-07-16 19:46] hdevalence opened #676 "Model errors in service transcripts."
Right now the service `Transcript` can't check that requests fail, only that they succeed, because the transcript is a list of request/response pairs, not a list of request/result pairs. This could probably be fixed by changing
[code]
to
[code]
so that the transcript is of responses or errors, but I'm not sure what the right way to change the check function is.

Currently it's
[code]
but the obvio

[2020-07-16 20:04] yaahc commented on #676
I'd like to get something more specific than the presence of an error. I'm thinking we might be able to use closures to handle the check `fn(Box<dyn Error + 'static>) -> bool`, that plus the `Result` on the inputs you end up with this:

[code]

[2020-07-16 20:08] yaahc commented on #676
Also, I assigned this one to myself because I'm interested in working on it :3

[2020-07-16 20:18] hdevalence commented on #676
@yaahc great, go nuts! I think the priority should be making it really ergonomic to specify errors in transcripts so that it's easy to write tests. The example you wrote looks nice.

[2020-07-16 21:00] teor2345 opened #677 "Test every command as part of our CI"
We should test every command as part of our CI:
- [ ] ~Connect~ (will be removed)
- [ ] Generate
- [ ] Help
- [ ] Revhex modes:
  - [ ] command-line option
  - [ ] stdin
- [ ] Seed (might be combined with Start)
- [ ] Start
- [ ] Version
- [ ] No Command Line Arguments - shows Help

This is not an urgent task, but we should do it for our second release.

[2020-07-16 21:04] hdevalence commented on #677
Abscissa has tooling for running tests of commands that we can probably use for some of this (we stripped out the example tests because we weren't using them).

[2020-07-16 21:22] teor2345 commented on #677
I think it's also useful to test each command from the command-line, to make sure we haven't broken the interface or startup behaviour.

[2020-07-16 21:37] hdevalence commented on #677
Yep, sorry, that's what I meant — the Abscissa test runners actually run the commands and you can enforce behavior about their outputs, etc. in the test code.

[2020-07-16 23:58] teor2345 opened #680 "Design: Chain Reorganisation"
We have a bunch of state for the chain, including various tree states.

When the chain changes, we need to update this state. There are two kinds of update:
- [ ] new block appended to current best chain
  - update the previous block's state, using the new block
- [ ] a side chain becomes the new best chain
  - conceptually, take the state at the fork, and update it using the side-chain blocks

We

[2020-07-17 23:45] #293 closed, assigned to nobody

[2020-07-18 11:44] teor2345 opened #682 "Chain State Design"
Update: See #763 for the latest design.

This description is outdated:

Open Questions:
- [ ] which module is responsible for the chain state?
  - the state data structures and basic operations can go in zebra-state
  - zebra-consensus makes the decision about the best tip, and when to write state to disk

[2020-07-18 18:26] yaahc commented on #682
What do we mean by "state" in these lines?

[2020-07-18 19:11] yaahc commented on #682
I'm not sure I'm understanding the design for the in memory chain state so let me try describing my understanding of how I figured it would work and we can figure out how close it is to your design.

Assuming the state service is storing the last 100 heights worth of blocks in memory and not commiting them to the disk here's how I'd expect it to be represented and modified.

* state service stores

[2020-07-19 03:14] teor2345 commented on #682
The info we need to verify the next block and all its transactions.

And any info we need to do any other tasks, such as wallet support. (In later releases.)

[2020-07-19 03:23] yaahc commented on #682
okay but you say the "the chain state for each block" , so does that mean just "the entire chain that leads up to a given block"

[2020-07-19 04:03] teor2345 commented on #682
You described the kind of design I was thinking of. But there are a few tweaks that make the algorithm and data structures a bit simpler.

I don't think we need to explicitly track heights or lists of blocks.

We can key blocks by hash, because the parent hash field points to a unique block. This map is what I called the "block pool".

(If we subtract one from the height to find the parent height,

[2020-07-20 04:33] teor2345 opened #683 "Use testnet blocks in the unit tests"
At the moment, zebra-test only has mainnet test vectors.

Let's add some testnet blocks to zebra-test, and use them in the tests:
- [x] Add testnet blocks to zebra-test
- [ ] Update zebra-chain tests
- [ ] Update zebra-state tests
- [ ] Update zebra-consensus tests

Let's use a different PR for each crate where we update the tests.

It might be helpful to have utility functions that:
* return the

[2020-07-20 04:34] teor2345 commented on #683
@oxarbitrage you might be interested in doing this ticket.

[2020-07-20 05:03] teor2345 opened #684 "Re-write the checkpoint list generation scripts in Rust"
In PR #674, I wrote some bash scripts that get block info using `zcash-cli`, then generate a list of checkpoints.

We should re-write these scripts in Rust, as a bin target in zebra-utils. We'll still have to call `zcash-cli`, but we can parse the output using a Rust json library.

We should be able to re-use some of the CheckpointList and `zebrad revhex` code. We might want to move the revhex cod

[2020-07-20 05:03] teor2345 commented on #684
@oxarbitrage you might enjoy this ticket.

[2020-07-20 05:08] teor2345 opened #685 "Support incremental updates to the hard-coded checkpoint lists"
In PR #674, I wrote some bash scripts that get block info using `zcash-cli`, then generate a list of checkpoints. But getting all that block info can be slow.

We should modify the scripts so that we can give them the most recent checkpoint height, and get back any extra checkpoints.

We might want to re-implement the scripts in Rust (see #684) before doing this ticket. But if we decide to update

[2020-07-20 13:42] oxarbitrage commented on #677
I know this is not priority but i started some work here and will need some comments in the PR https://github.com/ZcashFoundation/zebra/pull/690 . No rush at all but please take a look when you can. Thanks!

[2020-07-20 13:45] oxarbitrage commented on #683
Will take it, thanks @teor2345

[2020-07-20 15:35] oxarbitrage commented on #684
Nice one, will take it. Thanks.

[2020-07-21 04:38] teor2345 opened #692 "Use git metadata and platform info in Zebra"
When we get bug reports about `zebrad`, it would be helpful to have exact version and platform information.

### vergen crate

We could use `vergen`'s:
* [x] VERGEN_SHA_SHORT
* [x] VERGEN_COMMIT_DATE
* [x] VERGEN_TARGET_TRIPLE
* [ ] VERGEN_RUSTC_SEMVER
* [ ] VERGEN_RUSTC_CHANNEL
* [x] VERGEN_BRANCH
* [x] VERGEN_SEMVER (from `git describe`)

See https://docs.rs/vergen/3.2.0/vergen/index.html

We'd

[2020-07-21 05:07] teor2345 opened #693 "Make the zebrad crate version and user agent match"
Currently, the zebrad crate version is 0.1.0, and the user agent is 2.0.0-alpha. We should make these versions match, so bug reports are easier to understand. (The crate version is used in `zebrad version`, and the output of some other commands.)

I'd submit a PR, but I'm not sure what outcome we want here. In particular, I'm not sure if we want to commit to a 2.0 semver until we've stabilised.

[2020-07-21 06:12] teor2345 opened #694 "Use platform-specific directories for zebrad's config and state"
We should use platform-specific directories by default in zebrad.

- [ ] **Zebrad Config**

zebrad should read the config from the preference directory:
https://docs.rs/dirs/3.0.1/dirs/fn.preference_dir.html

(I'm not sure how to do this in Abscissa.)

- [ ] **Cached State**

We should also put our cached state in the cache directory:
https://docs.rs/dirs/3.0.1/dirs/fn.cache_dir.html

Here's the c

[2020-07-21 07:28] teor2345 opened #695 "zebrad silently stalls if peers close the connection"
If all our peers close their connections, zebrad will silently stall, without logging any further information.

Instead, we should regularly log a peer status, increasing its log level based on the time since a new peer.

It looks like zebra-network has some timeout logic, but I can't see any logs after several minutes. I don't know if it works at the version stage of the connection. (Or if it is

[2020-07-21 09:03] dconnolly commented on #695
I think this may be the behavior I've seen when running zebrad on our node deployments _sometimes_, just stalling out, not crashing, not logging anything else on [info], etc

[2020-07-21 10:14] teor2345 commented on #695
It should be happening consistently right now, because our network protocol version is rejected by zcashd after Heartwood.

I wonder if Heartwood disconnections have affected the Zebra DNS seeders as well. Can you or @gtank check?

[2020-07-21 12:35] teor2345 opened #697 "A fresh zebrad instance tries to verify the highest block"
As far as I understand, the sync service and block downloader should download blocks roughly in chain order. But I'm seeing `zebrad` download the tip of the current chain within a minute or two of starting.

Either our assumptions about zcashd are wrong, or zebrad has a bug:
- [ ] the sync service queries blocks from genesis onwards
- [ ] peers respond with hashes based on our queries
- [ ] the do

[2020-07-21 13:05] teor2345 opened #698 "zebrad's sync service logs are a bit too verbose"
`sync:obtain_tips` logs client request timeouts at error level.

I can submit a PR to reduce them to warn or info, but I don't know how to disable the backtraces. (I tried RUST_BACKTRACE, but it doesn't remove the span trace.)

[2020-07-21 13:11] yaahc commented on #698
the solution I think is not to prevent the SpanTrace from being captured and instead move the spans to higher log levels so they're disabled by default. also I want to make some changes to the display format to let us print log messages for errors as one line.

[2020-07-21 13:11] #564 closed, assigned to teor2345

[2020-07-21 14:07] teor2345 commented on #697
I'm using the branch in PR #699.

The diagnostic warning is "unexpected high block".

[2020-07-21 14:15] teor2345 commented on #695
The fix for the heartwood issue is in PR #702.

[2020-07-21 14:23] teor2345 commented on #698
I opened PR #703 for the log level downgrade.

I'd like to reduce the network errors to info, but keep the block verify errors at warn. Is there an easy way to do that, when the errors come from the same future result?

[2020-07-21 14:31] teor2345 opened #704 "Make zebrad work with a small number of peers"
## TODO

- [ ] Test Zebra with 1 peer, and with 2 peers
  - this bug might have been fixed by #1950 or other zebra-network fixes
- [ ] Fix any issues that come up

## Motivation

I tried configuring zebrad with 2 peers today, and no DNS seeders. It just seemed to hang.

But it seemed to work well with the DNS seeders, and a smaller configured peer set limit (around 5).

I don't think fixing this i

[2020-07-21 17:19] hdevalence commented on #693
We had a brief discussion on discord and it seemed like we had consensus on the following versioning policy (please correct me if I'm getting this wrong):

- `zebrad`: match major version to NU version, so we will start by releasing `zebrad` `3.0.0`;
- `zebra-*` libraries: start by matching `zebrad`'s version, then increment major versions of each library as we need to make breaking changes (poten

[2020-07-21 17:21] hdevalence commented on #698
per https://github.com/ZcashFoundation/zebra/pull/703#issuecomment-661989549 , I think we should warn on network errors that we can't handle (i.e., any network errors that propagate upwards into the syncer), but handle all transient network errors.  The problem with the current syncer code is that it doesn't use retry policies to handle network errors, but I'm working on fixing that this morning (

[2020-07-21 17:25] hdevalence commented on #704
This seems like a bug, ideally it would continue to work, although there may be some long delays in request processing at times.  For instance, when crawling the network we send two requests for peers to the network, hoping these will be randomly distributed over the network, but Zcashd behaves badly and silently ignores any requests for peers after the first one, so we have to wait for the reques

[2020-07-21 17:33] hdevalence commented on #695
Hmm, increasing the log level doesn't seem right to me.  In our current model, the span and event levels are fixed properties of spans and events, which allows us to do dynamic filtering, zooming in to particular parts of the program and execution context using the tracing endpoint.  Here the consumer of the tracing output has full control over what information to filter for.  However, if we have

[2020-07-21 17:45] hdevalence opened #706 "Justify our alternative to "evicting pre-upgrade peers from the peer set across a network upgrade""
## TODO

Write tests or documentation for:

- [x] make Zebra disconnect from outdated peers after a network upgrade #1334
- [ ] check that we don't need to reject new connections from outdated peers in the lead-up to a network upgrade
- [ ] check that we don't need to close existing connections to outdated peers in the lead-up to a network upgrade
- [ ] add a comment to the relevant file, listing

[2020-07-21 17:46] hdevalence commented on #706
cc @teor2345

[2020-07-21 17:52] hdevalence commented on #655
Yes, I think all commands should use the same config file, except for the commands that don't use any config at all (help, version, etc.)

[2020-07-21 17:59] yaahc commented on #693
I'm worried about using `-alpha.0` releases because I've seen plenty of edge cases where they break things, I don't know the specific edge cases or ways this can cause issues so this is a bit of FUD but we should definitely be careful here.

[2020-07-21 18:06] hdevalence commented on #693
@yaahc is your concern about us using semver prerelease tags like `-alpha.0` in our crate versions or about using them to specify external dependencies? I agree that they can cause a lot of breakage, and I would not like to use them for dependencies, for the same reason I don't like git versions.

However, I think that if we're only using them for our crates within a single workspace, we will prob

[2020-07-21 18:55] yaahc commented on #693
@hdevalence my concern was a lot more nebulous than that, I couldn't recall exactly how pre release tags can break things i only recalled seeing instances of them breaking things. You seem to be much more familiar and aware of the issues, which is essentially all I wanted. So I'm satisfied by this explanation and plan.

[2020-07-21 21:08] str4d commented on #706
The zcashd behaviour is specified in ZIP 201.

[2020-07-21 21:50] hdevalence commented on #706
Thanks for the pointer! It looks like that spec is very specific to the details of the Zcashd network stack, which we don't replicate in Zebra, so I think we still need to figure out a good answer to these questions.

[2020-07-21 22:42] hdevalence opened #710 "Document guarantees provided by zebra-network"
Yep, this should probably be better documented because @teor2345 was surprised too in a different context (in that instance it was that ZN guarantees that if you request blocks by hash you'll either get those blocks or you'll get an error, there's no way to get a different unrelated block).

_Originally posted by @hdevalence in https://github.com/ZcashFoundation/zebra/pull/707/review_comment/creat

[2020-07-22 00:00] yaahc commented on #658
I opened a PR to fix this, I don't think we should remove the `EquihashError` type entirely because the errors we get from the equihash crate are very specific to why the solution was not valid, but without context I expect the errors to make little sense

[code]

By keeping the `EquihashError` type but making it a wrapper around the existing error kind we end up with error messages like "invalid

[2020-07-22 00:04] yaahc commented on #655
as far as I can tell everything is already using the same config file, the `override_config` fn is for overriding the config's settings with settings from the command line

[code]

I think everything is already setup the way we want

[2020-07-22 00:06] yaahc commented on #620
is this the UTXO set?

_butterfly_meme.jpg_

[2020-07-22 00:12] teor2345 commented on #706
I think there are a few different questions here:
1. How can Zebra prefer new peers before the activation height?
2. How can Zebra disconnect old peers with existing connections at the activation height?
3. Do we need to prefer new peers before the activation height?
4. Can we guarantee that Zebra nodes always have a large number of peers?

Q 1. Here's a quick design sketch for preferring new peer

[2020-07-22 00:41] teor2345 commented on #695
I agree about the peer set, but I also wonder if we're talking about slightly different things here.

If zebra stalls, I eventually want to see an warning or error explaining why. But doesn't need to come from any particular component or part of the code.

[2020-07-22 01:09] #658 closed, assigned to hdevalence

[2020-07-22 01:16] teor2345 commented on #563
Closed by #643.

[2020-07-22 01:16] #563 closed, assigned to nobody

[2020-07-22 01:27] yaahc commented on #557
Partially resolved by https://github.com/ZcashFoundation/zebra/pull/707

[2020-07-22 01:28] yaahc commented on #556
I think its safe to say this is resolved and that https://github.com/ZcashFoundation/zebra/issues/556#issuecomment-651991537 was the final verdict

[2020-07-22 01:28] #556 closed, assigned to nobody

[2020-07-22 01:37] teor2345 opened #715 "Use different sled paths for mainnet and testnet"
We should add mainnet and testnet directories to the sled path provided by the user.

That way, if they modify the network in their config, they get the correct state DB.

Depends on PR #699.

[2020-07-22 01:49] teor2345 opened #716 "Add the consensus branch ID and activation heights to the consensus parameters"
PR #699 adds a NetworkUpgrade enum and associated protocol versions.

After it merges, we should also add:
- [x] the consensus branch ID, and
- [x] the network upgrade activation heights (for Mainnet and Testnet).
- [ ] ~dynamic network protocol versions based on the current block height~ - requires passing network and height to the peer module

We need the consensus branch ID to validate scripts.

[2020-07-22 01:53] teor2345 opened #717 "Replace hard-coded genesis hashes with a genesis_hash lookup"
We should lookup the genesis hash for each network.

Depends on PRs #699 and #712.

[2020-07-22 03:16] #617 closed, assigned to hdevalence

[2020-07-22 03:16] #698 closed, assigned to nobody

[2020-07-22 14:37] daira commented on #697
I haven't looked in detail, but I think the mistaken assumption may be "peers respond with hashes based on our queries". Peers can, and do, send unsolicited messages at any time. (I know, it sucks.)

[2020-07-22 17:15] hdevalence commented on #697
@daira Something like that is probably the cause, but zebra-network doesn't make that assumption. Instead it's designed with the assumption that peers may send totally unrelated messages and goes to some effort to interpret whether any of the messages it sees are potential responses, so that the caller gets high quality responses (for instance, when you request a block, it checks that the block re

[2020-07-22 18:38] #710 closed, assigned to nobody

[2020-07-22 21:55] teor2345 commented on #697
@hdevalence I don't think the sync service rejects high block hashes, and I'm not sure if it can.

So I think:
* zebrad::sync is getting a high hash from a peer, and then downloading it, or
* zebra-network is getting an unsolicited high block from a peer, and returning it to the syncer.

[2020-07-22 22:01] yaahc commented on #250
@dconnolly are you handling this issue as well as part of the note commitment work that you took over or is this issue still in my court?

[2020-07-22 22:11] yaahc opened #724 "Implement UTXO set in `zebra-state` Service"
As a per-requisite for script verification we need to be able to grab the amount and scriptPubKey of transactions that are being verified. These inputs must come from the pool of unspent transactions rather than from inputs stored in the `Transaction` itself.

Tracking of these unspent transactions should be owned by the state service. The idea being that once `zebra-consensus` has validated a tra

[2020-07-22 22:14] dconnolly commented on #250
I'll grab it as I'm moving that struct/impl around anyway 👍

[2020-07-22 22:31] teor2345 commented on #724
Just a reminder: transactions in a block are verified based on the UTXO set of the parent block.

So the UTXO state must be per-block (not per-chain or global).

[2020-07-22 22:40] yaahc commented on #724
~~It would in practice end up being per-chain though right? Because for each chain there's only ever the next UTXO set for the current tip that needs to be tracked, because you're only ever able to insert the very next block of that chain or start a new chain.~~

Actually, you could add a new chain from prior parent block couldn't you, in which case you would still need the old UTXO set still. Oka

[2020-07-22 22:46] yaahc commented on #724
blocked by https://github.com/ZcashFoundation/zebra/issues/452

[2020-07-22 22:57] teor2345 opened #725 "Download the genesis block"
Currently we're not downloading the genesis block. Oops!

[2020-07-22 23:00] teor2345 opened #726 "Document useful tracing filters"
We'd like to be able to trace every nth block, maybe a filter like this would work?

`set -x ZEBRAD_LOG "[block_verify{height=Some(BlockHeight(.*000))}]=trace"`

[2020-07-22 23:13] hdevalence commented on #697
From https://en.bitcoin.it/wiki/Protocol_documentation#getblocks , the response to a `getblocks` message is an `inv` message with the hashes of the following blocks.  However, `inv` messages are also sent unsolicited to gossip new blocks across the network.  Normally, this wouldn't be a problem, because for every other request we filter only for the messages that are relevant to us.  But because t

[2020-07-23 00:18] teor2345 commented on #697
During initial sync, we could trick peers into providing the common root by making the locator send hashes for `(tip-1), ...` rather than `(tip)`. At least in the typical case.

[2020-07-23 00:20] teor2345 commented on #697
Turns out that leads to a lot of special cases: we need to track the chain, and we need to handle the genesis block specially.

[2020-07-23 00:47] hdevalence commented on #726
I tested that in the hope of tracing every nth block but it doesn't actually work.  I think I'm getting the syntax wrong, or something.  `[block_verify{height=Some(BlockHeight(.*))}]=trace` does select every span, but adding numbers breaks it. I'm not sure exactly how the `tracing-subscriber` regex support works.

[2020-07-23 00:47] yaahc commented on #452
Here's the plan going forward:

* Add an `in_memory` representation of chains that tracks the potentially valid chains that are still within the reorg limit, tentatively called `VolatileChains`
* use this new data structure in both the `in_memory` and `on_disk` state services to track blocks that have been validated and added but may still be reorganized
  * do not persist these blocks to disk, ma

[2020-07-23 00:47] hdevalence commented on #726
There's a worked example here: https://tokio.rs/blog/2019-08-tracing

[2020-07-23 00:52] yaahc commented on #724
## Design per our discussions after the workshop today

* split the UTXO set representation into two parts
  * the collapsed representation that lives on the disk for the UTXO state up to the reorg limit
  * the delta representation of UTXO modifications for blocks that have been validated but haven't yet passed the reorg limit
* the on disk repr will likely just be another tree that lives on the

[2020-07-23 00:55] #697 closed, assigned to hdevalence

[2020-07-23 00:58] hdevalence commented on #725
We already have the bytes of the mainnet genesis block, so instead of downloading it we could hardcode the bytes in the binary.  But I'm not sure this is better than just downloading it.

[2020-07-23 01:00] hdevalence commented on #725
Oops, for some reason I thought the "close and comment" button was "close comment" and I decided the one above might not be worth writing. So I accidentally closed the issue instead :sweat_smile:

[2020-07-23 03:19] yaahc opened #729 "Document `zebra*` Environment variables such as `ZEBRAD_CACHE_DIR` and `ZEBRAD_LOG`"
I think we should add `zebra` in generic cache directories, but not for `ZEBRAD_CACHE_DIR`.

(And we should document that as part of documenting ZEBRAD_CACHE_DIR, so it's less surprising.)

_Originally posted by @teor2345 in https://github.com/ZcashFoundation/zebra/pull/714_

[2020-07-23 05:52] #716 closed, assigned to teor2345

[2020-07-23 06:52] teor2345 opened #730 "Write unit tests for ObtainTips and ExtendTips"
While trying to diagnose the genesis block download issue in #725, I noticed that the ObtainTips and ExtendTips implementation in the Syncer doesn't have any unit tests.

We also think that the Syncer follows multiple tips early in the chain sync, which sounds like another bug.

It would be a lot easier to fix these issues if we:
- [ ] refactor the Syncer to separate the network logic and tip-find

[2020-07-23 07:13] daira commented on #697
I don't understand; absolutely nothing stops there from being unsolicited invs with length > 1. I would think that if you don't want to be trying to verify blocks beyond the range you've asked for, you have to ignore them based on their height, not on the length of the inv.

[2020-07-23 07:32] daira commented on #724
What you need is a [partially persistent](https://en.wikipedia.org/wiki/Persistent_data_structure) set or map. I wish that was the way we did it in zcashd, rather than treating it as a caching problem. (Cache invalidation is one of the "two hard problems in computer science", whereas it's comparatively easy to view it as a persistent data structure.)

In any case, relying on the reorg limit is a n

[2020-07-23 07:41] yaahc commented on #724
@daira the `im` crate provides these kinds of persistent data structures right? that's what we're planning on using, we're just not using that to store the entire UTXO set because that apparently would take 3gigs of ram

[2020-07-23 07:43] hdevalence commented on #730
Tests would be helpful, but I think we don't need to refactor the sync code to be able to test it, because it works on a generic (network, verifier, state) tuple, so deterministic testing is possible by plugging in deterministic service impls. We might want to refactor it for other reasons but I think that in principle it should be possible to test as-is.

[2020-07-23 07:46] #717 closed, assigned to teor2345

[2020-07-23 07:54] hdevalence commented on #697
Yes, nothing stops there from being unsolicited inv messages of larger length, in the same way that nothing stops a peer from replying to a getblocks message maliciously with garbage data. That has to be (and is, albeit as-yet-incompletely) handled elsewhere.

But it's still worthwhile to try to avoid misinterpreting an honest peer's messages, which is what ignoring responses of length 1 does.

[2020-07-23 08:20] teor2345 opened #732 "Make the CheckpointVerifier handle partial restarts"
The CheckpointVerifier assumes that we always start at the genesis block.

But that's not true if we do a partial chain sync, and then get interrupted during a checkpoint.

Dependencies:
- [ ] rebase PR on the latest #731
- [ ] get PR #731 merged
- [ ] rebase this PR on main

Testing:
- [ ] test mainnet syncing

[2020-07-23 11:12] #694 closed, assigned to yaahc

[2020-07-23 11:28] teor2345 opened #737 "Make the BlockVerifier check for the previous block before verifying"
Some high blocks occasionally slip through our fix in #727, and then the BlockVerifier approves them, because it doesn't check any chain state.

When that happens, the state layer panics on the next ExtendTips, because there is a gap in the chain.

Until we have a chain state implementation, we should make the BlockVerifier check the parent hash and height.

[2020-07-23 11:38] teor2345 opened #738 "Try harder to find more peers on failure"
Sometimes, the sync service hangs with the following errors:
* WrongBlock (1-2)
* ClientRequestTimeout (many)

Sometimes it will get in a loop of logging peer networking errors, other times it will stall and not log anything.

My network is sometimes slow, unreliable, and fails IPv6 (but pretends to support it). I've also reduced the configured peer limits, to speed up sync tests with local peers.

[2020-07-23 17:56] #725 closed, assigned to hdevalence, teor2345

[2020-07-23 18:47] yaahc commented on #737
The race is on

[2020-07-23 19:30] yaahc commented on #557
I think this issue has effectively been resolved or is otherwise tracked by other issues.

[2020-07-23 19:30] #557 closed, assigned to nobody

[2020-07-23 22:07] yaahc opened #744 "Investigate rewriting `checkpoint/tests.rs` tests in `zebra-consensus` to use `zebra_test::Transcript`"
Wondering if this could be expressed as a `zebra_test::Transcript`

It seems like the only thing that's missing is some sort of customizable callback to do additional assertions after each request. I think we might be able to bring in the assertions as an additional service wrapping the transcript.

_Originally posted by @yaahc in https://github.com/ZcashFoundation/zebra/pull/736#discussion_r45964

[2020-07-23 23:26] dconnolly commented on #250
Related: #242

[2020-07-23 23:28] dconnolly commented on #336
We won't and we can't, closing

[2020-07-23 23:28] #336 closed, assigned to dconnolly

[2020-07-23 23:38] teor2345 commented on #509
It works enough for now :-)

[2020-07-23 23:47] dconnolly commented on #611
@teor2345 put a lot of tracing into the checkpoint verifier service so this particular issue is closed.

[2020-07-23 23:47] #611 closed, assigned to teor2345

[2020-07-23 23:49] dconnolly commented on #620
Covered by other issues probably, relating to verification storage/retrieval needs.

[2020-07-23 23:49] #620 closed, assigned to nobody

[2020-07-23 23:49] teor2345 opened #745 "Tracking: Testing the Entire Chain"
**Goals**

Make sure that `zebrad`'s sync, verify, and state handling work after every commit.

Check historical edge-case handling in our verifiers, by running the entire chain through them.

These basic tests are easy to automate, and provide reasonable assurance that our implementation works.

# Issues from Epic

- [x] #1021
- [x] #1052
- [x] #1135
- [x] #1392
- [x] #1566
- [x] #2559
- [x] #256

[2020-07-23 23:50] teor2345 commented on #429
This is effectively done, and we have tickets for the remaining work.

[2020-07-23 23:50] #429 closed, assigned to teor2345

[2020-07-23 23:54] teor2345 opened #746 "Write acceptance tests for sync, verify, and state"
We want to write acceptance tests for sync testing.

These tests should be off by default, but run during CI.

See the integration test RFC #1004 for the latest test plan.

Test Types:
- [x] Fresh Sync:
  - Start with an empty state
  - Launch with a longer timelimit
- [x] Restart Sync:
  - Start with an empty state
  - Launch with a short timelimit, enough to store some state
  - Restart with a l

[2020-07-24 00:45] yaahc opened #747 "Investigate parallelizing CI steps"
Branching off from https://github.com/ZcashFoundation/zebra/pull/664#issuecomment-663272765 we've got a couple of improvements we'd like to try making to our CI configuration.

- [ ] run `cargo test --release` as part of CI, though don't require it for merge
- [ ] try to reuse artifacts between GA workflow steps via caching actions or API

[2020-07-24 01:47] #732 closed, assigned to teor2345

[2020-07-24 10:59] teor2345 opened #750 "Review Zebra crates using the Rust Library Guidelines"
We should review the interfaces of each Zebra crate using the Rust library guidelines:
https://rust-lang.github.io/api-guidelines/checklist.html

This is an open-ended task, so we should prioritise each guideline, and open a new ticket to implement it.

[2020-07-24 13:38] oxarbitrage opened #751 "Constrain BlockHeight between 0 and BlockHeight::MAX using Add, Sub, and Cmp"
Edit:

We think the best way to implement this change is using the Add, Sub, and Cmp operators.

We could panic on overflow, or we could return optional values. (Since Rust integers panic on overflow, that seems like an ok thing to do here.)

See the `Amount` type constraints as an example.

-----

https://github.com/ZcashFoundation/zebra/pull/740#discussion_r459763543

[2020-07-24 17:51] hdevalence commented on #738
Just to clarify, is this a problem with a lack of available peers (i.e., the network layer is failing to crawl and connect to enough peers) or an issue about the way that the syncer tries to download blocks and handles (or doesn't handle) errors?

Because we know that the syncer doesn't really work properly yet, my prior is that the problem is with the syncer logic rather than the availability of

[2020-07-24 17:53] hdevalence opened #753 "Provide metrics for bytes written, bytes read"
It would be nice to hook into the `Codec` implementation to provide metrics for bytes written and bytes read.  This seems like it would be a useful metric in tandem with our metrics on message counts and request counts.

[2020-07-24 17:55] hdevalence commented on #753
The structure of the codecs is described in this blog post: https://www.zfnd.org/blog/decoding-bitcoin-messages-with-tokio-codecs/

For bytes read, I think we can do this very simply by incrementing a counter with the length as soon as we have a complete message.  For bytes written, I guess we would record the size of every message we write and add that to a counter, but it's possible (?) that thi

[2020-07-24 18:05] hdevalence commented on #693
It sounds like there might be rough consensus on this, so I'm going to prepare a PR that changes all the versions so we have a concrete suggestion to discuss.

[2020-07-24 18:26] hdevalence commented on #692
Knowing the exact commit SHA seems like it would be helpful for debugging builds from git, but would we still want it for tagged releases, where the semver string's git tag is enough to canonically identify the exact version?   Working with semver strings seems a lot more user-friendly than working with commit hashes.

[2020-07-24 18:27] hdevalence commented on #655
Per @yaahc's analysis, I'm to close this to keep the open issue count down, but we can reopen it if it turns out we missed something.

[2020-07-24 18:27] #655 closed, assigned to nobody

[2020-07-24 18:38] dconnolly opened #755 "Automate zebrad releases"
In which we track the doing of tasks/automation work to actualize the release processes described in the [Release RFC]( https://github.com/ZcashFoundation/zebra/pull/1063)

Use a manually triggered workflow to trigger releases, configuring the release with human input like a version number (maybe, it would be nice to pre-populate this field) and the release notes/changelog update:

A simple exampl

[2020-07-24 18:46] #693 closed, assigned to nobody

[2020-07-24 18:50] hdevalence commented on #685
Just to clarify, by incremental updates to the hard-coded lists, you mean a change to the process that we use to generate the checkpoint lists in our source tree (as opposed to updating the lists in released binaries), correct?  You mentioned before that the script can take quite a while to run.  Do you know how slow the generation process has to be for this to be a problem worth solving, vs the s

[2020-07-24 19:08] hdevalence commented on #751
Currently the `BlockHeight` is a tuple wrapping a `u32`.  I'm not sure how we can constrain the value to be less than `BlockHeight::MAX` without hiding the inner value, since otherwise someone can freely construct whatever values they want.

However, hiding the value imposes a cost on the rest of the world (as mentioned by @teor2345 in the linked discussion).  It means that we would either have to

[2020-07-24 19:38] yaahc commented on #751
@hdevalence we can mark the struct `#[non_exhaustive]` which would give people access to the inner values without letting them construct one.

Edit: wait no, this would still let people mutate the inner value. Add a getter?

[2020-07-24 19:43] yaahc commented on #755
I think we might want to consider this a sub-issue of https://github.com/ZcashFoundation/zebra/issues/747, if you agree I'll rename that issue to `Tracking Issue:` and add this to the bullets there.

[2020-07-24 19:48] yaahc commented on #692
If this information is going to be in a lot of our log lines I'd want to try to keep it as minimal as possible. Ideally just the `SHA`, and not the commit date, because that can easily be determined via the sha. Also, I want to make sure we label it in the output so its clear that the sha is a git commit sha.

I've worked with a codebase that logged a ton of extra context that was occasionally rel

[2020-07-24 19:57] daira commented on #751
The protocol doesn't actually say that you can't have block heights greater than 499_999_999. It says that the `nExpiryHeight` field of a transaction MUST be less than or equal to that value, and it says that the `lock_time` field is "encoded as in Bitcoin", which means that it is interpreted as a time rather than a block height if greater than 499_999_999. However, according to the specification

[2020-07-24 20:04] teor2345 opened #756 "Set Canopy testnet activation height"
zcashd has set a Canopy testnet activation height, but it's changed in the past week:
* current: https://github.com/zcash/zcash/commit/62c3613816f82603a4529403454fcb2a16e69b12
* earlier: https://github.com/zcash/zcash/commit/8a4c51508acfa1765f168ebc6233fd68edff49bb

We should work out how we want to track the activation height, and then update zebra-consensus.

For example, we could wait until ZIP

[2020-07-24 20:08] yaahc commented on #751
_checks to make sure this issue is not in any immediate milestones_

[2020-07-24 20:26] teor2345 commented on #685
I mean "generate just the extra checkpoints, add them to the end of the current hard-coded list, and put the new list in the next release".

If we're updating the list every month or so, I think it's ok for 2 people to let the checkpoint scripts run overnight for testnet and mainnet, and then we could cross-check the results. (Long-term, it might be nice to automate the list generation, so it just

[2020-07-24 20:28] teor2345 commented on #685
I think the slow part is zcash-cli, but it might also be all the shell processes or jq.

As a much faster alternative, we could make a synced Zebra generate a list from its current set of blocks.

So I'd rather implement that feature, because it could share a lot of Rust code with the Zcash-based tool.

[2020-07-24 20:35] yaahc commented on #685
I think this might be something we can include in the automated release process https://github.com/ZcashFoundation/zebra/issues/755

[2020-07-24 20:35] teor2345 commented on #751
I think we could get most of the benefit of this change by constraining addition and subtraction on BlockHeight, so that:
* addition panics if we calculate a BlockHeight past the limit
* subtraction is always checked, even if release builds, so it panics if we underflow

This also has a really nice ergonomic benefit, because it makes calculations easier to read and implement:
* `BlockHeight(height

[2020-07-24 20:40] teor2345 commented on #692
I think the standard format is something like:
* git-(short sha)-(optional "extra")

For example:
git-abcdef
git-abcdef-extra (with uncommitted changes)

I've seen users make all sorts of changes, and then build in release mode. Fixing those bugs was terribly confusing, because we didn't know what code we were actually working with.

[2020-07-24 20:45] yaahc commented on #692
Sounds good, how do you feel about replacing the git sha with a tag if we're on a tagged release? I'm not sure if vergen can handle that but if so that might be a nice QoL feature.

[2020-07-24 20:51] dconnolly commented on #692
Tags can be moved around (_can_ be, we _shouldn't_ move them around, but it can happen) so I would make the short 7 char commit sha always be included, and the semver of zebrad (which _should_ match a tag on the commit when released).

[2020-07-24 21:08] dconnolly commented on #755
This is distinct from testing or building as part of continuous integration, this is automating the tasks that are triggered by humans when they fire a release workflow/job consciously.

[2020-07-24 21:10] dconnolly commented on #508
I think this has been cleaned up by some config changes made by @hdevalence

[2020-07-24 21:10] #508 closed, assigned to dconnolly

[2020-07-24 21:18] dconnolly commented on #747
We need to do a `cargo fetch` first, maybe do some caching thing, and either parallelize jobs or steps (I'm not sure if you can parallelize steps, I think the intention is to run jobs in parallel).

https://github.com/actions/cache
https://github.com/actions/cache/blob/main/examples.md#rust---cargo

But in my experience the savings are not from eliminating network time.

Even if we don't do anythi

[2020-07-24 22:50] yaahc opened #758 "Improve diagnostics from `SerializationError`s"
Right now our serialization error uses some fairly generic error variants that don't include enough context. For example, recently I ran into a bug in tests for `zebra-state` where the error was particularly unhelpful

---

<pre>running 1 test
<font color="#CC0000">The application panicked (crashed).</font>
Message:  <font color="#06989A">called `Result::unwrap()` on an `Err` value: Io(Custom { ki

[2020-07-24 23:36] yaahc opened #759 "fix tests that use #[should_panic] so they properly capture and hide the panic report when the test passes"
This confuses and annoys me

<pre><font color="#06989A"><b>zebra/zebra-state</b></font> on <font color="#75507B"><b> main</b></font> <font color="#CC0000"><b>[$!] </b></font>is <font color="#FF8700"><b>📦 v3.0.0-alpha.0</b></font> via <font color="#CC0000"><b>🦀 v1.45.0</b></font>
<font color="#4E9A06"><b>❯</b></font> cargo test
<font color="#4E9A06"><b>   Compiling</b></font> zebra-state v3.0.0-al

[2020-07-25 01:00] daira commented on #756
Review needed for https://github.com/zcash/zips/pull/385

[2020-07-25 04:34] teor2345 opened #760 "Allow tests to set the tracing log level"
We should add a function to zebra-test that allows tests to set the tracing log level, or disable logs entirely.

Then we can modify the tests as follows:
- [x] tests marked "should_panic" should disable all output (yaahc/color-eyre#42, #759)
- [ ] tests that log errors should disable non-panic output (set the log level to 'off')
- [ ] tests that log warnings should set the log level to 'error'

T

[2020-07-25 05:59] yaahc commented on #760
I don't think we should disable output on tests marked `should_panic`, also it wouldn't fix the issue. It was a bug in the behaviour of `color-eyre` that I've fixed in https://github.com/yaahc/color-eyre/pull/42. It was actually a really interesting issue so you should check out the description in PR that fixes it. also if you don't mind I'd love your review on the code.

[2020-07-25 06:50] hawkw commented on #726
the regex support _should_, in theory, support everything the `regex` crate supports... but it’s possible the filtering code is buggy.

[2020-07-25 07:23] teor2345 commented on #726
@hdevalence have you tried `[block_verify{height=Some(BlockHeight(.*?000))}]=trace`?

`regex` is greedy by default, but think we need the lazy match, so the `000`s after the pattern will match.
https://docs.rs/regex/1.3.9/regex/#repetitions

@hawkw what are the exact text and regex strings that are passed to the `regex` crate?
I'm wondering if the brackets count as capture groups:
https://docs.rs/

[2020-07-25 07:53] #684 closed, assigned to oxarbitrage

[2020-07-25 08:26] teor2345 commented on #760
Thanks, I've ticked off the panic case, now I just have to work out how to handle the warning case in some of the zebra-consensus tests.

[2020-07-25 14:24] yaahc commented on #760
it likely comes from output from spawned threads. the output capture is controlled by a thread local that is set once before the start of each test. however thread locals on new threads have to be initialized to a default value, there's no way to set it based on the thread that spawned it, so new threads end up with `LOCAL_STD*` pointing back at the real io handles.

I'm not sure what options ther

[2020-07-25 14:39] oxarbitrage commented on #753
I am unsure if this should be by address like `peer_outbound_messages` and `inbound_messages` or if just the total bytes written and total bytes read in current session is enough.

If what is required is just total values i dont see how the written ones can be more work than the read. (an incremental counter can be added in `encode` and `decode` functions of `codec.rs` after we have the full messa

[2020-07-26 01:41] teor2345 commented on #760
I'm talking about tracing INFO and WARN level logs, for example:

    Jul 24 03:32:34.537  WARN block_higher_than_max_checkpoint_fail::comment{text=Set up the future for block 415000}: error="block is higher than the maximum checkpoint"
    Jul 24 03:32:34.541  INFO checkpoint_drop_cancel::comment{height=BlockHeight(0) text=Set up the future for block}: Queued checkpoint block height=BlockHeight(0

[2020-07-26 18:00] yaahc commented on #760
The `color-eyre` filter currently only applies to frames in backtraces printed in the report / panic handlers so you're gonna need to use a tracing filter here.

[2020-07-26 18:10] yaahc commented on #760
@hawkw has suggested using the `MakeWriter` api to essentially reimplement test capturing. We can use a writer that buffers the log output the same way the tests would and use a drop guard to print the logs, that drop guard would be owned by the main thread and would always be the last thing dropped and would always drop in the correct thread so it would end up being captured by the built in captu

[2020-07-26 18:32] #759 closed, assigned to nobody

[2020-07-26 22:53] teor2345 commented on #760
Sounds good, but do we lose the ability to see incremental test output?

That matters if the test fails in a way that affects the output or the process. For example, a double-panic which crashes the whole process.

If we could lose logs like this, let's check an environmental variable before enabling filtering.

[2020-07-26 22:58] yaahc commented on #760
I think it will lose less incremental test output than disabling tracing all together would. Actually, now that I think of it I think we test with `panic=abort` so we wouldn't end up dropping the tracing logger anyways if we panicked.

[2020-07-26 23:06] hawkw commented on #760
Oh, in that case, this approach isn't really going to work at all.

[2020-07-26 23:50] teor2345 commented on #760
Could we drop the tracing logger in the panic handler?

Or does that cause threading issues?

[2020-07-26 23:52] teor2345 commented on #760
Or could we use a writer that line-buffers test output?

[2020-07-26 23:54] yaahc commented on #760
@teor2345 we probably insert a clone of the guard into some global variable that the panic handler then accesses and uses to flush the output before aborting.

[2020-07-27 00:48] teor2345 commented on #760
I've just opened PR #761, which sets two filters if `$RUST_LOG` is not set:
* `warn`
* `zebra_consensus=error`

I tried adding specific spans to the zebra_consensus filter, but they didn't work. I don't know if I'm using the wrong tracing syntax, or if it's not possible to filter using spans.

In any case, this PR fixes the two remaining issues I had. (I also lose any other warning logs in `zebra_

[2020-07-27 18:03] #756 closed, assigned to teor2345

[2020-07-27 18:14] #737 closed, assigned to teor2345

[2020-07-28 04:15] teor2345 commented on #685
Generating checkpoints using the Rust checkpoint tool takes less than an hour, so this ticket is a very low priority.

It might also be useful to be able to compare checkpoints generated by zcashd and zebrad. Or generate checkpoints only using zebrad. So this feature will have other benefits.

[2020-07-28 04:52] teor2345 commented on #671
I think this issue will be resolved by #660.

[2020-07-28 04:52] #671 closed, assigned to nobody

[2020-07-28 08:31] teor2345 opened #776 "Re-try zstd compression in sled, after the data format has stabilised"
Sled has a `zstd` compression feature, should we use it?

The compression level is configurable. Since Zebra is CPU-bound, let's use a low compression level. A bunch of Zcash data is pseudo-random hashes or nonces, so we'll get the most benefit from compressing blocks of zeroes.

Pros:
- lower disk space usage
- faster loading from disk, if disk latency is slower than compression CPU usage

Cons:

[2020-07-28 18:39] oxarbitrage commented on #726
It looks pretty ugly but the only way i was able to make the needed filter work was with `[block_verify{height=Some(.*000.*)}]=trace` . I documented this at https://github.com/ZcashFoundation/zebra/pull/780

[2020-07-28 19:12] hdevalence commented on #776
I think this is a reasonable choice to make, and it's low-cost if we decide to change our mind later (we already don't commit to a stable on-disk format).

[2020-07-28 19:20] hdevalence commented on #726
Hmm, I'm surprised by that. I think that pattern isn't quite what we want, since it will match, e.g., `700071` etc. Maybe the problem is that the `()` are treated as capture groups, as @teor2345 suggested, so the extra `.*` at the end is needed to match a `)` that isn't part of the pattern. But then, why are the `(` in `Some(BlockHeight` not capture groups?

[2020-07-28 19:35] oxarbitrage commented on #726
You are right, but i realized we can escape all `(` and `)`. So this will do what we need i think:

`[block_verify{height=Some\(BlockHeight\(.*000\)\)}]=trace`

[2020-07-29 00:26] teor2345 commented on #776
I'll go make a PR and do some testing.

Note: I don't know if sled can transparently change from zstd to non-zstd databases, it's not documented. But if we drop the zstd feature, it definitely won't be able to.

[2020-07-29 01:13] teor2345 opened #782 "Design: Work out how to suppress similar messages in zebrad's logs"
In zebrad, we see a lot of repeated log messages, such as network errors or repeated block verification warnings. These repeated messages can hide other important messages.

Some of these errors are bugs, and we should fix them (repeated verifications).

But some errors aren't under our control (network). So it would be nice to summarise those messages in zebrad's text-based log output.

We could

[2020-07-29 01:35] teor2345 opened #784 "Disable "unexpected high block" warnings when we restart with a full chain"
These warnings might be useful when we're first syncing, but they should not happen when we've finished syncing.

I might also downgrade them to "info", because they are not actually a bug. (And we have a workaround.)

TODO:
- [x] downgrade "unexpected high block" warnings to info

When we have a full chain:
- [x] disable "unexpected high block" warnings
- [x] disable "there are no checkpoints lef

[2020-07-29 06:31] dconnolly opened #785 "Implement ZIP 212: Allow Recipient to Derive Sapling Ephemeral Secret from Note Plaintext"
Changes Sapling note plaintexts, the sending of notes, the receiving of notes, and the first byte to the new version of (0x02) of the note plaintext. After activation of the [ZIP](https://zips.z.cash/zip-0212) as part of Canopy activation, these changes are MUSTs.

![image](https://user-images.githubusercontent.com/552961/88764630-46428500-d143-11ea-89d0-86489f3cb069.png)

![image](https://user-im

[2020-07-29 12:48] teor2345 commented on #776
I opened PR #790, using zstd compression level 1.

As of 29 July, I had a fully synced testnet data directory which took up 12 GB, at around block 1021029. I'll do some testing and let you know what the compression ratio is.

[2020-07-29 12:49] teor2345 commented on #776
Early test results: you can't change the compression of an existing sled database.

[2020-07-29 15:42] str4d opened #791 "zebrad broadcasts an invalid User Agent in version messages"
Running `zcash-cli getpeerinfo` on one of my nodes, I found the following three peers:
[code]
The `subver` field of the `version` message is meant to contain a [BIP 14 User Agent](https://github.com/bitcoin/bips/blob/master/bip-0014.mediawiki). `zebrad` is incorrectly setting it to what appears to be intended as a human-readable string.

(`MagicBean` is the User Agent for ECC's `zcashd` builds, to

[2020-07-29 15:49] str4d commented on #791
It looks like the user agent is intentionally set here:
https://github.com/ZcashFoundation/zebra/blob/4aa00ad21650d0b600da91a5330eeb1957dce481/zebra-network/src/constants.rs#L36-L37

I would suggest the following BIP 14-compatible replacement:
[code]

[2020-07-29 16:24] str4d commented on #791
The unicode zebra does not show up in the output of `getpeerinfo` because `zcashd` tightly whitelists allowable characters in subversions further than BIP 14, to prevent XSS attacks. See https://github.com/zcash/zcash/blob/caea54013e8df02a9d9424d6496eb1ac6af069e2/src/net.h#L277-L281 and https://github.com/zcash/zcash/blob/68fd808e0ff7bf5d5e56dbb24d137f66737baca5/src/utilstrencodings.cpp#L24

[2020-07-29 19:49] #791 closed, assigned to nobody

[2020-07-29 21:53] teor2345 opened #794 "Make sure custom user agents conform to BIP-14"
In #791, we discovered that our default Zcash protocol user agent did not conform to BIP-14:
https://github.com/bitcoin/bips/blob/master/bip-0014.mediawiki

We fixed the issue by changing the default, but the user agent is configurable in zebrad.toml. And that's a useful feature for custom implementations, builds, packaging, or deployments. (BIP-14 user agents exist in a stack, from core to ui.)

[2020-07-29 21:54] teor2345 commented on #791
I added a follow-up ticket #794 to check that configured user-agent strings are correct.

[2020-07-29 23:28] teor2345 opened #795 "Generate checkpoints from zebrad's block database"
## Motivation

Zebra currently generates checkpoints using a synced `zcashd` instance.

But it would be useful (and faster) for Zebra to generate its own checkpoints from `zebrad`'s cached state.

It might also be useful to be able to compare checkpoints generated by `zcashd` and `zebrad`.

## Suggested Design

Add a new `zebrad checkpoints` command that generates checkpoints from Zebra's cached s

[2020-07-29 23:45] teor2345 commented on #776
16 GB at around block 1021473.

I'm not sure what sled compression is doing, but it's definitely not making our state smaller. (Or our state sizes are extremely variable for each run.)

I'm going to re-test with and without compression to make sure.

[2020-07-30 00:51] hdevalence commented on #776
Did we already settle on the data layout we want to use?  Since the compression is downstream of that, it might make sense to defer this decision until later.

[2020-07-30 01:11] hdevalence commented on #794
I think it would be fine to check the user-agent data in `zebra-network` but I don't think that we should check anything while loading the config, because this requires duplicating checks in different places in the codebase.

Even better than checking a supplied string would be changing the config representation to store the parts of a BIP14 user-agent and assembling the final string. Since BIP14

[2020-07-30 02:36] hdevalence commented on #782
@hawkw mentioned that there may already be an implementation of something similar to this, but I don't recall the details.

Personally I would prefer that we don't suppress any log messages, on the principle that the log represents a particular execution trace, and if some event is important enough to display under a particular tracing filter, it's important enough to be displayed on its own.

I d

[2020-07-30 02:44] #726 closed, assigned to nobody

[2020-07-30 02:44] #729 closed, assigned to nobody

[2020-07-30 02:50] hdevalence commented on #795
Just to clarify, do we need to interact with the zcashd data in order for Zebra to generate its own checkpoints? Could we ask a running zebrad instance instead?

Also, in order to know what blocks are at what height, wouldn't we need to maintain support not just for the raw block storage used by zcashd, but also for its internal leveldb indexes?

[2020-07-30 03:30] #784 closed, assigned to teor2345

[2020-07-30 04:31] teor2345 commented on #776
I think the data layout will depend on what we decide to store on disk, which depends (in part) on the parallel verification RFC #763.

[2020-07-30 04:41] teor2345 commented on #794
Sounds good.

This would be a departure from the ECC zcashd build process, which replaces the user agent:
https://github.com/ZcashFoundation/zebra/issues/791#issue-667945031

But it would be similar to btcwire and the zfnd seeders. And it seems like a better design for debugging and analysis.

zcashd puts them in its logs and RPC fields.

https://blockchair.com/zcash/nodes displays them as node ve

[2020-07-30 04:47] teor2345 commented on #782
While I agree with the principle, the output that we display for human consumption may need some filtering.

Sometimes, an error is more interesting if it's the first error of a particular kind (for example, an unexpected high block escaping our filter).

Sometimes, an error is more interesting if there are multiple errors of the same kind (for example, a network failure).

I also agree that we sh

[2020-07-30 04:51] teor2345 commented on #795
I was expecting either:
* a Zebra tool that read the cached blocks, or
* some kind of interface to a running zebrad instance.

We already have a lot of the code we'd need to do this in the CheckpointList class and zebra-checkpoints tool.

I didn't expect to use zcashd data, because that would make it hard to generate checkpoints only using zebrad.

[2020-07-30 05:27] teor2345 commented on #776
(I've confirmed that compressed data sizes are bigger right now, I'll defer this ticket until after the first alpha.)

[2020-07-30 09:42] teor2345 opened #798 "Update the Zcash spec for fractional ToTarget() values"
## Motivation

In #572, we created a wrapper for the `nBits` field in the block header, and associated conversion functions.

## Edge Cases

The spec handles overflow for `ToTarget()` by producing a very large number, which does not fit in the size of a block header hash:
https://zips.z.cash/protocol/protocol.pdf#nbits

But zcashd's `CheckProofOfWork()` treats overflow the same as negative values

[2020-07-30 22:33] #685 closed, assigned to nobody

[2020-07-30 23:01] dconnolly commented on #286
https://docs.rs/im/15.0.0/im/

[2020-07-30 23:33] dconnolly opened #800 "Replace use of 'Poll:Pending' and 'Poll:Ready' with use or absence of 'blocked' label"

[2020-07-31 00:28] yaahc commented on #567
@dconnolly did you already do this one as part of your note commitments change?

[2020-07-31 00:31] dconnolly commented on #567
No, this item will happen after that is merged, since it's already touching 30+ files

[2020-07-31 00:53] teor2345 opened #801 "Tracking Issue: Validate coinbase transactions, including the dev fund"
## Motivation

We need to validate coinbase transactions.

Since we're checkpointing on Canopy, we can ignore Founders Reward validation.

## Tasks

Overall ticket: #338

Canopy onwards:
- [x] coinbase amount and halving intervals (#1051)
- [ ] miner subsidy
- [ ] transaction fees to miners

Testing:
- [ ] Create test blocks that send multiple outputs to a funding stream address
  - correct addres

[2020-07-31 02:15] teor2345 opened #802 "Tracking: proof of work validation"
In #572, we created `CompactDifficulty` and `ExpandedDifficulty` wrapper types for block proof of work difficulty.

But we also use difficulty to validate blocks, and choose the best tip.

## Alpha Releases

#### Context-free block validation
- [x]  Compare `difficulty_threshold` to `block.hash()` (#809)

#### Choosing the best tip

Convert `difficulty_threshold` to `Work`
- [x] implement CompactD

[2020-07-31 18:54] #676 closed, assigned to yaahc

[2020-07-31 19:05] yaahc opened #803 "slow test cleanup"
Right now a few of our tests, particularly our proptests it seems, take a while to run. For CI this isn't as big of a deal but Ideally I'd like to be able to run tests super quickly locally before push. We should investigate fixing up particularly long running tests if possible or setting them to `#[ignored]` by default so we only run the particularly slow tests in CI.

[2020-08-01 06:05] teor2345 opened #804 "Check for panics in the acceptance tests"
In #690, we create acceptance tests for each zebrad command.

When we run seed and start, we kill them after 1 second, then check for a failed exit status. But we don't check to see if the command panicked while starting up.

Let's fail on panics by:
1. adding a constant with the signal or exit code that's returned by a killed process
2. passing the test if we get that signal or exit code
3. faili

[2020-08-01 06:11] teor2345 commented on #804
@oxarbitrage you might like to work on this one, if you have some spare time. (It's not urgent.)

[2020-08-01 06:25] teor2345 opened #805 "Document how to use Rust/C link-time optimisation in the zebrad build"
rustc supports link-time optimisation (LTO) across Rust and C/C++ dependencies. LTO removes dead code, and can also perform other optimisations:
https://llvm.org/docs/LinkTimeOptimization.html#example-of-link-time-optimization

If builders are using compatible versions of rustc and clang for our dependencies, they can enable LTO in cargo:
https://doc.rust-lang.org/rustc/linker-plugin-lto.html#cc-c

[2020-08-01 11:10] oxarbitrage commented on #677
Closed by https://github.com/ZcashFoundation/zebra/pull/690

[2020-08-01 11:10] #677 closed, assigned to nobody

[2020-08-02 03:21] teor2345 opened #806 "Stop using the default state path in the zebrad acceptance tests"
When I run the zebrad command acceptance tests, they create a sled state directory at `~/.cache/zebra/mainnet/state`.

`~/.cache/...` is the default state directory path. If we use the default path, the tests could fail if there is a running zebrad instance, or if the state is from a different version of `zebrad`.

Instead, we should create a new state in a temporary directory.

Here's how we crea

[2020-08-02 03:21] teor2345 commented on #806
@oxarbitrage do you have time to fix this bug?

[2020-08-02 03:28] teor2345 opened #807 "Stop using the default ports in the zebrad acceptance tests"
When I run the zebrad command acceptance tests, they use the default zebrad ports.

If we use the default ports, the tests could fail if there is a running zebrad instance. (Or they could make it impossible to launch another zebrad instance.)

TODO:
- [ ] create a config that overrides the default Zcash protocol listener port in zebrad
- [ ] pass "0" for the Zcash protocol listener port, so that z

[2020-08-02 03:28] teor2345 commented on #807
@oxarbitrage do you have time to fix this issue?

It's not as important as #806, because the ports are only open for a short time.

[2020-08-02 03:31] teor2345 commented on #807
See also #660, which is the long-term change we want to make. But we don't want to change the defaults right now, because that means updating the docker configs.

But it's ok to add override environmental variables, because the docket configs will still use the defaults.

[2020-08-02 22:05] oxarbitrage commented on #807
We have 2 additional ports that will be open when zebrad is running:

1. metrics:
[code]
2. tracing:
[code]

Ideally instead of adding env variables we could change the config in the tests. This is possible with the abscissa runner, ex: https://github.com/iqlusioninc/abscissa/blob/develop/cli/template/tests/acceptance.rs.hbs#L72 but we moved away from this in favour of launching our own process. I

[2020-08-03 00:28] #572 closed, assigned to teor2345

[2020-08-03 09:26] teor2345 commented on #497
The BlockVerifier checks the version on blocks as of PR #748.

[2020-08-03 11:53] teor2345 commented on #807
We don't need to use abscissa. We could write a short toml file to the temporary directory, and tell the test to load it using `-c`. I did a quick test, and it looks like port `0` makes `zebrad` choose an unused port.

Here's a file that could work:
[code]

[2020-08-03 12:44] teor2345 commented on #497
Oops, that's not correct, I misread the code.

Note: generated blocks aren't part of the "sync and validate" milestone. They only happen if we implement mining.

[2020-08-03 19:50] #806 closed, assigned to nobody

[2020-08-03 20:51] hdevalence commented on #807
I don't think we should add an extra env variable that controls the port selection, since doing so means that in addition to the documented config system, we also have an additional, hidden selection mechanism that might conflict with it.  Of course we could document it and specify how it interacts with the normal config mechanism in case of conflicts, but I think it would be much simpler not to h

[2020-08-03 21:09] oxarbitrage commented on #807
I think that if we do this, we will do it with the config file method(https://github.com/ZcashFoundation/zebra/issues/807#issuecomment-667980110) instead of env vars originally suggested. Agree with @hdevalence  that the env vars add unnecessary complexity, documentation needs, etc.

[2020-08-03 22:25] teor2345 commented on #807
As a general rule, if we allow people to override the test config, we should provide a default that makes the tests pass under most reasonable circumstances.

If we don't, what will happen in practice is that we'll get spurious bug reports, and have to spend time responding to them.

I'm also going to note that this is a temporary measure, until we disable these ports by default in #660.

[2020-08-04 01:59] teor2345 commented on #803
I am very much a fan of this.

We could drop the iteration count for the slow proptests, it won't make much practical difference:
https://docs.rs/proptest/0.10.0/proptest/macro.proptest.html#example

[2020-08-04 05:00] teor2345 opened #818 "Stop the sync service downloading duplicate blocks"
At the moment, Zebra's sync service downloads and verifies duplicate blocks. These duplicate verifies cause the following errors in the verification services:

CheckpointVerifier:
* "block height has already been verified"
* "no checkpoints left to verify"

But the BlockVerifier, ChainVerifier, and StateService silently re-verify duplicate blocks, replacing the existing state content.

Ideally, we

[2020-08-04 10:09] teor2345 commented on #760
I think we're done here, we can open another ticket if we need fine-grained log filters in the tests.

[2020-08-04 10:09] #760 closed, assigned to nobody

[2020-08-04 20:38] #804 closed, assigned to nobody

[2020-08-05 05:23] hdevalence commented on #807
If this is intended to be a temporary measure, could we fix #660 instead of doing this?

[2020-08-05 05:35] #803 closed, assigned to teor2345

[2020-08-05 05:44] #529 closed, assigned to dconnolly

[2020-08-05 05:57] hdevalence opened #822 "Remove environment variables."
We currently have a growing number of environment variables that control various parts of the program, acting as a second, parallel configuration system. This means that the config file is not sufficient to determine the behavior of the application. In addition, these variables aren't discoverable like the rest of the configuration system (whose documentation is auto-generated) and we have to mana

[2020-08-05 06:49] dconnolly opened #824 "Support KaTeX and write math expressions in docs rendered in-browser."
This probably involves adding scripts to our docs.zebra.zfnd.org and docs-internal.zebra.zfnd.org deployments that detect the appropriate LaTeX in the page and re-renders it.

[2020-08-05 07:31] teor2345 opened #825 "Fix ZEBRAD_CACHE_DIR description"
The `ZEBRAD_CACHE_DIR` description gives an incorrect example of cached data.

We can't store the wallet in the cache directory, because caches can be deleted at any time.

_Originally posted by @teor2345 in https://github.com/ZcashFoundation/zebra/pull/436_

[2020-08-05 07:32] teor2345 commented on #825
Blocked by #436, due to a potential merge conflict.

[2020-08-05 07:35] teor2345 opened #826 "Eliminate all of the zebrad environment variables"
I think we should eliminate all of these environment variables and use config settings.

_Originally posted by @hdevalence in https://github.com/ZcashFoundation/zebra/pull/436_

[2020-08-05 07:37] teor2345 commented on #826
If we eliminate these environmental variables soon, then we'll stop building tests and scripts which depend on them.

[2020-08-05 07:45] hdevalence commented on #826
Duplicate of #822

[2020-08-05 07:45] #826 closed, assigned to nobody

[2020-08-05 09:02] hdevalence opened #829 "Replace `primitive_types` with `bigint`"
## Motivation

We want to use `zcash_primitives` for non-malleable transaction IDs in PR #2129. But our `primitive_types` dependency is incompatible with `zcash_primitives`.

Also, `primitive_types` has a fairly decent dependency footprint:

<details>

[code]

This isn't a high priority compared to getting everything working, but it's one way we can prune the size of our dep tree.

</details>

##

[2020-08-05 10:40] oxarbitrage commented on #807
closing in favour of https://github.com/ZcashFoundation/zebra/issues/660

[2020-08-05 11:33] teor2345 commented on #660
Blocked on the initial alpha release.

We don't want to change the zebrad docker configs until after the initial alpha release.

[2020-08-05 11:40] teor2345 commented on #807
We don't want to change the defaults right now, because that means updating the zebrad docker configs to use zebrad.toml. And we don't want to make changes to docker until after the initial alpha release. So #660 is blocked by that release (or the docker task).

After #827 merges, this should be a really quick change.

We just need to add the listener lines to the test zebrad.toml file:
https://gi

[2020-08-05 12:07] teor2345 commented on #829
To calculate the block difficulty threshold from recent blocks, we need to perform the following operations on u256 values:
* division
* invert bits
* addition
* multiplication
* comparison

See #802 for details.

Here are the alternative libraries I looked at:
* bigint: https://docs.rs/bigint/4.4.3/bigint/uint/struct.U256.html
  * obsolete version of primitive-types
* bignum: https://luozijun.git

[2020-08-05 12:17] teor2345 commented on #825
Unblocked by removing the env vars entirely.

[2020-08-05 15:45] oxarbitrage commented on #807
Ok, that is reasonable. Thanks for reopening. I am adding the blocked label until #827 is merged then i can probably take care of it.

[2020-08-05 16:05] hdevalence commented on #807
I don't think we should merge this, #660 is the right fix and should not be blocked on changes to Docker images.

[2020-08-05 16:08] hdevalence commented on #660
I think it's fine to do this now. Zebra doesn't actually work yet, so preserving a stable deployment mechanism is not important compared to implementing necessary functionality, since we have no software to meaningfully deploy.

[2020-08-05 16:09] hdevalence commented on #660
In particular, we can't wait until after we do a release to fix the config format that we expect the software to use.

[2020-08-05 16:56] oxarbitrage commented on #807
Ok, by https://github.com/ZcashFoundation/zebra/issues/660#issuecomment-669284518 it seems this can be re closed but i will let you guys take the decision :)

[2020-08-05 17:05] oxarbitrage opened #831 "Remove --verbose flag from zebrad"
By the merge of https://github.com/ZcashFoundation/zebra/pull/827 the verbose flag will no longer do anything however will still show up in help output.

Removing the flag is blocked by Abscissa changes(https://github.com/ZcashFoundation/zebra/pull/827#discussion_r465835843) however this ticket is to work on it in the future.

[2020-08-05 18:48] #822 closed, assigned to nobody

[2020-08-05 19:53] oxarbitrage commented on #825
This is actually closed by https://github.com/ZcashFoundation/zebra/pull/827 as `enviroment-variables.md` file was removed. A new doc comment corrected the issue at https://github.com/ZcashFoundation/zebra/blob/main/zebra-state/src/lib.rs#L40-L43

[2020-08-05 19:53] #825 closed, assigned to nobody

[2020-08-05 21:41] teor2345 commented on #660
I'm ok with this change, but I'd like to check with @dconnolly, because she was the one who raised concerns about the docker configs.

Do we have monitoring on docker which uses the metrics ports?
Would it be ok to break it for a while, until we have time to fix it?

This change only disables the metrics and tracing ports by default, so we'll still need #807 for the Zcash protocol listener port.

[2020-08-05 21:46] teor2345 commented on #807
#660 doesn't disable the Zcash listener port, so we'll have to do that using a custom config in this ticket.

I've updated the description of this ticket based on #660 and this discussion.

[2020-08-05 21:50] teor2345 commented on #831
Marking this as a bug, because the usage message does not match the behaviour of zebrad.

[2020-08-06 00:34] #824 closed, assigned to nobody

[2020-08-06 05:00] hdevalence commented on #745
I think our code will be simpler if we don't add any additional modes beyond what we absolutely need.

[2020-08-06 05:01] hdevalence commented on #588
Closing this because there's nothing actionable, it's just a reminder.

[2020-08-06 05:01] #588 closed, assigned to nobody

[2020-08-06 05:02] hdevalence commented on #535
The only one of these that doesn't serve a purpose was connect, which was removed.

[2020-08-06 05:02] #535 closed, assigned to nobody

[2020-08-06 05:03] hdevalence commented on #692
I think we should close this for now to stay focused and revisit it if we ever get a confusing bug report.

[2020-08-06 05:06] hdevalence commented on #406
Underway in #830

[2020-08-06 05:07] hdevalence commented on #305
Underway in #830

[2020-08-06 05:09] hdevalence commented on #318
We will not perform the recommended check for implementation faults, since it's impossible to implement without violating encapsulation of the Redjubjub interface.

[2020-08-06 05:09] #160 closed, assigned to yaahc

[2020-08-06 05:12] #400 closed, assigned to nobody

[2020-08-06 05:13] hdevalence commented on #418
This test might not make sense in light of the evolution of the state design.

[2020-08-06 05:13] #418 closed, assigned to nobody

[2020-08-06 05:13] #471 closed, assigned to yaahc

[2020-08-06 05:14] #487 closed, assigned to dconnolly

[2020-08-06 05:15] hdevalence commented on #525
I haven't seen this reoccur, so I think it's been fixed.

[2020-08-06 05:15] #525 closed, assigned to dconnolly

[2020-08-06 05:16] hdevalence commented on #561
This will be possible after #834 merges, since the tracing configuration has been repatriated.

[2020-08-06 05:17] hdevalence commented on #652
This is now in the Config docs.

[2020-08-06 05:17] #652 closed, assigned to nobody

[2020-08-06 06:24] teor2345 commented on #745
I'd like to test the block verifier against all the blocks in the chain, to make sure we've covered any historical edge cases.

What's the best way to do that?

I could delete some of the hard-coded checkpoints, but that might cause issues with pre-Sapling blocks.

[2020-08-06 06:38] teor2345 commented on #525
Here's a recent example, but I'm not sure if there is anything we can do to actually fix the issue:
https://github.com/ZcashFoundation/zebra/pull/833/files#diff-0f952e6068cc909f968e4d2115f78032R47

[2020-08-06 17:29] #660 closed, assigned to nobody

[2020-08-06 17:29] #831 closed, assigned to nobody

[2020-08-06 18:29] #536 closed, assigned to nobody

[2020-08-06 18:54] daira commented on #318
I'm surprised by that. You need to be able to compute bsk anyway; DerivePublic and checking equality of public keys are part of the intended public interface.

[2020-08-06 21:07] oxarbitrage opened #844 "Make invalid config file error more friendly"
When the config file has some invalid fields or whatever the error i am getting is:

[code]

[2020-08-06 21:09] yaahc commented on #844
it's almost certainly an issue with the lifecycle on the `Terminal` component, we might need to construct it before loading the config then register it after.

[2020-08-06 21:16] hdevalence commented on #844
I think the problem is that we load the config *before* the Terminal, so when we run into an error the terminal isn't initialized.  This was because we wanted to be able to configure the Tracing component, when we were using the Abscissa component.  But now we have our own tracing component so we don't need configuration while we're loading the Abscissa components.

I think the fix is to move
[cod

[2020-08-06 21:26] oxarbitrage commented on #807
I was trying to work in a subtask of this ticket: "print the listener ports on startup". Pretty easy however i am unsure on what to do when the user do something like `127.0.0.1:0` and the kernel picks up a port. Any ideas ?

[2020-08-06 21:32] hdevalence commented on #807
@oxarbitrage It looks like the `TcpListener::local_addr` method might be useful: https://docs.rs/tokio/0.2.22/tokio/net/struct.TcpListener.html#method.local_addr

This has to be called on the listener after it's bound, so you need access to the listener variable. The listener is constructed in the `listen` function in `src/peer_set/initialize.rs`, so I think that would be the right place to add it

[2020-08-06 22:24] teor2345 commented on #829
See #838 of one example where we use division.

We also need to use division for calculating the average difficulty (median of recent blocks, scaled by the time range of those blocks).

[2020-08-06 22:26] teor2345 opened #845 "Test that generate produces a valid config"
In our acceptance tests, we should test that generate produces a config that is accepted by start and seed.

[2020-08-06 22:27] teor2345 commented on #845
@oxarbitrage this test isn't urgent, but it would be useful eventually.

[2020-08-06 22:36] str4d commented on #829
We currently depend on `bigint` in `zcash_history`, so it would be nice to coalesce on a common U256 dependency that we can use there as well, so that it doesn't come into the zebra dependency tree when the FlyClient consensus rules are added.

[2020-08-06 23:20] teor2345 opened #847 "Make sure non-server commands produce valid output"
In #842 we made info-level logs the default.

If there are any info-level logs at startup, they will break the revhex and version output, and be annoying for help and no arguments.

Let's make sure that:
- [ ] the revhex output is exact,
- [ ] the version output matches a strict pattern, and
- [ ] the output of `zebrad help` and `zebrad` starts with the expected first line.

(The `generate` comman

[2020-08-06 23:49] hdevalence commented on #844
Oops, this solution wasn't quite right.

[2020-08-07 00:22] #844 closed, assigned to nobody

[2020-08-07 10:12] teor2345 commented on #682
We're doing this through the RFC process now.

[2020-08-07 10:12] #682 closed, assigned to teor2345

[2020-08-07 12:30] oxarbitrage commented on #807
@hdevalence thanks, that sounds good to get the correct port of the network. However, for tracing and metric endpoints we don't have this tcp listeners.

[2020-08-08 23:48] teor2345 commented on #667
This is now possible after #834, because we have our own Tracing component now.

[2020-08-10 01:26] teor2345 commented on #807
@oxarbitrage:

**Metrics**

For metrics, we'd need to call `server.local_addr` after `server.bind` here:
https://docs.rs/metrics-exporter-http/0.3.0/src/metrics_exporter_http/lib.rs.html#65

But we don't have any way to get access to the `Server` instance.

So if Zebra users need this feature, they should ask the maintainers of `metrics-exporter-http` or `hyper` to add the local address to the tra

[2020-08-10 03:15] teor2345 commented on #829
`bigint` has about half the dependencies of `primitive-types`, because it doesn't depend on `impl-codec`. (It also doesn't depend on `fixed-hash`, but those dependencies are duplicates anyway.)

So Zebra could switch to `bigint` if you want, or Zebra and zcashd could both switch to `num-bigint`.

[2020-08-10 04:18] teor2345 opened #861 "Add timeouts to the transcript test framework"
In #610 and #858, we want to turn some existing tests into transcripts. But these tests use timeouts to diagnose deadlocks, and the transcript test framework doesn't support timeouts.

So we want to add timeouts to the transcript test framework.

This is a low-priority task.

[2020-08-10 04:18] teor2345 commented on #610
Partly blocked by #861, because we need transcript timeouts to replace existing tests that use timeouts.

[2020-08-10 04:43] teor2345 opened #862 "Make sync, inbound, and block verifier check if a block hash is in any chain or any queue"
## Motivation

In the sync service (#853), inbound downloader, and block verifier, we are using the GetDepth request to check if a block is present in the state:
https://github.com/ZcashFoundation/zebra/pull/853/files#r467684617

But the sync, inbound, and block verifier actually need to know if a block hash is present in any chain. (This is a bug.)

They also don't need a depth, or any other extr

[2020-08-10 05:06] teor2345 commented on #862
See fd61aa9cbbcddd25d98b053215b6460aaee11c0e and PR #853 for an example wrapper function.

We could move this wrapper function to zebra-state to resolve this issue.

[2020-08-10 07:10] hdevalence commented on #861
Is there a reason that the transcript service itself has to support timeouts, rather than composing a transcript with a TimeoutLayer (https://docs.rs/tower/0.3.1/tower/timeout/struct.TimeoutLayer.html) ?

[2020-08-10 07:16] hdevalence commented on #862
What's the advantage of having a separate request type for this, compared to checking whether the returned depth is `Some` or `None`?

[2020-08-10 07:19] hdevalence commented on #829
Changed milestone since I think that if we have some working code, fixing it is lower-priority than getting the rest of our functionality done.

[2020-08-10 07:37] hdevalence commented on #667
It seems like there are two distinct cases where this might come up:

1. In commands like `help`, `version`, `generate`, etc, we don't want to intermingle the output of the command with a bunch of extraneous messages.  But switching the output to `stderr` doesn't really help with that, because by default both streams are written to the terminal.  So, if emit any extraneous messages, users will sti

[2020-08-10 07:51] hdevalence commented on #807
The default setting for the metrics and tracing endpoints is that they're disabled, so I think that the original issue (conflicting port assignments) won't happen unless a user manually specifies a port.  I'm not sure it would ever make sense to specify automatic port assignment for these endpoints, because the point is for other software to talk to them.  For instance, for the metrics endpoint, y

[2020-08-10 08:15] teor2345 commented on #861
I'm not sure.

If we have a timeout on each future, then we can find out the specific await that failed.

If we're just using a TimeoutLayer, then we'll only see the transcript that failed. And we'll have to rely on tracing for further diagnostics. I think that could work.

Let's try the TimeoutLayer, and see if we need any more diagnostics?

(I'm also not sure if we want a timeout on every transc

[2020-08-10 08:19] hdevalence commented on #861
I think applying a timeout layer to a transcript will actually fail specific requests just like if you were to manually apply a timeout to each future, since that's how [it's implemented internally](https://docs.rs/tower-timeout/0.3.0/src/tower_timeout/lib.rs.html#41-63).  So hopefully it will meet our needs.  If not we can consider adding timeouts but I think that it would be preferable to try co

[2020-08-10 08:22] teor2345 commented on #861
Ok, I'll close this ticket, and mention TimeoutLayer on the tickets it's blocking.

[2020-08-10 08:22] #861 closed, assigned to nobody

[2020-08-10 09:07] hdevalence opened #864 "Delete in-memory state backend?"
The original motivation for the in-memory backend was to be able to use it to mock the real state backend in tests and to test against the real backend.  But to the extent that we need small-scale, deterministic mocking, we now have the transcript utility; for larger tests, there's no problem with using sled with a temporary directory; the complexity of maintaining a second backend we don't intend

[2020-08-10 09:31] teor2345 opened #865 "Stop checking for duplicate blocks in sync and verifiers"
In #852 and #853, we made the `Sync` service and `BlockVerifier` check for known block hashes in the state.

But that's a costly check, because it might access the disk.

So once the sync service stops downloading so many duplicate blocks, we want to:
- [ ] Make the state service itself check for duplicate blocks, log an info-level message, and return success
- [ ] Delete any other duplicate block

[2020-08-10 09:32] teor2345 commented on #862
Depth accesses the height to hash map.

I don't know if it's cheaper to check if a hash is present in the hash to block map, but I can't imagine it matters that much, as long as we don't actually retrieve the block itself.

So I think moving this wrapper function to the state service would be the best choice here:
https://github.com/ZcashFoundation/zebra/pull/853/files#r467684617

(See also #865,

[2020-08-10 09:40] teor2345 commented on #807
I have updated the list of tasks in the ticket description based on #660, and this conversation.

[2020-08-10 10:10] teor2345 commented on #667
I agree that:
  - there's not much point in separating output for `help`, because it is almost always read on a terminal,
  - if we never had any logs, it wouldn't matter if they went to stdout or stderr, and
  - in some cases, even if we do have logs, it doesn't matter if they go to stdout or stderr.

So let's try to focus on the cases where it does matter:

If we have unexpected log output, here

[2020-08-10 18:22] dconnolly commented on #864
Yiss, if we do this we can cut down on the RAM specs we currently have on the VMs running our containers on merge to #main

[2020-08-10 19:50] #847 closed, assigned to nobody

[2020-08-10 23:15] hdevalence opened #869 "Check that C++ script implementation is threadsafe."
We should check that the C++ script implementation (appears to be) threadsafe, in order to be able to do parallel script verification (#868).

[2020-08-11 11:25] teor2345 commented on #516
Obsoleted by #763 and other RFCs.

[2020-08-11 11:25] #516 closed, assigned to teor2345

[2020-08-11 20:29] hdevalence commented on #590
Duplicate of #196, merging.

[2020-08-11 20:29] #590 closed, assigned to nobody

[2020-08-11 20:48] hdevalence commented on #286
Edited title to distinguish from #289 for the nullifier set.

[2020-08-11 22:36] hdevalence opened #881 "Validate consensus rules on root hash and change data modeling."
## Tasks

There are various consensus rules noted in the comments of the `RootHash` enum that we never actually check.  To check these, I think we should:

- [x] Change `Block::root_hash` to return a `Result` rather than an `Option` and enforce the all-zeros rules;
- [x] Change `PreSaplingReserved([u8; 32])` to `PreSaplingReserved`;
- [x] Change `ChainHistoryActivationReserved([u8; 32])` to `Chain

[2020-08-11 23:08] teor2345 opened #882 "Make dependabot use the new labels (with prefixes)"
Currently, dependabot uses the dependencies, rust, and infrastructure labels. But we want it to use A-infrastructure. (And maybe A-rust and A-dependencies.)

We set infrastructure in the dependabot config:
https://github.com/ZcashFoundation/zebra/blob/main/.github/dependabot.yml#L27

And dependencies and rust are default labels:
https://docs.github.com/en/github/administering-a-repository/configur

[2020-08-11 23:19] teor2345 commented on #881
Let's also make sure that we document where each enum variant is validated - while the reserved variants are valid as soon as block::light_client_root_hash returns Ok(), the other variants will need further checks.

(In particular, the Sapling variant needs to be checked against the transactions in the block, and the Heartwood variant needs to be checked against the chain history.)

[2020-08-11 23:41] hdevalence commented on #818
Closing this since the checklist is completed.

[2020-08-11 23:41] #818 closed, assigned to teor2345

[2020-08-11 23:41] #882 closed, assigned to nobody

[2020-08-11 23:45] hdevalence opened #884 "Tracking: sync correctness"
Tracking issue for issues around sync correctness, getting confused downloading blocks, etc.

# First Alpha

Hangs and Panics:
- [x] Fix network panic (#1183)
- [x] Fix state panic (#1182)
- [x] Diagnose and fix mainnet sync hangs (#1181)
- [x] Stop deadlocks between the sync service and checkpoint verifier by adding a timeout on block tasks
- [x] Stop hangs in ObtainTips and ExtendTips by adding

[2020-08-11 23:49] hdevalence commented on #802
Removed the checkbox from #829 since I don't think it's essential to do immediately.

[2020-08-11 23:55] hdevalence commented on #286
Edited title to distinguish from #36

[2020-08-12 00:06] teor2345 commented on #452
We're doing this through the RFC process and #680 now.

[2020-08-12 00:06] #452 closed, assigned to yaahc

[2020-08-12 01:26] teor2345 opened #885 "Update the Zebra deployment docker configs"
In #660, we disabled the metrics and tracing endpoints by default.

~~But the docker config still expects metrics on port 3000.~~ The node we run inside the Docker image has been configured to enable the tracing endpoint for now: https://github.com/ZcashFoundation/zebra/pull/895

The config also exposes the testnet port 18233, but never starts a testnet instance.

~~Blocked on having working zebra

[2020-08-12 01:37] teor2345 commented on #807
@oxarbitrage I think we still need to override the default Zcash protocol listener, and test that the override works by running all the acceptance tests in parallel:
- create a config that overrides the default Zcash protocol listener port in zebrad
- pass "0" for the Zcash protocol listener port, so that zebrad chooses any available port
- run all the tests at the same time, to make sure there ar

[2020-08-12 01:59] teor2345 commented on #862
@yaahc asked in https://github.com/ZcashFoundation/zebra/pull/853#discussion_r468115849

The exact depth does not matter, and the interfaces we use should reflect that fact.

These race conditions do not matter for this particular caller, but they do exist:
* depth and adding additional blocks on the best tip, or
* depth and changing the best tip.

It's also unclear what depth means for a block th

[2020-08-12 19:30] hdevalence opened #888 "Configure resource limits on sled"
Sled has a mode that selects whether to prioritize small space or high write throughput: https://docs.rs/sled/0.34.2/sled/enum.Mode.html and a setting for the maximum cache size: https://docs.rs/sled/0.34.2/sled/struct.Config.html#method.cache_capacity

We should

- [ ] Hardcode a configuration asking sled to save space, since we write infrequently.
- [ ] Surface a configuration option that sets t

[2020-08-12 19:30] hdevalence commented on #888
I ran into an OOM while testing checkpointer code that I suspect may be related to the size of the sled cache, but I have no actual evidence for this.

[2020-08-12 20:02] hdevalence opened #889 "Tracking: inbound message handling."
The zebra-network API is designed so that on init, the user passes in a `Service` whose job it is to respond to network requests from other peers.  Currently, the only existing implementation of this is the `SeedService`, which responds to address requests from peers.

This code should be refactored into a general-purpose `Inbound` service that handles all requests from peers.

- [x] #1030 for res

[2020-08-12 23:48] #888 closed, assigned to nobody

[2020-08-13 00:31] teor2345 opened #890 "Make the state Config load unspecified fields from defaults"
I think the state Config should have whatever attribute makes serde load unspecified fields from defaults

_Originally posted by @hdevalence in https://github.com/ZcashFoundation/zebra/pull/859#issuecomment-673169825_

[2020-08-13 00:33] teor2345 commented on #890
@hdevalence should we have this attribute on all our configs, or just on state?

It seems wise to be consistent, and to reduce breaking config changes.

(If we ever need a deliberate break, we can delete an existing field, or rename it.)

[2020-08-13 00:34] hdevalence commented on #890
I think we already do this for all of the other config structs.

[2020-08-13 00:37] hdevalence commented on #884
@teor2345 I think we don't need the sync to be able to go forward a block at a time, since as new blocks are generated we'll get them through gossip (to be implemented in #889).

[2020-08-13 00:38] hdevalence commented on #864
@dconnolly RAM usage should decrease since #887 now that we cap sled caching at 512MB by default.

[2020-08-13 00:52] hdevalence commented on #884
On the `BLOCK_TIMEOUT` question, there are actually two timeouts -- the one applied in the timeout layer and the one used internally in the peer set's state machine (set to 10 seconds).  So if we want to have timeouts greater than 10 seconds we'll need to update that timeout as well. With a 1-second latency allowance that would be 1.8 Mbps.  Maybe that's too high, although I don't think that it's

[2020-08-13 00:53] hdevalence commented on #865
These changes were made in #887 for the sync service, but not for the checkpoint, chain, or block verifiers.

[2020-08-13 00:53] teor2345 commented on #889
Should we perform transaction verification before adding to the mempool?

[2020-08-13 00:55] hdevalence commented on #889
Yes, there are different transaction verification rules for mempool transactions, I'll clarify the line to reflect that.

[2020-08-13 01:01] teor2345 commented on #864
Each test will need an on-disk state in a different temporary directory.

I added a TODO for this change.

[2020-08-13 01:08] hdevalence commented on #864
While looking up details for #888 I noticed that Sled has a config option that allows us to create an in-memory database on a ramdisk. Maybe we could use that?

[2020-08-13 01:11] dconnolly opened #892 "Reduce memory specs on our vm deployments created with containers"
Now that sled in-memory storage is capped at half a gig in #887, #888, we can definitely reduce our current VM specs from n1-highmem-8 (52 GB memory!) to something high CPU, low memory

[2020-08-13 01:12] teor2345 commented on #884
Sounds good, and I guess it's ok to lag slightly in our first release. I'll update that TODO.

[2020-08-13 01:22] teor2345 commented on #884
I'm not sure if we need to make any changes here.

Requiring less than 10 Mbps is reasonable for servers. And a latency of 1 second should cover most servers, wifi, and even some mobile internet. But I don't know the exact answer, because download speed also depends on peer speeds and peer latency. We should do some testing 🤔

Do we expect people to be able to run Zebra over Tor?
Because that will

[2020-08-13 01:27] teor2345 commented on #864
Sounds good, I've added that decision to the TODO list.

[2020-08-13 03:08] #892 closed, assigned to dconnolly

[2020-08-13 17:27] hdevalence commented on #862
To be more precise, there's not exactly a race condition, just the potential for TOCTOU issues where another part of the software requests information about what's in the state, acts on it, and the state is updated in the meantime.  But this is the case for *any* state query, and I think that the solution is the direction we're already going (where all state updates are permissioned by the state i

[2020-08-13 17:32] oxarbitrage commented on #794
How can the user agent be changed by config ? I only see it defined as a constant in https://github.com/ZcashFoundation/zebra/blob/main/zebra-network/src/constants.rs#L47 but i was not able to find any place where this value is overwritten by something coming from zebrad.toml.

[2020-08-13 17:46] hdevalence commented on #884
To clarify, I don't think we'll be lagging here -- in initial block sync, we'll sync up to the current chain tip, and we'll stay in sync through block gossip.

[2020-08-13 17:49] hdevalence commented on #794
Yep, we removed it from the config options in order to prevent this problem. In the future we can add config fields that push data to the BIP14 stack, but I don't think we should try doing that until we have some other users for zebra-network. So I'm going to update the labels on the issue to reflect de-prioritization.

[2020-08-13 17:50] hdevalence commented on #884
Okay, let's do nothing for now. I don't think that we can run Zebra over Tor anyways, since the Bitcoin protocol isn't really compatible with Tor.

[2020-08-13 17:54] hdevalence commented on #884
Updated the list of checks with rationale about sync behavior.

[2020-08-13 18:05] hdevalence opened #896 "Add support for temporary sled databases."
Sled has support for in-memory temporary databases.  We should use this instead of our current tempdir-based solution.

- [ ] Add a new option to `zebra-state::Config`:
[code]

- [ ] Use the `ephemeral` variable to set https://docs.rs/sled/0.34.2/sled/struct.Config.html#method.temporary

- [ ] In `zebra-test`, replace the state `TempDir` configs with a config that sets `ephemeral = true`.
  - We'l

[2020-08-13 18:06] hdevalence commented on #864
I think the right fix is to remove all the tempdir stuff and use a temporary Sled database. Created #896 .

[2020-08-13 18:20] hdevalence commented on #753
Doing it per-address like the inbound and outbound message counts seems like a good idea, because then in Prometheus/Grafana we can do aggregate statistics or zoom in on individual peers.  We construct a different codec object for every connection (since the codec is an adapter that transforms the byte stream to a message stream) so it should be possible for each codec to record metrics by address

[2020-08-13 18:47] hdevalence opened #897 "Dynamic tracing filters and extra tracing integrations"
This isn't a priority right now, but here are some notes for future improvements we should make to our tracing support. After https://github.com/tokio-rs/tracing/issues/894 merges, we'll be able to create a stack of reloadable, optional tracing layers.

This means that we can:
- [ ] dynamically enable/disable flamegraph collection
- [ ] dynamically enable/disable formatted output
- [x] optionally

[2020-08-13 20:02] teor2345 commented on #862
Functionally, that's the only change - but I think a specific function for checking a hash is also useful for readability and modularity. (And potentially future optimisations.)

It's also worth noting the two different kinds of TOCTOU issues:
* a block is not in the state, but is later downloaded or verified
* a block is in the state, but is later pruned from the state as a side-chain (if we impl

[2020-08-13 20:31] #845 closed, assigned to nobody

[2020-08-13 20:46] hdevalence opened #899 "Retcon new sync logic into RFC1"
The sync logic was fixed up in #887 and now RFC1 doesn't match the implementation.  Let's wait a bit to be sure we don't want to make even more changes, then retcon the design into the RFC.

Let's also remove the RFC template text from the RFC. We can:
- rewrite the RFC content to fit the template, or
- delete the template text

[2020-08-13 20:54] yaahc commented on #862
This seems like a reasonable default for block lookups.

:sweat_smile: `s/the best chain/the only chain/`

[2020-08-13 22:56] teor2345 commented on #569
I think we solved this issue with the RFC process?

[2020-08-13 22:57] yaahc commented on #569
we should probably add a section on how the RFC process works to the book but we've definitely finished figuring out our design process.

[2020-08-13 22:58] teor2345 commented on #896
We also use TempDir for the generated configs in `zebra-test`, so I think we'll have to keep it as a test dependency.

I'll adjust the issue checklist.

[2020-08-13 23:01] teor2345 commented on #569
Would you like to edit this issue, or open a new one?

[2020-08-13 23:05] teor2345 commented on #782
I don't think we need to resolve this issue: we've tended to just adjust log levels.

[2020-08-13 23:10] #509 closed, assigned to nobody

[2020-08-13 23:11] dconnolly commented on #715
CLosed in #719

[2020-08-13 23:11] #715 closed, assigned to teor2345

[2020-08-13 23:16] dconnolly commented on #738
Closing for now, we should reopen if it happens again.

[2020-08-13 23:16] #738 closed, assigned to nobody

[2020-08-13 23:18] dconnolly commented on #395
Resolved in https://github.com/ZcashFoundation/zebra/pull/843

[2020-08-13 23:18] #395 closed, assigned to dconnolly

[2020-08-13 23:21] #782 closed, assigned to nobody

[2020-08-14 03:06] dconnolly opened #900 "Should Sprout `prf_nf` function accept a `SpendingKey`, or bytes?"
If key, we can encapsulate masking requirement logic, if bytes, it more closely matches the spec.

See https://github.com/ZcashFoundation/zebra/pull/596/files#r467356233 and https://github.com/ZcashFoundation/zebra/pull/596/files#r467740903 for context.

[2020-08-14 06:04] #273 closed, assigned to dconnolly

[2020-08-14 06:04] #123 closed, assigned to dconnolly, yaahc

[2020-08-14 06:04] #274 closed, assigned to dconnolly

[2020-08-14 06:04] #275 closed, assigned to dconnolly

[2020-08-14 06:04] #279 closed, assigned to dconnolly

[2020-08-14 06:04] #329 closed, assigned to dconnolly

[2020-08-14 06:04] #330 closed, assigned to dconnolly

[2020-08-14 06:04] #334 closed, assigned to dconnolly

[2020-08-14 22:50] #753 closed, assigned to oxarbitrage

[2020-08-15 01:33] dconnolly commented on #306
PR https://github.com/ZcashFoundation/zebra/pull/870 has done part of this work but it's incomplete

[2020-08-17 05:32] hdevalence opened #906 "Implement Bitcoin Merkle tree logic"
The current Bitcoin Merkle tree (moved to `block::merkle` as part of #905) isn't actually implemented.  To fix this:

- [ ] Determine whether the current `Tree` interface is correct by figuring out what Bitcoin actually does;
- [ ] Implement the Merkle tree functionality;
- [ ] Use the block 415000 test vector to check that the derived Merkle root for the transactions in that block matches the tes

[2020-08-17 05:43] hdevalence opened #907 "Move `is_coinbase_first` check out of `zebra_chain` and into `zebra_consensus`."
This is a semantic validation check, so it does not belong in `zebra_chain`.  Ideally we could write all of the consensus checks as functions in, e.g., `zebra_consensus::block`, then call them all in sequence.

[2020-08-17 05:47] hdevalence opened #908 "Add documentation to `zebra_chain::amount`."
The module-level documentation for `zebra_chain::amount` should motivate and describe the API, paraphrasing https://github.com/ZcashFoundation/zebra/issues/126#issuecomment-582635560 and providing a worked example in the form of a doctest.  The doctest can replace existing tests.

This is low-priority, since it's just motivating the API we already have.

[2020-08-17 05:54] hdevalence opened #909 "Make `zebra_chain::parameters::ConsensusBranchId` private or remove it"
Currently `zebra_chain` exposes a `ConsensusBranchId` newtype.

Previously, we handled the consensus branch ID as an implementation detail of the transaction serialization format, so there was no need to have a type for it.  The `ConsensusBranchId` type was added in 4b683ea2 but I'm not sure whether it was added in anticipation of another use beyond transaction serialization.

Regardless of whethe

[2020-08-17 06:00] hdevalence opened #910 "Remove `secp256k1` dependency from zebra-chain until we implement related functionality."
Currently `zebra-chain` depends on `secp256k1` in order to define `From<secp256k1::PublicKey> for TransparentAddress`, but we don't make any other use of the crate.

We should check this (@ZcashFoundation/zebra-team), but I think that because (a) signature verification is performed as part of script execution (b) we outsource script execution to C++ via `zcash_script` and (c) we don't implement an

[2020-08-17 06:08] hdevalence commented on #795
I think we shouldn't do this, because it's a bunch of work to parse zcashd structures that we can avoid by making RPC calls to zcashd (as we currently do) and we only need to update the checkpoint list infrequently, so it's relatively unimportant.

[2020-08-17 06:13] hdevalence commented on #800
I liked them but as we discussed in a previous gardening meeting, the meaning pending/ready labels may not be obvious to new contributors. I'll do this now.

[2020-08-17 06:21] #800 closed, assigned to dconnolly

[2020-08-17 06:32] hdevalence opened #911 "Add configuration option for checkpoint limit."
We require checkpointing up to Sapling activation (419200 on mainnet), but our checkpoint list extends beyond Sapling activation in order to allow fast sync.  We need to provide a way for users to configure whether Zebra performs full verification post-Sapling, or uses checkpointing.

One option would be to provide a configuration field that specifies the block height to stop checkpointing.  Howev

[2020-08-17 18:46] #567 closed, assigned to hdevalence

[2020-08-17 19:42] hdevalence commented on #909
Per #708, we may need to expose the `ConsensusBranchId` in order to supply parameters to `zcash_script`, which would mean that we cannot avoid defining the type or exposing it.

[2020-08-18 03:56] hdevalence opened #915 "Update to sha2 0.9"
Because the API changed, this will require touching up all the compile errors to match the new API.

[2020-08-18 17:55] hdevalence opened #918 "Move block::Header validation checks into zebra-consensus."
Same rationale as #907, but per https://github.com/ZcashFoundation/zebra/pull/917#discussion_r472377610 there might be an obstacle.

There are currently two checks:
- [x] `is_equihash_solution_valid`
    - This function should be split into two parts:
        - the work of checking the solution should move to a new method on `Solution` in `work/equihash.rs`:
[code]
        - the `block::check` mod

[2020-08-18 18:03] #907 closed, assigned to nobody

[2020-08-18 18:11] hdevalence opened #919 "Rewrite `block::tests::generate` as proptest strategies."
As noted in 64d9d5599298d63a03f47d4ca038a4645ca265fc, the existing `generate` functionality would be better expressed as a collection of proptest strategies, so that it's composable with other test code.

These strategies should be exposed as part of the crate API in test mode, so that they can be used by other crates (particularly `zebra_consensus`.

[2020-08-18 23:12] hdevalence commented on #909
We need to keep this for script handling.

[2020-08-18 23:12] #909 closed, assigned to nobody

[2020-08-18 23:24] hdevalence opened #921 "Tidy `zebra_chain::sapling` module structure."
Changes discussed on discord:

- [x] Rename `sapling::address::SaplingShieldedAddress` to `Address` and re-export it from the `sapling` module;
- [x] Make the `address` module private;
- [x] Make the `commitment` module private;
- [x] Re-export `CommitmentRandomness`, `NoteCommitment`, `ValueCommitment` from the `sapling` module;
- [x] Move `Diversifier` out of `key`s and into the module root (eit

[2020-08-19 00:44] teor2345 opened #922 "Add a section on how the RFC process works to the book"
we should probably add a section on how the RFC process works to the book but we've definitely finished figuring out our design process.

_Originally posted by @yaahc in https://github.com/ZcashFoundation/zebra/issues/569#issuecomment-673750033_

[2020-08-19 00:45] teor2345 commented on #569
See #922 for the follow up.

[2020-08-19 00:45] #569 closed, assigned to yaahc

[2020-08-19 02:40] teor2345 opened #923 ""Reached the type-length limit" error while compiling zebrad with nightly rust"
When I build zebrad with rust nightly 2020-08-18, I see the following error:

error: reached the type-length limit while instantiating `std::thread::LocalKey::<std::cel...Result<(), color_eyre:
:Report>>>`

I see similar errors for other types, it seems like the maximum size is around 2MB.

The first bad Zebra commit is 6aeefcee, which adds extra tracing and metrics.

The first bad rustc commit is

[2020-08-19 03:42] teor2345 opened #924 "Consider adding a nightly compile job"
The goals of this ticket are:
* identifying errors that are caused by code changes, and
* avoiding or distinguishing errors that are caused by dependencies or infrastructure

In #923, zebrad triggers a compiler error regression on rust nightly 2020-08-14 and later.

We didn't catch this error, because all our builders run on stable. (We run clippy on nightly, but this error only happens during bui

[2020-08-19 03:42] teor2345 commented on #923
We didn't catch this bug in our CI, because we don't run a nightly compile job.

I opened #924 to see if that's worthwhile.

[2020-08-19 04:42] teor2345 commented on #924
(Not really a bug, more of a preventative measure.)

[2020-08-19 04:51] teor2345 commented on #910
Seems like a good idea, and it seems correct to me. (But I'm not as familiar with this area of the spec and code.)

[2020-08-19 04:57] teor2345 commented on #795
I think there's been a bit of confusion here, I was never talking about parsing `zcashd`'s cached blocks directly.

But you're right, this change is only worth doing if we want to:
* remove our dependency on `zcashd` and `zcash-cli`, or
* generate checkpoints using `zebrad`'s sled cache.

Since we don't generate checkpoints very often, this task isn't important, unless we want to be independent fr

[2020-08-19 19:50] teor2345 commented on #923
I'm going to need help to:
* write a rustc bug report
* find a minimal test case

@dconnolly or @yaahc, can you help me report a bug in rustc?

[2020-08-19 20:58] teor2345 commented on #923
I've created a rust zulip thread to get help.

[2020-08-19 21:41] teor2345 opened #928 "Keep cache_dir conversion errors in the zebrad acceptance tests"
don't think we should discard this error
[code]

_Originally posted by @yaahc in https://github.com/ZcashFoundation/zebra/pull/920#discussion_r472531767_

Note that the suggestion doesn't compile, but it might with a few tweaks.

[2020-08-19 21:44] teor2345 opened #929 "In the zebrad acceptance tests, create zebrad.toml by serialising a Config struct"
Not in love with the string manipulation, and I expect this will only get more complicated. I think it would really be better to just have a `.with_config(Config { ... })` function that lets us manipulate the config more naturally rather than having to build up toml by hand.

_Originally posted by @yaahc in https://github.com/ZcashFoundation/zebra/pull/920_

[2020-08-19 21:53] teor2345 commented on #923
I bisected Zebra, the first bad commit is 6aeefcee, which adds extra tracing and metrics.

[2020-08-19 22:16] teor2345 commented on #923
Looks like the instrument proc macro is responsible for this issue.

[2020-08-20 00:34] teor2345 commented on #911
@hdevalence what are the reasons behind this default?

I think most users will want to sync quickly, rather than running a full verification every time.

[2020-08-20 00:51] teor2345 commented on #911
Tweaked the description to include testnet Sapling activation.

[2020-08-20 02:16] hdevalence commented on #911
@teor2345 well, the thought was that verifying the chain data increases the security of the network, so it should be the default, but I don't have strong feelings about it. Changing a default is easy.

[2020-08-20 02:20] teor2345 commented on #911
I think you're right.

If we do a full verify as the default, then we increase the security of the network, *and* we lower the severity of any security issues introduced by checkpointing.

I'd much rather be dealing with security issues that *don't* happen in the default configuration.

[2020-08-20 03:18] teor2345 commented on #745
Updated based on #911 and #931.

[2020-08-20 06:13] teor2345 opened #932 "Panic in state service GetDepth request during obtain_tips"
While I was syncing mainnet, I saw a panic in  GetDepth during obtain_tips:
<details>
<summary>Message:  block must be present if contains returned true<br/>
Location: zebra-state/src/on_disk.rs:166<br/>
<i>Click for full panic log.</i></summary>

[code]

</details>

I think this panic happens when `AddBlock` and `GetDepth` are executed simultaneously, resulting in this order of events:
1. `AddBlo

[2020-08-20 18:43] dconnolly commented on #800
Thanks for picking this up! 🙏

[2020-08-20 18:45] dconnolly commented on #755
Removing from the 'sync and validate' milestone because that milestone basically corresponds with our first alpha, which is just 'this repo',  whereas the first release(s) (binaries, packages, etc) basically correspond to our first major version which will be shortly after our first alpha.

[2020-08-20 18:47] dconnolly commented on #755
Related: https://github.com/ZcashFoundation/zebra/pull/927

[2020-08-20 18:52] #923 closed, assigned to nobody

[2020-08-21 19:36] #932 closed, assigned to teor2345

[2020-08-21 21:50] dconnolly opened #936 "Design: mempool transaction handling"
This is not strictly needed for 'Sync and Validate Mainnet' but is needed for 'behaving like a friendly node on the network', so probably before our first major release.

### Specification

This design should include the [ZIP-200](https://zips.z.cash/zip-0200) network upgrade mechanism for the mempool (#2374):
- [x] Reject transactions that are invalid for the current network upgrade
- [x] Clear m

[2020-08-21 21:59] dconnolly opened #937 "Design: inventory fetching"
So that we can do gossip of transactions, finding of new gossiped blocks, and respond to requests from other peers in a well-behaved manner. This is necessary to fulfill our `Sync and Validate Milestone`.

[2020-08-21 23:26] #915 closed, assigned to nobody

[2020-08-23 09:28] daira commented on #936
To be more precise, what's needed in order to behave like a friendly node on the network is to relay valid transactions. Keeping them around in memory is entirely optional.

[2020-08-24 01:24] #929 closed, assigned to nobody

[2020-08-24 05:34] #890 closed, assigned to teor2345

[2020-08-24 05:34] #911 closed, assigned to teor2345

[2020-08-24 13:06] teor2345 opened #943 "Set the config path in the zebrad acceptance tests"
In #822, we removed the `ZEBRAD_CACHE_DIR` environmental variable with a temporary `zebrad.toml` file in the acceptance tests. But we didn't make sure that `zebrad` reads that file for its config.

In particular, if the preference dir contains a `zebrad.toml`, it will be read instead of the temporary `zebrad.toml`.

So we need to pass `-c zebrad.toml` to every command that generates a temporary `z

[2020-08-24 13:31] teor2345 opened #944 "Show output when zebrad acceptance tests fail"
When the zebrad acceptance tests fail, we only see the acceptance test output. But sometimes we need to see the child process output to diagnose the issue.

Here's an example of a test failure where the child's output would be useful:
* `assert!(output.was_killed())`
* https://github.com/ZcashFoundation/zebra/blob/main/zebrad/tests/acceptance.rs#L234

We already wait on the child's output on succe

[2020-08-24 13:31] teor2345 opened #945 "Set "RUST_BACKTRACE=full" in Zebra's CI"
When the Zebra tests fail, they don't show any backtrace. That makes it hard to diagnose some test failures.

So let's set "RUST_BACKTRACE=full" in Zebra's CI.

[2020-08-24 14:11] teor2345 commented on #896
Sled's ephemeral feature doesn't actually guarantee an in-memory database. See #939 for details.

[2020-08-24 17:14] yaahc commented on #944
Surprised it isn't already setup to do this tbh, that's just an oversight on my part.

[2020-08-24 18:57] #945 closed, assigned to nobody

[2020-08-25 01:47] teor2345 opened #948 "Support hostnames in the zebrad listener configs"
zebrad's config uses `SocketAddr` for the Zcash, metrics, and tracing listeners. `SocketAddr` only accepts IP address literals, and does not do DNS resolution on hostnames.

If we make zebrad support hostnames, then users can configure dynamic IP addresses, and generic addresses like `localhost`.

Here's how we can make this change:
- [ ] change the listener configs to a string
- [ ] parse the str

[2020-08-25 05:05] dconnolly commented on #948
I like this 👍

[2020-08-25 11:24] oxarbitrage commented on #928
The part of the code involved was removed at https://github.com/ZcashFoundation/zebra/pull/940 so this is not needed anymore.

[2020-08-25 11:24] #928 closed, assigned to nobody

[2020-08-25 13:29] oxarbitrage commented on #944
This is not totally clear to me, maybe because the link do not have a failure anymore so i cant see how the issue was exactly.

By what i can see any test who calls the `assert_success()` when the child failed will display the child error in stdout. The same with `assert_failure()`; any test who calls `assert_failure()` on a success will display child error in stdout.

For instance, calling succes

[2020-08-25 14:32] oxarbitrage commented on #948
I am going to be working on this one.

[2020-08-25 20:15] yaahc commented on #944
perhaps it was one of the `stdout_*` functions? Those currently only capture stdout and the command as sections, but not stderr.

[2020-08-25 22:08] teor2345 commented on #944
Sorry, I linked to the CI, but it looks like that run has been deleted. I think I also named the wrong function.

From what I remember, the child panicked, and failed `assert!(output.was_killed())`.

[2020-08-25 22:14] hdevalence commented on #889
#878 is unmergeable (the way it used Abscissa components didn't work out) but it has some code that could be extracted to implement the inbound network service.  One thing we need to decide (cc @ZcashFoundation/zebra-team) is whether we want to continue to provide a special-case `seed` command, or drop it and power the DNS seeders from full nodes that validate the chain.

My position is that we sh

[2020-08-25 22:27] teor2345 commented on #944
(But let's check that all the test child functions show the child's output on error.)

[2020-08-25 22:29] teor2345 commented on #889
Is writing a full node a post-alpha task?
Or is it important to do it before the alpha?

[2020-08-25 22:33] hdevalence commented on #889
Yes, we need to do this before, because it's part of what's required to participate in the network (altruistically, if we don't do this, we'll be draining bandwidth from the network and providing none, selfishly, we need to do this to learn about gossiped blocks).

That said, the work here mostly consists of wiring things together, rather than implementing a ton of new functionality, the bulk of t

[2020-08-25 22:34] dconnolly opened #950 "Demo: compare zcashd vs zebrad ludicrous speed on syncing"
Demonstrate the wins from our novel async multithreaded architecture that has taken a little more time on our calendar to do well.

We need to refine the scope of how we want to do this, how complex we want to get. A straightforward, 'write some scripts, collect same-same data' might be good enough, and then recording the demo, and making sure this is reproducible. So maybe a workflow? Or VM?

We

[2020-08-25 23:22] yaahc commented on #944
the best way to do this would probably be to remove all the `assert!`s in our tests that act on conditions like `was_killed` and instead change those conditional fns to return `Result<(), Report>` so we can do `output.was_killed()?` and have `was_killed` bundle the appropriate context with the report before returning it.

[2020-08-25 23:54] oxarbitrage commented on #944
Thank you both, ill see what i can do.

[2020-08-26 10:14] daira commented on #950
Looking forward to seeing this! :-)

[2020-08-27 19:23] yaahc commented on #869
starting this now. cc @str4d @gtank incase either of you have any suggestions for things to double check.

[2020-08-27 20:33] yaahc commented on #869
So far I've checked the main logic, mostly in `interpreter.cpp`. That code seems to have no shared data beyond static consts which should be safe to share. Same goes for the calling logic in `zcashconsensus.cpp/h`. I'm going to go ahead and double check all of the `.cpp` files that are needed by the `build.rs` file in `zcash_script`.

[2020-08-27 20:39] yaahc commented on #869
`pubkey.cpp` looks like its likely not threadsafe.

[code]

Shared global verification context that is mutated as far as I can tell X_X

[2020-08-27 23:13] dconnolly commented on #747
In https://github.com/ZcashFoundation/zebra/commit/eda6d86d3e2a9e2efde9207d15cc1fd884800190, I split out the test and build jobs into fully parallel jobs, so of those on our matrix of platforms, the slowest (test|build) on (linux|macos|windows) will be slowest part of our PR builds. Either there is some caching going on or our `cargo fetch`s are just really fast, because those take ~seconds on all

[2020-08-27 23:13] dconnolly commented on #747
I'm going to close this one, and if we feel further need to speed this up etc we can open a more precise issue.

[2020-08-27 23:13] #747 closed, assigned to dconnolly

[2020-08-27 23:36] dconnolly commented on #462
Closed by #476

[2020-08-27 23:36] #462 closed, assigned to dconnolly

[2020-08-27 23:36] dconnolly commented on #208
See also, GitHub issue and PR templates

[2020-08-27 23:37] dconnolly commented on #921
#331

[2020-08-27 23:40] dconnolly commented on #751
We think we should be constraining during parsing, but that's it. Closing.

[2020-08-27 23:40] #751 closed, assigned to nobody

[2020-08-27 23:41] teor2345 commented on #865
We don't actually want to make these changes, because:
- on network-constrained nodes, it's cheaper to check the state, than to re-download a block
- on all nodes, it's cheaper to check the state, than to re-download a duplicate block, get a sync error, and then restart the entire sync

I have an upcoming sync PR that achieves the purpose of this ticket, without overloading the network so much.

[2020-08-27 23:41] #865 closed, assigned to nobody

[2020-08-27 23:52] teor2345 commented on #805
Turns out getting this to work is *hard*, so we should document it, and leave it to builders.

[2020-08-27 23:54] dconnolly commented on #724
This design is covered somewhat in https://github.com/ZcashFoundation/zebra/pull/902

[2020-08-27 23:54] yaahc commented on #869
Okay so upon further review it looks like it is thread safe, here's how:

So the secp context pointer is managed by this ECCVerifyHandle type that makes it act like a lazy_static:

[code]

This handle type is only ever constructed in one place, within `zcash_script.cpp`

[code]

This is a global variable that creates one of those EccVerifyHandles upon startup of the binary, which initializes the s

[2020-08-27 23:54] #869 closed, assigned to yaahc

[2020-08-27 23:56] dconnolly commented on #724
"In terms of what treestate we need, we 'just' need the anchor, as the nullifier set is just a set we maintain."

[2020-08-28 00:06] teor2345 opened #956 "Use rust-only link-time optimisation in the zebrad build"
We can improve the performance of our release builds, by activating rust-only link-time optimisation (LTO):
https://doc.rust-lang.org/cargo/reference/profiles.html#lto

This setting activates LTO across all crates:
[code]

If that's too costly, we can just perform LTO within a single crate:
[code]

Here's how we can make that decision:

Compare release builds with these LTO settings:
- no LTO
- th

[2020-08-28 08:41] dconnolly opened #958 "Design: treestate (note commitment trees and nullifier sets)"
### Todo:
- [ ] Update treestate RFC for Orchard

### Design
- figuring out what data exactly we need to store to check consistency with note commitment trees
  - including Orchard changes in https://zips.z.cash/protocol/nu5.pdf#transactions
- figuring out what interface we should have for the NCT implementation
- writing down the process for checking transactions in a block against whatever data

[2020-08-28 08:46] #921 closed, assigned to dconnolly

[2020-08-28 19:36] hdevalence opened #960 "Implement inventory tracking."
Implementation of #952.

Checklist:

- [x] Change the peer set code so that instead of being generic over `D: Discover` with arbitrary keys, it's generic over `D: Discover` with `D::Key = SocketAddr`.  This is probably best to do first.
- [x] Implement the inventory registry (probably in a new submodule of `peer_set`)
- [ ] Implement the inventory tracking hooks (in `peer/handshake.rs`)
- [ ] Chan

[2020-08-28 21:50] hdevalence commented on #889
#960 is a prerequisite to this issue.  Linking it here in a comment in advance of restructuring the list above as a list of sub-issues, which I'd like to do after resolving #878 .

[2020-08-29 00:41] hdevalence opened #964 "Implement async script verification RFC"
Implementation of the async script verification design added in #868.

[2020-08-29 00:42] hdevalence commented on #964
Closed by #961

[2020-08-29 00:50] hdevalence commented on #937
Closed by #952

[2020-08-29 00:50] #937 closed, assigned to hdevalence

[2020-08-31 03:35] teor2345 opened #967 "Avoid duplicating test config defaults in the zebrad acceptance tests"
In PR #939, we added a `ConfigMode` to the zebrad acceptance tests.

But sometimes tests need to set their own custom configs. And we don't want to duplicate the test defaults across different tests. So let's create a `default_test_config` function, which returns the test config defaults, and use it in the relevant tests.

TODO:
- [x] create a `default_test_config` function, which returns the test

[2020-08-31 03:43] teor2345 opened #968 "Remove remaining references to BlockHeaderHash and BlockHeight"
In #905, we renamed `BlockHeaderHash` to `block::Hash` and `BlockHeight` to `block::Height`.

But there are still a few instances of the old names in comments, debug formatters, and tests. We should replace them with the new names.

[2020-08-31 04:11] teor2345 opened #969 "Remove the zebra-consensus AddBlock order workarounds"
I'm seeing a bunch of "there should be no holes in the current chain" panics during syncing.

I think these errors happen because the `CheckpointVerifier` verifies blocks in order, but the blocks are asynchronously committed by the `ChainVerifier`. So the actual commits can get out of order.

There are a few ways to resolve this issue:
* the block and checkpoint verifiers add blocks to the state
*

[2020-08-31 04:12] teor2345 commented on #969
@yaahc and @hdevalence: is there anything I can do to help move the state RFC forward?

Is the block order part of the RFC settled enough to implement now?

[2020-08-31 05:09] hdevalence commented on #969
Yes, I think the only unsettled part is nailing down exactly what information the state should store to represent the treestate. @yaahc and I were planning to work through that tomorrow.

[2020-08-31 07:39] teor2345 commented on #969
I'm not sure if you've seen my questions on #902:
* [How can callers of `Request::CommitBlock` commit finalized blocks in order?](https://github.com/ZcashFoundation/zebra/pull/902/files#r479949736)
* [Where do the contextual validation checks happen, and how are they related to the other verification checks?](https://github.com/ZcashFoundation/zebra/pull/902/files#r479950334)

I re-read the RFC, t

[2020-08-31 08:32] #896 closed, assigned to nobody

[2020-08-31 09:00] teor2345 opened #970 "Log an info-level message when Zebra reaches each network upgrade"
## Motivation

After Zebra finishes verifying checkpoints, the logs are a bit boring and repetitive. It would be nice to show some progress indicators, but there's nothing interesting about each extra 10,000 blocks.

Network upgrade activation blocks are interesting though. And logging them could be useful for diagnosing any issues around network upgrades.

This is a good task for a new contributo

[2020-08-31 10:16] teor2345 commented on #884
I updated the list of outstanding issues, I'll check them off as I submit PRs.

Even after these changes, Zebra still doesn't limit the number of requests which are waiting for peer responses, or handle peer reputation. So I've added them to the "future work" section.

[2020-08-31 17:58] hdevalence commented on #968
Oops, my bad, I did this using the `rust-analyzer` rename feature and touched up references in comments that I saw while fixing up import paths, but I should have done `rg BlockHeight` or `rg BlockHeaderHash` to check for completeness that all of the references were gone.

[2020-08-31 18:16] hdevalence opened #972 "Check that transaction::Hash logic is correct and then remove the TODO comment"
The `transaction::Hash` docs have a TODO comment about how transaction hashes are computed. We should check that the transaction hash computations are correct (I think we already have tests for this @zebra-team ?) and then remove the comment.

_Originally posted by @hdevalence in https://github.com/ZcashFoundation/zebra/pull/963#r480302848_

[2020-08-31 18:29] hdevalence commented on #948
branching off of https://github.com/ZcashFoundation/zebra/pull/951#discussion_r480307498, it looks like this feature adds quite a lot of additional complexity, both in terms of the code required to implement it as well as in terms of the additional program states. Before, we could parse the config with no extra steps, and after parsing we'd have a valid address, but now we have to have additional

[2020-08-31 18:43] hdevalence commented on #864
This is clear to go now that #896 is closed.  Removing this sooner rather than later will cut down on the amount of code we have to touch as we fill in the state implementation.

[2020-08-31 19:43] #967 closed, assigned to nobody

[2020-08-31 19:51] hdevalence commented on #884
I don't think it makes sense for us to limit the number of requests waiting for peer responses, because I don't think that there's a way for us to work out in a principled way what an appropriate limit for the number of in-flight requests should be.  Instead I think it would be better to use backpressure from the peer set to block new requests when the peer set is at capacity, which is what we alr

[2020-08-31 20:14] hdevalence commented on #969
@teor2345 Nope, I hadn't seen those questions yet, sorry for missing them!

[2020-08-31 22:29] teor2345 commented on #884
Yeah, that was basically the conclusion I came to after thinking about it a bit more.

It might also be something we want to document for users - if they are on a slower network, try setting the target peerset size lower.

[2020-08-31 22:39] teor2345 commented on #969
Updated based on the design in #902.

[2020-09-01 01:42] teor2345 commented on #948
I think you're right, it seems like a really complicated feature to implement. Based on my previous dev experience, it can also be surprising to users that the hostname is resolved once on startup, rather than dynamically changing as DNS changes.

Here's how we could move forward:
* document that zebrad only accepts IP addresses
* document a workaround for hostnames: resolve hostnames using an ext

[2020-09-01 01:43] teor2345 commented on #948
Blocked pending a decision on the design.

We can separate out the test parts of the PR, and commit them, because they are still useful:

add zebrad acceptance tests for each type of address:
- [ ] IPv4 literals (127.0.0.1)
- [ ] IPv6 literals (::1)
- [ ] No address - optional listeners only: the zcash listener is required

[2020-09-01 02:19] teor2345 opened #975 "Rename `zebra_state::on_disk`"
In #974, we removed the in-memory state implementation. That leaves us with only one state implementation, which is called `on_disk`.

Since #896 merged, `on_disk` has been an incorrect name, because ephemeral states are in memory on Linux. It's also a confusing name when it appears in external import paths.

Let's rename it to `sled`, or something similar, and make it private to `zebra_state`.

L

[2020-09-01 06:23] yaahc opened #976 "remove option to read config from current directory"
This feature seems to be more trouble than it's worth

---

Here's a similar conversation from the last PR:
https://github.com/ZcashFoundation/zebra/pull/714#discussion_r458529306
https://github.com/ZcashFoundation/zebra/pull/714#discussion_r458529306

Using the current directory for the config is non-standard. And it seems to be more confusing than I expected.

I think it will be simpler for user

[2020-09-01 07:22] teor2345 commented on #976
For more context, @yaahc and I both struggled to remember why we chose the original priority order - and we expect users will struggle to remember which order the configs are read in.

So let's just have one default config, and `-c explicit-config.toml`

[2020-09-01 18:52] vramana commented on #918
Can I work on this?

[2020-09-01 18:52] yaahc commented on #918
absolutely!

[2020-09-01 19:39] #864 closed, assigned to nobody

[2020-09-01 19:39] #944 closed, assigned to nobody

[2020-09-01 19:53] hdevalence commented on #975
As part of #974 the entire module was made private, so this change and other changes can be made without interfering with the external API.

Another thing to consider while doing this restructuring work is whether we should split out the request, response, etc types into separate files and re-export them from `lib.rs` to keep the `lib.rs` tidy.  It might also make sense to split up the `on_disk` m

[2020-09-01 21:10] yaahc opened #985 "Spurious Test Failure: batch_flushes_on_max_latency"
**Description**

It looks like the above test failed spuriously in CI when generating coverage here: https://github.com/ZcashFoundation/zebra/runs/1058412290?check_suite_focus=true

We should act pretty aggressively to address spurious failures imo. In this case it might be as simple as increasing a timeout to accommodate worst case latencies in CI, baring that I think we should disable this test

[2020-09-01 21:28] #960 closed, assigned to nobody

[2020-09-01 21:33] #622 closed, assigned to yaahc

[2020-09-01 21:38] #180 closed, assigned to hdevalence, yaahc

[2020-09-01 23:40] teor2345 commented on #918
@hdevalence, I'd like to suggest a different change for `is_time_valid_at`:

`is_time_valid_at` is used as a consensus rule, and in one particular test, but that particular test doesn't rely on generate:
https://github.com/ZcashFoundation/zebra/blob/8539302ad8a874747cd11a3bb3f73134c53ed995/zebra-consensus/src/block.rs#L110
https://github.com/ZcashFoundation/zebra/blob/8e15c16b425aa5dfe751be726bfa6

[2020-09-01 23:42] hdevalence commented on #918
Cool, that sounds like a better plan!

[2020-09-01 23:50] teor2345 commented on #918
I have updated the issue description.

[2020-09-01 23:52] teor2345 commented on #985
In my experience, heavily loaded CI builders can take 5-10 seconds longer than expected to get enough CPU time to make progress.

So let's change the test timeout to at least 5 seconds?
https://github.com/ZcashFoundation/zebra/blob/ad0001f7f7a1a35030cd6c5e6036ec9d27c4ebe6/tower-batch/tests/ed25519.rs#L149

[2020-09-02 07:18] teor2345 opened #995 "Add a metrics and tracing listener test to the zebrad acceptance tests"
**Is your feature request related to a problem? Please describe.**

`zebrad`'s acceptance tests don't open metrics and tracing listeners by default.

We should test those code paths.

**Describe the solution you'd like**

Add a separate test to `zebrad/tests/acceptance.rs` which runs `zebrad start` with metrics and tracing listeners on `127.0.0.1:0`. (A zero port means "pick any available port.)

[2020-09-02 18:29] hdevalence opened #999 "Inventory advertisements are not filtered correctly"
**Version**

Git `main` branch.

**Platform**

All.

**Description**

The inventory advertisement tracking implemented in #963 won't correctly catch all inventory advertisements in practice. Now that Zebra requests transaction relay (#982), we can see transaction advertisements in tracing output:
[code]

This advertises two transactions at once, so it will be ignored by our filter logic (described

[2020-09-02 18:30] hdevalence commented on #999
cc @yaahc

[2020-09-02 19:12] hdevalence commented on #995
I think it could be good if we also tested that changing the tracing filter via the tracing RPC endpoint actually works -- right now, there was a regression in handling the application read/write locks that prevents the endpoint from ever reloading the filter (#1001), and this wasn't caught by any tests because it wasn't tested.  This could either be done together with this issue or as a follow-on

[2020-09-02 19:18] hdevalence opened #1001 "Broken tracing endpoint"
**Version**

Git `main`

**Platform**

All

**Description**

The tracing endpoint is broken and no longer allows reloading the tracing filter.  Reloading is processed here:

https://github.com/ZcashFoundation/zebra/blob/main/zebrad/src/components/tracing/endpoint.rs#L107-L112

Inserting tracing calls before and after reveals that that expression never resolves.  Shutting down the application cause

[2020-09-03 00:43] dconnolly opened #1003 "Sync failing to find new tips indefinitely"
**Version**

git #main since approximately 96c88093482bc1a2b3437f5239dd9036c647a21c

**Platform**
all

**Description**
During normal `zebrad start` runs inside our Docker containers, eventually the sync will stall out with `zebrad::commands::start::sync: failed to obtain tips, waiting to restart sync`:
![image](https://user-images.githubusercontent.com/552961/92054826-29a9f600-ed5c-11ea-82bc-41b23

[2020-09-03 01:35] teor2345 opened #1004 "Basic Integration Testing RFC"
We want to make sure that `zebrad start` works well after every merge to the `main` branch.

But at the moment, we aren't consistently testing `zebrad`'s network behaviour.

We don't want to write a network integration test framework yet (#466), but some basic tests would be useful.

**Describe the solution you'd like**

I want to write up a small RFC that describes:
* the scope of basic network i

[2020-09-03 20:13] #943 closed, assigned to nobody

[2020-09-03 20:13] #976 closed, assigned to nobody

[2020-09-03 21:18] teor2345 commented on #948
We decided not to do this - the remaining work is testing optional listeners on IP addresses in #995.

[2020-09-03 21:18] #948 closed, assigned to oxarbitrage

[2020-09-04 00:19] dconnolly opened #1005 "zebrad will not pick up zebrad.toml from same directory"
**Version**

Introduced in  #946

**Description**
Our docker images that run zebrad nodes assume that just placing the config in the same dir will pick it up, this is no longer true. Since we use the tracing endpoint as a healthcheck endpoint, our deployments are marked as unhealthy.

[2020-09-04 00:29] #306 closed, assigned to yaahc

[2020-09-04 02:36] yaahc commented on #1005
Worth noting that this change was intentional and requested in https://github.com/ZcashFoundation/zebra/issues/976.

[2020-09-04 04:09] dconnolly commented on #1005
Yeah it's a bug that we didn't update our docker image, not really a bug in zebrad

[2020-09-04 05:02] #1005 closed, assigned to dconnolly

[2020-09-04 10:01] teor2345 opened #1011 "Re-enable the BlockVerifier continuous_blockchain_test"
To handle out of order blocks, we decided to implement a temporary out-of-order block cache in the state service, and disable some of the affected tests.

We need to re-enable these tests, once we have implemented the features they depend on.

## TODO
- [ ] Re-enable `zebra_consensus::chain::tests::continuous_blockchain_test`, which depends on contextual verification of post-Sapling blocks (after

[2020-09-04 22:40] #968 closed, assigned to nobody

[2020-09-07 01:21] teor2345 opened #1019 "Add Unix socket support to Stolon"
**Is your feature request related to a problem? Please describe.**

In the Stolon design RFC (#1006), transactions spread anonymously through the Zcash network using Tor via a SOCKS port.

Tor also supports Unix sockets, which have a number of advantages:
* Unix sockets are the easiest way to use the iOS Tor.framework: https://github.com/iCepa/Tor.framework#usage
* Ports can be accessed by any loc

[2020-09-07 22:04] teor2345 opened #1021 "Combine proptests and transcripts to perform top-level integration tests"
**Is your feature request related to a problem? Please describe.**

In #918, we wanted to move the block time check tests to zebra-consensus, but they depend on zebra-chain::generate.

  - detailed explanation:
    - `is_time_valid_at` is also used in test code, specifically `chain/src/block/tests/vectors.rs`.
    - These tests should be moved into the consensus crate.
    - Some of the tests can'

[2020-09-08 00:05] #995 closed, assigned to nobody

[2020-09-08 05:26] dconnolly opened #1023 "Implement proper `zebrad` health check endpoint"
## Motivation

We currently expose and leverage the tracing configuration endpoint as our health check when we deploy our Docker images to gcloud, hitting it with a GET and expecting a 200 with certain latency params to consider the `zebrad start` process healthy. This endpoint is unauthenticated, so exposing it is also leaving open a pathway that changes how we log tracing data, to the world.

In

[2020-09-08 07:00] teor2345 opened #1024 "Make the state service return an empty block locator if the state is empty"
We want to simplify the state service block locator interface, by removing the genesis hash special case.

This special case isn't actually used by the sync service, because it downloads the genesis block without a block locator.

Original comment:
https://github.com/ZcashFoundation/zebra/pull/902#discussion_r484647276_

TODO:
- [ ]  If the state is empty, return an empty block locator

[2020-09-08 07:05] teor2345 commented on #1011
@hdevalence, @yaahc I think the changes in https://github.com/ZcashFoundation/zebra/pull/902#issuecomment-688616536 mainly affect this ticket, rather than PR #1012

#1012 changes the verifiers so they stop trying to handle out of order blocks themselves. This ticket makes the state handle those out of order blocks.

[2020-09-08 07:35] teor2345 commented on #1023
Sounds good!

Just a few questions and comments:

What metadata would be useful?
How much metadata should go in health check, rather than metrics?
How should we decide?

I think that endpoint has some locking bugs right now, see #1001. So we might not want to duplicate it. (Or we might find interesting bugs when we duplicate it.)

Let's also make a copy of the tracing endpoint acceptance test?
We

[2020-09-08 08:59] teor2345 opened #1025 "Refactor and test state request usage based on the state design RFC"
**Describe the solution you'd like**

In #902, we created a design for the state service. This design includes a new interface for the state service.

We should modify the interface of the state service to match the design, and write test transcripts for each state request/response variant.

We should review all of the state service's callers, to make sure they are using the most efficient request

[2020-09-08 10:02] teor2345 commented on #1024
Edit: let's do it like the sync service, and just store the genesis hash

[2020-09-08 16:53] hdevalence opened #1026 "Consider tuning Sled's `cache_capacity` knob after we change database structure."
**Is your feature request related to a problem? Please describe.**

Currently Zebra uses a large amount of memory in normal operation.  This is probably related to bad data layout choices in our current stub code, as described in this commit message: https://github.com/ZcashFoundation/zebra/commit/6b8a5d7bf488e217da7353f7ff4012f0a0e94491

It's fine that this data layout is bad, because it's stub c

[2020-09-08 17:16] yaahc opened #1027 "use exhaustive match statement in `peer/connection.rs`"
based on a comment in code review

---

do we want to try to find a way to get exhaustive matching here?

_Originally posted by @yaahc in https://github.com/ZcashFoundation/zebra/pull/1016#discussion_r483852626_

[2020-09-08 17:26] hdevalence commented on #1027
The relevant part of `connection.rs` is in `handle_message_as_request`, which is responsible for interpreting a Bitcoin message as a `Request` from a remote peer, then passing it to our inbound network service.

Ideally, this function should be handled as a single `match` statement, where each match arm is independent of the others and handles exactly one pattern.  This can make the code superfici

[2020-09-08 19:37] #999 closed, assigned to yaahc

[2020-09-08 19:47] hdevalence commented on #1024
Another alternative would be to return nothing at all -- do we need to include the genesis hash in the response?

[2020-09-08 19:49] hdevalence commented on #1024
Currently the sync component stores the genesis hash and uses it to pre-populate a block locator object in case the state is empty.  But if we made the state return an empty block locator when the state is empty, we could keep the existing special-case code in the sync component for downloading the genesis block, and then proceed as normal.   Then we wouldn't have to special case loading anything

[2020-09-08 20:05] hdevalence commented on #1023
Does the health check have to be unauthenticated, or does that just make it more convenient?

Would we want the health check to be a standalone endpoint, or part of a more general RPC endpoint?  We haven't made any decisions about what kind of RPC we want to support for chain data, and there are choices about whether and to what extent we want to be compatible with Zcashd.

But it seems likely tha

[2020-09-08 20:48] hdevalence commented on #1011
I don't think we want a single queue, because the two queues are used in different places and contain disjoint data.  Two queues would be a better fit.

[2020-09-08 20:55] dconnolly commented on #1023
For the health check that monitors whether the instances in our instance groups are healthy, it has to be unauthenticated.

For a health check like this, it really should be standalone. It should be bare-bones, not parsing queries, very simple. It's to answer "is the application alive?" or not, and that's about it. If we want to do more 'Node RPC' stuff, that's a different ball of wax.

It's not p

[2020-09-08 21:23] hdevalence opened #1029 "Create error enums in zebra-consensus."
**Is your feature request related to a problem? Please describe.**

`zebra-consensus` handles verification of blocks and transactions.  This means that it needs to report errors on verification failures.

**Describe the solution you'd like**

Rather than building ad-hoc errors with string descriptions, `zebra-consensus` could have `BlockError` and `TransactionError` enums, whose variants exhaustiv

[2020-09-08 21:45] hdevalence opened #1030 "Refactor Zebrad functionality into logical components"
**Is your feature request related to a problem? Please describe.**

Zebrad's functionality is organized somewhat haphazardly.  Originally, we planned to organize things using Abscissa components, but we ran into two main problems:

1.  Abscissa's dependency injection system can't atomically inject dependencies.  If component `A` depends on components `B` and `C`, dependency injection doesn't provi

[2020-09-08 21:47] hdevalence commented on #1023
The locking bugs for the endpoint are caused by trying to access Abscissa state.  So if the health check endpoint doesn't access that state, it should be fine.

[2020-09-08 21:49] dconnolly commented on #1023
Yeah fairly certain we don't need that, at least for this.

[2020-09-08 21:51] hdevalence commented on #1001
I'm not sure what the cause of the locking issue is, but it may be related to the way that we enter the async world.  The sync/async transition is a major pain point with Abscissa.   To avoid the problem entirely, we could change the ownership somewhat.

Currently, the `Tracing` component owns the filter handle and provides methods to access it.  After it is constructed, these methods are only eve

[2020-09-08 21:53] hdevalence commented on #1023
Per #1030 we may want to move from Abscissa components to just "components" that are started up by the `start` command's main future.  In that case, it wouldn't be necessary to deal with Abscissa, just producing some function that constructs a server task would work.

[2020-09-08 22:12] hdevalence opened #1031 "Reverse displayed endianness of transaction and block hashes."
**Is your feature request related to a problem? Please describe.**

Zcashd, for bad legacy reasons, displays block and transaction hashes as the hex-encoding of the *reversal* of the byte string.  This is solely a display choice.  Hashes are parsed as byte sequences as normal, but displayed differently.  Why? They are displayed as if the hex output (a byte string) were actually encoding of an inte

[2020-09-08 22:13] hdevalence commented on #975
This is going to be a large change, and it will block and be blocked on any other changes to the state system.  We should make sure to do it **before** starting implementation work on #902, because it will be much more work to do afterwards. (cc @ZcashFoundation/zebra-team )

[2020-09-08 23:19] teor2345 commented on #1031
I added some extra tasks:
* reverse the hard-coded checkpoint hashes
* stop using revhex in the log filter scripts
* compile in test mode, so you find hash literals in the tests

[2020-09-08 23:30] teor2345 commented on #1003
Do we know if #1022 fixed this issue?

I think all our sync PRs have merged now.

[2020-09-08 23:50] yaahc commented on #1023
down with dependency injection! sized the means of future production!

[2020-09-09 00:22] teor2345 opened #1034 "Remove "TODO: Error=Report" and similar comments"
We are currently using the `Report` error type where it is supported.

The remaining error types need to be `Clone`, because they are sent through a `Buffer` or `Batch` service wrapper.

So we can remove the remaining TODO comments.

For details, see https://github.com/ZcashFoundation/zebra/pull/1012#discussion_r485170342

[2020-09-09 00:24] teor2345 commented on #1034
Currently blocked by #1012 and possibly #1009.

[2020-09-09 02:24] teor2345 opened #1036 "Proof of Work / Difficulty Design RFC"
## Motivation

We need a design for contextual validation of the proof of work difficulty threshold.

## Solution

The RFC should focus on Synchronous Difficulty Validation, and summarise the Difficulty Validation Service Request in enough detail to justify the relevant design decisions.

## Synchronous Difficulty Validation - First Alpha

A synchronous contextual verifier that takes a **block hea

[2020-09-09 02:48] #918 closed, assigned to nobody

[2020-09-09 03:11] teor2345 commented on #1024
Yeah I think that's simpler, I'll update the ticket.

[2020-09-09 06:22] teor2345 opened #1037 "Cancel download and verify tasks if the sync service has dropped the channel"
**Version**

zebrad main branch, around 2020-09-09.

**Platform**

All.

**Description**

When the sync service encounters an error, it drops the futures for the download and verify tasks that it has spawned. But those tasks continue executing in the background.

I tried this:

Running a `zebrad sync` for 30+ minutes, on mainnet or testnet.

I expected to see this happen:

The sync service recover

[2020-09-09 21:17] dconnolly commented on #36
The 'design' part of this is basically contained in #983

[2020-09-09 21:19] dconnolly commented on #289
This is mostly going to maintained in our state layer: #902

[2020-09-09 22:38] #969 closed, assigned to teor2345

[2020-09-09 22:39] hdevalence commented on #1003
I was able to reproduce before but not after, and the problem was noticed right after merging the part of the code #1022 changed. So I assume that that this is fixed.

[2020-09-09 22:39] #1003 closed, assigned to nobody

[2020-09-10 19:11] yaahc commented on #1034
To be precise, the remaining error types don't need to be clone, they just need to be `Into<Box<dyn Error + ...>>` because tower-buffer and tower-batch rely on the `Error` interface + `Arc` to make existing errors clonable at the cost of mutability. The goal before was to replace `Box<dyn Error>` with `Report` but `Report` needs to be mutable to have extra context added to reports as its propagate

[2020-09-10 19:40] hdevalence commented on #1034
It seems simplest to use `type BoxError = Box<dyn std::error::Error + Send + Sync + 'static>` for `Service` implementations, because it's the same error type produced by other `tower` middleware and it works well with generic bounds.

[2020-09-10 23:26] hdevalence commented on #1030
This is a prerequisite for #889.

[2020-09-10 23:37] teor2345 commented on #807
This issue was fixed by #920 and related PRs.

[2020-09-10 23:37] #807 closed, assigned to nobody

[2020-09-10 23:39] teor2345 commented on #683
We've added the testnet blocks, but we still need to use them in more tests.

[2020-09-10 23:40] teor2345 commented on #667
I think our workarounds are good enough here - I'm not sure we need to send logs to stderr any time soon.

[2020-09-10 23:49] hdevalence opened #1048 "Test translation for zebra-network::{Request, Response} protocol"
**Is your feature request related to a problem? Please describe.**

We need to complete the translation layer between Bitcoin messages and `zebra_network::{Request, Response}` pairs.

**Describe the solution you'd like**

- [x] Each `Message` variant should generate a `zebra_network::Request`, or be explicitly ignored.  Each `zebra_network::Response` variant should generate a `Message`, or in the

[2020-09-10 23:53] hdevalence commented on #1026
#1043 seems to cut memory use from 5-6 GB to 1-2 GB.

[2020-09-10 23:54] teor2345 commented on #667
In fact, we're about to remove the revhex command in #1031, and we have acceptance tests that make sure that the generate stdout is parseable. (And doesn't contain logs.)

So I don't think we need to do this at all.

[2020-09-10 23:54] #667 closed, assigned to nobody

[2020-09-10 23:58] yaahc opened #1049 "Tracking: State Update RFC Implementation"
This is the tracking issue for the state update rfc that outlines how state updates are handled, in particular multiple chain handling, reorgs, and finalization of blocks, and how finalized vs un-finalized blocks are handled.

- RFC: https://github.com/ZcashFoundation/zebra/blob/main/book/src/dev/rfcs/0005-state-updates.md

### Tracking TODOs

- [x] Make a list of finalized state implementation ta

[2020-09-11 19:31] hdevalence commented on #1031
I don't think that it's necessary to reverse the hard-coded checkpoint hashes, because they can just be regenerated from `zebra-checkpoints`.

[2020-09-11 20:37] #975 closed, assigned to yaahc

[2020-09-11 20:38] hdevalence opened #1052 "Test out of order CommitFinalizedBlock"
_Originally posted by @hdevalence in https://github.com/ZcashFoundation/zebra/pull/1043#issuecomment-691288566_

TODO:
- [ ] test out of order CommitFinalizedBlock: https://github.com/ZcashFoundation/zebra/pull/1043#discussion_r486726985

We could implement this test by randomising the block order in the continuous blockchain tests.

[2020-09-12 13:32] oxarbitrage opened #1054 "Implement Sub for Height type"
https://github.com/ZcashFoundation/zebra/pull/1051#discussion_r487272645

[2020-09-12 16:43] hdevalence opened #1055 "Impl `Add, Sub` for `block::Height`"
**Is your feature request related to a problem? Please describe.**

It would be nice to be able to add and subtract block heights.  However, block heights themselves are *heights*, so adding and subtracting heights doesn't give a new height, it gives a *difference* between heights: block heights are a [torsor](https://math.ucr.edu/home/baez/torsors.html).  The ops impls we add should reflect this.

[2020-09-12 16:45] hdevalence commented on #1054
--> #1055  (https://github.com/ZcashFoundation/zebra/pull/1051#discussion_r487426998)

[2020-09-12 16:45] #1054 closed, assigned to nobody

[2020-09-12 21:26] oxarbitrage commented on #1055
Will be working on this one.

[2020-09-13 03:38] vramana commented on #881
Where are these function comments? I couldn't find them.

[2020-09-14 07:39] nathan-at-least commented on #922
Hello, glad to see this issue!

I had one question after skimming over [the RFC 0000 template](https://github.com/ZcashFoundation/zebra/blob/stolon/book/src/dev/rfcs/0000-template.md) and not seeing it addressed there:

- How does the scope of Zebra RFC relate to [Zcash ZIPs](https://zips.z.cash/)?
- How does the process and collaboration of Zebra RFC relate to ZIPs?

I started wondering about thi

[2020-09-14 10:33] daira commented on #922
I propose to reserve ZIP numbers 600-999 to correspond to Zebra RFCs 0000-0399. That is, any ZIP that is basically a copy of an RFC, and is potentially implemention-specific, will have that number mapping. Note that ZIP numbers 400-599 are already reserved for implementation-specific ZIPs.

[2020-09-14 18:51] yaahc commented on #922
This is just my take and not the opinion of the entire Zebra team but my preference would be that Zebra RFCs are an internal process used by our team for design discussions and documentation and are specific to zebra the software rather than zcash the protocol. The reason we introduced the RFC process was primarily to help with coordinating discussions in an almost entirely async working environme

[2020-09-14 18:58] yaahc commented on #1055
I'm assuming all the `i32`'s in these signatures are meant to represent the diffs, my preference would be to create a `HeightDiff` newtype to make this more clear.

[2020-09-14 19:02] dconnolly commented on #922
That is, outside of Zebra the software project. Discussions and proposals about Zcash the protocol are the domain of ZIPs which do have 'official weight' as moderated by the ZIP editors, etc.

One could replace all instances of the name 'RFC' with 'design document' here, as that name is entirely copy-pasted from the Rust process of the same name. We are not 'requesting comments' from anyone except

[2020-09-15 00:12] daira commented on #922
Right, but I think part of the confusion is that some Zebra RFCs, such as the Stolon RFC for example, are definitely describing protocols that other clients might want to interoperate with.