[2020-09-15 01:24] nathan-at-least commented on #922
I understand that Zebra RFCs are a format+process focused on Zebra design & development, and so I expect for most RFCs this issue won't ever come up.

I still think it's likely to come up in some cases. The case study of Stolon is useful here:

- as it matures and becomes adopted across codebases, we'll want `zcashd` and various light wallets and so forth to follow that protocol (esp. because wher

[2020-09-15 01:36] dconnolly commented on #922
If we deploy Stolon and by our experiments with it think it is worth proposing as a ZIP, we will do so. In such a ZIP, we will point to code and whatever other documents about the Stolon design and experiments that are useful to inform and motivate the ZIP, which may or may not include the Zebra RFC.

But Zebra RFCs are specific to Zebra. We do not want to encode things about our project-specific

[2020-09-15 09:37] daira commented on #922
Ok, understood.

[2020-09-16 00:53] teor2345 commented on #881
We changed the name of the type to `RootHash` and the function to `root_hash`, but forgot to update this ticket:
* `Block::root_hash`: https://github.com/ZcashFoundation/zebra/blob/main/zebra-chain/src/block.rs#L58
* `RootHash`: https://github.com/ZcashFoundation/zebra/blob/main/zebra-chain/src/block/root_hash.rs

I've updated the ticket, and I'll update the code comments with a quick PR.

[2020-09-16 01:29] teor2345 commented on #755
Related: #1063 - Release process RFC.

@dconnolly is there anything in this issue that should be added to the RFC?

[2020-09-16 02:00] teor2345 commented on #453
Un-checked zebra-consensus, because we stopped requiring docs in #1043.

[2020-09-16 22:11] oxarbitrage commented on #1029
Will try to make some progress on this one in the next day(s).

[2020-09-17 02:04] hdevalence commented on #1049
To check that `Chain` operations are implemented correctly, I think that we should use the following proptests:

1.  For any sequence of `n+m` blocks, check that the following give the same chain:
    1. using `push` to build a chain of all `n+m` blocks and then calling `fork` to remove the top `m` blocks;
    2. using `push` to build a chain of the first `n` blocks;

2. For any sequence of `n+m`

[2020-09-17 20:07] hdevalence commented on #1019
If I understand correctly, the benefits of this change are that on existing platforms (Unix), we'd get better security, and it would allow us to more easily support a new platform (iOS).

In the Unix case, I'm a little unclear on how much of a security improvement we'd get by allowing file permissions for the SOCKS port.  What kind of risks are there to sharing the SOCKS listener with other applic

[2020-09-17 20:13] hdevalence commented on #1019
Another potential complication is that the existing networking code assumes that peer connections are made over TCP, not over Unix sockets.  So to support this change, in addition to adding support to the `tokio-socks` library and changing the `stolon` API, I think we'd also need to change an unknown amount of the existing network code to allow `UnixStream`s.

Probably the way to do this would be

[2020-09-17 20:30] hdevalence opened #1071 "Create an inbound network service component"
**Is your feature request related to a problem? Please describe.**

The `zebra_network::init` function takes a generic `Service` that it uses to serve requests from peers.  Currently, this is instantiated with a no-op service that ignores all peer messages.

**Describe the solution you'd like**

Provide a new `zebrad` component (i.e., a submodule of `components` organizing the code, not an Absciss

[2020-09-17 22:53] teor2345 commented on #1021
Removing the volunteer tags from this issue, until it is unblocked.

[2020-09-17 22:56] teor2345 commented on #1019
This isn't a high priority for us right now - and it's a lot of work.

There is a security benefit - we prevent local processes from exfiltrating data over the SOCKSPort.

[2020-09-17 22:58] teor2345 commented on #805
We should probably get someone in the team to do this.

[2020-09-17 22:59] teor2345 commented on #730
We need to update the design and add mentorship notes before a volunteer can pick this work up.

[2020-09-17 23:48] #1055 closed, assigned to oxarbitrage

[2020-09-18 02:23] yaahc opened #1073 "Add doctest based on RFC5 guide section to `zebra_state`'s top level doc comment"
Ooh we should make this into a doctest in the state docs

_Originally posted by @teor2345 in https://github.com/ZcashFoundation/zebra/pull/902#r489803141_

[2020-09-19 01:34] #1071 closed, assigned to hdevalence

[2020-09-20 17:28] hdevalence opened #1077 "Send inbound `TransactionsById` requests to the mempool storage service"
**Is your feature request related to a problem? Please describe.**

The `zebra_network::Request::TransactionsById` variant should be handled by the inbound network service.

**Describe the solution you'd like**

- [ ] This page on the Bitcoin wiki https://en.bitcoin.it/wiki/Protocol_documentation#getdata suggests that transaction lookup is only allowed for mempool transactions, to prevent reliance

[2020-09-20 17:36] hdevalence opened #1078 "Handle `FindBlocks` in the Inbound service"
**Is your feature request related to a problem? Please describe.**

The inbound network service should handle `FindBlocks` requests correctly.

**Describe the solution you'd like**

- [ ] Compute the intersection between the chain specified in the request and the chain in the state service;
- [ ] Query the state service for up to 500 following hashes;
- [ ] Truncate those hashes at `stop`, if `sto

[2020-09-20 17:44] hdevalence opened #1079 "Handle `FindHeaders` in the Inbound service"
**Is your feature request related to a problem? Please describe.**

The inbound network service should handle `FindHeaders` requests correctly.

**Describe the solution you'd like**

- [x] Compute the intersection between the chain specified in the request and the chain in the state service;
- [x] Query the state service for up to 160 following hashes;
- [x] Truncate those hashes at `stop`, if `st

[2020-09-20 17:49] hdevalence opened #1080 "Send inbound `PushTransaction`s broadcasts to the mempool download and verify stream"
**Is your feature request related to a problem? Please describe.**

The inbound network service should handle `PushTransaction` requests correctly.

This implements handling an unsolicited [`tx`](https://developer.bitcoin.org/reference/p2p_networking.html#tx) message from a remote peer, when a transaction is added to that peer's mempool.

**Describe the solution you'd like**

Send transactions fro

[2020-09-20 17:51] hdevalence opened #1081 "Send inbound `AdvertiseTransactionIds` broadcasts to the mempool download & verify stream"
**Is your feature request related to a problem? Please describe.**

The inbound network service should handle `AdvertiseTransactionIds` requests correctly.

**Describe the solution you'd like**

We need to send advertised transaction IDs to the mempool download and verify service.

**Additional context**

Part of #889.

[2020-09-20 18:01] hdevalence opened #1082 "Handle `AdvertiseBlock` in Inbound service"
**Is your feature request related to a problem? Please describe.**

The inbound network service should handle `AdvertiseBlock` messages.

**Describe the solution you'd like**

- [ ] Clone handles for the outbound network and the chain verifier to be moved into the response future;
- [ ] Download and verify the advertised block;

**Describe alternatives you've considered**

The procedure above expo

[2020-09-20 18:05] hdevalence opened #1083 "Send inbound `MempoolTransactionIds` requests to the mempool storage service"
**Is your feature request related to a problem? Please describe.**

The inbound network service should handle `MempoolTransactionIds` requests correctly.

**Describe the solution you'd like**

Query mempool storage for accepted transactions, and return those `UnminedTxId`s.

**Additional context**

Part of #889.

https://developer.bitcoin.org/reference/p2p_networking.html#mempool

[2020-09-20 18:26] hdevalence commented on #1082
On a little further reflection, the request processing design we use helps us a little bit with DoS resistance.

How? Well, recall that each peer connection is handled in a separate task.  This task waits for messages to arrive, tries to interpret them as a response to a previous outbound request, or otherwise tries to interpret them as a new inbound request.  It then sends that request to the inb

[2020-09-21 04:22] nathan-at-least commented on #922
+1 for minimal entanglement. Thanks for humoring me and hope this wasn't too much noise.

[2020-09-21 04:36] teor2345 commented on #922
No worries at all - it's good to be upfront about how different processes interact.

Otherwise, if we all make different assumptions, it could lead to a lot of confusion.

[2020-09-21 18:54] #1029 closed, assigned to oxarbitrage

[2020-09-21 21:19] hdevalence opened #1086 "Remove git dependencies on Hyper, Metrics, Tower"
### Is your feature request related to a problem?

We moved to a git dependency on:
* Tower in #1085
* Hyper and Metrics in #1330
* ed25519-zebra in #1952

### Describe the solution you'd like

#### Tokio 1.0 and dependencies

- [ ] upgrade to Tokio 1.0 (#2200)
    - refactor to use tokio-stream, see [teor's partial branch](https://github.com/teor2345/zebra/tree/upgrade-tokio-1.0-partial)
    - up

[2020-09-22 01:02] teor2345 opened #1088 "Tracking: Encouraging Community Contributions"
We want people to be able to contribute code and documentation to Zebra. We also want people to feel confident reporting bugs, requesting features, and participating in project discussions.

Here are some things we can do to create a productive environment:

GitHub community checklist
- [x] Add a Code of Conduct - #1097
- [x] Enable Content Reports on GitHub (these reports go to admins)
- [x] Add

[2020-09-23 20:56] oxarbitrage opened #1091 "Network upgrade test blocks"
It will be useful to have encoded block vectors for all the network upgrades so we can unit test the consensus changes for each. Related to https://github.com/ZcashFoundation/zebra/pull/1051

Ideally we should add 3 blocks per upgrade: NU-1, NU, and NU+1 for every network upgrade for mainnet and testnet.

This are the commands needed to be executed in a synchronized zcashd for blossom testnet(acti

[2020-09-23 21:03] teor2345 commented on #1091
I'd also like to have lists of Mainnet / Testnet blocks, and maybe blocks for each network upgrade, and all blocks.

[2020-09-23 22:25] teor2345 commented on #801
Updated to add transaction fees, and correct the network upgrades for each check.

[2020-09-24 13:45] teor2345 commented on #1091
I just went with the list of all blocks, we can make more specific lists if we need them.

[2020-09-24 22:35] zebambam commented on #1088
Hey! We'd love to add you to our RD list here: https://github.com/zcash/zcash/blob/master/responsible_disclosure.md and I can recommend the standard we participated in, it's been useful for us so far. It doesn't talk much about accepting bugs from anywhere, but it does talk about sharing them with other projects with common code or features.

[2020-09-25 06:09] teor2345 opened #1099 "Add Mainnet Canopy Block Test Vectors"
In #1091, we added block test vectors for each network upgrade transition.

The next network upgrade is Canopy on Mainnet. We want to add Mainnet Canopy test vectors after Canopy activates - around **18 November 2020**. This is also the first Mainnet block subsidy halving.

Preconditions:
- [x] Canopy has activated on Mainnet (around 18 November 2020)
- [x] Mainnet is past the block reorg limit fo

[2020-09-28 02:09] teor2345 commented on #1088
Thanks, @zebambam - we're just talking about this internally at the moment.

For the few months, we'll be focused on getting the first Zebra alpha release out. So it might take us a little while to make decisions about post-release processes.

[2020-09-28 02:42] #1091 closed, assigned to teor2345

[2020-09-28 22:45] teor2345 opened #1104 "Add Testnet Post-Halving Block Test Vectors"
In #1091, we added block test vectors for each network upgrade transition.

The Testnet block subsidy halves on Testnet at block 1_116_000. We want to add post-halving Testnet test vectors around **13 October 2020**, after the first halving. (The first Mainnet halving is at Canopy activation, so it is covered by #1099.)

Preconditions:
- [x] The block subsidy has halved on Testnet (around 13 Octob

[2020-09-29 02:53] teor2345 commented on #680
Closed by the state RFC in #902.

[2020-09-29 02:53] #680 closed, assigned to yaahc, teor2345

[2020-09-29 03:02] teor2345 commented on #467
@dconnolly does this belong in the "Transaction Validation" milestone?

[2020-09-29 03:03] teor2345 commented on #345
@dconnolly does this belong in the "Transaction Validation" milestone?

[2020-09-29 03:03] teor2345 commented on #331
@dconnolly does this belong in the "Transaction Validation" milestone?

[2020-09-29 03:04] teor2345 commented on #269
@dconnolly does this belong in the "Wallet Support" milestone, or the "Transaction Validation" milestone?

[2020-09-29 03:05] teor2345 commented on #181
@dconnolly does this belong in the "Transaction Validation" milestone, or the "Wallet Support" milestone?

[2020-09-29 03:10] dconnolly commented on #467
eeeeh it was a dependency bump, but not strictly required for the milestone

[2020-09-29 07:29] teor2345 opened #1107 "Move transaction test vectors into their own files"
In #1091, we refactored the `zebra-test` block vectors into their own sub-module, and moved the data into separate files.

It would be good to do the same refactor with:
- [ ] the mainnet, testnet, and v1-v4 transaction test vectors
- [ ] the ZIP-244 v5 transaction test vectors
- [ ] any other test vectors in `zebra-test`

Refactor:
- [ ] refactor transaction test vectors into their own sub-module

[2020-09-30 23:07] yaahc opened #1112 "Speedup proptests for `Chain` struct in `zebra-state`"
**Is your feature request related to a problem? Please describe.**

Right now the proptest Arbitrary impls we use to generate arbitrary chains for testing the `Chain` type are particularly slow. To work around this we currently only run one iteration of the proptest, but this clearly defeats the purpose of proptesting, so right now we essentially just have a couple of unit tests.

**Describe the s

[2020-10-01 02:14] dconnolly commented on #269
Wallet support, otherwise we can't send money properly

[2020-10-01 02:14] dconnolly commented on #181
Wallet support

[2020-10-01 03:35] dconnolly commented on #331
This is only for sending money to Sprout, and as of  [ZIP-211](https://zips.z.cash/zip-0211), we shouldn't be doing that anymore. 🎉

[2020-10-01 03:38] #331 closed, assigned to dconnolly

[2020-10-01 05:57] teor2345 opened #1113 "Support the large block heights required by the spec"
## Motivation

Zebra limits block heights to 500,000,000 based on the transaction lock time consensus rule. But Zcash has a consensus rule requiring support for larger heights.

Zebra has code that adds `1` to the block height, and panics if the result is over the maximum. So these panics could be triggered by malicious nodes that send fake blocks at the maximum height. But this issue also happens

[2020-10-01 05:58] teor2345 commented on #1113
I'm going to put this in the first stable release milestone, because it will change our interfaces - so it would be good to make a decision about it before stable.

[2020-10-01 17:17] hdevalence commented on #1113
Previous discussion: https://github.com/ZcashFoundation/zebra/issues/751#issuecomment-663689350

[2020-10-01 20:29] yaahc commented on #1113
Building on this

The other benefit that came up in the recent review was not needing to always handle the case where the height could be invalid when working with heights. I think we might be able to constrain the need for those checks to just the extra ops traits on `Height` so it's probably fine either way but I'd like to try it out. I don't think the conversion issue will be as burdensome as w

[2020-10-01 23:18] dconnolly commented on #277
We might not need to do this at all post Canopy

[2020-10-02 00:09] gmale commented on #1019
@teor2345 how does this relate to Android? Is there an Android equivalent to the iOS Tor.framework? Does it similarly rely on Unix Sockets?

Context:
I'm trying to assess the feasibility of using Stolon and/or Tor on mobile, particularly in conjunction with gRPC. It seems like direct use of Tor from a mobile application is still not quite viable.

[2020-10-02 00:47] teor2345 commented on #1019
@gmale using Tor on iOS and Android is a bit different to the desktop, but it works fine.

Here are some example Tor mobile apps:
* OnionBrowser on iOS, using Tor.framework: https://onionbrowser.com/
* Tor Browser for Android: https://www.torproject.org/download/#android
* Orbot on Android, which lets other Android apps use Tor: https://guardianproject.info/apps/orbot/

Tor Browser for Android ori

[2020-10-02 09:00] gmale commented on #1019
Thanks @teor2345 for pointing me to those useful links. I pulled down the source for orbot and there's a lot there. Ideally, a wallet wouldn't have to rely on the existence of another app on the device and I assume that's at least part of the reason why Tor Browser switched approaches. So I dug around all the Tor open source projects and found a [Tor service](https://gitweb.torproject.org/tor-andr

[2020-10-02 10:26] teor2345 commented on #1019
@gmale have a [chat to The Guardian Project](https://guardianproject.info/contact/) about Tor mobile integration.
Maybe @n8fr8 can point you to the right person or channel?

They are the experts here. I mainly worked on the generic Tor binary/library, rather than integrating it in specific environments.

[2020-10-02 10:30] teor2345 commented on #1019
(Tor can act as a SOCKS or HTTP proxy, so if your gRPC library supports proxy settings, it should be pretty easy to set up.)

[2020-10-02 11:58] n8fr8 commented on #1019
Tor Onion Proxy Library is an option:
https://github.com/thaliproject/Tor_Onion_Proxy_Library

Otherwise, there is also our Tor-Android library, which is the Tor binary and some very simple code to configure and start it up:
https://github.com/guardianproject/tor-android

Lastly, you can ask the user to just install Orbot, and if it is available, proxy through the Tor socks/http ports it provides

[2020-10-06 03:43] #286 closed, assigned to dconnolly

[2020-10-06 03:43] #36 closed, assigned to dconnolly

[2020-10-06 20:17] hdevalence commented on #196
I think this might have been closed by mistake (cc @dconnolly )? (Please feel free to re-close if it wasn't)

[2020-10-06 20:19] dconnolly commented on #196
OOF very mistake, my bad

[2020-10-07 23:46] yaahc opened #1134 "Move `GENESIS_PREVIOUS_BLOCK_HASH` to `zebra-chain`"
There's actually a `GENESIS_PREVIOUS_BLOCK_HASH` constant, but we'll need to move it to `zebra_chain` to avoid a circular crate dependency:
https://github.com/ZcashFoundation/zebra/blob/main/zebra-consensus/src/parameters/genesis.rs#L5

Let's do that in a separate follow-up ticket?

_Originally posted by @teor2345 in https://github.com/ZcashFoundation/zebra/pull/1101#discussion_r500721792_

[2020-10-08 00:24] yaahc opened #1135 "Refactor Network and NetworkUpgrade enums into structs and a trait"
**Is your feature request related to a problem? Please describe.**

Right now the follow up PR for the implementation of the `NonFinalizedState` component in `zebra-state` is blocked on some questions about how to effectively test the `CommitBlock` request on the state service. The main issue is that we cannot create an appropriately brief test that would also be able to commit new non-finalized b

[2020-10-08 03:02] teor2345 commented on #1135
Sounds like a good idea!

Let's make sure we have a reasonable amount of test coverage before doing this refactor. And if we add new tests before this refactor, let's try to separate the test cases (in a vector) from the test harness - in case we need to rewrite the test harness.

[2020-10-08 03:45] teor2345 commented on #1011
#1101 does not resolve this issue - those tests aren't enabled yet.

[2020-10-08 22:50] dconnolly commented on #289
Basically all handled by the state layer: https://github.com/zcash/zips/issues/399

[2020-10-08 22:50] #289 closed, assigned to dconnolly

[2020-10-08 23:29] teor2345 commented on #1024
Fixed quite a while ago, at least in the state service.

[2020-10-08 23:29] #1024 closed, assigned to nobody

[2020-10-09 12:36] teor2345 opened #1140 "Enforce zebra_test::command timeouts regardless of command output"
**Version**

zebra-test 3.0.0-alpha.0 (current main branch, commit eaf5473e)

**Platform**

Linux 5.4.68 #1-NixOS SMP x86_64 GNU/Linux

**Description**

The `zebra_test::command` acceptance test framework contains a few undocumented surprises. The timeout is only checked in `expect_stdout`, and only after each newline. And the timeout kill check is inverted. (It appears that it has never been test

[2020-10-09 23:33] teor2345 opened #1141 "Run sync tests on CI runners with working DNS and network"
In PR #1053, I added a `zebrad` sync acceptance test for testnet, and fix a bug in test timeouts. But I couldn't enable the sync tests by default, because they require working DNS and network.

Let's add an environmental variable that skips tests which require network access. Then we can enable the sync tests, and set that env var in any CI that fails.

**TODO:**
- [x] add an environmental variabl

[2020-10-10 01:04] teor2345 opened #1142 "Put a shorter time limit on Zebra CI jobs"
**Version**

Current Zebra main branch.

**Platform**

All CI platforms.

**Description**

The existing CI time limits are way too high. They make it difficult to diagnose and fix CI-only hangs, because test output isn't available until the tests finish.

As an example, see this macOS CI run: https://github.com/ZcashFoundation/zebra/pull/1053/checks?check_run_id=1233819386

It appears to have hung

[2020-10-11 00:08] teor2345 opened #1143 "forbid(non_ascii_idents) in all the Zebra crates"
## Motivation

Rust 1.53 stabilised support for non-ASCII identifiers. It was released on 17 June 2021.

Zebra is an open-source, English-language project written in ASCII. In projects like ours, non-ASCII identifiers can introduce security risks. Similar-looking characters can be used to hide deliberate bugs in the code.

## Solution

Forbidding non-ASCII identifiers makes sure they can't hide se

[2020-10-11 21:12] oxarbitrage commented on #1134
I was thinking on moving the entire `genesis.rs` file from the parameters of `zebra-consensus` to the parameters of `zebra-chain`. Let me know if that is the right thing to do.

[2020-10-12 00:03] teor2345 commented on #1134
Yeah, let's move the whole file.

If we're using the genesis previous block hash in `zebra-state`, then we'll probably want the genesis hashes themselves in other crates.

[2020-10-12 05:38] teor2345 commented on #829
I tried switching from `primitive_types` to `bigint` before starting some new difficulty work.

But `bigint` doesn't support `u128` conversions (it has its own `U128` type), which would have meant some bit twiddling.

That's not a huge amount of work, but it's out of scope right now, so I left it for later.

[2020-10-12 08:59] daira commented on #829
That can be implemented as subtraction from the all-ones u256.

[2020-10-12 21:04] dconnolly commented on #1142
For in-GitHub Actions jobs, they are pretty live. For the Google Cloud Build job, because we want to support external fork PRs, we have to do them via the installed GitHub App to trigger them, and that doesn't support live logs :(. The jobs that run as a GitHub Action do support live logs from gcloud, but because external forks don't get access to our GCLOUD_SECRET, we can't run them at all on tho

[2020-10-12 21:08] #1134 closed, assigned to nobody

[2020-10-12 21:10] dconnolly commented on #1142
The Google Cloud Build is configured to end at 30 minutes, I can update each GH Actions job/step to timeout at 30 minutes.

[2020-10-12 22:39] #1142 closed, assigned to dconnolly

[2020-10-13 20:17] teor2345 opened #1156 "Consider adding a stable clippy job"
The goals of this ticket are:
* identifying errors that are caused by code changes, and
* avoiding or distinguishing errors that are caused by dependencies or infrastructure

In #1144, nightly clippy introduced a new lint, which caused errors in all our builds.

This has happened at least three times that I remember - so it seems like we might get a similar error every month or two.

Let's think a

[2020-10-13 20:58] yaahc commented on #1156
I'd prefer to leave it on nightly. Clippy passing shouldn't be a required check in our CI pipeline, so I think that the benefits of staying up to date with the newest version of clippy outweigh the costs of occasionally having errors show up in CI without any changes to the code, especially since those errors don't prevent us from merging code.

[2020-10-13 21:25] teor2345 commented on #1156
We can do both stable and nightly - if GitHub actions has an `allow failures` or similar setting. I've clarified the title of the PR.

[2020-10-13 21:27] teor2345 commented on #1156
In this ticket and #924, I'd like to isolate infrastructure and dependency errors from errors that are caused by code changes.

That's really important for new and occasional contributors, who might not understand why all their PRs are suddenly failing. And it's useful for the core team, because it's less distracting - we don't have to drop what we're doing to fix CI, or ignore warnings or errors

[2020-10-13 21:28] teor2345 commented on #924
In this ticket and #1156, I'd like to isolate infrastructure and dependency errors from errors that are caused by code changes.

That's really important for new and occasional contributors, who might not understand why all their PRs are suddenly failing. And it's useful for the core team, because it's less distracting - we don't have to drop what we're doing to fix CI, or ignore warnings or errors

[2020-10-13 22:11] yaahc commented on #1156
It does have an allow failures and its already allowed as far as I could tell when I just checked the settings.

![Screenshot from 2020-10-13 14-32-26](https://user-images.githubusercontent.com/1993852/95921471-36136c80-0d66-11eb-9e55-31b08cbcbfaa.png)

![Screenshot from 2020-10-13 14-32-40](https://user-images.githubusercontent.com/1993852/95921480-3875c680-0d66-11eb-8548-b68e2de23ad0.png)

As fa

[2020-10-13 22:48] teor2345 commented on #1156
Yeah, I'm used to Travis CI, which has a yellow marker (?) for failed allow failures jobs, and a build summary marker which ignores allow failure jobs.

Does the Google Cloud trigger run a stable clippy job?
If not, we should add a stable clippy job for comparison.

I'll also write a TODO list in the ticket summary, so we can track what we want to do as part of the ticket.

[2020-10-13 23:41] dconnolly commented on #1156
The gcloud trigger job is building the Docker container image which currently does :

[2020-10-14 01:43] teor2345 opened #1158 "Use Display for Block in errors, logs, and spans"
We have a `Display for Block` impl that shows the block height and hash.

We should change our error enums, error messages, tracing logs, and spans so they use `Display`, rather than separate block heights or hashes.

**TODO**

Replace height and hash with block, and debug with display, in:
- [ ] error enums
- [ ] error messages
- [ ] tracing logs
- [ ] tracing spans

Once these changes are done,

[2020-10-14 09:40] teor2345 commented on #1156
Okay, so gcloud is stable, that's good.

Can we add a separate stable clippy job that's allow failure?

[2020-10-14 20:25] yaahc opened #1162 "Validate coinbase miner subsidy and miner fees"
## Motivation

We should check Coinbase transactions, to make sure they satisfy the miner subsidy and miner fee consensus rules.

### Specifications

https://zips.z.cash/protocol/protocol.pdf#txnencodingandconsensus

### Related Consensus Rules

#### Block Subsidy and Funding Streams

Implemented in #338:

https://zips.z.cash/protocol/protocol.pdf#subsidyconcepts

#### Transaction value balances

[2020-10-14 20:50] yaahc commented on #562
closed by https://github.com/ZcashFoundation/zebra/pull/1161

[2020-10-14 20:50] #562 closed, assigned to nobody

[2020-10-14 21:06] #964 closed, assigned to yaahc

[2020-10-14 22:00] teor2345 commented on #1162
I updated the modules in this ticket based on @hdevalence's comments.

@oxarbitrage can you add a `subsidy::coinbase_script` module to the block subsidy design RFC?

The `subsidy::coinbase_script` module should use the `zcash_script` crate to verify the consensus rules for transparent founders reward and funding stream outputs.

[2020-10-15 23:45] teor2345 opened #1166 "Verify headers first, to avoid large block denial of service"
## Motivation

In https://github.com/ZcashFoundation/zebra/pull/1328 we created a first version to handle `AdvertiseBlocks` messages, which downloads each full block that is advertised to us.

The procedure above exposes us to a DoS risk, because we blindly download an entire block whenever anyone tells us to.  This is in contrast to the sync process, where we generally download blocks from differ

[2020-10-15 23:54] hdevalence commented on #695
I think a good way to handle this would be to add a warning message in the peer set's `poll_ready` implementation, warning if `poll_ready` is called when we have no peers (not just no ready peers, but no peers at all).  Because `poll_ready` is called before making network requests, this means that if zebra stalls from losing all peers, we'll get a message logged whenever something tries to access

[2020-10-16 07:09] teor2345 commented on #695
There might even be a way to distinguish startup from a peer set that was populated, but has become empty.
(It would be nice to avoid a spurious warning, because it will confuse users, and perhaps result in bug reports.)

Let's see what we can do.

[2020-10-16 07:23] teor2345 commented on #1162
Updated the modules again based on today's Zebra meeting.

[2020-10-16 07:24] teor2345 commented on #1162
Soft-blocked by #1166.

We could do this work before splitting out the `CoinbaseVerifier`, but it would be better to do #1166 first.

[2020-10-19 04:40] teor2345 opened #1181 "Sync hang for 22 minutes on mainnet after checkpoint error"
**Version**

`zebrad` main branch, as at 19 October 2019.

**Platform**

`Linux ... 5.4.68 #1-NixOS SMP Sat Sep 26 16:03:16 UTC 2020 x86_64 GNU/Linux`

**Description**

`zebrad start` on mainnet did not output any logs at info level for 22 minutes. It restarted sync after a checkpoint error, started `obtain_tips`, then hung for 22 minutes. Then it continued to log similar checkpoint errors, withou

[2020-10-19 04:42] teor2345 commented on #1181
@hdevalence I think you were the last person to modify the sync code, do you have any insights here?

@yaahc how can we show the detailed checkpoint error message in the logs, rather than just "block could not be checkpointed" ?

[2020-10-19 05:00] teor2345 commented on #1181
I tried adding `#[source]` to the inner errors, based on:
https://docs.rs/thiserror/1.0.21/thiserror/#details

If that's a good way to fix this issue, let's open a follow-up ticket to fix all the error types in every zebra crate?

[2020-10-19 07:51] teor2345 opened #1182 "Panic: hashes must be unique in memory_state"
**Version**

zebrad main branch, 19 October 2020.

**Platform**

`Linux ... 5.4.68 #1-NixOS SMP Sat Sep 26 16:03:16 UTC 2020 x86_64 GNU/Linux`

**Description**

While syncing mainnet blocks, `zebrad` panicked with a "hashes must be unique" error in `memory_state`, inside the span `zebra_state::service::queue_and_commit_non_finalized_blocks`.

I tried this:

Partially syncing mainnet, a sync hang (

[2020-10-19 07:51] teor2345 commented on #1182
@yaahc I think you might have a better idea of what is going on with this state panic?

[2020-10-19 07:56] teor2345 opened #1183 "Panic: preselected index must be valid in peer_set"
**Version**

zebrad main branch, 19 October 2020.

**Platform**

`Linux ... 5.4.68 #1-NixOS SMP Sat Sep 26 16:03:16 UTC 2020 x86_64 GNU/Linux`

**Description**

While syncing testnet blocks, `zebrad` panicked with a "preselected index must be valid" error in `peer_set::set`, inside the span `zebrad::components::sync::obtain_tips`.

I tried this:

Syncing testnet from genesis.

I expected to see th

[2020-10-19 07:57] teor2345 commented on #1183
@hdevalence I think you might understand the invariants in `zebra-network`?

[2020-10-19 15:54] gmale commented on #1019
Thanks @n8fr8! There seem to be a lot of options for Android. What would be the best options for iOS, particularly if we want to avoid requiring the user to configure a companion app? Is [iCepa](https://github.com/iCepa) the best analog to `tor-android`?

[2020-10-19 18:22] n8fr8 commented on #1019
You'd want to integrate directly with Tor.framework: https://github.com/iCepa/Tor.framework

iCepa is our attempt to move this to an iOS Network Extension approach, but Tor isn't quite ready/able to run in that manner yet.

[2020-10-20 05:03] #1156 closed, assigned to dconnolly

[2020-10-20 15:15] dconnolly opened #1186 "Dedupe Verification error types (Block, Chain)"
Comes out of https://github.com/ZcashFoundation/zebra/pull/1173

1. VerifyBlockError -> BlockError
2. VerifyChainError -> (new) ChainError
3. Distinguish timeouts by wrapping `Elapsed` in different errors, depending on where it comes from
4. Fix the downcast from BoxError to redjubjub::Error at `zebra-consensus/src/error.rs:76`
    - Remove the InternalDowncastError type
    - Remove as many BoxEr

[2020-10-20 22:09] teor2345 opened #1187 "Stop assuming that all transparent addresses are on mainnet"
Currently, `From<Script> for Address` assumes that all addresses are on mainnet.

But Zebra needs to support mainnet and testnet.

We should delete `From<Script> for Address`, and use the `From<ScriptAndNetwork> for Address` in PR #1170.

We should also check for any other places in Zebra where we've assumed Mainnet.

-----

Basically, given a script hash alone (as `lock_script`, the one we get fr

[2020-10-20 22:10] teor2345 commented on #1187
Blocked on #1170

Do we need to fix this bug in the first alpha release, or can it wait until later?

[2020-10-20 22:12] dconnolly commented on #1187
I _think_ we can get away with not fixing this for the first alpha, but probably not any betas and certainly not the first major/stable release.

[2020-10-20 22:45] teor2345 opened #1188 "Run large checkpoint sync tests by default in CI"
**Is your feature request related to a problem? Please describe.**

In #1185, I add a 2000 block sync test, which downloads the second checkpoint.

We want to activate that test by default in CI.

We can't run it by default, because it can take up to 2 minutes to complete. (Or fail on slow or unreliable networks.)

**Describe the solution you'd like**

Add `cargo test` commands to CI which run `sy

[2020-10-20 22:51] teor2345 commented on #1181
The Windows CI sync tests also hang intermittently, when initialising the syncer:
https://github.com/ZcashFoundation/zebra/pull/1179/checks?check_run_id=1280264596

The hangs might be due to this bug, or they might be caused by the network on the CI host.

[2020-10-20 23:01] teor2345 opened #1189 "Get sync tests working on Ubuntu and Windows CI"
**Is your feature request related to a problem? Please describe.**

In #1179, we disabled sync tests on Linux and Windows CI, because it was unreliable.

We want to test Zebra sync across multiple platforms, to catch platform-specific bugs.
In particular, if we want to distribute Zebra using Linux docker containers, we need to test sync on Linux.

Our CD runs on Debian Buster, so we'll only catch

[2020-10-21 00:28] teor2345 commented on #1187
It was easier than I thought, see #1191.

[2020-10-21 04:58] #1141 closed, assigned to teor2345

[2020-10-21 18:22] hdevalence commented on #1166
I'm a little confused since this doesn't match my recollection of what we discussed in the meeting -- I thought that the idea was just to allow verification of the proof-of-work in advance of downloading the full block, rather than doing complete verification of the header.  I think that this is sufficient for the goal and considerably simpler.  I'm not sure, for instance, that we should create a

[2020-10-21 18:24] hdevalence commented on #695
Sure, we could store a `had_peers: bool` initialized to `false` and set it to `true` as soon as we get the first peer.  Then we warn only `if ... && self.had_peers { ... }`.

[2020-10-21 18:30] hdevalence commented on #1158
I'm not sure this is a good idea -- the tracing output is supposed to be a trace of execution, so I don't think we should be omitting data from it.  If there are spans where the full contents of the block are not relevant, a better solution would be to change the span fields, rather than to change the formatting.

[2020-10-21 21:54] #1031 closed, assigned to oxarbitrage

[2020-10-21 21:58] #1187 closed, assigned to nobody

[2020-10-21 22:23] teor2345 commented on #1166
I thought it was simpler to split the block verifier, but I think you're right, maybe we just need to split out (parts of) the header verification.

But since we're only doing semantic verification, there isn't actually a huge difference between "header verification" and "proof of work verification". Here's a list of each field in the header that's semantically verified using the `BlockVerifier`:

[2020-10-21 22:25] teor2345 commented on #1158
I don't have a strong opinion about this, it was a change suggested by @yaahc.

I also don't know if I wrote up her suggestion accurately.

So I'll let you both decide if you want to close or modify this ticket.

[2020-10-22 05:33] hdevalence commented on #1181
I saw similar issues while getting #1041 working but plumbing error context through the checkpointer was more work than I wanted to commit to doing in that chunk of work.

[2020-10-22 17:32] yaahc commented on #1181
I think we may want to make a style choice here and choose to avoid Tuple style enum variants in our error types. If we write the errors as struct-style enum variants where we always remember to name the source error field `source` then `thiserror` will always automatically use that as a source error kind. I feel like with tuple enums + an error derive it is way too easy to make this mistake and a

[2020-10-22 18:02] yaahc commented on #1158
I just worry that we're inconsistently identifying blocks based on random subsets of their fields across the codebase, and that we need some short, consistent format for identifying blocks in our logs. I'd go so far as to say the full context of the block is never relevant in logs, because that would be pages and pages of information. Changing the span fields doesn't really solve the issue of inco

[2020-10-22 18:16] yaahc opened #1197 "Add new `zebra-eyre` crate"
**Is your feature request related to a problem? Please describe.**

As part of our `zebrad` application we'd like to be able to control exactly what context we carry with our error reports and how they're formatted. Right now we've been using `color-eyre` which provides a lot of good defaults that have mostly covered our needs, but it still restricts us to working with types that are defined in co

[2020-10-22 18:56] yaahc commented on #1182
It's implying that the same block was inserted twice into the memory state I think, looking into it. I thought we already added the duplicate block handling but I might be misremembering.

edit: looks like we didn't, what am I thinking about then X_X

edit2: Oh yea, I found it, you edited the RFC about this, back on track

[2020-10-23 00:34] teor2345 opened #1199 "Use the try operator to return errors"
The try operator `?` provides more error context than just returning the error.

It's a bad idea to have the `allow(try_err)` lint on for some crates, and off for others.
## Solution

`allow(try_err)` is already set in most of the large zebra crates.

Across Zebra:
- [ ] Replace `return Err(_)` with `Err(_)?`
- [ ] `#![allow(try_err)]` in each crate

## Context

_Originally posted by @teor2345 in

[2020-10-24 01:04] teor2345 opened #1204 "Reduce the size of checkpoints"
**Is your feature request related to a problem? Please describe.**

Zebra struggles to download and verify blocks on slower or unreliable networks.

Having smaller checkpoints helps the checkpoint verifier commit blocks more often, allowing Zebra to make incremental progress, even when the block error rate is high.

We'll also make a corresponding reduction to the lookahead interval, which makes Z

[2020-10-26 00:16] teor2345 opened #1205 "Make `stop_if_at_height_limit` return a bool and flush between sled write and exit"
How do you feel about having `stop_if_at_height_limit` return a bool and flushing if it returns true, then we can remove the whole `StopCheckContext` enum.

_Originally posted by @yaahc in https://github.com/ZcashFoundation/zebra/pull/1193#discussion_r511195705_

I think it's helpful to have the context in the log messages.

But I'm happy to inline the flush and exit into the callers, if you'd lik

[2020-10-26 05:17] teor2345 opened #1207 "Improve the reliability of the zebrad testnet sync tests"
**Version**

zebra main as of 26 October 2020.

**Platform**

ZcashFoundation/zebra CI tests.

**Description**

The `zebrad` sync tests frequently fail on testnet.

I tried this:

Submitting PR #1206.

I expected to see this happen:

The tests succeeded, like they did on my development machine.

Instead, this happened:

The testnet sync test failed, which happens frequently, and more often than ma

[2020-10-26 10:59] #1204 closed, assigned to teor2345

[2020-10-26 12:20] teor2345 commented on #1011
Moved out-of-order transcripts to the state tracking issue #1049.
Moved sync tests to #1188.

The remaining work is out of scope for the first alpha.

[2020-10-26 19:05] hdevalence opened #1212 "Choose one of stable or nightly clippy."
**Description**

Currently, our CI runs both stable and nightly clippy. This means that it can be hard to pre-check code, because the local clippy may not match the CI.  In addition, new lints are sometimes added to nightly clippy.  This can cause a frustrating experience, where some code fails the clippy pass for an unrelated reason, or for a reason that couldn't be checked in advance.  In additi

[2020-10-26 20:54] #1182 closed, assigned to yaahc

[2020-10-26 20:55] hdevalence commented on #1181
Unblocked by #1041 and #1198.

[2020-10-26 20:58] teor2345 commented on #1212
I think we should pick stable clippy, because:
* nightly clippy changes often
* nightly clippy lints are sometimes removed or revised
* we can't guarantee that developers will have the latest version of nightly clippy installed - but CI always uses the latest

If we pick stable clippy, then all developers should also use stable clippy locally. (For efficiency reasons, this probably also means usin

[2020-10-26 21:18] teor2345 opened #1213 "Detect when an older state version is present, and delete it"
**Is your feature request related to a problem? Please describe.**

The plan for future database format changes is to blow away the database and start over.  Because the database is a cache of chain state, we don't lose any information by doing so, and it's much simpler and more reliable than trying to perform a migration.

_Originally posted by @hdevalence in https://github.com/ZcashFoundation/ze

[2020-10-27 00:00] yaahc opened #1214 "Add prop tests for each type that implements both `IntoSled` and `FromSled`"
This should simply be used to verify that the formats we're using to write and read data from `sled` are consistent. We will write round trip tests for each type that implements `FromSled` and `IntoSled` and assert that for arbitrary instances of that type the deserialized representation is equal to the original one.

[2020-10-27 06:01] dconnolly commented on #1212
I'd go with Clippy on stable

[2020-10-27 09:25] #1188 closed, assigned to nobody

[2020-10-27 11:34] oxarbitrage opened #1218 "Pipelinable Block Syncing and Lookup RFC fixes"
https://zebra.zfnd.org/dev/rfcs/0001-pipelinable-block-lookup.html

There is a huge template section on this document which is very confusing for someone trying to read it. It seems this was done before the RFC template was implemented.

We have a few options, the first one is the easiest one, unsure what we will want to do:

- Remove all template text and add a summary. This RFC will not have a s

[2020-10-27 11:40] teor2345 commented on #1158
`hash` is a proxy for the block, because block hashes are unique.

`height` is useful information, but ambiguous by itself, because there can be multiple blocks at the same height. And `height` is always ambiguous if the logs don't show the current `network`.

Which block fields are in the short form format?

[2020-10-27 11:50] teor2345 commented on #1218
I've added these fixes to #899, which is listed in the Sync Correctness tracking issue #884.

[2020-10-27 11:50] #1218 closed, assigned to nobody

[2020-10-27 11:51] teor2345 commented on #899
@hdevalence should this task be in the first alpha release?

It seems like something we could leave for later. But it would be nice to do as soon as sync stabilises.

[2020-10-27 20:12] yaahc commented on #1158
I think `height+hash` are the fields I'd want most of the time in logs, so that's what I'd put in it.

[2020-10-28 03:10] teor2345 opened #1220 "Write tests for Request::Transaction(transaction::Hash)"
**Is your feature request related to a problem? Please describe.**

The [state RFC](https://github.com/ZcashFoundation/zebra/blob/main/book/src/dev/rfcs/0005-state-updates.md#requesttransactiontransactionhash) design includes a `Request::Transaction(transaction::Hash)`.

This request is only required for Zcash client support. So we can implement it whenever we have time.

**Describe the solution y

[2020-10-28 03:12] teor2345 commented on #1049
@hdevalence I moved `Request::Transaction(transaction::Hash)` to a new ticket #1220, because it doesn't need to be done in the first alpha. We can schedule that work whenever we have time.

[2020-10-28 04:04] teor2345 opened #1221 "Clarify Canopy and first halving checks"
The consensus rules are explained differently in different specifications. That's probably how we ended up with different checks.

We think these specifications are all equivalent on mainnet and testnet.

Zcash Specification, section 3.9:
[Pre-Canopy] The block subsidy is composed of a miner subsidy and a Founders’ Reward.
[Canopy onward] The block subsidy is composed of a miner subsidy and a seri

[2020-10-28 05:51] teor2345 opened #1222 "Deploy more Zebra or zcashd instances on testnet"
## Motivation

The Zebra sync tests currently run on mainnet and testnet. Sometimes the testnet nodes are slow or unreliable, so the sync tests are unreliable.

## Solution

Deploy about 10 Zebra or `zcashd` instances on testnet, to increase the average speed and reduce the average latency of testnet.

## Open Questions

Right now, we just need a few more Zebra or `zcashd` instances to stabilise t

[2020-10-28 05:54] teor2345 commented on #746
Closed by #1188

[2020-10-28 08:47] daira commented on #1221
This is a bug in ZIP 1014. Thanks for pointing it out.

Note that ZIPs 207 and 214, along with the protocol spec, are what are describing the consensus rules. They're supposed to be consistent with ZIP 1014, but it's the former two ZIPs and the spec that reflect what zcashd implements.

[2020-10-28 12:10] teor2345 opened #1224 "Call `zebra_test::init` in every test function"
Our `zebra_test::init` function does a bunch of test setup. But it's not called from some test functions.

We should make sure that all tests in every zebra crate call `zebra_test::init`:
- [ ] zebra-chain
- [ ] zebra-client
- [ ] zebra-consensus
- [ ] zebrad
- [ ] zebra-network
- [ ] zebra-rpc
- [ ] zebra-script
- [ ] zebra-state
- [ ] zebra-test
- [ ] zebra-utils

[2020-10-28 13:13] teor2345 opened #1226 "Replace canopy.pdf references with protocol.pdf"
Btw, protocol.pdf and canopy.pdf have been equivalent for a while now. You should prefer referencing protocol.pdf for "the spec corresponding to the latest upgrade that has a stable specification".

_Originally posted by @daira in https://github.com/ZcashFoundation/zebra/pull/1170#discussion_r513326813_

[2020-10-28 15:29] dconnolly commented on #746
Closed by #1188

[2020-10-28 15:29] #746 closed, assigned to teor2345

[2020-10-28 15:31] #1207 closed, assigned to dconnolly, teor2345

[2020-10-28 15:34] #1226 closed, assigned to nobody

[2020-10-29 11:09] teor2345 opened #1231 "Add TestChild::ensure_dead to replace some kill calls"
**Version**

Zebra main 2020-10-29.

**Platform**

  Microsoft Windows Server 2019
  10.0.17763
  Datacenter

**Description**

The zebrad acceptance tests fail, because we try to kill a process that is already dead.

There is a race condition between the child process outputting the final matching log line and exiting, and the test runner matching the final log line and killing the process.

Inste

[2020-10-29 18:31] #1026 closed, assigned to nobody

[2020-10-30 14:05] str4d commented on #1221
This is correct. ZIP 1014 deals with how to fund ongoing development, and testnet funds won't achieve that. ZIP 214 is explicit about why it defines the ZIP 1014-outlined funding streams for both mainnet and testnet:

Perhaps we need a separate category or indicator to outline ZIPs that describe social-level consensus but don't actually specify chain consensus rules, so that implementations like z

[2020-11-03 03:10] teor2345 commented on #1049
Notes from our testing catch-up:

Goals
* Ensure we implement consensus rules

Scope
* Consensus Rules
  * Focus on failure cases - unit and property tests
  * Use mainnet and testnet syncs to test success cases
  * Use zebra_test block test vectors to test finalized state and service

Consensus Rule List
* Previous hash matches
* Height is previous height + 1
* Reorgs can only go back 99 blocks (

[2020-11-05 01:03] teor2345 commented on #1143
Not required for the first alpha.

[2020-11-05 01:04] teor2345 commented on #1037
@hdevalence did this get done as part of the download set PR?

[2020-11-05 01:04] yaahc opened #1249 "Tracking: Finalized State Implementation"
### Finalized State Implementation

#### Bugs

- [x] Assert that the chain hash and height are valid in `commit_finalized_direct` - #1290
  - previous hash must match the finalized tip hash
  - height must be one more than the finalized tip height
  - The genesis block does not have a parent block. For genesis blocks, check that block's parent hash is null (all zeroes) and its height is 0.
  - Not

[2020-11-05 01:05] teor2345 commented on #1025
@yaahc I think this ticket overlaps with the State RFC tracking issue, did you want to move these tests to the tracking issue, then close this ticket?

- [ ] write test transcripts that use each request enum variant
- [ ] write test transcripts that use each response enum variant

[2020-11-05 01:06] yaahc opened #1250 "Tracking: NonFinalizedState Implementation"
### Non-Finalized State Implementation

#### Chain

- [x] Implement the `Chain` type
  - [x] `Chain::push` -- `Chain` logic **only** is required to check this box, it's fine to stub out the full contextual verification checks for later.
  - [x] `Chain::pop_root`
  - [x] `Chain::pop_tip`
  - [x] `Chain::fork`

##### Bug Fixes

- [x] `impl Ord for Chain`
  - [x] Update comments and RFC to document t

[2020-11-05 01:06] yaahc opened #1251 "Tracking: State Service Implementation"
### State Service Request/Response Implementation

#### Tests

- [x] Test all requests behave while state is empty
- [x] Write test transcripts that use each request enum variant
- [x] Write test transcripts that use each response enum variant

##### `Request::BlockLocator`

The current sled implementation causes duplicate block errors once Zebra syncs past the last checkpoint (Sapling by default)

[2020-11-05 01:28] yaahc commented on #1025
sure, went ahead and added them to https://github.com/ZcashFoundation/zebra/issues/1251

[2020-11-05 01:28] #1025 closed, assigned to nobody

[2020-11-06 03:38] teor2345 opened #1259 "Repeated Duplicate errors in the CheckpointVerifier"
**Version**

`zebrad` main branch, 2020-11-05

**Platform**

`Linux ... 5.4.72 #1-NixOS SMP Sat Oct 17 08:11:24 UTC 2020 x86_64 GNU/Linux`

**Description**

On testnet, I see repeated `Duplicate` errors from the `CheckpointVerifier`. The block locator remains at the same height - the state does not make any progress. The number of queued blocks in the download set remains close to 2000.

Restartin

[2020-11-06 03:52] teor2345 commented on #1259
PR #1260 improves the `CheckpointVerifier` errors, and renames `Duplicate` to `AlreadyVerified`.

[2020-11-06 04:07] teor2345 commented on #1259
A restart resolves this issue.

[2020-11-06 04:32] teor2345 commented on #1259
Using the error improvements from #1260 and `zebrad-log-filter` (with some fields removed), I see the following logs. Similar logs repeat indefinitely.

Note that the block locator is stuck near 218400, even though checkpoint 218800 was verified. After some time, I saw a block locator at 218479, even though the checkpoints for this range are 218400 and 218800.

It looks like the checkpoint verifie

[2020-11-06 04:37] teor2345 commented on #1259
The relevant metrics are:

Progress
* checkpoint_queued_max_height: 219396
* checkpoint_queued_continuous_height: 218998
* checkpoint_verified_height: 218800
* checkpoint_processing_next_height: 218800
* state_committed_block_height: 218479

Queue
* checkpoint_queued_slots: 570
* queued_block_rate [1s]: peaks of up to 60 blocks per second, separated by stalls that last for minutes
* state_queued_b

[2020-11-06 04:40] teor2345 commented on #1259
Network health:
* 14 peers, 9-14 peers are ready most of the time, occasional peaks when all peers are not ready
* failed candidate peers grows by about 30 every 5 minutes

[2020-11-06 07:42] teor2345 opened #1264 "Wrong transaction version error in block verifier"
**Version**

`zebrad` main branch, 2020-11-06.

**Platform**

`Linux ... 5.4.72 #1-NixOS SMP Sat Oct 17 08:11:24 UTC 2020 x86_64 GNU/Linux`

**Description**

When `zebrad` finishes the checkpoint sync on testnet, the block verifier keeps on returning a `Block(Transaction(WrongVersion))` error. The sync does not make any progress.

On testnet, the checkpoint verifier verifies the Sapling activation

[2020-11-06 07:44] teor2345 commented on #1259
This error also happens in CI, for example:
https://github.com/ZcashFoundation/zebra/pull/1262/checks?check_run_id=1362438343#step:8:398

[2020-11-06 09:11] teor2345 commented on #1259
This error also happens on mainnet.

Here are the relevant metrics, using PRs #1261 and #1262:

Heights:
* state_finalized_commited_block_height = 106134
* state_finalized_queued_max_height = checkpoint_verified_height = 106604
* checkpoint_queued_continuous_height = 106645
* checkpoint_queued_max_height = 107231

Queue Lengths:
* checkpoint_queued_slots = 554
* state_finalized_queued_block_count

[2020-11-06 09:15] teor2345 commented on #1259
I'm using this grafana dashboard:
https://gist.github.com/teor2345/f627b7e0288a9313d212481c8af5c947

(It probably has too many metrics on it - I'll delete some when I know which ones are useful.)

[2020-11-06 11:08] mpguerra commented on #1049
I see we now have new tracking issues created.

Do we want to wait until those are completed before closing this issue or are we going to track outstanding work in the  Finalized, Non-Finalized, and Service tracking issues?

[2020-11-06 11:46] mpguerra commented on #1088
As much as I love to encourage community contributions... do we really want this in the First Alpha Release milestone? :)

[2020-11-06 11:49] mpguerra commented on #1004
We should try to estimate this work to see how much effort it would take and evaluate if it still makes sense to keep in the First Alpha Release milestone

[2020-11-06 11:53] mpguerra commented on #208
Should we defer this one until after First Alpha Release?

[2020-11-06 21:10] yaahc commented on #1049
I was going to close those first and then close this one, using it as a low detail higher level tracking issue.

[2020-11-09 21:19] hdevalence commented on #1037
Yes, it did.

[2020-11-09 21:19] #1037 closed, assigned to hdevalence

[2020-11-10 00:29] #1224 closed, assigned to nobody

[2020-11-10 10:25] teor2345 commented on #1104
This seems like a quick and easy way to improve our test coverage.

I don't know if any of our current code depends on anything that happens after the first halving, but adding these test vectors is one way to be sure.

[2020-11-10 13:47] teor2345 opened #1276 "Off-by-one error in testnet minimum difficulty block gap specification"
## Issue

The minimum difficulty block gap check is ambiguous in ZIP-205 and ZIP-208.

`zcashd` uses a strictly greater than check.

## Details

zcashd implements the minimum difficulty block gap using a strictly greater than test:
[code]
https://github.com/zcash/zcash/blob/514d86817990a1bf9578ee5fa2d01c34c6ca6035/src/pow.cpp#L33

But ZIP-205 specifies greater than or equal to:

https://zips.z.cas

[2020-11-10 15:09] teor2345 opened #1277 "Implicit conversion of the minimum difficulty threshold to the compact representation"
## Issue

`zcashd` converts the `PoWLimit` to the compact representation before using it to perform the alternate difficulty check for testnet minimum difficulty blocks.

But this conversion is not explicitly specified in the Zcash Specification, ZIP-205, or ZIP-208.

This means that a strict reading of the specification might allow some block hashes that `zcashd` rejects.

## Details

zcashd impl

[2020-11-10 15:43] dconnolly commented on #1276
Done 🙏
https://github.com/zcash/zips/commit/806076c48c9834fd9941b940a32310d737975a3a

[2020-11-10 22:26] teor2345 commented on #798
Not blocked by any other tasks.

[2020-11-10 22:27] teor2345 commented on #559
This bug was recently fixed in the Zcash specification, the correct behavior is specified in the Zebra State RFC, and implemented in Zebra.

[2020-11-10 22:27] #559 closed, assigned to nobody

[2020-11-10 23:25] daira commented on #798
Note that ToCompact is never called on a value greater than PoWLimit. Since the consensus rules require that only possible outputs of ToCompact can appear as `nBits` fields, that means that we'll only call ToTarget on such outputs. Does that help?

Yes ToTarget should call floor in the "otherwise" case.

I'm not sure I understand the rest of the issue.

[2020-11-11 11:48] mpguerra commented on #1250
Another one for the Firs Alpha Release milestone?

[2020-11-11 14:32] daira commented on #59
This issue seems to be obsolete.

[2020-11-11 15:36] daira commented on #1277
Thanks for reporting this. Please review zcash/zips#417 :-)

[2020-11-11 22:53] teor2345 commented on #1276
We missed a `greater than` in this sentence in ZIP 208:

[code]
https://github.com/zcash/zips/commit/806076c48c9834fd9941b940a32310d737975a3a#diff-3f875a100a287c2b47ce389870bdde636f2720429dc19a74d1b42b4e08e31962R187

[2020-11-12 00:03] yaahc commented on #1214
closed by https://github.com/ZcashFoundation/zebra/pull/1253

[2020-11-12 00:03] #1214 closed, assigned to yaahc

[2020-11-12 06:27] daira commented on #1276
Thanks, I'll include this in zcash/zips#417.

[2020-11-12 10:47] mpguerra commented on #1011
Seems like this should have been closed by #1101 but wasn't?

Closing manually, feel free to re-open if this is not the case

[2020-11-12 10:49] mpguerra commented on #1011
Oops, just checked history, re-opening, sorry for the noise

[2020-11-12 11:24] teor2345 commented on #1249
@yaahc I've added the height and hash assertions to the checklist in this ticket:

These assertions were in the `Request::CommitFinalizedBlock` of the State RFC and the State RFC tracking issue #1049, but they actually get implemented in the `FinalizedState`. (They didn't make it into this tracking issue or the state service tracking issue #1251 during the split of #1049.)

[2020-11-12 11:27] teor2345 commented on #1251
@yaahc the height contextual validation isn't a test, it's a missing validation check, so I've added it to the list again:

I've also moved some `CommitFinalizedBlock` tests to #1249, because they test some assertions that I've also just added to #1249.

[2020-11-12 11:30] teor2345 commented on #1251
@mpguerra we can't implement these tests now. But after we do the refactor in #1135, we'll be able to implement them in a future release.

What's the best way to keep track of these tests that we want to write in a future release?

[2020-11-12 16:14] mpguerra commented on #1251
I would just create issues for them and add them to the backlog if we don't know which release we want to add them in.

If we do know which release we want to have them in, e.g Beta or First stable, we can add them to that milestone for now

[2020-11-12 21:22] dconnolly opened #1285 "Re-enable CheckpointVerifier multi-block tests"
## Changes

Chain Testing:  Re-enable the CheckpointVerifier tests #1285
- we might need to use FuturesUnordered to avoid race conditions and deadlocks

Add testnet blocks to the tests

## Follow-Up

Use Mainnet blocks 11-27 in these tests #1836

[2020-11-12 21:24] dconnolly commented on #745
#1285

[2020-11-12 21:34] teor2345 commented on #1251
Hmm, actually, if we do these checks in a separate function, we can unit test that function using the cases listed.

[2020-11-12 21:35] dconnolly opened #1286 "Add mainnet node canary that fails when syncing to tip fails/panics"
We want to do a full sync to tip (with checkpoint sync on) that only fails and alerts/displays the failure if something bad happens when syncing to tip.

We might be able to do this at the gcloud instance group healthcheck level by grepping logs or something, but worse comes to worse we can use GH Actions to deploy a zebrad container node and just watch it run via an open ssh session and if it fai

[2020-11-12 21:41] dconnolly opened #1287 "Implement incremental, sparse note commitment trees for Sapling and Orchard"
Implement the note commitment trees in order to compute anchors, for

- [x] Sapling
- [x] Orchard

In that order.

The follow-on to https://github.com/ZcashFoundation/zebra/issues/286

Pertains to #983 , #958

Follow ups:
- https://github.com/ZcashFoundation/zebra/issues/2484 Implement the Sprout tree
- https://github.com/ZcashFoundation/zebra/issues/1320 write Sapling and Orchard anchors and tree

[2020-11-12 21:54] teor2345 commented on #1079
Blocked by PR #1271, which implements a `chain` function on the `StateService`. The `chain` function takes a block hash, and returns an iterator which lists blocks in reverse height order, starting from that hash.

We'll want to create a similar function which returns an iterator which lists block hashes in reverse height order, starting from a hash. And then use that iterator to answer a new `Sta

[2020-11-12 23:00] teor2345 commented on #884
I have split this tracking issue into "First Alpha" and "Future Releases".

[2020-11-13 00:01] yaahc commented on #1249
So it turns out the previous hash check won't be necessary. We commit blocks by looking them up based on their previous hash, so that bug is impossible by construction.

Also, I don't think it's worthwhile to add tests to ensure this assert works. I feel the logic is short enough to reason about and I'm confident the check will work as desired.

[2020-11-13 01:37] #1205 closed, assigned to teor2345

[2020-11-13 18:12] yaahc opened #1296 "Add a function to `zebra_test` that returns the continuous range of blocks from genesis."
We could add a function to `zebra_test` that returns the continuous range of blocks from genesis.

But we don't have to do that in this PR, let's open a follow-up ticket that isn't in the first alpha?

_Originally posted by @teor2345 in https://github.com/ZcashFoundation/zebra/pull/1281#discussion_r522614793_

[2020-11-13 18:19] yaahc opened #1297 "Update `zebra_state::Service` Transcript tests to test both mainnet and testnet"
from https://github.com/ZcashFoundation/zebra/pull/1281#issue-519546723

[2020-11-13 18:52] daira commented on #1277
Fixed in zcash/zips#417.

[2020-11-13 18:54] daira commented on #1276
FIxed in zcash/zips#417.

[2020-11-14 16:36] daira commented on #1221
ZIP 1014 is a Consensus ZIP in the sense of imposing requirements that should be realized by other ZIPs that define consensus rules. I've changed its category (and that of the other dev fund ZIPs) to "Consensus Process".

[2020-11-16 02:04] teor2345 commented on #1251
@yaahc I think we can close this tracking issue now?

Everything seems to be done.

[2020-11-16 02:04] #1251 closed, assigned to yaahc

[2020-11-16 02:11] teor2345 commented on #1249
See my response in the PR.

One of the checks was incorrect in the latest version of the PR. Some of our existing tests already commit a genesis block to the state via that code path, so CI failed.

I'm ok with skipping tests for assertion failures. But let's make sure that the existing tests cover genesis and non-genesis assertion successes. (If we move the checks to `commit_finalized_direct`, th

[2020-11-16 02:13] teor2345 commented on #1250
@yaahc let's open a new ticket for the sprout and sapling anchors, and close this ticket?

[2020-11-16 02:20] teor2345 opened #1302 "Tests for StateService::any_ancestor_blocks"
## Testing
- [ ] Write unit tests and property tests for `StateService::any_ancestor_blocks` with a finalized state
- [ ] Write unit tests and property tests for `StateService::any_ancestor_blocks` with a non-finalized and finalized state

## Refactors

Add the `block::Hash` to `QueuedBlock`
- [x] Add a `block::Hash` to `service::memory_state::QueuedBlock`
- [x] Use that hash rather than re-calcul

[2020-11-16 05:29] teor2345 commented on #1212
When we try to ignore new nightly clippy lints, stable clippy complains about unknown lint names:
[code]
https://github.com/ZcashFoundation/zebra/pull/1303/checks?check_run_id=1404428631#step:4:1324

So we really do need to choose one or the other.

[2020-11-16 05:34] teor2345 opened #1304 "Decide how to handle new nightly clippy lints"
**Is your feature request related to a problem? Please describe.**

Nightly clippy has some new lints:
* field_reassign_with_default
* from_iter_instead_of_collect
* unnecessary_wraps

PRs #1303 and #1403 disable these lints, but we might actually want to make the recommended changes, then re-enable them.

**Describe the solution you'd like**

1. Decide if we want to make the changes recommended b

[2020-11-16 05:34] teor2345 commented on #1304
Ping @dconnolly - you seemed interested in making these changes.
(But they're not urgent at all.)

[2020-11-16 20:21] teor2345 opened #1306 "Find hashes for peer FindBlocks and FindHeaders requests"
**Is your feature request related to a problem? Please describe.**

We want to answer FindBlocks and FindHeaders requests from peers. Both requests take a block locator from a remote peer, compute the intersection with the local best chain, and returns a response.

**Describe the solution you'd like**

Create a "find_chain_hashes" StateService function, which:
* takes a block locator hash list and

[2020-11-16 20:35] oxarbitrage commented on #1078
Blocked on https://github.com/ZcashFoundation/zebra/issues/1306

[2020-11-16 20:38] oxarbitrage commented on #1079
Blocked actually on https://github.com/ZcashFoundation/zebra/issues/1306 now.

[2020-11-16 20:40] teor2345 opened #1307 "Check how zcashd handles missing blocks?"
## Task

When Zebra's inbound service answers a BlocksByHash, if any of those blocks aren't in Zebra's best chain, it errors and drops the entire request.

We need to check if zcashd returns partial responses instead.

Once we've resolved this ticket, we should remove or update the corresponding TODO comment:
https://github.com/ZcashFoundation/zebra/blob/main/zebrad/src/components/inbound.rs#L145

[2020-11-17 00:02] teor2345 opened #1309 "Upgrade to using Environment Files in docs build action"
**Version**

Zebra main branch, 2020-11-17.

**Platform**

Docs CI

**Description**

The docs build fails with the following error:
[code]
https://github.com/ZcashFoundation/zebra/runs/1409374002#step:5:14

**Priority**

This error isn't critical, but it makes CI fail on main, which is not ideal.

[2020-11-17 00:07] oxarbitrage opened #1310 "Improve speed of `test_founders_address()`"
**Is your feature request related to a problem? Please describe.**

The `test_founders_address()` test from https://github.com/ZcashFoundation/zebra/pull/1170 takes too much time to execute(around 3 mins 40 secs on my laptop), this ended up with the test marked as `#[ignore]`.

The root cause is that currently the test is looping all the blocks one by one for the full founders reward period collec

[2020-11-17 00:14] oxarbitrage opened #1311 "Create function for post-blossom height adjustments"
**Is your feature request related to a problem? Please describe.**

https://github.com/ZcashFoundation/zebra/pull/1170#discussion_r508879222

**Describe the solution you'd like**

Create a function that can be used from at least 2 places.

**Describe alternatives you've considered**

Leave it as it is.

**Additional context**

https://github.com/ZcashFoundation/zebra/pull/1170

This is not an urge

[2020-11-17 01:36] teor2345 commented on #1310
I'm concerned about merging code with disabled tests right before an alpha release.

It also seems like these speed issues mean that we don't really understand what we need to be testing, and maybe the tests should be redesigned. So I'm not sure if we want to merge tests that we're just going to rewrite anyway.

[2020-11-17 01:38] oxarbitrage commented on #1310
Testing blocks one by one as we are doing now is the safest we can do to catch all the address changes. I think this is ok, the only problem is that it takes time.

[2020-11-17 02:18] #1309 closed, assigned to dconnolly

[2020-11-17 13:19] mpguerra opened #1317 "Transaction Validation Epic"
This is an epic created for Zenhub to help us organise Transaction validation, including contextual validation.

This is a proof of concept which, if successful, could replace the tracking issue (#196 ) and/or the Transaction Validation Milestone

[2020-11-17 13:42] mpguerra opened #1318 "Block Validation Epic"
This is an epic created for Zenhub to help us organise Block validation, including contextual validation, but excluding transaction validation.

This is a proof of concept which, if successful, could replace the tracking issue (#428) and/or the Block Validation Milestone

[2020-11-17 14:13] mpguerra opened #1319 "State Update Epic"
This is an epic created for Zenhub to help us (retroactively) organise the state update rfc.

This RFC outlines how state updates are handled, in particular multiple chain handling, reorgs, and finalization of blocks, and how finalized vs un-finalized blocks are handled. This was originally tracked in issue #1049.

[2020-11-17 14:56] mpguerra commented on #1319
Will convert existing tracking issues to epics instead.

Doing this should only add the "Epic" label to the issue and not modify the existing issue in any other way.

[2020-11-17 14:56] #1319 closed, assigned to nobody

[2020-11-17 14:56] mpguerra commented on #1318
Will convert existing tracking issues to epics instead.

Doing this should only add the "Epic" label to the issue and not modify the existing issue in any other way.

[2020-11-17 14:56] #1318 closed, assigned to nobody

[2020-11-17 14:56] mpguerra commented on #1317
Will convert existing tracking issues to epics instead.

Doing this should only add the "Epic" label to the issue and not modify the existing issue in any other way.

[2020-11-17 14:56] #1317 closed, assigned to nobody

[2020-11-17 19:34] #1250 closed, assigned to yaahc

[2020-11-17 19:35] yaahc opened #1320 "Add sapling and orchard anchors to `zebra-state`"
Once we have implemented incremental merkle trees and can compute anchors we should:

- [ ] Update the state RFC for Orchard, based on the spec:
  - https://github.com/ZcashFoundation/zebra/blob/main/book/src/dev/rfcs/0005-state-updates.md
- [ ] Add sapling, and orchard anchors to QueuedBlock
- [ ] Add sapling, and orchard anchors to Chain
- [ ] Add sapling, and orchard anchors to FinalizedState

[2020-11-17 19:35] #1249 closed, assigned to yaahc

[2020-11-17 23:11] teor2345 commented on #1082
I just added a note that the more complex solution should be implemented after the first alpha release.

[2020-11-17 23:15] teor2345 commented on #1011
This task can't be done in the first alpha, because it depends on the refactor in #1135, which is long-term work.

[2020-11-17 23:16] teor2345 commented on #1307
@hdevalence do you think we need to do this task in the first alpha release?

[2020-11-18 00:26] hdevalence opened #1321 "Detect whether errors are `AlreadyVerified`"
**Is your feature request related to a problem? Please describe.**

The sync logic needs to be able to programmatically detect whether an error is `AlreadyVerified` or not, to avoid restart loops.

**Describe the solution you'd like**

TBD -- @yaahc ?

**Describe alternatives you've considered**

Currently we check this (as a hack) by string comparison on the formatted error.

[2020-11-18 00:44] yaahc commented on #1321
Either replace the format comparisons with this

[code]

or add a helper trait to abstract over this

[code]

Then you'd be able to do `if box_error.is_already_verified_error() { .. }`

[2020-11-18 01:10] teor2345 commented on #1036
The remaining work in this tracking issue can all be done after the first alpha release

[2020-11-18 01:26] teor2345 commented on #1310
Disabling tests means that we can break things without realising it.

Slow tests often reveal bigger issues.

Either:
* the tests are slow because the code is slow, and we should fix the code
* the tests are generating block data we don't need, and we should fix the generator, or refactor the code to take less data
  * for example, we should be able to lookup a coinbase address given only a height

[2020-11-18 08:13] daira commented on #1310
Yes what @teor2345 suggests is also what I suggested.

[2020-11-18 09:11] teor2345 commented on #1259
Fixed by #1321 and #1322.

[2020-11-18 09:11] #1259 closed, assigned to hdevalence

[2020-11-18 09:12] teor2345 commented on #1183
@hdevalence do you think this ticket is fixed now?

[2020-11-18 09:23] teor2345 opened #1323 "Make sure RocksDB debug logs don't grow too big"
By default, RocksDB logs database debug information to a textual log file:
https://github.com/facebook/rocksdb/wiki/RocksDB-Basics#database-debug-logs

We should make sure this file doesn't grow too big by:
* disabling debug logs, or
* configuring debug log rotation.

[2020-11-18 14:02] mpguerra commented on #776
we should close this one if we decide to go for rocksdb in the end

[2020-11-18 14:39] mpguerra commented on #1030
How does this affect the inbound message handling tickets that are required for the First Alpha Release?

[2020-11-18 14:40] mpguerra commented on #1034
Seems both of those are already merged, will remove blocked label

[2020-11-18 14:44] mpguerra commented on #1049
Seems like all items are ticked off now, can we close this one? :D

[2020-11-18 16:14] mpguerra commented on #1276
@teor2345 Can we close this one now?

[2020-11-18 16:15] mpguerra commented on #1277
@teor2345 anything else to be done here?

[2020-11-18 19:02] hdevalence commented on #1030
I think we can call this done, the only remaining work is some code reorganization that doesn't have to be coupled to any further work.

[2020-11-18 19:02] #1030 closed, assigned to nobody

[2020-11-18 20:06] hdevalence commented on #1323
Let's disable debug logs to start, since that's the simplest thing and easiest to change going forward if we need a different behavior?

[2020-11-18 21:00] hdevalence commented on #1082
I put a note in a comment above about one way that we could structure driving the tasks in a way that gives us a little bit of stopgap defense against DoS risk.  But after talking with @oxarbitrage about another piece of complexity involved in implementing this feature, I think that it might be better to take a different approach.

When a new block is mined and spreads across the network, we're li

[2020-11-18 23:11] yaahc commented on #1049
sounds good to me :D

[2020-11-18 23:11] #1049 closed, assigned to yaahc, teor2345

[2020-11-19 04:03] teor2345 commented on #776
We don't think compression is ever going to work well for sled, because we store lots of small keys.

RocksDB does compression at a block (database page) level, so it might work much better.

[2020-11-19 04:03] #776 closed, assigned to nobody

[2020-11-19 04:22] teor2345 opened #1326 "Reduce disk space with RocksDB compaction and compression"
**Is your feature request related to a problem? Please describe.**

RocksDB logs every write to a MANIFEST file, then replays them on load. Similarly, the write-ahead log can grow really large.
We should limit the size of the manifest file and write-ahead log file.
https://github.com/facebook/rocksdb/wiki/Speed-Up-DB-Open#manifest-replay

RocksDB does single-threaded compaction by default, but als

[2020-11-19 04:22] teor2345 commented on #776
I opened #1326 for RocksDB's compaction and compression.

[2020-11-19 04:24] teor2345 commented on #1181
We think this issue is fixed by the RocksDB change in #1325.

[2020-11-19 04:24] #1181 closed, assigned to hdevalence, yaahc

[2020-11-19 04:47] teor2345 opened #1327 "Use recommended RocksDB configuration for new projects"
**Is your feature request related to a problem? Please describe.**

The RocksDB developers recommend a number of non-default settings for new projects.

These settings aren't enabled by default, due to concerns about upgrading existing databases. So if we decide to make this change, we should make it before the first alpha release.

**Describe the solution you'd like**

Increase the block cache si

[2020-11-19 16:14] hdevalence commented on #1326
I don't think that compression will benefit us much, because most of our data (by weight) is already cryptographically random, and the small amount of data that isn't is largely inherited from Bitcoin, which already uses a custom space-efficient format.

On the other hand, compaction seems relatively more useful.

[2020-11-19 16:17] hdevalence commented on #1183
No, the error message indicates that there's an invariant being violated inside the peer set's selection logic.  I gave it a cursory look when this ticket was filed and didn't see anything obvious, but I haven't seen the error recently, so I think we should deprioritize fixing it until later unless it comes up again.

[2020-11-19 23:37] teor2345 opened #1334 "After network upgrade activation, reject new connections from outdated peers"
## Motivation

`zcashd` rejects new connections from outdated peers after a network upgrade activates.

Previously, the Zebra developers manually incremented the `CURRENT_VERSION` and `MIN_NETWORK_UPGRADE` version after each network upgrade activation.

But that's not an ideal solution, because it:
* causes node failures after a network upgrade activation, until the `CURRENT_VERSION` is incremente

[2020-11-19 23:48] hdevalence commented on #1334
Rather than implementing any special network upgrade disconnection logic, I think it would be much cleaner to (1) decline to connect to peers speaking the old protocol and (2) ensure that all network connections are short-lived by churning peer connections.  This is better because it avoids introducing extra modes into our network code.

[2020-11-19 23:50] hdevalence commented on #1334
xref https://github.com/ZcashFoundation/zebra/issues/706 with discussion on the above point

[2020-11-19 23:56] hdevalence commented on #706
Supporting arbitrarily few peers was a non-goal of the architecture of the peer set (and the network stack generally), which aimed to treat peer connections as "cattle, not pets" (regrettable phrasing notwithstanding). So although some users may want a small number of peers, we should not seek to support that use-case.

[2020-11-20 02:49] teor2345 commented on #1264
It looks like the `WrongVersion` error is incorrectly being thrown for v4 transactions.

[2020-11-20 18:04] hdevalence opened #1342 "Track the provenance of UTXOs"
**Is your feature request related to a problem? Please describe.**

One of the transaction consensus rules, whose previous implementation was removed in https://github.com/ZcashFoundation/zebra/pull/1340/commits/f607c9840aa2e37a14cb595fd6e9b9a1fa478850 , requires that transactions with transparent inputs which are the *outputs* of coinbase transactions must have no transparent outputs.  (The previ

[2020-11-20 18:06] hdevalence opened #1343 "Propagate errors from Metrics endpoint to FrameworkError"
**Is your feature request related to a problem? Please describe.**

The metrics endpoint should do an error conversion instead of `.expect`ing.

[2020-11-20 21:54] hdevalence opened #1345 "Reform data in <ScriptVerifier as Service>::Request"
**Is your feature request related to a problem? Please describe.**

Because of limitations of the `zcash_script` API, the requests made to the script verification service have to include the entire transaction, not just the unlock script, outpoint, and any other auxiliary data.  This means we duplicate work between script verification results, and provide the script verifier with more data than it

[2020-11-21 19:09] #1264 closed, assigned to dconnolly

[2020-11-21 19:35] hdevalence commented on #1345
I think we might need to do this to avoid a quadratic hashing problem; sometimes the current (well, current + #1348) code gets stuck on one core at 100%, then finishes and lets a whole bunch of blocks through.  Running `gdb --pid ...` and `thread apply all bt` shows a reference to `zebra_script` (but this is not hard evidence). It doesn't look like a data dependency issue, because eventually it ge

[2020-11-21 19:40] hdevalence commented on #1342
Here's the relevant structure in Zcashd (thanks @str4d for the pointer): https://github.com/zcash/zcash/blob/877212414ad40e37cf8e49884a90767c54d59ba2/src/coins.h#L23-L79

[2020-11-21 19:54] hdevalence commented on #1320
Blocked on #1348 which introduces a `PreparedBlock` type to pass this data.

[2020-11-21 19:59] hdevalence opened #1349 "Metrics regression: some metrics don't appear in the exporter"
**Version**

`main`

**Description**

After #1330 I noticed a problem where a bunch of metrics didn't show up. I'm not sure if it's connected, or a local misconfiguration on my part.

That change bumped the metrics version in order to pick up a new version of the exporter, because the old version used an old version of hyper that expected to run on the Tokio 0.2 runtime.  The new version builds it

[2020-11-21 23:26] hdevalence opened #1350 "Extreme CPU usage during sync"
**Version**

tip of #1348

**Description**

The sync proceeds normally but occasionally gets stuck, with a few cores pegged at 100% use while the rest are idle, before finally having a single core pegged at 100% until eventually making progress much, much later.  This pattern fits a scenario where some verification tasks take a very long time, and progress on tasks that depend on them can't occur

[2020-11-22 02:59] hdevalence opened #1351 "Interrupt handler does not work when a blocking task is running"
**Scheduling**

This usability issue is acceptable for the first stable release, but we should review for lightwalletd.

**Version**

`main`

**Description**

The interrupt handler does not work when the application is busy (i.e., when it is probably needed).  This is because the interrupt handler shares priority with the main application future, and futures do cooperative multitasking:

https://g

[2020-11-22 05:02] hdevalence commented on #1350
The body of `zcash_script_verify` is here: https://github.com/ZcashFoundation/zcash_script/blob/master/depend/zcash/src/script/zcash_script.cpp#L74-L104

In addition to deserializing the re-serialized transaction, it rebuilds `PrecomputedTransactionData` for every input. That constructor is here:
https://github.com/ZcashFoundation/zcash_script/blob/master/depend/zcash/src/script/interpreter.cpp#L1

[2020-11-22 11:44] daira commented on #1350
Is this pre- or post-Overwinter in the sync?

[2020-11-23 03:19] teor2345 commented on #1350
Zebra only verifies post-Sapling scripts.

(Pre-Sapling blocks are verified using a list of block hash checkpoints.)

[2020-11-23 03:24] teor2345 commented on #1349
I am also seeing these issues, they seem to affect (some) metrics which are updated within async blocks.

[2020-11-23 11:10] mpguerra commented on #1183
removing from Alpha release milestone based on the above, we can review this if it happens again

[2020-11-23 11:13] mpguerra commented on #884
What is left here for the Alpha release now?

I have removed #1183 from the Alpha milestone and #1182 is done.

Do we also want to implement the logging tickets?
How much of the testing (if any) has been done?

[2020-11-23 11:16] teor2345 commented on #1183
I've just seen this error on the main branch again

[2020-11-23 11:21] teor2345 commented on #1183
The panic happened on a Testnet sync, but there's nothing stopping it from happening on Mainnet. (The sync and network code doesn't distinguish between Mainnet and Testnet.)

I suspect that we haven't seen this error recently because it's been hidden by other errors that we've just fixed.

[code]

[2020-11-23 11:33] teor2345 opened #1357 "Panic on failed downcast from BoxError to redjubjub::Error"
**Version**

`zebrad` main branch, 2020-11-23.

**Platform**

`Linux ... 5.4.75 #1-NixOS SMP Thu Nov 5 10:43:38 UTC 2020 x86_64 GNU/Linux`

**Description**

When syncing Mainnet with `checkpoint_sync = true` around block 1018849:
1. Zebra panics due to a failed downcast from `BoxError` to `redjubjub::Error`
2. Using `panic!(e)` displays an unhelpful `<non string panic payload>` panic message

Note

[2020-11-23 11:41] teor2345 commented on #884
These bugs make testing really difficult:
* network panic #1183 - this panic still happens on the latest main branch
* tower-rs/tower#475 - the large number of redundant error logs make it difficult to see the Zebra log messages that are actually important

I still can't get Zebra to reliably sync to the tip. So we haven't done enough testing yet - we need to do a full sync after we've fixed all t

[2020-11-23 11:55] teor2345 commented on #884
@hdevalence said on discord that tower-rs/tower#475 is fixed by tower-rs/tower#484.

For some reason the ticket is still open.

[2020-11-23 12:21] teor2345 commented on #1357
Note: 1018849 is the second-last Mainnet checkpoint when `checkpoint_sync = true`. The last checkpoint is 1019249.

[2020-11-23 21:45] teor2345 commented on #1302
Some of these were done by @hdevalence recently, others aren't really a priority for the first alpha.

[2020-11-23 21:48] teor2345 commented on #1306
I think we need to implement this calculation in the state service, so we get a consistent point-in-time view of the best chain tip (and previous blocks).

If there's a chain reorg, we definitely don't want to send peers hashes from multiple side-chains.

Having the tip update while we're returning blocks might leave gaps, which could confuse peers.

[2020-11-23 22:39] hdevalence commented on #1212
I removed nightly clippy in #1358 because I ran into this problem again

[2020-11-23 23:34] hdevalence opened #1359 "Panic: unknown, non-string panic payload (from TransactionError downcast)"
**Version**

git after #1358

**Description**

Unknown panic:

[code]

[2020-11-23 23:37] hdevalence commented on #1359
Dupe of #1357

[2020-11-23 23:37] #1359 closed, assigned to hdevalence

[2020-11-23 23:40] hdevalence commented on #1357
This can be fixed as part of a fix for #1186; I think it would be good to fix now so that code we write has correct error types going forward.

I see this happening only several hundred thousand blocks after Sapling activation.

[2020-11-23 23:42] hdevalence commented on #1349
I think the best fix for this would be to do the rollback sketched above, but I think it might be slightly lower priority than other bugs that block the sync process, since it only affects observability.

[2020-11-23 23:48] teor2345 opened #1362 "Create a Go/No-Go Criteria Checklist for the first alpha"
Let's create a list of criteria for Zebra's first alpha release.

Our developer documentation is stored here:
https://github.com/ZcashFoundation/zebra/tree/main/book/src/dev

And linked from the summary doc at:
https://github.com/ZcashFoundation/zebra/blob/main/book/src/SUMMARY.md

[2020-11-24 00:13] teor2345 commented on #1277
It's fixed in the ZIPs.

[2020-11-24 00:13] #1277 closed, assigned to dconnolly

[2020-11-24 00:13] #1276 closed, assigned to dconnolly

[2020-11-24 01:04] daira commented on #1221
This was fixed in ZIP 1014 by https://github.com/zcash/zips/pull/419 .

[2020-11-24 05:48] teor2345 commented on #1186
Moved into the first alpha because it's causing a panic, see #1357 for details.

[2020-11-24 05:48] teor2345 commented on #1357
I've moved #1186 into the first alpha milestone.

[2020-11-24 06:18] #1342 closed, assigned to hdevalence

[2020-11-24 06:18] #1212 closed, assigned to nobody

[2020-11-24 06:40] teor2345 commented on #1304
We removed nightly clippy from our CI as part of #1212, but these lints are still relevant.

[2020-11-24 06:41] teor2345 commented on #1162
We're no longer creating a CoinbaseVerifier in #1166, so this ticket isn't blocked any more.

[2020-11-24 06:43] teor2345 commented on #683
No-one is working on this ticket at the moment

[2020-11-24 06:44] teor2345 commented on #924
We tried this strategy with nightly clippy, but ended up abandoning it, because it would show duplicate annotations in PRs, and show other kinds of failures.

[2020-11-24 06:45] teor2345 commented on #924
So I'm going to close this ticket until GitHub actions gets better at presenting allowed failures.

[2020-11-24 06:45] #924 closed, assigned to nobody

[2020-11-24 06:46] #1357 closed, assigned to hdevalence

[2020-11-24 06:59] teor2345 opened #1364 "Add a CI job which compiles each Zebra crate individually"
## Motivation

Sometimes we add code that needs a feature to a Zebra crate, then activate that feature in `zebrad`. But we forget to activate the feature in the crate that actually contains the code.

For an example, see PR #1365, where individual crates use features in their dependencies, but don't declare those features in their `Cargo.toml`.

## Design

- [ ] Build each Zebra crate individually

[2020-11-24 09:58] teor2345 opened #1367 "Transaction validation rejects post-Blossom transactions"
**Version**

`zebrad` main branch as of 2020-11-24.

**Description**

When I sync `zebrad` using `checkpoint_sync = true`, the TransactionVerifier fails almost immediately with the following errors:
* `InternalDowncastError("downcast to redjubjub::Error failed, original error:
 ScriptInvalid")`
* `RedJubjub(InvalidSignature)`
* `Ed25519(InvalidSignature)`

**Suspected Causes**

The sighash functio

[2020-11-24 10:03] #1183 closed, assigned to hdevalence

[2020-11-24 11:05] teor2345 opened #1372 "Handle duplicate block errors"
**Version**

`zebrad` main with all outstanding workaround PRs applied, including #1370 and #1371.

**Description**

As Zebra sync approaches the tip, it starts encountering duplicate block errors:
* sync: zebrad::components::sync: error extending tips: duplicate hash queued for download
* error downloading and verifying block: AlreadyInChain

Once these errors pass, the syncer gets into a loop wh

[2020-11-24 15:58] mpguerra commented on #1221
Thanks for the update! Closing...

[2020-11-24 15:58] #1221 closed, assigned to nobody

[2020-11-24 18:04] hdevalence commented on #1158
After working more with the spans, I think that my original concern is misplaced and that this is a good idea.

[2020-11-24 19:12] hdevalence commented on #1372
We should wait to examine this until after implementing block gossip (#1082, #1328), since the sync component is only supposed to be responsible for initial block sync, not ongoing gossip-based sync.  So the sync component exhausting tips and restarting isn't in itself a problem. But this behavior doesn't sound good, and should be investigated:

[2020-11-24 20:11] hdevalence commented on #1367
There are at least two errors here:

- the consensus branch ID is hardcoded
- the errors are being cast improperly

[2020-11-24 20:57] hdevalence opened #1377 "Check sighash parameters in transaction verifier"
**Version**

Git

**Description**

The sighash parameters in the transaction verifier are possibly incorrect and need to be checked.

[2020-11-24 22:53] #1367 closed, assigned to nobody

[2020-11-24 22:58] teor2345 opened #1378 "Test transaction verification on block test vectors"
## Motivation

We want to test the transaction verifier code on post-Sapling and post-Blossom blocks.

## Suggested Solution

There are two types of checks in the transaction verifier:
* semantic checks, which should be run on all the post-Sapling blocks in the mainnet and testnet `zebra_test` vectors
* contextual checks, which require previous UTXOs as inputs to the test

Contextual Testing Hint:

[2020-11-24 22:59] teor2345 commented on #1367
We didn't write any tests in the PR that closed this issue, so I opened #1378 for the tests.

[2020-11-25 01:30] teor2345 opened #1380 "Provide regular progress reports for committed blocks"
**Is your feature request related to a problem? Please describe.**

We want to provide regular progress reports for committed blocks in Zebra's logs.

These progress reports let users and developers see how Zebra is progressing, when they run Zebra:
* with the default logging config, and
* without using the metrics exporter.

We don't want to log every new block by default, because that produces t

[2020-11-25 01:47] teor2345 opened #1381 "Revise Zebra's logging and metrics based on a consistent design"
**Is your feature request related to a problem? Please describe.**

Zebra's log levels, spans, fields, and metrics have been added over time. They sometimes log duplicate data, or they're missing important data.

**Goals**

We should revise the content and levels of log messages so the default logs provide a good experience for users and occasional developers. These users should be able to see Zeb

[2020-11-25 02:58] str4d commented on #1381
It would also be nice if the general metrics were named and specified in a consistent impl-agnostic way; this would enable the same GUI to easily render metrics from both zebrad and zcashd.

[2020-11-25 03:52] teor2345 commented on #1381
I've added this to the goals

[2020-11-25 04:02] teor2345 opened #1385 "Validate the transaction merkle root and transaction uniqueness"
Zebra should validate the transaction merkle root during both checkpoint and block validation.

The chain of block header hashes ensures that the block headers are correct for each checkpointed block.
But we also need need to check the transaction merkle root before adding a block to the queue.

The queue rejects blocks with identical block header hashes, so we need to check for invalid transactio

[2020-11-25 04:52] teor2345 commented on #692
Reopening this issue because:
* we wanted the commit hash in the report metadata as part of #1072
* I've wanted the commit hash in the `zebrad` help message, so I could add the exact commit to my Zebra bug reports

[2020-11-25 04:59] teor2345 commented on #692
I've simplified the issue, and added the target triple, because it would actually be useful in bug reports from users.

[2020-11-25 06:27] teor2345 opened #1387 "Separate "any chain" and "best chain" state service functions"
## Motivation

It's really easy to confuse the "best chain" and "any chain" functions in the state service. (And probably also the non-finalized state.)

For example, the spec for `FindBlocks` says that we only use the best chain, but in #1347, we used a bunch of "any chain" functions.

It's hard for developers to tell the difference, because they need to read and remember the docs for each functi

[2020-11-25 07:03] teor2345 opened #1388 "Do a "latest network upgrade" cached block test"
**Is your feature request related to a problem? Please describe.**

Our Sapling cached block test is good for testing the block verifier, but it doesn't test the latest chain features.

**Describe the solution you'd like**

Run a cached block test on the latest network upgrade.
At the moment, that's Canopy for Mainnet and Testnet.
This is reproducing the stateful sync+verify to Canopy checkpoint a

[2020-11-25 07:19] teor2345 opened #1389 "Security: Handle gossiped blocks that are a long way ahead of the current tip"
**Is your feature request related to a problem? Please describe.**

In #1328, Zebra downloads and verifies blocks gossiped via `AdvertiseBlock` requests.

But these blocks can be a long way ahead of the local chain tip. If they are, they wait on:
- [ ] their range being added to the checkpoint queue,
- [ ] their parent being added to the non-finalized state queue, or
- [x] their UTXO requests from

[2020-11-25 07:25] daira commented on #1381
Seems like the best way to keep metric names in sync would be to write a ZIP about it.

[2020-11-25 10:34] mpguerra commented on #884
Can we move this out of Alpha Release milestone now that #1183 is closed?

[2020-11-25 18:30] hdevalence commented on #1381
I don't think that common metrics between Zebra and zcashd is a desirable goal.  Metrics are coupled to the design of the software, and those two nodes have radically different internal structures.  I also don't think that it's a good idea to provide any kind of stability promise about Zebra's metrics, because that stability promise would ossify the internal structure that those metrics record. So

[2020-11-25 18:46] str4d commented on #1381
I was not referring to the traces (though note that zcashd has these as well now). I was only referring to general metrics that are (for the most part) independent of implementation structure (such as block heights, time-to-validate histograms, current peer counts, etc).

[2020-11-25 19:00] hdevalence opened #1390 "Timeouts for UXTO lookup in script verification"
**Is your feature request related to a problem? Please describe.**

The state service API says explicitly that `AwaitUTXO` requests should be coupled with a timeout layer.  I didn't add this when I was testing and fixing the UTXO lookup code (#1348, #1358) because causing `zebrad` to hang on a failed dependency was useful for identifying cases where the code wasn't useful (and then inspecting exec

[2020-11-25 19:00] hdevalence commented on #1389
I believe we'll get the behavior we want as a side effect of other work we have to do (#1390).

[2020-11-25 19:29] hdevalence opened #1392 "Add tests for Bitcoin merkle root malleability behavior"
**Is your feature request related to a problem? Please describe.**

Bitcoin's transaction Merkle trees are badly designed, and suffer from malleability.  In #1386 we address this by:

- in the checkpoint verifier, explicitly checking that there are no duplicate transaction hashes;
- in the block verifier, the double-spend prevention blocks blocks with duplicate transactions from being accepted.

T

[2020-11-25 19:33] oxarbitrage opened #1393 "Follow up on `AdvertiseBlocks`"
**Is your feature request related to a problem? Please describe.**

In https://github.com/ZcashFoundation/zebra/pull/1328 we created a first version to handle `AdvertiseBlocks` messages. The solution was described in https://github.com/ZcashFoundation/zebra/issues/1082 as "to get something working" for the first alpha release and implement the alternative solution at a later time.

**Describe the

[2020-11-25 19:34] oxarbitrage commented on #1082
Closed by https://github.com/ZcashFoundation/zebra/pull/1328 and follow up to implement alternative solution now open at https://github.com/ZcashFoundation/zebra/issues/1393

[2020-11-25 19:34] #1082 closed, assigned to oxarbitrage

[2020-11-26 05:20] teor2345 opened #1397 "Rewrite `find_best_chain_hashes` to use hash indexes, not blocks"
**Is your feature request related to a problem? Please describe.**

`StateService::find_best_chain_hashes` fetches every block in the response, so it can calculate the block hash. But loading every requested block from disk could be really slow, particularly if the blocks are large, and lots of peers are sending `FindBlocks` or `FindHeaders` requests.

**Describe the solution you'd like**

1. Crea

[2020-11-26 05:43] teor2345 opened #1398 "Zebra hang - no sync progress"
**Version**

`zebrad` main branch, 2020-11-26.

**Platform**

`Linux ... 5.4.75 #1-NixOS SMP Thu Nov 5 10:43:38 UTC 2020 x86_64 GNU/Linux`

**Possible Causes**

- [ ] #1406 - UTXO hang on first finalized block

**Description**

When I run Zebra on mainnet and testnet, it sometimes fails to make progress during its initial sync. This failure to make progress persists after a restart.

In some cases

[2020-11-26 07:14] teor2345 opened #1399 "Write tests for `collect_chain_hashes`"
In PR #1347, we implemented the `FindBlocks` and `FindHeaders` inbound peer requests.

Most of the code is quite simple. The only complex function is `collect_chain_hashes`.

We should test `block_locator` and `collect_chain_hashes` against each other using proptests.

Each proptest should make sure that `collect_chain_hashes` obeys the protocol rules.
(See the assertions in `collect_chain_hashes`

[2020-11-26 07:20] teor2345 commented on #1398
I've moved this bug to the first alpha release because it's persistent, and it can cause a hang without any output.

These symptoms suggest that it might not be a temporary network bug -  so it could also affect mainnet.

[2020-11-26 10:48] teor2345 opened #1400 "Test that zcashd and Zebra can sync from Zebra"
Once we've merged GetBlocks and GetHeaders support #1347 , Zebra should be able to serve blocks to other nodes.

We should test that zcashd and Zebra can sync from genesis, using a fully synced Zebra.

This is a network integration test, so its out of scope for the first alpha. But it would be nice to make sure there isn't any really bad behaviour.

[2020-11-26 11:18] teor2345 commented on #1398
I have now seen this bug on mainnet as well.

[2020-11-26 11:49] mpguerra commented on #802
How much is there left to do on this for the Alpha release? We should move this out of the milestone once we have the Alpha release items done

[2020-11-26 23:45] teor2345 commented on #1389
I think #1390 addresses the UTXO case, but not the other internal queues.

See my detailed response in https://github.com/ZcashFoundation/zebra/pull/1391#issuecomment-734125763

[2020-11-26 23:53] teor2345 opened #1401 "Map UTXO request timeouts to a specific error type"
In #1391, we added a timeout to state UTXO requests in the transaction verifier.

In the first alpha release, these errors appear as `VerifyBlockError::Transaction(Elapsed)`, because the block verifier wraps all transaction verifier errors.

But we should wrap UTXO timeouts (and other UTXO errors) in a UTXO-specific error type, to make it easier to diagnose errors.

This change will be needed once

[2020-11-26 23:57] teor2345 commented on #1398
We think that this issue might be resolved by #1391, but we need to do further testing to confirm.

[2020-11-27 04:24] teor2345 commented on #1398
This issue isn't resolved by #1391, I am still seeing it on mainnet.

[2020-11-27 05:50] teor2345 opened #1402 "Duplicate hash queued for download error on testnet"
## Error
[code]

## Metadata
|key|value|
|--|--|
|**version**|3.0.0-alpha.0|

`zebrad` main branch 2020-11-27.

## SpanTrace and Full Logs

Click the triangle for details:
<details>

[code]

Recent logs:
[code]
</details>

[2020-11-27 23:21] oxarbitrage commented on #1310
Let me try to explain what i am trying to test and the issue a bit further. I will be showing some numbers of the mainnet hoping to be a bit clearer.

By protocol, before Blossom, the founder address change when the integer part of the floored division `height/founders_address_change_interval()` changes. Even more, the division result is the index of the addresses array, giving the exact address t

[2020-11-28 20:01] daira commented on #1310
You don't need to hard-code all the heights. You just need two loops, one for pre-Blossom and one for post-Blossom.

[2020-11-29 16:33] oxarbitrage commented on #1310
Except for the first change after blossom where the loop can't be incremented by `founders_address_change_interval()` or by `founders_address_change_interval() * 2`. So that case i think have to be hardcoded at least, i had it like that in a previous version of the test with the 2 loops and the special case in the middle, something as https://github.com/ZcashFoundation/zebra/blob/f040a3930953e61b0

[2020-11-30 03:03] teor2345 commented on #1393
This ticket is a duplicate of #1166, I've merged the extra information in this ticket into #1166.

[2020-11-30 03:03] #1393 closed, assigned to nobody

[2020-11-30 03:10] teor2345 commented on #724
We've implemented the UTXO set in the state service.

[2020-11-30 03:10] #724 closed, assigned to hdevalence

[2020-11-30 08:55] teor2345 opened #1406 "UTXO hang on first finalized testnet block"
**Version**

`zebrad` `main` branch 2020-11-30.

**Platform**

`Linux ... 5.4.75 #1-NixOS SMP Thu Nov 5 10:43:38 UTC 2020 x86_64 GNU/Linux`

**Description**

When I run `zebrad` on Testnet, it often fails to sync any blocks past Sapling. When it does sync blocks, it only syncs 99 blocks, then times out on the UTXO for the 100th block.

This error happens at block `356314` (finalized tip) and block

[2020-11-30 10:38] teor2345 commented on #802
The difficulty adjustment validation doesn't have any tests yet.

I have been prioritising fixing known bugs and errors over writing extra tests. If I get time, I'll write a few tests for this code. (There are other tests I'd like to do, but they will probably take more time than we have.)

This ticket already had a "lower-priority tasks" section. I've renamed it to "future releases", and moved mo

[2020-11-30 11:02] teor2345 commented on #1381
I think it's fine to have a naming standard that says something like:
"if you have this common metric, we recommend you give it this name"
... as long as there is no requirement to have any particular metric, and sufficient flexibility in the definition of each metric.

But I'm not sure how many common metrics we'd actually end up with.

For example, Zebra doesn't really have a concept of a per-bl

[2020-11-30 11:04] teor2345 commented on #884
What should we do about these first alpha testing tasks?

- Manually run Zebra on Mainnet to verify that the sync works after recent fixes
  - Optional: also run Zebra on Testnet

We're still making changes that might affect sync behaviour.

[2020-11-30 11:20] mpguerra commented on #1385
assigning to @hdevalence as he is working on this in #1386 already

[2020-11-30 11:32] mpguerra commented on #884
These sound to me more like ongoing checks that should be done by developers to validate their changes whenever they make changes to the sync code (or changes that may affect it) rather than finite one-time only tasks.

If these checks can't be automated my suggestion would be to add these to the PR template as a reminder for developers. Otherwise, if we can automate, let's create a ticket to impl

[2020-11-30 11:39] mpguerra commented on #1350
moving out of the First Alpha Release milestone as we have a workaround (#1360) in place for now

[2020-11-30 11:51] mpguerra commented on #1307
I'm going to move this off the First Alpha Release milestone.

As far as I can tell this doesn't affect the actual sync. Although it might mean we're not exactly a well behaving node by dropping the request, it seems like a reasonable enough action that would not otherwise adversely affect the network.

[2020-11-30 11:58] mpguerra commented on #1327
We should probably do this one soon given the potential future cost to upgrade.

Do we know what a good block cache size should be or do we need to investigate this one further?

Otherwise it seems like we can just take the other recommended values as given.

If we're not planning to do this before the First Alpha Release we should just close it.

[2020-11-30 13:37] daira commented on #1307
This is not ideal, but I don't think it will cause any harm to the network.

[2020-11-30 13:50] mpguerra commented on #1398
You mention that a restart doesn't fix this issue, what's the workaround for this? Deleting any pre-existing synced blocks and starting again from the beginning?

[2020-11-30 14:10] oxarbitrage commented on #884
I think it will be good to document somewhere(maybe in the main README) machine specifications to sync the mainnet up to current tip. This is recommended RAM, disk space, CPU, etc. With those specs we can document an estimated time to be in sync, something like "at the moment of writing, with the recommended specs, sync up to block XXXXX will take around XX time" This way developers and users can

[2020-11-30 14:40] mpguerra commented on #884
We have some similar details in #1374

[2020-11-30 15:24] oxarbitrage commented on #884
I see, sorry i didn't saw that. Thanks.

[2020-11-30 17:59] hdevalence commented on #1345
@yaahc and I discussed this last week and think that something like the following will work well:

1. Use a version of `zcash_script` backed by C++ code including this precomputation API by @str4d that allows creating a `PrecomputedTransaction` containing a deserialized `CTransaction` and `PrecomputedTransactionData`: https://github.com/str4d/zcash/commit/d94fe7678b49dce57c8a71ffe44b28d5b57eddd6

[2020-11-30 18:00] hdevalence commented on #1350
Yes, I think this issue should be closed entirely and we should have a new issue tracking script validation.

[2020-11-30 18:00] #1350 closed, assigned to nobody

[2020-11-30 18:01] hdevalence commented on #1402
I don't think there's any way to tell from these logs whether or not there's an issue with our code, or whether we received bad data from a peer and rejected it.

[2020-11-30 21:19] teor2345 commented on #1372
I'm not seeing these errors on Mainnet any more.

We should re-test to make sure they're not happening.

[2020-11-30 21:30] #1078 closed, assigned to oxarbitrage

[2020-11-30 21:30] #1079 closed, assigned to oxarbitrage

[2020-11-30 21:30] #1306 closed, assigned to yaahc

[2020-11-30 21:47] #1327 closed, assigned to nobody

[2020-11-30 21:51] teor2345 commented on #1327
We closed this issue because we want to use the default configuration for RocksDB, as much as possible.

Using the default configuration has these benefits:
* our bugs and issues are likely to be similar to most other users' issues
* the configuration we're using is well-tested in production scenarios

Changing configuration settings has these risks:
* we might introduce bugs and performance issue

[2020-12-01 00:04] teor2345 commented on #1398
Deleting blocks and re-syncing does not reliably resolve this issue. It seems to be based on network conditions and potentially peer state.

[2020-12-01 00:08] teor2345 opened #1409 "Mainnet zebrad ends up with a very small number of peers"
**Version**

`zebrad` main branch, 2020-12-01.

**Platform**

`Linux ... 5.4.75 #1-NixOS SMP Thu Nov 5 10:43:38 UTC 2020 x86_64 GNU/Linux`

**Description**

After syncing overnight, `zebrad` trails the tip by at least 100,000 blocks, and has a very small number of peers (4) on Mainnet. 3 of these peers are local peers that specifically whitelist connections from the local network.

**Detailed Logs

[2020-12-01 00:14] #906 closed, assigned to dconnolly

[2020-12-01 00:14] #1385 closed, assigned to hdevalence

[2020-12-01 02:23] teor2345 commented on #884
There isn't anything specific to be done for "testing on mainnet", so I removed those items, and moved this ticket out of the first alpha release.

[2020-12-01 02:25] teor2345 commented on #745
We've moved all of the remaining sub-tasks out of the first alpha release, so this ticket can move to the first stable release.

[2020-12-01 03:16] teor2345 opened #1413 "Implement header.time contextual validation"
**Is your feature request related to a problem? Please describe.**

Difficulty adjustment validation uses block times as inputs. These block times are supplied by miners, but constrained by consensus rules. Currently, Zebra doesn't implement the contextual time consensus checks, so we could end up following a chain with bad times.

**Describe the solution you'd like**

Implement the following `blo

[2020-12-01 03:24] teor2345 opened #1414 "Write tests for difficulty contextual validation"
In #1355, we implemented difficulty contextual validation, but didn't merge any tests.

Tasks:
- [ ] add Mainnet blocks 11-30 to `zebra_test`
- [ ] test difficulty contextual validation on blocks 0-30 on Mainnet
- [ ] add Testnet minimum difficulty blocks to `zebra_test`
- [ ] test on blocks `TESTNET_MIN_DIFFICULTY_START_HEIGHT-29 .. TESTNET_MIN_DIFFICULTY_START_HEIGHT+1` on Testnet
- [ ] test hea

[2020-12-01 08:13] rex4539 opened #1415 "Crash when syncing on macOS due to open file limit"
## Error
[code]

## Metadata
|key|value|
|--|--|
|**version**|3.0.0-alpha.0|
|**location**|/Users/rex/zebra/zebra-consensus/src/checkpoint.rs:889:18|

## Backtrace

<details>

[code]
</details>

[2020-12-01 08:13] rex4539 commented on #1415
[code]

[2020-12-01 08:51] rex4539 commented on #1398
I can reproduce.

[code]

[2020-12-01 16:00] #695 closed, assigned to nobody

[2020-12-01 16:03] #1001 closed, assigned to nobody

[2020-12-01 16:47] oxarbitrage commented on #1372
With current `main` branch in the Mainnet i got this error however the sync is still going after it:

[code]

[2020-12-01 17:03] mpguerra opened #1419 "Update zebra README with Alpha Release details"
**Is your feature request related to a problem? Please describe.**

When we release alpha we want any potential users to be aware of what the zebra alpha release does and doesn't do.

We also want people to know Zebra's system requirements.

**Describe the solution you'd like**
We should update the README with these details

**Describe alternatives you've considered**

Do nothing

**Additional con

[2020-12-01 20:28] rex4539 commented on #1398
[code]

[2020-12-01 21:07] teor2345 commented on #1415
@rex4539 thanks for this bug report!

~File limits are per-user, not per-process, so this crash might depend on the other processes you're running. Can you reproduce in a dedicated user account?~

Edit: file limits are per process:
https://developer.apple.com/library/archive/documentation/System/Conceptual/ManPages_iPhoneOS/man2/getrlimit.2.html

[2020-12-01 21:30] teor2345 commented on #1415
We probably want to set **max_open_files** in the RocksDB config - or provide a way for users to set it.
https://github.com/facebook/rocksdb/wiki/RocksDB-Tuning-Guide#general-options

The default value is **-1**, which means "unlimited":
https://docs.rs/rocksdb/0.15.0/rocksdb/struct.Options.html#method.set_max_open_files

Unix-based OS user defaults vary from 128-1024:
Linux 1024: https://serverfa

[2020-12-01 22:04] teor2345 opened #1421 "Change peer set log level when there is a large number of peers"
Tasks:
- [ ] log at info-level when the number of peers is below 16 (`zcashd` default), and debug otherwise
- [x] improve or delete the hint - #1428
  - [x] delete "configure fast peers", most users won't be able to do that
  - [x] add something about testnet, and checking the speed and reliability of your network connection

[2020-12-01 22:04] teor2345 commented on #1421
@hdevalence are these the peer logging changes you wanted?

[2020-12-01 22:19] teor2345 commented on #1304
@hdevalence and @yaahc seem to disagree about the best design here:

https://github.com/ZcashFoundation/zebra/pull/1412#pullrequestreview-542114902

https://github.com/ZcashFoundation/zebra/pull/1403#issuecomment-736036818

I don't have a particularly strong opinion here, and it's not urgent that we fix this.

[2020-12-01 23:04] hdevalence opened #1424 "Headers messages are rejected"
**Version**

Git post #1423

**Description**

After fixing reject message parsing, we can see many messages of the form:
[code]

[2020-12-01 23:10] yaahc commented on #1304
I did a little digging and I'm not even sure that it's possible to enable or disable clippy lints via `clippy.toml`, it seems to be only for configuration values for specific lints. We might have to use a `.cargo/config` to be able to do this.

[2020-12-02 03:18] hdevalence commented on #1304
OK, I have no strong feelings about this.

[2020-12-02 04:22] teor2345 commented on #1415
@rex4539 we think we've come up with an automatic solution to this issue, that should work on all unix-based OSes (including macOS).

Feel free to test or review PR #1246 ~~or wait until we've reviewed it and merged it to `main` over the next day or two.~~

Edit: we've merged #1426

[2020-12-02 04:41] teor2345 commented on #1398
We think this issue is closed by #1425

If it isn't fixed after #1425 merges, we should open a separate issue with newer logs

[2020-12-02 04:42] teor2345 commented on #1406
This issue might be closed by #1425, we should re-test after it merges

[2020-12-02 04:50] hdevalence commented on #1406
@teor2345 if you can reproduce this on testnet, after merging #1425 and #1423, would it be possible to run a sync with `filter = 'trace'` and save a complete execution trace?  It will likely be quite large, but we'd have the ability to trace exactly what data is causing the timeout.

[2020-12-02 05:30] teor2345 opened #1429 "Warn if the maximum number of peers would exceed the open file limit"
**Is your feature request related to a problem? Please describe.**

In #1850, we add a hard-coded limit on the number of open connections.

In #1426, we automatically adjust the maximum number of open files for Zebra. We use this number to limit the maximum number of files that the database opens, but we don't limit the maximum number of peers. (Which is the other major file descriptor user in Zeb

[2020-12-02 05:32] #1415 closed, assigned to nobody

[2020-12-02 05:33] teor2345 commented on #1415
We've merged #1426, please pull the latest `main` branch, and let us know how you go.

Feel free to re-open this issue if it happens again, and we'll tweak the limits.

[2020-12-02 06:11] hdevalence opened #1431 "collect_chain_hashes re-hashes blocks"
The implementation of `collect_chain_hashes` recomputes block hashes as it traverses the iterator: https://github.com/ZcashFoundation/zebra/blob/main/zebra-state/src/service.rs#L368

But the state already stores all of the relevant block hashes, so this computation is unnecessary.

[2020-12-02 06:23] hdevalence opened #1432 "Remove `zebra_state::Request::FindBlockHeaders`"
**Is your feature request related to a problem? Please describe.**

The `zebra_state::Request::FindBlockHeaders` request variant duplicates functionality of `Request::FindBlockHashes`, but adds more work, blocking the state queue from processing other requests.  Once the list of block hashes has been atomically computed, there's no need to atomically fetch all of the blocks to obtain their headers

[2020-12-02 06:57] teor2345 commented on #1431
This is a duplicate of #1397, now that the non-finalised state stores PreparedBlocks

[2020-12-02 06:57] #1431 closed, assigned to nobody

[2020-12-02 09:51] rex4539 opened #1433 "Crash during sync in color-spantrace due to an incorrect local path"
[code]

## Error
[code]

## Metadata
|key|value|
|--|--|
|**version**|3.0.0-alpha.0|
|**git commit**|0f3760ff|
|**location**|/Users/rex/.cargo/registry/src/github.com-1ecc6299db9ec823/color-spantrace-0.1.4/src/lib.rs:207:29|

## Backtrace

<details>

[code]
</details>

[2020-12-02 13:43] oxarbitrage opened #1435 "Peer connections hang temporarily or fail permanently"
**Analysis**

Peer connection failures can result in a slow sync, temporary sync hangs, or permanent sync hangs.

These failures can happen after network interruptions, or due to normal connection churn. They might also happen because Zebra's protocol state machine gets in an invalid or unrecoverable state.

**Next Steps**

Here are some things we could try:

- [ ] Run Zebra with a single local pe

[2020-12-02 14:03] mpguerra opened #1436 "Add severity labels for bug reports"
**Is your feature request related to a problem? Please describe.**

We have started to receive external bug reports and we don't currently have a good way to specify their severity, in particular when triaging or attempting to prioritize multiple bug reports.

**Describe the solution you'd like**

We should add new labels to the zebra github repo to specify the severity of a bug, e.g

- **Blocker*

[2020-12-02 16:21] mpguerra opened #1437 "Add priority labels to issues"
**Is your feature request related to a problem? Please describe.**

It can sometimes be hard to decide which issues to work on as we don't currently have a way to compare relative priorities of different issues in our zebra github repo.

**Describe the solution you'd like**

We should add priority labels to issues as they are triaged. A suggestion would be:

- **High**: issue is urgent and should

[2020-12-02 18:24] #1398 closed, assigned to nobody

[2020-12-02 18:24] #1409 closed, assigned to nobody

[2020-12-02 18:24] #1424 closed, assigned to nobody

[2020-12-02 18:27] hdevalence commented on #1433
@yaahc it looks like something's wrong with the backtraces here, since the backtrace has no information about the caller of `unwrap`.

[2020-12-02 18:31] hdevalence commented on #1397
Rather than making a second iterator, it seems like it would be better to change the existing iterator to have `Item=block::Hash` rather than `Item=Arc<Block>`.  Then there's no extra code, and users who need full blocks can just `.map` the hashes to blocks as required.

[2020-12-02 18:33] hdevalence commented on #1429
I'm not sure that `zebra-network` or `zebra-state` should have to have anything related to tracking open files.  That seems like an application issue.  The only reason it's a problem for us at all is that we aim to support MacOS, but many server applications don't have that constraint.

[2020-12-02 18:54] yaahc commented on #1433
This is just a raw backtrace so it shouldn't be discarding information, don't know what is going on there.

The location in the metadata at least caught it. The culprit is `color-spantrace` trying to resolve source files to include when printing a SpanTrace. This is an error that I haven't encountered before but it seems fine. I already had an error case to handle when a file isn't found. Apparent

[2020-12-02 18:56] yaahc commented on #1433
actually, nvm, I'm just gonna blanket ignore errors here, I don't think there are any io errors we could encounter here that we actually care about.

[2020-12-02 21:09] teor2345 commented on #1433
Good idea, different OSes might also return different errors for the same underlying filesystem issue.

[2020-12-02 21:24] teor2345 commented on #1435
Your logs say that you're using commit bfbc737b.

This looks like issue #1409, which is fixed by PR #1425 in a later commit b449fe93b2023ca5999dc4dd5ffa8e5c14c8e490.

Please pull the latest `main` branch, recompile, and relaunch Zebra. If the issue happens again, please re-open this ticket.

[2020-12-02 21:31] oxarbitrage commented on #1435
Yea, the PR was not merged when i started that test earlier today. Thanks, i will reopen if i see it again.

[2020-12-02 22:16] #1433 closed, assigned to nobody

[2020-12-02 23:11] teor2345 commented on #1406
I'll also want #1439, just making sure it passes tests now

[2020-12-02 23:23] oxarbitrage commented on #1435
I am seeing the same issue with an updated branch that includes https://github.com/ZcashFoundation/zebra/pull/1425

No response from the sync component after 30 minutes.

A restart fixes it.

*Click triangle to reveal logs* <details>
[code]
</details>

[2020-12-03 03:22] teor2345 commented on #1435
@oxarbitrage if you have a 10s of gigabytes of spare disk space, you can help us diagnose the issue using a trace log:

https://github.com/ZcashFoundation/zebra/issues/1406#issuecomment-736988338

If you don't have lots of disk space, using `filter = 'debug'` might help us diagnose the issue - the logs would be a lot smaller than trace.

[2020-12-03 03:24] teor2345 commented on #1406
Just updating this issue: I still haven't had a chance to do diagnostics, I need to implement #1413 first

[2020-12-03 03:26] teor2345 commented on #1437
We've been trying to follow the Rust issue labels and colours. Their priority labels are:
P-critical
P-high
P-medium
P-low

https://github.com/rust-lang/rust/labels?page=11&sort=name-asc

[2020-12-03 03:39] teor2345 commented on #1436
It's easy to confuse priority #1437 and severity (this ticket). Do we really need both?

We've been trying to follow the Rust issue labels and colours. Instead of bug severities, they have specific labels that describe the nature of the bug.

I suggest we start with these labels which are relevant to Zebra:

I-consensus 💥
Zebra breaks a consensus rule (the worst kind of bug)

I-crash
Zebra crashes

[2020-12-03 05:25] teor2345 commented on #1421
We can do the remaining tasks later

[2020-12-03 05:27] teor2345 commented on #1402
I think this is a symptom, not a specific bug. And #1372 lists this symptom along with other similar symptoms.

So we can work on this issue in #1372.

[2020-12-03 05:27] #1402 closed, assigned to nobody

[2020-12-03 05:32] teor2345 commented on #1419
I think we should also add system requirements to our Go/No-Go checklist, and the readme. They don't need to be very long, we just need to give people a little bit of guidance.

[2020-12-03 05:40] teor2345 opened #1445 "Move the difficulty filter into a `block::Header` method"
## Motivation

The difficulty filter check uses `<=`, and it's easy to get `<=` confused with `<`.

## Solution

Move the difficulty filter into a `block::Header` method

[2020-12-03 05:45] teor2345 opened #1446 "Rename state methods based on any chain or best chain"
## Motivation

The `StateService::chain` and `FinalizedState::chain` methods have confusing names:
* they will use any chain, but that's not clear from the name
* they return blocks, but we want to add iterators that return hashes (#1397)
* they have a similar name to `Iterator::chain`, but do a very different thing

Other methods also have confusing names, making it hard to write and review code

[2020-12-03 05:47] teor2345 commented on #802
I've created specific tickets for the remaining first alpha release work in this ticket, and moved it out of the milestone.

[2020-12-03 05:55] teor2345 commented on #1387
#1446 explains this better

[2020-12-03 05:55] #1387 closed, assigned to nobody

[2020-12-03 14:44] #1362 closed, assigned to mpguerra

[2020-12-03 14:51] mpguerra opened #1450 "Update System requirement guidelines section in README"
**Is your feature request related to a problem? Please describe.**

Our first alpha release should be able to run on a wide range of systems. We want to make this an explicit requirement for our first alpha release. However we still need to provide some guidelines on what the minimum system requirements should be for someone running zebra.

**Describe the solution you'd like**

We should define wh

[2020-12-03 21:30] oxarbitrage commented on #1435
I was able to find the problem in debug mode so i have some logs https://gist.github.com/oxarbitrage/d2369fd4e5abb24e683e5a6301fcc6ff#file-sync_debug_logs_mainnet-txt

I didn't researched much yet but one possibility is i am losing connection locally(my adsl change IP every 12 hours or so) and by the amount of `marking candidate as failed candidate.addr=` msgs in that log all candidates are blackl

[2020-12-03 21:51] oxarbitrage commented on #1435
Yea, it seems that is what is happening. I resumed and blocks are downloaded fine, then i closed my connection in purpose, while zebra is still running. Waited like 30 seconds and connected back, zebra was never able to download more blocks long after my connection was active again.

I have some logs for this too:

https://gist.github.com/oxarbitrage/916ed4d49db39116917ad6e938555e8e#file-sync_disc

[2020-12-03 22:00] oxarbitrage commented on #1435
Is the cut is short enough(tested a cut of 3-5 seconds) and there is no time to mark all the peers as failing then the sync will continue

[2020-12-03 22:59] oxarbitrage commented on #1435
The cut haves to be long(of at least 1 minute here) to actually be totally unrecoverable in the same session.

In a 1>minute cut sometimes i get this warnings long after the connection is restored:

[code]

They at least indicate something is going on with the network with default info level. In some other runs i am not seeing this warns, i suppose this can depend on the amount of time the connect

[2020-12-03 23:15] hdevalence commented on #1435
Hmm, I don't think that the failure of an existing connection causes a peer address to be put in the "failed candidates" list, that's a list of peers where the connection *attempt* failed.  (It's not a permanent rejection, it's just the lowest-preference for reconnection attempts).   The peer set will attempt to reconnect to peers it disconnected from, by waiting until they could no longer be conn

[2020-12-04 00:42] teor2345 commented on #1435
I'm also seeing this issue, it looks like my machine or router stopped allowing connections for a few hours this morning. When it came back up, Zebra reconnected to 1 peer, but has failed to reconnect to any other peers.

Edit: this is on testnet, so I should be seeing 5-20 active peers

[2020-12-04 00:44] #1413 closed, assigned to teor2345

[2020-12-04 01:03] teor2345 opened #1452 "Panic in tokio time wheel"
## Analysis

This looks like tokio-rs/tokio#2789, which seems to happen due to a race condition in the multithreaded runtime.

Some users have reported that it happens during shutdown, but from the logs, it looks like Zebra was just syncing with a small number of peers.

## Versions

`zebrad` commit ef7e91c3 on `main`, 2020-12-04 (#1443).

`zebrad` commit 548be51f in #1444, 2020-12-03.

This commi

[2020-12-04 02:50] teor2345 commented on #1406
I just saw this hang again, when transitioning from the checkpoint verifier to the block verifier on testnet.

[2020-12-04 02:59] teor2345 commented on #1452
I just saw this panic again about 20 minutes after sync reached the tip.

Based on my testing of #1453, it looks like tokio-rs/tokio#3080 (or a similar change) made these panics a lot more frequent for us.

[2020-12-04 03:02] teor2345 commented on #1406
Looking at the debug output, I'm not convinced this issue is due to UTXOs. It seems like a duplicate of #1435.

[2020-12-04 03:02] #1406 closed, assigned to nobody

[2020-12-04 03:03] teor2345 commented on #1435
I've just seen a Testnet Zebra rapidly lose all its peers, and never reconnect:

*Click triangle to reveal logs* <details>
[code]
</details>

[2020-12-04 03:31] rex4539 opened #1454 "Error: duplicate hash queued for download"
[code]

## Error
[code]

## Metadata
|key|value|
|--|--|
|**version**|3.0.0-alpha.0|
|**git commit**|c428cbb5|

## SpanTrace

<details>

[code]
</details>

## Backtrace

<details>

[code]
</details>

[2020-12-04 04:55] teor2345 commented on #1372
I'm seeing these errors a long way from the tip on testnet.

[2020-12-04 04:56] teor2345 commented on #1372
We might want to remove the spantrace - it makes the error seem much more serious than it actually is.

[2020-12-04 05:06] teor2345 opened #1457 "Add the network to Zebra logs and error reports"
**Is your feature request related to a problem? Please describe.**

When we're trying to diagnose Zebra issues from bug reports, we don't know what network Zebra is running on.

**Describe the solution you'd like**

Add the configured network to a debug-level log span, and the error report metadata.

**Describe alternatives you've considered**

We could ask the user who reported the bug, but that

[2020-12-04 05:06] #1454 closed, assigned to nobody

[2020-12-04 05:07] teor2345 commented on #1454
Looks like we already have a ticket for this error - see #1372.

Were you running Zebra on mainnet or testnet?

[2020-12-04 05:21] teor2345 commented on #1435
I've taken the triage off this bug, because we already triaged some of its duplicates into the first alpha

[2020-12-04 06:18] rex4539 commented on #1454
Mainnet

[2020-12-04 13:24] mpguerra commented on #1436
Severity should highlight how much impact a bug has on node functionality and is something that would be assigned by the engineers as they discover and/or triage bugs. A severity label shouldn't really change over time unless we find ways to mitigate an issue.

Priority is more about timing and scheduling and something that should probably be assigned by the project manager for an issue. Priority

[2020-12-04 20:33] yaahc commented on #1419
I created a draft PR for this based on my recent comment about the alpha in the zcash community forum as a starting point. feel free to suggest more details to add or push commits to the PR

[2020-12-04 20:45] yaahc commented on #1372
I can look into hiding it in the logs but I don't think we should get rid of it. I'm thinking maybe just don't show it in logs by default but always include it in the generated issue url.

Also it might be useful to drop the level on this span so that it gets included in the spantrace

[code]

[2020-12-04 21:29] teor2345 opened #1463 "Move the time max height activation check to NetworkUpgrade"
In #1444, we implemented block time contextual validation, which starts at a specific height on testnet.

We should move the height check to NetworkUpgrade, which has most of the other height checks.

[2020-12-06 05:51] rex4539 opened #1464 "Panic during contextual validation of a possible side-chain block"
## Analysis

This panic happened when downloading the gossiped block 1066452 (00000000002cfbf02a2fb58073c76a823a6dedcd219f12a96b1da6544a9fb044), with the tip at 1066451.

But it's possible that there were multiple tips, and these blocks were on different side-chains.

We use `best_height_by_hash` to find the iterator length, but we should use `any_height_by_hash`.

## Logs

[code]

## Error
[code]

[2020-12-06 21:08] teor2345 commented on #1464
Analysis:

This panic happened when downloading the gossiped block 1066452 (00000000002cfbf02a2fb58073c76a823a6dedcd219f12a96b1da6544a9fb044), with the tip at 1066451.

But it's possible that there were multiple tips, and these blocks were on different side-chains.

We use `best_height_by_hash` to find the iterator length, but we should use `any_height_by_hash`.

[2020-12-06 21:47] teor2345 commented on #1452
This bug also occurs on tokio 0.3.4, but a lot less frequently on my machine (20 minutes vs 72 hours).

[2020-12-06 21:51] oxarbitrage commented on #1435
Between each warn here is what i can get in a trace level:

*Click triangle to reveal logs* <details>
[code]
</details>

At around every 1 minute(connected or not connected) we get this one: https://github.com/ZcashFoundation/zebra/blob/main/zebra-network/src/peer_set/set.rs#L452 so we have a working loop but it seems that the demand signal at the following line is not working.

[2020-12-06 22:08] teor2345 commented on #1436
Thanks, that's helpful.

That also explains why the Rust project uses bug categories instead of severities. Since the severity doesn't change over time, we can categorise bugs by the specific impact they have on a node: consensus rule violation, crash, hang, panic, ...

[2020-12-06 22:27] teor2345 commented on #1464
Ambiguous method names are a root cause of this bug, we'll fix them in #1446.

[2020-12-07 03:32] rex4539 opened #1467 "Unable to restart sync after sleep"
Steps:
1. Put laptop to sleep.
2. Resume from sleep.

What happened:

[code]

Expected result:
Client finds peers and syncs.

[2020-12-07 03:45] teor2345 commented on #1467
Thanks for reporting this bug. It's probably a duplicate of #1435, because sleeping causes network disconnections.

Sleep can disconnect peers:
* immediately, because the TCP stack is shut down by the OS
* after the 2 minute Zebra peer keep alive timeout
* after the 2-30 minute TCP retransmit time-out (depending on the OS or TCP stack)

[2020-12-07 03:45] #1467 closed, assigned to nobody

[2020-12-07 08:54] rex4539 opened #1471 "Panic: ClientRequest oneshot sender must not be dropped"
[code]

## Error
[code]

## Metadata
|key|value|
|--|--|
|**version**|3.0.0-alpha.0|
|**git commit**|5b687f87|
|**location**|zebra-network/src/peer/client.rs:84:26|

## SpanTrace

<details>

[code]
</details>

## Backtrace

<details>

[code]
</details>

[2020-12-07 21:01] teor2345 commented on #1471
@hdevalence any insight into what's going on here?

[2020-12-07 21:41] mpguerra commented on #1450
let's remove this from the release criteria and just add to the README

[2020-12-07 21:48] teor2345 commented on #1471
We decided to fix this in the first alpha.

[2020-12-07 21:51] dconnolly opened #1474 "Make zebra-utils non-publishable"
It's full of developer and end-user scripts and tools, we don't want it to get accidentally published like other zebra-* crates.

[2020-12-07 22:00] mpguerra opened #1475 "Update instructions to download, build and run zebra alpha release"
**Is your feature request related to a problem? Please describe.**

We need to make sure our users can download, build and run the first zebra alpha release

**Describe the solution you'd like**

Let's update the instructions to build and run our alpha. We should have instructions for Linux, Mac and Windows.

**Describe alternatives you've considered**

Do nothing

**Additional context**

We can c

[2020-12-07 22:23] teor2345 commented on #1475
Notes:

Build time:
2-core CPU
7 GB of RAM
14 GB of SSD disk space

Runtime:
n2d-standard-4 (4 vCPUs, 16 GB memory)

https://docs.github.com/en/free-pro-team@latest/actions/reference/specifications-for-github-hosted-runners#supported-runners-and-hardware-resources
https://docs.github.com/en/free-pro-team@latest/actions/reference/specifications-for-github-hosted-runners#supported-runners-and-hardwa

[2020-12-08 00:03] teor2345 commented on #1475
30 GB to store the Mainnet blockchain

[2020-12-08 05:41] teor2345 commented on #1475
`cargo install --git https://github.com/ZcashFoundation/zebra.git --tag <release-tag>`

[2020-12-08 05:41] #1419 closed, assigned to yaahc

[2020-12-08 11:16] mpguerra commented on #1474
We also discussed adding a README to the zebra-utils directory during the zebra sync, do we still want to do this and, if so, shall we do it as part of this issue or create a new one?

[2020-12-08 11:27] mpguerra opened #1480 "Upload Zebra crates to crates.io"
We discussed doing this during the last zebra sync ~as well as starting all versions at 1.0.0-alpha~

[2020-12-08 16:07] mpguerra commented on #1364
Note to remove task from the release checklist once this issue is resolved

[2020-12-08 16:32] carllerche commented on #1452
We have a potential fix here: https://github.com/tokio-rs/tokio/pull/3229#pullrequestreview-546719912 Are you able to check this PR to see if it fixes your case?

[2020-12-08 23:43] teor2345 commented on #1471
I've documented this first alpha known issue in PR #1478

[2020-12-09 00:03] teor2345 opened #1482 "Add a README for checkpoint list generation"
**Is your feature request related to a problem? Please describe.**

We want to regenerate the checkpoint lists regularly, but there's nothing in the `checkpoint` directory that explains how to do that.

**Describe the solution you'd like**

Add a `README.md` to `zebra-consensus/src/checkpoint` that explains how to use the `zebra-checkpoints` binary from `zebra-utils`.

We should link to the existi

[2020-12-09 00:07] teor2345 opened #1483 "Add a README for zebra-utils"
**Is your feature request related to a problem? Please describe.**

We have a few utilities in `zebra-utils`, but it's hard to get an overview of what they all do.

**Describe the solution you'd like**

Add a `README.md` to `zebra-utils`, which explains what each utility does.

We should link to the existing `zebra-checkpoints` instructions at `book/src/dev/zebra-checkpoints.md`.

**Describe alter

[2020-12-09 00:08] teor2345 commented on #1474
We want to add a README to `zebra-consensus/checkpoint` that points to the `zebra-checkpoints` tool in `zebra-utils`. I opened #1482 to do that, because the tasks aren't really connected, and they don't conflict.

We didn't really talk about adding a README to `zebra-utils` itself, but it seems like a good idea. It's related to this ticket, but it can be done separately, so I opened #1483 to do th

[2020-12-09 00:22] #1450 closed, assigned to dconnolly

[2020-12-09 00:22] #1475 closed, assigned to dconnolly, teor2345

[2020-12-09 02:36] teor2345 commented on #624
We might actually want to add this to the spec, or get confirmation that it's an implementation detail of zcashd

[2020-12-09 06:07] teor2345 opened #1484 "Add a hint to the port conflict panic"
**Analysis**

The port conflict panic message is hard to understand, we should add a hint about changing the default port.

This change should be made with #1509, because they need similar hints.

**Version**

v1.0.0-alpha.0

**Platform**

Unknown

**Description**

it is syncing, after changing the default listen address

if you have zcashd occupying `8233` it just panics with `zebra_network::peer

[2020-12-09 06:15] teor2345 opened #1485 "Downgrade zebrad to 1.0.0"
We decided to change all the zebra crates to version 1.0.0, but we missed zebrad.

We might want to grep the whole git repository for 3.0.0, to make sure we haven't missed anything else.

[2020-12-09 06:29] rex4539 commented on #1485
https://github.com/ZcashFoundation/zebra/blob/85c7eea444a72b737dbd0920f07f01f5aa2a9b42/zebrad/Cargo.toml#L5

[2020-12-09 06:32] rex4539 commented on #1485
https://github.com/ZcashFoundation/zebra/blob/85c7eea444a72b737dbd0920f07f01f5aa2a9b42/Cargo.lock#L3329

[2020-12-09 06:32] rex4539 commented on #1485
https://github.com/ZcashFoundation/zebra/blob/85c7eea444a72b737dbd0920f07f01f5aa2a9b42/Cargo.lock#L3314

[2020-12-09 06:33] rex4539 commented on #1485
https://github.com/ZcashFoundation/zebra/blob/85c7eea444a72b737dbd0920f07f01f5aa2a9b42/Cargo.lock#L3292

[2020-12-09 06:34] rex4539 commented on #1485
https://github.com/ZcashFoundation/zebra/blob/85c7eea444a72b737dbd0920f07f01f5aa2a9b42/Cargo.lock#L3263

[2020-12-09 06:34] rex4539 commented on #1485
https://github.com/ZcashFoundation/zebra/blob/85c7eea444a72b737dbd0920f07f01f5aa2a9b42/Cargo.lock#L3250

[2020-12-09 06:34] teor2345 opened #1486 "Tune RocksDB memory usage"
**Analysis**

We think RocksDB is the major Zebra memory user.

Here is the RocksDB memory tuning guide:
https://github.com/facebook/rocksdb/wiki/Memory-usage-in-RocksDB

We probably want to add sprout and sapling anchors, and finish transaction validation, before we try to tune memory. Those changes will increase the database size, and change data access patterns.

Unbounded block queues can also

[2020-12-09 06:35] rex4539 commented on #1485
https://github.com/ZcashFoundation/zebra/blob/85c7eea444a72b737dbd0920f07f01f5aa2a9b42/Cargo.lock#L3246

[2020-12-09 06:35] rex4539 commented on #1485
https://github.com/ZcashFoundation/zebra/blob/85c7eea444a72b737dbd0920f07f01f5aa2a9b42/Cargo.lock#L3218

[2020-12-09 06:36] rex4539 commented on #1485
https://github.com/ZcashFoundation/zebra/blob/85c7eea444a72b737dbd0920f07f01f5aa2a9b42/Cargo.lock#L3187

[2020-12-09 06:36] rex4539 commented on #1485
https://github.com/ZcashFoundation/zebra/blob/85c7eea444a72b737dbd0920f07f01f5aa2a9b42/Cargo.lock#L3183

[2020-12-09 06:36] teor2345 commented on #1485
@rex4539 thanks, we'll probably just grep the whole repository for "3.0.0"

[2020-12-09 06:36] rex4539 commented on #1485
https://github.com/ZcashFoundation/zebra/blob/85c7eea444a72b737dbd0920f07f01f5aa2a9b42/Cargo.lock#L3145

[2020-12-09 06:41] teor2345 commented on #1480
We changed most crate versions to 1.0.0 in #1476, and we'll fix the remaining 3.0.0 versions in #1485.

What do you mean by "make cargo versions of Zebra crates"?
I'm not sure if we want to upload to crates.io until we have a stable release.

[2020-12-09 09:11] rex4539 commented on #1486
I would argue that `zebrad` uses less memory than `zcashd`.

<img width="1116" alt="Screen Shot 2020-12-09 at 11 10 06" src="https://user-images.githubusercontent.com/227442/101609110-3d29c480-3a0f-11eb-9a85-7c9ca3e93679.png">

[2020-12-09 09:27] rex4539 opened #1487 "Memory leaks"
Edit: are these spurious leaks reported by tools that don't understand Rust, or does `zebrad`'s memory usage grow without any limit?

<details>
0	Malloc	+1	1	00:56.870.865	zebrad	alloc::alloc::alloc::h8a2fd05f8c2cb40a

   0 libsystem_malloc.dylib _malloc_zone_malloc
   1 zebrad alloc::alloc::alloc::h8a2fd05f8c2cb40a /Users/rex/.rustup/toolchains/nightly-x86_64-apple-darwin/lib/rustlib/src/rust/lib

[2020-12-09 10:39] mpguerra commented on #1480
I didn't take more notes than that unfortunately but I think it was about uploading to crates.io.

Maybe whoever suggested it can add more details. This can definitely wait until we have a stable release

[2020-12-09 14:11] mpguerra opened #1489 "Review our security policy"
We should think about how we want to deal with security disclosures for zebra and to document this procedure.

Right now we just point people to security@zfnd.org.

[2020-12-09 14:24] mpguerra commented on #1489
Some tasks we might want to do:

- [ ] Create a SECURITY.md file - https://docs.github.com/en/free-pro-team@latest/github/managing-security-vulnerabilities/adding-a-security-policy-to-your-repository
- [ ] Link to this file from README

[2020-12-09 15:39] rex4539 commented on #1487
Super easy to reproduce on macOS using Instruments leak module.

[2020-12-09 16:01] rex4539 commented on #1487
<img width="1396" alt="Screen Shot 2020-12-09 at 18 01 18" src="https://user-images.githubusercontent.com/227442/101653908-8f3b0c00-3a48-11eb-94f8-c8068b3f8c90.png">

[2020-12-09 16:17] dconnolly commented on #1464
Looks like this is still occuring despite the change in #1465 ?

## Error
[code]

## Metadata
|key|value|
|--|--|
|**version**|3.0.0-alpha.0|
|**git commit**|75b5e10|
|**location**|zebra-state/src/service.rs:190:9|

## SpanTrace

<details>

[code]
</details>

## Backtrace

<details>

[code]
</details>

[2020-12-09 18:06] #1286 closed, assigned to dconnolly

[2020-12-09 20:59] oxarbitrage commented on #1484
We need to find out if the port we are going to bind is already in use. The sooner we do it is better as this is a fatal condition. Right now, the failure we see is deeply inside zebra-network. I think we should check and exit long before, somewhere around https://github.com/ZcashFoundation/zebra/blob/main/zebrad/src/commands/start.rs#L46

Next, how to do the check. I am unsure if there is an easy

[2020-12-10 00:17] nathan-at-least opened #1494 "Strange version in build error: `failed to compile 'zebrad v3.0.0-alpha.0 …'`"
**Version**

I have not succeeded in building `zebrad`, and I'm attempting to build the `v1.0.0-alpha.0` tag with `cargo install … --git …`.

**Platform**

[code]

**Description**

**Short Summary:** A build error refers to the crate as `zebrad v3.0.0-alpha.0 (https://github.com/ZcashFoundation/zebra?tag=v1.0.0-alpha.0#85c7eea4)` when using `cargo install --locked --git https://github.com/ZcashFou

[2020-12-10 00:26] yaahc commented on #1494
This is a known issue, we messed up the version number during the release, where the binary itself has the higher version number than intended. I think the plan is to just decrement the version though that might cause issues for users who have already `cargo install`ed a higher version, so we need to meet up as a team on monday to discuss the trade-offs and how to move forward with fixing the vers

[2020-12-10 00:31] nathan-at-least opened #1495 "Lockfile out of date? (-may be operator error / cargo confusion.)"
**Version**

`v1.0.0-alpha.0`

**Platform**
The output of `uname -a` (UNIX), or version and 32 or 64-bit (Windows)

[code]

**Description**

I tried this: `cargo build --locked`

I expected to see this happen: A build would proceed with the committed `Cargo.lock` unmodified.

Instead, this happened: Cargo complains that the lockfile needs to be updated.

Is this just my misunderstanding?

Does `--

[2020-12-10 00:45] teor2345 commented on #1464
Sentry is running commit 75b5e1081619592a76c52e1ec69330725ae4e31d, which forks from the main branch at #1458
5b687f878ab6d602285510a468fd448f18916064, but the fix for this issue is in #1465

Please update Sentry to use the latest main branch

[2020-12-10 00:45] #1464 closed, assigned to nobody

[2020-12-10 00:52] nathan-at-least opened #1496 "Build fails on Ubuntu 18.04: `error: /lib/x86_64-linux-gnu/libc.so.6: version 'GLIBC_2.32' not found`"
For Ubuntu 18.04 it looks like maybe `glibc` is too old (details below).

According to [Ubuntu Releases](https://wiki.ubuntu.com/Releases) It looks like `Ubuntu 18.04` is 2 "LTS" releases behind the most recent, 20.04 LTS. Is Ubuntu a target platform for zebrad? Is there a minimum version cutoff?

**Platform info and build failure transcript:**

[code]

**Question:**

I tried to dig in a bit, but

[2020-12-10 00:53] dconnolly commented on #1464
Thanks! My bad.

[2020-12-10 00:55] nathan-at-least commented on #1495
When I examine the lockfile diff I seems immediately relevant to https://github.com/ZcashFoundation/zebra/issues/1494 :
[code]

[2020-12-10 01:22] teor2345 commented on #1487
Are these spurious leaks reported by tools that don't understand Rust, or does `zebrad`'s memory usage grow without any limit?

[2020-12-10 01:24] teor2345 commented on #1494
Duplicate of #1485

[2020-12-10 01:50] teor2345 commented on #1495
Zebra's crates aren't published to crates.io, and you have `v1.0.0-alpha.0` checked out, so `cargo` shouldn't be able to see these version changes.

[2020-12-10 02:00] teor2345 commented on #1495
### Building a release using`cargo build`

I can reproduce the error you get using `cargo build --locked`.

Try these commands instead:
[code]

So there doesn't seem to be any particular issue in Zebra.
I just think the `cargo` documentation and error messages are unclear.

### Ignoring cargo configs and state

If you keep having issues, try ignoring any cached cargo state and configs:
[code]
Then

[2020-12-10 02:00] #1495 closed, assigned to nobody

[2020-12-10 02:09] teor2345 commented on #1496
Zebra does not have a supported platform policy yet, but our CI runs on `Ubuntu 18.04 / the latest LTS`:
https://github.com/ZcashFoundation/zebra#system-requirements

It looks like there are some `rustc` errors here, **what version of `rustc` are you using?**

Zebra doesn't have a minimum supported Rust version policy yet, but `v1.0.0-alpha.0` seems to need `1.48.0` or later:
https://github.com/Zc

[2020-12-10 02:14] yaahc commented on #1496
yea those errors don't seem related to glibc. I'd be extremely surprised if rust code can't be compiled on ubuntu 18.04. My guess is that this is an old rustc version as teor pointed out. Possibly because it was installed via apt instead of rustup?

edit: I see the glibc error. I thought this was all errors about proc macro expressions and const fns not being stable at first glance. I'm not as con

[2020-12-10 02:18] teor2345 commented on #1496
`const_fn` is a crate which is fetched by `cargo`:
https://crates.io/crates/const_fn

The `lib` and `.so` are added to crate names by Rust, based on platform library conventions.

The `const_fn` crate is a `secp256k1` build dependency:
[code]

Edit: this output is from `cargo-tree`

[2020-12-10 02:19] teor2345 commented on #1494
Updated tags to match #1485

[2020-12-10 02:32] dconnolly commented on #1496
When we build on Ubuntu 18.04, the GitHub Action environment has [this software](https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu1804-README.md) installed; things that may be relevant include:

- GNU C++ 7.5.0, 8.4.0, 9.3.0, 10.1.0
- Clang 6.0.0, 8.0.0, 9.0.0
- CMake 3.19.1
-  libc++-dev, libc++abi-dev

[2020-12-10 16:52] nathan-at-least commented on #1495
Thank you for the clear explanation. So it sounds like I assumed that:

[code]

-would do what in actually is accomplished by:

[code]

Thanks!

[2020-12-10 18:28] mpguerra opened #1501 "zebra v1.0.0-alpha.0 Usability study"
# Usability Testing Plan

## Purpose of test and research questions

We would like to understand how easy it is for a range of users (zcashd node operators, experienced "technical" users, developers) to build, install and run a zebrad node.

We would also like to understand any pain points and (both good and bad) surprises or otherwise unexpected behaviour when running zebrad and syncing to tip.

[2020-12-10 18:30] mpguerra commented on #1501
The description is still in progress but I figured I'd post it to get feedback early

[2020-12-10 21:00] nathan-at-least commented on #1494
Got it. Ok, there's no mystery left for me and I see the duplicate issue. I'll close this.

For posterity, the error message version came from the [Cargo metadata for `zebrad` in the `v1.0.0-alph.0` git tag](https://github.com/ZcashFoundation/zebra/blob/v1.0.0-alpha.0/zebrad/Cargo.toml#L5) and that was simply inconsistent with the intent for the release.

[2020-12-10 21:00] #1494 closed, assigned to nobody

[2020-12-10 21:04] nathan-at-least commented on #1496
@teor2345 thanks for the explanation as to how to track down the dependency.

I probably have a weird-ass setup, so I wouldn't prioritize this ticket highly until I circle back to this. Most likely culprit: I was attempting to build with `nix-shell -p clang`, yet `cargo/rustc` living in `~/.cargo`. Next cycle on this I'll just install the standard Ubuntu clang and avoid `nix` altogether, then I'll

[2020-12-10 21:06] nathan-at-least commented on #1496
Oh, also, thanks for the link to https://github.com/ZcashFoundation/zebra#system-requirements I had missed that and will pay attention there next time.

[2020-12-10 22:25] teor2345 commented on #1496
Since you're using Nix, this nix-shell file will probably do what you want:
https://github.com/ZcashFoundation/zebra/pull/1479/files

You might need to un-comment this line to get a clean cargo config and state:
[code]

[2020-12-10 22:25] #1496 closed, assigned to nobody

[2020-12-10 22:27] teor2345 commented on #1496
You might also want to use `nix-shell --pure` to get a clean environment.

Also, `libclang` and `clang` are separate packages in Nix.

[2020-12-10 22:44] teor2345 opened #1503 "Ask for exact commands and logs in our bug template"
## Motivation

Sometimes users forget to copy-paste the commands and logs they're seeing.

## Solution

Ask users to copy-paste their command line commands and logs in the bug report template:
https://github.com/ZcashFoundation/zebra/blob/main/.github/ISSUE_TEMPLATE/bug_report.md

[2020-12-11 00:22] teor2345 commented on #1501
Currently our build instructions include downloading Zebra.

Do we need to change "Obtain Zebra" to "Find Zebra"?

[2020-12-11 00:23] #1446 closed, assigned to nobody

[2020-12-11 00:27] teor2345 commented on #1486
`zebrad` and `zcashd` memory usage will depend on:
* what they are each doing at the time they are measured
* how they are each configured
* network speed
* open files limit (changes RocksDB memory usage)
* the OS
* debug/release builds
* missing checks and features in Zebra

So different users will probably get different measurements.

[2020-12-13 10:37] rex4539 opened #1508 "Improve log message for RocksDB LOCK file panic"
**Suggested Solution**

We should provide a better log message on LOCK file panics, to encourage users to check for other Zebra processes.

**Detailed Logs**

*Click triangle to reveal logs* <details>
[code]
</details>

## Error
[code]

## Metadata
|key|value|
|--|--|
|**version**|3.0.0-alpha.0|
|**git commit**|83e72bdd|
|**location**|zebra-state/src/service/finalized_state.rs:45:14|

## SpanTrace

[2020-12-13 10:39] rex4539 commented on #1508
~Deleting LOG and LOCK fixed this particular crash~ but now seeing https://github.com/ZcashFoundation/zebra/issues/1510

Edited to add: Please don't do this, it can corrupt your database

[2020-12-13 10:42] rex4539 opened #1509 "Add a hint to the "Address already in use" error"
**Suggested Solution**

Add a hint to the "Address already in use" error, like the hint in #1484

**Detailed Logs**

[code]

## Error
[code]

## Metadata
|key|value|
|--|--|
|**version**|3.0.0-alpha.0|
|**git commit**|83e72bdd|

## SpanTrace

<details>

[code]
</details>

[2020-12-13 10:47] rex4539 opened #1510 "Panic: called fail_with on already-failed connection state"
**Suggested Solution**

Stop calling `fail_with` on already-failed connection states.

**Detailed Logs**

*Click triangle to reveal logs* <details>
[code]
</details>

## Error
[code]

## Metadata
|key|value|
|--|--|
|**version**|3.0.0-alpha.0|
|**git commit**|83e72bdd|
|**location**|/Users/rex/rex4539-zebra-peer-set-debug/zebra-network/src/peer/connection.rs:403:13|

## SpanTrace

<details>

[code

[2020-12-13 10:49] rex4539 commented on #1508
Looks like my database has reached an inconsistent state. Will trash everything and start from scratch.

[2020-12-13 11:01] rex4539 commented on #1510
I keep getting this even after trashing all database.

*Click triangle to reveal logs* <details>
[code]
</details>

[2020-12-13 11:06] rex4539 commented on #1510
There was a stale zebrad process, which caused all the subsequent crashes. After I killed it, all is good.

[2020-12-13 13:29] oxarbitrage commented on #1509
~Duplicate of~ https://github.com/ZcashFoundation/zebra/issues/1484

Edit: not a duplicate, because it's possible to reach this error without reaching the panic in #1484.

[2020-12-13 15:22] oxarbitrage commented on #1510
I am not totally sure but i think that if we do a port already in use check before starting any networking process as suggested at https://github.com/ZcashFoundation/zebra/issues/1484#issuecomment-742046106 we can avoid this issue.

[2020-12-13 22:56] dconnolly commented on #1508
@rex4539 do you think the other remnant zebrad process keeping the lock on the db on disk is related to this? https://github.com/ZcashFoundation/zebra/issues/1510#issuecomment-743990429

[2020-12-13 23:10] rex4539 commented on #1508
Yes.

[2020-12-14 00:32] teor2345 commented on #1508
We should provide a better log message on LOCK file panics, to encourage users to check for other Zebra processes.

I'm not sure there's much else to do in this ticket.

[2020-12-14 00:43] teor2345 commented on #1484
Unfortunately, there's no reliable cross-platform way to check if a port is already in use. That's because different operating systems have different rules for port conflicts. And some OSes allow programs to open ports that never conflict.

We should also avoid trying to open the port early, closing it, then opening it for real. Because that can lead to a temporary failure due to the TCP retransmi

[2020-12-14 00:48] teor2345 commented on #1510
This panic happens due to a bug in `zebra-network`'s error handling. `zebra-network` should not be calling `fail_with` on already-failed connection states - it doesn't matter *how* the connection originally failed.

Fixing the misuse of `fail_with` will fix this bug, regardless of the initial cause. Detecting port conflicts earlier will only avoid one possible source of connection failures.

[2020-12-14 00:54] teor2345 commented on #1510
We should also check the other assumptions made by the inbound and sync services. We know there's at least one other bug where the network code handles connection state incorrectly: #1435 - peer connection permanent failure.

[2020-12-14 01:34] #1482 closed, assigned to nobody

[2020-12-14 01:34] #1483 closed, assigned to nobody

[2020-12-14 01:36] teor2345 commented on #1390
Closed by #1391.

[2020-12-14 01:36] #1390 closed, assigned to hdevalence

[2020-12-14 01:54] teor2345 commented on #1435
We just merged #1468, which should provide better diagnostics for this issue, and panics if our assumptions about the peer state machine don't hold.

[2020-12-14 02:13] teor2345 commented on #1452
I just opened #1511, and I'm testing it now.

We'll have a pretty good idea if it's better than tokio 0.3.5 after a few hours, and we'll know if it's better than tokio 0.3.4 after a few days. (Assuming there aren't any other panics in Zebra!)

[2020-12-14 03:27] #1452 closed, assigned to nobody

[2020-12-14 07:06] teor2345 commented on #1307
`zcashd` ignores missing blocks, but returns `notfound` for missing transactions:
https://github.com/zcash/zcash/blob/e7b425298f6d9a54810cb7183f00be547e4d9415/src/main.cpp#L5517

This means our block state machine needs to be modified.

[2020-12-14 07:11] teor2345 opened #1515 "Refactor zebra-network Bitcoin to Zebra protocol translation layer"
## Motivation

The Bitcoin to Zebra protocol translation layer is a bit of a mess, and a source of subtle bugs:
https://github.com/ZcashFoundation/zebra/blob/main/zebra-network/src/peer/connection.rs

It contains a lot of undocumented state, assumptions and invariants. And it's unclear if these assumptions match the `zcashd` implementation.

We should refactor the protocol translation into cleaner

[2020-12-14 07:33] rex4539 opened #1516 "Very slow sync"
Steps:
Start sync from scratch.

What happened:
At some point, sync started to go painfully slow.

[debug.log](https://github.com/ZcashFoundation/zebra/files/5687141/debug.log)

Expected result:
Sync is fast.

[2020-12-14 08:29] teor2345 commented on #1372
We've told users to ignore these errors in the README, so I disabled the issue URL in #1517

I think an info-level span would be too verbose. Instead, I included the hash in the error message in #1517

[2020-12-14 08:46] teor2345 commented on #1516
Duplicate of #1435

The logs show the same symptoms: many peer connections have failed, so Zebra only has 2 peers left. If you leave it running long enough, it should permanently fail.
[code]

[2020-12-14 08:48] teor2345 commented on #1516
(There isn't much extra info here, and I can't seem to get GitHub's duplicate issues to work, so I'm just going to close this issue.)

[2020-12-14 08:48] #1516 closed, assigned to nobody

[2020-12-14 08:49] teor2345 commented on #1435
A similar bug was reported in #1516, with very slow syncing and only 2 peers.

Here is the [debug log](https://github.com/ZcashFoundation/zebra/files/5687141/debug.log)

[2020-12-14 09:14] teor2345 commented on #1516
Please re-test with the latest Zebra `main` branch, we've merged the #1468 peer diagnostics and #1511 panic fix since then.

[2020-12-14 09:50] mpguerra commented on #1486
Do we want to investigate this further or close it out for now?

[2020-12-14 10:03] teor2345 commented on #1220
The code was merged into the first alpha, but we still don't have tests

[2020-12-14 10:08] teor2345 commented on #972
The merkle tree implementation tests transaction hashes, and the comment has been deleted.

[2020-12-14 10:08] #972 closed, assigned to nobody

[2020-12-14 17:14] rex4539 commented on #1435
Another case.

*Click triangle to reveal logs* <details>
[code]
</details>

[2020-12-14 21:37] teor2345 commented on #1486
I don't think we can do anything about this issue right now.

[2020-12-14 21:45] #1503 closed, assigned to nobody

[2020-12-14 22:30] #1463 closed, assigned to nobody

[2020-12-15 01:21] #1485 closed, assigned to oxarbitrage

[2020-12-15 08:32] teor2345 commented on #1486
PR #1523 will help us monitor Zebra's memory usage over time, in a consistent environment.

[2020-12-15 08:33] teor2345 commented on #1487
PR #1523 will help us monitor Zebra's memory usage, to make sure that we don't have any large memory leaks.

[2020-12-15 22:12] teor2345 opened #1527 "Disable issue URLs at the point that errors are created, rather than in the handler setup"
## Motivation

I think the pattern of doing .contains to match on error variants that we're getting into is a sign that we need better support for this kind of dynamic filtering.

## Solution

I think it might be appropriate to add a feature for disabling issue reporting at the point of creation, something like this...

[code]

That way we don't need to keep doing string comparisons for filtering

[2020-12-16 04:47] teor2345 opened #1530 "Re-enable post-Sapling testnet sync tests"
## Motivation

We want to re-enable the testnet post-Sapling sync tests, once their disks have synced.

## Solution

Modify the relevant GitHub actions files.

## Related Tickets

Follow-up from #1529.

[2020-12-16 23:14] dconnolly opened #1533 "Investigate: revert PRs that cause repeated CI failures"
We want to keep #main stable at all times. When post-merge tests are sufficiently stable, any failures should trigger actions that make it easy (or automatic?) to revert the HEAD of #main to the last good version.

## Options
* design our own bot that opens a PR for failed merges, ideally with some of the failure log output
* use bors to do automatic rollups and merges

[2020-12-17 22:12] dconnolly commented on #1530
Closed with https://github.com/ZcashFoundation/zebra/commit/3266265f7ffd6217e6174b8b9c8c7f89c336c51b

[2020-12-17 22:12] #1530 closed, assigned to dconnolly

[2020-12-17 22:34] dconnolly commented on #290
This may be already resolved with https://github.com/ZcashFoundation/zebra/blob/main/zebra-chain/src/sapling/tree.rs and  https://github.com/ZcashFoundation/zebra/blob/main/zebra-chain/src/sprout/tree.rs

[2020-12-18 03:18] #1345 closed, assigned to nobody

[2020-12-19 23:16] teor2345 commented on #1452
I've been running `zebrad` for about a week, and I haven't seen any of these panics. So it looks like they're fixed.

[2020-12-19 23:20] teor2345 opened #1539 "Update to tokio 0.3.6 and remove git dependency"
Tokio 0.3.6 contains a fix to #1452 / tokio-rs/tokio#2789, so we don't need a git dependency any more.

[2020-12-21 04:32] str4d commented on #1381
I grepped the `zebrad` codebase a while back for the metrics it defines, and this is the subset that I could see how to apply to `zcashd`:

- `block.verified.block.height` gauge
- `block.verified.block.count` counter
- `sync.downloaded.block.count` counter
- `sync.verified.block.count` counter
  - In `zcashd`'s case these two are almost always in lockstep, as we validate blocks and update the chai

[2020-12-22 03:44] daira commented on #1381
Also the total numbers of commitments and nullifiers for Sprout and Sapling.

[2020-12-24 10:41] str4d commented on #1381
Also relevant: the `metrics` crate transforms metrics labels into the Prometheus format by replacing `.` with `_`, so we may want to look at the [Prometheus naming style-guide](https://prometheus.io/docs/practices/naming/) for suggestions on renaming. For example:
- `net.read.bytes_total`
- ~~`pool.sapling.value.zatoshis_total`~~
  - The `.total` / `_total` suffix should only be used with accumula

[2021-01-03 20:53] rex4539 opened #1549 "Change the default data directory for macOS from "Caches" to "Application Support""
The defacto folder to store application data on macOS is `~/Library/Application Support/`.

`Caches` is a dangerous place to store permanent data because the `Caches` folder is sort of a temp folder. There are many macOS utilities that even periodically flush the `Caches` folder in order to save disk space.

[2021-01-03 21:59] rex4539 commented on #1510
Got this again.

### Logs

*Click triangle to reveal details* <details>
[code]
</details>

### Panic
[code]

### Detailed Backtrace
<details>
[code]

[2021-01-04 03:22] teor2345 commented on #1381
I've added "consistent names" to the goals.

[2021-01-04 03:25] #1307 closed, assigned to nobody

[2021-01-04 03:41] teor2345 commented on #1549
Zebra only stores cached state in the Caches directory. This state can be re-synchronised from other nodes if it's deleted.

This is consistent with Apple's definition of "Caches":

Here is Apple's definition of "Application Support":

https://developer.apple.com/library/archive/documentation/FileManagement/Conceptual/FileSystemProgrammingGuide/MacOSXDirectories/MacOSXDirectories.html

Zebra doesn

[2021-01-04 04:13] teor2345 commented on #1510
We're actively working on this code at the moment:
* I just merged some nearby fixes in #1518
* "Stop ignoring errors when the new state is AwaitingRequest" (97137259ad35d6ecaa5231794373fb9a47e3d702) in #1531 fixes one potential cause of this issue

[2021-01-04 21:28] str4d commented on #1381
We also need to be careful to not use `.total` (aside from accumulating counters), `.sum`, `.count`, or `.bucket` suffixes (or their `_*` variants), as [these have special meaning in Prometheus](https://www.robustperception.io/on-the-naming-of-things).

[2021-01-04 21:48] teor2345 commented on #1549
We spoke about this change in the team meeting today, and decided to leave the default as it is.

If users don't have a lot of disk space, are on a slow network, or want to preserve the block cache, they can change Zebra's default cache directory in its config.

For example:

In `/Users/me/Library/Preferences/zebrad.toml`:
[code]

Then run `zebrad start`, and it will automatically read the config.

[2021-01-04 21:48] #1549 closed, assigned to nobody

[2021-01-04 22:35] str4d commented on #1381
Ethereum has an EIP collecting common Prometheus metric names, to help node operators monitor clusters of heterogeneous nodes: https://eips.ethereum.org/EIPS/eip-2159

[2021-01-05 03:09] teor2345 opened #1551 "Make heartbeats wait for the connection queue to empty, with a timeout"
**Is your feature request related to a problem? Please describe.**

In #1531, we fixed a bug where a heartbeat would wait forever for the request sink to be ready:
https://github.com/ZcashFoundation/zebra/pull/1531/files#diff-558ef42996967fa2dcffe0d47a6959571254ec41db7d9b0d26d7c3e240feadacR491

Instead, we made heartbeats close the connection if the queue is full. But this results in more connecti

[2021-01-05 03:16] teor2345 commented on #1435
We think #1531 will fix most of these issues - once it's merged we'll close this ticket.

Any new hangs should have separate tickets - ideally based on the part of Zebra that's hanging.

[2021-01-05 04:50] teor2345 opened #1552 "Limiting fanouts to the number of live peers"
**Description**

I tried this:

1. Launch and sync a Zebra instance to the tip
2. Launch another ephemeral Zebra instance, with the first Zebra in the `initial_mainnet_peers`

I expected to see this happen:

The new Zebra asks the old Zebra for its initial blocks once.

Instead, this happened:

The new Zebra asked the old Zebra for the same initial blocks 3 times.

**Analysis**

It is likely that

[2021-01-05 10:37] mpguerra opened #1555 "inbound message"

[2021-01-05 10:38] mpguerra commented on #1555
opened by mistake

[2021-01-05 10:38] #1555 closed, assigned to nobody

[2021-01-05 10:46] mpguerra commented on #889
Adding #1027 to this Epic

[2021-01-05 10:48] mpguerra commented on #884
adding #862 to this epic

[2021-01-05 11:41] mpguerra opened #1556 "Tracking: Zebra as a Full-Node Wallet"
Tracking issue for `zebra-client` work i.e zebra as a full-node wallet as described in the `zebra-client` [RFC](https://github.com/ZcashFoundation/zebra/blob/main/book/src/dev/rfcs/0009-zebra-client.md)

[2021-01-05 14:31] mpguerra commented on #1501
We've undertaken 2 separate usability studies based on this plan.

We will discuss findings and create issues based on those items we wish to develop further.

[2021-01-05 21:31] teor2345 commented on #884
That ticket modifies the state service interface, which impacts sync and verification. So it doesn't really belong in sync correctness.

The state service cleanup in #1302 might be a better place for it.

[2021-01-05 21:33] teor2345 commented on #889
We usually edit the description and add a checkbox for new tasks.

Is there an automatic way to see when tickets are completed?

[2021-01-05 22:26] teor2345 commented on #985
I haven't seen this failure in months, so I think we can close this ticket without making any changes.

[2021-01-05 22:26] #985 closed, assigned to nobody

[2021-01-05 22:28] teor2345 commented on #297
Duplicate of #338.

[2021-01-05 22:28] #297 closed, assigned to nobody

[2021-01-05 22:44] #1027 closed, assigned to nobody

[2021-01-06 01:13] teor2345 commented on #1435
Testing shows that #1531 doesn't fix this issue

[2021-01-06 06:46] teor2345 opened #1557 "Split up the large files and functions in zebra-network"
Some of zebra-networks files and functions are quite large.

The large functions would be easier to understand if they were refactored into separate functions. Some of the large files might also be easier to understand if they were split.

Let's try to split these large and complex functions:
* `Handler::process_message`: https://github.com/ZcashFoundation/zebra/blob/main/zebra-network/src/peer/co

[2021-01-06 21:07] #1471 closed, assigned to hdevalence

[2021-01-06 21:07] #1510 closed, assigned to teor2345

[2021-01-06 22:00] teor2345 opened #1559 "Sync service hangs, but inbound service continues to answer requests"
**Version**

`zebrad 1.0.0-alpha.0` + PR #1531 (commit 13eb4a615a6cb29cfb3a2d0808d33d7d64b3248f)

**Platform**

`Linux ... 5.4.83 #1-NixOS SMP Fri Dec 11 12:23:33 UTC 2020 x86_64 GNU/Linux`

**Description**

Around block `419581`, `zebrad`'s sync service stops producing log output, but the inbound service continues to log requests.

I tried this:

Running `zebrad start` on mainnet with an empty st

[2021-01-07 10:58] mpguerra commented on #889
Will do that

We can also just do this in Zenhub in addition to or instead of the checkbox. This is some extra info you can see if you are using Zenhub:

![Screenshot 2021-01-07 at 11 56 33](https://user-images.githubusercontent.com/1311133/103884908-88eb8e80-50df-11eb-8752-f00afecfd07f.png)

[2021-01-07 20:43] yaahc commented on #1349
I'm betting good money on this being the culprit

[code]

There are actually quite a few duplicates in our dependency tree. I'm gonna start with trying to unify the metrics dependencies and then I'll probably go ahead and clean up as many duplicates as I possibly can.

[2021-01-07 21:57] dconnolly opened #1562 "Read spec and encode into tickets the Canopy-specific tweaks."
<fill in here>
https://zips.z.cash/protocol/protocol.pdf

[2021-01-07 22:00] dconnolly opened #1563 "Read spec and encode into tickets the Heartwood-specific tweaks."
Any consensus changes in the spec through Heartwood not already enumerated in our issues.

https://zips.z.cash/protocol/protocol.pdf

[2021-01-07 22:05] teor2345 opened #1564 "ZIP-211: Disable Addition of New Value to the Sprout Value Pool"
## Motivation

The Canopy network upgrade disables addition of new value to the sprout value pool:
https://zips.z.cash/zip-0211

### Consensus Rules

https://zips.z.cash/zip-0211#specification

A similar rule exists in:
https://zips.z.cash/protocol/protocol.pdf#joinsplitdesc

## Solution

Implement https://zips.z.cash/zip-0211, rejecting attempts to add new value to the sprout value pool in the tr

[2021-01-07 22:06] dconnolly opened #1565 "Enable ZIP-215: Ed25519 Validation Rules"
## Solution

We need to upgrade our version of ed25519-zebra to use the validation rules in ZIP-215 and actually validate the Sprout Ed25519 signatures for full Sprout validation.

https://zips.z.cash/zip-0215

This involves pulling in the latest version of ed25519-zebra, checking that our async `Verifier` is well tested against the new rules, and making sure this validation is done by default on

[2021-01-07 22:27] teor2345 opened #1566 "Design: Testing Post-Sapling Validation on Short Chains"
### Design Goals

We need to work out how to test post-Sapling contextual validation.

### Context and Problem Space

Currently, our post-Sapling contextual validation tests can only be run on a state that's synced up to Sapling activation, because the non-finalized state asserts that all blocks it receives are after Sapling activation.

But that makes it really difficult to write tests, because i

[2021-01-08 05:15] teor2345 opened #1567 "ZIP-221: Block Header Chain History Commitment"
This implementation is done, it just has tests left.

**Is your feature request related to a problem? Please describe.**

The Heartwood network upgrade changes the meaning of the `Commitment` block header field:
https://zips.z.cash/zip-0221

**Describe the solution you'd like**

- [x] Design for Block Header Chain History Commitment (#2091)
- [x] Open implementation tickets
- [x] Implement the `Ch

[2021-01-11 07:39] teor2345 opened #1574 "Spurious MustUseOneshotSender panic on zebrad shutdown"
**Version**

`zebrad 1.0.0-alpha.0`

Commit a4182846 "Create the global span immediately after activating tracing" from PR #1568

**Platform**

`Linux ... 5.4.83 #1-NixOS SMP Fri Dec 11 12:23:33 UTC 2020 x86_64 GNU/Linux`

**Description**

`zebrad` can panic with a spurious `MustUseOneshotSender` panic on shutdown.

I tried this:

Shutting down `zebrad` using Control-C (SIGINT)

I expected to see

[2021-01-11 08:22] teor2345 opened #1575 "Global span doesn't appear on some early spawned tasks"
**Description**

In PR #1568, the global commit and network span doesn't appear on the `add_initial_peers` or `listen` log messages.

This is a very minor bug, it will only be an issue if those functions log warnings, and we don't have any of the surrounding log messages for context.

**Commands**

`zebrad start` using a debug build and the default config

**Logs**

[code]

[2021-01-11 08:36] teor2345 opened #1576 "Spurious checkpoint verifier JoinError panic on zebrad shutdown"
**Version**

`zebrad 1.0.0-alpha.0`

Commit a4182846 "Create the global span immediately after activating tracing" from PR #1568

**Platform**

`Linux ... 5.4.83 #1-NixOS SMP Fri Dec 11 12:23:33 UTC 2020 x86_64 GNU/Linux`

**Description**

`zebrad` can panic with a spurious `commit_finalized_block should not panic: JoinError::Cancelled` error in the checkpointer on shutdown.

I tried this:

Shutti

[2021-01-11 21:45] dconnolly commented on #755
This is _mostly_ about implementing our release/tagging protocol we ran for our first alpha release, so that it can be repeated reliably by a human triggering a GitHub workflow as part of a team meeting.

[2021-01-11 21:46] #1457 closed, assigned to nobody

[2021-01-11 22:09] dconnolly opened #1580 "Handle mdbook dep as part of Cargo.toml deps"
So that Dependabot can pick up new versions including security fixes.

[2021-01-11 22:18] teor2345 opened #1581 "RFC: Write a plan for Zebra Consensus Failure"
## Motivation

We want to write a plan for how we'll deal with a Zebra consensus failure, and maybe other security issues.

We'll need this plan when users start relying on Zebra.

## Tasks

- [ ] write a RFC about Zebra consensus failure
- [ ] move the final RFC to the Zebra Book
- [ ] maybe look at the tor security process - *add link*
- [ ] follow up on the ECC offer to share security issues  -

[2021-01-11 23:10] dconnolly commented on #1222
Maybe this work will scale out / let us deploy zebra nodes on testnet too

[2021-01-11 23:22] #1474 closed, assigned to dconnolly

[2021-01-11 23:30] teor2345 commented on #1304
We've taken a best-effort approach to nightly clippy lints - if a developer wants to use nightly, they can submit a PR to fix or disable any new lints.

[2021-01-11 23:30] #1304 closed, assigned to nobody

[2021-01-12 01:50] yaahc opened #1582 "Create test to catch duplicate dependencies"
## Is your feature request related to a problem? Please describe.

[Recently][1] we found a regression in our metrics system in `zebrad`. The issue ended up being that we'd accidentally duplicated the `metrics` dependency during a recent refactor. The crates on the old version would silently fail to access the exporter when reporting metrics because the variable containing the exporter was duplica

[2021-01-12 02:28] #1349 closed, assigned to yaahc

[2021-01-12 11:04] mpguerra commented on #589
This seems like something that should live in a pre-release or go/no-go checklist. e.g "new release version should be able to load previous block chain state"  - regardless of whether they are done automatically or manually

[2021-01-12 20:15] teor2345 commented on #587
We automatically do these tests for every commit now.
(Except for commits that change the state version, which ignore previous state by design.)

[2021-01-12 20:15] #587 closed, assigned to nobody

[2021-01-12 20:16] teor2345 commented on #589
We automatically do the tests in #587 for every commit, so we don't need to do them manually before a release.

[2021-01-12 20:16] #589 closed, assigned to nobody

[2021-01-12 20:37] #1539 closed, assigned to nobody

[2021-01-12 22:24] teor2345 commented on #1582
This looks good.

Once we have a potential contributor, let's schedule the mentoring and review work as part of our sprints?

[2021-01-13 00:17] sepiropht commented on #1582
i know some rust but never done crypto before, can i contribute ?

[2021-01-13 00:38] yaahc commented on #1582
Absolutely!

[2021-01-13 01:04] sepiropht commented on #1582
Ok cool i take it !

[2021-01-13 01:24] sepiropht commented on #1582
I just have to follow all the check listed above ?

[2021-01-13 08:04] yaahc commented on #1582
Yup, and let me know if you have any questions.

[2021-01-13 11:09] teor2345 commented on #1582
@sepiropht try to focus on the "MVP Checklist" first.

The "Additional Goals" can wait until later.

[2021-01-14 00:07] teor2345 commented on #897
@dconnolly just a reminder to split this issue into tickets so we can estimate it.

[2021-01-14 01:46] #1559 closed, assigned to teor2345

[2021-01-14 04:03] teor2345 opened #1590 "Verification pipeline errors can persist through multiple sync restarts"
**Version**

`zebrad 1.0.0-alpha.0` commit 92d95d4b + PR #1589

**Platform**

`Linux ... 5.4.83 #1-NixOS SMP Fri Dec 11 12:23:33 UTC 2020 x86_64 GNU/Linux`

**Description**

When verification times out (see #1586), it can take multiple sync restarts before all the duplicate block errors clear the verification pipeline.

I tried this:

Running `zebrad` on testnet, syncing from genesis

I expected t

[2021-01-14 05:13] sepiropht commented on #1582
Right now I'm not able to build the project, i have compilation errors in zebra-state `zebra-state/src/service/check/difficulty.rs:138:14`,
I use the current stable rustc toolcahin and i have all required dependencies
The only thing that i missing maybe is `zebrad target` for the toolchain,  how do i set that ?

[2021-01-14 05:55] teor2345 commented on #1582
@sepiropht please open another ticket with:
* the exact Zebra commit you're building
* the command you're using to build Zebra
* your rustc version
* the exact error you're getting

You might find the bug report template helpful, but it's designed for runtime bugs, not compilation bugs. So it asks for some information you won't have.

https://github.com/ZcashFoundation/zebra/issues/new/choose

[2021-01-14 07:15] sepiropht commented on #1582
Finally after `rustup update` i don't have this problem anymore and the project build. Thank @teor2345

[2021-01-14 07:18] teor2345 opened #1591 "Design: config option limits"
**Is your feature request related to a problem? Please describe.**

In #1586, we wanted to let the user know when their config was overridden by Zebra's internal config limits, but we didn't have a standard way of doing that.

For example, we should require that Zebra has at least 1 peer. (Or possibly at least 4 to match the FANOUT setting, or more until we solve #704.)

**Describe the solution yo

[2021-01-14 07:30] teor2345 opened #1592 "Run full sync tests on Mainnet"
## Motivation

We want to avoid merging PRs if their changes break syncing to the tip.

## Test Plan

Run a mainnet sync, and make sure they reach block `X` within `N` hours:
- `N` is the typical time on that infrastructure, plus a small margin
- `X` is the estimated block height, calculated using a recent height and the target block interval (implemented in #3543)

We should also check the logs t

[2021-01-14 08:57] teor2345 opened #1593 "Make sure Zebra uses poll_ready and Buffer reservations correctly"
## Motivation

The constraints imposed by the `tower::Buffer` and `tower::Batch` implementations are:
1. `poll_ready` must be called **at least once** for each `call`
2. Once we've reserved a buffer slot, we always get `Poll::Ready` from a buffer, regardless of the current readiness of the buffer or its underlying service
3. The `Buffer`/`Batch` capacity limits the number of concurrently waiting t

[2021-01-14 13:17] mpguerra opened #1597 "NU4 (Canopy) Validation"
Let's use this ticket to track NU4 validation tasks

[2021-01-14 13:18] mpguerra opened #1598 "NU5 Activation Tracking"
Main Tracking issue for minimally scoped NU5 activation work.

Contains:

- [x] #1853 for Zebra specific tasks
- [x] #1854 for all required ZIPs from Sprout all the way up to NU5
- [x] #1856 for spec changes which will be introduced in NU5
- [x] #1872 for spec items prior to NU5 that will need to be implemented

[2021-01-14 13:36] daira commented on #1598
Just to clarify, Orchard is the provisional name of the shielded protocol proposal, only. NU5 will have a different name.

[2021-01-15 01:11] dconnolly opened #1599 "Panic: called fail_with on already-failed connection state, from msg=GetData"
## Duplicate

This panic will be fixed by the fail_with refactor - so this ticket is a duplicate of #1610.

## Motivation

These panics are related to https://github.com/ZcashFoundation/zebra/issues/1510 ~which should have been fixed with~ which was partly fixed by https://github.com/ZcashFoundation/zebra/pull/1531.

Edit: we knew #1531 fixed some potential causes of #1510, but we weren't sure if

[2021-01-15 04:38] teor2345 commented on #1599
@dconnolly do you have the logs leading up to this panic?

[2021-01-15 04:52] teor2345 commented on #1599
It's hard to tell without a backtrace, but it looks like we're failing on this `fail_with` call:
[code]

[2021-01-15 05:41] dconnolly commented on #1599
Not on hand, this was reported via Sentry, I can go digging in the logger

[2021-01-15 06:05] teor2345 commented on #1599
That might be helpful, but I think I've found at least two potential causes already.

[2021-01-15 14:07] mpguerra commented on #785
Do we need this one for our Beta release or will this be part of the wallet support work?

[2021-01-15 14:41] mpguerra commented on #1088
I just enabled content reports on the zebra repo.

Does anything else need to be done to fix the pull request template or can we check that off also?

[2021-01-16 00:13] teor2345 commented on #1435
This issue persists after #1586, but it seems less frequent, and has a lower impact (until there are no peers at all, which still results in permanent failure.)

[2021-01-16 15:17] rex4539 commented on #1574
Seeing the same.

<details>
^CJan 16 17:10:12.203  INFO {zebrad="8a7b0232" net="Main"}:sig{kind=SignalKind(2) name="SIGINT"}: zebrad::signal: received SIGINT, starting shutdown
The application panicked (crashed).
Message:  unused oneshot sender: oneshot must be used or canceled: MustUseOneshotSender { tx: Some(Sender { inner: Inner { complete: false, data: Lock { locked: false, data: UnsafeCell },

[2021-01-18 19:18] teor2345 opened #1610 "Refactor the peer connection code to avoid failure handling bugs"
## TODO

- [ ] work out why the refactor sends more errors to the syncer
- [ ] merge these changes
- [ ] follow-up by making this code a lot easier to maintain - split functions, map complex matches to custom enums

## Existing Work

PR https://github.com/ZcashFoundation/zebra/pull/1817

**Is your feature request related to a problem? Please describe.**

In #1531 and #1600, we fixed some failure h

[2021-01-21 00:48] yaahc commented on #406
After discussion with @hdevalence we're splitting this into two separate issues.

1. Implementing the batch verification in bellman
2. Implementing an async batch verification API ontop of bellman

The former task will be handled by @oxarbitrage while I'll continue working on the async API that abstracts over it. The initial implementation will just repeatedly call the non batch verification API i

[2021-01-21 01:21] dconnolly commented on #406
Remind me if the batch proof verification (the math) has been implemented in a fork of bellman (@hdevalence's or in the zfnd org fork) or just the async batch API, both calling and exposing in the bellman fork? I think the latter is true and is the part we strictly need first to complete transaction validation.

[2021-01-21 01:28] yaahc commented on #406
We implemented the API on both sides, so henry setup a batch verification module in bellman but didn't do the math, and he setup an async batch `Service` in zebra which called the incomplete batch API from his branch of bellman. I ported his branch from `librustzcash` to bellman's new repo [here](https://github.com/zkcrypto/bellman/compare/main...ZcashFoundation:jane/batch). I've also updated the

[2021-01-21 10:11] mpguerra commented on #1567
Is this issue in anyway related to #881 ?

[2021-01-21 21:33] teor2345 commented on #1567
#881 is a refactor of the `RootHash` code, this ticket implements the latest (Heartwood) variant in the code.

[2021-01-21 22:03] dconnolly commented on #406
FYI @oxarbitrage I'm taking a stab at finishing the batch arithmetic in the [bellman branch](https://github.com/zkcrypto/bellman/compare/main...ZcashFoundation:jane/batch) so

[2021-01-21 22:18] #1487 closed, assigned to nobody

[2021-01-21 22:29] #276 closed, assigned to dconnolly

[2021-01-21 22:30] dconnolly commented on #271
I think https://github.com/ZcashFoundation/zebra/issues/301 is a duplicate of this.

[2021-01-21 22:30] #301 closed, assigned to dconnolly

[2021-01-21 22:34] #318 closed, assigned to dconnolly

[2021-01-21 22:45] #528 closed, assigned to dconnolly

[2021-01-21 22:49] #885 closed, assigned to nobody

[2021-01-22 02:19] teor2345 opened #1613 "Add a timeout to DNS seeder requests to avoid hangs"
**Is your feature request related to a problem? Please describe.**

When zebrad launches, it asks some DNS seeders for a list of initial peers. But if DNS or the seeder is slow or down, zebrad can hang without any output.

We've observed these hangs in our CI, but we don't know if it's just one seeder that's having issues. If it is, this fix could make our CI more reliable.

**Describe the solutio

[2021-01-22 02:27] teor2345 commented on #1613
Tentatively adding this task to Sprint 2, because:
* we see startup hangs in CI on some platforms - this issue will probably fix them (and definitively give us better diagnostics)
* the fix might allow us to run our full CI on more platforms, which is important, because we've discovered some platform-specific hangs recently
* a hang at startup with no output is a very negative user experience

[2021-01-22 09:43] mpguerra opened #1615 "Zebra stable release binaries should be linked from ZFND website"
**Is your feature request related to a problem? Please describe.**

Whenever we have a Zebra stable release ready, some people will expect to find it from the main ZFND website.

**Describe the solution you'd like**

We should, at the very least:

- [x] link to the Zebra dockerfile on docker hub.

We might additionally wish to:

- [ ] Link to the Arch Linux package in the AUR
- [ ] Create and main

[2021-01-22 10:01] mpguerra opened #1617 "Move long README sections to the book, to make it easier for new users to get started with Zebra"
**Is your feature request related to a problem? Please describe.**

From our user studies we discovered that users found the README a bit long and overwhelming and that, after skimming the README, they still asked us about information that was present within.

**Describe the solution you'd like**

Some ideas/suggestions:

- [x] Remove information about First Alpha release in favour of some banner

[2021-01-22 10:03] teor2345 opened #1618 "Choose between backpressure and load shedding for each service"
## Motivation

In #1593, we reviewed the `poll_ready` implementations in Zebra, but kept the backpressure implementations mostly the same.

Incorrect backpressure implementations can impact resource usage and cause hangs, so we should make sure that Zebra transmits backpressure correctly.

## Constraints

The constraints imposed by the `tower::Buffer` and `tower::Batch` implementations are:
1. `po

[2021-01-22 13:09] mpguerra opened #1619 "Provide installation scripts for common OSes and Linux distributions for Zebra"
**Is your feature request related to a problem? Please describe.**

During our first Zebra user studies (#1501), building and installing Zebra took a while longer than we would have expected due to various different set ups on the user's machines.

**Describe the solution you'd like**

We would like to provide installation scripts for common OSes and Linux distributions for Zebra to make it quicke

[2021-01-22 13:21] mpguerra opened #1621 "Run `zebrad start` by default"
**Is your feature request related to a problem? Please describe.**

During our first alpha user studies (#1501) we discovered that users were confused about the exact command that they should execute in order to run `zebrad` and in light of their knowledge of how `zcashd` and `bitcoind` are run.

**Describe the solution you'd like**

In order to improve usability, we should:

- [ ]  run the `start

[2021-01-22 13:28] mpguerra opened #1623 "Zebra should tell users about disk space requirements"
**Is your feature request related to a problem? Please describe.**

During our first alpha user studies (#1501) we discovered that users may be concerned about disk space requirements of a running Zebra node.

**Describe the solution you'd like**

Even though we list the disk space requirements on our README, we could be more explicit about:

1. Telling users about disk space requirements on `zebr

[2021-01-22 13:40] mpguerra opened #1624 "`zebrad` terminal user interface improvements"
**Is your feature request related to a problem? Please describe.**

During our first alpha user studies (#1501) users mentioned that the large amount of scrolling logs could be intimidating and a cause for concern with less experienced users.

**Describe the solution you'd like**

We should review other node software such as `zcashd` and `bitcoind` to see if there are any user interface improvemen

[2021-01-22 13:45] mpguerra opened #1625 "Leverage prometheus and grafana to allow users to customize dashboards"
**Is your feature request related to a problem? Please describe.**

During our first alpha user studies (#1501) users mentioned that the large amount of scrolling logs could be intimidating and a cause for concern with less experienced users.

**Describe the solution you'd like**

In order to allow users to better consume log info and query current and past node status we could package up pre-conf

[2021-01-22 13:51] mpguerra opened #1626 "Investigate exposing web interface to interact with zebra"
**Is your feature request related to a problem? Please describe.**

During our first alpha user studies (#1501) users mentioned that the large amount of scrolling logs could be intimidating and a cause for concern with less experienced users.

**Describe the solution you'd like**

Instead of providing lots of logs to communicate running `zebrad` status we might want to expose a web interface that

[2021-01-22 13:57] mpguerra opened #1627 "Investigate different designs for querying a running Zebra node"
**Is your feature request related to a problem? Please describe.**

During our first alpha user studies (#1501) users mentioned that they would like to interact with `zebrad` to query specifc information, e.g about a particular transaction.

**Describe the solution you'd like**

We should investigate alternative designs for querying a running Zebra node.

For example:
* a separate command line too

[2021-01-22 21:53] teor2345 opened #1628 "Document the Inbound service in the start command"
When we added the Inbound service, we forgot to update the start command's module documentation:

https://github.com/ZcashFoundation/zebra/blob/494a5130c1d418b836b12bbf89fb99a3f7501cc6/zebrad/src/commands/start.rs#L20

[2021-01-22 21:54] teor2345 commented on #1628
We should just do this quickly in the next sprint, so it's fixed and done.

[2021-01-22 23:46] teor2345 commented on #1623
I reworded this ticket, because "warn" has a very specific meaning in Zebra. "Warn" is a tracing a log level, and logging a warning message doesn't really do what we want here.

[2021-01-22 23:52] teor2345 commented on #1627
I think this ticket is related to generic RPC, wallet, or block explorer interfaces - so I'm not sure that focusing on specific libraries is going to be helpful here.

Whatever we use as a transport, we're going to have to build our own crate.

[2021-01-22 23:55] teor2345 commented on #1613
I increased the estimate here, because we've added some possible acceptance tests changes.

[2021-01-23 15:47] oxarbitrage opened #1630 "Remove isolated tracing test?"
https://github.com/ZcashFoundation/zebra/blob/main/.github/workflows/ci.yml#L49-L55

Looks the acceptance `tracing_endpoint` was ignored at some point as was added isolated to the CI at https://github.com/ZcashFoundation/zebra/commit/583ec8738ba369881686eca1747f8afe7e613f83

By this comment it seems this test was an issue that then was fixed but the CI part was not updated: https://github.com/Zcas

[2021-01-24 22:32] teor2345 commented on #1630
Yeah, I don't think we need to run this test twice, but @dconnolly might know more.

[2021-01-24 23:35] teor2345 opened #1631 "Perform listener DNS lookups asynchronously, with a timeout"
**Is your feature request related to a problem? Please describe.**

Zebra uses serde to convert its listener addresses into `SocketAddr`s. Serde uses Rust's standard `to_socket_addrs` function to convert strings to IP addresses. If the strings are hostnames, `to_socket_addrs` uses DNS for the lookup.

If a user configures a DNS name as one of their listener addresses, and DNS takes a long time to

[2021-01-24 23:56] teor2345 opened #1632 "Handle Windows panics in acceptance test exit status checks"
**Is your feature request related to a problem? Please describe.**

In the `zebrad` acceptance tests, Windows tasks that panic seem to return the same exit code as processes that are killed by the test runner.

Edit: We discovered this issue happened because we were calling `kill` on a task that had already panicked.

**Describe the solution you'd like**

Stop calling `kill` on that task.

**Descr