[2022-10-26 20:34] teor2345 opened #5484 "Bump ed25519-zebra to 3.1.0"
## Motivation

We want to get the `no_std` support in the latest `ed25519-zebra` release audited.

[2022-10-26 21:17] teor2345 opened #5487 "Return detailed errors from the `submitblock` RPC"
## Motivation

If we find a mining pool that relies on detailed `submitblock` RPC errors, we should implement them.

Otherwise this ticket is optional.

This depends on #2908, because it changes the errors in the state.

### Mining Pool Usage

`s-nomp` calls `submitblock` from this code:
- https://github.com/s-nomp/node-stratum-pool/blob/d86ae73f8ff968d9355bb61aac05e0ebef36ccb5/lib/pool.js#L245

#

[2022-10-26 21:21] teor2345 commented on #5236
I split out detailed error handling into #5487, and made that ticket optional. I'll update the design as well.

I also tweaked the description to match the current implementation.

[2022-10-26 21:26] #5426 closed, assigned to arya2

[2022-10-26 22:09] teor2345 commented on #5091
We split out the hangs into another ticket, but the CI fixes still need to be done.

[2022-10-26 22:19] #4882 closed, assigned to teor2345

[2022-10-27 01:37] #5484 closed, assigned to arya2

[2022-10-27 20:32] teor2345 commented on #5015
@arya2 here's an example of an RPC call from the tests:
https://github.com/ZcashFoundation/zebra/blob/7b47aac3703afe2e5efb45cdeb537a238ef45d4e/zebrad/tests/acceptance.rs#L2016-L2029

There's no need to use `zebra-rpc` or anything complicated to get the transaction data, because we're not really testing that RPC here.

[2022-10-27 22:49] teor2345 commented on #2496
Closed by PR #5476 by deleting the spending key code.

[2022-10-27 22:49] #2496 closed, assigned to nobody

[2022-10-27 22:51] teor2345 commented on #5089
This seems to be happening automatically, I recently tried to update a beta.15 tag and it had been deleted.

[2022-10-27 22:51] #5089 closed, assigned to nobody

[2022-10-28 00:10] upbqdn opened #5492 "Enable `arti-client` when it upgrades its dependency `x25519-dalek`"
## Motivation

Zebra's dependency `arti-client v0.0.2` depends on `x25519-dalek v2`, which depends on an old version of `zeroize` that conflicts with other crates' dependencies. For this reason, we've temporarily disabled `arti-client` in #5481.

### Solution

Enable and upgrade `arti-client` when it uses a new version of `x25519-dalek`, which doesn't depend on an old version of `zeroize`.

[2022-10-28 00:16] arya2 commented on #5236
@teor2345 I think this should be coupled with #5487 so we can check `can_fork_chain_at` when submitted blocks are received and reject them in a timely manner when their parent blocks are absent.

[2022-10-28 00:34] teor2345 opened #5494 "gcloud ssh: Connection reset by peer"
## Motivation

This error happens occasionally:

https://github.com/ZcashFoundation/zebra/actions/runs/3341437225/jobs/5533308842#step:6:84

https://github.com/ZcashFoundation/zebra/actions/runs/3352929291/jobs/5555664923#step:6:108

[2022-10-28 01:01] teor2345 commented on #5236
I don't think a missing parent will ever happen with `submitblock`?

The submitted block is based on a `getblocktemplate` with a parent block of Zebra's chain tip. And Zebra keeps all the non-finalized chains for 100 blocks. So if the parent block is missing, either Zebra or the mining pool is doing something very wrong.

I am also concerned that combining this ticket with #5487 is a really large

[2022-10-28 01:18] teor2345 opened #5495 "Ignore the `jsonrequestobject` argument to the `getblocktemplate` RPC"
## Motivation

Our stub `getblocktemplate` RPC will fail if it gets any arguments.

But we want to ignore the optional `jsonrequestobject` argument instead, because we're not going to support any optional features requested by clients.

### Specifications

https://zcash.github.io/rpc/getblocktemplate.html

### Designs

Accept an Option<String> argument and ignore it.

## Related Work

If we discov

[2022-10-28 01:44] arya2 commented on #5495
~It seemed to cause `ParseError`s for the JsonParameterObject in submitblock when that was called with only one parameter.~

Update: I was wrong, `jsonrpc` handles `Option<T>` params as expected, so the design in this ticket would work.

[2022-10-28 05:07] teor2345 commented on #5495
I'm not exactly sure how the `jsonrpc` library argument processing works, but unlike `submitblock`, `getblocktemplate` doesn't need any arguments at all.

[2022-10-28 06:58] #5445 closed, assigned to upbqdn

[2022-10-28 06:58] #3831 closed, assigned to upbqdn

[2022-10-28 21:16] arya2 opened #5502 "Migrate to the latest version of Abscissa (0.7 or later)"
## Motivation

We need to update our command-line argument parsing to bump abscissa_core from 0.5.2 to 0.7.0 or later.

This is also needed to make the output of the `--help` flag and `help` command consistent with that of invalid options or commands, by replacing `gumdrop` with `clap`.

It is also needed to avoid a compilation error that is likely to be added to the Rust 2024 edition:
https://git

[2022-10-29 20:59] #5446 closed, assigned to oxarbitrage

[2022-10-30 23:14] teor2345 commented on #5502
Thanks!

We're unlikely to do this any time soon, because we've replaced abscissa components with our own custom versions instead.

[2022-10-30 23:24] teor2345 commented on #4692
Also fixed by PR #5476 by removing unused address and key parsing code.

[2022-10-30 23:24] #4692 closed, assigned to nobody

[2022-10-31 02:39] #2693 closed, assigned to nobody

[2022-10-31 21:20] gustavovalverde commented on #5178
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/5178?planning-poker) with Zenhub @arya2 @dconnolly @teor2345

[2022-10-31 21:36] gustavovalverde opened #5517 "ci: recently created GCP instances sometimes are not found by workflow jobs"
## Description

From time to time a workflow job fails with the following error message:

`ERROR: (gcloud.compute.ssh) Could not fetch resource:  The resource 'projects/zealous-zebra/zones/us-central1-a/instances/sync-past-checkpoint-5464-merge-dee1b9c' was not found`

## Expected Behavior

We should wait for the instances to be ready before trying any action. Some jobs might need to wait a few se

[2022-10-31 21:37] gustavovalverde commented on #5517
Original comment: https://github.com/ZcashFoundation/zebra/pull/5464#issuecomment-1288356582

[2022-10-31 21:46] gustavovalverde commented on #5069
The `main` branch has been failing recently with this errors. So I'm reopening this one

[2022-10-31 22:20] gustavovalverde opened #5518 "ci: logs longer than GitHub's limit do not allow to see the actual error in the console"
## Motivation

Some error logs might be "hidden" if the logs are too long, needing extra steps for developer to find the actual error. And making it harder to _link_ the errors in issues/PRs

Example: https://github.com/ZcashFoundation/zebra/actions/runs/3332682537/jobs/5548148889

### Designs

We can approach this in two different ways:
- Confirm the actual limits on GitHub Actions, and just show

[2022-10-31 22:54] softminus commented on #5421
I have this working by the way!

[2022-11-01 00:20] arya2 commented on #5015
@teor2345 Is there an easy way to use the original Zebra cached state directory?

Update: disregard, I was thinking only temp files could be accessed from the spawned process, but I found `spawn_zebrad_for_rpc` and realized we're already using the original cached state in some tests.

[2022-11-01 00:30] teor2345 commented on #5518
I did this in PR #5521 for the "test all" jobs, but it doesn't fix the full sync logs.

I think maybe we could make the Zebra sync logs less verbose to fix things like:
https://github.com/ZcashFoundation/zebra/actions/runs/3332682537/jobs/5548148889

[2022-11-01 00:43] #5456 closed, assigned to oxarbitrage

[2022-11-01 00:51] #5091 closed, assigned to upbqdn

[2022-11-01 01:02] teor2345 commented on #5517
This seems like it could be a duplicate of #5366, which has some more analysis.

Sometimes the resource is not found halfway through a job, so I'm not sure if waiting will fix this issue.

[2022-11-01 13:14] gustavovalverde commented on #5517
Closing as duplicate of #5366

[2022-11-01 13:14] #5517 closed, assigned to nobody

[2022-11-01 20:36] arya2 opened #5527 "Add submitblock test to CI"
## Motivation

The acceptance test for submit block in #5526 uses the cached zebra state and is ignored in the regular coverage CI.

Add a CI job like the one for the send transaction test for the submit block RPC method.

[2022-11-01 22:07] teor2345 commented on #5153
Costs were reasonable for October, so we don't need to do this unless we need to do detailed cost monitoring again.

[2022-11-02 00:01] teor2345 commented on #5423
This is done!

[2022-11-02 00:01] #5423 closed, assigned to oxarbitrage

[2022-11-02 00:39] gustavovalverde commented on #5494
I reopened https://github.com/ZcashFoundation/zebra/pull/5069, I'll let you decide which ticket to use.

[2022-11-02 01:47] teor2345 commented on #5494
I think the errors are different?
(They might have the same cause, I guess we'll find out when we fix one of them.)

It works for me, but that's really a question for Pili.

[2022-11-02 02:42] #3096 closed, assigned to nobody

[2022-11-02 02:42] #5214 closed, assigned to oxarbitrage

[2022-11-02 03:52] teor2345 commented on #5494
On a launch step in PR #5521:
https://github.com/ZcashFoundation/zebra/actions/runs/3373347892/jobs/5597848235#step:7:108

[2022-11-02 03:59] teor2345 opened #5532 "RPC test crashes: signal: 10, SIGBUS: access to undefined memory"
## Motivation

Sometimes, the `getblocktemplate-rpcs` tests fail on macOS with:

https://github.com/ZcashFoundation/zebra/actions/runs/3373347872/jobs/5597821936#step:15:3496

Or on Linux with:

(On my local machine.)

This could be a security issue.

### Diagnosis

Since this only happens using `getblocktemplate-rpcs`, it could be:
- an issue with the new code added by `--feature getblocktemplate

[2022-11-02 19:47] arya2 commented on #5527
I'll try updating the acceptance test first and re-open this if it's still needed.

[2022-11-02 23:18] teor2345 commented on #2908
This is needed to do #5487

[2022-11-03 01:42] teor2345 commented on #5494
From PR #5508:

https://github.com/ZcashFoundation/zebra/actions/runs/3381967679/jobs/5617006676

But this was an interim logging step that didn't run too long, so the test still passed.

[2022-11-03 15:21] gustavovalverde opened #5542 "Add a workflow to push our main README.md to Docker Hub"
## Motivation

Our Docker Hub is missing the actual documentation used in the Zebra repository. We should automate this so we don't have to manually sync both versions

https://hub.docker.com/r/zfnd/zebra

### Designs

- Docker Hub has 2 versions of the README.md, an overview and a detailed one. We should verify if we're going to need both versions.

## Related Work

#5504

[2022-11-03 16:27] gustavovalverde opened #5543 "Tag Google Cloud instances with the name of the test or workflow for debugging"
## Motivation

We once thought on doing this for costs, but it's also a good idea for filtering logs, as GCP logs are not too friendly when using the instance name or container name, and tags are part of the filtering rules

### Designs

- Tag the instances generated by tests with the following information:
 - Test being run
 - Branch Name
 - short-SHA

## Related Work

#5153

[2022-11-03 17:03] #5454 closed, assigned to teor2345

[2022-11-03 22:01] teor2345 commented on #5543
Feel free to re-open old tickets if you'd like 🙂

[2022-11-03 22:24] gustavovalverde commented on #5069
I've been able to find this error log in GCP

[code]

I've also found the root cause: some `ssh-keys` in the project metadata that might have been added when testing OS Login.

This might not solve the problem, but will at least reduce the noise when searching for the actual error.

[2022-11-03 22:28] teor2345 commented on #5069
Thanks for tracking this down!

[2022-11-03 22:45] arya2 opened #5547 "Fix test compilation and lint failures with Rust 1.65.0"
## Motivation

Zebra tests are failing with the Rust 1.65.0 release due to compilation errors:

https://github.com/ZcashFoundation/zebra/actions/runs/3387720824/jobs/5628827965#step:15:17284
<details>

</details>

There also seem to be issues related to changes in the Clippy lint:

[code]

https://github.com/ZcashFoundation/zebra/actions/runs/3387578258/jobs/5628508335#step:8:501

[2022-11-03 22:48] teor2345 commented on #5547
I can fix this now, shouldn't be too hard.

[2022-11-03 23:31] arya2 opened #5548 "Refactor RPC methods to use `HexData` and an error constructor"
## Motivation

Multiple RPC methods are currently accepting hex-encoded data and similarly constructing `ServerErrors`.

Using the `HexData` type and a server error constructor will reduce repetition and improve maintainability.

Potentially something like:

[code]
_[Originally posted by Teor](https://github.com/ZcashFoundation/zebra/pull/5526#discussion_r1013455046)_

[2022-11-04 00:07] arya2 opened #5551 "Use larger runners for coverage tests"
## Motivation

Larger runners for Github actions are currently in public beta for team plans. (https://docs.github.com/en/actions/using-github-hosted-runners/using-larger-runners)

This may allow us to merge some additional tests for zebra-state (https://github.com/ZcashFoundation/zebra/pull/5377) and make our coverage tests run more quickly.

[2022-11-04 02:00] #5547 closed, assigned to teor2345

[2022-11-04 03:57] #5236 closed, assigned to arya2

[2022-11-04 04:56] teor2345 commented on #5366
Failed in PR #5541, halfway through the test run:
https://github.com/ZcashFoundation/zebra/actions/runs/3390759314/jobs/5636067584#step:6:106

[2022-11-07 01:57] teor2345 commented on #5494
On PR #5550 halfway through a test run:
https://github.com/ZcashFoundation/zebra/actions/runs/3391346405/jobs/5665340226#step:6:110

[2022-11-07 05:00] teor2345 commented on #5167
This was closed by PR #5504, the developer parts are in ticket #4464 already.

[2022-11-07 05:00] #5167 closed, assigned to gustavovalverde

[2022-11-07 19:46] teor2345 commented on #5494
Same error on the main branch:
https://github.com/ZcashFoundation/zebra/actions/runs/3412654251/jobs/5679413392#step:6:106

[2022-11-07 20:25] teor2345 opened #5570 "GitHub runners fail with linker error: "collect2: error: ld returned 1 exit status""
## Motivation

Sometimes our GitHub actions tests fail with:

https://github.com/ZcashFoundation/zebra/actions/runs/3411951675/jobs/5676818960

This happened in the `Test beta on ubuntu-latest --features getblocktemplate-rpcs` job in PR #5565.

### Diagnostics

This usually seems to happen on beta Rust with `--features getblocktemplate-rpcs`, and only on GitHub Actions runners.

It could be a full

[2022-11-07 21:17] gustavovalverde opened #5572 "ci: use self-hosted runners for CI pipelines"
## Motivation

Some of our tests, mainly our full sync test, are way above [GitHub-hosted runners](https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners) limits, being the 6 hours timeout the main limitation.

We might want to start testing GitHub [self-hosted runners](https://docs.github.com/en/actions/hosting-your-own-runners/about-self-hosted-runners) to rai

[2022-11-07 21:28] teor2345 opened #5573 "Try using rust-log-analyzer bot to post failure logs on PRs"
## Motivation

We spend a bit of time locating errors in our CI logs, and posting them to PRs.

We could use the `rust-log-analyzer` bot to post a comment on a PR when CI fails, like this comment:
https://github.com/rust-lang/rust/pull/104118#issuecomment-1306119356

https://github.com/rust-lang/rust-log-analyzer

### Design Questions

Will this work with GitHub Actions, Google Cloud Docker instan

[2022-11-07 21:49] teor2345 commented on #1870
ECC devs asked us about adding an automated halt to each Zebra version, so I'm going to re-open this ticket.

https://discord.com/channels/809218587167293450/809251050741170187/1037816158067363882

We might want to do this before the first stable release of Zebra, or before NU6 testnet activation.

[2022-11-07 21:52] gustavovalverde opened #5574 "ci: notify team members in our chat system if the main branch fails a job"
## Motivation

When CI is stable we'd like to notify the team if a CI job fails in the `main` branch, so we're notified in a timely manner to fix it as soon as possible

### Designs
- Create a separate workflow for notifications
- We might want to have a global solution which connects to multiple chat systems (Discord, Slack, etc.)

[2022-11-07 22:00] teor2345 commented on #5573
This is what the bot's posts look like:
<img width="936" alt="Screen Shot 2022-11-08 at 07 59 42" src="https://user-images.githubusercontent.com/8951843/200424497-c9431dc8-cacf-44ea-9976-274eda20bec0.png">

[2022-11-07 22:57] dconnolly commented on #5573
<img width="493" alt="image" src="https://user-images.githubusercontent.com/552961/200433119-a12f6e2a-b61f-4d93-b084-2793c6a426d1.png">

[2022-11-07 23:13] teor2345 commented on #5570
When I re-ran the job, PR #5565 failed with exactly the same error in the same place:
https://github.com/ZcashFoundation/zebra/actions/runs/3411951675/jobs/5680965534#step:14:9034

I'll try cherry-picking PR #5575 to see if that fixes it.

[2022-11-08 00:29] teor2345 opened #5577 "Document P2SH multisig address handling for funding stream receivers"
## Motivation

Zebra's consensus rule documentation does not specifically mention P2SH multisig addresses, even though we handle them correctly.

### Specifications

https://zips.z.cash/protocol/protocol.pdf#fundingstreams
https://developer.bitcoin.org/devguide/transactions.html#multisig

### Designs

- Document multisig handling in `check_script_form()`
- We might want to assert we're getting a P

[2022-11-08 02:39] teor2345 commented on #5570
It makes it worse!

We might want to split the GitHub Actions caches with and without the feature.

[2022-11-08 03:04] teor2345 commented on #5384
Failed again in PR #5561

https://github.com/ZcashFoundation/zebra/actions/runs/3413929832/jobs/5681223874#step:14:8817

[2022-11-08 03:16] teor2345 opened #5579 "Populate `BlockTemplate.blockcommitmentshash` from the transactions and state request"
## Motivation

The `blockcommitmentshash` field is calculated from the transactions in #5453 and #5454, and the state request in #5455.

This field's value is repeated in:
    * `lightclientroothash`
    * `finalsaplingroothash`
    * `blockcommitmentshash`
    * `defaultroots.blockcommitmentshash`

### Specifications

https://zips.z.cash/zip-0244#block-header-changes

### Designs

We have code to

[2022-11-08 03:22] teor2345 commented on #5453
I split #5579 out of this ticket, because the state request isn't ready yet.

[2022-11-08 11:25] mpguerra commented on #5527
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/5527?planning-poker) with Zenhub @arya2 @dconnolly @gustavovalverde @oxarbitrage @teor2345

[2022-11-08 11:26] mpguerra commented on #5543
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/5543?planning-poker) with Zenhub @arya2 @dconnolly @gustavovalverde @oxarbitrage @teor2345

[2022-11-08 11:28] mpguerra commented on #5473
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/5473?planning-poker) with Zenhub @arya2 @dconnolly @oxarbitrage @teor2345

[2022-11-08 11:28] mpguerra commented on #5366
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/5366?planning-poker) with Zenhub @arya2 @dconnolly @gustavovalverde @oxarbitrage @teor2345

[2022-11-08 11:29] mpguerra commented on #5494
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/5494?planning-poker) with Zenhub @arya2 @dconnolly @gustavovalverde @oxarbitrage @teor2345

[2022-11-08 11:29] mpguerra commented on #5572
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/5572?planning-poker) with Zenhub @arya2 @dconnolly @gustavovalverde @oxarbitrage @teor2345

[2022-11-08 11:29] mpguerra commented on #5579
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/5579?planning-poker) with Zenhub @arya2 @dconnolly @gustavovalverde @oxarbitrage @teor2345

[2022-11-08 11:30] mpguerra commented on #5573
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/5573?planning-poker) with Zenhub @arya2 @dconnolly @gustavovalverde @oxarbitrage @teor2345

[2022-11-08 19:05] teor2345 commented on #5572
@gustavovalverde @mpguerra can we be more specific with the scope here? What specific changes are we going to try?

It's hard to estimate this ticket without a list of tasks or a list of requirements.

[2022-11-08 20:00] arya2 commented on #5572
Larger runners are still limited to 6 hours, but this may bypass ssh issues if done the hard way.

https://github.com/actions-runner-controller/actions-runner-controller
https://github.com/jonico/awesome-runners

[2022-11-08 20:21] teor2345 commented on #5577
I documented why we can skip this consensus rule in PR #5580.

[2022-11-08 22:08] dconnolly commented on #5572
Yeah we might want to scope this first issue as 'try setting up  /a/ self-hosted runner for one simple workflow/action'

[2022-11-08 22:29] teor2345 commented on #5532
@mpguerra I've just seen this issue on Linux, which makes it a high-priority security issue. So I'm going to push a PR that shuts down the RPC server correctly.

[2022-11-08 22:55] #5452 closed, assigned to oxarbitrage

[2022-11-09 01:08] gustavovalverde opened #5592 "ci: snapshot a VM when a workflow job fails"
## Motivation

Sometimes is hard to diagnose the behavior of a specific VM if we don't have information from the internal VM logs (not exported in GitHub Actions nor GCP logs explorer)

### Designs

This could be a _snapshot_ but we could take other approaches:
- Exporting the logs to GitHub Actions as artifacts (to download and further investigate)
- Have a step to show (cat) the logs of sshd, sy

[2022-11-09 01:26] teor2345 commented on #5384
Failed again locally:

[2022-11-09 01:35] gustavovalverde commented on #5572
I added some steps

[2022-11-09 01:55] teor2345 commented on #5384
Failed in CI:
https://github.com/ZcashFoundation/zebra/actions/runs/3423847000/jobs/5703529589#step:3:9323

@mpguerra this test seems to be failing a lot, maybe we should just fix it quickly by accepting a `Nil` response as well?

[2022-11-09 02:08] teor2345 commented on #5592
I think this would be more helpful, but it might rely on getting `ssh` working.

[2022-11-09 02:40] teor2345 commented on #5570
Still happening with PR #5565 after upgrading to regex 1.7.0 and Unicode 15, but possibly only with beta Rust.

[2022-11-09 02:48] teor2345 commented on #5572
Thanks, that looks good!

I think moving all the sync jobs might be out of scope for an initial ticket. There's no particular urgency, they seem to be working ok.

Or did you want this to become a tracking issue?

[2022-11-09 04:42] #5518 closed, assigned to nobody

[2022-11-09 10:33] mpguerra commented on #5384
How do we know that it failed with `Nil` response, as opposed to a different unexpected response? It's not clear to me from the logs...

[2022-11-09 10:46] mpguerra commented on #5532
@teor2345 can you please add an estimate to this issue? Since you've already done the PR I don't think we need this to go through planning poker

[2022-11-09 12:06] gustavovalverde commented on #5572
I removed that one.

[2022-11-09 12:53] gustavovalverde commented on #5592
Considering multiple steps have failed one after the other. Yes.

[2022-11-09 19:39] arya2 opened #5600 "Run the send transactions test on each PR update"
## Motivation

The send transactions test was moved to the main branch in https://github.com/ZcashFoundation/zebra/pull/5480 because it was very slow.

It's much faster (~30m) with https://github.com/ZcashFoundation/zebra/issues/5015 and can be run for every PR update again.

### Designs

Revert the changes in https://github.com/ZcashFoundation/zebra/pull/5480 and remove the `github.event.inputs.r

[2022-11-09 19:54] teor2345 commented on #4649
This might have caused PR #5596 to fail in the merge queue:

https://github.com/ZcashFoundation/zebra/actions/runs/3430430965/jobs/5717404168#step:3:226

[2022-11-09 19:58] str4d commented on #5577
This is false. All of the current and past funding stream addresses are multisig P2SH addresses (the ones I spot-checked are 2-of-3 multisig).

[2022-11-09 21:08] teor2345 commented on #5384
That specific log message is only used when `Nil` is returned:
https://github.com/ZcashFoundation/zebra/blob/71f5e63e6455a79c5a02f2dc5fc5261001fc7846/zebrad/src/components/inbound/tests/fake_peer_set.rs#L81-L85

The log should probably also say `Nil`, or log the actual response.

[2022-11-09 21:16] teor2345 opened #5604 "Send the same getblocktemplate RPC response until the template would change"
## Motivation

str4d told us that `zcashd` caches its `getblocktemplate` RPC response when the RPC is called frequently. This can improve RPC performance, which is important for miner profits.

The `getblocktemplate` response must change when:
- the best tip hash changes (Zebra's `ChainTip` watch channel)
- the max time is reached

The `getblocktemplate` response can also change, but is not requir

[2022-11-09 21:22] teor2345 commented on #5600
We're not updating this RPC code right now, so this is a low priority.

[2022-11-09 21:39] teor2345 commented on #5577
Thanks, I think I misunderstood what was happning here. Zebra's code is correct, but the consensus rule docs are incomplete.

[2022-11-10 00:12] gustavovalverde opened #5608 "ci: `gcloud` commands and tools are not being correctly authenticated"
## Motivation

`gcloud` commands has been running without an appropriate authentication as the auth auction was successfully executed, but the actual `gcloud` CLI being used in further jobs is not using the correct configuration nor credentials

### Designs

Add the `google-github-actions/setup-gcloud action` after each `google-github-actions/auth invocation`, and before running any `gcloud` comma

[2022-11-10 00:12] #5453 closed, assigned to nobody

[2022-11-10 01:58] teor2345 commented on #5125
This is good enough for now.

[2022-11-10 03:40] #5015 closed, assigned to arya2

[2022-11-10 03:40] #5527 closed, assigned to arya2

[2022-11-10 06:32] #5608 closed, assigned to nobody

[2022-11-10 14:51] #5532 closed, assigned to nobody

[2022-11-10 19:32] gustavovalverde opened #5615 "ci: Use machine images instead of custom images to snapshot cached states"
## Motivation

We've dealt with multiple issues, from snapshot multiple disks to restore a custom image (not being available). This can also increase in complexity, making custom images a less reliable option in the future

We can also benefit from the use of differential backups and the crash-consistent feature made now available with machine images

### Specifications

https://cloud.google.com/c

[2022-11-10 20:04] teor2345 commented on #5615
Looks good!

This will lock us into always combining the Zebra and lightwalletd caches in the lightwalletd cached stafe. So we should check if that's what we want. (Using custom disks, we could keep the Zebra and lightwalletd states from the same run on separate disks. But we don't do that right now, and it's not really needed.) Either way, we let's document our choice?

There is also a risk that

[2022-11-10 20:33] gustavovalverde opened #5618 "ci: compute engine VMs have not been using the expected OS (debian-11)"
## Motivation

We've been pulling the Debian image the wrong way, as this was being used as a container but it was meant to be the VM image. And the image being pulled to create the internal container has been causing crashes as this images do not exists on Google's container repositories.

### Specifications

https://cloud.google.com/sdk/gcloud/reference/compute/instances/create-with-container#--

[2022-11-11 03:42] #5577 closed, assigned to nobody

[2022-11-11 06:40] #5386 closed, assigned to arya2

[2022-11-13 12:52] Rqnsom commented on #831
Hi there, I think this might be a related issue:

Initially, I wanted to check the description of the `--verbose` option since one of our scripts in the Ziggurat project uses that option.

I had to find the zebrad's help output, but to find out what the `help` subcommand looks like, I just used an invalid subcommand:
[code]

After seeing `    -h, --help                print help message`,  I used

[2022-11-13 13:03] oxarbitrage commented on #831
Thanks for the report @Rqnsom , some of the behavior is probably related to https://github.com/ZcashFoundation/zebra/pull/4957 where we changed to start zebra by default.

Yea, please create or let me know and i can just create it for you.

[2022-11-13 13:20] Rqnsom opened #5624 "zebrad: command-line help info is hard to access and understand"
## Description

Initially, I wanted to check the description of the `--verbose` option since one of our scripts in the Ziggurat project uses that option.

I had to find the zebrad's help output, but to find out what the help subcommand looks like, I just used an invalid subcommand:

[code]

After seeing `    -h, --help                print help message`,  I used `--help` with no effect. Not only d

[2022-11-13 13:21] Rqnsom commented on #831
Thanks @oxarbitrage,
I created a new issue [here](https://github.com/ZcashFoundation/zebra/issues/5624).
Please let me know if you need more info or anything else

[2022-11-15 23:13] arya2 commented on #5624
The `--verbose` flag is still being used to set the tracing filter to `debug`. It seems top-level options are omitted by the `help` command, and the only way to see them is by trying an invalid command or option.

The part where the `--help` flag on its own is running the start command is related to https://github.com/ZcashFoundation/zebra/pull/4957 where we changed Zebra to start by default.

On

[2022-11-16 14:27] #5494 closed, assigned to gustavovalverde

[2022-11-16 14:27] #5069 closed, assigned to gustavovalverde

[2022-11-16 23:08] #5618 closed, assigned to gustavovalverde

[2022-11-17 00:39] gustavovalverde opened #5644 "infra: Some disks are not being recognized as RO/RW and containers are failing to get raised"
## Motivation

We've been reducing the amount of errors happening in CI, and in GCP logs, to reduce the spectrum of possibilities causing SSH errors from CI.

One of the latest errors is:

[code]

### Designs

- Verify if there's documentation on how to properly mount disks on Compute Engine
- Validate if we're mounting disks in a standard way for all instances in CI and CD.

[2022-11-17 00:45] gustavovalverde opened #5645 "ci: ssh error after implementing OS-Login: Permission denied (publickey)"
## Motivation

After merging #5602 and #5617 we're still dealing with SSH issues

### Designs

- Use a more suitable SSH mechanism for automated scripts, like using a fixed SSH key (as this might be our best workaround so far)
- Validate if we can use plain SSH with OS-login with this action https://github.com/marketplace/actions/ssh-remote-commands

[2022-11-17 13:08] mpguerra commented on #5384
Seen in https://github.com/ZcashFoundation/zebra/actions/runs/3483993359/jobs/5828069602#step:14:5275 also

[2022-11-17 17:43] arya2 opened #5652 "Add an acceptance test for the getblocktemplate method"
## Motivation

The vector and snapshot tests for the `getblocktemplate` RPC method won't be able to use the non-finalized state to test the contextual validity checks for https://github.com/ZcashFoundation/zebra/pull/5630.

## Designs

- Use `from_script_hash(Mainnet, [0x7e; 20])` as the `miner_address` in the config
- Sync Zebra to the network tip
- Call the getblocktemplate RPC method
- Assert t

[2022-11-17 19:02] aktech commented on #5572
By the way, if you want a no-maintenance method to achieve that, you can use [cirun.io](https://cirun.io) for the same.

[2022-11-18 16:43] Rqnsom commented on #5624
Okay, thanks for the info and for the clarification!

[2022-11-18 19:22] arya2 opened #5669 "Fix get_block_template test failure in CI"
## Motivation

The get_block_template test seems to work locally but is failing in CI with:

https://github.com/ZcashFoundation/zebra/actions/runs/3498079512/jobs/5859110894#step:6:264

<details>

#### Other examples:

https://github.com/ZcashFoundation/zebra/actions/runs/3496645952/jobs/5857867959#step:6:269

https://github.com/ZcashFoundation/zebra/actions/runs/3495782850/jobs/5853499468#step:6:

[2022-11-20 22:17] teor2345 commented on #5669
If the test isn't working, and it is blocking all other PRs from merging, this is a critical-priority ticket.

I suggest we revert the test PR. Then we can change the priority of this ticket to "medium", and submit a new PR with a working test.

[2022-11-20 22:47] teor2345 commented on #5466
PR #5263 was only a partial fix, we still need to:
- check if Zebra has finished syncing blocks
- allow the same clock skew as the Zcash network, which is 100 blocks, based on the standard rule:

https://zips.z.cash/protocol/protocol.pdf#blockheader

[2022-11-20 22:58] teor2345 commented on #5466
@mpguerra @arya2 feel free to split out the extra work into a new ticket, if that's easier for you to track!

[2022-11-21 00:04] teor2345 commented on #5652
Re-opening this ticket, because the test PR was reverted due to intermittent CI failures.

[2022-11-21 00:08] teor2345 commented on #5669
Actually, I think it might be easier to re-open the test ticket #5652 instead, and close this ticket when the revert PR merges.

[2022-11-21 00:44] #5669 closed, assigned to nobody

[2022-11-21 01:05] teor2345 commented on #5376
Here is some of the code we will need to change:

In the mempool, this code is already using the best chain, but that isn't documented anywhere.

Needs a comment update:
https://github.com/ZcashFoundation/zebra/blob/6446e0ec1bd42d46c115a1dc41fa78955f4aed30/zebrad/src/components/mempool/downloads.rs#L445-L450

https://github.com/ZcashFoundation/zebra/blob/6446e0ec1bd42d46c115a1dc41fa78955f4aed30/ze

[2022-11-21 01:11] teor2345 commented on #5376
In PR #5616, we made the transaction verifier use the best chain for UTXOs. This is the only place that the transaction verifier uses the state.

No changes needed here:
https://github.com/ZcashFoundation/zebra/blob/6446e0ec1bd42d46c115a1dc41fa78955f4aed30/zebra-consensus/src/transaction.rs#L488-L497

[2022-11-21 01:21] teor2345 opened #5673 "Cache Sprout interstitial treestates in memory, so they can be re-used for mempool and block verification"
## Motivation

As part of ticket #5376, we'll create sprout interstitial treestates on the fly, to validate mempool transactions:
https://github.com/ZcashFoundation/zebra/issues/5376#issuecomment-1321316148

This could be very slow if there are a lot of Sprout transactions in the state.

## Alternatives

This might not be needed if we do #5674.

[2022-11-21 01:21] teor2345 commented on #5376
The mempool transaction verifier doesn't check:
- sprout, sapling, and orchard anchors are valid in the best chain
    - https://github.com/ZcashFoundation/zebra/blob/main/zebra-state/src/service/check/anchors.rs
- sprout, sapling, and orchard nullifiers are not revealed in the best chain
    - https://github.com/ZcashFoundation/zebra/blob/main/zebra-state/src/service/check/nullifier.rs
    - we'l

[2022-11-21 01:24] teor2345 opened #5674 "Automatically verify transactions in blocks when the same transaction is already in the mempool"
## Motivation

Miners need RPCs and verification to be fast, to improve profits.

When Zebra has already verified a transaction in the mempool, we know it will be valid in a block. (The mempool checks are stricter than the block transaction checks.)

So we can save time by automatically approving any block transaction verify requests that match a transaction already in the mempool.

## Security

W

[2022-11-21 09:26] mpguerra commented on #4946
@gustavovalverde can I please get an estimate on this issue?

[2022-11-21 09:51] mpguerra commented on #5466
I've created #5675 and added it to next sprint (sprint 24) instead

[2022-11-21 09:51] #5466 closed, assigned to arya2

[2022-11-21 09:55] mpguerra opened #5675 "getblocktemplate RPC: Check if Zebra is still syncing lots of blocks, and return an error if it is"
## Motivation

In order to be sure that Zebra is synced to the tip for the `getblocktemplate` RPC call we need to:

- check if Zebra has finished syncing blocks
- allow the same clock skew as the Zcash network, which is 100 blocks, based on the standard rule:

### Specifications

https://zips.z.cash/protocol/protocol.pdf#blockheader

## Related Work

#5466

[2022-11-21 10:12] mpguerra commented on #5644
@gustavovalverde can we please get an estimate here?

[2022-11-21 11:05] mpguerra commented on #5652
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/5652?planning-poker) with Zenhub @arya2 @conradoplg @dconnolly @oxarbitrage @teor2345

[2022-11-21 11:06] mpguerra commented on #5468
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/5468?planning-poker) with Zenhub @arya2 @conradoplg @dconnolly @oxarbitrage @teor2345

[2022-11-21 11:29] mpguerra commented on #5384
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/5384?planning-poker) with Zenhub @arya2 @conradoplg @dconnolly @oxarbitrage @teor2345

[2022-11-21 11:29] mpguerra commented on #5570
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/5570?planning-poker) with Zenhub @arya2 @conradoplg @dconnolly @oxarbitrage @teor2345

[2022-11-21 11:41] mpguerra commented on #5624
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/5624?planning-poker) with Zenhub @arya2 @conradoplg @dconnolly @oxarbitrage @teor2345

[2022-11-21 12:31] teor2345 commented on #5570
This was fixed by PR #5565.

[2022-11-21 12:31] #5570 closed, assigned to nobody

[2022-11-21 15:16] mpguerra opened #5676 "Pin Swatinem/rust-cache to a patch version"
## Motivation

We want to pin Swatinem/rust-cache to a specific version, rather than just the current major version it's pinned to.

### Specifications

### Designs

## Related Work

 See  #5647

[2022-11-21 18:18] #5645 closed, assigned to nobody

[2022-11-21 19:35] arya2 opened #5681 "Add a contextual validity test for the getblocktemplate method"
## Motivation

A contextual validity check was added to the getblocktemplate RPC method in https://github.com/ZcashFoundation/zebra/pull/5630.

While this would needlessly hurt performance in production, it's useful for testing that the getblocktemplate response will be contextually valid and accepted if submitted with a valid solution before another block is committed.

## Designs

- See https://

[2022-11-21 23:15] arya2 opened #5684 "Add support for block proposals to `getblocktemplate` method"
## Motivation

zcashd supports the `proposal` capability, so that if miners want to modify the template and then check that their modifications are still valid before mining, they could propose the new template.

This would also be useful for testing purposes, as we could propose the getblocktemplate's response and confirm that the block will be accepted if it has a valid solution.

This would req

[2022-11-21 23:19] arya2 opened #5685 "Test the getblocktemplate RPC's response as a block template proposal in CI"
## Motivation

The acceptance test could confirm that the `getblocktemplate` response in 'template' mode will be accepted if it has a valid solution by submitting the same data to the `getblocktemplate` method in 'proposal' mode.

### Design

In the acceptance test that syncs until the tip and calls the `getblocktemplate` RPC method:
- Deserialize the response
- Convert the template into a block w

[2022-11-21 23:21] arya2 commented on #5681
Closing this for now in favour of #5685

[2022-11-21 23:21] #5681 closed, assigned to nobody

[2022-11-21 23:22] teor2345 commented on #5624
I'm not sure what still needs to be done for this ticket, it looks like it got partly fixed in PR #5634.

@arya2 can you add a list of the fixes that are still needed at the top of the ticket?

[2022-11-21 23:24] teor2345 commented on #5384
I think we should just allow a `Nil` response here.

We could also retry the request until it is not `Nil`, with a sleep in between, and a limit on the number of retries. But that will only work if the transactions are pending, rather than ignored or deleted.

[2022-11-21 23:25] teor2345 commented on #5468
I'd like to know what fields we're implementing first, before I estimate this RPC.

[2022-11-21 23:26] teor2345 commented on #5652
So I think this just needs a quick fix to remove an assertion, or fix a bug.

Did you want an estimate for the whole ticket, or just that fix?

[2022-11-21 23:43] teor2345 opened #5686 "Manually test that each mining RPC works correctly"
## Motivation

The fields in the getblocktemplate RPC are used by miners to create new blocks. We might have missed some fields, or made some mistakes.

So we need to test that the RPC implements the consensus rules correctly. These are manual tests.

## Test Ideas

- Call the RPC using `zcash-cli` once Zebra has synced to the tip, and inspect the output
    - [x] getblocktemplate
        - [x] ge

[2022-11-21 23:48] teor2345 commented on #5686
@mpguerra I opened this ticket for specific tests for the getblocktemplate RPC, because it has a lot of fields and tricky consensus rules.

[2022-11-21 23:54] teor2345 commented on #5684
All the miners we've seen so far use `submitblock`, so I think this RPC feature is optional.

[2022-11-21 23:56] teor2345 commented on #5685
I'm not quite sure how this would work, do we need to mine a valid solution for the proposal to be valid?
Could we use `submitblock` in the test, rather than adding an extra unused `proposal` mode to `getblocktemplate`?

[2022-11-22 00:04] arya2 commented on #5685
It doesn't need a valid solution (it doesn't commit the block, just checks that it would be accepted if submitted with a valid solution), so a new block verifier request would skip the `check::equihash_solution_is_valid(&block.header)` [here](https://github.com/ZcashFoundation/zebra/blob/main/zebra-consensus/src/block.rs#L166) and use a `CheckContextualValidity` request instead of `CommitBlock`. T

[2022-11-22 00:06] arya2 commented on #5684
It would be really convenient for testing, but this does seem like a potentially bad case of scope creep.

[2022-11-22 00:32] teor2345 commented on #5685
Sounds good, can you update the ticket description with the spec details and your suggested design?

Sometimes they get lost in the comments!

[2022-11-22 00:37] teor2345 commented on #5684
Let's think about how we can minimise the scope?
- don't return detailed errors
- split the verification function into PoW (equihash, header hash/difficulty) and the rest of the verification (difficulty target, header, transactions), we should be doing PoW first anyway for security
- add new chain verifier, block verifier, and state request types

Hmm that still seems like a lot.

[2022-11-22 00:56] arya2 commented on #5684
I added a design, it's not as bad if we can skip returning detailed errors.

[2022-11-22 02:35] teor2345 opened #5688 ""Error: Input required and not supplied: key" on PRs from dependabot"
## Motivation

When I ran `@dependabot recreate` on PR #5667, commit 7d5f869 failed CI in the shimataro/ssh-key-action with:

https://github.com/ZcashFoundation/zebra/actions/runs/3519171243/jobs/5898876427#step:5:59

This might be related to the security settings for PRs from external users.

[2022-11-22 02:36] teor2345 commented on #5688
@gustavovalverde this might be something we want to fix tomorrow.

Since it is only affecting dependabot and not mergify, it can wait until then.

[2022-11-22 02:54] teor2345 commented on #5376
If a transaction is already in the mempool, Zebra currently:
- removes committed transaction IDs, spent outputs, and revealed nullifiers from the best chain
- removes expired transactions at the new height

Anchors remain valid when the chain is extended, so that check doesn't need to be done for each new block.

So we don't need to change anything that happens when a transaction is already in the

[2022-11-22 09:14] mpguerra commented on #5468
Looking at this again I've decided to remove from the sprint until I can do some more research on it. FWIW I think we'd start with just the fields that we know are used by mining pools, e.g the network hash rate

[2022-11-22 13:11] mpguerra commented on #5684
I really like this idea for testing! Let's definitely see if we can minimise the scope

[2022-11-22 21:03] #4946 closed, assigned to gustavovalverde

[2022-11-22 22:20] teor2345 commented on #5688
This seems to be fixed, dependabot PR #5690 ran fine.

[2022-11-22 22:20] #5688 closed, assigned to gustavovalverde

[2022-11-22 22:27] teor2345 opened #5700 "Re-use blocks from the old state when the state version changes"
## Scheduling

This change is only useful when the Zebra state version changes, which will probably be ZSA asset indexes.

## Motivation

When Zebra's state version changes, we delete the old state version, and re-download and re-verify all the blocks from genesis.

But the Zcash blockchain will soon be over 200 GB in size. If multiple Zebra instances try to re-download the whole chain at the same

[2022-11-22 22:38] teor2345 commented on #5684
I like this idea too!

If we design it right, we can add a feature that automatically tests each `getblocktemplate` RPC response before we send it. (Convert the response to a block, then call the proposal function with that block, then assert that it is valid.)

We might be able to automate this test, as long as we ignore errors when the height has changed. (There's a race condition between creati

[2022-11-23 02:07] teor2345 commented on #5384
Failed on PR #5696 in the mergify queue:
https://github.com/ZcashFoundation/zebra/actions/runs/3528199882/jobs/5918491910#step:3:9480

@mpguerra can we schedule this fix in the next sprint? It is a very quick fix.

[2022-11-23 03:53] #5044 closed, assigned to gustavovalverde

[2022-11-23 12:20] gustavovalverde opened #5706 "ci: Tests failing with `request should match added_transaction_ids`"
## Motivation

This error has happened a few times in PRs and on the main branch, and rerunning fixes it:

[code]

Full backtrace here: https://github.com/ZcashFoundation/zebra/actions/runs/3531498052/jobs/5924747694#step:3:9534

[2022-11-23 12:28] gustavovalverde commented on #5706
This also happened in `main` in another test https://github.com/ZcashFoundation/zebra/actions/runs/3524141968/jobs/5909163893#step:14:8717

Maybe this ticket title is not accurate

[2022-11-23 12:37] mpguerra commented on #5706
This is #5384, let's track there

[2022-11-23 12:37] #5706 closed, assigned to nobody

[2022-11-23 18:35] arya2 opened #5707 "Improve consistency of usage information printed by zebrad `help` command"
## Motivation

Print the long-form usage information for the help to match that which is printed with the --help flag

### Designs

- Copy Abscissa's `Help` Cmd into a new command module
- Move the code used to print out usage information for the `--help` flag into a fn of the new module (https://github.com/ZcashFoundation/zebra/blob/main/zebrad/src/application/entry_point.rs#L46)
- Call that fn i

[2022-11-23 18:37] arya2 commented on #5624
I updated this with a vague design and split out the part of this that's easy to address without updating Abscissa out to issue #5707

[2022-11-23 21:12] teor2345 commented on #5366
@gustavovalverde did this get fixed by the recent changes?

[2022-11-23 21:21] teor2345 opened #5709 "Fix repeated block timeouts during initial sync"
## Motivation

During the initial sync, Zebra's block validation repeatedly times out, and the syncer resets:

This only happens in some parts of the chain, and it seems to happen at slightly different block heights each time. When it does happen, it can happen repeatedly every 10-15 minutes:
https://github.com/ZcashFoundation/zebra/actions/runs/3519147385/jobs/5923785413#step:8:12465

This is not

[2022-11-23 22:18] teor2345 commented on #5384
Failed in PR #5693:
https://github.com/ZcashFoundation/zebra/actions/runs/3535813495/jobs/5934245122#step:3:9511

[2022-11-24 00:52] teor2345 commented on #5384
Failed in PR #5710:
https://github.com/ZcashFoundation/zebra/actions/runs/3536581445/jobs/5935745732#step:3:9455

[2022-11-24 01:22] DeckerSU opened #5713 "relay (fRelayTxes) field when parse Message::Version from the remote node should be optional"
## Required Changes

If the `Version` message bytes end at the `start_height` field, Zebra currently returns an `ErrorKind::UnexpectedEof`.
Instead of returning that error for that field, set the `relay` field to `true`.

If the message doesn't include enough bytes for any of the other fields, Zebra should continue to return `ErrorKind::UnexpectedEof`.

## Bug Report

The `relay` field read from t

[2022-11-24 01:27] #5335 closed, assigned to teor2345

[2022-11-24 03:12] arya2 commented on #5376
We might need to add a check for spend conflicts in the mempool too.

There are checks for:
- spend conflicts within the transaction
- a transaction with the same hash in the mempool (in `storage.should_download_or_verify`)
- a transaction with the same hash in the state (in `download_if_needed_and_verify`)

but I don't see it checking for spend conflicts against verified transactions in the mempo

[2022-11-24 03:34] #5153 closed, assigned to nobody

[2022-11-24 03:34] #5543 closed, assigned to gustavovalverde

[2022-11-24 08:31] teor2345 commented on #5713
@mpguerra this bug can stop Zebra connecting to other nodes, it might be the cause of some of our DNS seeder or block explorer issues.

Can we fix it in the next sprint?

[2022-11-24 08:37] teor2345 commented on #5376
That happens just before the transaction is inserted into the mempool:
https://github.com/ZcashFoundation/zebra/blob/c7745415b6da487db0c081f01a0183975c6de406/zebrad/src/components/mempool/storage/verified_set.rs#L116-L118

[2022-11-24 08:54] mpguerra commented on #5384
Added to current sprint (sprint 24)

[2022-11-24 21:48] teor2345 commented on #5384
Failed again in PR #5710:
https://github.com/ZcashFoundation/zebra/actions/runs/3543565196/jobs/5950131733#step:3:9419

[2022-11-24 22:11] arya2 commented on #5675
I'm thinking I'll move the sync status module into zebra-network for this issue.

[2022-11-24 22:58] teor2345 commented on #5675
This could be a really big functional change, which would impact sync reliability.

`SyncStatus` currently uses the most recent sync lengths from the syncer, which is in `zebrad`. This is not the same as the number of recently downloaded blocks via `zebra-network`. (We can't move the whole syncer due to crate dependencies.)

Instead, you could use a similar design to `ChainTip`:
- add a `SyncStatu

[2022-11-25 02:11] teor2345 opened #5718 "Reduce Zebra disk usage for mining pools"
## Motivation

Some mining pools have asked us to reduce Zebra's disk usage.

### Alternative Designs

Here are some different things we could try, in rough order of effort/disruptiveness:

0. Stop storing duplicate state data
    - #4784
    - Change the finalized sprout_note_commitment_tree to a key of `()` and a value of `sprout::Root`. Look up the actual note commitment tree in sprout_anchors.

[2022-11-25 02:24] teor2345 opened #5719 "Implement transparent P2PKH mining address support"
## Motivation

Some mining pools have told us they use P2PKH transparent addresses for coinbase transactions, but Zebra only currently supports P2SH transparent addresses.

### Specification

[code]

https://developer.bitcoin.org/devguide/transactions.html#p2pkh-script-validation

In Zebra, `<PubkeyHash>` is implemented as:
[code]

### Designs

- If the configured miner address is a P2PKH address,

[2022-11-25 02:28] teor2345 commented on #5719
@mpguerra can we schedule this in the next sprint?

It's not urgent, but some miners won't be able to use Zebra for mining until we do it.

[2022-11-25 02:39] teor2345 opened #5720 "Support long polling in the getblocktemplate RPC (excluding mempool changes)"
## Motivation

Some mining pools need long polling support, where the RPC response is delayed until the block template changes.

### Specifications

https://en.bitcoin.it/wiki/BIP_0022#Optional:_Long_Polling

### Designs

RPC fields:
- [x] Declare `longpoll` support in the `getblocktemplate` RPC `capabilities`
- [x] Provide a `longpollid` field in the RPC response, which represents the contents of

[2022-11-25 02:46] teor2345 opened #5721 "Implement getnetworksolps and getnetworkhashps RPC"
## Motivation

Some mining pools use the getnetworkhashps RPC.

### Specifications

These RPCs are identical, just with a different name:
https://zcash.github.io/rpc/getnetworksolps.html
https://zcash.github.io/rpc/getnetworkhashps.html

### Designs

Miners just use the current network hash rate, so we can ignore the arguments and just use the default values.

We should return an error if the argu

[2022-11-25 02:51] teor2345 opened #5722 "Implement validateaddress RPC"
## Motivation

Some mining pools use this RPC to check addresses.

### Specifications

https://zcash.github.io/rpc/validateaddress.html

### Designs

We can call the [`zcash_address`](https://docs.rs/zcash_address/latest/zcash_address/) crate to validate shielded and unified addresses. (Zebra also has its own transparent address parsing, but we'd be better to just be consistent and use `zcash_addr

[2022-11-25 02:55] teor2345 commented on #5468
@mpguerra I've updated the ticket with the two fields we know are currently used by mining pools

[2022-11-25 03:11] teor2345 opened #5723 "Implement the getpeerinfo RPC"
## Motivation

Some mining pools use the getpeerinfo RPC to make sure the mining pool is still connected to peers.

### Specifications

https://zcash.github.io/rpc/getpeerinfo.html

### Designs

- Pass the shared `zebra-network` address book to the RPC server
- Call `address_book.recently_live_peers()` to get the peers that were recently connected
    - The shared address book is protected by a mu

[2022-11-25 11:07] mpguerra commented on #5468
Are you able to estimate this now based on the above 2 fields?

[2022-11-27 23:25] teor2345 opened #5729 "create_credentials_file checkout warning in continous-delivery.yml"
I get this warning when running the `continous-delivery.yml` workflow:

https://github.com/ZcashFoundation/zebra/actions/runs/3536561823

_Originally posted by @teor2345 in https://github.com/ZcashFoundation/zebra/issues/5710#issuecomment-1326981911_

[2022-11-28 06:35] teor2345 commented on #5455
PR #5659 populates all of these fields except `defaultroots.chainhistoryroot` (and the 5 fields that are copies of it).

@mpguerra @oxarbitrage did you want to split that out into a separate ticket?

[2022-11-28 13:35] mpguerra commented on #5455
I think @oxarbitrage is working on them in a separate PR so I think it's ok to just keep it in this ticket.

[2022-11-28 18:05] arya2 opened #5732 "Move BoxError downcast out of `impl From<BoxError> for TransactionError`"
## Motivation

It would be better for the compiler to complain about a mismatch between BoxError / TransactionError when using the `?` operator, and to perform the conversions where the type of `BoxError` is more explicitly known.

`TransactionError` is currently the only error type with a `From` impl handling downcasts.

This could be used in the block verifier for `VerifyBlockError::ValidateProp

[2022-11-28 19:30] teor2345 commented on #5732
These downcasts are located in the same place, so we don't accidentally implement conflicting downcasts. Moving the downcasts out of the conversion could make the code harder to maintain, and create more bugs.

Unfortunately, it is impossible to know the type of many errors, because `tower::Buffer` converts all service readiness and response errors to `BoxError`:
https://docs.rs/tower/latest/tower

[2022-11-28 22:25] teor2345 commented on #5168
I added some more details to this ticket, and a possible test script.

[2022-11-29 06:17] teor2345 opened #5736 "change(ci): Change set-output to environment files by May 2023"
## Motivation

This message is logged by a lot of our workflows:

### Specifications

https://docs.github.com/en/actions/using-workflows/workflow-commands-for-github-actions#setting-an-output-parameter

[2022-11-29 09:42] mpguerra commented on #5720
We probably want to do this, however, this seems like a nice and should wait until we have the basic MVP functionality done (Scope section in https://github.com/zcashfoundation/zebra/issues/5234)

[2022-11-29 09:45] mpguerra commented on #5721
It seems like this RPC call is actually deprecated in favour of `getnetworksolps`.

Do we still want to do this or do `getnetworksolps` instead? Or should we do both?

[2022-11-29 09:47] mpguerra commented on #5722
We should implement these, however since they are not strictly mining RPCs they don't fall within the scope of the MVP.

[2022-11-29 09:48] mpguerra commented on #5723
We should implement these, however since they are not strictly mining RPCs they don't fall within the scope of the MVP.

[2022-11-29 13:55] mpguerra commented on #5302
I'm going to remove this one from the GBT epic since we don't yet know of any usecases for it.

[2022-11-29 14:07] mpguerra opened #5739 "Tag Zebra 1.0.0-rc.2"
## Motivation

We want to tag the next Zebra release.

[2022-11-29 21:00] arya2 commented on #5732
Ah, I see. Still, it might be a good idea to do the conversion outside a `From` impl so it's more obvious where the conversions are happening. I added a possible design.

[2022-11-30 00:07] arya2 opened #5744 "Use lazier alternatives to `count()` in `Transaction` methods where possible"
## Motivation

Some functions like `check::has_inputs_and_outputs` in the transaction verifier or `check::anchors::sprout_anchors_refer_to_treestates` in the state service are accessing more data than is required to compute their result.

It would be faster to use `next().is_some()` or `joinsplit_data.rest.len() + 1` in those cases, `map(Vec::len).sum()` for getting the nullifier counts for metric

[2022-11-30 00:33] teor2345 commented on #5744
Rust is pretty good at optimising iterators. Have you checked that these extra data accesses actually happen in production? Is the performance of this code actually impacting Zebra's performance?

[2022-11-30 01:15] teor2345 commented on #5384
This has failed at least 5 times today, so I think it's a high priority.

@oxarbitrage can you fix this tomorrow, or would you like me to?

[2022-11-30 01:35] teor2345 commented on #5721
Some mining pools still use this RPC. I don't think that mining pools will change the RPCs they use, just so they can use Zebra.

The arguments and returned value are exactly the same for both RPCs. So we can implement both RPCs at the same time using an alias. (I added some details to the ticket.)

[2022-11-30 01:36] teor2345 commented on #5720
How will we know our MVP implementation actually works, if we don't implement enough functionality for a mining pool to run it?

[2022-11-30 01:38] teor2345 commented on #5722
Some mining pools won't be able to use Zebra until we implement these RPCs.

[2022-11-30 01:38] teor2345 commented on #5723
Some mining pools won't be able to use Zebra until we implement these RPCs.

[2022-11-30 01:42] teor2345 commented on #5732
I don't think the design in the ticket does this?

[2022-11-30 02:54] arya2 commented on #5744
Not a chance, there are far too few transactions for it to matter.

[2022-11-30 02:54] #5744 closed, assigned to nobody

[2022-11-30 04:40] #5376 closed, assigned to arya2

[2022-11-30 11:03] mpguerra commented on #5686
Let's figure out what the tests look like manually first before we try to automate anything

[2022-11-30 19:46] teor2345 commented on #5686
Thanks, I've updated the ticket to make this clearer

[2022-11-30 20:43] arya2 commented on #5732
My wording there may have been a bit vague, it's more to disallow using `?` or `into()` without explicitly defining how the `BoxError` should be converted into a `TransactionError` so it's more obvious when a new variant needs to be added to `TransactionError`.

It might also be nice to annotate where each type is expected.

[2022-11-30 21:42] teor2345 opened #5750 "Automatically delete old GCP Artifact Registry Storage test images"
## Motivation

They are costing us a bit, and it's increasing every month.

We want to keep them around long enough so that PRs that are still on the same commit can be re-run with the same image.

### Designs

Delete test images from GCP Artifact Registry Storage after 3 weeks.
(Most PRs get updated every few days, and merge within 1-2 weeks.)

[2022-11-30 23:10] teor2345 opened #5752 "Update block production algorithm once ZIP-317 updates"
## Motivation

We're expecting a minor update to the ZIP-317 block production algorithm.

### Specifications

https://zips.z.cash/zip-0317

With the changes from the PR:
https://github.com/zcash/zips/pull/650

### Designs

1. Replace the dynamic size limit with a fixed action limit. This makes the design simpler.
    - Don't make the limit configurable for now, we'll see if we need to do that late