[2021-06-15 12:45] oxarbitrage opened #2308 "Legacy Chain Check"
## Solution

### Check Finalized Transaction network_upgrade field

V5 transactions have a `network_upgrade` field. If Zebra has followed a legacy chain, the `network_upgrade` field will be different to the calculated `network_upgrade` for that height.

In `StateService::new`, immediately after the new state is created:
- [ ] get a block iterator using `new_service.any_ancestor_blocks(new_service.

[2021-06-15 15:08] mpguerra opened #2309 "Tracking: Mempool"
This epic issue will track the mempool work required for Zebra to be a full participant in the Zcash network. The tasks within each of the sections are listed in order of priority and or importance, with optional and lower priority tasks lower down the list in each section.

See the [system diagram](https://jamboard.google.com/d/1HUhdqx8afJUqgiBdBcjCw0aAfDod9R9KBJeAH24U1Qg/viewer?f=0) for the prel

[2021-06-15 15:32] mpguerra opened #2310 "Tracking: `zebrad` Usability"
This epic issue tracks usability fixes we might want to make whilst working towards our first stable release:

## Issues

- [x] #1158
- [x] #1591
- [x] #1627
- [x] #1655
- [x] #1772
- [x] #2188
- [x] #2201
- [x] #2394
- [x] #2847
- [x] #3279
- [x] #3287
- [x] #3288
- [x] #3242
- [x] #1904
- [x] #3042
- [x] #1023
- [x] #1323
- [x] #1380
- [x] #1381
- [x] #692
- [x] #1480
- [x] #1326
- [x] #1615
- [

[2021-06-15 15:36] mpguerra opened #2311 "Tracking: Security Issues"
This epic issue tracks security fixes we might want to make at some point, as part of some of our high level goals (e.g #3096, #3134, #2814, etc... )

# Issues

## Stable Release

- #3096
   - [x] #3384
   - [x] #3388
   - [x] #1143
   - [x] #3278
   - [x] #1113
   - [x] #3234
   - [x] #2156
   - [x] #3429

## Lightwalletd

- #3134
   - [x] #2028
   - [x] #3300
   - [x] #3271
   - [x] #3048
   - [

[2021-06-15 15:58] mpguerra opened #2312 "Tracking: Tech Debt"
This epic issue tracks tech debt issues we might want to pay back ahead of our first stable release

[2021-06-15 16:31] mpguerra opened #2313 "Tracking: Documentation"
This epic issue tracks documentation updates we might want to make ahead of our first stable release

[2021-06-15 21:53] teor2345 commented on #338
We've chosen to delay work on miner rewards and block subsidy until later, so I'm removing this from the sprint.

[2021-06-15 21:55] teor2345 commented on #2090
This task doesn't contribute directly to NU5 validation or client work, so I'm removing it from the sprint.

In the meantime we can just delete these when there are too many of them.

[2021-06-15 21:56] teor2345 commented on #2292
This task doesn't contribute directly to NU5 validation or client work, so I'm removing it from the sprint.

In the meantime we should do these tasks as needed for other work.

[2021-06-15 22:35] dconnolly opened #2317 "Validate Orchard SpendAuth signatures for Transaction::V5"
## Motivation

We need to validate Orchard Spend Auth signatures as part of validating NU5 consensus rules.

### Specifications

- [ ] Validate Orchard Action SpendAuth signatures:
![image](https://user-images.githubusercontent.com/552961/122131674-87995d00-ce07-11eb-8d15-9e3c21a0588c.png) https://zips.z.cash/protocol/protocol.pdf#actiondesc

## Solution

Queue up the Orchard Action SpendAuth sign

[2021-06-15 22:48] #2306 closed, assigned to oxarbitrage

[2021-06-16 00:29] teor2345 opened #2319 "Automatically support references in Zebra trait impls"
## Motivation

If we made Zebra traits like `ZcashSerialize` automatically available for references, it would be easier to develop Zebra code.

It would also be good to do a similar thing for all our standard trait impls, like `From` and `TryFrom`.
(But we might not want to make this change for derived traits.)

### Rust Reference

https://doc.rust-lang.org/1.30.0/book/2018-edition/ch10-03-lifetim

[2021-06-16 00:46] dconnolly opened #2320 "Run benchmarks as part of Zebra CI"
## Motivation

We currently do not run our benchmarks as part of CI.

## Solution

We may want to run benchmarks as part of CI in a manner similar to our coverage jobs (informational but not blocking) to track these over time and make sure they don't break silently.

### Alternatives

Don't run benchmarks regularly as part of CI. They may continue to break silently.

## Related Work

https://githu

[2021-06-16 10:01] teor2345 opened #2324 "Ignore and sanitize untrusted MetaAddr peer services"
## Motivation

We have a higher level of trust in peer services that we learn directly from the peer itself.

But if we learn those services from other peers, we don't trust them very much, so we might want to:
- sanitize untrusted services
- ignore untrusted services when choosing the next peer to connect to

### Specifications

https://developer.bitcoin.org/reference/p2p_networking.html#addr

(T

[2021-06-16 10:08] teor2345 commented on #1753
The DNS seeders don't use zebra-network, so this ticket is invalid.

[2021-06-16 10:08] #1753 closed, assigned to nobody

[2021-06-16 10:34] mpguerra commented on #2115
Moving this out of Sprint 13 as we'll deal with coinbase rules at a later date, post NU5 activation

[2021-06-16 10:41] teor2345 opened #2325 "Use the CandidateSet and AddressBook to connect to initial seed peers"
## Motivation

Zebra has custom code that connects to all its initial seed peers on startup.

But we could use the `AddressBook` and `CandidateSet` to connect to these peers.

This would make the code simpler and more reliable. But we would need to maintain some existing security and reliability features of Zebra.

### Specifications

https://developer.bitcoin.org/devguide/p2p_network.html#peer-di

[2021-06-16 10:43] teor2345 opened #2326 "Security: Rate-limit initial seed peer connections"
## Motivation

Zebra doesn't rate-limit its connections to initial seed peers. There can be more than 100 of these peers on mainnet.

This is a medium-priority security fix, because initial peer connections only happen at Zebra startup.

## Suggested Design

In `add_initial_peers`, make sure only one connection is initiated per `MIN_PEER_CONNECTION_INTERVAL`. This applies the rate limit before Zeb

[2021-06-17 00:23] jvff opened #2328 "Update `zcash_script` to support V5 transactions"
## Motivation

With the NU5 activation, a new transaction format was introduced (V5). Zebra is currently in the process of adding support for verifying those transactions (#1981). To validate transparent inputs and outputs, Zebra uses the `zcash_script` crate. However, it seems that it doesn't yet support V5 transactions, because it segfaults with a V5 test case.

### Specifications

The new trans

[2021-06-17 01:20] teor2345 commented on #1162
This ticket validates coinbase inputs, so it is out of scope for the moment.

[2021-06-17 01:25] teor2345 commented on #2115
We're only skipping coinbase *input* validation: Founders Reward, Funding Streams, and Miner Rewards.
We have to validate coinbase *outputs*, because outputs get spent along with other Zcash coins.

But looking at the list of consensus rules in #608, we don't need a design here, just some good function and module docs.

[2021-06-17 01:25] #2115 closed, assigned to nobody

[2021-06-17 02:13] teor2345 opened #2329 "State: Validate transparent coinbase outputs"
## Motivation

Zebra needs to track the source of transparent coinbase UTXOs in the state, so we can validate:
- the coinbase maturity rule, and
- the mandatory transparent coinbase shielding rule.

(Zebra's state already ignores the genesis coinbase outputs.)

### Specifications

https://zips.z.cash/protocol/protocol.pdf#txnencodingandconsensus

### Designs

https://github.com/ZcashFoundation/zeb

[2021-06-17 02:16] teor2345 opened #2330 "Transaction Verifier: Validate transparent coinbase outputs"
## Motivation

Zebra needs to track the source of transparent coinbase UTXOs in the transaction verifier, so we can validate:
- the coinbase maturity rule, and
- the mandatory transparent coinbase shielding rule (this check might be skipped, check the final design).

### Specifications

https://zips.z.cash/protocol/protocol.pdf#txnencodingandconsensus

### Designs

See the design RFC from #1970

#

[2021-06-17 03:16] teor2345 opened #2331 "Remove serde from zebra-chain"
## Motivation

`zebra-chain` uses a bunch of `serde` traits, derives, and attributes. But we don't actually depend on them for anything.

(Instead, we manually implement `ZcashSerialize` for consensus-critical serialization.)

## Solution

Working from larger structures to smaller structures:
- [ ] Remove derived and manual `serde::Serialize` and `serde::Deserialize` trait impls
  - and any relate

[2021-06-17 09:59] mpguerra commented on #2134
Moving to Sprint 13 for now

[2021-06-17 09:59] mpguerra commented on #2048
Moved to Sprint 13

[2021-06-17 12:30] conradoplg commented on #2320
+1! If we don't do that then we can end up with benchmarks gettings worse for whatever reason and having no immediate idea what the cause is (been there)

[2021-06-17 23:14] teor2345 commented on #2320
That's a slightly different change - this ticket is about making sure benchmarks compile and run successfully.

@conradoplg can you open a different ticket for showing benchmark results in CI using a bot?

[2021-06-17 23:26] teor2345 opened #2336 "Add hashAuthDataRoot to Block network messages, and semantically verify it"
## Motivation

In #2134, Zebra validates the `hashAuthDataRoot` in the finalized state. But this is very late in the validation pipeline.

We'd prefer to validate it as the first step in block and checkpoint verification. That way, the transaction authorizing data is bound to the block header before we do any other verification. That improves the security of Zebra's verification pipeline.

### Spe

[2021-06-18 00:05] #2305 closed, assigned to oxarbitrage

[2021-06-18 00:42] teor2345 opened #2338 "Create Error enums in `zebrad`"
## Motivation

In the `zebrad` crate, we use strings for errors.

But it would be easier to handle errors if we used enums.

## Solution

- [ ] Change `zebrad` errors from strings to enums

## Related Work

Downcast and match error enums in the syncer #2339

[2021-06-18 00:45] teor2345 opened #2339 "Downcast and match Already Verified error enums in the syncer"
## Motivation

Currently, the syncer matches strings so it can ignore errors for already verified blocks.

But it's much more reliable to use enums instead.

## Solution

- [ ] Replace `AlreadyVerified` string matching with downcasts and enum matches
- [ ] Optional: make this check into a helper trait: https://github.com/ZcashFoundation/zebra/issues/1321#issuecomment-729302924

## Related Work

Th

[2021-06-18 07:00] teor2345 opened #2340 "Use cap-std to secure filesystem and network access"
## Motivation

Zebra is vulnerable to security issues where it accesses the wrong file or IP address. For example:
- if malicious process adds a symlink to the Zebra state directory, it will overwrite the linked file
- if a malicious peer sends a broadcast or multicast address, Zebra will try to connect to the multiple IP addresses that it represents

One way to avoid these kinds of bugs is using

[2021-06-18 07:01] teor2345 commented on #2340
@dconnolly cap-std might be really useful for zebra-client

[2021-06-18 08:20] teor2345 opened #2342 "Write a "restart from empty" Zebra acceptance test"
## Motivation

We don't have any Zebra acceptance tests for restarting with an empty state.

## Solution

Add a restart test for an empty state:
- [ ] change `debug_stop_at_height` to take a new enum with variants: `ContinueSyncing`, `StopAtEmpty`, `StopAtHeight(Height)`
- [ ] if `debug_stop_at_height` is `StopAtEmpty`, stop before any blocks are committed to the `FinalizedState`
- [ ] write a `re

[2021-06-18 08:23] teor2345 opened #2343 "Move the Transaction network upgrade check to zebra-chain"
## Motivation

To implement the legacy chain check in #2308, we need to check the transaction network upgrade field in zebra-state.

## Solution

- [x] Make the Transaction `network_upgrade` field check into a `Block.check_transaction_network_upgrade` method
  - copy the consensus rule to the method docs
  - create a `TransactionError` enum like: https://github.com/ZcashFoundation/zebra/blob/main/

[2021-06-18 08:27] teor2345 opened #2344 "Add a path method to the FinalizedState"
## Motivation

We need to know the database path in #2308 to generate a good error message.

## Solution

- [ ] Add a `path` method to the `FinalizedState`, which calls `self.db.path()`: https://docs.rs/rocksdb/0.16.0/rocksdb/struct.DBWithThreadMode.html#method.path

[2021-06-18 08:35] teor2345 commented on #1321
Duplicate of #2339

[2021-06-18 08:35] #1321 closed, assigned to yaahc

[2021-06-18 08:38] teor2345 commented on #1590
I haven't seen this bug for a while, so let's close it.

[2021-06-18 08:38] #1590 closed, assigned to nobody

[2021-06-18 12:30] #1848 closed, assigned to teor2345

[2021-06-18 12:30] #1849 closed, assigned to teor2345

[2021-06-18 13:55] conradoplg opened #2348 "Show benchmark results in Zebra CI"
## Motivation

Code changes and dependencies being updated may eventually decrease the performance of benchmarked code. In order to make it easier to pinpoint which changes have impacted the performance, we can run the benchmarks in CI and show/register their results.

We should also compare results between versions, or against the main branch.

### Specifications

N/A

### Designs

N/A

## Soluti

[2021-06-18 13:56] conradoplg commented on #2320
Sure, done in https://github.com/ZcashFoundation/zebra/issues/2348

[2021-06-18 19:32] conradoplg opened #2352 "Update redjubjub to 0.5 (or next crates.io release)"
## Motivation

In https://github.com/ZcashFoundation/zebra/pull/2351 we are temporarily pointing to a commit in the main branch of redjubjub. We should point to the next release after it's published.

### Specifications

N/A

### Designs

N/A

## Solution

Update the redjubjub to its next release.

### Alternatives

Keep pointing to the commit, but that should be avoided

## Related Work

Leftover

[2021-06-18 19:35] conradoplg opened #2353 "Update librustzcash to its next release"
## Motivation

We are currently pointing to a specific commit of libruszcash. We should point to the next release after it's published.

### Specifications

N/A

### Designs

N/A

## Solution

Update librustzcash to its next release. Remove the hardcoded dependencies in the workspace Cargo.toml that are copied from the librustzcash workspace Cargo.toml.

### Alternatives

Keep pointing to the comm

[2021-06-19 05:47] daira commented on #2336
I assigned ZIP number ~~240~~ 260 for this. (The title is just a placeholder.)

[2021-06-21 00:45] teor2345 opened #2355 "Upgrade pin_project dependency in tower-fallback to 1.0"
## Motivation

Zebra's `tower-fallback` crate has outdated code that depends on [a deprecated `pin_project` `project_replace` API](https://docs.rs/pin-project/0.4.28/pin_project/attr.pin_project.html#project_replace).

The [latest `project_replace` API](https://docs.rs/pin-project/1.0.7/pin_project/attr.pin_project.html#project_replace-method) uses different attributes, struct contents, and struct

[2021-06-21 02:43] teor2345 opened #2357 "Make MetaAddr.addr a private field"
## Motivation

In PR #2276, we make sure that all `SocketAddr`s are canonical in the `MetaAddr` and `MetaAddrChange` constructors.

But other code can still make the `addr` field non-canonical, because it's `pub(crate)`.

## Solution

- [ ] Add a `MetaAddr::addr()` method
- [ ] Make the `MetaAddr.addr` field private, replacing accesses with the method

### Alternatives

If we don't make this chang

[2021-06-21 23:10] dconnolly opened #2362 "Part of ZIP 212: validate Sapling and Orchard output of coinbase transactions"
## Motivation

For NU4 (Canopy), ZIP-212 introduced a new consensus rule related to the format of Sapling Output note plaintexts. While we aren't sending/receiving money yet in Zebra, as per [ZIP-213](https://zips.z.cash/zip-0213) we still need to decrypt and validate Sapling coinbase Outputs to the all-zero outgoing viewing key:

![image](https://user-images.githubusercontent.com/552961/122837128

[2021-06-21 23:17] teor2345 commented on #2362
@dconnolly @conradoplg I think ZIP-212 is out of date here.

The consensus rules from the spec include Orchard:

https://zips.z.cash/protocol/protocol.pdf#txnencodingandconsensus

[2021-06-22 00:00] teor2345 opened #2364 "Create a CanonicalAddr serialization and key type"
## Motivation

In PR #2276, we make sure that all `SocketAddr`s are canonical in the `MetaAddr` and `MetaAddrChange` constructors.

Otherwise, some `SocketAddr`s could compare unequal, but actually connect to the same peer. This breaks Zebra's network security overall connection limits (`PeerSet` / `AddressBook`) and new connection rate-limits (`CandidateSet` / `AddressBook`).

But non-canonical a

[2021-06-22 00:01] teor2345 commented on #2357
Obsoleted by #2364.

[2021-06-22 00:01] #2357 closed, assigned to nobody

[2021-06-22 01:03] teor2345 opened #2365 "Check enableSpends or enableOutputs in has_inputs_and_outputs"
## Motivation

The NU5 consensus rules were updated to check `enableSpends` or `enableOutputs` when counting orchard inputs or outputs.

### Specifications

![image](https://user-images.githubusercontent.com/8951843/122846278-d9cb0880-d348-11eb-9bab-aa63bd5d60ee.png)

## Solution

- [ ] update the consensus rules in the `check::has_inputs_and_outputs` comment
- [ ] update the code in `check::has_i

[2021-06-22 01:46] #2344 closed, assigned to oxarbitrage

[2021-06-22 02:06] #2343 closed, assigned to oxarbitrage

[2021-06-22 13:31] #2106 closed, assigned to mpguerra

[2021-06-22 17:20] mpguerra commented on #337
Seems like this issue is somewhat redundant in regards the work that we need to do post NU5 testnet activation:

- Upgrading zebrad from a legacy version after Network Upgrade activation (#1820)  is in ["NU5 Tracking: Zebra tasks"](https://github.com/ZcashFoundation/zebra/issues/1853) epic
-  Wipe-out protection - covered by FlyClient RootHash #1567 is in "[NU5 Tracking: Required ZIPs](https://git

[2021-06-22 17:45] mpguerra commented on #345
I keep coming across this issue and I'm not sure if this is something that needs to be done before NU5 testnet activation... @dconnolly can you help me understand? :)

[2021-06-22 19:58] dconnolly commented on #345
This is not required for NU5, this is a nice-to-have

[2021-06-22 21:58] teor2345 commented on #2193
We should probably use `tokio-console` to do this work.

[2021-06-22 21:58] teor2345 commented on #2042
This ticket might be obsoleted by #2331.

[2021-06-22 22:06] teor2345 opened #2368 "Update Zebra checkpoint lists & mandatory checkpoint before NU5 activation"
## Scheduling

This is a simple task that has a direct performance impact, particularly for CPU-constrained nodes.

We need to checkpoint 30,000 blocks after Canopy to avoid chain splits during the ZIP-212 grace period (#3027).

## Motivation

We regularly update Zebra's checkpoint lists so the initial chain sync is faster.

### Designs

The checkpoint update instructions are here:
https://github.

[2021-06-22 22:10] teor2345 opened #2369 "Security: stop panicking due to NU5 `unimplemented!()` statements"
## Motivation

When we were adding NU5 support to Zebra, we added comment TODOs and `unimplemented!()` placeholders to Zebra.

We need to make sure all the `unimplemented!()` placeholders have been removed. We should also check for any comment TODOs.

This ticket needs to be completed before NU5 testnet activation, otherwise Zebra will panic as soon as NU5 activates.

## Solution

Fixing panics:
-

[2021-06-23 00:00] yawnbox opened #2370 "Unable to start zebrad (Ubuntu 20.04)"
## Description

I'm not able to start zebrad (generate / start) from a new install on Ubuntu 20.04.

### Steps to Reproduce

The directions here aren’t great for outsiders:
https://zebra.zfnd.org/user/install.html

`sudo apt install clang libclang-dev llvm llvm-dev`

Installed Rust. Did not install ‘rustc’ (or cargo) from apt. At first, doing so installed rust version 1.47, where =>1.48 is necessa

[2021-06-23 00:25] dconnolly commented on #2370
Hi! Thanks for trying Zebra. To install zebrad on your path, you need to [use `cargo install`, instead of `cargo build`](https://github.com/ZcashFoundation/zebra#getting-started):

https://github.com/ZcashFoundation/zebra#getting-started

Can you give that a try?

[2021-06-23 01:10] yawnbox commented on #2370
That did the trick, thanks so much. Sorry for the noise.

[2021-06-23 01:10] #2370 closed, assigned to nobody

[2021-06-23 02:06] teor2345 opened #2372 "Update the README goals and scope for NU5 mainnet activation"
## Motivation

Update Zebra's readme with the latest release goals and scope.

## Solution

- [ ] Wait until all the NU5 validation tickets are done
- [ ] Update the goals
- [ ] Update the scope
- [ ] Check the README for other outdated info

[2021-06-23 03:02] dconnolly commented on #2370
Great! Let us know if you have any other trouble or questions 😁

[2021-06-23 03:10] teor2345 opened #2374 "ZIP-200: Test that mempool storage is cleared when a network upgrade activates"
## Motivation

When a network upgrade activates, the mempool needs to redo validation with the new consensus rules.

### Specifications

https://zips.z.cash/zip-0200#memory-pool

https://zips.z.cash/zip-0200#chain-reorganization

### Designs

Tasks can await network upgrade activation using `ChainTipChange::tip_change` and `TipAction::Reset`:
https://github.com/ZcashFoundation/zebra/blob/44ac06775

[2021-06-23 03:12] teor2345 commented on #337
I opened #2374. (Even if a check is already implemented, we need to document the rules that it's checking.)

We'll create most of the issue issues after we do the design in #936.

[2021-06-23 03:16] #1798 closed, assigned to conradoplg

[2021-06-23 05:20] teor2345 opened #2375 "Allow different `zebra-network` apps to use different user agents"
## Motivation

1. We want `zebrad` to have a different user agent from the ECC's DNS seeder, and other apps that use `zebra-network`

2. We'd like to simplify Zebra's release process, by automatically using a `zebrad` version in the zebra-network user agent.

### Specifications

https://github.com/bitcoin/bips/blob/master/bip-0014.mediawiki

## Solution

- [ ] Add a `user_agent` argument to `zebra

[2021-06-23 05:34] teor2345 commented on #1835
This validation isn't in our current list of exceptions for testnet NU5 activation. But we could add it if needed.

[2021-06-23 16:37] mpguerra commented on #2080
We never made a decision on this one and I'm still not clear if we need this for NU5 testnet activation.

If we do need to do this, we should take whichever approach is less work for now, even if we need to do it again some other way in future.

[2021-06-23 16:49] dconnolly commented on #2080
This is not strictly required for NU5 activation, we can save this for post-activation cleanup.

We've basically done the alternative option described in this ticket.

[2021-06-23 18:29] conradoplg opened #2377 "Refactor history tree pruning"
## Motivation

ZIP-221 specifies a history tree (a Merkle Mountain Range) that is committed to in the block header. This history tree must be kept in memory/state and it must be pruned (we just need the mountains peaks) before persisted.

The tree history pruning was included in #2301 and was based on code from librustzcash that iterates through the peaks of the tree, and it could benefit from som

[2021-06-23 19:18] conradoplg opened #2378 "Improve history and note commitment trees forking"
## Motivation

ZIP-221 specifies a history tree (a Merkle Mountain Range) that is committed to in the block header. This history tree must be kept in memory/state and, when a fork happens in the non-finalized state, it must be reversed to the state it had at the tip of the fork.

The history tree was included in #2301 and it handles forks by rebuilding the history tree from the finalized state his

[2021-06-23 21:21] teor2345 opened #2379 "Do we need to validate nSpendsSapling, nOutputsSapling, and nActionsOrchard limits in V5 transactions?"
## Motivation

We need to validate Orchard transactions from NU5 onwards.

Orchard signatures and proofs are already covered by other tickets, but we should check all the fields are being validated.

### Specifications

_TODO: Are there any other orchard or NU5 consensus rules?_

#### Shielded Input and Output Limits

Explanation:

Note:
- We could implement this rule directly, but we already limi

[2021-06-23 23:17] teor2345 opened #2380 "Deploy Zebra nodes on fixed IP addresses"
## Motivation

To test Zebra on testnet and mainnet, we should deploy Zebra nodes on fixed IP addresses.

This tests that Zebra is a full participant in the Zcash network.

### API Reference

https://cloud.google.com/sdk/gcloud/reference/compute/instance-templates/create-with-container
https://cloud.google.com/sdk/gcloud/reference/compute/instance-groups/managed/create

https://doc.zebra.zfnd.org/

[2021-06-23 23:25] teor2345 commented on #1939
It looks like we haven't made much progress on this task, so I'm un-assigning it and moving it to sprint 14.

[2021-06-23 23:27] teor2345 commented on #2369
@mpguerra this ticket needs to be completed before NU5 testnet activation, otherwise Zebra will panic as soon as NU5 activates.

[2021-06-23 23:30] teor2345 commented on #1865
This fix is required for NU5 mainnet activation. If the issue happens on testnet, we should be able to work around it.

[2021-06-23 23:34] teor2345 commented on #2064
We decided to favour importing cryptography over re-implementing it, at least until after NU5 activation.

[2021-06-24 00:24] teor2345 opened #2381 "ZIP-209: Validate transaction value balances - Implementation"
## Motivation

### Specifications

#### Transparent

https://zips.z.cash/protocol/protocol.pdf#transactions

#### Sprout

value pool . As a result, vold is treated like an output value, whereas vnew is treated like an input value.

https://zips.z.cash/protocol/protocol.pdf#joinsplitbalance

#### Sapling

https://zips.z.cash/protocol/protocol.pdf#saplingbalance

#### Orchard

https://zips.z.cash/pr

[2021-06-24 08:08] teor2345 commented on #1876
This was partly done during recent security fixes, and the rest of the ticket is obsolete.

[2021-06-24 08:08] #1876 closed, assigned to nobody

[2021-06-24 09:39] teor2345 opened #2386 "Require a block height at parse time"
## Motivation

Zebra's block height code would be a lot simpler if we could just rely on every parsed block having a coinbase height.

### Specifications

https://zips.z.cash/protocol/protocol.pdf#coinbasetransactions

https://zips.z.cash/protocol/protocol.pdf#txnencodingandconsensus

ZIP-203 might require the `expiry_height` of coinbase transactions to be set to the block height.
https://zips.z.c

[2021-06-24 09:48] teor2345 opened #2387 "ZIP-203: Validate Transaction Expiry Height in the transaction verifier"
## Motivation

The transaction verifier needs to check the ZIP-203: Transaction Expiry consensus rules.

### Specifications

#### Zcash Spec

<details>

![image](https://user-images.githubusercontent.com/8951843/123564819-2e193100-d7fe-11eb-9bef-66c02f1f388e.png)

</details>

https://zips.z.cash/protocol/protocol.pdf#txnencodingandconsensus

#### ZIP-203

https://zips.z.cash/zip-0203#specification

[2021-06-24 10:04] teor2345 opened #2388 "Validate lock scripts on transparent coinbase outputs"
## TODO

- Ask the `zcashd` team if lock scripts are verified, and how we should verify them.

## Motivation

Zebra doesn't verify lock scripts on transparent coinbase outputs.

But we should do the same validation as `zcashd`.

### Existing Zebra Code

https://github.com/ZcashFoundation/zebra/blob/22f2f06bad7ccc9b47e17212e7c6c8c4a10ab6e3/zebra-consensus/src/transaction.rs#L463-L474

### Specifica

[2021-06-24 10:10] teor2345 opened #2389 "Validate lock times in the transaction verifier"
## Motivation

Zebra's transaction verifier needs to check the Transaction `lock_time` field.

### Specifications

The `lock_time` (or `nLockTime`) and `tx_in.sequence` fields are defined in the transaction encoding specification.

https://zips.z.cash/protocol/protocol.pdf#consensusfrombitcoin

https://developer.bitcoin.org/devguide/transactions.html#non-standard-transactions

Zcash-specific clari

[2021-06-24 20:00] jvff opened #2390 "Fix tasks spawned by `tower_batch::Batch` only being alive during one test execution"
## Motivation

While implementing tests in #2371, I ran into an issue that caused the tests to fail in CI. As far as I understand, the issues arises because of three things:

- `tower_batch::Batch::new` spawns a task in the Tokio runtime;
- the `primitives::*::Verifier`s are stored in shared global variables, properly handled by `Lazy` wrappers;
- `#[tokio::test]` creates separate runtimes for sep

[2021-06-24 20:01] jvff commented on #1951
I ended up looking at the code as part of working on #2371 (and investigating what became #2390), and I stumbled upon an idea. I'll post it as a comment here before I forget it and just in case it's useful in the future.

I thought about creating a trait that resembles something like:

[code]

and also a wrapper type to have the actual implementation of the service:

[code]

The remaining piece wo

[2021-06-24 20:41] jvff opened #2391 "Reduce the dependencies on different versions of `rand`"
## Motivation

Currently, Zebra depends on 3 different versions of the `rand` crate:

- ~`rand v0.4.7` is used by the `temp-dir v0.3.7` dev-dependency of `zebra-test`~
- `rand v0.7.3` is used:
  - directly by `zebra-consensus`
- `rand v0.8.4` is used:
  - directly by `tower-batch` as a dev-dependency
  - directly by `zebra-network` and `zebra-consensus`
  - directly by `zebra-test`

This increases

[2021-06-24 20:59] teor2345 commented on #2390
I think we should deduplicate the batch verifiers before doing this task

[2021-06-24 21:01] teor2345 commented on #2390
We can't re-use the same tokio runtime in all the tests, because some tests pause and advance Tokio's internal time.

[2021-06-24 21:15] jvff commented on #2390
Yep, which is why that solution worked for #2371, but will likely not work for some new test we implement soon :(

[2021-06-24 21:28] teor2345 commented on #571
This was done ages ago.

[2021-06-24 21:28] #571 closed, assigned to nobody

[2021-06-24 22:21] teor2345 commented on #1011
It seems like this test got removed or renamed a long while ago.

[2021-06-24 22:21] #1011 closed, assigned to yaahc

[2021-06-24 22:39] dconnolly commented on #2368
Could this use an automated job, that a human could kick off?

[2021-06-24 23:10] teor2345 commented on #1951
I think trait constants might have to be const generics, but they actually work in recent rust versions. Or they could just be functions.

[2021-06-24 23:21] teor2345 opened #2393 "Automate checkpoint list generation using GitHub workflows"
## Motivation

We'd like to make checkpoint list generation faster for developers.

There's 2 different ways the job could work:
* sync a `zcashd` instance on mainnet and testnet, run `zebra-checkpoints`
* sync a `zebrad` instance on mainnet and testnet, print the output
  * we could use cached state to speed it up
  * we'd need to implement checkpoints list generation in Zebra (#795)

Then we'd g

[2021-06-24 23:22] teor2345 commented on #2368
Yeah that might be a good way of handling these updates.

See https://github.com/ZcashFoundation/zebra/issues/2393

[2021-06-24 23:53] #608 closed, assigned to nobody

[2021-06-25 00:05] teor2345 opened #2394 "Improve the legacy chain panic message"
## Motivation

We implemented a legacy chain check in #2366.

But it would help users if we told them the invalid network upgrade, the expected network upgrade, and the failing height.

We should also see what happens if someone installs an old version, then tries to open a new state. (I think the old version will panic when it parses an unrecognised branch id in a transaction.)

### Priority

Thi

[2021-06-25 01:09] jvff commented on #1951
Associated constants should work [since Rust 1.20](https://doc.rust-lang.org/edition-guide/rust-2018/trait-system/associated-constants.html). Or do you mean it should be configurable when instantiated?

[2021-06-25 04:53] teor2345 commented on #1951
Ah you're right, I just haven't used them with traits before:
https://doc.rust-lang.org/edition-guide/rust-2018/trait-system/associated-constants.html

[2021-06-28 00:28] teor2345 commented on #2387
I've updated this ticket to include https://zips.z.cash/zip-0203#changes-for-nu5

[2021-06-28 00:33] teor2345 commented on #2379
I removed this rule, because it is validated by the orchard proof circuit (#1912):

#### Orchard Flags

Explanation:

https://zips.z.cash/protocol/protocol.pdf#txnencodingandconsensus

[2021-06-28 01:38] teor2345 commented on #1683
Fixing this bug was the fastest way of unblocking PR #2399, which is in this sprint.

[2021-06-28 06:05] teor2345 opened #2401 ""unexpected coinbase input" error stops Zebra syncing past Canopy checkpoint"
## Description

When Zebra tries to validate any block using the `BlockVerifier` and `transaction::Verifier`, validation fails with an "unexpected coinbase input" error.

### Steps to Reproduce

I tried launching a new `zebrad` sync, and starting a sync with cached state, using the command:
[code]

### Expected Behaviour

I expected the chain to sync to the current best tip.

### Actual Behaviour

[2021-06-28 15:22] oxarbitrage opened #2409 "Improve `fake_v5_transaction_with_orchard_actions_has_inputs_and_outputs` test"
In https://github.com/ZcashFoundation/zebra/pull/2398 we extended the `fake_v5_transaction_with_orchard_actions_has_inputs_and_outputs` unit test for new consensus rules.

In this test we are calling `insert_fake_orchard_shielded_data()` multiple times which i think it can be avoided.

This is a very low priority clean up task.

[2021-06-28 15:30] oxarbitrage opened #2410 "Improve `has_inputs_and_outputs` checks"
In https://github.com/ZcashFoundation/zebra/pull/2398 we updated `has_inputs_and_outputs` to check for new consensus rules.

The check is a bit confusing now and even if we think it was good enough and have no major risks we will want to express the spec rules a bit better:

- https://github.com/ZcashFoundation/zebra/pull/2398#discussion_r659423340
- https://github.com/ZcashFoundation/zebra/pull/2

[2021-06-28 16:28] #1683 closed, assigned to nobody

[2021-06-28 22:08] teor2345 opened #2411 "Check that Google Cloud builds actually run the tests"
## Motivation

There are a lot of command layers in the Google Cloud builds, so it's easy to accidentally skip tests or ignore failures.

Instead, we should:
- check that the test output contains successful cached sync test lines
- split long lines

And optionally:
- reduce the complexity or layers in the tests
- move the docker commands into a script file
  - refactor out common rebuild and test

[2021-06-28 22:28] #2365 closed, assigned to oxarbitrage

[2021-06-29 00:49] #2401 closed, assigned to nobody

[2021-06-29 01:26] teor2345 commented on #2230
This ticket is blocked by #2301, because they both want to return errors from the `UpdateWith` trait.

[2021-06-29 01:28] teor2345 commented on #2231
This ticket is blocked by #2417, because they both modify similar code in the `Chain` struct and functions.

#2417 returns errors when blocks are added to a chain. But I'm not sure if this ticket will error during pre-commit or the actual commit. So there might also be a merge conflict there.

[2021-06-29 01:34] dconnolly commented on #2390
I think this is doable. The goal with the global batch verifiers is to amortize signature/proof verification across many transactions, including across blocks, so if the TransactionVerifier is the same across those, that seems doable.

[2021-06-29 05:03] #2308 closed, assigned to oxarbitrage

[2021-06-29 05:12] #1867 closed, assigned to jvff

[2021-06-29 10:03] mpguerra commented on #2079
I see #2384 has merged. Are there any other test vectors that we need to import here or can we close this one?

[2021-06-30 00:37] teor2345 opened #2418 "Google Cloud Build failure on some branch names"
## Motivation

It looks like the Google Cloud Build on PR #2414 does not escape special characters in branch names, or the branch name is too long:

https://github.com/ZcashFoundation/zebra/pull/2414/checks?check_run_id=2947707553

https://github.com/ZcashFoundation/zebra/runs/3014817597?check_suite_focus=true#step:5:24

In particular, the following characters that we commonly use are banned:
* `+

[2021-06-30 20:26] #2098 closed, assigned to dconnolly

[2021-06-30 20:35] jvff opened #2424 "Rename `proptest-impl` feature"
## Motivation

From what I understood, the feature was initially created to allow proptests to access arbitrary strategies implemented in separate crates. However, the feature has started being used for other test cases, so it's best to make that explicit with a more generic name.

The name is still to be defined.

Suggestions:
* `test-utils`
* `test-impl`

Note: `fastmod` ignores hidden files by

[2021-06-30 23:12] dconnolly opened #2425 "Validate note commitment trees in non-finalized state"
## Is your feature request related to a problem?

In order to maintain shielded note commitment trees, we will need to update our implementation of Zebra state for non-finalized chains, keep those trees up to date in the non-finalized state as we validate blocks, and save down the serialized trees to finalized state for the tip.

## Questions:

Unanswered questions about the finalized and non-fina

[2021-07-01 01:31] jvff opened #2426 "Implement `transaction::Verifier` rejection tests for Sapling"
## Motivation

PR #2419 added some `transaction::Verifier` tests that check if a transaction with Sapling spends and outputs is accepted. However, no tests that check if the verifier is rejecting transactions was implemented. This prevents detection of consensus regression bugs that cause invalid transactions to be erroneously accepted.

### Specifications

[Sapling spend consensus rules](https://

[2021-07-01 02:21] teor2345 commented on #2426
I'm going to put this in sprint 15, so we remember to write tests.

We should also get one of our cryptographers to check that there are no existing tests for these failure cases. (It might be good practice to pass the same test vectors to the transaction verifier anyway.)

[2021-07-01 22:03] oxarbitrage opened #2433 "Check that at least one of enableSpendsOrchard or enableOutputsOrchard is set"
## Motivation

A new consensus rule for transaction V5 was added to the spec today(2021-07-01) related to the Orchard flags. We need to implement.

### Specifications

https://zips.z.cash/protocol/protocol.pdf#txnconsensus

[2021-07-01 22:07] teor2345 commented on #2433
Scheduling this for sprint 15, because it's a simple change to our existing validation.

[2021-07-01 22:12] teor2345 opened #2434 "Run Ziggurat tests as part of Zebra's CI"
## Motivation

We'd like our CI to test Zebra's network message handling.

Currently we don't have a lot of message tests. Our existing tests also rely on other Zebra code, which makes it easy to introduce bugs that compensate for each other. (And cause the tests to mistakenly pass.)

The Ziggurat network test framework has conformance, performance, and fuzzing tests: https://github.com/eqlabs/zig

[2021-07-01 22:43] dconnolly commented on #2434
Test specs: https://github.com/eqlabs/ziggurat/blob/master/SPEC.md

[2021-07-01 23:02] teor2345 opened #2435 "Check `disabled_add_to_sprout_pool` in `verify_sprout_shielded_data`"
## Motivation

We want to do all the sprout checks in the same place, so we can skip sprout checks for V5 and later transactions.

This reduces the risk of sprout checks failing on transaction versions that don't contain sprout `JoinSplit`s.

## Related Work

Follow up to PR #2399.

[2021-07-01 23:03] #1564 closed, assigned to oxarbitrage

[2021-07-02 06:22] teor2345 commented on #2230
This ticket is actually a duplicate of #2231 - if we check for duplicates when adding a block to a non-finalized chain, we don't need to check again in the finalized state.

[2021-07-02 06:22] #2230 closed, assigned to teor2345

[2021-07-02 06:50] #2287 closed, assigned to dconnolly

[2021-07-02 06:58] dconnolly opened #2436 "Slim down `zebra-consensus/src/transaction.rs`"
## Motivation

`transaction.rs` is getting larger, and we should move some of the code into separate submodules.

We can probably move `AsyncChecks` into its own/another module at least.

## Related Work

https://github.com/ZcashFoundation/zebra/pull/2432

[2021-07-02 07:05] teor2345 commented on #2436
We might also want to move the transparent and shielded checks to their own modules.

[2021-07-02 14:03] conradoplg opened #2438 "Rename Transaction::hash()"
## Motivation

With ZIP-244, the transaction ID is no longer simply the hash of the transaction bytes (though it's still a hash...)
For this reason, it could be better to rename the `hash()` method to `id()` or `txid()` to make this clearer.

It may also be nice to:

- Rename `transaction::Hash` too.
- Refactor `txid.rs`. Should it be incorporated into `Transaction`, since it's relatively small? S

[2021-07-02 16:35] oxarbitrage opened #2440 "Look up the UTXOs in the transaction verifier, then pass them to `verify_transparent_inputs_and_outputs`"
## Motivation

Currently, Zebra's script verifier looks up UTXOs. But we also need those same UTXOs to calculate mempool transaction fees.

So we should look up the UTXOs in the transaction verifier, and send them to `verify_transparent_inputs_and_outputs`,  which can send them to the script verifier as part of the request.

### Consensus Rules

https://zips.z.cash/zip-0401#specification

[2021-07-02 16:48] #1981 closed, assigned to jvff

[2021-07-06 07:58] dconnolly opened #2447 "Define a new `Amount` `Constraint` for Note values w/ [0..2^64) as `valid_range()`"
## Motivation

Orchard defines the valid range of note values to be not [0..MAX_MONEY] as defined in several places in the spec for Sapling and Sprout, but [0..2^64), which is the range of values for Orchard, Sapling, and Sprout that are actually checked _in the circuit_. The value balance, at the transaction level, is still checked to be {−MAX_MONEY .. MAX_MONEY} for Orchard/Sapling. There are al

[2021-07-06 12:58] #2050 closed, assigned to conradoplg, dconnolly

[2021-07-06 19:40] dconnolly commented on #1939
I found this failing test case with a test (see branch below) that goes through all our test vector blocks, filters out the Sapling transactions, computes the sighash and binding verification key and tries to verify the binding signature, just like in the transaction verifier service:

https://github.com/ZcashFoundation/zebra/compare/1939

[2021-07-06 19:57] jvff opened #2448 "Implement roundtrip encoding property test for `Message`s from random bytes"
## Motivation

It's important to ensure that incoming random bytes from the network do not cause Zebra to misbehave or crash. Having a test that tries to decode a `Message` from a random byte array is one step in that direction.

The idea would be to write a proptest that:

1. Given as input a random vector of bytes, with a size that varies between `0..=MAX_PROTOCOL_MESSAGE_LEN`;
2. Creates `Codec

[2021-07-06 20:42] jvff opened #2449 "ZIP-239: implement mempool transaction v5 data structures and network messages"
## Motivation

When the mempool is implemented, Zebra **must** conform to ZIP-239 in order to properly relay transactions to the network.

This ticket focuses on parsing the data structures from ZIP-239, and sending the corresponding network messages.

### Specifications

[ZIP-239](https://zips.z.cash/zip-0239) describes the consensus rules for a new `MSG_WTX` inventory type, that **MUST** be used

[2021-07-06 22:27] #2051 closed, assigned to conradoplg

[2021-07-06 23:37] teor2345 opened #2450 "Fix rare failures in new_outbound_peer_connections_are_rate_limited test"
## Description

In rare cases, the `new_outbound_peer_connections_are_rate_limited` proptest fails:

https://github.com/ZcashFoundation/zebra/runs/3003578821#step:10:1734

Fixing this bug is a low priority, unless it occurs much more frequently.

### Steps to Reproduce

It is unclear why the test fails, because the assertions don't log the candidate number, or the times of the previous candidates.

[2021-07-07 01:02] teor2345 opened #2451 "ZIP-239: v5 mempool transaction protocol versions"
## Motivation

When the mempool is implemented, Zebra **must** conform to ZIP-239 in order to properly relay transactions to the network.

This ticket focuses on activating the new inv message variant at the specified protocol version, and rejecting it beforehand.

### Scheduling and Alternatives

If necessary, this ticket can be delayed until later in the mempool work.

After NU5 activates on tes

[2021-07-07 01:06] #2233 closed, assigned to jvff

[2021-07-07 01:08] teor2345 commented on #1820
This was closed by ticket #2308 and PR #2366.

[2021-07-07 01:08] #1820 closed, assigned to oxarbitrage

[2021-07-07 01:08] teor2345 commented on #2307
This work was part of an obsolete design, we don't need to do it any more.

[2021-07-07 01:08] #2307 closed, assigned to oxarbitrage

[2021-07-07 01:38] teor2345 opened #2454 "Try re-enabling coverage builds"
## Motivation

On 7 July, Zebra's coverage builds started failing crate downloads.
But all the other CI was fine.

So we disabled the coverage builds using the GitHub actions interface:
https://github.com/ZcashFoundation/zebra/actions/workflows/coverage.yml

We should try re-enabling the builds at some point, and bump the coverage action to the latest version.

## Dependency Updates

The code cove

[2021-07-07 03:15] teor2345 commented on #2233
Closed by PR #2446, remaining work in tickets #2449 and #2451 in the mempool epic.

[2021-07-07 03:39] teor2345 opened #2455 "Save disk space by changing utxo storage and lookups"
## Motivation

We could save disk space in the `utxo_by_outpoint` column family by changing how we store and lookup `Utxo`s.

There are a few different changes we could make:
1. Only store heights for coinbase outputs, and change the `Utxo` struct into an enum with a `Coinbase` variant
2. Lookup the coinbase flag and height using `outpoint.hash`, `tx_by_hash`, and the transaction number in the blo

[2021-07-07 08:21] mpguerra commented on #862
Is this something that needs to be done as part of #2224 ?

[2021-07-07 20:25] jvff opened #2460 "Refactor transaction validation checks into separate functions"
## Motivation

PRs #2302, #2371, and #2419 included some refactorings of the `transaction::Verifier`, splitting some code into separate methods so that they can be reused. It might be beneficial to further split the methods so that the consensus rules can be properly quoted in the documentation, instead of in the code comments. The split code could be either new methods, or new functions in the `t

[2021-07-08 00:36] jvff opened #2462 "Possibly implement conversion from `Vec<NoteCommitment>` into `NoteCommitmentTree`"
## Motivation

The code contained a stub implementation of `From<Vec<NoteCommitment>> for NoteCommitmentTree`. This was initially added in commit [b93abea34](https://github.com/ZcashFoundation/zebra/commit/b93abea34f265e7cc883b16fe51b2acae89ac869), but seems like it's currently unused.

As part of the work for #2369, the code was removed to avoid being used and inadvertently leading to a panic.

A

[2021-07-08 00:56] teor2345 commented on #2135
#2396 does not actually close this ticket

[2021-07-08 05:04] teor2345 commented on #2462
This code is revised or removed in the incremental note commitment tree PR #2407 / ticket #1287, so we don't need a separate ticket for it.

[2021-07-08 05:04] #2462 closed, assigned to nobody

[2021-07-08 12:36] #2317 closed, assigned to oxarbitrage

[2021-07-08 17:12] conradoplg opened #2468 "Revert to the Zebra sighash implementation"
## Motivation

In #2183 we deleted our sighash implementation in order to use the librustzcash one, since we found a couple of bug in ours.

However, we may want to revert to our own implementation (and maybe implement our own ZIP-244 sighash). One possible reason for doing that would be efficiency (since we need to reserialize the transaction and deserialize it with librustzcash), but there could

[2021-07-08 19:05] #1939 closed, assigned to conradoplg

[2021-07-08 19:16] oxarbitrage commented on #1895
This implementation will be done following the specs at https://github.com/ZcashFoundation/zebra/pull/2430

[2021-07-08 21:11] #1970 closed, assigned to teor2345

[2021-07-08 23:53] #2152 closed, assigned to dconnolly, oxarbitrage

[2021-07-08 23:55] #2183 closed, assigned to nobody

[2021-07-09 01:06] jvff opened #2473 "Consider refactoring the verifiers in `transaction::Verifier`"
## Motivation

The `transaction::Verifier` currently uses a shared global instance of each cryptographic verifier. If there's only one transaction verifier instance, having singleton cryptographic verifiers isn't necessary, and also makes testing slightly more complicated (see #2390).

## Related Work

This idea was initially briefly discussed here:
https://github.com/ZcashFoundation/zebra/issues/

[2021-07-09 01:17] jvff commented on #2468
If this is done, it might be interesting to remove some `unimplemented!` placeholders in the original code after it is reverted. See for example this [previous attempt](https://github.com/jvff/zebra/compare/4a81e1d47f209f9ab2f6681cd7159ba719e1c29b..32b332d8f020c59e3f10fb5c9a073279a113c717).

[2021-07-09 01:43] teor2345 opened #2474 "macOS CI builders sometimes hang for half an hour or more"
## Motivation

Zebra's macOS CI has failed twice in the last 4 hours.

The builders just seem to hang for a long time.

Sometimes they start again:
[code]
https://github.com/ZcashFoundation/zebra/pull/2472/checks?check_run_id=3024421827#step:10:450

And sometimes there is no log output after the hang:
https://github.com/ZcashFoundation/zebra/runs/3023384611#step:9:12

[2021-07-09 02:08] teor2345 opened #2475 "Make PreparedBlock and FinalizedBlock easier to use correctly"
## Motivation

We could create a `PreparedBlock` or `FinalizedBlock` with the wrong data, because the data is supplied by the caller.

### Designs

Zebra calculates the transaction hashes exactly once for each block, either in the block verifier, or the checkpoint verifier. Then we re-use the cached hashes from the resulting `PreparedBlock` or `FinalizedBlock`, to save CPU usage.

For security rea

[2021-07-09 08:26] #2369 closed, assigned to jvff

[2021-07-09 20:27] jvff opened #2480 "Bug: V5 Transaction's network upgrade is not verified before calculating the SigHash"
## Motivation

In [`zebra_consensus::transaction::Verifier::verify_v5_transaction`](https://github.com/ZcashFoundation/zebra/blob/6d24ee1d216a08b431f284e60914d488ec3639ba/zebra-consensus/src/transaction.rs#L296), there's a [validation of the network upgrade the transaction is part of](https://github.com/ZcashFoundation/zebra/blob/6d24ee1d216a08b431f284e60914d488ec3639ba/zebra-consensus/src/transac

[2021-07-12 03:35] teor2345 opened #2482 "Replace string literals with constants or methods"
## Motivation

In Zebra, we repeat the same string literals in a bunch of different places in the code.

But if we used functions, methods or constants, the code would:
* be easier to use correctly, because the compiler checks for typos
* have less repeated code, because functions/methods can use the constant and return the result
* be better documented, because there is a single place for documen

[2021-07-12 13:49] mpguerra opened #2484 "Implement incremental, sparse note commitment trees for Sprout"
Similar to #1287

[2021-07-12 13:49] mpguerra opened #2485 "Add sprout anchors to `zebra-state`"
Similar to #1320

- [x] **Work on the `tree-state-sprout` branch (it already handles the state; but it has a incomplete tree implementation)**
- [ ] ~~Add sprout anchors to QueuedBlock~~
- [x] Add sprout anchors to Chain
- [x] Add sprout anchors to FinalizedState
- [x] Impl IntoDisk/From Disk for Sprout roots / note commitment tree in `disk_format.rs`
- [x] Add Sprout note commitment tree to Chain

[2021-07-13 14:32] mpguerra commented on #1841
Blocked until we know the NU5 activation heights

[2021-07-13 20:02] teor2345 commented on #2047
We've effectively covered these cases using a fake v5 transaction conversion function, and the empty v5 transaction creation function.

[2021-07-13 20:02] #2047 closed, assigned to nobody

[2021-07-13 20:03] teor2345 commented on #2474
We haven't seen this issue for about a week, seems like it was rare and temporary.

[2021-07-13 20:03] #2474 closed, assigned to nobody

[2021-07-13 20:24] dconnolly commented on #2418
The 'Google Cloud Build' job is controlled by https://www.github.com/ZcashFoundation/zebra/tree/main/cloudbuild.yaml, and is not triggered by GitHub Actions, but rather a hook is set up and auth'd by a GitHub App that is installed for the repo. This allows the build to be run quickly and securely even on PRs originating outside our org

[2021-07-13 23:11] teor2345 opened #2494 "Always return an error if non-finalized or finalized state keys already exist"
## Motivation

A lot of consensus rules require uniqueness. For example, nullifiers must be unique in a single chain.

Currently, Zebra checks uniqueness using custom code for each consensus rule, in both the non-finalized and finalized state.

But these checks would be easier and more reliable if we had methods that returned an error if the key already exists in:
* non-finalized state: `HashSet`,

[2021-07-14 20:29] conradoplg opened #2496 "Handle a ivk == ⊥ (KA^Orchard private key) when generating an Orchard Spending Key"
## Motivation

Currently, `SpendingKey::new` does not seem to handle the case where the derived ivk is ⊥, which should trigger retrying with a new key per the spec.

### Specifications

https://zips.z.cash/protocol/protocol.pdf#orchardkeycomponents

### Designs

Note that this is not urgent (AFAIK) since it's unlikely that ivk will be ⊥ per Theorem 5.4.4, but we should eventually match the spec.

[2021-07-14 20:33] dconnolly commented on #2496
I think this was implemented before this check was added to the spec, and yeah we should handle this before/as we ramp up zebra-client work

[2021-07-16 13:52] #2079 closed, assigned to dconnolly

[2021-07-16 20:25] conradoplg commented on #2425
After studying this and https://github.com/ZcashFoundation/zebra/pull/2458 I see two options for the overall flow of the finalized state:

- When finalizing a block, get the finalized tree from the DB (or a cached value?), add the note commitments from the block and then update the finalized tree and store the new anchor in the state. (This requires "redoing" the work on the tree since it was alre

[2021-07-19 01:17] teor2345 commented on #2425
I think the first option is fine - feel free to open a ticket for later optimisations!

I'm not sure, here are some benefits and drawbacks of waiting until Sprout, Sapling, or NU5 activation:

Benefits of waiting until activation:
* empty trees and their anchors are not available until the shielded pool is activated, so Zebra can't accidentally approve invalid transactions that depend on empty anc

[2021-07-19 12:54] conradoplg commented on #1678
Here's one panic that can happen when Ctrl+C'ing Zebra

## Error
[code]

## Metadata
|key|value|
|--|--|
|**version**|1.0.0-alpha.13+4.g86ff25c|
|**Zcash network**|Mainnet|
|**state version**|5|
|**branch**|finalized-state-in-chain-verification|
|**git commit**|86ff25c|
|**commit timestamp**|2021-07-16T06:26:12+00:00|
|**target triple**|x86_64-unknown-linux-gnu|
|**build profile**|debug|
|**locati

[2021-07-19 17:08] jvff opened #2509 "Refactor persistent storage of nullifiers to be more generic."
## Motivation

There is currently three different functions to check if nullifiers are stored, one for each shielded pool: [Sprout](https://github.com/ZcashFoundation/zebra/blob/e17b989c23c092d9ef2fd1c5f338699f7fb157ab/zebra-state/src/service/finalized_state.rs#L373-L377), [Sapling](https://github.com/ZcashFoundation/zebra/blob/e17b989c23c092d9ef2fd1c5f338699f7fb157ab/zebra-state/src/service/final

[2021-07-19 23:33] conradoplg commented on #2425
The code becomes a bit awkward yes, and I think it will make testing a bit difficult since it will be more difficult to "fake" some stuff. For example, with the finalized state, we will need to create a full chain with Sapling and Orchard "fake" activations in order to test it properly. I'm not sure if the current tests already do something similar, I need to check.

Other than that, I think it's

[2021-07-19 23:53] teor2345 commented on #2425
It might be worth looking at the nullifier tests from #2497, and the UTXO tests in one of my upcoming PRs. (Which has been delayed because I have to work out how to make other tests pass the UTXO checks.)

The nullifier tests commit the genesis block, then modify blocks 1 & 2 so they contain the nullifiers I want.

For the UTXO tests, I'll need to add test methods to the finalized and non-finalize

[2021-07-20 13:31] mpguerra commented on #1287
Since the sprout parts have now moved to #2484  can we consider this issue done now that #2407 has merged?

[2021-07-20 22:56] teor2345 commented on #1287
No, we still need to use these calculations in the state to finish #1287.
See https://github.com/ZcashFoundation/zebra/pull/2407#issuecomment-875182035

[2021-07-21 05:34] teor2345 commented on #2231
This got accidentally closed by #2504.

[2021-07-21 19:27] conradoplg commented on #2425
@teor2345: my concern is, for example, if we only create the Sapling tree in the Sapling activation height, then in order to test it in the finalized state then we will need to create more than 100K blocks which is unfeasible. From what I understand in the nullifiers test this doesn't happen because there is no check anywhere the test flow regarding the block height.

---

Regarding using `Option`

[2021-07-22 00:03] teor2345 commented on #2425
There is a check that the heights are in order, which is why all the tests that use the state service or finalized state start at a genesis block.

But you're right, there's no check for any absolute activation block height.

We already validate orchard activation in the `transaction::Verifier`, so we don't need to repeat it in the state:
https://github.com/ZcashFoundation/zebra/blob/6df17ff78c4f7

[2021-07-22 02:58] teor2345 commented on #2426
I'm going to move this out of our current sprints, because extra tests aren't on our critical path.

[2021-07-22 02:59] teor2345 commented on #1850
We can fix this issue after the mempool works

[2021-07-22 05:38] dconnolly commented on #2425
I'm fine with instantiating all the trees from the beginning, as teor said we have several checks in place to ensure they will not be populated (besides the Default::default() / empty tree) until needed, and I think that's fine, if any accidental queries to them come back with a result besides the root of the empty tree, that should correctly fail, unless that is the first sprout/sapling/orchard t

[2021-07-22 21:49] teor2345 commented on #2379
This rule is technically redundant, so I'm moving it to sprint 21.

[2021-07-22 23:03] teor2345 opened #2517 "Stop leaking dropped column families by upgrading RocksDB"
## Motivation

RocksDB 0.16.0 leaks dropped column families. This bug is fixed in 0.17.0.

Currently this change conflicts with `funty` and `BITS`, so it needs investigation before we bump the dependency. See PR https://github.com/ZcashFoundation/zebra/pull/2516

[2021-07-22 23:40] #2231 closed, assigned to teor2345

[2021-07-22 23:55] teor2345 opened #2518 "Check that finalized state UTXOs are present before deleting them"
## Motivation

We're currently deleting UTXOs using a RocksDB method directly.

But we want to check if they exist first - because deleting a UTXO that doesn't exist is a bug.

## Related Work

This change depends on PR #2458.

[2021-07-23 17:17] conradoplg opened #2523 "Replace git dependency on multiset crate"
## Motivation

https://github.com/ZcashFoundation/zebra/pull/2458/ added a dependency on `multiset`, and it's not maintained anymore, which could be a liability.

`multiset` 0.0.5 contains [at least one bug](https://github.com/jmitchell/multiset/pull/21).
There is a bug fix on the `master` branch, but it has not been released (as of 7 November 2021).

## Scheduling

We need to make this change bef

[2021-07-26 22:00] mpguerra commented on #2104
blocked on circuit from ECC

[2021-07-26 22:03] dconnolly opened #2530 "Validate Orchard and Sapling anchors in non-finalized state"
## Motivation

Once we are calculating the Orchard and Sapling, and Sprout note commitment trees and tracking the roots of those trees as they exist for a validated block, we can use that to look them up when validating that the anchors in new transaction refer to treestates we have validated.

### Specifications

![image](https://user-images.githubusercontent.com/552961/127063215-1faef22d-5295-49

[2021-07-26 22:46] teor2345 opened #2532 "After NU5 testnet activation, set the minimum testnet network protocol version to NU5"
## Motivation

There are only a small number of Zebra instances running right now.

So instead of automatically closing connections to outdated peers, we can just set the testnet minimum protocol version to `NU5` after NU5 testnet activation. (But keep the mainnet minimum protocol version at `Canopy`.)

Then we can upgrade and restart all the running Zebra instances, and they will reject outdated

[2021-07-27 07:18] teor2345 opened #2534 "Design: running contextual checks on mempool transactions"
## Motivation

Recently, we've added a lot of contextual validation to `zebra-state`.

But some of these consensus rules also apply to mempool transactions, which are only validated by the the transaction verifier in `zebra-consensus`.

We only need this special handling for consensus rules that:
* are context-dependent - rules that depend on previous transactions or blocks,
* apply to non-coinbas

[2021-07-27 07:28] teor2345 commented on #2440
This change doesn't guarantee us correct UTXOs, for details, see:
https://github.com/ZcashFoundation/zebra/pull/2486/files#r677190254

[2021-07-27 17:34] conradoplg commented on #1287
I've update the issue to restrict its scope to the trees themselves. We should be able to close this now.

[2021-07-27 20:59] conradoplg commented on #2134
Here's a few points which I'm not sure about the design.

# Storing the tree

To load a HistoryTree we need:
- `peaks`: A list of peak nodes (index, Entry)
  - Note that the index is the index of the node in the array representation of the tree.
    It is _not_ the height of the block from where the node was computed. There is
    a 1:1 correspondence only between blocks and _leaf_ nodes!
- `size`

[2021-07-29 00:33] teor2345 commented on #2134
Storing the whole tree seems like the simplest option for now.
We can open a ticket to optimise it later, if you'd like.

Sounds good!
Let's try to avoid doing too much in a single ticket or PR.

The design in that ticket is pretty old now.

Since that design, we changed the non-finalized state to take a history tree.
So we can do history tree validation in the non-finalized state now.

Unfortunat

[2021-07-29 02:31] teor2345 opened #2541 "Re-enable beta Rust tests in CI"
## Motivation

We want to test Zebra with the next Rust release candidate, so we can report any compilation bugs and get them fixed.

On 29 July, Zebra's beta Rust tests started failing, due to a beta rust bug (https://github.com/rust-lang/rust/pull/87483).

But the stable CI tests and beta zebra-chain build were fine.

## Actions

We disabled the beta Rust tests in PR #2542.

We should re-enable

[2021-07-29 03:28] teor2345 commented on #2541
I removed docs from this ticket, because they aren't impacted by the beta rust bug.

[2021-07-29 04:23] #2329 closed, assigned to teor2345

[2021-07-29 04:23] #2330 closed, assigned to nobody

[2021-07-29 04:23] #2410 closed, assigned to nobody

[2021-07-29 13:37] #1320 closed, assigned to conradoplg, dconnolly

[2021-07-29 13:48] dconnolly commented on #1287
Resolved by #2458

[2021-07-29 13:48] #1287 closed, assigned to conradoplg, dconnolly

[2021-07-29 17:23] dconnolly opened #2544 "Reject checkpointed blocks that would increase note commitment trees beyond their max sizes"
## Motivation

This was an implicit consensus rule, now made explicit.

### Specifications

![unknown-4.png](https://user-images.githubusercontent.com/552961/127536806-efcfe33f-3138-492a-bd2d-5691a0bcf6ca.png)

### Designs

## Related Work

[2021-07-29 23:11] teor2345 commented on #2544
Zebra already returns an error in all relevant cases:
- the non-finalized state returns an error if a note commitment tree becomes full
- the checkpoint verifier binds the transaction IDs to the block header, and returns an error if that check fails:
  - v1-v4 transactions bind all transaction data to the transaction ID
  - v5 transactions bind note commitments to the transaction ID

[2021-07-29 23:11] #2544 closed, assigned to nobody

[2021-07-29 23:43] teor2345 commented on #2541
I confirmed that this Rust PR fixes the test build failure we're seeing: https://github.com/rust-lang/rust/pull/87483

So we should be good to re-enable beta once it has been backported.

[2021-07-30 12:57] dconnolly opened #2549 "Fix Redjubjub to support low-order Jubjub points, move small-order exclusion checks to Sapling SpendAuthorizationKey and ValueCommit"
## Motivation

There is a [bug](https://github.com/ZcashFoundation/redjubjub/issues/127) in `redjubjub` where it rejects Jubjub small order points and the identity when they should be valid `VerificationKey`s to conform to the Zcash Spec. While those points are rejected when the `VerificationKey` is being used as a `SpendAuthorizationKey`, they should not be rejected to conform to the pure RedJubj

[2021-08-02 19:38] conradoplg opened #2559 "Test History Tree errors in finalized state"
## Motivation

https://github.com/ZcashFoundation/zebra/pull/2553/ adds the ZIP-221 History Tree to the finalized state, but there are no particular tests for it (other the running the node and checking if it syncs correctly).

Implement tests to test it, in particular the error paths. See https://github.com/ZcashFoundation/zebra/pull/2553/files#r680668957 for context:

One quick way to do this te

[2021-08-02 19:57] conradoplg opened #2560 "Test History Tree serialization"
## Motivation

https://github.com/ZcashFoundation/zebra/pull/2553/ adds History Tree serialization in the state using bincode and serde (using a helper `HistoryTreeParts` struct). However, there is no particular tests for this functionality.

Add tests for it.

See https://github.com/ZcashFoundation/zebra/pull/2553/files#r680669776 for context

### Specifications

N/A

### Designs

N/A

## Related

[2021-08-03 18:33] #2283 closed, assigned to nobody

[2021-08-03 19:53] conradoplg opened #2562 "ZIP-221: Validate the block commitments (auth data and history tree) in the non-finalized and finalized state"
## Motivation

https://github.com/ZcashFoundation/zebra/pull/2553 adds the history tree to the finalized state, and #2135 will add to the non-finalized state. However, to make the PRs smaller, they just add the tree but don't validate it.

Validate the history tree root against the block the header. For Nu5-onward this will require #2048.

Note: part of this was implemented in https://github.com/Z

[2021-08-03 21:42] teor2345 opened #2564 "Include git metadata in docker logs and Google Cloud panic reports"
## Motivation

Currently,
- Zebra's Docker logs don't show the git commit
- Zebra's Google Cloud and Docker panic reports only show the git commit, passed through an environmental variable.

But we'd like to see the branch name and other detailed git information via vergen.

## Tasks

The vergen git metadata is likely being disabled due to git security rules.

The fix is here:
https://github.com/r

[2021-08-05 20:50] jvff opened #2571 "Test state service with multiple non-finalized forks"
## Motivation

It would be interesting to write some tests for the state service that use multiple non-finalized chain forks. This would allow some level of stress testing that code, and will help ensure everything continues working as expected if for some reason there are many forks existing at the same time.

Things to check might be:

- If the best tip height is updated correctly
- If blocks in

[2021-08-05 21:10] jvff opened #2572 "Test minimum peer network protocol version at different height"
## Motivation

#2519 implemented automatic rejection of connections from peers that advertise a network protocol version lower than a minimum version determined by the current block height. This prevents accepting connections to peers that aren't aware of activated network upgrades, for example.

The PR included some initial unit tests, but further testing would be better. More specifically, it wo

[2021-08-05 21:21] jvff opened #2573 "Remove redundant watch values once our Tokio dependency is updated"
## Motivation

When Zebra uses `tokio::sync::watch::Sender`, we sometimes need an extra `value` field, because Tokio version 0.3.6, doesn't have a `watch::Sender::borrow` method.

That method is available on Tokio 1.0.0, so once we update to the newer version we can remove that field and replace its usage with `*self.sender.borrow()`.

Impacted types:
* `ChainTipSender`
  * #2519
  * #2676
* `Rece

[2021-08-06 00:44] oxarbitrage opened #2575 "Some tests take more than 60 seconds in a standard (maybe slow) notebook"
We want to decrease the time of execution of at least the following state tests:

[code]

The default number of tests is already at 1 (https://github.com/ZcashFoundation/zebra/blob/main/zebra-state/src/service/finalized_state/tests/prop.rs#L18) so we can't try the simple fix we did at https://github.com/ZcashFoundation/zebra/pull/2574

[2021-08-09 13:11] conradoplg commented on #1326
Since we store trees indexed by the current tip height (and therefore delete the previous and create a new entry for every block), it's making the state big since compaction doesn't seem to be triggered automatically (it is done when the node starts, which I confirmed, and reduces the state size considerably)

[2021-08-09 14:16] conradoplg opened #2587 "Clean up History Tree fields (network, network_upgrade)"
## Motivation

Both `HistoryTree` and `zcash_history::Tree` have `network` and `network_upgrade` fields.

Clean it up to reduce data duplication - HistoryTree could probably just use the fields from Tree. We can possibly get rid of `network_upgrade` too since it can be derived from `network` and block height.

See [discussion](https://github.com/ZcashFoundation/zebra/pull/2582/files#r684951362)

#

[2021-08-09 14:27] conradoplg opened #2588 "Refactor FinalizedState::commit_finalized_direct"
## Motivation

`FinalizedState::commit_finalized_direct` is too big and does multiple things. Refactor it to (as suggested by @teor2345  in [discussion](https://github.com/ZcashFoundation/zebra/pull/2582/files)):

1. Move the note commitment tree and history tree updates outside the database batch
1. Move any other calculations or lookups outside the database batch (such as UTXO lookups)
1. Split

[2021-08-09 15:25] conradoplg commented on #2134
I think we can close this since validation has its own issue #2562

[2021-08-09 17:22] #2381 closed, assigned to nobody

[2021-08-09 19:19] mpguerra opened #2589 "Implement mempool transaction storage"
## Motivation

We need to implement a mempool for transactions that have not yet been mined into a block

### Specifications

This will be a very basic initial implementation of a mempool that can hold one transaction at a time

- Create a stub mempool that is either just a hashmap or a struct wrapping a hash map, or one or two hash maps, to hold our tx’s, instead of logging them
  - must have met

[2021-08-09 19:21] mpguerra opened #2590 "Design: add enum variants for each transaction mempool error"
## Motivation

We want to enumerate all of the possible reasons for ejecting transactions from the mempool or reasons for not adding a particular transaction for the mempool.

### Specifications

### Designs

## Related Work

[2021-08-09 19:24] mpguerra opened #2591 "Wrap Mempool stub as a tower Service"
## Motivation

TBD

### Specifications

### Designs

## Related Work

[2021-08-09 19:32] mpguerra opened #2592 "Activate Mempool storage based on a list of recent syncer obtain/extend lengths"
## Motivation

We want to control when we activate mempool, for testing purposes as well as when zebra reaches the chain tip.

### Specifications

### Designs

## Testing

Test that activation happens near the chain tip

## Related Work

This change depends on ticket #2595.

[2021-08-09 20:04] mpguerra opened #2593 "Implement Mempool Crawler Task"
## Motivation

In order to fill our mempool we need to send `MempoolTransactionIds` messages to peers in our address book.

### Specifications

### Designs

https://developer.bitcoin.org/reference/p2p_networking.html#mempool

## Related Work

[2021-08-09 21:04] teor2345 commented on #1334
Closed by #2519.

[2021-08-09 21:04] #1334 closed, assigned to jvff, teor2345

[2021-08-09 21:27] teor2345 opened #2594 "Create benchmarks for block validation and state commits"
## Motivation

At the start of August 2021, we accidentally committed some state code that was very slow.

We'd like to benchmark state block commits and other block validation, to avoid that happening again.

[2021-08-09 21:43] dconnolly commented on #2530
Closed Draft PR: https://github.com/ZcashFoundation/zebra/pull/2536

[2021-08-09 22:08] teor2345 opened #2595 "Get recent obtain/extend lengths out of the sync service"
## Motivation

To activate the mempool, we need to know the most recent obtain/extend lengths that the sync service has got from peers.

### Designs

https://jamboard.google.com/d/1HUhdqx8afJUqgiBdBcjCw0aAfDod9R9KBJeAH24U1Qg/viewer?f=0

https://docs.google.com/document/d/10PP6wKlnS5gannRph_EQ8V9diR7byddf3W2YFZ564FU/edit#heading=h.1v3bcppsa6wq

## Related Work

This change is required for ticket #2

[2021-08-09 23:17] #2134 closed, assigned to nobody

[2021-08-10 22:32] dconnolly opened #2600 "Update regenerate-stateful-test-disks.yml to create images from the disks if they succeed"
## Motivation

Currently if we regenerate our test state, they live on disks, but our `test.yml` workflow uses images, and those images have been created from the disks manually.

### Designs

If the 'run tests' step succeeds, we can automatically make the images and tear down the instance and its disks, using:

[code]

https://cloud.google.com/sdk/gcloud/reference/compute/images/create

## Relate

[2021-08-11 11:40] mpguerra opened #2603 "Activate crawler task based on a list of recent syncer obtain/extend lengths"
## Motivation

We want to control when we activate the network crawler task that will help us to populate the mempool. We want to be able to do this both for testing purposes as well as when zebra reaches the chain tip.

We also want to stop the mempool crawler if the syncer starts syncing large numbers of blocks again.

The crawler will receive a `latest_sync_heights: watch::Receiver<Vec<usize>>`

[2021-08-11 13:39] conradoplg opened #2604 "Allow LedgerState to be created with a network upgrade height"
## Motivation

The LedgerState strategy which is used for testing can be created to generate LedgerStates with a specific height or a specific network upgrade. However, there is no way to use the height of a specific network upgrade. Currently there's a workaround in `PreparedChain::new_heartwood` (computes the height for both networks and use the larger) but it would be nice to have a clearer imp

[2021-08-11 14:30] mpguerra opened #2605 "Send `mempool` requests for mempool inventories from the network"
https://developer.bitcoin.org/reference/p2p_networking.html#mempool

[2021-08-11 14:30] mpguerra opened #2606 "Download and verify peer `TransactionIds` responses from mempool crawler `MempoolTransactionIds` requests"
https://developer.bitcoin.org/reference/p2p_networking.html#mempool
https://developer.bitcoin.org/reference/p2p_networking.html#inv

[2021-08-11 14:35] mpguerra opened #2607 "Implement Request and Responses in mempool storage `tower::Service` for `MempoolTransactionIds` messages from the network"
## Motivation

### Specifications

### Designs

## Related Work

[2021-08-11 14:35] mpguerra opened #2608 "Implement Request and Responses in mempool storage `tower::Service` for `TransactionsById` messages from the network"
## Motivation

### Specifications

### Designs

## Related Work

[2021-08-11 23:11] dconnolly commented on #2600
Resolved in PR #2601

[2021-08-12 01:58] teor2345 commented on #2605
How is this different from #2593?

The mempool crawler sends `mempool` messages to peers.

[2021-08-12 02:03] teor2345 commented on #2608
Is this ticket about sending `tx` messages to peers when Zebra adds a new transaction to its mempool?

Or is it about handling received `tx` messages from peers?
(The verify part of the download and verify stream.)

https://developer.bitcoin.org/reference/p2p_networking.html#tx

[2021-08-12 02:04] teor2345 commented on #2606
This is the download part of the download and verify stream.

[2021-08-12 02:27] teor2345 commented on #2592
@oxarbitrage before you start this task, can you write down what you want to do, step by step?
Then we can work out any details that are unclear.

I'm doing some testing on PR #2602 at the moment, and updating this PR with the results.

[2021-08-12 02:45] teor2345 commented on #2592
Here is how `RecentSyncLengths` from PR #2602 works:

#### Startup & Initial Syncs

On startup, the list is empty. Then it gets filled with lengths around 500.

<details>

[code]

</details>

#### Temporary Error

When there is a temporary error, one zero length gets put in the list.
There might also be some shorter lengths in the list as the syncer recovers (around 100 - 400).

<details>

[code]

[2021-08-12 12:21] oxarbitrage commented on #2592
Then we can work out any details that are unclear.

Maybe is better if you do it ? The list and the PR ? If not, please let me handle it at my way.

Thank you for the details of `RecentSyncLengths`

[2021-08-12 15:42] mpguerra commented on #1895
Are #2599 and #2610 the last 2 outstanding PRs before we can close this one or is there something else to be done?

[2021-08-12 15:57] #2600 closed, assigned to dconnolly

[2021-08-12 17:16] oxarbitrage opened #2616 "Add missing references to transaction verification consensus rules"
In https://github.com/ZcashFoundation/zebra/blob/v1.0.0-alpha.14/zebra-consensus/src/transaction.rs#L435 and https://github.com/ZcashFoundation/zebra/blob/v1.0.0-alpha.14/zebra-consensus/src/transaction.rs#L522 we implement some consensus rules that dont have any reference in the spec.

Will be good to add them when we get the time as it is hard to find them.

Also, for the binding verification ke

[2021-08-13 03:18] teor2345 opened #2617 "Ignore `addrv2` and `sendaddrv2` messages"
## Motivation

Some `zcashd` developers are working on adding support for Tor V3 Onion Services. This involves a network protocol upgrade, and some new network message types: `addrv2` and `sendaddrv2`.

Currently, Zebra disconnects from peers that send unrecognised message types (#2107).

Until we fix that bug, we want to ignore these new messages instead.

### Specifications

https://github.com/b

[2021-08-13 03:33] zancas commented on #2617
Ideally we'll:
0.  Implement `sendaddrv2` responses to `version` (on a feature branch)
1.  Use the dev-version of `zcashd` to test a `zebrad`
2.  Implement `sendaddrv2` message discarding in `zebrad`
3.  Merge discarding `zebrad`
4.  Merge `sendaddrv2` `zcashd`

Given the small change required of `zebrad` it seems likely that this order can be achieved.

As I am writing this, I think I am realizin

[2021-08-13 04:26] teor2345 commented on #2617
You might not need to do anything special for `zcashd`.
I think it already ignores unknown message types and continues talking to the peer.
(This is standard Bitcoin behaviour, but it's not really documented anywhere for Zcash.)

Zebra doesn't, for a bunch of different reasons:
* we want to close connections from non-Zcash port scanners (we'll fix this in #2107)
* it's easier to test a new network

[2021-08-13 04:47] zancas commented on #2617
So, for forwards compatibility `zebrad` will have to either keep "message parity" with `zcashd`, or register messages from the future (e.g. `sendheaders` and `sendaddrv2`) and treat them differently from others.

So if I understand correctly this implies at least 3 categories of message:

* `valid-and-supported`
* `valid-and-unsupported`
* `invalid`

It seems unlikely that `zcashd` and `zebrad` wi

[2021-08-13 07:25] teor2345 commented on #2617
Or Zebra could ignore unknown messages, once we have done the required security analysis (#2107).

[2021-08-13 10:52] mpguerra opened #2619 "Keep track of rejected transactions in mempool storage service"
## Motivation

### Specifications

### Designs

## Related Work

[2021-08-13 10:53] mpguerra opened #2620 "When mempool storage is full, flush transactions from mempool in FIFO order"
## Motivation

### Specifications

### Designs

## Related Work

[2021-08-13 10:53] mpguerra opened #2621 "Flush mined transactions from mempool"
## Motivation

### Specifications

### Designs

## Related Work

[2021-08-13 10:53] mpguerra opened #2622 "Flush expired transactions from mempool"
## Motivation

### Specifications

### Designs

## Related Work

[2021-08-13 10:53] mpguerra opened #2623 "Activate the chain update task when the mempool is activated"
## Motivation

### Specifications

### Designs

## Related Work

[2021-08-13 10:54] mpguerra opened #2624 "Minimum Requirements for a Mempool ZIP"

[2021-08-13 10:54] mpguerra opened #2625 "Mempool Design Document"
## Motivation

### Specifications

### Designs

## Related Work

[2021-08-13 10:55] mpguerra opened #2626 "Add metrics for mempool transaction verification and state checks, including failures"
## Motivation

### Specifications

### Designs

See below

## Related Work

## Design (discussed below)

### From zcashd (use same names)

- [x] `zcash.mempool.size.transactions [gauge]`
  - Number of transactions in the mempool.
  - Done in https://github.com/ZcashFoundation/zebra/pull/2860
- [x] `zcash.mempool.size.bytes [gauge]`
  - The sum of the serialized transaction sizes, i.e. how much blo

[2021-08-13 10:55] mpguerra opened #2627 "Track number of inbound/outbound/in mempool transactions"

[2021-08-13 10:55] mpguerra opened #2628 "Activate the download and verify stream when the mempool is activated"
## Motivation

### Specifications

### Designs

## Related Work

[2021-08-13 10:55] mpguerra opened #2629 "Cancel download and verify tasks when the mempool is deactivated"
## Motivation

If Zebra's network connection is interrupted for a long time, we'll want to deactivate the mempool while we're catching up to the new tip.

### Designs

The download and verify service can call `SyncStatus::is_close_to_tip` to check if the mempool is inactive:
https://github.com/ZcashFoundation/zebra/blob/44ac06775bf6bb77dea06d53a6fc5e04a79baf31/zebrad/src/components/sync/status.rs#

[2021-08-13 10:59] mpguerra opened #2630 "Get recent committed and rolled back blocks out of the state service"
## Motivation

### Specifications

### Designs

## Related Work

[2021-08-13 11:36] mpguerra commented on #2605
If there is nothing else that the mempool crawler task will do, then it is not different from #2593 .

If so, we can close this as a duplicate and clarify that this is what it will do in the issue description.

[2021-08-13 12:18] daira commented on #2617
See https://forum.zcashcommunity.com/t/what-to-build/39594/12?u=daira about how Zcash has handled signalling of peer protocol changes differently from Bitcoin, and why. I would prefer that we not use `sendaddv2` at all (just as we didn't use `wtxidrelay` to signal support for [ZIP 239](https://zips.z.cash/zip-0239)).

Signalling features via the peer protocol version negotiation does not require i

[2021-08-13 13:25] mpguerra opened #2631 "Send committed spent OutPoints & nullifiers to the mempool for rejection"
## Motivation

We need to get a list of recently committed spent outpoints & nullifiers from the state service, so we can evict any mempool transactions that also spend/reveal them.

This fixes some subtle bugs:
1. Transaction `1` spends `B` and `C` - it gets in the mempool
2. Transaction `2` only spends `B` - it gets mined into the chain, but transaction `1` is not rejected from the mempool
    -

[2021-08-13 14:56] conradoplg opened #2632 "Improve performance of authorizing data commitment"
## Motivation

https://github.com/ZcashFoundation/zebra/pull/2547/ implements the authorizing data commitment specified in ZIP-244 which is the root of a Merkle tree of the auth digest of each transaction. (`zebra-chain/src/block/merkle.rs`, `FromIterator` for `AuthDataRoot`)

This tree is padded with leaves containing all-zeroes hashes to make the tree full. However that can be expensive.

We can

[2021-08-14 02:20] zancas commented on #2617
I will follow @daira 's recommendation to [use the peer-to-peer protocol version value (170015)](https://github.com/zcash/zips/pull/543/commits/e77ba6bbf045421886152a3591e7279b82dbf35d#diff-cc56913137ad827bc4c3dc33fa9a9de92349f090e353555aecf37f692c4a0ec1R184) as the signal indicating node support for `addrv2` formatted messages.   This leverages `zcash`'s node-lifespan design to keep the possible

[2021-08-14 02:36] zancas commented on #2617
If I understand [this constraint](https://github.com/zcash/zips/pull/543/commits/e77ba6bbf045421886152a3591e7279b82dbf35d#diff-cc56913137ad827bc4c3dc33fa9a9de92349f090e353555aecf37f692c4a0ec1R175), it implies that well-behaved nodes will continue to send v1 `addr` messages to peers that have not negotiated a sufficient version number with the node.
I _think_ that may mean that `zebrad` nodes runni

[2021-08-14 17:29] zancas commented on #2617
If I understand correctly no correctly functioning peer-node should send a `addrv2` to a peer with an insufficient peer-protocol version.     Is that correct?   Does that imply we can close this issue?

[2021-08-16 18:44] mpguerra commented on #2605
Closing as duplicate of #2593

[2021-08-16 18:44] #2605 closed, assigned to nobody

[2021-08-16 19:16] #2102 closed, assigned to oxarbitrage

[2021-08-16 19:16] #2103 closed, assigned to oxarbitrage

[2021-08-16 21:55] mpguerra opened #2637 "Download mempool-bound transactions, log their `transaction::Verifier` results to stdout prior to mempool storage"
We can take our block syncer and copy/paste that into a transaction downloader stream, and for a first pass, make sure that all the transcations we download pass  the `TransactionVerifier`, and log the result to stdout.

Later, those passing transactions will be inserted into our mempool via a call to the `MempoolService`

[2021-08-17 01:57] teor2345 commented on #2617
Yes, this issue is outdated and doesn't match the draft ZIP 155.

But Zebra will need to parse and use the IPv4 and IPv6 addresses in the new `addrv2` message before mainnet NU5 activation.

[2021-08-17 01:57] #2617 closed, assigned to nobody

[2021-08-17 02:18] teor2345 commented on #2451
We might be able to close this ticket, because it's covered by other tickets.

Here's how we handle each network protocol rule:

We won't send the MSG_WTX inv type until we have v5 transactions in our mempool.
We don't expect to get v5 transactions until we're connected to `zcashd` peers which have activated `NU5`.

After NU5 activation, we'll reject connections from outdated peers.
We should also

[2021-08-17 02:42] teor2345 commented on #1080
I've clarified this ticket to focus on inbound transactions from peer mempools

[2021-08-17 03:05] teor2345 commented on #2637
We can also just verify `PushTransaction`s, but I'm not sure how common they are.

[2021-08-17 03:18] teor2345 commented on #2621
This is a duplicate of #2631.

[2021-08-17 03:18] #2621 closed, assigned to nobody

[2021-08-17 08:33] teor2345 opened #2639 "Get recent committed & rolled back blocks from the state service"
## Motivation

### Cancel Committed Transactions

- #2686
- #2683
- #2695

We need to get a list of recently committed transaction IDs from the state service, so we can:
- #2711
- #2713

### Resets

- #2715
- #2721

Resets are rare, so we can just clear the mempool when they happen.

Here are some different reset reasons:

#### Consensus rules

Network upgrades: stop mempool downloads and verifies

[2021-08-18 06:37] teor2345 commented on #2639
I'm wondering if we might want to get spent transparent outpoints and nullifiers instead of transaction IDs.
(And eliminate any transactions that spend those outpoints or nullifiers.)

Then on a rollback, we could:
* un-reject any transaction IDs whose spends are a subset of the rolled back outpoints and nullifiers,
* un-reject any transaction IDs that were rejected due to double-spends, or
* un-r

[2021-08-18 06:47] teor2345 opened #2640 "Write tests that check for specific value balance amounts"
## Motivation

Currently, Zebra tests that value balances are valid, but we don't make sure the amounts are correct.

So the current tests would still pass if a future change accidentally skipped some or all block, transaction, or pool values.

## Related Work

PRs:
* #2381
* #2559

Tickets:
* #1895

[2021-08-18 22:55] #2449 closed, assigned to teor2345

[2021-08-19 04:41] teor2345 commented on #2630
This is a duplicate of #2639.

[2021-08-19 04:41] #2630 closed, assigned to nobody

[2021-08-19 16:55] #2518 closed, assigned to nobody

[2021-08-19 21:47] upbqdn commented on #2592
Do I understand it correctly that this ticket needs to come up with a suitable heuristic that would decide when it's the right time to start the mempool?

[2021-08-19 22:02] oxarbitrage commented on #2592
This is a very high level description but i think something like this is what we need here:

The mempool will have a `start()` method or similar that we will call at any time. For example in testing we might want to call this at the genesis block or at any time we might need.

On the other hand, in the real world we will activate the mempool after zebra is in sync. The question is how do we know i

[2021-08-19 22:09] oxarbitrage commented on #2592
By the way, it seems the task is simplified by the addition of `RecentSyncLengths` (https://github.com/ZcashFoundation/zebra/issues/2592#issuecomment-897304684) which is already merged. If you can access the `recent_lengths` field from your function it should be easy to decide if we are in sync.

[code]

[2021-08-19 22:27] teor2345 commented on #2592
We can wrap the heuristic function and `recent_lengths` watch receiver in a struct, so it's easy to clone it, and pass it to different tasks and services.

But it's ok for the initial draft PR to just have a heuristic function.

If you want to see how syncing looks on a graph, you can use Grafana and Prometheus:
* setup: https://zebra.zfnd.org/user/metrics.html
* syncer dashboard: https://github.c

[2021-08-19 23:16] #2595 closed, assigned to teor2345

[2021-08-20 03:55] teor2345 opened #2650 "Send mempool crawler peer `TransactionIds` responses to the download and verify stream"
# Motivation

The mempool crawler requests peers for transactions to populate the mempool. However, it currently doesn't do anything with the transaction IDs it receives from the peers.

## Design

The received transactions should be downloaded and stored in the mempool.

[2021-08-20 16:43] oxarbitrage commented on #1895
This is the last PR we have to close this issue when merged: https://github.com/ZcashFoundation/zebra/pull/2652

[2021-08-20 19:30] conradoplg opened #2653 "Make sure tests are actually run when some of them are selected"
## Motivation

In some cases we select one or a group of tests to be run. For example, in the .yml files to regenerate the cached state, and in https://github.com/ZcashFoundation/zebra/pull/2633/ to run some tests with fake activation heights.

However, it's possible that renaming these tests can cause the tests to be no longer run, and we could not notice that (since `cargo test` will happily ret

[2021-08-20 19:45] conradoplg opened #2654 "Test if checkpoint verifier and state service are correctly reset on block commit errors"
## Motivation

We want to test that errors in the state are handled correctly.

## Design

We want to do these tests here:
- when committing checkpointed blocks, fail a finalized state block commit
    - commit_finalized
- when committing fully verified blocks, fail a non-finalized state block commit
    - commit_block
    - commit_new_chain
- drop finalized blocks in the queue
- drop non-finalize

[2021-08-20 20:46] conradoplg commented on #2048
I've updated the description:

- Adding the hash to the block was moved to https://github.com/ZcashFoundation/zebra/issues/2336
- I changed the text to require only the hash computation and not validation

With this I think we can remove this blocking on #2562 and close this (implemented in https://github.com/ZcashFoundation/zebra/pull/2547). @mpguerra I'll leave this for you to confirm

[2021-08-20 20:51] conradoplg commented on #2135
https://github.com/zcashfoundation/zebra/issues/2562 ended up being similar to this

I think this one can be closed by #2609

[2021-08-20 20:55] conradoplg commented on #2562
https://github.com/zcashfoundation/zebra/issues/2135 ended up being a subset of this

This will be closed by

- #2609
- https://github.com/ZcashFoundation/zebra/pull/2633

[2021-08-20 22:22] jvff opened #2655 "Reduce log level of mempool crawl errors"
## Motivation

The mempool crawler currently logs all failures to request transaction IDs to peer using the `info!` level. However, the crawler should be robust enough to handle errors transparently, so the error logs don't necessarily add useful information. It's only useful while the mempool is under development. After the mempool becomes usable, the log level should be reduced to `debug!` or `t

[2021-08-22 22:48] upbqdn commented on #2592
The following a proposal for the heuristic function.

We could utilize a _simple moving average_ (SMA) defined by
<img src="https://user-images.githubusercontent.com/8863307/130371631-f58baa12-2e8a-4bbf-8246-63546be23ad2.png" height="80">
where _r<sub>i</sub>_ is the value of `recent_lengths`, and _k_ is the number of the previous _r<sub>i</sub>_ that we consider. It is basically the average of th

[2021-08-23 08:15] teor2345 commented on #2654
I think we can test using the fake network upgrade heights, and the fake transaction version conversion methods.

[2021-08-23 14:49] oxarbitrage commented on #2592
Here is what i think we can do to get started:

- https://github.com/ZcashFoundation/zebra/blob/main/zebrad/src/components/sync/recent_sync_lengths.rs#L79-L83

There we have the `recent_lengths` vector available while zebra is syncing.

- Call a function there with the `recent_lengths` as arguments:

[code]

- place the `is_zebra_in_sync()` in the `mempool.rs` at least by now:

[code]

- Inside we

[2021-08-23 14:55] oxarbitrage commented on #2592
Maybe base your initial PR on https://github.com/ZcashFoundation/zebra/pull/2615 so you will have some mempool files.

[2021-08-23 17:03] oxarbitrage commented on #1077
The `TransactionsByHash` was renamed to `TransactionsById` in https://github.com/ZcashFoundation/zebra/commit/c6082602561a15c0dfb37578a9b09b3cd8e017a4 so i changed the title and the contents of this ticket as it confused me to create a new request but it is not needed.

[2021-08-23 21:50] #2048 closed, assigned to conradoplg

[2021-08-23 21:50] #2135 closed, assigned to conradoplg

[2021-08-23 21:50] #2562 closed, assigned to conradoplg

[2021-08-24 06:03] teor2345 opened #2662 "Zebra panics when git checkout has been modified"
## Description

Sometimes when I run Zebra with a modified git checkout, it panics with a semver error.

This is probably a bug in how we convert git semver to Rust semver.

TODO <details>

### Steps to Reproduce

I tried this:

[behavior or code sample that causes the bug]

[code]

### Expected Behaviour

I expected to see this happen: [explanation]

### Actual Behaviour

Instead, this happened:

[2021-08-24 14:21] jvff commented on #2603
The crawler will receive a `latest_sync_heights: watch::Receiver<Vec<usize>>` to use to determine if it should be enabled or not, and the crawler should stop if that endpoint is closed.

[2021-08-24 14:23] #2593 closed, assigned to jvff

[2021-08-24 21:30] teor2345 commented on #1077
Thanks!

Sorry I missed this ticket, I changed most of the names last week.

[2021-08-24 21:44] teor2345 commented on #2592
I would encourage you to use a lower threshold than 100, because the heuristic has to work for 3 different cases:
* syncing far from the tip: ~500 blocks for most syncs
* syncing near the tip or after an error: 60-400 blocks for most syncs, but some zeroes
* syncing at the tip: 0-20 blocks for most syncs

For example, if we have `[60, 60, 60, 60, 60]`, we might not want to activate the mempool, be

[2021-08-25 06:30] teor2345 commented on #2640
Moving this to the current sprint, because I needed to do these tests to merge #1895.

[2021-08-25 10:04] upbqdn opened #2668 "Split the mempool errors into categories"
## Motivation

The mempool errors from #2615 need to be categorized into further enums for better maintenance and usability.

## Related Work
#2615, #2590

[2021-08-25 13:57] #1895 closed, assigned to oxarbitrage

[2021-08-25 13:57] #2640 closed, assigned to teor2345

[2021-08-25 18:39] #2590 closed, assigned to upbqdn

[2021-08-25 20:16] teor2345 commented on #2668
I've added this ticket to the mempool tracking issue, and removed it from sprint 17, so we can schedule it when we have time. (And when we know most of the errors we'll have.)

[2021-08-25 20:48] teor2345 commented on #2637
We'll need to remove this `unimplemented!` panic as part of this ticket:
https://github.com/ZcashFoundation/zebra/blob/1c232ff5eaf2377376486b15d15fcc80a5622144/zebra-consensus/src/transaction.rs#L149-L152

[2021-08-25 23:58] teor2345 commented on #2637
I just checked using Grafana (#2673), and I didn't see any `PushTransaction` messages sent by peers.
So we'll have to download transactions before we can verify them.

[2021-08-26 00:04] teor2345 commented on #2637
We still need to handle `PushTransaction`, we just can't test using it, because it almost never happens.

[2021-08-26 00:34] dconnolly opened #2675 "Increase MEMPOOL_SIZE"
## Motivation

Right now our mempool is very small, only max two (2) transactions at any time. This means that when we evict a tx from the mempool because we are out of space, we track it in the rejected set as State::Victim. For the smaller mempool we have now, we may be evicting 'innocent victims' frequently, that we may actually want to verify and gossip to peers. This is less of an issue with

[2021-08-26 13:59] mpguerra commented on #2662
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2662?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-08-26 13:59] mpguerra commented on #2607
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2607?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-08-26 14:00] mpguerra commented on #2608
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2608?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-08-26 14:00] mpguerra commented on #2620
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2620?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-08-26 14:00] mpguerra commented on #2623
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2623?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-08-26 14:01] mpguerra commented on #2631
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2631?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-08-26 14:01] mpguerra commented on #2650
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2650?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-08-26 21:51] teor2345 commented on #1828
This ticket is obsolete because we're using librustzcash for sighash.
If we revert to our own implementation in #2468, we might want to make this change.

[2021-08-26 21:51] #1828 closed, assigned to nobody

[2021-08-26 22:41] teor2345 opened #2681 "ZIP-155: Parse `addrv2` in Zebra"
## Motivation

[ZIP-155](https://zips.z.cash/zip-0155) will require support for parsing inbound `addrv2` messages.
But nodes can still keep sending `addr` messages.

We'll need to implement `addrv2` parsing in both Zebra (in Rust) and the DNS Seeders (in Go).

This is the ticket for Zebra.

### Scope

Zebra only needs to parse IPv4 and IPv6 in `addrv2`.

Parsing other address types is out of scope

[2021-08-26 22:45] teor2345 opened #2682 "Reject duplicate UTXO spends and nullifier reveals across mempool transactions"
## Motivation

Mempools typically require a consistent set of transactions, which could all be mined into a single block.

In order to support this restriction, Zebra should reject transactions that:
* spend outputs that are already spent by existing mempool transactions
* reveal nullifiers that are already revealed by existing mempool transactions

If we make this change, we should also reject tr

[2021-08-26 22:52] teor2345 commented on #2662
I've removed this ticket from sprint 17, because I haven't seen it recently

[2021-08-27 00:14] teor2345 commented on #2639
I moved nullifiers and outputs to #2631.

[2021-08-27 14:36] #2589 closed, assigned to dconnolly

[2021-08-27 14:36] #2591 closed, assigned to dconnolly

[2021-08-27 14:36] #2620 closed, assigned to nobody

[2021-08-27 15:03] #2454 closed, assigned to dconnolly

[2021-08-30 00:12] teor2345 opened #2689 "Stop deserializing the entire block just to check if a transaction ID is in the state"

[2021-08-30 01:21] teor2345 commented on #2619
Closed by PR #2651.

[2021-08-30 01:21] #2619 closed, assigned to nobody

[2021-08-30 01:22] teor2345 commented on #2608
Closed by PR #2651

[2021-08-30 01:22] #2608 closed, assigned to nobody

[2021-08-30 01:22] teor2345 commented on #2607
Closed by PR #2651

[2021-08-30 01:22] #2607 closed, assigned to nobody

[2021-08-30 01:29] teor2345 opened #2690 "Add debug configs for mempool acceptance tests"
### Motivation

We might want debug configs that:
* always enable the mempool, regardless of syncer status
* disable mempool transaction validation (or some parts of the validation, like UTXO lookups)

[2021-08-30 01:29] teor2345 opened #2691 "Add `zebrad` acceptance tests for the mempool"
## Motivation

The mempool unit tests cover a lot of mempool functionality, using `MockService`s where needed.

But there are some things we can't test unless we actually run `zebrad`:
- [x] mempool startup from `zebrad`'s `start` command
    - the unit tests already check that the mempool starts disabled
- [x] mempool startup while the rest of `zebrad` is running (covered by PR #2862)
- [ ] mempo

[2021-08-30 01:32] teor2345 opened #2692 "Verify inbound `PushTransaction`s"

[2021-08-30 01:40] teor2345 opened #2693 "Use `Poll::map` in the download streams"
## Motivation

The block sync, inbound block, and transaction downloaders could be simplified using `Poll::map`.

### API Reference

https://doc.rust-lang.org/nightly/std/task/enum.Poll.html#method.map_ok-1

### Design

We could eventually end up with something like:
[code]

[2021-08-30 02:37] teor2345 opened #2694 "Un-reject transactions which depend on newly created outputs"
## Motivation

Zebra rejects transactions that spend outputs that haven't been mined yet.

But when those outputs are mined, we continue to reject those transactions until:
* the next reset (average ~300 blocks or ~6 hours), or
* the rejection expires (60 minutes in ZIP-401, see #2759)

## Design

- Expire `FailedVerification` and `SpendConflict` rejections every time we get a new block.
- Limit t

[2021-08-30 15:09] mpguerra commented on #2606
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2606?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-08-30 15:09] mpguerra commented on #2622
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2622?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-08-30 15:09] mpguerra commented on #2628
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2628?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-08-30 15:10] mpguerra commented on #2629
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2629?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-08-30 15:12] mpguerra commented on #2668
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2668?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-08-30 16:31] conradoplg commented on #2628
Since the stream is not a service, it's just something that is called by whoever wants it, then checking if the mempool is activated must be done by the callers. This will be done for the inbound service in https://github.com/ZcashFoundation/zebra/pull/2679/ but in this ticket we can ensure the check is being done wherever it's needed (and maybe refactor it if needed)

[2021-08-30 21:24] oxarbitrage opened #2705 "Add contributors file for zebra"
We want to do some research on adding contributors file for zebra but we will prefer to be an automatic process so we don't increase the amount of work needed to create releases.

This ticket is to keep track of this research, more details will be added.

[2021-08-30 22:31] conradoplg opened #2707 "Validate mempool-specific transaction consensus rules"
## Motivation

Transactions must be validated before being added to the mempool. In https://github.com/ZcashFoundation/zebra/pull/2679 we just call the existing transaction verifier. The only specific check added there is to make sure there aren't coinbased inputs if it's a mempool transaction.

However, there may be other mempool-specific rules that we need to enforce. We should review which of t

[2021-08-30 22:38] teor2345 commented on #2707
I added ZIP-401 to the specs section, added this ticket to the tracking issue, and tweaked the name so it made sense in the tracking issue.

[2021-08-30 22:39] teor2345 opened #2708 "Skip download and verification if the transaction is already in the mempool or state"
## Motivation

In the transaction download stream, we want to skip transactions we've already downloaded or verified.

We want to skip:
* witnessed transaction IDs (`WtxId`) that are already in the mempool
* witnessed transaction IDs (`WtxId`) that have already been rejected by the mempool
* mined transaction IDs (`transaction::Hash`) that have already been committed to the state

We need to check

[2021-08-30 23:17] teor2345 commented on #2541
This has now been backported: https://github.com/rust-lang/rust/pull/88190

[2021-08-30 23:20] teor2345 opened #2709 "Upgrade Zebra to Rust 2021 edition"
## Motivation

Rust will have a new 2021 edition in October:
https://doc.rust-lang.org/edition-guide/rust-2021/index.html

Zebra can stay on the 2018 edition, but we might miss out on new features. And some code will be harder to write.

## Tasks

- run the fix command for 2021 edition changes
- configure all crates to use the 2021 edition
    - this also upgrades the cargo dependency resolver to

[2021-08-30 23:28] teor2345 commented on #2628
Streams and services get called by tasks, but they can also do their own checks when they are called.
I'd like to do most checks inside the stream/service, so different callers get consistent outcomes.

The download and verify service can call `SyncStatus::is_close_to_tip` to check if the mempool is inactive.

If the mempool is inactive, it needs to:
- cancel all downloads
- cancel all verificatio

[2021-08-30 23:31] teor2345 commented on #2628
I think you're right, there's not much to be done to activate the download and verify stream.
(Maybe we created this ticket when we thought it was going to be a task?)

[2021-08-31 05:21] teor2345 opened #2710 "Cancel all mempool download and verify tasks when a network upgrade activates"
## Motivation

When a network upgrade activates, the mempool needs to redo validation with the new consensus rules.

## Design

Tasks can await network upgrade activation using `ChainTipChange::tip_change` and `TipAction::Reset`:
https://github.com/ZcashFoundation/zebra/blob/44ac06775bf6bb77dea06d53a6fc5e04a79baf31/zebra-state/src/service/chain_tip.rs#L313

[2021-08-31 05:22] teor2345 opened #2711 "Send mined transaction IDs to the download and verify task for cancellation"
## Motivation

Zebra needs to remove mined transaction IDs from the mempool download and verify tasks.

## Design

Tasks can await tip changes using `ChainTipChange::tip_change` and `TipAction::Grow`:
https://github.com/ZcashFoundation/zebra/blob/44ac06775bf6bb77dea06d53a6fc5e04a79baf31/zebra-state/src/service/chain_tip.rs#L313

[2021-08-31 05:23] teor2345 opened #2712 "Broadcast `AdvertiseBlock` to peers when we commit a new block"
## Motivation

Zebra needs to gossip the hashes of newly committed blocks, once it has reached the chain tip.

## Design

Tasks can wait until they are near the tip using `SyncStatus::wait_until_close_to_tip`:
https://github.com/ZcashFoundation/zebra/blob/44ac06775bf6bb77dea06d53a6fc5e04a79baf31/zebrad/src/components/sync/status.rs#L31-L34

Tasks can await tip changes using `ChainTipChange::tip_ch

[2021-08-31 05:25] teor2345 opened #2713 "Send mined transaction IDs to mempool storage for removal"
## Motivation

Zebra needs to remove mined transaction IDs from the mempool, whenever the state tip `Grow`s.

## Design

Tasks can await tip changes using `ChainTipChange::tip_change` and `TipAction::Grow`:
https://github.com/ZcashFoundation/zebra/blob/44ac06775bf6bb77dea06d53a6fc5e04a79baf31/zebra-state/src/service/chain_tip.rs#L313

We currently don't have a method on `mempool::Storage` to remov

[2021-08-31 05:27] teor2345 opened #2714 "Clear the mempool reject list when there is a chain rollback"
## Motivation

When the best chain fork changes (a rollback), the mempool needs to clear its rejected transaction list, so that validation is redone with the new best chain.

## Design

Tasks can await rollbacks using `ChainTipChange::tip_change` and `TipAction::Reset`:
https://github.com/ZcashFoundation/zebra/blob/44ac06775bf6bb77dea06d53a6fc5e04a79baf31/zebra-state/src/service/chain_tip.rs#L313

[2021-08-31 08:07] teor2345 commented on #2623
@upbqdn the latest design in PR #2715 makes this ticket obsolete.

We won't need to stop the chain tip update task, because there's no task dedicated to chain tip updates.

Instead, each service/stream/task can just check the chain tip as needed.

[2021-08-31 08:07] #2623 closed, assigned to upbqdn

[2021-08-31 11:14] jvff commented on #2603
Closed by #2667.

[2021-08-31 11:14] #2603 closed, assigned to jvff

[2021-08-31 18:43] conradoplg commented on #2480
https://github.com/ZcashFoundation/zebra/pull/2679 reorders the network upgrade check and also adds the check for V4 transactions. But we still need to verify/document the version group ID check.

[2021-08-31 18:51] dconnolly opened #2717 "Upgrade aes from 0.6.0 to 0.7.5"
## Motivation

Backwards-incompatible change with the use of FF1 from the `fpe` crate to derive diversified Orchard keys:

![image](https://user-images.githubusercontent.com/552961/131559062-81a7a390-8cdd-4f89-8c22-c5b1101d51e9.png)

We should fix this up for Zebra Client support when computing keys for sending/receiving money for Orchard.

## Related Work

https://github.com/ZcashFoundation/zebra

[2021-09-01 11:41] mpguerra commented on #2628
I wonder if this is something that will be covered by an issue that @dconnolly has been talking about opening with the init() function?

If so, should we just close this one?

[2021-09-01 11:54] mpguerra commented on #2690
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2690?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-09-01 11:54] mpguerra commented on #2691
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2691?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-09-01 11:54] mpguerra commented on #2692
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2692?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-09-01 11:55] mpguerra commented on #2693
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2693?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-09-01 11:56] mpguerra commented on #2694
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2694?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-09-01 11:56] mpguerra commented on #2710
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2710?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-09-01 11:56] mpguerra commented on #2711
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2711?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-09-01 11:57] mpguerra commented on #2712
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2712?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-09-01 11:57] mpguerra commented on #2713
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2713?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-09-01 11:58] mpguerra commented on #2714
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2714?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-09-01 17:58] conradoplg commented on #2480
This will only close when https://github.com/ZcashFoundation/zebra/pull/2679 is merged (which will happen soon anyway)

[2021-09-01 19:07] oxarbitrage commented on #2691
Related: https://github.com/ZcashFoundation/zebra/issues/2690

[2021-09-01 20:36] oxarbitrage commented on #1077
The reply to this message is actually 2 replies. One will have the transactions in the mempool we found but we also need to send a `notfound` message with a list of not found hashes.

This is what i think we can do and some questions i have:

1- Add code in https://github.com/ZcashFoundation/zebra/blob/main/zebrad/src/components/inbound.rs#L284 that will call https://github.com/ZcashFoundation/zeb

[2021-09-02 00:06] #2637 closed, assigned to conradoplg

[2021-09-02 00:06] #2480 closed, assigned to teor2345

[2021-09-02 00:58] teor2345 commented on #2628
Yeah let's just close this one.

[2021-09-02 00:58] #2628 closed, assigned to nobody

[2021-09-02 01:27] teor2345 commented on #1077
The minimal scope for this ticket is just the transactions.
(The ticket was opened before we did the mempool scope and design.)

It looks like `zcashd` and Zebra don't actually need `notfound` messages:
https://github.com/zcash/zcash/blob/e7b425298f6d9a54810cb7183f00be547e4d9415/src/main.cpp#L5632
https://github.com/ZcashFoundation/zebra/blob/main/zebra-network/src/peer/connection.rs#L115

So can

[2021-09-02 01:41] teor2345 opened #2723 "Clear mempool storage if the syncer starts syncing large numbers of blocks again"
## Motivation

If large numbers of blocks get synced, Zebra needs to clear the mempool storage and reject list, because:
* previously verified transactions might have become invalid
* previously invalid transactions might have become valid

## Design

Tasks can check if they are behind the tip using `SyncStatus::is_close_to_tip`:
https://github.com/ZcashFoundation/zebra/blob/44ac06775bf6bb77dea06d

[2021-09-02 02:25] #2639 closed, assigned to teor2345

[2021-09-02 09:57] mpguerra commented on #2708
I forgot this one also needs an estimate. Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2708?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

Probably just an estimate from @conradoplg is fine since they're the one who has actually worked on it already :)

[2021-09-02 12:10] oxarbitrage commented on #1077
Ok, cool, that makes this ticket a lot easier to code. Will send a PR.

[2021-09-02 13:42] #1083 closed, assigned to oxarbitrage

[2021-09-02 17:21] conradoplg commented on #1186
A related issue is discussed [here](https://github.com/ZcashFoundation/zebra/pull/2679#issuecomment-907943652). Basically the script verifier can timeout, which returns a `use tower::timeout::error::Elapsed` error. This is converted to a `TransactionError` (since that's the error type of the transaction verifier service), and since there's no matching enum item, it ends up being converted to `Inte

[2021-09-02 19:36] conradoplg commented on #2626
I've used e.g. `gossip.downloaded.transaction.count` for mempool transactions, but looking back that doesn't make much sense (I based the name on the block metrics). Maybe we should use e.g. `mempool.downloaded.transaction.count`? Make sure to update `transaction_verification.json` to match.

[2021-09-02 22:35] teor2345 commented on #1186
I think we might want a different error variant for each different kind of timeout, so we know what has timed out.

I'd like to replace `BoxError` with enum error types as much as possible.

But we'll still need it in some places, because some types and traits require `BoxError` (like `ServiceExt::oneshot`, and maybe `tower::Buffer`?).

[2021-09-02 22:36] teor2345 opened #2726 "Make Zebra send `notfound`, and use received `notfound` to finish requests"
## Motivation

`zcashd` and Zebra don't actually need `notfound` messages:
https://github.com/zcash/zcash/blob/e7b425298f6d9a54810cb7183f00be547e4d9415/src/main.cpp#L5632
https://github.com/ZcashFoundation/zebra/blob/main/zebra-network/src/peer/connection.rs#L115

But Zebra should send `notfound` as much as possible, so that `inv` routing works efficiently.
This also helps with testing #2156.

We

[2021-09-02 22:43] teor2345 commented on #1077
I opened ticket #2726 for `notfound`.

[2021-09-02 22:45] dconnolly opened #2728 "`mempool::Service` supports inserting transactions into the download/verify stream"
## Motivation

Full transactions received via the `InboundService` need to be verified and if they pass, inserted into `mempool::Storage`. A nice place to do this is as a `mempool::Request` type. From there, the `Service` will be able to insert this `UnminedTx` into the  `mempool::Downloads` `Stream`. `mempool::Downloads` must be updated to handle a method that accepts the full transaction (`verif

[2021-09-03 01:10] str4d commented on #2626
Currently `zcashd` tracks the following mempool-related metrics:

- `zcash.mempool.size.transactions [gauge]`
  - Number of transactions in the mempool.
- `zcash.mempool.size.bytes [gauge]`
  - The sum of the serialized transaction sizes, i.e. how much block space they require.
- `zcash.mempool.usage.bytes [gauge]`
  - The dynamic memory usage of the mempool, i.e. how much it is costing the node t

[2021-09-03 02:06] teor2345 commented on #2626
In Rust, the dynamic size can be calculated using [`std::mem::size_of`](https://doc.rust-lang.org/std/mem/fn.size_of.html), but it needs to be done recursively for pointers, and iteratively for collections.

So maybe we can split that into a separate ticket.

[2021-09-03 02:07] teor2345 commented on #2626
We could add this size to `UnminedTx` and populate it as we deserialize the transaction.

[2021-09-03 03:08] str4d commented on #2626
Yep; for instance, we've added the [`orchard::Bundle<Authorized, _>::dynamic_usage`](https://github.com/zcash/orchard/blob/bd2a7c2e79641ec743f3bc46bfb94ce748569be4/src/bundle.rs#L444-L449) method to expose this to `zcashd`.

[2021-09-03 03:42] teor2345 commented on #2626
I expect we'll want a trait for this, and maybe a custom derive macro.
Then the compiler can check that we've implemented the trait for all the fields of each type.

We could also implement the trait using `std::mem::size_of` for all `Copy` types.

[2021-09-03 19:25] str4d commented on #2626
So, I've thrown this together: https://github.com/str4d/memuse

[2021-09-03 20:07] dconnolly opened #2735 "Upgrade tokio-util from 0.5.1 to 0.6.9"
## Motivation

0.6.* changes trait implementations for `tokio::net::TcpStream` breaking our builds:

![image](https://user-images.githubusercontent.com/552961/132060345-7f483234-8c39-47b9-8a00-03c5c1cbaa35.png)

https://github.com/ZcashFoundation/zebra/pull/2732/checks?check_run_id=3507380221

[2021-09-03 20:11] str4d commented on #2626
We can't do this generically, because `rustc` will complain in ways we can't get around without being, say, the Rust standard library:
[code]

[2021-09-03 20:30] conradoplg commented on #2728
A rough outline of what I think it will look like:

The transaction downloader is created in
https://github.com/ZcashFoundation/zebra/blob/9c220afdc8fba2af754e917d5070e1e01e5b39ef/zebrad/src/components/inbound.rs#L194-L198

It would be moved to inside `Mempool` and initialized there. The only issue is passing everything that it requires: the network (from where it gets `outbound`), state and trans

[2021-09-04 21:41] oxarbitrage commented on #2705
I had been doing some research on this and trying different options, here is more or less what i got:

There are a few options to use github actions to automate the process however some of the ones i tried didn't worked for me and the ones that did ((not without some issues) are not convincing.

The most developed option seems to be the one that @mpguerra recommended me: https://allcontributors.or

[2021-09-05 00:40] str4d commented on #2626
Now published as `memuse 0.1.0` (no custom derive macro yet, but it has impls for almost all the stdlib types).

[2021-09-06 17:49] conradoplg commented on #1080
This may be the same as https://github.com/ZcashFoundation/zebra/issues/2692 ?

[2021-09-06 17:51] conradoplg commented on #1081
This may be the same as https://github.com/ZcashFoundation/zebra/issues/2637

[2021-09-06 19:14] dconnolly opened #2737 "`mempool::init` to kick off crawler, download & verify stream, and return `mempool::Service` and other services"
## Motivation

Want to abstract the startup work of the mempool in general away from higher layers, allow privileged access by the download+verify stream to the `mempool::Storage` instance while only allowing mediated queries to unpriviledged access via the `mempool::Service` layer.

## Related Work

See `zebra-state::init()` and `zebra-network::init()` for similar patterns.

[2021-09-06 19:36] dconnolly opened #2738 "Add `mempool::Storage::remove()`"
## Motivation

When a mempool transaction is mined at least, we must be able to remove an otherwise verified and healthy transaction from our mempool storage.

![image](https://user-images.githubusercontent.com/552961/132255988-9ab9b58d-8eae-423c-ac7b-87c50de6c5b9.png)

[2021-09-06 19:44] dconnolly opened #2739 "Upgrade ECC deps: librustzcash, orchard, halo2, jubjub, group, etc"
ECC is cutting releases of these dependencies that all need to get updated together in our crates.

[2021-09-06 21:38] dconnolly opened #2740 "Documentation: link to Zebra architecture blog posts in zebrad overview for devs in the book"
## Motivation

We have a lot of detail in our book about design RFCs and other pages for zebrad, but lack a sort of high-level overview of the design and architecture, its services, how they communicate, etc. A consolidated overview would help new developers understand zebrad it faster.

We can link to some of our existing blog posts (https://www.zfnd.org/blog/a-new-network-stack-for-zcash/) in an

[2021-09-06 21:41] dconnolly commented on #2740
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2740?planning-poker) with ZenHub @conradoplg @jvff @mpguerra @oxarbitrage @upbqdn

[2021-09-06 22:15] oxarbitrage commented on #2738
Nice to see you already have the test.

[2021-09-06 22:55] #1077 closed, assigned to oxarbitrage

[2021-09-06 23:33] #2592 closed, assigned to upbqdn

[2021-09-07 09:03] mpguerra commented on #2705
moving this to our unofficial documentation sprint (Sprint 24) towards the end of the year. I think this will be a nice addition when we are getting ready to have zebra more widely available.

Also, some of the automation can wait for the devops engineer.

[2021-09-07 09:23] mpguerra commented on #2575
@ZcashFoundation/zebra-team Is this still happening? do we need to do anything here? Or can we close this for now?

[2021-09-07 16:03] conradoplg commented on #1081
Pinging @mpguerra about the duplicate

[2021-09-07 22:12] oxarbitrage commented on #2575
Yes this is still happening. I don't think we will fix it soon but eventually some day we should try to improve the speed of some of this tests.

[2021-09-08 09:59] mpguerra commented on #1081
Yup, it looks like it is the same @dconnolly can you confirm and we can close this one as the duplicate

[2021-09-08 10:02] mpguerra commented on #1081
@conradoplg are there any other inbound requests other than `AdvertiseTransactionIds` that are implemented in #2637 ?

[2021-09-08 10:09] mpguerra commented on #889
I think we're almost done here!

[2021-09-08 16:10] oxarbitrage opened #2743 "Document service buffer size"
In https://github.com/ZcashFoundation/zebra/pull/2718 we created a new service with a buffer size of `20` (https://github.com/ZcashFoundation/zebra/blob/fd418b3bfea4a85cac0f0a75ea37ee52c37bcee5/zebrad/src/commands/start.rs#L73) because the state service uses the same size (https://github.com/ZcashFoundation/zebra/blob/fd418b3bfea4a85cac0f0a75ea37ee52c37bcee5/zebrad/src/commands/start.rs#L60).

We

[2021-09-08 18:11] dconnolly opened #2744 "Make Mempool eviction compliant with ZIP-401"
## Motivation

ZIP-401 has some recommendations on how to mitigate DoS attacks on mempool implementations, including how many rejected tx's to track and for how long, and how to select a victim tx to evict from the mempool when out of space (we currently evict the oldest, they recommend a somewhat weighted random choice).

### Specifications

https://zips.z.cash/zip-0401

### Designs

Rejected set

[2021-09-08 18:51] #2708 closed, assigned to conradoplg

[2021-09-08 22:26] oxarbitrage opened #2745 "Add tests for Inbound::Request::PushTransaction and Inbound::Request::AdvertiseTransactionIds"
In https://github.com/ZcashFoundation/zebra/pull/2727 we added code to handle this 2 mempool requests but we didn't added tests into https://github.com/ZcashFoundation/zebra/blob/main/zebrad/src/components/inbound/tests.rs because we have another in flight PR (https://github.com/ZcashFoundation/zebra/pull/2741) which makes some big changes to this part of the code so we don't want to refactor them

[2021-09-09 13:04] #2692 closed, assigned to conradoplg

[2021-09-09 13:16] oxarbitrage commented on #1080
Closed by https://github.com/ZcashFoundation/zebra/pull/2727

[2021-09-09 13:16] #1080 closed, assigned to oxarbitrage

[2021-09-09 14:03] mpguerra commented on #2606
closing as a duplicate of #2650

[2021-09-09 14:03] #2606 closed, assigned to nobody

[2021-09-09 14:06] mpguerra commented on #1081
closed by #2679

[2021-09-09 14:06] #1081 closed, assigned to nobody

[2021-09-09 14:07] mpguerra commented on #889
All done with this Epic

[2021-09-09 14:07] #889 closed, assigned to nobody

[2021-09-09 16:36] conradoplg commented on #2740
Here's a graph (dot file) I generated to help me understand the dependencies between services (this is how it looks like after https://github.com/ZcashFoundation/zebra/pull/2741), and that we could add to the docs. If A points to B that means A is used by B (i.e. B has a reference to A). The dotted lines are circular dependencies which are sent back using channels.

[code]

![graphviz](https://use

[2021-09-09 18:39] dconnolly commented on #2740
This

This is awesome! I wonder if we can do a service dependency diagram at a similar high level automatically derived from the codebase, so that we can keep it up to date automatically and embed the result in our `zebra.zfnd.org` docs / rust docs

[2021-09-10 19:24] conradoplg commented on #2740
I think it's doable with https://crates.io/crates/syn, parsing `start.rs`, but I'm not sure if it's worth the effort :thinking: Would be cool though :laughing:

[2021-09-11 13:07] oxarbitrage commented on #2622
Need https://github.com/ZcashFoundation/zebra/pull/2749

[2021-09-11 21:12] oxarbitrage commented on #2622
I have two questions in order to do this.

1. Where we should do it? We need a place that is executed often so we can remove transactions that are expired. One option is in the crawler. We can add a mempool service argument in https://github.com/ZcashFoundation/zebra/blob/main/zebrad/src/commands/start.rs#L104 . This will mean we need to develop a mempool service request to remove transactions tha

[2021-09-11 21:14] oxarbitrage commented on #2745
Will do this after https://github.com/ZcashFoundation/zebra/pull/2741 is merged.

[2021-09-13 20:28] #2728 closed, assigned to conradoplg

[2021-09-14 09:22] mpguerra commented on #2744
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2744?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @upbqdn

[2021-09-14 09:23] mpguerra commented on #2709
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2709?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @upbqdn

[2021-09-14 09:23] mpguerra commented on #2707
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2707?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @upbqdn

[2021-09-14 09:24] mpguerra commented on #2682
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2682?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @upbqdn

[2021-09-14 09:26] mpguerra commented on #2723
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2723?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @upbqdn

[2021-09-14 09:27] mpguerra commented on #2745
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2745?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @upbqdn

[2021-09-14 13:06] #2738 closed, assigned to dconnolly

[2021-09-14 13:45] oxarbitrage commented on #2622
https://zips.z.cash/zip-0203

[2021-09-14 22:37] dconnolly opened #2757 "Make gcloud zebrad deployments from #main use persistent IPs"
## Motivation

We have at least two zebrad nodes running at any time that are auto-deployed when code is merged to #main and passes all tests and checks. By default, they get a new ephemeral IP address every time they are restarted. This means they don't stay along long enough at one IP to show up in block explorers such as BlockChair.

We currently deploy using managed groups, which keep the inst

[2021-09-15 10:45] mpguerra opened #2758 "Broadcast `AdvertiseTransactionIds` to peers when transactions are added to our mempool"
Once we verify transactions and add them into our mempool, we should gossip those transaction ids to our peers as an unsolicited tx message (https://developer.bitcoin.org/reference/p2p_networking.html#tx )

[2021-09-15 10:59] mpguerra opened #2759 "Limit the size and age of the ZIP-401 rejected transaction ID list"
### Motivation

ZIP-401 limits the number of transactions in the rejected list, and the age of the entries in that list.

### This Ticket Depends On

`RecentlyEvicted`:
  - [x] #2780
    - [x] #2778
    - [x] #2779
      - [x] #2440

### Specification

The checked items are covered by other tickets.

https://zips.z.cash/zip-0401#specification

### Design

The ZIP-401 reject list must be implemente

[2021-09-15 11:00] mpguerra commented on #2759
Are we already doing this? It was in the list of mempool tasks but did not have an issue number assigned

[2021-09-15 13:25] upbqdn opened #2760 "Consider ordering mempool transactions by their fee in Zebra's RPCs"
## Motivation
Since miners are mostly profit-oriented, they naturally prefer transactions with higher fees. It might be worth considering this when designing the API for querying the mempool.

### Designs
Zebra could offer an RPC that would prioritize transactions with higher fees when returning transactions from the mempool. Also, Zebra could expect that transactions with higher fees will be evic

[2021-09-15 13:30] upbqdn commented on #2759
This is part of #2744:

[2021-09-15 13:45] upbqdn opened #2761 "Clear mempool each time the network upgrade changes"
This ticket is a part of #2374.

[2021-09-16 13:23] mpguerra commented on #2737
@dconnolly do we still need to do this one? I seem to remember you mentioning that @conradoplg had done a bunch of it already elsewhere...

[2021-09-16 19:07] mpguerra opened #2767 "Store valid transactions in mempool storage"
Making this an issue so we don't forget to actually do this!

[2021-09-16 19:37] dconnolly opened #2768 "Trace mempool"
## Motivation

### Specifications

### Designs

## Related Work

[2021-09-19 20:41] upbqdn commented on #2744
ZIP-401 says:

and

We were discussing that it might be a bit of a pain to deal with time in Zebra. Today I noticed Zebra actually deals with time already in order to implement the following from the protocol:

The implementation of that is here https://github.com/ZcashFoundation/zebra/blob/1ccb2de7c7049feebf41e03b1243939158817317/zebra-consensus/src/block/check.rs#L159 and here https://github.com

[2021-09-19 23:26] oxarbitrage commented on #2622
One idea that was suggested by @conradoplg in discord was to add this in the mempool service `poll_next()`:

"I think we can do this in the mempool poll_ready since it will get called periodically. At least the current code is relying on that to periodically check if transactions have been downloaded and adding them to the mempool if they were."

The implementation at https://github.com/ZcashFound

[2021-09-20 22:04] dconnolly commented on #2713
Does this conflict with https://github.com/ZcashFoundation/zebra/issues/2682 ?
Let's close this one in favor of that one

[2021-09-20 22:05] dconnolly commented on #2675
This may be resolve by completing https://github.com/ZcashFoundation/zebra/issues/2744

[2021-09-20 22:07] teor2345 commented on #2713
I think the conflict is with #2631 - if we do #2631, this ticket is redundant.
(And #2631 is better, and more similar to existing code like #2682.)

[2021-09-20 22:14] dconnolly commented on #2451
Closing in agreement with https://github.com/ZcashFoundation/zebra/issues/2451#issuecomment-899942200

[2021-09-20 22:14] #2451 closed, assigned to nobody

[2021-09-20 22:15] teor2345 commented on #2451
We don't actually need to implement this ticket, because in the worst case, Zebra:
* parses but drops v5 transactions before NU5 activation
* accepts and sends v5 transactions after NU5 activation

[2021-09-20 22:18] teor2345 commented on #2767
@conradoplg just checking what work is remaining in this ticket?
Is it all covered by other tickets like #2650?

[2021-09-21 03:12] teor2345 commented on #2451
Here's some more analysis of interactions with legacy Bitcoin protocol implementations:

Currently, if Zebra receives a 36-byte WTX message, parsing will always fail. The `InventoryHash` parser will expect `body_len + 32` bytes for WTX, but the message parser only provides `body_len` bytes.

The `body_len` limit is applied even if the message has trailing bytes.

(This assumes the peer is honest-b

[2021-09-21 04:20] teor2345 commented on #2440
Turns out we need this to calculate mempool fees.

[2021-09-21 04:22] teor2345 opened #2778 "Add the serialized transaction size to `UnminedTx`"
### Motivation

ZIP-401 weights transactions by their serialized size.

### Consensus Rules

https://zips.z.cash/zip-0401#specification

### Design

This existing code calculates the size of a `Message`:
https://github.com/ZcashFoundation/zebra/blob/de589f6b3113af62c98e327edf969f2ef176a152/zebra-network/src/protocol/external/codec.rs#L176-L183

Maybe we want to turn it into a [default method](http

[2021-09-21 04:22] teor2345 opened #2779 "Return the transaction fee in the mempool response"
## Motivation

ZIP-401 weights transactions by their transaction fee, so we need to return the transaction fee in successful mempool verification responses.

### This Ticket Depends On

`remaining_transaction_value` needs the UTXOs spent by the block:
- [x] #2440

### Consensus Rules

https://zips.z.cash/zip-0401#specification

### Design

This function already calculates the transaction fee - it

[2021-09-21 04:41] teor2345 opened #2780 "Randomly evict mempool transactions based on their eviction weights"
## Motivation

ZIP-401 specifies weighted random mempool transaction evictions:
https://zips.z.cash/zip-0401#specification

### This Ticket Depends On

match by `txid` not `wtxid`:
  - [x] #2819

`serialized transaction size in bytes`:
  - [x] #2778

transaction fee:
  - [x] #2779
    - [x] #2440

### Consensus Rules

https://zips.z.cash/zip-0401#specification

### Design

[rand::distributions::we

[2021-09-21 04:45] teor2345 commented on #2759
#2744 is a very large ticket, so I'm splitting it up into sub-tickets.

[2021-09-21 04:55] teor2345 commented on #2744
I wouldn't worry about the exact contents of the rejected set - ZIP-401 is not consensus-critical, so there's no requirement for exact conformance.

But having a single rejected set will make the code much simpler, easier to test, and less likely to have security issues.

[2021-09-21 05:04] teor2345 commented on #2744
There are actually 3 kinds of time here:
* consensus time: the time in the block header, which is the same for all nodes
* wall clock time: the local node's clock, which can be changed using NTP or by a sysadmin (used to check the block time)
* monotonic time: the time elapsed on the local node, which can never go backwards (ZIP-401)

Picking the right kind of time is a tricky edge-case, which is

[2021-09-21 05:06] teor2345 commented on #2778
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2778?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @upbqdn

[2021-09-21 05:08] teor2345 commented on #2780
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2780?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @upbqdn

[2021-09-21 05:09] teor2345 commented on #2779
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2779?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @upbqdn

[2021-09-21 05:10] teor2345 commented on #2759
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2759?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @upbqdn

[2021-09-21 05:39] teor2345 commented on #2693
I think this issue is actually optional, so I'm going to remove it from this sprint.

[2021-09-21 05:40] teor2345 commented on #2668
After looking at ZIP-401, it looks like we'll still be modifying the mempool errors in sprint 20.

So I've moved this out of the sprints, until we have most of our errors finished off.

[2021-09-21 11:46] jvff opened #2781 "Consider replacing mempool transactions based on the transaction fee"
## Motivation

As of #2765, mempool transactions are rejected if they spend a UTXO that's already spent or a nullifier that's already revealed by another transaction in the mempool. However, this prevents a user from replacing a transaction with another one by setting a higher transaction fee. We should consider adding support for replacing a transaction based on the transaction fee.

There might

[2021-09-21 12:59] str4d commented on #2781
We considered this for `zcashd` (RBF was one of the potential backports from upstream Bitcoin Core), and decided it was too complex and ad-hoc a mechanism for the benefits it claimed to provide. We instead deployed ZIP 203 with Overwinter which added a transaction expiry field, to give transaction creators explicit consensus control over whether a transaction should be allowed to persist indefinit

[2021-09-21 13:29] conradoplg commented on #2767
Yes, this one can be considered complete after #2650 is done

[2021-09-21 13:57] dconnolly commented on #2781
https://zips.z.cash/zip-0203

[2021-09-21 14:47] daira commented on #2781
Note however that expiry is optional (the transaction creator can set `nExpiryHeight` to 0, or with almost the same effect, to a block height far in the future). If ZIP 401 is implemented then newer transactions will tend to displace older ones when the mempool becomes "full". Also, the mempool is cleared on a network upgrade.

(Previously, `zcashd` would also clear the mempool on a restart, but I

[2021-09-21 14:49] dconnolly commented on #2781
No longer? That's our current plan (rather, cavalierly blow away mempool state on shutdown/restart, on network upgrade, if we need to catch up with chain tip, etc)

[2021-09-21 14:58] jvff opened #2784 "Refactor spend conflict checks in the mempool storage to increase performance"
## Motivation

ZIP-401 prevents memory DoS by setting a maximum mempool size. This mempool size is much larger than Zebra's current mempool size.

PR #2765 implemented a simple algorithm to check if a transaction has spend conflicts with another transaction already in the mempool.

That algorithm works well for a mempool with few transactions. But as the size of the mempool increases, performance

[2021-09-21 21:48] daira commented on #2781
Sorry I'm mistaken, `zcashd` does still clear the mempool on restart. I was thinking of something else (persisting the banlist, I think).

[2021-09-21 22:39] teor2345 commented on #2781
Zebra can afford to blow away the mempool because it eagerly crawls peer mempools, it shares newly verified transactions with peers, and it's connected to lots of peers.

So there's very little risk of transaction loss.

[2021-09-21 22:41] teor2345 commented on #2781
I've marked this ticket as optional, based on `zcashd` engineer feedback.

[2021-09-21 23:23] teor2345 commented on #2784
If we need to look up the conflicting transaction, we might want a `HashMap<Output, transaction::Hash>`.

But I don't know if we'll need to do that - I guess we'll find out!

[2021-09-21 23:26] teor2345 opened #2787 "Reject duplicate UTXO spends and nullifier reveals within the same mempool transaction"
### Motivation

Mempools typically require a consistent set of transactions, which could all be mined into a single block.

In order to support this restriction, Zebra should reject transactions that:
* spend the same output more than once
* reveal the same nullifier more than once

### Specifications

This consensus rule applies to both block and mempool transactions, so we might want to implemen

[2021-09-22 02:03] teor2345 commented on #2767
Since this is a duplicate now, I'm going to close it, and we can do the remaining work in #2650.

[2021-09-23 13:17] #2745 closed, assigned to oxarbitrage

[2021-09-23 19:09] #2761 closed, assigned to upbqdn

[2021-09-23 20:24] teor2345 opened #2793 "Set the NU5 testnet activation height, network protocol version, and consensus branch ID"
See #1841 for details.

### Second NU5 Testnet Activation

Set :
- [ ] [NU5 consensus branch ID](https://github.com/ZcashFoundation/zebra/blob/1601c9fbb30ec33e03c37200390021cade68e0f7/zebra-chain/src/parameters/network_upgrade.rs#L130) to 0x37519621
- [ ] [NU5 testnet network protocol version](https://github.com/ZcashFoundation/zebra/blob/1601c9fbb30ec33e03c37200390021cade68e0f7/zebra-network/src/

[2021-09-23 20:24] teor2345 opened #2794 "Set the CURRENT_NETWORK_PROTOCOL_VERSION to 170_014 for NU5 testnet"
See #1841 for details.

### Tasks

  - Remove `unimplemented!("V5 transaction validation is not yet complete");` from the transaction verifier

[2021-09-23 20:24] teor2345 opened #2795 "Update the NU5 testnet Zebra version in ZIP-252"
### Tasks

- Update https://github.com/zcash/zips/blob/main/zip-0252.rst
- Regenerate the HTML using `make`

[2021-09-23 20:24] teor2345 opened #2796 "Change the max network protocol version in the DNS seeder to `170_014` for NU5 testnet"

[2021-09-23 20:25] teor2345 opened #2797 "Re-deploy the foundation's DNS seeders for NU5 testnet"
See #1841 for details.

### Tasks

After we merge #2796 and #2808, we need to:
  - [x] Deploy a new DNS seeder instance for NU5 testnet (170014), but don't switch the Foundation's DNS records yet
    - failed deployment https://github.com/ZcashFoundation/coredns-zcash/actions/runs/1267893660
    - fix PRs:
        - https://github.com/ZcashFoundation/coredns-zcash/pull/9
        - https://github.c

[2021-09-23 20:36] teor2345 opened #2798 "Terminate all Foundation Zcash instances running pre-NU5 testnet versions"
Depends on merging #2793 and #2794, and updating all pull requests to the latest main branch.

### Tasks

- [x] Shut down outdated development Zebra testnet instances
- [x] Shut down outdated development `zcashd` instances
  - all networks, because `zcashd`'s auto-termination has triggered
- [x] Shut down outdated DNS seeder instances in production
  - all networks, because both networks run on th

[2021-09-23 21:32] teor2345 commented on #2440
Conflicts with the NU5 block validation code freeze, moving after NU5 testnet activation.

[2021-09-23 21:33] teor2345 commented on #2779
This ticket's dependencies conflict with the NU5 block validation code freeze, so it needs to be done after NU5 testnet activation in sprint 19.

[2021-09-23 21:33] teor2345 commented on #2780
This ticket's dependencies conflict with the NU5 block validation code freeze, so it needs to be done after NU5 testnet activation in sprint 19.

[2021-09-23 21:33] teor2345 commented on #2744
This ticket's dependencies conflict with the NU5 block validation code freeze, so it needs to be done after NU5 testnet activation in sprint 19.

[2021-09-23 21:35] dconnolly opened #2799 "Auto-deploy testnet instances on merge to #main, just as we do mainnet"
## Motivation

We want to test NU5 functionality in Zebra.

This is a DevOps task.

### Specifications

### Designs

## Related Work

[2021-09-23 22:40] teor2345 commented on #2784
We moved the eviction tickets to the next sprint, so I'm going to move this one too.

[2021-09-23 22:40] teor2345 commented on #2675
We moved the eviction tickets to the next sprint, so I'm going to move this one too.

[2021-09-23 22:41] teor2345 commented on #2675
Actually, I think this is now effectively a duplicate of #2744, so I'm just going to close it.

[2021-09-23 22:41] #2675 closed, assigned to nobody

[2021-09-23 23:43] teor2345 commented on #2796
Implemented by https://github.com/ZcashFoundation/dnsseeder/pull/12

[2021-09-23 23:43] #2796 closed, assigned to teor2345

[2021-09-24 01:02] #2767 closed, assigned to conradoplg

[2021-09-24 19:23] conradoplg commented on #2795
Which versions will we use? My guess is:

Support for NU5 on Testnet will be implemented in Zebra version 1.0.0-alpha.18 , which will advertise protocol version 170014. Support for NU5 on Mainnet will be implemented in Zebra version 2.0.0, which will advertise protocol version 170015.

(or 1.0.0 for Mainnet?)

[2021-09-24 19:55] dconnolly commented on #2797
Deployed new seeder:

https://github.com/ZcashFoundation/coredns-zcash/actions/runs/1271133091

[2021-09-27 01:42] teor2345 commented on #2795
I think that's correct, @jvff can confirm the `Testnet` version after the release.

We might want to use `1.0.0-beta.1` for `Mainnet`, because Zebra hasn't been audited yet.
(But we don't have to make that decision yet.)

[2021-09-27 02:32] teor2345 commented on #2798
There are currently 2 Zebra instances in the development cloud, they're deployments from from September 24, so I haven't terminated them yet, just in case someone is using them.

~There's also a `zcashd` instance that we should terminate, because it will be outdated soon too.~

Also we should probably shut down the old DNS seeder.

[2021-09-27 02:34] teor2345 commented on #2797
Here are the default mainnet and testnet DNS seeders:

https://github.com/ZcashFoundation/zebra/blob/b42ab67a4bad6383c5236aac9d116c3f6a65b569/zebra-network/src/config.rs#L161-L176

[2021-09-27 02:35] teor2345 commented on #2797
Currently the testnet seeders are returning:
* new ZFND - 3 nodes
* ZFND - 5 nodes
* YOLO - 9 nodes
* ECC - 3 nodes

There are some common node addresses across the seeders.

[code]

[2021-09-27 02:37] teor2345 commented on #2797
Currently the mainnet seeders are returning:
* ZFND - 21 nodes
* new ZFND - 16 nodes
* YOLO - 25 nodes
* ECC - 25 nodes
* STR4D - 25 nodes

Given the number of nodes on mainnet, we don't expect common node addresses across the seeders.

[code]

[2021-09-27 02:42] teor2345 commented on #2795
@oxarbitrage or @jvff, did you want to do this task?

[2021-09-27 09:24] mpguerra commented on #2710
our approach will depend on what we do for #2374

[2021-09-27 13:44] #2794 closed, assigned to upbqdn

[2021-09-27 13:56] mpguerra commented on #1841
Removing from Sprint 19 as this is now more of a tracking ticket containing mainnet activation tasks also

[2021-09-28 01:03] #2682 closed, assigned to jvff

[2021-09-28 08:16] teor2345 commented on #2798
This is shut down now.

[2021-09-28 09:39] mpguerra commented on #2793
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2793?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-09-28 09:39] mpguerra commented on #2795
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2795?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-09-28 09:39] mpguerra commented on #2797
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2797?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-09-28 09:40] mpguerra commented on #2799
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2799?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-09-28 09:42] mpguerra commented on #2758
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2758?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-09-28 09:42] mpguerra commented on #2784
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2784?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-09-28 09:42] mpguerra commented on #2787
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2787?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-09-28 19:37] upbqdn opened #2806 "Reject transactions that are invalid for the current network upgrade"
This issue is a part of #2374.

[2021-09-28 22:50] teor2345 opened #2808 "Change the max network protocol version in the DNS seeder to 170_015 for NU5 testnet"
See #1841 for details.

### Second NU5 Testnet Activation

- Set the max network protocol version to 170_015

For confirmation, see the corresponding `zcashd` PR:
https://github.com/zcash/zcash/pull/5330/files#diff-e04cb1e9f29f76897c6b84334238f621ff45ba13cf180ad1d0d442d50ebe51f7R40

[2021-09-28 23:06] #2629 closed, assigned to conradoplg

[2021-09-28 23:10] teor2345 commented on #2808
Fixed by https://github.com/ZcashFoundation/dnsseeder/pull/13

[2021-09-28 23:26] teor2345 commented on #2795
Updated for the latest testnet network protocol versions:

Or we could just give the Zebra versions, and stop repeating network protocol details, because they are already in the spec.

[2021-09-29 07:28] daira commented on #2795
I will be updating ZIP 252 ~today~ on Friday and will include this.

[2021-09-29 16:52] #2622 closed, assigned to oxarbitrage

[2021-09-29 17:49] conradoplg commented on #2739
Reminder that we need to upgrade `librustzcash` too

[2021-09-29 19:55] upbqdn commented on #2806
This issue is solved by https://github.com/ZcashFoundation/zebra/blob/952da4c794efe3275bfbcee3f3508612e90605f3/zebra-consensus/src/transaction.rs#L395

[2021-09-29 19:55] #2806 closed, assigned to upbqdn

[2021-09-29 21:54] #2808 closed, assigned to teor2345

[2021-09-30 00:54] teor2345 opened #2812 "Add dev zones for testing DNS seeders"
## Motivation

There doesn't seem to be any way to test a newly launched ZFND seeder from Zebra.

We'd need to specify its IP address, and the canonical ZFND seeder DNS name, like:
[code]

But Zebra only uses `tokio`'s basic DNS resolver API.

### Design

We could add `dev.testnet.seeder.zfnd.org` and `dev.mainnet.seeder.zfnd.org` DNS names, so we can test development versions of the seeders befor

[2021-09-30 01:48] teor2345 commented on #2797
The ZFND mainnet seeder is now returning up-to-date peers, except for a few outdated peers, due to a known bug:
- https://github.com/ZcashFoundation/dnsseeder/issues/10

<img width="923" alt="Screen Shot 2021-09-30 at 11 45 10" src="https://user-images.githubusercontent.com/8951843/135372267-10a2697c-3da6-47e6-8396-15d9f75bfc48.png">

[2021-09-30 01:49] teor2345 commented on #2797
The ZFND testnet seeder is now returning up-to-date peers:
<img width="923" alt="Screen Shot 2021-09-30 at 11 45 20" src="https://user-images.githubusercontent.com/8951843/135372334-893f5d03-49e9-4ace-84cf-5784196e365e.png">

[2021-09-30 01:49] #2797 closed, assigned to dconnolly, teor2345

[2021-09-30 02:04] teor2345 commented on #2374
@upbqdn we're running the same reset code for network upgrade activation and rollbacks.
Do our existing tests cover multiple resets?

If we don't need any extra tests, we can just close this ticket.

[2021-09-30 02:09] #2711 closed, assigned to conradoplg

[2021-09-30 02:13] teor2345 commented on #2532
Moving this to sprint 20, because NU5 testnet will activate during that sprint.

[2021-09-30 02:18] teor2345 opened #2813 "After NU5 mainnet activation, set the minimum mainnet network protocol version to NU5"
## Motivation

There might only be a small number of Zebra instances running when NU5 activates on mainnet.

So instead of automatically closing connections to outdated peers, we can just set the mainnet minimum protocol version to `NU5` after NU5 mainnet activation.

Then we can upgrade and restart all the running Zebra instances, and they will reject outdated peers as soon as they start up, rega

[2021-09-30 02:24] teor2345 commented on #2723
@jvff I think PRs #2773 and #2764 might have already closed this ticket:

Here's the code that clears the mempool if the syncer reports large numbers of blocks:
https://github.com/ZcashFoundation/zebra/blob/18acec6849fb09b52962365a35a374449a6364c8/zebrad/src/components/mempool.rs#L155-L167

And we also clear if the state commits more than one block at the same time:
https://github.com/ZcashFoundat

[2021-09-30 02:30] teor2345 commented on #2710
Currently Zebra:
* clears the mempool storage at network upgrade activation
* fetches transactions from peers using the mempool crawler
* validates those transactions using the new consensus rules using the mempool downloader

So I think the only thing that's missing here is clearing the download and verify queue.

The state send a `Reset` if there is a network upgrade activation.
In PR #2773, we

[2021-09-30 02:32] teor2345 commented on #2714
I think PR #2773 might have already closed this ticket.

The state sends a `Reset` if there is a rollback:
https://github.com/ZcashFoundation/zebra/blob/18acec6849fb09b52962365a35a374449a6364c8/zebrad/src/components/mempool.rs#L249-L254

[2021-09-30 02:51] teor2345 commented on #2710
Edit: actually, it seems like we're missing clearing the download & verify stream

[2021-09-30 08:40] mpguerra opened #2814 "Epic: NU6 Activation"
Placeholder epic for tracking NU6 tasks

[2021-09-30 09:45] upbqdn commented on #2714
PR https://github.com/ZcashFoundation/zebra/pull/2773 implements the behavior described in this ticket.

[2021-09-30 09:45] #2714 closed, assigned to upbqdn

[2021-09-30 20:35] #2710 closed, assigned to conradoplg

[2021-10-01 14:44] #2723 closed, assigned to jvff

[2021-10-01 15:28] conradoplg opened #2818 "Add transactions that failed verification to the mempool rejected list"
## Motivation

When a mempool-bound transaction fails verification it should be added to the mempool rejected list, so that we can avoid reverifying it again if we receive it again.

### Specifications

AFAIK this is not clearly spelled out anywhere, but should be the expected behaviour.

### Designs

**Lists**

- Implement rejections as two separate lists:
  - Invalid at this block: `Invalid` and

[2021-10-01 16:43] conradoplg opened #2819 "Match rejected transactions correctly by TXID or WTXID"
## Motivation

When receiving a mempool-bound transaction we check if it's in the rejected list, and if it is, we avoid downloading/verifying it.

However, this check currently uses `UnminedTxId` which is the WTXID for V5-onward.

### Specifications

https://zips.z.cash/zip-0401

### Designs

For rejected _invalid_ transactions (i.e. transactions that failed verification or storage), Zebra should

[2021-10-02 00:00] daira commented on #2795
Fixed in https://github.com/zcash/zips/commit/d1909fb05a6b9a97645570c7a66f9a623875d803 (the changes were reviewed with @dconnolly).

[2021-10-02 10:18] daira commented on #2819
If the reason for failed verification was a problem with the witness data (i.e. the transaction is otherwise valid), then if it's submitted with different witness data you need to revalidate that. That is, you probably need caches for which txids refer to transactions that are invalidated regardless of witness data, and which wtxids are invalidated by the witness data.

Apologies for the lack of e

[2021-10-02 10:31] str4d commented on #2819
`zcashd` currently has the same split that this issue was opened to create:
- A Bloom filter that tracks wtxids for invalid transactions.
- A list that tracks txids for evicted transactions.

We _could_ add another Bloom filter to track txids of transactions that are rejected due to invalid effecting data, but the `zcashd` consensus stack does not currently make that distinction. I'd also argue it

[2021-10-04 08:11] mpguerra commented on #2795
LGTM! @ZcashFoundation/zebra-team let's make sure we include all the required changes in our next release (1.0.0-alpha.18)

[2021-10-04 08:11] #2795 closed, assigned to oxarbitrage

[2021-10-04 13:35] mpguerra commented on #2784
This definitely seems optional, so I'm going to un-schedule it for now, it will still be tracked in the mempool epic for when we think the mempool will be large enough that this is necessary

[2021-10-04 13:51] mpguerra commented on #2744
Changed to epic and removed from Sprint 20 since all relevant child issues are already in that sprint

[2021-10-04 19:33] conradoplg commented on #2694
My arguments for the quick fix:

When a transactions fails due to missing inputs, I think they just timeout. We'd need to detect that and include somehow the missing inputs in the error being returned, which seems tricky. Otherwise we can just query the state to get the missing inputs, but it also seems awkward... Also, in a sense, it seems this would basically recreate the timeout for missing inp

[2021-10-04 22:13] teor2345 commented on #2713
We removed #2631 from the sprint, so we need to add this ticket back in.

[2021-10-05 00:55] #2650 closed, assigned to jvff

[2021-10-05 00:57] teor2345 commented on #2374
I renamed this ticket to match the remaining work.

[2021-10-05 02:27] teor2345 commented on #2575
We try to keep most tests to 10-20 seconds, and I think these tests are within that limit on most machines.

But they're some of our slowest tests, and we really want to run more than 1 case for good test coverage. So this ticket is worth keeping.

[2021-10-05 05:37] teor2345 commented on #2819
I unblocked this task by moving the blocked parts into other tickets (ZIP-401 and #2818).

[2021-10-05 06:55] teor2345 commented on #2694
I'm probably going to run out of work tomorrow, and there are no unblocked tasks left in the sprint, so I'm moving this one back in.

[2021-10-05 22:45] teor2345 commented on #2798
This is done now, and we have no auto-deployment for testnet, so we won't have any new testnet instances.

[2021-10-05 22:45] #2798 closed, assigned to teor2345

[2021-10-06 00:01] teor2345 opened #3041 "Minimise `zcashd` files pulled in by `zcash_script`"
## Motivation

`zcash_script` is only used for transparent script validation.

If we pull in more dependencies than we need, builds are slower. They also become more fragile, because our test platforms are not the same as `zcashd`. (For example, Zebra builds with `MSVC` on Windows, but `zcashd` cross-compiles to Windows.)

### Suggestions

The following crates should not be required for transparen

[2021-10-06 00:02] teor2345 opened #2830 "Minimise zcashd files pulled in by zcash_script"
## Motivation

`zcash_script` is only used for transparent script validation.

If we pull in more dependencies than we need, our builds become more fragile, because our test platforms are not the same as `zcashd`. (For example, Zebra builds with `MSVC` on Windows, but `zcashd` cross-compiles to Windows.)

See the details in https://github.com/ZcashFoundation/zcash_script/issues/24

[2021-10-06 01:08] #2328 closed, assigned to jvff

[2021-10-06 01:08] #2739 closed, assigned to dconnolly

[2021-10-06 01:08] #2793 closed, assigned to conradoplg

[2021-10-06 02:12] conradoplg opened #2832 "Make state.finalized.committed.block.height update after checkpoint sync"
## Motivation

`state.finalized.committed.block.height` metric is not updated in regular sync, just in checkpoint sync.

Checking the code, the checkpoint verifier commits blocks using `Request::CommitFinalizedBlock`  which calls `queue_and_commit_finalized` -> `commit_finalized`  which updates the metrics (and calls `commit_finalized_direct`  to actually commit it).

During regular Sync, `Request

[2021-10-06 03:29] teor2345 opened #2834 "Split verification failures by match type and rejection expiry"
## Motivation

When the mempool fails to verify transactions, it caches those verification failures.

### Match Type

If the failure is due to the transaction's effects (for example, a double-spend), any transaction with the same TXID (`Hash`) is also invalid.

If the failure is due to the authorizing data (for example, a bad signature), only that exact WTXID (`UnminedTxId`) is invalid.

In #2819,

[2021-10-06 03:50] teor2345 commented on #2532
NU5 will activate in around 2 hours, so this task is unblocked.

[2021-10-06 05:11] teor2345 commented on #2832
I think there are a few issues here:
* the checkpoint-specific metrics have confusing names, they should be `state.checkpoint.*`
* the overall verified block metrics have multiple bugs
* we're missing a metric for finalized blocks, regardless of the verifier that was used

I think I fixed all these issues in #2835, but if we can do better, let me know.

[2021-10-06 22:40] #2778 closed, assigned to oxarbitrage

[2021-10-06 23:45] #2713 closed, assigned to teor2345

[2021-10-07 10:46] #2712 closed, assigned to teor2345

[2021-10-07 13:42] #2832 closed, assigned to teor2345

[2021-10-07 15:04] #2819 closed, assigned to teor2345

[2021-10-07 19:58] #2694 closed, assigned to teor2345

[2021-10-07 21:27] oxarbitrage opened #2847 "Make config `Duration` easier to write in the toml file"
## Motivation

In the network and in the mempool config sections we use `Duration` type for some variables. This are not very friendly for the user so we might change them in the future.

Some hints on what to do can be found in https://github.com/ZcashFoundation/zebra/pull/2845#discussion_r724543181

This is very low priority at this moment.

## Potential APIs

We could use `humantime_serde` like

[2021-10-07 21:34] #2818 closed, assigned to conradoplg

[2021-10-07 22:02] conradoplg opened #2848 "Add expired transactions to the mempool rejected list"
## Motivation

When a mempool transaction expires, we remove it from the mempool. But we should also add it to the rejected list, to avoid redownloading and reverifying it if it's sent again.

### Specifications

### Designs

At first the tx would fit into the `chain_rejected_same_effects` list which is used by txs rejected by excess capacity. But we should create a separate list for expired trans

[2021-10-07 22:58] str4d commented on #1904
This is the [list of conditions](https://github.com/zcash/zcash-seeder/blob/01fc41b063d83a9bc19ebb12e9e48bb7ae659096/db.h#L104-L120) enforced by `zcash-seeder` on peers in order for their IPs to be given out:

- The peer's port must be 8233 on mainnet or 18233 on testnet (DNS only gives out IPs, so the port needs to be predictable).
- The `NODE_NETWORK` service bit must be set.
- The peer's IP mus

[2021-10-08 00:41] teor2345 commented on #2779
Unblocked by PR #2849

[2021-10-08 00:42] teor2345 commented on #2780
Partly unblocked by just using zero fees until #2779 gets merged.

[2021-10-08 00:55] teor2345 commented on #1904
I'm pretty sure our mainnet instances satisfy all these criteria.

But they're not configured with their external IP, and Zebra doesn't have external IP auto-detection. So they'll be advertising `0.0.0.0:(default)`. That might be the issue here. (We'd need to implement #1893, or make changes to our deployment configs.)

It's also possible that Google Cloud is filtering cryptocurrency traffic.

[2021-10-08 00:56] teor2345 commented on #1904
We could test by configuring a publicly routable Zebra instance with the correct external IP address.
And ideally outside Google cloud, to eliminate that possibility.

[2021-10-08 11:59] #2758 closed, assigned to oxarbitrage

[2021-10-08 17:57] #2532 closed, assigned to oxarbitrage

[2021-10-10 20:34] teor2345 opened #2854 "Put related zebra-network constants together"
## Motivation

In general, we put constants together with other related constants. So if we change one of them, we can check if we need to change the others.

This helps prevent bugs where we change a constant, but forget to update a related constant.

We also put constants in the crate where they are used. (If they're used in multiple crates, we put them in the crate that is the closest common de

[2021-10-10 23:54] #2784 closed, assigned to jvff

[2021-10-11 04:54] teor2345 commented on #2668
This was done in recent PRs, where we removed unused errors, deduplicated mempool errors with storage errors, and split storage errors by retention policy.

[2021-10-11 04:54] #2668 closed, assigned to upbqdn

[2021-10-11 16:54] mpguerra opened #2857 "Update the README goals and scope for our first Beta release"
Similar to #2372, when we finish the mempool work and are ready to tag our first beta release, we should update the README.

In order to do this, we will need to explicitly outline any full node functionality which is not yet implemented in Zebra, in particular:

- Any zcash consensus rules not yet implemented in zebra
    - Any sections in the zcash spec that we have not yet implemented
    - Any

[2021-10-11 17:38] conradoplg commented on #2626
Here's a proposal / suggestions / questions:

## From zcashd (use same names?)

- `zcash.mempool.size.transactions [gauge]`
  - Number of transactions in the mempool.
- `zcash.mempool.size.bytes [gauge]`
  - The sum of the serialized transaction sizes, i.e. how much block space they require.
- `zcash.mempool.usage.bytes [gauge]`
  - The dynamic memory usage of the mempool, i.e. how much it is cost

[2021-10-11 21:23] #2848 closed, assigned to conradoplg

[2021-10-11 21:37] dconnolly opened #2859 "Document `mempool` at each module level with rustdoc"
## Motivation

We would like to flesh out the module-level rustdoc for everything in the `mempool` component in `zebrad`. Currently there are one or two lines in several modules and nothing for `downloads` and `storage`.  We would like to document what these modules do, how they operate, and our design thoughts behind the implementation, which will be visible in the code and in [the Zebra docs](ht

[2021-10-12 00:25] #2440 closed, assigned to teor2345

[2021-10-12 00:29] teor2345 commented on #2626
At the meeting today, we talked about triaging metrics based on two questions:
- is it quick?
- does it help us find bugs?

## Too Much Work

Here are the metrics that aren't quick, so we should skip them:
* `zcash.mempool.usage.bytes [gauge]`
  * The dynamic memory usage of the mempool, i.e. how much it is costing the node to track them.
* `mempool.rejected.bytes [gauge]`
  * The dynamic memory u

[2021-10-12 12:54] mpguerra commented on #2626
Should this not be `mempool.queued.transactions.total` instead?

[2021-10-12 19:12] conradoplg commented on #2626
@teor2345 thanks for the feedback!
@mpguerra agreed, I'm considering that instead.

I've incorporated it and posted the result in the ticket description. I've added `mempool.failed.count` there too.

I'm not sure about using `mempool.queued.transactions` (gauge) and `mempool.queued.transactions.total` (counter), seems a bit weird. Maybe `mempool.currently.queued.transactions.total` (gauge) and `me

[2021-10-13 08:48] mpguerra opened #2867 "Tracking: Zebra Beta Release"
Let's use this issue to outline the required steps needed for us to tag a beta release for Zebra:

## Documentation

- [x] #2857

#### Nice to have
- [x] #2870

## Security

In critical path order, earliest tickets first.
(And in dependency order, tickets with no dependencies on the left.)

### Open Connections

- [x] #2903
    - [x] #2904
        - [x] #1850
            - [x] #1851
            -

[2021-10-13 12:11] mpguerra commented on #2859
@ZcashFoundation/zebra-team can everyone please assign themselves one module and/or type to document based on who's been working on it the most? I will also go through the modules and assign someone based on commit history.

We should have individual PRs from everyone to fill in the docs rather than just have one person do them all

[2021-10-13 12:27] mpguerra commented on #2859
I've made some preliminary assignments for the documentation.

Feel free to swap things around, the original assignee is responsible for finding an alternative person if they are not able to document the assigned module.

This issue is nice to have but low priority

[2021-10-13 12:43] mpguerra commented on #1904
Could this be related to #794 at all?

[2021-10-13 12:48] mpguerra commented on #484
@teor2345 did we do this already as part of the mempool work? Should this be added back to the mempool epic to track future mempool improvements?

[2021-10-13 12:49] mpguerra commented on #1400
@ZcashFoundation/zebra-team  has anyone tried this already?

[2021-10-13 12:53] mpguerra commented on #1562
@dconnolly do we need to do anything here other than what's already outlined in https://github.com/ZcashFoundation/zebra/issues/1856?

[2021-10-13 12:53] mpguerra commented on #1563
@dconnolly do we need to do anything here other than what's already outlined in https://github.com/ZcashFoundation/zebra/issues/1856?

[2021-10-13 12:55] mpguerra commented on #1166
Is this still something that we want to do ahead of our stable release?

[2021-10-13 12:57] mpguerra commented on #1310
@oxarbitrage do we still need to do this now that we are checkpointing on Canopy?

[2021-10-13 12:59] mpguerra commented on #1311
@oxarbitrage do we still need to deal with this now that we are checkpointing on canopy?

[2021-10-13 13:03] mpguerra commented on #936
Since we have now almost finished with our first implementation of the mempool, should this issue be turned into a documentation issue?

[2021-10-13 13:07] mpguerra commented on #1615
@winniendela when we have a stable release ready, we'll probably want to have a section in the new ZFND website where users can download the zebra binary (if we package one up instead of asking users to build from source) cc: @ZcashFoundation/zebra-team

[2021-10-13 13:31] winniendela commented on #1615
Yes for sure, just let me know what you will need. We could have on the header beside the tabs of the website - a Download Zebra Binary button - for this function. I was wondering if the User Documentation should also be moved to zfnd.org website? Or is there a good reason to keep them separate?

[2021-10-13 14:14] conradoplg commented on #1904
I think it's not, the current value seems to follow the rules https://github.com/ZcashFoundation/zebra/blob/8120e8abac29d02c6df2db2c2b5bc666d2c657c0/zebra-network/src/constants.rs#L112
But we can double check.

[2021-10-13 14:51] mpguerra commented on #1904
#2380 might help us diagnose this one

[2021-10-13 15:04] #2690 closed, assigned to teor2345

[2021-10-13 15:12] mpguerra commented on #2757
we also have #2380 which seems similar

[2021-10-13 17:23] oxarbitrage commented on #1311
In my view we should not do the changes proposed here not because we are checkpointing on canopy but iirc just because is clearer to leave it as it is now as it follows the spec more closely. We can always do this if we need/want but i don't think we need an open ticket. Closing.

[2021-10-13 17:23] #1311 closed, assigned to nobody

[2021-10-13 17:27] oxarbitrage commented on #1310
https://github.com/ZcashFoundation/zebra/pull/1170 was never merged so neither the test the ticket refers to. This issue can be closed. Thanks @mpguerra

[2021-10-13 17:27] #1310 closed, assigned to nobody

[2021-10-13 17:33] oxarbitrage commented on #1400
I never tried this but i think is a good idea to sync zcash and zebra only with zebra seeders. We should have this done for the first beta so we should prioritize.

[2021-10-13 17:36] oxarbitrage commented on #2867
Suggestion: Nice to have: https://github.com/ZcashFoundation/zebra/issues/1400 ?

[2021-10-13 17:44] oxarbitrage commented on #1615
I remember creating a debian package was pretty easy https://github.com/ZcashFoundation/zebra/pull/927 but there were some concerns about this that i don't remember exactly what they were(security, privacy, ?). It was also not the time to think on that at that point, i think we might reconsider and maybe have a `.deb` package after all. I am personally not against this particular type of binary.

[2021-10-13 18:11] conradoplg opened #2869 "Add mempool metrics related to memory usage"
## Motivation

It would be good to have metrics that report the memory usage of the mempool. One of these is `zcash.mempool.usage.bytes` that zcashd uses.

However, that's a bit tricky to measure. We can use https://github.com/str4d/memuse but we'd still need to implement a trait for every type used by the mempool, or preferably adding a derive macro to that package.

### Specifications

### Desig

[2021-10-13 18:58] conradoplg opened #2870 "Improve Zebra documentation for beta release"
## Motivation

For the beta release, we should improve the Zebra documentation (README and Zebra Book) a bit, to make it easier for an end-user to setup and run Zebra.

### Specifications

### Designs

Requirements:
- [ ] The first or second sentence of the README must explain what Zebra does, in terms that most people will understand
- [ ] The README should also explain how Zebra is different fro

[2021-10-13 18:58] conradoplg commented on #2867
I've created https://github.com/ZcashFoundation/zebra/issues/2870, not sure where it fits (nice to have?)

[2021-10-13 21:28] teor2345 commented on #337
This ticket is done, we just have tests left.

[2021-10-13 21:28] #337 closed, assigned to nobody

[2021-10-13 21:29] teor2345 commented on #1567
This implementation is done, it just has tests left.

[2021-10-13 21:29] #1567 closed, assigned to nobody

[2021-10-13 21:33] teor2345 commented on #1874
We just have cleanups and tests left here.

[2021-10-13 21:33] #1874 closed, assigned to nobody

[2021-10-13 21:36] #1562 closed, assigned to dconnolly

[2021-10-13 21:39] #1563 closed, assigned to dconnolly

[2021-10-13 21:39] #290 closed, assigned to nobody

[2021-10-13 21:46] dconnolly commented on #2362
Here's the zcash_note_encryption crate, using it for ZIP-212 coinbase note decryption compliance is as easy as calling a single function (after serializing/constructing the types), but I think for wallet/Zebra client, we'd like to port / freshly implement in zebra-chain with/against our own types:

https://github.com/zcash/librustzcash/blob/master/components/zcash_note_encryption/src/lib.rs

[2021-10-13 22:12] teor2345 commented on #2691
Unblocked by merging PR #2862.

[2021-10-13 23:28] teor2345 commented on #1904
We could add user-agent metrics to Zebra.
It's a very small change, just copy and tweak the node version metrics.

This would show us if DNS seeders or block explorers are connecting to Zebra.

[2021-10-13 23:29] teor2345 opened #2871 "Add connection user-agent metrics to Zebra"
## Motivation

To diagnose #1904, we want to check if DNS seeders or block explorers are connecting to Zebra.

This involves adding user-agent metrics to Zebra.

## Implementation Suggestion

Copy and tweak the existing connection version metrics.
(It's a very small change.)

[2021-10-13 23:40] teor2345 commented on #484
This is a consensus rule that we should implement as part of the mempool epic.

I've put it in sprint 20, it's trivially simple to implement.

[2021-10-13 23:43] teor2345 commented on #484
Thanks for finding this!

[2021-10-13 23:45] teor2345 commented on #1400
I run tests like this all the time, and I see Zebra syncing from Zebra.

But I don't do it in an isolated environment where there are no extra `zcashd` instances.

[2021-10-13 23:52] teor2345 commented on #1166
This would be a useful security improvement, but we already place strict limits on the number of concurrent blocks downloaded by our inbound service.

The attack only affects the local node, and only when an attacker specifically sends us very large fake blocks.

The fix is also a significant amount of work. We might want to implement rate-limit inbound messages or inbound data instead.

So I thin

[2021-10-13 23:55] teor2345 commented on #936
Yes, we need to document how we deal with each of these security issues.

[2021-10-13 23:57] teor2345 commented on #936
I've updated the ticket with some notes.

[2021-10-14 00:02] teor2345 commented on #1615
It's a huge amount of work to package software in multiple formats, and deal with the bug reports from users of all those formats.

So I'd like us to release a single package format that's very easy for users to download and run. (For example, Docker.) Then the Foundation can commit staff time to packaging security fixes and network upgrade releases.

I'd like to find volunteers to support other p

[2021-10-14 09:55] mpguerra commented on #2735
Do we need to do this one also as part of #2200 ?

[2021-10-14 09:58] mpguerra commented on #2740
We should remove anyone who hasn't yet voted and set the final estimate here, I can't do it because I didn't start the vote... :) @dconnolly can you do the honours?

[2021-10-14 10:00] mpguerra commented on #2627
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2627?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-10-14 10:00] mpguerra commented on #2859
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2859?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-10-14 10:07] mpguerra commented on #2857
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2857?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-10-14 10:08] mpguerra commented on #2870
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2870?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-10-14 10:09] mpguerra commented on #2484
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2484?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-10-14 10:10] mpguerra commented on #2485
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2485?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-10-14 10:11] mpguerra commented on #2681
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2681?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-10-14 20:52] teor2345 commented on #1963
Delayed for a few sprints, because this is the kind of task a DevOps person could lead.

[2021-10-14 20:57] teor2345 opened #2881 "Remove git dependency on lexical-core"
## Motivation

We moved to a git dependency on:
* lexical-core in #2005

lexical-core 0.7.4 was incompatible with rustc nightly >= ~2021-03-24, see https://github.com/rust-lang/rust/issues/81654

## Suggested Solution

- [ ] remove patch once zcash_script and rocksdb transitively depend on lexical-core >= 0.7.5

[2021-10-14 20:59] teor2345 commented on #2881
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2881?planning-poker) with ZenHub @dconnolly @oxarbitrage @upbqdn @conradoplg

[2021-10-14 21:07] teor2345 opened #2882 "ZIP-155: Parse received `addrv2` in the Foundation's DNS seeder"
## Motivation

[ZIP-155](https://zips.z.cash/zip-0155) will require support for parsing inbound `addrv2` messages.
But nodes can still keep sending `addr` messages.

We'll need to implement `addrv2` parsing in both Zebra (in Rust) and the DNS Seeders (in Go).

This is the ticket for the DNS Seeders.

### Scope

The DNS seeder only needs to parse received IPv4 and IPv6 in `addrv2`.

Parsing other a

[2021-10-14 21:08] teor2345 commented on #2882
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2882?planning-poker) with ZenHub @conradoplg @dconnolly @oxarbitrage @upbqdn

[2021-10-14 21:15] #2779 closed, assigned to upbqdn

[2021-10-14 21:33] teor2345 commented on #2735
Yes, tokio-util 0.6.8 depends on tokio 1:
https://crates.io/crates/tokio-util/0.6.8/dependencies

But tokio-util 0.5.8 depends on tokio 0.3.4.

[2021-10-14 22:19] oxarbitrage commented on #2859
If we want the mempool documentation to show up in our docs website: https://doc.zebra.zfnd.org/zebrad/ we need to generate with `cargo doc --document-private-items`.

Also maybe will be good for beta to fix all the doc warnings we can. Almost all of hem are a suggestion to use automatic link feature, while there are some of not found internal link paths.

[2021-10-14 22:28] teor2345 commented on #2859
We already deploy private docs in our CI:
https://github.com/ZcashFoundation/zebra/blob/002c533ea8f720efeb94b62b3770deca0e6c2b6c/.github/workflows/docs.yml#L62-L64

Public items are listed at https://doc.zebra.zfnd.org/
Private items are listed at https://doc-internal.zebra.zfnd.org/

### Public Mempool Docs

We can make the mempool public, if you want it to appear on the public docs site:
https:/

[2021-10-14 22:45] teor2345 commented on #2859
I gave @dconnolly some of my extra assignments, because I need to open a bunch of bug PRs today.
(And get the transaction fee into mempool storage.)

[2021-10-15 02:27] #2691 closed, assigned to oxarbitrage

[2021-10-15 04:22] teor2345 commented on #2859
I just swapped my assignments with @dconnolly, because I'm going to edit that code right now anyway.

[2021-10-15 13:28] mpguerra commented on #2857
This is an initial list that I've put together for:

        - Any sections in the zcash spec that we have not yet implemented
        - Any ZIPs which are not implemented
        - Any bitcoin rules that are not implemented

Known Issues
--------------

- [Zebra does not evict pre-upgrade peers from the peer set across a network upgrade, instead, it ... ](https://github.com/ZcashFoundation/zebra/

[2021-10-15 13:29] mpguerra commented on #2857
I have the suspicion that some of the above items can be merged together... :) e.g "Halo2 verification" and "Validation of transaction V5 Halo2 proofs" ?

[2021-10-15 19:36] oxarbitrage opened #2892 "Go over all `cargo doc` warnings"
When running `cargo doc` documentation for the zebra project is generated however there are a lot of warnings that we should go over and try to fix. Most of them are suggestions to use auto link and missing paths. This is low priority as the the documentation is currently generated with this small issues.

[2021-10-18 12:56] mpguerra commented on #2859
Going to move this to next sprint (Sprint 21) as part of the beta release with mempool

[2021-10-18 18:58] dconnolly commented on #2041
https://github.com/ZcashFoundation/zebra/issues/2362#issuecomment-942745340

[2021-10-18 19:02] dconnolly commented on #2041
Maybe a dupe of https://github.com/ZcashFoundation/zebra/issues/2362

[2021-10-18 20:43] teor2345 opened #2900 "Security: Limit the number of initial connection attempts to seed peers"
## Motivation

Sometimes, Zebra can get over a hundred IP addresses from the DNS seeders.
Then Zebra attempts to connect to each of these IP addresses.

If Zebra gets caught in a restart loop, this is a denial of service risk.

This might also fix bugs like #2905, if the hang happens because a channel is full.

### Suggested Design

Limit the number of initial seed IP addresses to `peerset_initial

[2021-10-19 17:10] #2626 closed, assigned to conradoplg

[2021-10-19 17:10] #2627 closed, assigned to conradoplg

[2021-10-19 18:12] conradoplg opened #2908 "Improve VerifyBlockError::Commit typing, so we don't accidentally break syncer error handling"
## Motivation

`VerifyBlockError::Commit` is a wrapper over a `BoxError`. However, in https://github.com/ZcashFoundation/zebra/pull/2890/ a check was added in the `should_restart_sync` function to ignore `Commit` errors corresponding to `"block is already committed to the state"` when deciding whether to reset the sync procedure. That check is fragile since it will break if the string changes.

Ch

[2021-10-19 18:22] conradoplg opened #2909 "Test if the block downloader and verifier error checking is correct"
## Motivation

In https://github.com/ZcashFoundation/zebra/pull/2890/ a downcast was added in the block downloader and verifier, after verifying the block, to differentiate between a verification error and a generic service error (since the buffered verification service returns a `BoxError`). Depending on the downcast result the underlying error is put into one of the `BlockDownloadVerifyError` va

[2021-10-19 21:45] teor2345 commented on #2857
See also the list in:
- #2372

[2021-10-20 00:17] teor2345 commented on #2857
Let's make a full list, and then get some engineers to merge similar items?

@dconnolly or @conradoplg could merge the cryptographic ones, and I can do the rest?

[2021-10-20 19:38] conradoplg commented on #2759
I think that doesn't work because `pop` removes the last inserted item (newest) and we need to remove starting from the first (oldest). We can remove the first item with `shift_remove` but it's O(n).

I've searched a bit and couldn't find any library that would solve that, so I think the solution is to have another list (`VecDeque`) with `(Hash, Instant)` tuples. What do you think @teor2345 ?

[2021-10-21 02:09] teor2345 commented on #2759
Yeah, I think you're right.

Here's one way we could implement this
- `ordered_entries: VecDeque<(transaction::Hash, Instant)>` - reject list entries in insertion order, allows duplicate `Hash`es
- `unique_entries: HashMap<transaction::Hash, Instant>` - unique reject list entries and their most recent insertion times

Here's how we could implement the operations:

Add or update the age of an entry

[2021-10-21 15:22] jvff opened #2927 "Use single-thread Tokio runtime in all tests"
## Motivation

Newer versions of Tokio [panic](https://docs.rs/tokio/1.12.0/tokio/time/fn.pause.html#panics) if `tokio::time::pause()` is called inside a multi-threaded Tokio runtime. The `#[tokio::test]` uses a single-thread Tokio runtime, but [`tokio::runtime::Runtime::new()`](https://docs.rs/tokio/1.12.0/tokio/runtime/struct.Runtime.html#method.new) creates a multi-threaded runtime. It makes se

[2021-10-21 20:20] teor2345 opened #2930 "Speed up zebra-state tests on Windows"
## Motivation

Sometimes, the zebra-state tests take a long time:

https://github.com/ZcashFoundation/zebra/runs/3965592317?check_suite_focus=true#step:10:1949

## Suggested Fixes

We could try to speed them up by:
- reducing the number of proptest cases for slow tests
- compiling tests with optimisations (but keeping debug checks for integer overflow)

## Priority

This is a medium priority, unle

[2021-10-21 21:14] teor2345 opened #2931 "Add unused seed peers to the AddressBook"
## Motivation

In #2900, we randomly select 50 seed peers, and drop the rest.

But those peers could be useful to connect to, if the 50 selected peers are down or slow.
(Or if the user configures `peerset_initial_target_size` very low.)

This is a potential usability or reliability issue.

## Suggested Solution

Add the unused peers from `add_initial_peers` to the `address_book`.

[2021-10-21 22:41] upbqdn commented on #1615
(They might or might not be on our website, depending on how secure and reliable the volunteer packages are.)

I can try creating and maintaining a package for Arch Linux.

[2021-10-21 23:04] #2900 closed, assigned to oxarbitrage

[2021-10-22 00:13] teor2345 commented on #1615
That would be helpful, but we might all be busy working on NU5 and zebra-client.
So I was hoping to find some volunteers who already package Zcash or other cryptocurrencies for each distribution.

Let's talk about packacing at a Zebra gardening some time soon?

[2021-10-22 02:54] #2374 closed, assigned to upbqdn

[2021-10-22 09:32] mpguerra commented on #2931
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-5fb24d9264a3e8000e666a9e/issues/ZcashFoundation/zebra/2931?planning-poker) with ZenHub @conradoplg @dconnolly @jvff @oxarbitrage @teor2345 @upbqdn

[2021-10-22 14:20] conradoplg commented on #2857
I think that's the only thing to merge, we can also move everything related to Orchard to subitems:

### NU5
* ZIP-155 - Parse addrv2 in Zebra
* Full validation of Orchard transactions from NU5 onwards
  * [Validate nSpendsSapling, nOutputsSapling, and nActionsOrchard limits in V5 transactions #2379](https://github.com/ZcashFoundation/zebra/issues/2379)
  * [Check that at least one of enableSpends

[2021-10-24 23:15] teor2345 commented on #2662
This seems to have been fixed by a `vergen` update.

[2021-10-24 23:15] #2662 closed, assigned to teor2345

[2021-10-24 23:16] teor2345 commented on #2339
Partially implemented, replaced by #2908.

[2021-10-24 23:16] #2339 closed, assigned to nobody

[2021-10-24 23:17] teor2345 commented on #2881
This seems to have been fixed some time ago.

[2021-10-24 23:17] #2881 closed, assigned to nobody

[2021-10-25 01:13] teor2345 commented on #2857
Here's the draft list from #2372:

Zebra is a fully validating Canopy and NU5 node, except for:
- mempool transactions,
- block subsidies,
- transaction fees,
- some undocumented rules derived from Bitcoin, and
- some consensus rules removed before Canopy activation.
  (Zebra checkpoints on Canopy activation.)

Zebra's network stack is interoperable with `zcashd`.
Zebra implements all the features

[2021-10-25 07:22] mpguerra commented on #2857
I believe my list from https://github.com/ZcashFoundation/zebra/issues/2857#issuecomment-944302516 is the full list based on the issues that we still need to solve before NU5 activation. I think we need to be very explicit on exactly which consensus rules and ZIPs we are not implementing for the beta release.

I think the list in #2372 is good for NU5 activation.

[2021-10-25 18:25] #484 closed, assigned to upbqdn

[2021-10-25 20:57] teor2345 commented on #2857
I'm surprised we don't have more things on the list.
We have multiple sprints worth of tickets, are we sure we haven't missed anything important?

It might be easier to edit this list in a pad or interactive document.

I'd like us to make the following changes to the list:
- Move "Validation of transaction lock times" to Sprout
- Delete "Verification of lock scripts on transparent coinbase outputs

[2021-10-25 22:08] dconnolly opened #2952 "Upgrade librustzcash-related crypto dependencies"
## Motivation

To remain compatible with our ECC dependencies and to be compliant with several consensus/spec rules, we should upgrade several of our
crypto dependencies before NU5 activation.

### Details

1. Merge these or more up to date closed PRs:

`aes`: https://github.com/ZcashFoundation/zebra/pull/2703
`bellman`: https://github.com/ZcashFoundation/zebra/pull/2837
`bls12_381`: https://githu

[2021-10-25 22:09] dconnolly opened #2953 "Upgrade tracing to the next major version"
## Motivation

`tracing` has a medium-priority security fix:
* advisory: https://rustsec.org/advisories/RUSTSEC-2020-0159
* original issue: https://github.com/chronotope/chrono/issues/499

(Zebra uses UTC, so our direct uses of `chrono` are safe.)

`tracing-error` has a low-priority security fix, because it doesn't actually use the vulnerable API in `thread_local` 1.0:
* advisory: https://rustsec.